<div class="grid">
  <%= Help.create_island(Help::TopLevelPages, top_level: true) %>
  <h1>Help</h1>
  <%= render partial: "help_searching_overview", layout: "grid_item", locals: { id: "search_help"} %>
  <%= render partial: "help_view_results", layout: "grid_item", locals: { id: "results_help"} %>
  <%= render partial: "help_download_share_results", layout: "grid_item", locals: { id: "download_help"} %>
  <%= render partial: "help_entry_information", layout: "grid_item", locals: { id: "entry_help"} %>
  <%= render partial: "help_order_certificate_2", layout: "grid_item", locals: { id: "certificates_help"} %>
  <%= render partial: "help_explore_database", layout: "grid_item", locals: { id: "explore_help"} %>
</div>
