<%= render partial: "help_menu_js" %>
<h1>Help</h1>
<div class="grid">
  <div class="grid__item one-whole">
    <p class="lead">Struggling to use FreeBMD? Not finding someone you expected to find?  Not sure what to do next?  This page contains answers to common problems, and has links to more detailed information.</p>
  </div>
  <%= Help.in_page_help_menu(Help::TopLevelPages) %>
  <%= render partial: "help_searching_overview", layout: "grid_item", locals: { id: "search_help"} %>
  <%= render partial: "help_view_results", layout: "grid_item", locals: { id: "results_help"} %>
  <%= render partial: "help_download_share_results", layout: "grid_item", locals: { id: "download_help"} %>
  <%= render partial: "help_entry_information", layout: "grid_item", locals: { id: "entry_help"} %>
  <%= render partial: "help_order_certificate_2", layout: "grid_item", locals: { id: "certificates_help"} %>
  <%= render partial: "help_explore_database", layout: "grid_item", locals: { id: "explore_help"} %>
</div>
<!--div class="text--center">
  <h3 id="body_content_title">Need Further Help?</h1>
</div>
<div class="grid">
  <div class="grid__item one-third">
    <div class="islet islet--bordered">
      <h3 class="delta push-half--bottom">Records</h3>
      <ul class="push--left">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </div>
  <div class="grid__item one-third">
    <div class="islet islet--bordered">
      <h3 class="delta push-half--bottom">Accuracy and corrections</h3>
      <ul class="push--left">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </div>
  <div class="grid__item one-third">
    <div class="islet islet--bordered">
      <h3 class="delta push-half--bottom">Additional Help & Resources</h3>
      <ul class="push--left">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </div-->
</div>

<div class="push--top" style="float:left;">
  <a href="#" class = "btn  btn--small">Top of page</a>
</div>

