<% if @message.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@message.errors.count, "error") %> prohibited your message from being submitted:</h2>
    <ul class="validation-list">
      <% @message.errors.full_messages.each do |msg| %>
        <li class="validation-list__error"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render 'flash_notice' %>
<div class= "grid">
  <section class="island  island--light ">
    <%= semantic_form_for(@message, :html => {:multipart => true } ) do |f| %>
      <%= f.hidden_field :message_time %>
      <%= f.hidden_field :userid %>
      <%= f.hidden_field :syndicate %>
      <%= f.hidden_field :source_message_id, value: params[:id]  if params[:id]%>
      <%= f.hidden_field :source_feedback_id, value: params[:source_feedback_id]  if params[:source_feedback_id]%>
      <%= f.hidden_field :source_contact_id, value: params[:source_contact_id]  if params[:source_contact_id]%>
      <ul>
        <li  class="grid__item  one-third  palm-one-whole" id="subject_input" >
          <label class="label" for="subject">Subject </label>
          <%= message_subject %>
        </li>
        <li class="grid__item  one-third  palm-one-whole push--bottom">
          <label>Textual Attachment<span  class="weight--normal"> (optional)</span><a href="#" class="bottom_tooltip"> <%= image_tag 'png/info.png', alt: 'Information', height: '16' %><span  >Please select the image you wish to upload (txt, html, htm, log, rtf, pdf only)</span></a></label>
          <input name="message[attachment]" type="file" >
        </li>
        <li class="grid__item  one-third  palm-one-whole push--bottom">
          <label>Image Attachment<span  class="weight--normal"> (optional)</span><a href="#" class="bottom_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %><span style="width: 900%" >Please select the image you wish to upload (jpg, gif, png)</span></a></label>
          <input name="message[images]" type="file" >
        </li>
        <%= reply_message_email  %>
        <% if params.has_key?(:id) && params.has_key?(:source) %>
          <li class="grid__item  one-half  palm-one-whole push--bottom push--top">
            <label>Copies to Userids<span  class="weight--normal"> (optional)</span><a href="#" class="right_tooltip"> <%= image_tag 'png/info.png', alt: 'Information', height: '16' %><span style="width: 900%" >Select the userids you wish to send copies to</span></a></label>
            <%= select_tag 'message[copies_to_userids]',options_for_select(@userids), multiple: true, prompt: 'None', class: 'select', size: 5 %>
          </li>
        <% end %>
        <li class="grid__item  one-whole  palm-one-whole push--bottom push--top">
          <label>Message (a salutation is not required but a personal sign off would be nice)</label>
          <% if @message.body.nil? %>
            <textarea name="message[body]"  style="width: 100%;"  rows="8" ></textarea>
          <% else%>
            <textarea name="message[body]"  style="width: 100%;"  rows="8" ><%=@message.body%></textarea>
          <% end%>
        </li>
      </ul>
      <%= commit_action(f, @message, params)%>
    <% end %>
  </section>
</div>