<p style='text-align: center'><%= explanation.present? ? explanation : index_explanation %></p>
<section class='island   ' >
  <div class='scrollable'>
    <div class='table-wrapper'>
      <div class='grid'>
        <div class='grid__item one-whole' >
          <%if messages.present?%>
            <div class="scrollable ">
              <table class='table--bordered table--data '>
                <tr>
                  <th class='sticky-header'>Source</th>
                  <th class='sticky-header'>Subject</th>
                  <th class='sticky-header'>Sent by</th>
                  <th class='sticky-header'>Received</th>
                  <th class='sticky-header'>Attach</th>
                  <th class='sticky-header'>Sent</th>
                  <th class='sticky-header'>Replies</th>
                  <th class='sticky-header'>Being Kept</th>
                  <th class='sticky-header'>Identification</th>
                  <th class='sticky-header'>Message begins</th>
                  <th class='sticky-header'>Action</th>
                </tr>
                <% messages.each do |message| %>
                  <tr class='<%= sent(message) %>'>
                    <td><%= source.present? ? source :  source(message) %></td>
                    <td><%= message.subject %></td>
                    <td><%= message.userid %></td>
                    <td><%= message.message_time.strftime('%d %b %Y') unless message.message_time.nil?%></td>
                    <td><%= attachment(message)%></td>
                    <td><%= sent(message)  %></td>
                    <% unless reply_messages_count(message) == 0 %>
                      <td><%= reply_messages_count(message) %></td>
                    <% else %>
                      <td> None</td>
                    <% end %>
                    <td><%= message.keep  %></td>
                    <td><%= message.identifier  %></td>
                    <td><%= message.body[0,100] %>&hellip;</td>
                    <td>
                      <%= index_action_edit(message)%>
                      <%= index_action_show(message)%>
                      <%= index_action_view_replies(message)%>
                      <%= index_action_archive(message)%>
                      <%= index_remove_link(message)%>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          <% else%>
            <h4 class='text--center'> No Messages</h4>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<script type='text/javascript'>
  $(document).ready(function() {
    $('.link_disabled').click(function(event){
        event.preventDefault(); // Prevent link from following its href
    });
  });
</script>