<table class="table--bordered table--data">
  <thead>
    <tr>
      <th class="t20">Subject</th>
      <th class="t10">Sent by</th>
      <th class="t10">Recieved at</th>
      <th class="t10">Attachment</th>
      <th class="t20">Message begins</th>
      <th class="t10">Reply Message</th>
      <th class="t20">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.subject %></td>
      <td><%= message.userid %></td>
      <td><%= Message.formatted_time(message) unless message.message_time.nil?%></td>
      <td><%= attachment(message)%></td>
      <td><%= message.body[0,100] %>&hellip;</td>
      <% unless reply_messages_count(message) == 0 %>
        <td><%= reply_messages_count(message) %></td>
      <% else %>
        <td> No replies</td>
      <% end %>
      <td>
        <%= link_to 'SH', show_waitlist_msg_path(message.id), :class => "btn weight--light  btn--small" %>
        <% if Message.can_be_destroyed?(message) %>
          <%= link_to 'Remove', remove_from_useriddetail_waitlist_path(message.id), :class => "btn weight--light  btn--small", method: :delete, data: { confirm: 'Are you sure you want to remove this message from your list?' } %>
        <% else %>
          <%= content_tag :span, 'Remove', class: 'disabled_link btn btn--small weight--light', title: 'This message has replies. Please make sure to delete the replies before destroying this message' %>
        <% end %>
        <%= reply_action(message) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>