<div class= "grid">
  <section class="island  island--light ">
    <div class="scrollable" >
      <div class="grid__item  one-whole  palm-one-whole push--bottom">
        <h4>Original Message</h4>
        <i><strong>Subject: </strong> <%= @respond_to_message.subject %></i>
        <%= content_tag :p, class: "strong" do %>
          On <%= Message.formatted_time(@respond_to_message) %>, Userid: <%= @respond_to_message.userid%> wrote:<br/>
          <%= @respond_to_message.body %><br/>
        <% end %>
        <br />
        <% unless @sent_replies.count == 0 %>
          <h4>
            <%= pluralize(@sent_replies.count, 'Reply Message')%>
          </h4>
          <% @sent_replies.each do |reply| %>
            <i><strong>Subject: </strong> <%= reply.subject %></i>
            <%= content_tag :p, class: "strong" do %>
              On <%= Message.formatted_time(reply)%>, Userid: <%= reply.userid%> wrote:<br/>
              <%= markdown(reply.body) %><br>
              <% if reply.copies_to_userids.present? %>
                <strong>ccs: <%= reply.copies_to_userids %></strong>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>
<%= render 'form' %>