<% breadcrumb :edit_message,  @message%>
<h4 style="text-align: center"><%= edit_title %> <%= @message.identifier %> for <%= @message.userid %></h4>

<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %> <br>
    </div>
   <% end %>

<%= simple_form_for  @message   do |f| %>


<%= f.input :body, :label => "Message ",as: :text, :input_html => { :rows => 15, :style => 'width: 100%' , :placeholder => @message.body} %>

 <%= f.button :submit, 'Submit'   %>
  
<% end %>