<% index_breadcrumbs %>
<br>
<h3 class=' text--center'><%= index_header(params[:source], @syndicate)%></h3>
<%= render 'flash_notice' %>
<p style='text-align: center'>
  <%= index_header_create_link %>
  <% if index_sort_links? %>
    <%= link_to 'List by Name', list_by_name_messages_path, method: :get , :class => 'btn  btn--small' %>
    <%= link_to 'Most Recent Date' , list_by_most_recent_messages_path, method: :get , :class => 'btn  btn--small'%>
    <%= link_to 'Earliest Date' , list_by_date_messages_path, method: :get , :class => 'btn  btn--small'%>
    <%= link_to 'Select by Identifier' , select_by_identifier_messages_path, method: :get , :class => 'btn  btn--small' %>
    <%= link_to 'List Unsent Messages' , list_unsent_messages_path, method: :get , :class => 'btn  btn--small' %>
  <% end%>
  <%= index_header_list_link %>
</p>
<%= index_partial_render(@messages) %>
<% if @comments.present? %>
  <%= index_partial_render(@comments) %>
<% end %>