<% index_breadcrumbs %>
<h2 class=" text--center"><%= index_header(params[:action])%></h2>
  <p style="text-align: center"><%= link_to 'Create New Message', new_message_path, method: :get , :class => "btn weight--light btn--small" %> <%= link_to 'List by Name', list_by_name_messages_path, method: :get , :class => "btn weight--light btn--small" %> <%= link_to 'List by Posted Date' , list_by_date_messages_path, method: :get , :class => "btn weight--light btn--small"%> <%= link_to 'List by Identifier' , list_by_identifier_messages_path, method: :get , :class => "btn weight--light btn--small" %>  <%= link_to 'Select by Identifier' , select_by_identifier_messages_path, method: :get , :class => "btn weight--light btn--small" %> <%= link_to 'List Unsent Messages' , list_unsent_messages_path, method: :get , :class => "btn weight--light btn--small" %> </p>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<section class="island   " >
  <div class="scrollable">
    <div class="table-wrapper">
      <div class="grid">
        <div class="grid__item one-whole" >
          <table class="table--bordered table--data ">
          <%if @messages.present?%>
            <tr>
              <th class="t20">Subject</th>
              <th class="t20">Sent by</th>
              <th class="t10">Posted</th>
              <th class="t10">Attachment</th>
              <th class="t10">Identification</th>
              <th class="t10">Sent</th>
              <th class="t20">Action</th>
            </tr>
            <% @messages.each do |message| %>
                <tr class="<%= sent(message) %>">
                  <td><%= message.subject %></td>
                  <td><%= message.userid %></td>
                  <td><%= message.message_time.strftime("%d %b %Y") unless message.message_time.nil?%></td>
                  <td><%= attachment(message)%></td>
                  <td><%= message.identifier  %></td>
                  <td><%= sent(message)  %></td>
                  <td>
                    <%= link_to 'SH', message_path(message.id),  :class => "btn weight--light  btn--small", method: :get%>
                    <% if message.source_feedback_id.blank? && message.source_contact_id.blank? %>
                      <%= link_to 'ED', edit_message_path(message.id),  :class => "btn weight--light  btn--small", method: :get%>
                      <%= link_to 'SEND', send_message_messages_path(message.id), :class => "btn weight--light  btn--small", method: :get, data: { confirm: 'Are you sure you want to send this message' } %>
                    <% end%>
                    <% if Message.can_be_destroyed?(message) %>
                      <%= link_to 'DES', message_path(message.id), :class => "btn weight--light  btn--small link_disabled", method: :delete, data: { confirm: 'Are you sure you want to delete this message'} %>
                    <% else %>
                      <%= content_tag :span, 'DES', class: 'disabled_link btn btn--small weight--light', title: 'This message has replies. Please make sure to delete the replies before destroying this message' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else%>
              No messages
            <% end%>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<script type="text/javascript">
  $(document).ready(function() {
    $('.link_disabled').click(function(event){
        event.preventDefault(); // Prevent link from following its href
    });
}); 
</script>