<% breadcrumb :select_recipients,  @message%>
<div > Please be aware the senders box is now the first box</div>
<%= render 'flash_notice' %>
<section class="island  island--light ">
  <%= semantic_form_for(@message, :html => {:multipart => true}) do |f| %>
    <%= f.fields_for :sent_message do |multiple| %>
      <div class= "grid">
        <li  class="grid__item  one-fifth  palm-one-whole push--bottom " id="message_recipients">
          <label class="ttip" for="sender" tabindex="0"> Sender <%= image_tag 'png/info.png', alt: 'Info', height: '16' %><span  class="ttip__text">Select who is to receive responses. Your userid has been preselected at the top of the list.</span></a></label>
        <select id="sender" name="sender" class="select" size="4">
          <% @senders.each do |sender| %>
            <% if sender == @sent_message.sender %>
              <option value="<%=sender%>" selected="selected" ><%=sender%></option>
            <% else %>
              <option value="<%=sender%>" ><%=sender%></option>
            <% end %>
          <% end %>
        </select>
      </li>
      <% unless session[:syndicate].present?%>
        <li  class="grid__item  one-fifth  palm-one-whole push--bottom " id="message_recipients">
          <label class="ttip" for="recipients" tabindex="0"> Recipients  <%= image_tag 'png/info.png', alt: 'Info', height: '16' %><span  class=" ttip__text">You may select multiple roles for recipients</span></a></label>
        <select id="recipients" name="recipients[]"  multiple="multiple" class="select" required="required" size="4">
          <%= recipients_list %>
        </select>
      </li>
    <% end%>
    <li  class="grid__item  one-fifth  palm-one-whole push--bottom " id="message_recipients">
      <label class="ttip" for="open_data_status" tabindex="0"> Open Data Status <%= image_tag 'png/info.png', alt: 'Info', height: '16' %><span  class="ttip__text">Select recipients based on their Open Data status</span></label>
      <select id="open_data_status" name="open_data_status[]"  multiple="multiple" class="select" required="required" size="4">
        <% @open_data_status.each do |value| %>
          <% if value == @sent_message.open_data_status %>
            <option value="<%=value%>" selected="selected" ><%=value%></option>
          <% else %>
            <option value="<%=value%>" ><%=value%></option>
          <% end %>
        <% end %>
      </select>
    </li>
    <li class="grid__item  one-fifth lap-one-whole palm-one-whole">
      <label class="ttip" for="active" tabindex="0" > Active Members only? <%= image_tag 'png/info.png', alt: 'Info', height: '16' %><span  class="ttip__text">Remove check to select inactive members</span></a></label>
    <% if @sent_message.active %>
      <input type="checkbox" name="active" value= "true" checked >
    <%else%>
      <input type="checkbox" name="active" value= "true" >
    <% end%>
  </li>
  <li  class="grid__item  one-fifth  palm-one-whole push--bottom " id="message_recipients">
    <label class="ttip" for="inactive_reason" tabindex="0"> Reason inactive  <%= image_tag 'png/info.png', alt: 'Info', height: '16' %><span  class="ttip__text">These use ONLY the standard reason. You may select multiple reasons. If unselected then temporary will be assumed</span></a></label>
  <select id="inactive_reason" name="inactive_reason[]"  multiple="multiple" class="select" required="required" size="4">
    <% @inactive_reason.each do |reason| %>
      <% if reason == @sent_message.inactive_reason[0] %>
        <option value="<%=reason%>" selected="selected" ><%=reason%></option>
      <% else %>
        <%= reason %>
        <option value="<%=reason%>" ><%=reason%></option>
      <% end %>
    <% end %>
  </select>
</li>
</div>
<% end%>
<%= f.action :submit, :as => :button,  :label => 'Send Message' ,:button_html => {:class => "ladda-button" , "data-style" => "contract" ,"data-color" => appname_downcase , "data-size" => "s", "data-spinner-color" => "#ffffff"} %> <br>
<% end %>
</section>
<script type="text/javascript">
  Ladda.bind( 'button[type=submit]' );
</script>