<% breadcrumb :send_message,  @message%>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<div class= "grid">
  <section class="island  island--light ">
    <%= semantic_form_for(@message, :html => {:multipart => true}) do |f| %>
      <%= f.fields_for :sent_message do |multiple| %>
        <%= f.hidden_field :action %>
        <% unless session[:syndicate].present?%>
          <li  class="grid__item  one-quarter  palm-one-whole push--bottom " id="message_recipients">
            <label class="ttip" for="recipients" tabindex="0"> Recipients  <%= image_tag 'info.png', alt: 'Info', height: '16' %><span  class=" ttip__text">You may select multiple roles for recipients</span></a></label>
          <select id="recipients" name="recipients[]"  multiple="multiple" class="select" required="required" size="4">
            <%= recipients_list %>
          </select>
        </li>
      <%end%>
      <li  class="grid__item  one-quarter  palm-one-whole push--bottom " id="message_recipients">
        <label class="ttip" for="open_data_status" tabindex="0"> Open Data Status <%= image_tag 'info.png', alt: 'Info', height: '16' %><span  class="ttip__text">Select recipients based on the Open Data status</span></label>
        <select id="open_data_status" name="open_data_status[]"  multiple="multiple" class="select" required="required" size="4">
          <% @open_data_status.each do |value| %>
            <% if value == @sent_message.open_data_status %>
              <option value="<%=value%>" selected="selected" ><%=value%></option>
            <% else %>
              <option value="<%=value%>" ><%=value%></option>
            <% end %>
          <% end %>
        </select>
      </li>
      <li class="grid__item  one-fifth lap-one-whole palm-one-whole">
        <label class="ttip" for="active" tabindex="0" > Active Member <%= image_tag 'info.png', alt: 'Info', height: '16' %><span  class="ttip__text">Uncheck to select inactive members</span></a></label>
      <%if @sent_message.active %>
        <input type="checkbox" name="active" value= "true" checked >
      <%else%>
        <input type="checkbox" name="active" value= "true" >
      <%end%>
    </li>
    <li  class="grid__item  one-quarter  palm-one-whole push--bottom " id="message_recipients">
      <label class="ttip" for="inactive_reason" tabindex="0"> Reason inactive  <%= image_tag 'info.png', alt: 'Info', height: '16' %><span  class="ttip__text">These use ONLY the standard reason. You may select multiple reasons. If unselected then temporary will be assumed</span></a></label>
    <select id="inactive_reason" name="inactive_reasons[]"  multiple="multiple" class="select" required="required" size="4">
      <% @inactive_reasons.each do |value| %>
        <% if value == @sent_message.inactive_reason %>
          <option value="<%=value%>" selected="selected" ><%=value%></option>
        <% else %>
          <option value="<%=value%>" ><%=value%></option>
        <% end %>
      <% end %>
    </select>
  </li>
  <li  class="grid__item  one-quarter  palm-one-whole push--bottom " id="message_recipients">
    <label class="ttip" for="sender" tabindex="0"> Sender  <%= image_tag 'info.png', alt: 'Info', height: '16' %><span  class="ttip__text">Select who is to receiver responses. Your addess has been preselected. A blank will system freereg_contacts address.</span></a></label>
  <select id="sender" name="sender" class="select" size="4">
    <% @senders.each do |sender| %>
      <% if sender == @sent_message.sender %>
        <option value="<%=sender%>" selected="selected" ><%=sender%></option>
      <% else %>
        <option value="<%=sender%>" ><%=sender%></option>
      <% end %>
    <% end %>
  </select>
</li>
<% end %>
<%= f.action :submit, :as => :input,  :label => 'Send' ,:button_html => { :class => "btn " },:wrapper_html => { :class => "grid__item  one-whole text--center" }  %> <br>
<% end%>
</section>
</div>