<% show_breadcrumb%>
<div style='clear:both;'> </div>
<% if flash[:notice] %>
  <div id='notice' style='color:blue'><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<br>
<h4 class=' text--center push--bottom'><%= show_title(@message)%>. Subject: <%= @message.subject %> </h4>
<h4 class=' text--center push--bottom'><%= show_status_title(@message) if show_status_title(@message).present? %> <%= show_attachment_title(@message) if show_attachment_title(@message).present? %></h4>
<div  class=' text--center push--bottom'>
  <%= show_edit_link(@message, params[:source])%>
  <%= show_send_link(@message, params[:source])%>
  <%= show_view_replies_link(@message, params[:source])%>
  <%= show_create_reply_link(@message, params[:source])%>
  <%= show_add_comment_link(@message, params[:source])%>
  <%= index_action_archive(@message)%>
  <%= show_remove_link(@message, params[:source])%>
  <%= show_destroy_link(@message, params[:source])%>
  <%= show_keep_link(@message, params[:source])%>
</div>
<% if @message.sent_messages.present?%>
  <% @message.sent_messages.order_by(sent_time: -1).each do |each_message| %>
    <%= content_tag :p, class: "text--center weight--semibold" do %>
      <% if each_message.recipients.present?%>
        Sent by: <%= each_message.sender%> to <%= each_message.recipients%> on <%= each_message.sent_time.strftime("%H:%M on %F")      unless each_message.sent_time.blank? %>
        <% if @message.nature == 'general'%>
          <br>
          (selection <%= active_field(each_message)%><%=  reason(each_message.inactive_reason) unless each_message.active %>;  Open Data Status of <%= open_status(each_message) %>)
        <% end %>
      <% end %>
    <% end %>
  <% end%>
<% end%>
<%= render 'message_detail'%>