<% if @message.source_message_id.blank? %>
  <% breadcrumb :show_messages_user, @message%>
<% else %>
  <% breadcrumb :show_reply_message, @message%>
<% end %>
<div style="clear:both;"> </div>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<div class="grid">
  <section class="island ">
    <h4 >Message Details</h4>
    <div class="grid__item  ">
      <table class="table--bordered table--data ">
        <colgroup >
        <col class=t40>
        <col class=t60>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <tr>
          <td>subject :</td>
          <td class="weight--semibold">
            <%= @message.subject %>
          </td>
        </tr>
        <tr>
          <td>Originated by : </td>
          <td class="weight--semibold">
            <%= @message.userid %>
          </td>
        </tr>
        <tr>
          <td>Time and date of message:</td>
          <td class="weight--semibold">
            <%= @message.message_time.strftime("%H:%M on %F") unless @message.message_time.nil? %>
          </td>
        </tr>  
        <tr>
          <td>Identifier :</td>
          <td class="weight--semibold">
            <%= @message.identifier %>
          </td>
        </tr>
        <tr>
          <td>Message :</td>
          <td class="weight--semibold">
            <textarea style="width:90%;" rows="8" readonly="readonly">Dear <%= @user.person_forename%>,&#13;&#10;&#13;&#10;<%= @message.body %>
            </textarea>
          </td>
        </tr>
        <tr>
          <td>Recipients :</td>
          <td>
            <div class="scrollable">
              <% if @message.sent_messages.present?%>
                <% @message.sent_messages.order_by(sent_time: -1).each do |each_message| %>
                  <%= content_tag :p, class: "weight--semibold" do %>
                    <% unless each_message.recipients.blank? %>
                      <%= active_field(each_message)%> <%= each_message.recipients%> <%= reason(each_message.inactive_reason) if !each_message.active%><%= formatted_date(each_message)%> Sent by: <%= each_message.sender%>
                    <% end %>
                  <% end %>
                <% end%>
              <% end%>
            </div>
          </td>
        </tr>
        <tr>
          <td>Attachment</td>
          <%= message_attachment_tag(@message) %>
        </tr>
        <tr>
          <td>Image Attachment</td>
          <%= message_image_tag(@message) %>
        </tr>
      </table>
      <%= show_links%>
      <%#= link_to 'Send this Message', send_message_messages_path(@message.id), :class => "btn weight--light  btn--small", method: :get, data: { confirm: 'Are you sure you want to send this message' } %>
    </div>
  </section>
</div>

