<% show_breadcrumb%>
<div style='clear:both;'> </div>
<%= render 'flash_notice' %>
<h4 class=' text--center push--bottom'><%= show_title(@message)%>. Subject: <%= @message.subject %> </h4>
<h4 class=' text--center push--bottom'><%= show_status_title(@message) if show_status_title(@message).present? %> <%= show_attachment_title(@message) if show_attachment_title(@message).present? %></h4>
<div  class=' text--center push--bottom'>
  <%= show_edit_link(@message, params[:source])%>
  <%= show_send_link(@message, params[:source])%>
  <%= show_view_replies_link(@message, params[:source])%>
  <%= show_create_reply_link(@message, params[:source])%>
  <%= show_add_comment_link(@message, params[:source])%>
  <%= index_action_archive(@message)%>
  <%= show_remove_link(@message, params[:source])%>
  <%= show_destroy_link(@message, params[:source])%>
  <%= show_keep_link(@message, params[:source])%>
</div>
<% if @message.sent_messages.present?%>
  <% @message.sent_messages.order_by(sent_time: -1).each do |each_message| %>
    <%= content_tag :p, class: "text--center weight--semibold" do %>
      <% if each_message.recipients.present?%>
        Sent by: <%= each_message.sender%> to <%= each_message.recipients%> on <%= each_message.sent_time.strftime("%H:%M on %F")      unless each_message.sent_time.blank? %>
        <% if @message.nature == 'general'%>
          <br>
          (selection <%= active_field(each_message)%><%=  reason(each_message.inactive_reason) unless each_message.active %>;  Open Data Status of <%= open_status(each_message) %>)
        <% end %>
      <% end %>
    <% end %>
  <% end%>
<% end%>
<%= render 'message_detail'%>
<% if @message.session_data.present? %>
  <% sd = @message.session_data || {} %>
  <% prev_url = sd['previous_page_url'].to_s %>
  <% curr_url = sd['current_page_url'].to_s %>
  <% userid = sd['userid'].to_s %>
  <% role = sd['role'].to_s %>
  <% gaz_chapman = sd['gazetteer_chapman'].to_s %>
  <% gaz_county_name = sd['gazetteer_county_name'].to_s %>
  <% chosen_chapman = sd['selected_gazetteer_chapman'].to_s %>
  <% chosen_county_name = sd['selected_gazetteer_county_name'].to_s %>
  <% search_names = sd['search_names'].is_a?(Hash) ? sd['search_names'] : {} %>
  <% search_term = (search_names['search'] || search_names[:search]).to_s %>
  <% search_county = (search_names['search_county'] || search_names[:search_county]).to_s %>
  <% display_county = chosen_county_name.presence ||
                      gaz_county_name.presence ||
                      search_county.presence ||
                      (chosen_chapman.present? ? "#{ChapmanCode.name_from_code(chosen_chapman)} (#{chosen_chapman})" : '') ||
                      (gaz_chapman.present? ? "#{ChapmanCode.name_from_code(gaz_chapman)} (#{gaz_chapman})" : '') %>
  <div class="grid">
    <section class="island">
      <div class="grid__item">
        <h4 class="text--center push--bottom">Session information</h4>
        <table class="table--bordered table--data" style="text-align: left">
          <colgroup>
            <col class="t25">
            <col class="t75">
          </colgroup>
          <tr>
            <th class="caps">Field</th>
            <th class="caps">Value</th>
          </tr>
          <tr>
            <td>Current page</td>
            <td class="weight--semibold"><%= curr_url.presence || 'unknown' %></td>
          </tr>
          <tr>
            <td>Previous page</td>
            <td class="weight--semibold"><%= prev_url.presence || 'unknown' %></td>
          </tr>
          <tr>
            <td>UserID</td>
            <td class="weight--semibold"><%= userid.presence || 'unknown' %></td>
          </tr>
          <tr>
            <td>Role</td>
            <td class="weight--semibold"><%= role.presence || 'unknown' %></td>
          </tr>
          <tr>
            <td>Gazetteer search</td>
            <td class="weight--semibold"><%= search_term.presence || 'unknown' %></td>
          </tr>
          <tr>
            <td>Gazetteer county</td>
            <td class="weight--semibold"><%= display_county.presence || 'none' %></td>
          </tr>
        </table>
      </div>
    </section>
  </div>
<% end %>