<h2 style="text-align: center">Totals for the Complete Database</h2>
<table style="margin-left:25%" class="table--bordered t50 table--data table--striped " >
  <thead >
    <tr >
      <th >Year</th>
      <th >Pieces</th>
      <th >Pieces Online</th>
      <th >Individuals</th>
      <th >Dwellings</th>
    </tr>
  </thead>
  <% Freecen::CENSUS_YEARS_ARRAY.each.each do |year| %>
    <tr >
      <td> <%= year %></td>
      <td> <%= number_with_delimiter(@totals_pieces[year]) %></td>
      <td> <%= number_with_delimiter(@totals_pieces_online[year]) %></td>
      <td> <%= number_with_delimiter(@totals_individuals[year]) %></td>
      <td> <%= number_with_delimiter(@totals_dwellings[year]) %></td>
    </tr>
  <% end%>
  <tr >
    <td> Total</td>
    <td> <%= number_with_delimiter(@grand_totals_pieces) %></td>
    <td> <%= number_with_delimiter(@grand_totals_pieces_online) %></td>
    <td> <%= number_with_delimiter(@grand_totals_individuals) %></td>
    <td> <%= number_with_delimiter(@grand_totals_dwellings) %></td>
  </tr>
</table>