<% title "Transcription County Selection" %>
<h1 class="title text--center ">County, Year and Place Records</h1>
<%= render 'flash_notice' %>
<h2 class="accessibility">Database contents</h2>
<p>These pages contain information about each the census for each County, Year and Place in the database: everything from a detailed county listing right down to how many records the database holds. In some cases it may also contains information about why there are no records available including known Gaps and Embargoes imposed by our sources.</p>
<div class="grid">
  <div  class="grid__item two-thirds lap-one-half palm-one-whole">
    <p>To get started, choose a county from the list below. We use the <b>1831 </b> county boundaries.</p>
    <%= semantic_form_for @freecen_coverage do |f| %>
      <ol class="grid">
        <li class="grid__item one-whole push--bottom text--center" id="freereg_content_chapman_codes_input">
          <input name="freecen_coverage[chapman_codes][]" type="hidden" value="" />
          <label class="accessibility" for="freecen_coverage_chapman_codes">County</label>
          <% grouped_options = ChapmanCode.add_parenthetical_codes(ChapmanCode.remove_codes(ChapmanCode::CODES)) %>
          <select  id="freecen_coverage_chapman_codes"  name="freecen_coverage[chapman_codes][]" size="6">
            <% key = @freecen_coverage.chapman_codes unless @freecen_coverage.chapman_codes.nil?%>
            <%= grouped_options_for_select(grouped_options, selected_key = key) %>
          </select>
        </li>
        <%= f.action :submit, :as => :button,  :label =>  "Select", :button_html => { :class => "ladda-button" , "data-style" => "contract" ,"data-color" => appname_downcase , "data-size" => "s", "data-spinner-color" => "#ffffff"  }, :wrapper_html => { :class => "grid__item one-whole push--bottom text--center" } %>
      </ol>
    <% end %>
  </div>
</div>
<hr class="rule" />
<h2 class="accessibility">Information and help</h2>
<p>The information in these pages is recreated each night. If you don&rsquo;t find a Place on these pages, we do not have access to the registers.<br>
  If you would like more guidance on finding exactly what you want to know about our database, please see the <a href="<%=Rails.application.config.website%>/help#dbContents" title="Exploring the transcriptions">Exploring the transcriptions help</a> page.</p>
<script type="text/javascript">
  Ladda.bind( 'button[type=submit]' );
</script>