<h1 class="title text--center">Coverage for <%= @county %> (<%=@chapman_code%>)</h1>

<% if @manage_pieces %>
  <% if @editing %>
    <% url = "/freecen_coverage/#{@chapman_code}/edit_done" %>
    <a href="<%=url%>">Done editing</a>
  <% else %>
    <% url = "/freecen_coverage/#{@chapman_code}/edit" %>
    <a href="<%=url%>">Edit pieces</a>
  <% end %>
<% end %>

<%# ['1841','1851','1861','1871','1881','1891'].each do |yy| %>
<% Freecen::CENSUS_YEARS_ARRAY.each do |yy| %>
  <% prev_disp = '' %>
  <% unless !@editing && (@county_pieces.nil? || @county_pieces[yy].nil? || @county_pieces[yy]['pieces'].nil? || @county_pieces[yy]['pieces'].length < 1) %>
    <% yyhash = @county_pieces[yy] %>
    <a name="<%= yy %>"></a>
    <center>
      <h3><%= @county %> &ndash; <%= yyhash['header'] %><% unless yyhash['header_info'].nil? || yyhash['header_info']=='' %> <a href="#" class="top_tooltip" onclick="return false;"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span><%= yyhash['header_info'] %></span></a><% end %></h3>
<% if @editing %>
  <div style="margin-top:-1.5em;margin-bottom:1.5em;">
  <% url = "/freecen_pieces/new?yy=#{yy}&chapman_code=#{@chapman_code}" %>
  <% url = "/freecen_pieces/#{@chapman_code}/#{yy}/new" %>
  <a href="<%=url%>">Add new <%=yy%>_<%=@chapman_code%> piece</a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <% url = "/freecen_parms/#{yy}/#{@chapman_code}/download.dat" %>
  <a href="<%=url%>">Download: <%=yy%>_<%=@chapman_code%>PARMS.DAT</a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <% url = "/freecen_parms/#{yy}/#{@chapman_code}/download.csv" %>
  <a href="<%=url%>">Download <%=yy%>_<%=@chapman_code%>PARMS.CSV</a><br>
  </div>
<% end %>
    </center>
    <div class="table-wrapper" style="margin-top:-20px;">
     <table class="table--bordered table--data" >
       <colgroup >
	 <col class=t10>
	 <col class=t10>
	 <col class=t35>
	 <col class=t10>
	 <col class=t15>
       </colgroup>
       <thead>
         <th>Piece</th>
         <th>Place</th>
         <th>Comprising</th>
         <th>Status</th>
         <th>Remarks</th>
    <!--     <th>Debug<br>(ignore, column will be removed)</th> -->
       </thead>
       <tbody>
	 <% yyhash['pieces'].each do |p_hash| %>
	 <tr <% if 'Online'!=p_hash['status']%>style="color:#aaaaaa;"<%end%>>
	   <td>
	     <%= (prev_disp!=p_hash['display_piece']) ? p_hash['display_piece'] : '' %>
	     <% if @editing %><a href="/freecen_pieces/<%=p_hash['piece_id']%>/edit">edit</a><% end %></td>
	   <% prev_disp=p_hash['display_piece'] %>
<!--	   <td><%= p_hash['place_name'] %></td> -->

	   <td><%= @editing ? map_link_helper(p_hash['district_name'], p_hash['latitude'], p_hash['longitude']) : p_hash['district_name'] %></td>
           <td>
<% unless p_hash['subplaces'].blank? %>
  <% p_hash['subplaces'].each_with_index do |sp, spidx| %><%=", " unless 0==spidx %><%= @editing ? map_link_helper(sp['name'],sp['lat'],sp['long']) : sp['name'] %><% end %>
<% end%>
           </td>
	   <td><%= p_hash['status']%> </td>
	   <td><%= p_hash['remarks']%> </td>
<!--	   <td><%= p_hash['parish_number']%>-<%=p_hash['piece_inspect']%>-<%=p_hash['online_time']%><br><%= Time.at(p_hash['online_time']).strftime('%Y-%m-%d') unless 0==p_hash['online_time'].to_i %></td> -->
	 </tr>
	 <% end unless yyhash['pieces'].nil? %>

       </tbody>
     </table>
   </div><!-- table-wrapper -->
   <% end %>
 <% end %>



</section>

