<% breadcrumb :freecen1_vld_files,@chapman_code, params[:page] %>
<% session[:file_page] = params[:page]%>
<h1 style="text-align: center">Listing of <%= @freecen1_vld_files.length if @freecen1_vld_files.present? %> FreeCen1 VLD Files for <%= @chapman_code%></h1>
<%= render 'flash_notice' %>
<% if %w[system_administrator data_manager county_coordinator country_coordinator master_county_coordinator].include?(@user.person_role)%>
  <div class="text--center">
    <%= link_to 'List Deleted VLD Files', freecen1_vld_file_audits_path, method: :get , :class => "btn btn--small"%><br>
    To upload a new file: click this <%= link_to 'Upload new VLD file', new_freecen1_vld_file_path, method: :get , :class => "btn btn--small"%><br>
    To replace a VLD file use the replace action in the specific file listed below<br>
  </div>
<% end%>