<% breadcrumb :freecen1_vld_file,  @chapman_code, @freecen1_vld_file %>
<h1 style="text-align: center">Listing of <%= @freecen1_vld_file.file_name %> for <%= @chapman_code%></h1>
<%= render 'flash_notice' %>
<div style="text-align: center">
  <% if %w[data_manager county_coordinator country_coordinator master_county_coordinator system_administrator].include?(@user.person_role)%>
    <%= edit_freecen1_vld_file %>
    <%= edit_cp_freecen1_vld_file %>
    <%= link_to 'Download file as CSVPro', csv_download_freecen1_vld_file_path(file: @freecen1_vld_file.id) , :class => "btn btn--small" %>
    <%= link_to 'Download vld entry file as CSV ', entry_csv_download_freecen1_vld_file_path(file: @freecen1_vld_file.id) , :class => "btn btn--small" if @user.person_role == 'system_administrator' %>
    <%= link_to 'Delete Vld File', freecen1_vld_file_path(@freecen1_vld_file), method: :delete, data: { disable_with:"<i class='fa fa-spinner fa-spin'></i>Deleting", confirm: 'Are you sure you want to delete this Vld File? It may take some time to process, you will receive a message when the file delete has completed.' } , :class => "btn  btn--small"%>
    <%= link_to 'Download VLD file', download_vld_file_freecen1_vld_file_path(file: @freecen1_vld_file.id) , :class => "btn btn--small" if %w[data_manager system_administrator].include?(@user.person_role) %>
  <% end%>
  <%= link_to 'Show entries ', freecen1_vld_entries_path(file: @freecen1_vld_file.id) , :class => "btn btn--small" %>
</div>