<% breadcrumb :freecen1_vld_file,  @chapman_code, @freecen1_vld_file %>
<h1 style="text-align: center">Listing of <%= @freecen1_vld_file.file_name %> for <%= @chapman_code%></h1>
<%= render 'flash_notice' %>
<div style="text-align: center">
  <%= link_to 'List entries ', freecen1_vld_entries_path(file: @freecen1_vld_file.id) , :class => "btn btn--small" %>
  <% if %w[data_manager system_administrator].include?(@user.person_role)%>
    <%= link_to 'Download file as CSV ', csv_download_freecen1_vld_file_path(file: @freecen1_vld_file.id) , :class => "btn btn--small" %>
  <% end%>
</div>