<%= render 'show_header' %>
<p>
  <b>Census type:</b>
  <%= @freecen1_vld_file.census_type %>
</p>
<p>
  <b>Raw year:</b>
  <%= @freecen1_vld_file.raw_year %>
</p>
<p>
  <b>Full year:</b>
  <%= @freecen1_vld_file.full_year %>
</p>
<p>
  <b>Piece:</b>
  <%= @freecen1_vld_file.piece %>
</p>
<p>
  <b>Series:</b>
  <%= @freecen1_vld_file.series %>
</p>
<p>
  <b>Parish:</b>
  <%= @freecen1_vld_file.sctpar %>
</p>
<p>
  <b>Digest:</b>
  <%= @freecen1_vld_file.file_digest %>
</p>
<p>
  <b>Errors:</b>
  <%= @freecen1_vld_file.file_errors %>
</p>
<%= link_to 'Edit', edit_freecen1_vld_file_path(@freecen1_vld_file) %> |