<p id="notice"><%= notice %></p>

<p>
  <b>File name:</b>
  <%= @freecen1_vld_file.file_name %>
</p>

<p>
  <b>Dir name:</b>
  <%= @freecen1_vld_file.dir_name %>
</p>

<p>
  <b>Census type:</b>
  <%= @freecen1_vld_file.census_type %>
</p>

<p>
  <b>Raw year:</b>
  <%= @freecen1_vld_file.raw_year %>
</p>

<p>
  <b>Full year:</b>
  <%= @freecen1_vld_file.full_year %>
</p>

<p>
  <b>Piece:</b>
  <%= @freecen1_vld_file.piece %>
</p>

<p>
  <b>Series:</b>
  <%= @freecen1_vld_file.series %>
</p>


<%= link_to 'Edit', edit_freecen1_vld_file_path(@freecen1_vld_file) %> |
<%= link_to 'Back', freecen1_vld_files_path %>
