<% breadcrumb :freecen_pob_propagations,@chapman_code %>
<h1 style="text-align: center">Listing of FreeCen POB Propagations for <%= @county%> (<%= @chapman_code%>)</h1>
<div class=" text--center push--bottom">
  <%= form_for(:pob_propagations_index, url: freecen_pob_propagations_path, method: :get) do |f| %>
    Ordered by: <b><%=@sorted_by%></b>. Click button to change the order of display :
    <% if @sorted_by != 'Most Recent Creation Date' %>
      <%= link_to 'Most Recent Creation Date', freecen_pob_propagations_path(county: @county, sorted_by: 'Most Recent Creation Date'), method: :get , :class => "btn btn--small", title: 'Reorder the list showing most recently created first' %>
    <% end %>
    <% if @sorted_by != 'Verbatim Birth Place' %>
      <%= link_to 'Verbatim Birth Place', freecen_pob_propagations_path(county: @county, sorted_by: 'Verbatim Birth Place'), method: :get , :class => "btn btn--small", title: 'Reorder the list according to the alphabetical Verbatim Place Name' %>
    <% end %>
  </div>
  <div>
    <fieldset class="input" style="text-align: center">
      <ol class="grid">
        <p>To switch the Verbatim County, click the appropriate radio button and then the <b>Refresh</b> button.</p>
        <li class="grid__item one-sixth lap-one-quarter palm-one-whole" id="rb_county">
          <%= f.radio_button :pob_index_county, 'index_county' %> <b><%= @chapman_code_manage%></b> <small> (<%= @county_manage%>) </small>
        </li>
        <li class="grid__item one-sixth lap-one-quarter palm-one-whole" id="rb_eng">
          <%= f.radio_button :pob_index_county, 'ENG' %> <b>ENG</b> <small> (England) </small>
        </li>
        <li class="grid__item one-sixth lap-one-quarter palm-one-whole" id="rb_irl">
          <%= f.radio_button :pob_index_county, 'IRL' %> <b>IRL</b> <small> (Ireland) </small>
        </li>
        <li class="grid__item one-sixth lap-one-quarter palm-one-whole" id="rb_ovf">
          <%= f.radio_button :pob_index_county, 'OVF' %> <b>OVF</b> <small> (Born Overseas) </small>
        </li>
        <li class="grid__item one-sixth lap-one-quarter palm-one-whole" id="rb_sct">
          <%= f.radio_button :pob_index_county, 'SCT' %> <b>SCT</b> <small> (Scotland) </small>
        </li>
        <li class="grid__item one-sixth lap-one-quarter palm-one-whole" id="rb_wls">
          <%= f.radio_button :pob_index_county, 'WLS' %> <b>WLS</b> <small> (Wales) </small>
        </li>
        <li class="grid__item one-whole lap-one-whole palm-one-whole" id="b_submit"><br>
          <%= submit_tag "Refresh", :class => "btn  btn--small"%>
        </li>
      </ol>
    </fieldset>
  <% end %>
</div>
<div class="scrollable ">
  <table class="table--bordered table--data table--striped ">
    <% if @pob_propagations.present? %>
      <tr>
        <th class='sticky-header '> Verbatim Birth County</th>
        <th class='sticky-header '> Verbatim Birth Place</th>
        <th class='sticky-header '> Alternate Birth County</th>
        <th class='sticky-header '> Alternate Birth Place</th>
        <th class='sticky-header '> Action</th>
      </tr>
      <% @pob_propagations.each do |prop| %>
        <tr>
          <td><%= prop.match_verbatim_birth_county %></td>
          <td><%= prop.match_verbatim_birth_place %></td>
          <td><%= prop.new_birth_county %></td>
          <td><%= prop.new_birth_place %></td>
          <td><%= link_to 'Show', freecen_pob_propagation_path(prop) %></td>
        </tr>
      <% end %>
    <% else%>
      <p class="text--center"> No POB Propagations found</p>
    <% end%>
  </table>
</div>