<div style="clear:both;"></div><br>

<section class="island  island--light">
<div class="grid">
<%= simple_form_for @source do |s| %>
  <%= s.input :source_name, :label=>"Source", :readonly=>true, :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :notes, :label=>"Source Notes", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :start_date, :label=>"Start Date", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>20, :maxlength=>15} %>
  <%= s.input :end_date, :label=>"End Date", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>20, :maxlength=>15} %>
  
  <%= s.simple_fields_for :original_form do |orig_form| %>
    <%= orig_form.input :type, :as=>:select, :collection=>['fiche', 'film', 'document', 'other'], :label=>"Original Form", :include_blank=>false, :selected=>s.object.original_form.empty? ? '' : s.object.original_form[:type], :required=>false, :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%', :size=>2} %>
    <%= orig_form.input :name, :label=>"name of the other form", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>50, :value=>s.object.original_form.empty? ? '' : s.object.original_form[:name]}, :label_html=>{:id=>"original_form_label"} %>
  <% end %>
  
  <%= s.input :original_owner, :label=>"Original Owner", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :creating_institution, :label=>"Creating Institution", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :holding_institution, :label=>"Holding Institution", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :restrictions_on_use_by_creating_institution, :label=>"Restrictions on Use by Creating Institution", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :restrictions_on_use_by_holding_institution, :label=>"Restrictions on Use by Holding Institution", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :open_data, :label=>'Open Data', :as=>:select, :collection=>[['Yes', true], ['No', false]], :include_blank=>false, :value=>s.object.open_data, :input_html=>{:class=>"simple_form_bgcolour simple_form_position overide_selection_field_width", :size=>2}, :label_html=>{:style=>"color: #0A0A0A", :class=>"simple_form_label"} %>
  <%= s.input :url, :label=>"URL", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>

  <%= s.simple_fields_for :propagate do |p| %>
    <%= s.input :choice, :as=>:boolean, :label=>'Select if you want to propagate this information to other sources under county '+session[:chapman_code], :label_html=>{:style=>'margin-left:2px'}, :item_label_class=>"collection_check_boxes", :input_html=>{:class=>"simple_form_position", :checked=>false, 'data-url'=>propagate_source_path(s.object), 'data-remote'=>true} %> 
    <div id="propagate_source" style="display:none;"></div>
  <% end %>

  <%= s.button :submit, 'Submit' %>
<% end %>
</div>
</section>