<section class="island  island--light">
<div class="grid">
<%= simple_form_for @source do |s| %>
  <%= s.input :source_name, :collection=>@list, :label=>'Source Name', :include_blank=>false, :input_html=>{:class=>"simple_form_bgcolour simple_form_position overide_selection_field_width", :size=>2} %>
  <%= s.input :notes, :label => 'Notes', :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :start_date, :label=>'Start Date', :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>20, :maxlength => 15} %>
  <%= s.input :end_date, :label=>'End Date', :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>20, :maxlenght=>15} %>
  
  <%= s.simple_fields_for :original_form do |orig_form| %>
    <%= orig_form.input :type, :as=>:select, :collection=>['fiche', 'film', 'document', 'other'], :label=>"Original Form", :include_blank=>false, :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%', :size=>2} %>
    <%= orig_form.input :name, :label=>"name of the other form", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>50} %>
  <% end %>
  
  <%= s.input :creating_institution, :label=>'Creating Institution', :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :holding_institution, :label=>'Holding Institution', :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :restrictions_on_use_by_creating_institution, :label=>'Restrictions on Use by Creating Institution', :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :restrictions_on_use_by_holding_institution, :label=>'Restrictions on Use by Creating Institution', :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>
  <%= s.input :open_data, :label => 'Open Data', :as=>:select, :collection=>[['Yes', true], ['No', false]], :include_blank=>false, :value=>s.object.open_data, :input_html=>{:class=>"simple_form_bgcolour simple_form_position overide_selection_field_width", :size=>2} %>
  <%= s.input :url, :label=>'URL', :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :style=>'width: 100%'} %>

	<%= s.hidden_field :register_id, :value=>session[:register_id] %>
  <%= s.button :submit, 'Submit' %>
<% end %>
</div>
</section>