<% unless session[:userid].nil?%>
  <div style="text-align: center">
  </div>
  <div style="clear:both;"> </div>
  <br>
<% end %>
<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead>
      <tr>
        <th class="t15">Image Source</th>
        <th class="t30">Notes</th>
        <th class="t15">Action<a href="#" class="left_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '14' %>
            <% if session[:manage_user_origin] == 'manage syndicate' %>
              <span>SH: Show Source Properties</span>
            <% else %>
              <% if session[:role] == 'system_administrator' %>
                <span>SH: Show Source Properties;<br>
                  ED: Edit Source Properties;<br>
                  DE: Delete Source</span>
              <% else %>
                <span>SH: Show Source Properties;<br>
                  ED: Edit Source Properties</span>
              <% end %>
            <% end %>
          </a></th>
      </tr>
    </thead>
  </table>
  <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody>
        <% @source.each do |x| %>
          <tr>
            <td class="t15"><%= x.source_name %></td>
            <td class="t30"><%= x.notes %>&nbsp;</td>
            <td class="t15">
              <% case x.source_name %>
              <% when 'Image Server' %>
              <%= link_to 'SH', source_path(x) %>
              <% if session[:manage_user_origin] == 'manage county' %>
                <%= link_to 'ED', edit_source_path(x) %>
                <% if session[:role] = 'system_administrator' %>
                  <%= link_to 'DE', source_path(x), data: { confirm: 'Are you sure you want to delete "'+x[:source_name]+'"?'}, method: :delete %>
                <% end %>
              <% end %>
              <% when 'Other Server1' %>
              <%= link_to 'SH', source_path(x) %>
              <% if session[:manage_user_origin] == 'manage county' %>
                <%= link_to 'ED', edit_source_path(x) %>
                <% if session[:role] = 'system_administrator' %>
                  <%= link_to 'DE', source_path(x), data: { confirm: 'Are you sure you want to delete "'+x[:source_name]+'"?'}, method: :delete %>
                <% end %>
              <% end %>
              <% when 'Other Server2' %>
              <%= link_to 'SH', source_path(x) %>
              <% if session[:manage_user_origin] == 'manage county' %>
                <%= link_to 'ED', edit_source_path(x) %>
                <% if session[:role] = 'system_administrator' %>
                  <%= link_to 'DE', source_path(x), data: { confirm: 'Are you sure you want to delete "'+x[:source_name]+'"?'}, method: :delete %>
                <% end %>
              <% end %>
              <% when 'Other Server3' %>
              <%= link_to 'SH', source_path(x) %>
              <% if session[:manage_user_origin] == 'manage county' %>
                <%= link_to 'ED', edit_source_path(x) %>
                <% if session[:role] = 'system_administrator' %>
                  <%= link_to 'DE', source_path(x), data: { confirm: 'Are you sure you want to delete "'+x[:source_name]+'"?'}, method: :delete %>
                <% end %>
              <% end %>
            <% else %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="task-form" style="display:none;"></div>
</div>