<% case @source.source_name %>
  <% when 'Image Server' %>
    <% breadcrumb :show_image_source, @county, @place, @church, @register, @source %>
  <% when 'Other Server1' %>
    <% breadcrumb :show_other_server1, @county, @place, @church, @register, @source %>
  <% when 'Other Server2' %>
    <% breadcrumb :show_other_server2, @county, @place, @church, @register, @source %>
  <% when 'Other Server3' %>
    <% breadcrumb :show_other_server3, @county, @place, @church, @register, @source %>
<% end %>

<div style="clear:both;"></div><br>
<p style="text-align: center"><b><%= @source.source_name %></b> source for <b><%= @register_type %></b> register for <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b>

<% if flash[:notice] %>
  <div id="notice" style="color:blue">
   	<%= flash[:notice] %><% flash.clear %>
  </div><br>
<% end %>

<%= render 'edit' %>

