<% if session[:manage_user_origin] == 'manage syndicate' %>
  <% case @source.source_name %>
    <% when 'Image Server' %>
      <% breadcrumb :syndicate_image_source, @county, @place, @church, @register, @source %>
    <% when 'Other Server1' %>
      <% breadcrumb :syndicate_other_server1, @county, @place, @church, @register, @source %>
    <% when 'Other Server2' %>
      <% breadcrumb :syndicate_other_server2, @county, @place, @church, @register, @source %>
    <% when 'Other Server3' %>
      <% breadcrumb :syndicate_other_server3, @county, @place, @church, @register, @source %>
  <% end %>
<% else %>
  <% case @source.source_name %>
    <% when 'Image Server' %>
      <% breadcrumb :county_image_source, @county, @place, @church, @register, @source %>
    <% when 'Other Server1' %>
      <% breadcrumb :county_other_server1, @county, @place, @church, @register, @source %>
    <% when 'Other Server2' %>
      <% breadcrumb :county_other_server2, @county, @place, @church, @register, @source %>
    <% when 'Other Server3' %>
      <% breadcrumb :county_other_server3, @county, @place, @church, @register, @source %>
  <% end %>
<% end %>

<% title "Source - properties" %>
<div style="clear:both;"></div><br>
<p style="text-align: center"><b><%= @source.source_name %></b> source for <b><%= @register_type %></b> register for <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b>

<% if flash[:notice] %>
  <div id="notice" style="color:blue">
    <%= flash[:notice] %><% flash.clear %>
  </div><br>
<% end %>

<% unless session[:userid].nil?%>
  <div style="text-align: center">
  <% case @source.source_name %>
    <% when 'Image Server' %> 
      <%= link_to 'List Image Groups', index_image_server_group_path(@source), method: :get, :class => "btn weight--light btn--small" %> 
    <% when 'Other Server1' %>
    <% when 'Other Server2' %>
    <% when 'OTher Server3' %>
    <% else %>
  <% end %>
  <% if session[:manage_user_origin] == 'manage county' %>
    <%= link_to 'Create new Source', new_source_path, method: :get, :class => "btn weight--light btn--small"  %>
    <% case @source.source_name %>
      <% when 'Image Server' %>
        <%= link_to 'Edit Image Source', edit_source_path(@source), method: :get, :class => "btn weight--light btn--small" %>
        <%= link_to 'Initialize Status', initialize_status_source_path(@source), method: :get, :class => "btn weight--light btn--small" %>
        <%= link_to 'Propagate this Image Source Information', flush_source_path(@source), method: :get, :class => "btn weight--light btn--small" %>
        <% if @user.person_role == 'system_administrator' %>
          <%= link_to 'Delete Image Source', source_path(@source), data: { confirm: 'Are you sure you want to delete "'+@source[:source_name]+'"?'}, method: :delete, :class => "btn weight--light btn--small" %>
        <% end %>
      <% when 'Other Server1' %>
        <% if @user.person_role == 'system_administrator' %>
          <%= link_to 'Delete Other Server1', source_path(@source), data: { confirm: 'Are you sure you want to delete "'+@source[:source_name]+'"?'}, method: :delete, :class => "btn weight--light btn--small" %>
        <% end %>
      <% when 'Other Server2' %>
        <% if @user.person_role == 'system_administrator' %>
          <%= link_to 'Delete Other Server2', source_path(@source), data: { confirm: 'Are you sure you want to delete "'+@source[:source_name]+'"?'}, method: :delete, :class => "btn weight--light btn--small" %>
        <% end %>
      <% when 'Other Server3' %>
        <% if @user.person_role == 'system_administrator' %>
          <%= link_to 'Delete Other Server3', source_path(@source), data: { confirm: 'Are you sure you want to delete "'+@source[:source_name]+'"?'}, method: :delete, :class => "btn weight--light btn--small" %>
        <% end %>
    <% end %>
  <% end %>
  </div>
  <div style="clear:both;"> </div><br>
<% end %>

<div class="grid">
  <section class="island ">
  <div class="grid__item ">
    <table class="table--bordered  table--data">
      <colgroup >
        <col class=t40>
        <col class=t60>
      </colgroup>
      <tr>
        <th class="caps">Field</th>
        <th class="caps">Value</th>
      </tr>
      <tr><td>Image Source Name</td><td class="weight--semibold"><%= @source[:source_name] %></td></tr>
      <tr><td>Image Source Notes</td><td class="t15"><%= @source[:notes] %>&nbsp;</td></tr>
      <tr><td>Start Date</td><td class="t30"><%= @source[:start_date] %>&nbsp;</td></tr>
      <tr><td>End Date</td><td class="t15"><%= @source[:end_date] %>&nbsp;</td></tr>
      <tr><td>Original Form</td><td class="t15"><%= @source[:original_form][:type] %>
        <% if @source[:original_form][:type] == 'other' %>
          : <%= @source[:original_form][:name]  %>
        <% end %>
      </tr>
      <tr><td>Original Owner</td><td class="t15"><%= @source[:original_owner] %>&nbsp;</td></tr>
      <tr><td>Creating Institution</td><td class="t15"><%= @source[:creating_institution] %>&nbsp;</td></tr>
      <tr><td>Holding Institution</td><td class="t15"><%= @source[:holding_institution] %>&nbsp;</td></tr>
      <tr><td>Restrictions on Use by Creating Institution</td><td class="t15"><%= @source[:restrictions_on_use_by_creating_institution] %>&nbsp;</td></tr>
      <tr><td>Restrictions on Use by Holding Institution</td><td class="t15"><%= @source[:restrictions_on_use_by_holding_institution] %>&nbsp;</td></tr>
      <tr><td>Open Data</td><td class="t15"><%= @source[:open_data] ? 'Yes' : 'No' %>&nbsp;</td></tr>
    </table>
  </div>
  </section>
</div>