<% breadcrumb :show_image_source, @register, @source %>
<% title "Source - properties" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>
<% unless session[:userid].nil?%>
  <div style="text-align: center">
    <% case @source.source_name %>
    <% when 'Image Server' %>
    <%= link_to 'List Image Groups', index_image_server_group_path(@source), method: :get, :class => "btn  btn--small" %>
    <% when 'Other Server1' %>
    <% when 'Other Server2' %>
    <% when 'OTher Server3' %>
  <% else %>
  <% end %>
  <% if session[:manage_user_origin] == 'manage county' && !['syndicate','place','unallocate'].include?(session[:image_group_filter])  %>
    <% case @source.source_name %>
    <% when 'Image Server' %>
      <%= link_to 'Edit Image Source', edit_source_path(@source), method: :get, :class => "btn  btn--small" %>
      <%= link_to 'Initialize Status', initialize_status_source_path(@source), method: :get, :class => "btn  btn--small" %>
      <% if ['county_coordinator', 'system_administrator', 'country_coordinator', 'data_manager'].include? session[:role] %>
        <%= link_to 'Propagate this Image Source Information', flush_source_path(@source), method: :get, :class => "btn  btn--small" %>
      <% end %>
      <% if session[:role] == 'system_administrator' %>
        <%= link_to 'Delete Image Source', source_path(@source), data: { confirm: 'Are you sure you want to delete "'+@source[:source_name]+'"?'}, method: :delete, :class => "btn  btn--small" %>
      <% end %>
    <% when 'Little Gems' %>
      <%= link_to 'Edit Little Gems Source', edit_source_path(@source), method: :get, :class => "btn  btn--small" %>
      <%= link_to 'Create Assignment', little_gems_assign_assignment_path(:assign_type=>'transcriber', source_id: @source.id), method: :get, :class => "btn  btn--small" %>
      <% if ['county_coordinator', 'system_administrator', 'country_coordinator', 'data_manager'].include? session[:role] %>
        <%#= link_to 'Propagate this Image Source Information', flush_source_path(@source), method: :get, :class => "btn  btn--small" %>
      <% end %>
      <% if session[:role] == 'system_administrator' %>
        <%= link_to 'Delete Little Gems Source', source_path(@source), data: { confirm: 'Are you sure you want to delete "'+@source[:source_name]+'"?'}, method: :delete, :class => "btn  btn--small" %>
      <% end %>
    <% when 'Other Server1' %>
    <% if session[:role] == 'system_administrator' %>
      <%= link_to 'Delete Other Server1', source_path(@source), data: { confirm: 'Are you sure you want to delete "'+@source[:source_name]+'"?'}, method: :delete, :class => "btn  btn--small" %>
    <% end %>
    <% when 'Other Server2' %>
    <% if session[:role] == 'system_administrator' %>
      <%= link_to 'Delete Other Server2', source_path(@source), data: { confirm: 'Are you sure you want to delete "'+@source[:source_name]+'"?'}, method: :delete, :class => "btn  btn--small" %>
    <% end %>
    <% when 'Other Server3' %>
      <% if session[:role] == 'system_administrator' %>
        <%= link_to 'Delete Other Server3', source_path(@source), data: { confirm: 'Are you sure you want to delete "'+@source[:source_name]+'"?'}, method: :delete, :class => "btn  btn--small" %>
      <% end %>
  <% end %>
<% end %>
</div>
<div style="clear:both;"> </div>
<br>
<% end %>
<div class="grid">
  <section class="island ">
    <div class="grid__item ">
      <table class="table--bordered  table--data">
        <colgroup >
          <col class=t40>
          <col class=t60>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th class="caps">Value</th>
        </tr>
        <tr>
          <td>Image Source Name</td>
          <td class="weight--semibold"><%= @source[:source_name] %></td>
        </tr>
        <tr>
          <td>Image Source Notes</td>
          <td class="t15"><%= @source[:notes] %>&nbsp;</td>
        </tr>
        <tr>
          <td>Start Year</td>
          <td class="t30"><%= @source[:start_date] %>&nbsp;</td>
        </tr>
        <tr>
          <td>End Year</td>
          <td class="t15"><%= @source[:end_date] %>&nbsp;</td>
        </tr>
        <tr>
          <td>Original Form</td>
          <td class="t15"><%= @source[:original_form][:type] %>
            <% if @source[:original_form][:type] == 'other' %>
              : <%= @source[:original_form][:name]  %>
            <% end %>
          </tr>
          <tr>
            <td>Original Owner</td>
            <td class="t15"><%= @source[:original_owner] %>&nbsp;</td>
          </tr>
          <tr>
            <td>Creating Institution</td>
            <td class="t15"><%= @source[:creating_institution] %>&nbsp;</td>
          </tr>
          <tr>
            <td>Holding Institution</td>
            <td class="t15"><%= @source[:holding_institution] %>&nbsp;</td>
          </tr>
          <tr>
            <td>Restrictions on Use by Creating Institution</td>
            <td class="t15"><%= @source[:restrictions_on_use_by_creating_institution] %>&nbsp;</td>
          </tr>
          <tr>
            <td>Restrictions on Use by Holding Institution</td>
            <td class="t15"><%= @source[:restrictions_on_use_by_holding_institution] %>&nbsp;</td>
          </tr>
          <tr>
            <td>Open Data</td>
            <td class="t15"><%= @source[:open_data] ? 'Yes' : 'No' %>&nbsp;</td>
          </tr>
        </table>
      </div>
    </section>
  </div>