<h1>FreeCEN Handbook</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This page has download links for the various guides that help Transcribers, Proofreaders, Validators and Coordinators in the transcription of census documents.</p>

    <ul>
      <li>Introduction to FreeCEN for New Transcribers</li>
      <li>Dave’s FreeCEN2 New Transcriber Guide</li>
      <li>FreeCEN2 Handbook —
        <ul>
          <li>Part 1 — Transcriber and Proofreader Handbook, for England and Wales — last updated Jan 2026</li>
          <li>Part 2 — Validator Handbook — last updated Mar 2025</li>
          <li>Part 3 — Coordinator Handbook — last updated Mar 2025</li>
        </ul>
      </li>
    </ul>
  </div>
  
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    
    <aside class="island island--blue" aria-labelledby="asideTitle">
      <h2 class="title banner__title" id="asideTitle">Links and tabs</h2>
      <h3 class="banner__title banner__title--bold"><span class="delta">What has changed?</span> </h3>
      <p>We have set nearly all the links on this site to open in the <em>same</em> browser tab rather than a new one. This puts you in control and makes it easier for all users to understand what has happened when they select a link.</p>
      <p>The one and only exception to this is that the link to the Gazetteer, both in the main menu and on ‘Your Actions’, will continue to open automatically in a new tab, for your convenience.</p>
      <h3 class="banner__title banner__title--bold"><span class="delta">You are in control</span> </h3>
      <p>Sometimes, it makes sense to get a link to open in a new tab: you can choose to do exactly that. The details will depend on your OS (Operating System) and how you move around the page. For example, a Windows user with a mouse will right-click on the link to get a context menu. They can then choose “Open link in new tab” or “Open link in new window”.</p>
      <h3 class="banner__title banner__title--bold"><span class="delta">Keeping a useful page available</span> </h3>
      <p>The items in the main menu are links. The list of Actions on the ‘Your Actions’ page look like buttons, but they too are links. You can open a link in a new tab at will. For instance, you can open this page in a new tab from the Your Actions page; you can open any of the Handbook links on this page in a new tab. Your decision.</p>
      <p>Please note that the ‘Report a problem’ buttons <em>are</em> buttons — you cannot <em>choose</em> to open a new tab with them.</p>
    </aside>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="island island--bordered">Please make sure you have read <a href="#asideTitle">Links and tabs</a> before going any further.</p>
    <h2>Introduction to FreeCEN for New Transcribers (England and Wales)</h2> 
    <p>This Introduction is suitable for New Transcribers: it is a simple guide to get you started. You can use this together with <strong>Dave's Guide for New Transcribers</strong>. Once you get going, please use <strong>Part 1 of the FreeCEN2 Handbook for England and Wales</strong>.</p>
    <p><a href="<%= path_to_asset('resources/9egkkrcluo_Introduction_to_FreeCEN_for_England_and_Wales_Transcribers_V1.pdf') %>">Download the Introduction Guide (PDF, 258 KB)</a> </p>
    <p class="push-half--bottom">The Guide might appear on your screen in Acrobat Reader or directly in your browser:
</p>
    <ol>
      <li>select the Download Icon (an underlined downward arrow)</li>
      <li>you will be asked where you want to Save the Guide. Save it.</li>
      <li>open the Guide in Acrobat Reader (or in Preview on a Mac)</li>
      <li>select the Print Icon (or File … Print)</li>
      <li>select your Printer</li>
      <li>set Pages to ‘Print to All’</li>
      <li>select ‘Booklet’</li>
      <li>set Booklet option to ‘both sides’</li>
      <li>set the Orientation to Portrait</li>
      <li>select Print</li>
    </ol>
    <p class="push-half--bottom">The Guide will now print on 4 pieces of A4 paper back to back. These can be folded into an A5 booklet.</p>

    <p class="island island--bordered">The various guides and Handbooks are PDF (Portable Document Format) files. Most browsers can show the contents of a PDF file directly: if not, you’ll see a dialogue box rather than the Handbook itself. Follow the instructions from step two.</p>

    <h2>Dave’s FreeCEN2 New Transcriber Guide</h2>
    <p>This Guide was written by Dave as he learnt to Transcribe for FreeCEN. It aims to explain things from the point of view of you, the Transcriber.</p>
    <p><a href="<%= path_to_asset('resources/4v9q9bpu6c_Dave_s_FreeCEN2_New_Transcriber_Guide.pdf') %>">Download Dave's FreeCEN2 New Transcriber Guide (PDF, 4.71 MB)</a> </p>
    <ol>
      <li>select the Download Icon (an underlined downward arrow)</li>
      <li>you will be asked where you want to Save the Guide. Save it.</li>
      <li>open the Guide in Acrobat Reader (or in Preview on a Mac)</li>
      <li>select the Print Icon (or File … Print) (it will print on about 15 sheets of A4 back to back)</li>
      <li>select your Printer</li>
      <li>set Pages to Print to All</li>
      <li>select Back-to-back (flip on long side)</li>
      <li>set the Orientation to Portrait</li>
      <li>select Print</li>
    </ol>

    <h3>Sample Completed Spreadsheet</h3>
    <p>This is the beginning of a sample transcription (about 6 pages of images). It contains a range of entries so that you, as a new transcriber, can see what a completed spreadsheet looks like.</p>
    <p>If your spreadsheet software can open Microsoft Excel format files, .xls, then we recommend looking at that one. It has some formatting that makes it nicer to look at and so easier to read than the CSV file. In particular, the first row of every census page has been given a yellow background as per Dave’s suggestion.</p>
    <p><a href="<%= path_to_asset('resources/385lqedbkj_1861_sample.xls') %>">Download Sample Spreadsheet (.xls, 54 KB)</a>
      <br />or<br />
      <a href="<%= path_to_asset('resources/3y8zwzcxgo_1861_sample.csv') %>">Download Sample Spreadsheet (CSV, 12.2 KB)</a> </p>
    <p class="push-half--bottom">Depending on your operating system and browser, you might find that you are starting at step two rather than step one:</p>
    <ol>
      <li>select the Download Icon (an underlined downward arrow)</li>
      <li>you will be asked where you want to Save the spreadsheet — save it </li>
      <li>open the spreadsheet using your spreadsheet software (any spreadsheet software can open a .csv file) </li>
    </ol>

    <hr class="rule" />
    <h2>FreeCEN2 Handbook part 1A<br />
      <div class="gamma">for Transcribers and Proofreaders <br /> England and Wales Censuses</div> 
      <div class="delta push--bottom"><strong>(including the Channel Islands and the Isle of Man)</strong> </div> </h2>

    <p>Part 1A of the Handbook is suitable for all Transcribers (including new ones) and Proofreaders working on England and Wales censuses. It can be used on your computer or printed as a desktop reference on A4 paper, either one-sided or back-to-back.</p>
    <p><a href="<%= path_to_asset('resources/614y5jpfms_FreeCEN2_Handbook_part_1A_England_and_Wales_Transcribers_and_Proofreaders_January_2026.pdf') %>">Download the FreeCEN Handbook part 1A (PDF, 6.1 MB)</a> </p>

    <p class="push-half--bottom">When the Handbook appears on your screen:</p>
    <ol>
      <li>select the Download icon (a downward arrow)</li>
      <li>choose where you want to Save the Handbook. Save it.</li>
      <li>open the Handbook in Acrobat Reader (or Preview)</li>
      <li>select the Print icon (or File … Print)</li>
      <li>select your printer</li>
      <li>set Pages to print all</li>
      <li>if you want to print on both sides of the paper, tick the ‘Print on both sides of the paper’ box</li>
      <li>set the Orientation to Portrait</li>
      <li>select Print</li>
    </ol>

    <p>The Handbook will print on about 60 sheets of A4 paper, single-sided (or 30 if you print on both sides).</p>
    <p>We are still updating the Handbook from time to time. We will let you know when a new version is available. Make sure you are using the latest version.</p>

    <h2>FreeCEN2 Handbook part 2 — Validation</h2>
    <p>The Validator Handbook has detailed information for Validators. It explains how to manage pieces within CSVProc. It is a continuation of the Handbook Part 1 for Transcribers and Proofreaders and should be read in conjunction with that part of the Handbook.</p>
    <p><a href="<%= path_to_asset('resources/8yl4e53ibk_FreeCEN2_Handbook_Part_2_Validation_January_2025.pdf') %>">Download the Validator Handbook (PDF, 4 MB)</a> </p>

    <h2>FreeCEN2 Handbook part 3 — Coordination</h2>
    <p>The Coordinator Handbook has detailed information for Coordinators. It explains how to manage a County. It is a continuation of Part 1 of the Handbook for Transcribers and Proofreaders and Part 2 for Validators and should be read in conjunction with those parts of the Handbook.</p>
    <p>This is a comprehensive guide to working with FreeCEN2. It should be your first point of reference whenever you have a question or a problem.</p>

    <p>We suggest that you save the Handbook to your computer. It is quite large, so printing is probably not a viable option.</p>
    <p><a href="<%= path_to_asset('resources/6a3n5xngcj_FreeCEN2_Handbook_Part_3_Coordination_January_2025.pdf') %>">Download the Coordinator Handbook (PDF, 7.2 MB)</a> </p>
    <p class="push-half--bottom">The Handbook will appear on your screen:</p>
    <ol>
      <li>select the Download icon (a downward arrow)</li>
      <li>choose where you want to Save the Handbook. Save it.</li>
    </ol>
  
    <p>Whenever you need to refer to the Handbook, open it in Acrobat Reader (or in Preview on a Mac).</p>
    <p>We are still updating the Handbook regularly and will let you know when a new version of the Handbook is available. Make sure you are using the latest version.</p>
    
  </div>
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    
    <div class="islet islet--bordered">
      <a href="/feedbacks/new_handbook_feedback">Make a suggestion to improve the Handbook</a>
    </div>

  </div>
</div>