<section class="island  island--light">


<%= semantic_form_for(@register, :html => { :class => "grid"}) do |f| %>
<%= f.semantic_errors :class => "validation-list__error" %>

<%= f.input :register_type, 
              { :as => :select,:include_blank => false, :required => true, :collection => RegisterType::OPTIONS, 
              :size => 2 , :class => "text-input",  :label => "Type of Register :",
              :input_html => { :class => "select" }, 
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole" }
              }%>
  
  <%= f.input :quality,:label => "Quality of the Register images :",
              :input_html =>
              { :size => 40 , :class => "text-input"},
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole"
              }%>
  <%= f.input :source, :label => "Source of the Register images :",
              :input_html =>
              {:size => 80 , :class => "text-input"},
              :wrapper_html => 
              { :class => "grid__item  one-whole  palm-one-whole" 
              }%>
  <%= f.input :copyright, :label => "Any copyright issues ?",
              :input_html =>
               {:size => 60 , :class => "text-input"},
              :wrapper_html => 
              { :class => "grid__item  one-whole  palm-one-whole" 
              }%>
  <%= f.input :register_notes, :label => "Notes about Register :",
              :input_html =>
               { :size => 60 , :class => "text-input"},
              :wrapper_html => 
              { :class => "grid__item  one-whole  palm-one-whole" 
              }%>
  <%= f.input :status,  :label => "Status or transcriptions (i.e. Underway/Finished etc :",
              :input_html =>
              {  :size => 60, :class => "text-input"},
               :wrapper_html => 
              { :class => "grid__item  one-whole  palm-one-whole" 
              }%>
   <%= f.input :minimum_year_for_register, :label => "First permitted year :",
              :input_html => 
              { :length => 4, :size => 4,  :class => "text-input" }, 
               :wrapper_html => 
              { :class => "grid__item  one-whole  palm-one-whole" 
              } %>
  <%= f.input :maximum_year_for_register, :label => "Last permitted year :",
              :input_html => 
              { :length => 4, :size => 4,  :class => "text-input" }, 
               :wrapper_html => 
              { :class => "grid__item  one-whole  palm-one-whole" 
              } %>
  <%= f.input :last_amended,:label => "System generated date of last amended record :",
              :input_html => 
              { :disabled => true, :size => 20 ,:class => "text-input"},
              :wrapper_html => 
              { :class => "grid__item  one-whole  palm-one-whole" 
              }%>
<br>
  
  <%= f.action :submit, :as => :input, :label => 'Submit' %>
 <% end %>
 </section>
 