<%= semantic_form_for(@register) do |f| %>
  <% if @register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% @register.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.input :status, :input_html => { :size => 30 }%>
  <%= f.input :register_name, :input_html => { :size => 30 }%>
  <%= f.input :alternate_register_name, :input_html => { :disabled => true , :size => 30} %> 
  <%= f.input :quality, :input_html => { :size => 40 }%>
  <%= f.input :source, :input_html => { :size => 40 }%>
  <%= f.input :copyright, :input_html => { :size => 40 }%>
  <%= f.input :register_notes, :input_html => { :size => 60 }%>
  <%= f.input :last_amended%>
  <br>
  <div class="actions">
    <%= f.actions %>
  </div>
<% end %>
