<% breadcrumb :edit_register,  @county, @place, @church, @register%>
<p style="text-align: center"><b><%= @register_name %></b> Register  of <b><%= @church_name%></b> in <b><%= @place_name %></b> of the County of <b><%= @county %></b><br></p>

<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %> 

<%= render 'form' %>
<p style="color:red">Please note if you are changing the Register Type of a register the processing time could be several minutes depending upon the number of batches affected. <b>Please wait for the process to complete.</b></p>