<% breadcrumb :edit_register,  @county, @place, @church, @register%>
<p style="text-align: center"><b><%= @register_name %></b> Register  of <b><%= @church_name%></b> in <b><%= @place_name %></b> of the County of <b><%= @county %></b><br></p>

<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %> 

<%= render 'form' %>

