<p style="text-align: center"> Listing registers</p>

<table class="table--bordered  table--striped  table--data">
  <tr>
    <th>Record types</th>
    <th>Start year</th>
    <th>End year</th>
    <th>Register type</th>
    <th>Status</th>
    <th>Transcribers</th>
    <th>File name</th>
    <th></td>
    <th></th>
    <th></th>
  </tr>

<% @registers.each do |register| %>
  <tr>
     <% value =  register.record_types %>
    <td><%= RecordType.display_name(value[0]) %></td>
    
    <td><%= register.start_year %></td>
    <td><%= register.end_year %></td>
    <td><%= RegisterType.display_name(register.register_type) %></td>
    <td><%= register.status %></td>
    <td><%= register.transcribers %></td>
    <td><%= register.file_name %></td> 
    
    <td><%= link_to 'Show', register %></td>
    <td><%= link_to 'Edit', edit_register_path(register) %></td>
    <td><%= link_to 'Destroy', register, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Register', new_register_path %>
