<p style="text-align: center">Create a new Register for <b><%= @church_name %></b> in 
   <b><%= @place_name %></b> for the County of:  <b><%= @county %></b>

<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %> 

<%= render 'form' %>

