<% require 'record_type' %>
 <% if flash[:notice] && session[:errors].nil? %>
    <div id="notice" style="color:green"><br>
  <% else %>
   <div id="notice" style="color:red"><br> 
    <% end %>
   <%= flash[:notice] %> 
   <% session[:errors] = nil %>
   <br>
    </div>
<p>Details of the Register <b><%= @register_name %></b> for 
  Church of
  <b><%= @church_name %></b>
  in 
   <b><%= @place_name %></b>
   for the County of:
   <b><%= @county %></b>
</p>

 
 <p><b>Register name :</b> <%= @register.register_name %></p>
   <p><b>Alternate register name :</b> <%= @register.alternate_register_name%></p>
   <p><b>Register Type :</b> <%= @register.register_type %></p>
   <p><b>Quality :</b> <%= @register.quality%></p>
   <p><b>Source :</b> <%= @register.source %></p>
   <p><b>Copyright :</b> <%= @register.copyright %></p>
   <p><b>Register notes :</b> <%= @register.register_notes %></p>
    <p><b>Last amended :</b> <%= @register.last_amended %></p>
  
  <ol>
  
    <% @register.freereg1_csv_files.order_by(file_name: 1).each do |file_name| %>
    <li>
    <p><b>File :</b><%= link_to(file_name.file_name,freereg1_csv_file_path(file_name)) %></p>
    </li>
 
  
<% end %>
</ol>
 <div style="float:left;">  <%= button_to 'Edit Register', edit_register_path(@register), method: :get %></div>    
<div style="float:left;">  <%= button_to  'Destroy Register', register_path(@register), method: :delete, data: { confirm: 'Are you sure?' } %></div> 
<div style="float:left;">  <%= button_to_function "Back to Previous Page", "history.back()" %></div>  
<div style="clear:both;"> </div><br>