<% require 'record_type' %>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<p>
  Church name:
  <b><%= @church_name %></b>
  for Place: 
   <b><%= @place_name %></b>
   in the County of:
   <b><%= @county %></b>
</p>

<p>
  <b>Record types:</b>
   <% value =  @register.record_types %>
    <td><%= RecordType.display_name(value[0]) %></td>
</p>

<p>
  <b>Start year:</b>
  <%= @register.start_year %>
</p>

<p>
  <b>End year:</b>
  <%= @register.end_year %>
</p>

<p>
  <b>Register type:</b>
  <%= @register.register_type %>
</p>

<p>
  <b>Status:</b>
  <%= @register.status %>
</p>

<p>
  <b>Transcribers:</b>
  <%= @register.transcribers %>
</p>
<p>
  <b>Loaded by:</b>
  <%= @register.user_id %>
</p>
<p>
  <b>File name:</b>
  <%= @register.file_name %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', church_path(@church) %>
