<% breadcrumb :show_register,  @county, @place, @church, @register%>
<p style="text-align: center">Details of the <b><%= @register_name %></b> for <b><%= @church_name %></b> in
  <b><%= @place_name %></b> of <b><%= @county %></b>
</p>
<div style="text-align: center"> <%= link_to 'Edit Register Fields', edit_register_path(@register), method: :get, :class => "btn  btn--small" unless @register.nil?%>   <%= link_to  'Destroy Register', register_path(@register), method: :delete, data: { confirm: 'Are you sure you want to destroy this Register.? It will not happen if there are dependants!'}, :class => "btn  btn--small " unless @register.nil?%>
  <%= link_to 'Change Register Type', rename_register_path(@register), method: :get, :class => "btn  btn--small"unless @register.nil? %> <%= link_to 'Merge Identical Register Types into this one', merge_register_path(@register), method: :get, data: { confirm: 'Are you really really sure that this is the Register Type into which you want all similar Register Types in this church to be merged? The action will be taken on selecting OK and cannot be recovered!!!!'}, :class => "btn  btn--small " unless @register.nil? %>
</div>
<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<%if @register.nil? %>
 <p> There is no register with that document number. If you are concerned please consult the system administrators</p>
<% end%>
<div class="grid">
  <section class="island ">
    <h5 style="text-align: center">The Register has the following Batches
    
    <% @register.freereg1_csv_files.order_by(file_name: 1).each do |file_name| %>
    <%= link_to("#{file_name.userid} (#{file_name.file_name})",freereg1_csv_file_path(file_name), :class => "btn  btn--small") %>
    <% end %></h5>
    <div class="grid__item ">
      <table   class="table--bordered  table--data">
        <colgroup >
        <col class=t40>
        <col class=t60>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <tr>
          <td>Register Type :</td><td class="weight--semibold"><%= @register.register_type %></td>
        </tr>
        <tr>
          <td>Quality :</td><td class="weight--semibold"> <%= @register.quality%></td>
        </tr>
        <tr>
          <td>Source :</td><td class="weight--semibold"> <%= @register.source %> </td>
        </tr>
        <tr>
          <td>Copyright :</td><td class="weight--semibold"> <%= @register.copyright %>  </td>
        </tr>
        <tr>
          <td>Credit :</td><td class="weight--semibold"> <%= @register.credit %>  </td>
        </tr>
        <tr>
          <td>Register notes :</td><td class="weight--semibold"> <%= @register.register_notes %>  </td>
        </tr>
        <tr>
          <td>Status of the transcriptions :</td><td class="weight--semibold"><%= @register.status %> </td>
        </tr>
        <tr>
          <td>Record last amended :</td><td class="weight--semibold"><%= @register.last_amended %> </td>
        </tr>
        <tr>
          <td>First permitted year :</td><td class="weight--semibold"><%= @register.minimum_year_for_register%> </td>
        </tr>
        <tr>
          <td>Last permitted year :</td><td class="weight--semibold"><%= @register.maximum_year_for_register %> </td>
        </tr>
      </table>
      
      
      
      
    </div>
  </section>
</div>