<% require 'record_type' %>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<p>Details of the Register <b><%= @register_name %></b> for 
  Church of
  <b><%= @church_name %></b>
  in 
   <b><%= @place_name %></b>
   for the County of:
   <b><%= @county %></b>
</p>
<table style="width: 100%">
 <tr>

<th>Register name</th>
<th>Alternate register name</th>
 <th>Register Type</th>
<th>Quality</th>
<th>Source</th>
<th>Copyright</th>
<th>Register notes</th>
<th>Last amended</th>
<th>Files</th>
<th>Action</th>
</tr>
<tr>
 
  <td><%= @register.register_name %></td>
   <td><%= @register.alternate_register_name%></td>
   <td><%= @register.register_type %></td>
   <td><%= @register.quality %></td>
   <td><%= @register.source %></td>
   <td><%= @register.copyright %></td>
   <td><%= @register.register_notes %></td>
    <td><%= @register.last_amended %></td>
  <td>
  <ol>
  
    <% @register.freereg1_csv_files.order_by(file_name: 1).each do |file_name| %>
    <li>
    <%= link_to(file_name.file_name,freereg1_csv_file_path(file_name)) %><br>
    </li>
  
  
<% end %>
</ol>
</td>
 <td >
     
<%= link_to 'Edit Register', edit_register_path(@register) %>
<%= link_to 'Destroy Register', register_path(@register), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
</table>

 

<br>
<%= button_to_function "Back to Previous Page", "history.back()" %> 
