<div class="grid__item ">
  <% unless @userids.blank? %>
    <section class="island ">
      <div class="scrollable ">
        <table class=" table--bordered my-width table--data just--left">
          <thead >
            <tr>
              <th class='sticky-header'>UserID</th>
              <th class='sticky-header'>Forename</th>
              <th class='sticky-header'>Surname</th>
              <th class='sticky-header'>Email</th>
              <th class='sticky-header'>Active</th>
              <th class='sticky-header' title="Transcriber Agreement Accepted">Agreement</th>
              <th class='sticky-header'>Signed Up Date</th>
              <% unless MyopicVicar::Application.config.template_set == 'freecen'%>
                <th class='sticky-header'>Last Upload</th>
                <th class='sticky-header'>Files </th>
              <% end %>
              <th colspan="4" class='sticky-header'>Action <a href="#" class="left_tooltip" onclick="return false;"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %><span>SH: Show profile details; ED: Edit the profile; LB: List their batches; IN: Inactivate the userid OR ACT:Activate the userid. (You will have either IN or ACT in the field)</span></a></th>
            </tr>
          </thead>
          <tbody >
            <% @userids.each do |userid| %>
              <% if userid.active%>
                <tr id="<%=userid.id%>" style="color:green">
                <% else%>
                  <tr id="<%=userid.id%>" style="color:blue">
                  <% end%>
                  <td > <%= userid.userid %>  </td>
                  <td > <%= userid.person_forename %>  </td>
                  <td > <%= userid.person_surname %>  </td>
                  <td > <%= userid.email_address %> </td>
                  <td >  <%= active_user(userid.active)%></td>
                  <td >  <%= userid.new_transcription_agreement%></td>
                  <td ><%= userid.sign_up_date.strftime("%d %b %Y") unless userid.sign_up_date.nil? %></td>
                  <% unless MyopicVicar::Application.config.template_set == 'freecen'%>
                    <td > <%= userid.last_upload.strftime("%d %b %Y") unless  userid.last_upload.nil?%>  </td>
                    <td > <%= Freereg1CsvFile.userid(userid.userid).count  %>  </td>
                  <% end %>
                  <td ><%= link_to 'SH', userid_detail_path(userid), method: :get  %></td>
                  <td ><%= link_to 'ED', edit_userid_detail_path(userid), method: :get  %></td>
                  <td ><%= link_to 'LB', by_userid_freereg1_csv_file_path(userid), method: :get , title: "List the batches uploaded by the user; they will no longer be able to log into the system"%></td>
                  <% if userid.active %>
                    <td ><%= link_to 'IN', disable_userid_detail_path(userid), data: { confirm: 'Are you sure?' }, method: :get  , title: "Disable the user; they will no longer be able to log into the system"%></td>
                  <% else%>
                    <td ><%= link_to 'ACT', disable_userid_detail_path(userid), data: { confirm: 'Are you sure?' }, method: :get  , title: "Reactivate the user; they will now be able to log into the system"%></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </section>
    <%else%>
      There are no members
    <% end %>
  </div>