
<%= simple_form_for @userid, :html => { :class => "grid"} do |f| %>
  
<p style="text-align: center">Required fields are show with an *</p>
  <% if controller.action_name == 'new' || controller.action_name == 'create'%>
    <%= f.input :userid,:label => "UserID",:input_html => { :class => "simple_form_bgcolour",:size => 40 }%>
    <% if (@user.person_role == 'system_administrator' || @user.person_role == 'volunteer_coordinator') && !session[:my_own] %>
      <%= f.input :syndicate,:label => "Syndicate",:include_blank => false, :collection => @syndicates, :input_html => {  :class => "text-input simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 4 }%>
      <%= f.input :person_role,  :collection => UseridRole::VALUES, :include_blank => false,:label => "Role in FreeREG :", :input_html => {  :class => " simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 4 }%>
    <% else%>
        <%= f.input :syndicate, :label => "Syndicate",:include_blank => false, :collection => @syndicates,:input_html => {:class => "  simple_form_position", :size => 2}, :hint => "You can only create a Userid in your own syndicate"%>
         <%= f.input :person_role,:label => "Role in Freereg",:include_blank => false,:collection => ["transcriber", "trainee"],:input_html => {  :class => " simple_form_bgcolour simple_form_position overide_selection_field_width",:size => 2 },:selected => "trainee" %>
    <% end%>
  <% else%>
    <%= f.input :userid, :label => "UserId",:input_html => { :size => 40, :disabled => true }%>
    <% if (@user.person_role == 'system_administrator' || @user.person_role == 'volunteer_coordinator') && !session[:my_own] %>
      <%= f.input :syndicate,:label => "Syndicate",:include_blank => false, :required => true, :collection => @syndicates,:input_html => {  :class => "text-input simple_form_bgcolour simple_form_position", :size => 4 }, :hint => "The syndicate MUST be selected"%>
      <%= f.input :person_role,  :collection => UseridRole::VALUES, :include_blank => false,:label => "Role in FreeREG :", :input_html => {  :class => " simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 4 }%>
      <%= f.input :email_address_valid, :collection => [['Yes', 'true'], ['No', 'false']], :selected => @userid.email_address_valid, :label => @userid.userid+"'s email address is valid", :input_html => { :class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 2, "data-tooltip" => true, :title => "Set to No if you want "+@userid.userid+" to validate the registered email address at next log in"} %>
      <%= f.input :email_address_last_confirmned,:label => "Last email confirmation", :input_html => {   :class => "text-input simple_form_bgcolour simple_form_position overide_selection_field_width" }%>

    <% else%>
        <%= f.input :syndicate, :label => "Syndicate",:input_html => { :size => 40, :disabled => true }%>
         <%= f.input :person_role,:label => "Role in Freereg",:input_html => { :size => 40, :disabled => true }%>

        <% if (manager?(@user)) %>
          <%= f.input :email_address_valid, :collection => [['Yes', 'true'], ['No', 'false']], :selected => @userid.email_address_valid, :label => @userid.userid+"'s email address is valid", :input_html => { :class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 2, "data-tooltip" => true, :title => "Set to No if you want "+@userid.userid+" to validate the registered email address at next log in"} %>
          <%= f.input :email_address_last_confirmned,:label => "Last email confirmation", :input_html => {   :class => "text-input simple_form_bgcolour simple_form_position overide_selection_field_width" }%>
        <% end %>
    <% end%>
  <% end%>
  <%= f.input :person_forename,:label => "Forename", :required => true, :input_html => {:class => "simple_form_bgcolour", :size => 40 }%>
  <%= f.input :person_surname,:label => "Surname", :required => true,:input_html => { :class => "simple_form_bgcolour",:size => 40 }%>
  <%= f.input :email_address,:label => "Email", :required => true,:input_html => {:class => "simple_form_bgcolour", :size => 40 }%>

  <%= f.input :address,:label => "Physical location",:hint => "Just a country will do",:input_html => {:class => "simple_form_bgcolour", :size => 40 }%>
  <% unless @user.person_role == 'researcher' %>
    <%= f.input :telephone_number,:label => "Telephone",:input_html => {:class => "simple_form_bgcolour", :size => 40 }%>
    <%= f.input :fiche_reader, :as => :boolean,boolean_style: :inline,:label => "Has a Fiche Reader?"%>
    <%= f.input :transcription_agreement, :as => :boolean,:label => "Transcription agreement accepted?"%>
    <% unless session[:my_own] %>           
      <%= f.input :skill_level, :collection => UseridRole::SKILLS, :required => true, :include_blank => false,:label => "Transcription level skill",:input_html => {  :class => "text-input simple_form_bgcolour simple_form_position overide_selection_field_width",  :size => 4},:selected => "Learning" %>
      <%= f.input :active, :as => :boolean,boolean_style: :inline,:label => "Active" %>
      <%= f.hint "If you are changing to inactive, specify the reason below. Put additional explanation (if any) in the text field after the selection." %>
      <%= f.input :disabled_reason_standard,  :collection => UseridRole::REASONS_FOR_INACTIVATING, :include_blank => true,:label => "Reason for making inactive :", :input_html => {  :class => " simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 4 }%>


      <%= f.input :disabled_reason,:hint => "If you selected 'Other' or need to add information, explain here.",:label => "Reason for making inactive (explanation)",:input_html => {:class => "simple_form_bgcolour", :size => 40}%>

      <%= f.input :no_processing_messages, :collection => [['Yes', 'true'], ['No', 'false']], :selected => @userid.no_processing_messages, :label => "SC upload data", :input_html => {  :class => " simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 2, "data-tooltip" => true, :title => "no email to transcriber if SC upload data"} %>

      <% unless @userid.active %> 
        <%= f.input :disabled_date,:label => "Date made inactive", :input_html => { :size => 30, :disabled => true}%>
      <% end%>
    <% end%>
    <%= f.input :last_upload,:label => "Date of last upload", :input_html => { :size => 30, :disabled => true }%>
    <%= f.input :sign_up_date,:label => "Date signed up", :input_html => { :size => 30, :disabled => true }%>
    <%= hidden_field_tag(:page_name, params[:page_name]) %>
  <% end %>
  <%= f.button :submit, 'Update' %>
  <% end %>
