<p><strong><%= link_to "Open Data:", "http://www.freeukgenealogy.org.uk/about/opendata/",:class => "go", target: :_blank %></strong> your transcriptions are currently set to: no preference, and will not be shared as open data. To make your transcriptions Open please accept the Transcription Agreement status. If you have any questions about transcribing or the documents linked below, please ask us! volunteers@freereg.org.uk</p>
<%= simple_form_for @userid do |f| %>
  <%= f.check_box :transcription_agreement%>
    <span>I have read and hereby sign, the <%= link_to 'Transcription Agreement(pdf)', "http://www.freeukgenealogy.org.uk/files/Documents/FreeUKGenealogyTranscriptionAgreement.pdf", target: '_blank', title: "Click here to view or download the Agreement" %></span><br /><br />
    <%= f.button :submit, 'Accepted Transcription Agreement'%>
<% end %>
