<div style="text-align: center">
  <% unless @user.email_address_validity_change_message.empty?%>
    <div >
      <p>Your email address: <b><%= @user.email_address %></b>, has been made </p>
      <ul>
        <% @user.email_address_validity_change_message.last(2).each do |element| %>
          <li><strong style="color: #009f98"><%= element %></strong> for <strong style="color: #009f98"><%= @user.reason_for_invalidating.nil? ? "UnSpecified" : @user.reason_for_invalidating %> reason </strong></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <b>Your current email address is <br>
      <br>
      <%= @current %></b>
  <% end %>
</div>
<p>Please check that <b style="color: #009f98"><% if appname_downcase == 'freereg'%> @freereg.org.uk <% else%> @freecen.org.uk <%end%> </b> is in your list of contacts (this avoids our emails to you from going into your spam folder).<br>
  Then confirm your email address by either ticking the 'true' or 'false' radio-button below, and then the large Confirm button. <br>
  You will then be taken either to the normal login landing page or to a page where you can update your email address.</p>
<%= simple_form_for @userid, :html =>{:style => 'margin: auto ; width: 10%' } do |f| %>
  <%= f.input_field :email_address_valid,  :as => :radio_buttons,  :collection => @options%>
  <br>
  <br>
  <br>
  <%= f.button :submit, 'Confirm'   %>
<% end %>