<div class="grid__item">
  <% if @coordinators.present? %>
    <section class="island">
      <div class="scrollable">
        <table class="table--bordered my-width table--data just--left">
          <thead>
            <tr>
              <th class='sticky-header' style="width:10%">UserID</th>
              <th class='sticky-header' style="width:15%">Name</th>
              <th class='sticky-header' style="width:20%">Email Address</th>
              <th class='sticky-header' style="width:25%">Counties Coordinated</th>
              <th class='sticky-header' style="width:25%">Syndicates Coordinated</th>
            </tr>
          </thead>
          <tbody>
            <% @coordinators.each do |userid, user| %>
              <tr id="<%= user.id %>">
                <td><%= user.userid %></td>
                <td><%= "#{user.person_forename} #{user.person_surname}" %></td>
                <td><%= user.email_address %></td>
                <td>
                  <% if user.county_groups.present? %>
                    <%= user.county_groups.map { |cc| @county_names[cc] }.compact.uniq.join(', ') %>
                  <% else %>
                    No counties coordinated
                  <% end %>
                </td>
                <td>
                  <% if user.syndicate_groups.present? %>
                    <%= user.syndicate_groups.join(', ') %>
                  <% else %>
                    No syndicates coordinated
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  <% else %>
    There are no Coordinators
  <% end %>
</div>