Page Identification UserDetals: Inactive<p>
<p style="text-align: center"><b>Changing Userid to inactive</b> </p>
<%= semantic_form_for @userid do |f| %>

<%= f.input :userid,:label => "The UserId :",:input_html => { :disabled => true ,:size => 30 }%>
<%= f.input :disabled_reason,:label => "Reason for making inactive :",:input_html => { :size => 60 }%>
 <%= f.action :submit, :as => :input, :label => 'Update'   %>
 <% end %>

<div  style="float:left;"> <%= button_to 'Resource Management', manage_resource_path(@user), method: :get %> </div>
<div style="float:left;">  <%= button_to_function "Previous Page", "history.back()" %> </div>
<div style="float:left;"> <%= button_to" Logout", refinery.logout_path , method: :get%></div>
<div style="clear:both;"> </div><br>