<p style="text-align: center"><b>Changing Userid to inactive</b> </p>
<%= semantic_form_for @userid do |f| %>

<%= f.input :userid,:label => "The UserId :",:input_html => { :disabled => true ,:size => 30 }%>
<%= f.input :disabled_reason,:label => "Reason for making inactive :",:input_html => { :size => 60 }%>
 <%= f.action :submit, :as => :input, :label => 'Update'   %>
 <% end %>
 <% if @role =='counties' %>
<div  style="float:left;"> <%= button_to 'County Mangement Tools Page', manage_counties_path, method: :get %></div>
<%end%>
<% if @role =='syndicate' %>
<div  style="float:left;"> <%= button_to 'Syndicate Mangement Tools Page', manage_syndicates_path, method: :get %></div>
<%end%>
<div style="clear:both;"> </div><br>