<% breadcrumb :userid_details_listing, @syndicate%>
<h3 class=" delta text--center">Syndicate Members Management for <%=@syndicate%> :<%=@sorted_by%> </h3>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>
<div class="grid__item ">
  <% unless @userids.nil? %>
    <section class="island ">
      <div style="overflow: hidden;">
        <table class="my-width-min flush--bottom" >
          <thead >
            <tr>    
              <th class="t15">UserID</th>
              <th class="t10">Forename</th>
              <th class="t13">Surname</th>
              <th class="t20">Email</th>
              <th class="t5">Active</th>
              <th class="t6">Upload</th>
              <th class="t5">Files </th>
              <th colspan="4"class="t12">Action <a href="#" class="left_tooltip" onclick="return false;"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>SH: Show details; ED: Edit the details; LB: List the batches; IN: Inactivate the userid; ACT:Activate the userid. </span></a></th>
            </tr>
          </thead>
        </table>
        <div class="scrollable ">
          <table class=" table--bordered my-width table--data just--left">
            <tbody >   
              <% @userids.each do |userid| %>
                <tr id="<%=userid.id%>">
                  <td class="t15"> <%= userid.userid %>  </td>
                  <td class="t15"> <%= userid.person_forename %>  </td>
                  <td class="t15"> <%= userid.person_surname %>  </td>
                  <td class="t25"> <%= userid.email_address %> </td>
                  <td class="t3">     <% if userid.active %> <%="Y" %>    <% else%>    <%="N" %>     <% end%>     </td>
                  <td class="t10"> <%= userid.last_upload.strftime("%d %b %Y") unless  userid.last_upload.nil?%>  </td>
                  <td class="t4"> <%= userid.freereg1_csv_files.count %>  </td>
                  <td class="t4"><%= link_to 'SH', userid_detail_path(userid), method: :get  %></td>
                  <td class="t4"><%= link_to 'ED', edit_userid_detail_path(userid), method: :get  %></td>
                  <td class="t4"><%= link_to 'LB', by_userid_freereg1_csv_file_path(userid), method: :get  %>   </td>    
                  <% if userid.active %>
                    <td class="t4"><%= link_to 'IN', disable_userid_detail_path(userid), data: { confirm: 'Are you sure?' }, method: :get  %></td>
                  <% else%>
                    <td class="t4"><%= link_to 'ACT', disable_userid_detail_path(userid), data: { confirm: 'Are you sure?' }, method: :get  %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  <%else%>
    You have no transcribers
  <% end %>
</div>