<p style="text-align: center"><b>Syndicate Members Management for <%=session[:syndicate]%></b></p>
<div style="float:left;"> <%= button_to 'Create a new Profile', new_userid_detail_path, method: :get %> </div>

<div  style="float:left;"> <%= button_to 'Resource Management', manage_resource_path(@user), method: :get %> </div>
<div style="float:left;">  <%= button_to_function "Previous Page", "history.back()" %> </div>
<div style="clear:both;"> </div><br>

 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %> <br>
    </div>
   <% end %>


<div id="main"style="color:black">
<table  CLASS="boldtable" style="width: 100%">
  <tr>
    
    <th style="width:14%">UserID</th>
    <th style="width:10">Forename</th>
    <th style="width:10%">Surname</th>
    <th style="width:35%">Email</th>
    <th style="width:4%">Active</th>
    <th style="width:13%">Last Upload</th>
    <th style="width:7%">Files</th>
    <th style="width:7%">Records</th>
   


  </tr>
<% unless @userids.nil? %>
<% @userids.each do |userid| %>
  <tr id="<%=userid.id%>">
   <td > <%= userid.userid %>  </td>
   <td > <%= userid.person_forename %>  </td>   
   <td > <%= userid.person_surname %>  </td>   
   <td ><div class=scrollable> <%= userid.email_address %> </div> </td> 
    <td > <%= userid.active %>  </td> 
    <td > <%= userid.last_upload.strftime("%d %b %Y") unless  userid.last_upload.nil?%>  </td> 
    <td ><%= userid.number_of_files %> </td> 
    <td ><%= userid.number_of_records %> </td>  
    </tr>
    <tr>
     <td></td><td></td><td><%= button_to 'Show', userid_detail_path(userid), method: :get  %></td><td><%= button_to 'Edit details', edit_userid_detail_path(userid), method: :get  %></td> <td><%= button_to 'Disable', disable_userid_detail_path(userid), data: { confirm: 'Are you sure?' }, method: :get  %></td> 
  </tr>
  <% end %>
  <%else%>
  You have no transcribers
  <% end %>
</table>
</div>
<div style="float:left;"> <%= button_to 'Create a new Profile', new_userid_detail_path, method: :get %> </div>

<div  style="float:left;"> <%= button_to 'Resource Management', manage_resource_path(@user), method: :get %> </div>
<div style="float:left;">  <%= button_to_function "Previous Page", "history.back()" %> </div>
<div style="clear:both;"> </div><br>




