<% breadcrumb :userid_details_listing, @syndicate%>
<p style="text-align: center"><b>Syndicate Members Management for <%=@syndicate%> :<%=@sorted_by%></b></p>
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>

<%= paginate @userids %> 

<div id="main"style="color:black">
<table  class="table--bordered  table--data">
  <tr>
    
    <th >UserID</th>
    <th >Forename</th>
    <th >Surname</th>
    <th >Email</th>
    <th >Active</th>
    <th >Last Upload</th>
    <th >Batches</th>
    <th >Records</th>
    <th colspan="7">Action<br>SH: Show, ED: Edit, LB: List Batches<br>
    IN/ACT: Inactivate/Activate<br>SPR: Send Password Reset</th>


  </tr>
<% unless @userids.nil? %>

<% @userids.each do |userid| %>
  <tr id="<%=userid.id%>">
   <td > <%= userid.userid %>  </td>
   <td > <%= userid.person_forename %>  </td>   
   <td > <%= userid.person_surname %>  </td>   
   <td ><div class=scrollable> <%= userid.email_address %> </div> </td> 
    <td > <%= userid.active %>  </td> 
    <td > <%= userid.last_upload.strftime("%d %b %Y") unless  userid.last_upload.nil?%>  </td> 
    <td ><%= userid.number_of_files %> </td> 
    <td ><%= userid.number_of_records %> </td>  
    
     <td><%= button_to 'SH', userid_detail_path(userid), method: :get  %>
     </td><td><%= button_to 'ED', edit_userid_detail_path(userid), method: :get  %>
      </td><td><%= button_to 'LB', by_userid_freereg1_csv_file_path(userid), method: :get  %>
      
      <% if userid.active %>
     </td> <td><%= button_to 'IN', disable_userid_detail_path(userid), data: { confirm: 'Are you sure?' }, method: :get  %>
       </td> 
      <% else%>
     </td> <td><%= button_to 'ACT', disable_userid_detail_path(userid), data: { confirm: 'Are you sure?' }, method: :get  %>
       </td>
      <% end %>
       </td><td><%= button_to 'SPR', change_password_userid_detail_path(userid), method: :get %>
     
      <% if @user.person_role == 'system_administrator' || @user.person_role  == 'technical'%>     
     </td><td> </td> <td><%= button_to 'DES', userid_detail_path(userid), data: { confirm: 'Are you absolutely sure?' }, method: :delete  %>
      <% end %>   
  </tr>
  <% end %>
  <%else%>
  You have no transcribers
  <% end %>
</table>
<%= paginate @userids %> 

</div>
<br>




