<p style="text-align: center"><b>Syndicate Members Management for <%=session[:syndicate]%> :<%=@sorted_by%></b></p>
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>

<%= paginate @userids %> 

<div id="main"style="color:black">
<table  class="table--bordered  table--striped  table--data">
  <tr>
    
    <th style="width:14%">UserID</th>
    <th style="width:10">Forename</th>
    <th style="width:12%">Surname</th>
    <th style="width:33%">Email</th>
    <th style="width:4%">Active</th>
    <th style="width:13%">Last Upload</th>
    <th style="width:7%">Files</th>
    <th style="width:7%">Records</th>
   


  </tr>
<% unless @userids.nil? %>

<% @userids.each do |userid| %>
  <tr id="<%=userid.id%>">
   <td > <%= userid.userid %>  </td>
   <td > <%= userid.person_forename %>  </td>   
   <td > <%= userid.person_surname %>  </td>   
   <td ><div class=scrollable> <%= userid.email_address %> </div> </td> 
    <td > <%= userid.active %>  </td> 
    <td > <%= userid.last_upload.strftime("%d %b %Y") unless  userid.last_upload.nil?%>  </td> 
    <td ><%= userid.number_of_files %> </td> 
    <td ><%= userid.number_of_records %> </td>  
    </tr>
    <tr>
     <td><%= button_to 'Show', userid_detail_path(userid), method: :get  %>
     </td><td><%= button_to 'Edit', edit_userid_detail_path(userid), method: :get  %>
      </td><td><%= button_to 'List batches', by_userid_freereg1_csv_file_path(userid), method: :get  %>
       </td><td><%= button_to 'Send password change request', change_password_userid_detail_path(userid), method: :get %>
  
      <% if userid.active %>
     </td> <td><%= button_to 'Inactivate', disable_userid_detail_path(userid), data: { confirm: 'Are you sure?' }, method: :get  %>
       </td> 
      <% else%>
     </td> <td><%= button_to 'Activate', disable_userid_detail_path(userid), data: { confirm: 'Are you sure?' }, method: :get  %>
       </td>
      <% end %>   
      <% if @user.person_role == 'system_administrator' || @user.person_role  == 'technical'%>     
     </td><td> </td> <td><%= button_to 'Destroy', userid_detail_path(userid), data: { confirm: 'Are you absolutely sure?' }, method: :delete  %>
      <% end %>   
  </tr>
  <% end %>
  <%else%>
  You have no transcribers
  <% end %>
</table>
<%= paginate @userids %> 

</div>
<br>




