 <% breadcrumb :regmanager_userid_options if session[:edit_userid]%> 
 <% breadcrumb :coordinator_userid_options unless session[:edit_userid]%>  
<div id="notice" style="color:red"><br>
  <% if flash[:notice] %>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  <% end %>
</div>
<div >
  <%@options.each do |option| %>
    <% unless option == "Import Users" %>
      <%= link_to option, UseridRole::USERID_OPTIONS_TRANSLATION[option],  method: :get , :class => "btn weight--light btn--small"%> <br>
    <% else %>
      <%= link_to option, "#" ,  :class => "btn weight--light btn--small", :id => "show_form_for_import_users"%> <br>
    <% end %>
  <%end%>
</div>
<div id="form_for_import_users">
  <div class="island island--bordered text--center">
    <h3>Import Users From CSV File</h3>
    <%= form_tag import_userid_details_path(:file), :id=> "file_upload_form", multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Upload Users", :class => "btn weight--light btn--small", :id => "upload_users" %>
    <% end %>
    <strong><p id="upload_users_helper_text">Importing Users Failed</p></strong>
    <strong><p id="upload_users_helper">Importing Users....</p></strong>
  </div>
</div>

<%= render "resource_sidebar" %>

<script type="text/javascript" >
  $("#form_for_import_users").hide();
  $('#show_form_for_import_users').click(function() {
    $('#form_for_import_users').slideDown();
  });

  $("#upload_users_helper").hide();
  $("#upload_users_helper_text").hide();
  $('#upload_users').click(function() {
    $('#upload_users_helper').slideDown();
    $("#upload_users_helper_text").hide();
  });

  $(document).ready(function () {
    $('#file_upload_form').submit(function(event) {
       var file = $('input[type=file]').val();
       if ( ! file) {
           alert('The file is required.');
           event.preventDefault();
           $('#upload_users_helper_text').show();
           $("#upload_users_helper").hide();
           return;
       };
       if (file.split('.').pop() != 'csv') {
           alert('CSV or Excel files only!');
           event.preventDefault();
           $('#upload_users_helper_text').show();
           $("#upload_users_helper").hide();
       };
    });
  });
</script>



