<p>
  <b>
    After successfully submitting this form you will receive an email that contains a link to complete the registration process. Click on that link (or copy and paste it into you browser address window)
    WITHIN 24HRS.
  </b></p>
<p style="text-align: center"><b>Welcome to the <%= appname %> Researcher Registration process.</b></p>
<p>Please provide us with the following information</p>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<%= semantic_form_for @userid do |f| %>
  <div id="main"style="color:black">
    <table  class="table--bordered  table--striped  table--data">
      <tr>
        <th style="width:70%">Field</th>
        <th style="width:30">Value</th>
      </tr>
      <tr>
        <td>
          Please provide us with a unique identification name. This will be used by the system to identify you at all times. The name must only contain alphabetic characters and numbers; it must NOT contain any special characters or spaces. It can be of any length. Avoid using your forename as it likely to have already been taken. <b>Mandatory</b>
        </td>
        <td>
          <%= f.input :userid,:input_html => { :size => 35 }, :error_html => { :id => "error_messages"}%> </td>
      </tr>
      <tr>
        <td>
          Your forename or given name
        </td>
        <td>
          <%= f.input :person_forename,:input_html => { :size => 35 }%></td>
      </tr>
      <tr>
        <td>Your surname</td>
        <td>
          <%= f.input :person_surname,:input_html => { :size => 35 }%></td>
      </tr>
      <tr>
        <td>Your email address</td>
        <td>
          <%= f.input :email_address,:input_html => { :size => 35 } , :error_html => { :id => "error_messages"}%></td>
      </tr>
      <tr>
        <td>
          Please provide us with your physical location, i.e. Country.
        </td>
        <td>
          <%= f.input :address,:input_html => { :size => 35 }%></td>
      </tr>
      <tr>
        <td>
          <tr>
            <td>
              Please read the researcher <%= link_to 'participation agreement', places_path%> and confirm that you accept these terms. PLEASE NOTE THE AGREEMENT IS NOT THERE YET
            </td>
            <td>
              <%= f.input :transcription_agreement, {:as => :select,  :collection => [false,true], :required => true,:size => 35}%></td>
          </tr>
        </table>
    <li class="betterstyling grid__item seven-twelfths lap-one-whole palm-one-whole">
      <label class="label ttip" for="<%= @userid[:honeypot] %>" > Leave this field blank </label>
      <input type="text" id="<%= @userid[:honeypot] %>" name="<%= @userid[:honeypot] %>">
      <input type="hidden" id="__TIME" name="__TIME" value="<%= Time.now %>" />
    </li>
        <%#= hidden_field :__TIME, :value => "#{Time.now}" %>
        <p><b>After submitting this form you will be redirected to the home page and will receive an email that contains a link to complete the registration process. Click on that link (or copy and paste it into you browser address window) WITHIN 24HRS. </b></p>
        <%= f.action :submit, :as => :input, :label => 'Register Researcher' %>
      <% end %>
    </div>