<%= semantic_form_for @userid do |f| %>


    <div id="main"style="color:black">
<table  style="width: 100%">
  <tr>    
    <th style="width:70%">Field</th>
    <th style="width:30">Value</th>
  </tr>

<tr><td>
Please provide us with a unique idenfification code. This will be used by the system to identify you. The code must only contain alphabetic characters and numbers; it must NOT contain any special characters or spaces. It can be of any length. Avoid using codes that just contain your forename as it likely to have already been taken. 
</td><td> 
<%= f.input :userid,:input_html => { :size => 35 }%> </td></tr>
<tr><td>
Your forename or given name
</td><td>
<%= f.input :person_forename,:input_html => { :size => 35 }%></td></tr>
<tr><td>Your surname</td><td>
<%= f.input :person_surname,:input_html => { :size => 35 }%></td></tr>
<tr><td>Your email address</td><td>
<%= f.input :email_address,:input_html => { :size => 35 } %></td></tr>
<tr><td>
Please provide us with you physical location, i.e. what part of the world you are located in.
</td><td>
<%= f.input :address,:input_html => { :size => 35 }%></td></tr>
<tr><td>
Please provide us with a telephone number in case we need to contact you.
</td><td>
<%= f.input :telephone_number,:input_html => { :size => 35 }%></td></tr>

</table>

<p>
Please provide us with a short description of your skills and interests that would be applicable to FreeREG.</p>

<%= f.input :skill_notes,:input_html => { :size => 100 }%><br>
<p><b>After submitting this form you will be redirected to the home page and will receive an email that contains a link to complete the registration process. Click on that link or copy and paste it into you browser addres window WITHIN 24HRS. </b></p>

 
    <%= f.action :submit, :as => :input, :label => 'Technical Registration' %>
   <% end %>
</div>


