<% title "Transcriber Registration" %>
<h1 class="title ">Transcriber Registration</h1>
<div class="grid">
  <div class="grid__item two-thirds lap-one-half palm-one-whole">
    <div class="read-length">
      <p>Thank you for volunteering as a transcriber for FreeReg. To join one of our existing teams of transcribers (we call them syndicates), fill in this form with your details: we will not share them with any outside organisation.</p>
      <p>Then select a team from the list of <q>Syndicates available</q>.</p>
      <p>After successfully submitting the form, you will receive an email that contains a link to complete the registration process. Click on that link or copy and paste it into you browser&rsquo;s address window. You must respond to the email <em>within 24 hours</em>. If you have not received it within a few minutes, please check your spam folder.</p>
    </div>
  </div>
  <aside class="grid__item one-third lap-one-half palm-one-whole">
    <a href="/contacts/new" class="banner banner--navy" title="Contact us">
      <h2 class="banner__title">Questions? Data?</h2>
      <p class="banner__body">For more information before you register, or if you have some data to contribute, please <b>Contact Us</b>, selecting the <q>Volunteer</q> option in that form.</p>
    </a>
  </aside>
</div>
<% if flash[:notice] %>
  <div class="weight--semibold text--center push--bottom" style="color: #a1185a;">
    <%= flash[:notice] %>  <% flash[:notice] = nil %>
  </div>
<% end %>
<% if @userid.errors.any? %>
  <h2 class="gamma text--center"><%= pluralize(@userid.errors.count, "error") %> prohibited this registration from being processed</h2>
  <ul class="validation-list" >
    <% @userid.errors.full_messages.each do |msg| %>
      <li class="validation-list__error text--center" ><%= msg %></li>
    <% end %>
  </ul>
  <%@userid.errors.clear%>
<% end %>  

<%= semantic_form_for @userid do |f| %>
  <fieldset class="inputs">
    <legend>Transcriber registration</legend>
    <ol class="grid">
      <li class="grid__item one-third lap-one-half palm-one-whole">
        <label class="label ttip" for="forename" tabindex="0">Forename
          <%= image_tag 'info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Required. Your forename for when we contact you</span>
        </label>
        <% if @userid.person_forename.nil? %>
        <input id="forename" name="userid_detail[person_forename]" type="text" class="text-input" placeholder="Required">
        <% else %>
        <input id="forename" name="userid_detail[person_forename]" type="text" class="text-input" value="<%=@userid.person_forename%>">
        <% end %>
      </li>
      <li class="grid__item one-third lap-one-half palm-one-whole">
        <label class="label ttip" for="surname" tabindex="0">Surname
          <%= image_tag 'info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Required. Your surname for when we contact you</span>
        </label>
        <% if @userid.person_surname.nil? %>
        <input id="surname" name="userid_detail[person_surname]" type="text" class="text-input" placeholder="Required">
        <% else %>
        <input id="surname" name="userid_detail[person_surname]" type="text" class="text-input" value="<%=@userid.person_surname%>">
        <% end %>
      </li>
      <li class="grid__item one-third lap-one-half palm-one-whole">
        <label class="label ttip" for="email_address" tabindex="0">Your email address
          <%= image_tag 'info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Required. Your email address so we can contact you: it will not be made public</span>
        </label>
        <% if @userid.email_address.nil? %>
        <input id="email_address" name="userid_detail[email_address]" type="text" class="text-input" placeholder="Required" required="required">
        <% else%>
        <input id="email_address" name="userid_detail[email_address]" type="text" class="text-input" value="<%=@userid.email_address%>">
        <% end%>
      </li>
      <li class="grid__item one-third lap-one-half palm-one-whole">
        <label class="label ttip" for="username" tabindex="0">User name (UserID)
          <%= image_tag 'info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Required. A <em>unique</em> way to identify you. Letters and numbers <em>only</em>. Any length</span>
        </label>
        <% if @userid.userid.nil? %>
        <input id="username" name="userid_detail[userid]" type="text" class="text-input" placeholder="Required">
        <% else %>
        <input id="username" name="userid_detail[userid]" type="text" class="text-input" value="<%=@userid.userid%>">
        <% end %>
      </li>
      <li class="grid__item one-third lap-one-half palm-one-whole">
        <label class="label ttip" for="location" tabindex="0">Location
          <%= image_tag 'info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Optional. The country you live in: this helps us if we need to contact you</span>
        </label>
        <% if @userid.address.nil? %>
        <input id="location" name="userid_detail[address]" type="text" class="text-input" placeholder="Optional">
        <% else %>
        <input id="location" name="userid_detail[address]" type="text" class="text-input" value="<%= @userid.address %>">
        <% end %>
      </li>
      <li class="grid__item one-third lap-one-half palm-one-whole">
        <label class="label ttip" for="phone" tabindex="0">Phone Number
          <%= image_tag 'info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Optional. Used only if we need to talk to you. Give country code if not UK</span>
        </label>
        <% if @userid.telephone_number.nil? %>
        <input id="phone" name="userid_detail[telephone_number]" type="text" class="text-input" placeholder="Optional">
        <% else %>
        <input id="phone" name="userid_detail[telephone_number]" type="text" class="text-input" value="<%= @userid.telephone_number %>">
        <% end %>
      </li>
      <li class="grid__item seven-twelfths lap-one-whole palm-one-whole">
        <label class="label ttip" for="syndicate" tabindex="0">Syndicates available
          <%= image_tag 'info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Select a syndicate to work with. If you are in doubt, select the <q>England, rest of</q> group &mdash; you can move later depending upon your interests</span>
          <small class="additional">Required</small>
        </label>
        <select id="syndicate" name="userid_detail[syndicate]" class="select" required="required" size="5">
          <% @syndicates.each do |value| %>
            <% if value == @userid.syndicate %>
              <option value="<%=value%>" selected="selected" ><%=value%></option>
            <% else %>
              <option value="<%=value%>" ><%=value%></option>
            <% end %>
          <% end %>
        </select>
      </li>
      <%= f.action :submit, :as => :input, :label => 'Register as Transcriber', 
        :button_html => { :class => "btn", :type => 'submit' },
        :wrapper_html => { :class => "grid__item one-whole" } %>
    </ol>
  </fieldset>
<% end %>
