<h2>Transcriber information: <%= @username %></h2>
<table class="table--bordered table--data">
  <caption class="accessibility">Information about <%= @username %>  </caption>
  <tbody>
  <tr>
    <th scope="row">
      Transcriber name
    </th>
    <td>
      <%= @username %>
    </td>
  </tr>
  <tr>
    <th scope="row">
      No of records transcribed
    </th>
    <td>
      <%= @total %>
    </td>
  </tr>
  <% if not @email.blank? %>
    <tr>
      <th scope="row">
        Email address
      </th>
      <td>
        <%= @email %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
