Page Identification Manage Freereg:new<p>
<p style="text-align: center"><b>From here you can manage FreeREG</b></p>
<div id="nav">
<div style="float:left;"><%= button_to 'Manage All Profiles', all_userid_detail_path, method: :get  %></div>

<div style="float:left;"> <%= button_to 'Manage Syndicate Coordinators', syndicates_path, method: :get  %> </div>
<div style="float:left;"><%= button_to 'Manage County Coordinators',  counties_path, method: :get  %></div>

<div style="float:left;"><%= button_to 'Manage Country Coordinators', countries_path, method: :get  %></div>
<div style="float:left;"><%= button_to "Manage County Data ", manage_counties_path, method: :get  %></div>

<div style="float:left;"><%= button_to 'Retrieve Attic files', my_saved_searches_path, method: :get %></div>


<div style="float:left;"><%= button_to "Retrieve Activity logs ", my_saved_searches_path, method: :get   %> </div>
<div  style="float:left;"> <%= button_to 'Resource Management', manage_resource_path(@user), method: :get %> </div>




<div style="clear:both;"> </div><br>
</div>