<% if session[:my_own] %>
  <% x = @assignment.values.first.values.first.values.first %>
  <div style="text-align: center">
    <%= link_to 'List Image Groups Under My Syndicate', my_list_by_syndicate_image_server_group_path, method: :get, :class => "btn btn--small" %>
    <%= link_to 'Image Groups Available for Allocation(By County)', select_county_assignment_path, method: :get, :class => "btn btn--small" %>
    <% if ['bt','br'].include? x[:status] %>
      <%= link_to 'Send Finish Email to SC', assignment_path(x[:id], :status=>x[:status], :type=>'complete'), data: { confirm: 'Click OK if the assignment has been Completed' }, method: :put, :class => "btn btn--small" %>
    <% end %>
  </div>
  <div style="clear:both;"> </div>
  <br>
<% end %>
<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom">
    <thead>
      <tr>
        <% if not session[:my_own] %>       <%# display only from 'List Assignment by userid' #%>
          <th class="t8">User</th>
        <% end %>
        <th class="t25">Image</th>
        <th class="t12">Difficulty</th>
        <th class="t30">Notes</th>
        <th class="t12" colspan=2>Action
          <a href="#" class="left_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '14' %>
            <% if session[:my_own] %>
              <span>VW: View Original Image;<br>
                DL: Download Original Image</span></a>
          <% else %>
            <span>VW: View Original Image;<br>
              DL: Download Original Image;<br>
              AC: Accept Assignment Submitted;<br>
              UN: Unassign Images in This Assignment;<br>
              RA: Re_assign Images in This Assignment</span></a>
        <% end %>
      </th>
      <th class="t12">Status</th>
    </tr>
  </thead>
</table>
<div class="scrollable">
  <table class=" table--bordered my-width table--data just--left">
    <tbody>
      <% prev_id = '' %>
      <% @images.each do |image| %>
            <tr>
              <% rows = x[:id] != prev_id ? @count[x[:id]] : 0 %>
              <% prev_id = x[:id] %>
              <% assignment_type = image.status == 'bt' ? 'transcriber' : 'reviewer' %>
              <% if not session[:my_own] %>   <%# display only from 'List Assignment by userid' #%>
                <% if rows != 0 %>
                  <td class="t8" rowspan=<%= rows*2 %> style="vertical-align: top"><%= x[:userid] %>&nbsp;</td>
                <% end %>
              <% end %>
              <td class="t25"><%= link_to image.image_file_name, list_assignment_image_assignment_path(image.id), :remote=>true %>&nbsp;</td>
              <td class="t12"><%= SourceProperty::DIFFICULTY[image.difficulty] %>&nbsp;</td>
              <td class="t30"><%= image.notes %>&nbsp;</td>
              <% if session[:my_own] %>
                <td class="t12">
                <% else %>
                  <td class="t5">
                  <% end %>
                  <%= link_to 'VW', view_image_server_image_path(:object=> image.id), :title=>'view original image', method: :get, :target=>'_blank' %>
                  <%= link_to 'DL', download_image_server_image_path(:object=> image.id), :title=>'download original image', method: :get, :target=>'_blank' %>
                </td>
                <% if !session[:my_own] %>
                  <% if rows != 0 %>
                    <td class="t7" rowspan=<%= rows*2 %> style="vertical-align:top">
                      <% if params[:assignment].nil? %>
                        <% assignment_list_type = params[:assignment_list_type] %>
                      <% else %>
                        <% assignment_list_type = params[:assignment][:assignment_list_type] %>
                      <% end %>
                      <% if ['ts','rs'].include? x[:status] %>
                        <%= link_to 'AC', assignment_path(@assignment_id, :status=>image.status, :type=>'complete', :assignment_list_type=>assignment_list_type), :tilte=>'accept assignment', data: { confirm: 'Click OK if the assignment has been Completed' }, method: :put %>
                      <% end %>
                      <%= link_to 'UN', assignment_path(@assignment_id, :status=>image.status, :type=>'unassign', :assignment_list_type=>assignment_list_type), :title=>'un_assign assignment', data: { confirm: 'Click OK to un-assign the assignment'}, method: :put %>
                      <%= link_to 'RA', re_assign_assignment_path(@assignment_id, :image_server_group_id=>image.image_server_group_id, :assign_type=>assignment_type, :assignment_list_type=>assignment_list_type), :title=>'re_assign assignment', data: { confirm: 'Do you want to re-assign images in this assignment?'} %>
                    </td>
                  <% end %>
                <% end %>
                <% if rows != 0 %>
                  <td class="t12" rowspan=<%= rows*2 %> style="vertical-align:top"><%= SourceProperty::STATUS[image.status] %></td>
                <% end %>
              </tr>
              <tr id="<%= image.id %>" style="display:none;"></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div style="clear:both;"></div>
<br>