<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead>
      <tr>
        <% if not session[:my_own] %>       <%# display only from 'List Assignment by userid' #%>
          <th class="t12">User</th>
        <% end %>
        <th class="t12">Assignments</th>
        <th class="t12">Date</th>
        <th class="t12">Status</th>
        <th>Instructions</th>
        <th class="t8">Number</th>
        <th class="t10" colspan=2>Action
          <a href="#" class="left_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '14' %>
          <span>RM: Remove Image from Assignment; VW: View Original Image; DL: Download Original Image; AC: Accept Assignment Submitted; FIN: Notify SC assignment is finished; UN: Unassign Images in This Assignment; RA: Re_assign Images in This Assignment; ER: Change Image Status in This Assignment as ERROR</span></a>
        </th>
      </tr>
    </thead>
  </table>

  <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody>
        <% prev_id = '' %>
        <% if @assignment.nil? %>
          No Assignment Exists
        <% else %>
          <% @assignment.each do |x| %>
            <tr>
              <% rows = x[:fields][:_id] != prev_id ? @count[x[:_id]] : 0 %>
              <% prev_id = x[:fields][:_id] %>
              <% assignment_type = x[:fields][:images][:status] == 'it' ? 'transcriber' : 'reviewer' %>

              <% if rows != 0 %>
                <% if not session[:my_own] %>   <%# display only from 'List Assignment by userid' #%>
                  <% if rows != 0 %>
                    <td class="t12" rowspan=<%= rows %> style="vertical-align: top"><%= x[:fields][:userids][:userid] if !x[:fields][:userids].nil? %>&nbsp;</td>
                  <% end %>
                <% end %>
                <td class="t12"><%= x[:fields][:groups][:group_name] %>&nbsp;</td>
                <td class="t12"><%= x[:fields][:assign_date].to_date.strftime("%Y-%m-%d") %>&nbsp;</td>
                <td class="t12"><%= ImageServerImage::Status::ALL_STATUSES[x[:fields][:images][:status]] if !x[:fields][:images].nil? %>&nbsp;</td>
                <td><%= x[:fields][:instructions] %>&nbsp;</td>
                <td class="t8"><%= rows %>&nbsp;</td>

                <% if session[:my_own] %>
                  <td class="t10">
                <% else %>
                  <td class="t5">
                <% end %>
                  <% if !session[:my_own] %>
                    <%= link_to 'RM', assignment_path(x[:fields][:images][:_id], :assign_type=>assignment_type), data: { confirm: 'Are you sure you want to remove this image from assignment?' }, method: :delete if !x[:fields][:images].nil? %>
                  <% end %>
                  <% if rows == 1 %>
                    <%= link_to 'LS', list_assignment_image_one_assignment_path(x[:fields][:images][:_id]), :remote=>true if !x[:fields][:images].nil? %>
                  <% else %>
                    <%= link_to 'LS', list_assignment_image_many_assignment_path(x[:_id]), method: :get %>
                  <% end %>
                </td>

                <% if !session[:my_own] %>
                  <td class="t5"%>
                    <% if params[:assignment].nil? %>
                      <% assignment_list_type = params[:assignment_list_type] %>
                    <% else %>
                      <% assignment_list_type = params[:assignment][:assignment_list_type] %>
                    <% end %>

                    <%= link_to 'AC', assignment_path(x[:fields][:_id], :status=>x[:fields][:images][:status], :type=>'complete', :assignment_list_type=>assignment_list_type), data: { confirm: 'Click OK if the assignment has been Completed' }, method: :put %>
                    <%= link_to 'UN', assignment_path(x[:fields][:_id], :status=>x[:fields][:images][:status], :type=>'unassign', :assignment_list_type=>assignment_list_type), data: { confirm: 'Click OK to un-assign the assignment'}, method: :put %>
                    <%= link_to 'RA', re_assign_assignment_path(x[:fields][:_id], :image_server_group_id=>x[:fields][:images][:image_server_group_id], :assign_type=>assignment_type, :assignment_list_type=>assignment_list_type), data: { confirm: 'Do you want to re-assign images in this assignment?'} %>
                    <% if x[:fields][:images][:status] == 'rs' %>
                      <%= link_to 'ER', assignment_path(x[:fields][:_id], :status=>x[:fields][:images][:status], :type=>'error', :assignment_list_type=>assignment_list_type), data: { confirm: 'Click OK if you want to mark all images in this assignment as ERROR'}, method: :put %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
            <tr id="<%= x[:fields][:images][:_id] %>" style="display:none;"></tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div style="clear:both;"></div><br>
