<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead>
      <tr>
        <% if not session[:my_own] %>       <%# display only from 'List Assignment by userid' #%>
          <th class="t12">User</th>
        <% end %>
        <th class="t12">Assignments</th>
        <th class="t12">Date</th>
        <th class="t12">Status</th>
        <th>Instructions</th>
        <th class="t8">Number</th>
        <th class="t10">Action
          <a href="#" class="left_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '14' %>
            <% if session[:my_own] %>
              <span>LS: List Assignment Detail</span></a>
          <% else %>
            <span>LS: List Assignment Detail;<br>
              AC: Accept Assignment Submitted;<br>
              UN: Unassign Images in This Assignment;<br>
              RA: Re_assign Images in This Assignment</span></a>
        <% end %>
      </th>
    </tr>
  </thead>
</table>
<div class="scrollable">
  <table class=" table--bordered my-width table--data just--left">
    <tbody>
      <% prev_id = '' %>
      <% if @assignment.nil? %>
        No Assignment Exists
      <% else %>
        <% @assignment.each do |k1,v1| %>
          <% v1.each do |k2,v2| %>
            <% v2.each do |k,x| %>
              <tr>
                <% rows = x[:id] != prev_id ? @count[x[:id]] : 0 %>
                <% prev_id = x[:id] %>
                <% assignment_type = x[:status] == 'bt' ? 'transcriber' : 'reviewer' %>
                <% if rows != 0 %>
                  <% if not session[:my_own] %>   <%# display only from 'List Assignment by userid' #%>
                    <% if rows != 0 %>
                      <td class="t12" rowspan=<%= rows %> style="vertical-align: top"><%= x[:userid] %>&nbsp;</td>
                    <% end %>
                  <% end %>
                  <td class="t12"><%= x[:group_name] %>&nbsp;</td>
                  <td class="t12"><%= x[:assign_date].to_date.strftime("%Y-%m-%d") %>&nbsp;</td>
                  <td class="t12"><%= SourceProperty::STATUS[x[:status]] %>&nbsp;</td>
                  <td><%= x[:instructions] %>&nbsp;</td>
                  <td class="t8"><%= rows %>&nbsp;</td>
                  <td class="t10">
                    <% case assignment_filter_list %>
                    <% when 'submitted_transcribe' %>
                    <%= link_to 'LS', list_assignment_images_assignment_path(x[:id], :assignment_filter_list=>'submitted_transcribe', :source_id=>x[:source_id], :image_server_group_id=>x[:group_id]), :title=>'list images in this assignment', method: :get %>
                    <% when 'submitted_review' %>
                    <%= link_to 'LS', list_assignment_images_assignment_path(x[:id], :assignment_filter_list=>'submitted_review', :source_id=>x[:source_id], :image_server_group_id=>x[:group_id]), :title=>'list images in this assignment', method: :get %>
                  <% else %>
                    <%= link_to 'LS', list_assignment_images_assignment_path(x[:id], :assignment_filter_list=>'', :source_id=>x[:source_id], :image_server_group_id=>x[:group_id], images_listing: true), :title=>'list images in this assignment', method: :get %>
                  <% end %>
                  <% if !session[:my_own] %>
                    <% if params[:assignment].nil? %>
                      <% assignment_list_type = params[:assignment_list_type] %>
                    <% else %>
                      <% assignment_list_type = params[:assignment][:assignment_list_type] %>
                    <% end %>
                    <% if ['ts','rs'].include? x[:status] %>
                      <%= link_to 'AC', assignment_path(x[:id], :status=>x[:status], :type=>'complete', :assignment_list_type=>assignment_list_type), :title=>'accept assignment', data: { confirm: 'Click OK if the assignment has been Completed' }, method: :put %>
                    <% end %>
                    <%= link_to 'UN', assignment_path(x[:id], :status=>x[:status], :type=>'unassign', :assignment_list_type=>assignment_list_type), :title=>'un_assign assignment', data: { confirm: 'Click OK to un-assign the assignment'}, method: :put %>
                    <%= link_to 'RA', re_assign_assignment_path(x[:id], :image_server_group_id=>x[:group_id], :assign_type=>assignment_type, :assignment_list_type=>assignment_list_type), :title=>'re_assign assignment', data: { confirm: 'Do you want to re-assign images in this assignment?'} %>
                  <% end %>
                </td>
              <% end %>
            </tr>
            <tr id="<%= x[:images_id] %>" style="display:none;"></tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>
<div style="clear:both;"></div>
<br>