<% if params[:assignment_list_type] == 'all' || (!params[:assignment].nil? && params[:assignment][:assignment_list_type] == 'all') %>
	<% breadcrumb :syndicate_all_assignments, session[:syndicate] %>

	<div style="clear:both;"></div><br>
	<p style="text-align: center"><b>Assignments</b> of Syndicate <b><%= session[:syndicate] %></b>
<% else %>
	<% breadcrumb :syndicate_image_group_assignments, @county, @place, @church, @register, @source, @group %>

	<div style="clear:both;"></div><br>
	<p style="text-align: center"><b>Assignments</b> of Image Group <b><%= @group.group_name %></b> of the <b><%= @register_type %></b> register for <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b>
<% end %>

<% title "Assignment - list by userid" %>
<% if flash[:notice] %>
  <div id="notice" style="color:blue">
    <%= flash[:notice] %><% flash.clear %>
  </div><br>
<% end %>

<%= render 'assignment_list' %>