<% breadcrumb :syndicate_assignment, @county, @place, @church, @register, @source, @group %>

<div style="clear:both;"></div><br>
<p style="text-align: center"><b>Assignments</b> of Image Group <b><%= @group.group_name %></b> of the <b><%= @register_type %></b> register for <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b>

<% title "Assignment - list by userid" %>
<% if flash[:notice] %>
  <div id="notice" style="color:blue">
    <%= flash[:notice] %><% flash.clear %>
  </div><br>
<% end %>

<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead>
      <tr>
        <th class="t12">User</th>
        <th class="t12">Status</th>
        <th class="t12">Image</th>
        <th class="t12">Date</th>
        <th class="t12">Instructions</th>
        <th class="t10" colspan=2>Action
          <a href="#" class="left_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '14' %>
          <span>RM: Remove Image from Assignment; COM: Change Image Status In This Assignment to Complete; UN: Unassign Images In This Assignment; RA: Re_assign Images In This Assignment; ER: Change Image Status In This Assignment to ERROR</span></a>
        </th>
      </tr>
    </thead>
  </table>

  <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody>
        <% prev_user, prev_status = '', '' %>
        <% if @assignment.nil? %>
          No Assignment Exists
        <% else %>
          <% @assignment.each do |x| %>
            <tr>
              <% if !x[:userids].nil? %>
                <% if x[:userids][:userid] != prev_user || x[:images][:status] != prev_status %>
                  <% rows = @count[x[:userids][:userid]][x[:images][:status]] %>
                <% else %>
                  <% rows = 0 %>
                <% end %>

                <% if x[:userids][:userid] != prev_user %>
                  <td class="t12"><%= x[:userids][:userid] if !x[:userids].nil? %>&nbsp;</td>
                  <% prev_user = x[:userids][:userid] %>
                  <% prev_status = '' %>
                <% else %>
                  <td class="t12">&nbsp;</td>
                <% end %>
              <% else %>
                <td class="t12">&nbsp;</td>
              <% end %>
              <% if !x[:images].nil? %>
                <% if x[:images][:status] != prev_status %>
                  <td class="t12"><%= ImageServerImage::Status::ALL_STATUSES[x[:images][:status]] if !x[:images].nil? %>&nbsp;</td>
                  <% prev_status = x[:images][:status] %>
                <% else %>
                  <td class="t12">&nbsp;</td>
                <% end %>
              <% else %>
                <td class="t12">&nbsp;</td>
              <% end %>
              <td class="t12"><%= x[:images][:image_name]+'_'+x[:images][:seq] if !x[:images].nil? %>&nbsp;</td>
              <td class="t12"><%= x[:assign_date].to_date.strftime("%Y-%m-%d") %>&nbsp;</td>
              <td class="t12"><%= x[:instructions] %>&nbsp;</td>
              <% assignment_type = x[:images][:status] == 'ip' ? 'transcriber' : 'reviewer' %>
              <td class="t5">
                <%= link_to 'RM', assignment_path(x[:images][:_id], :assign_type=>assignment_type), data: { confirm: 'Are you sure you want to remove this image from assignment?' }, method: :delete if !x[:images].nil? %>
              </td>
              <% if rows != 0 %>
                <td class="t5" rowspan=<%= rows %> style="vertical-align:middle">
                  <%= link_to 'COM', assignment_path(x[:images][:assignment_id], :status=>x[:images][:status], :type=>'complete'), data: { confirm: 'Click OK if the assignment has been Completed' }, method: :put %>
                  <%= link_to 'UN', assignment_path(x[:images][:assignment_id], :status=>x[:images][:status], :type=>'unassign'), data: { confirm: 'Click OK to un-assign the assignment'}, method: :put %>
                  <%= link_to 'RA', re_assign_assignment_path(x[:images][:assignment_id], :image_server_group_id=>x[:images][:image_server_group_id], :assign_type=>assignment_type), data: { confirm: 'Do you want to re-assign images in this assignment?'} %>
                  <% if x[:images][:status] == 'ir' %>
                    <%= link_to 'ER', assignment_path(x[:images][:assignment_id], :status=>x[:images][:status], :type=>'error'), data: { confirm: 'Click OK if you want to mark all images in this assignment as ERROR'}, method: :put %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div style="clear:both;"></div><br>
