<% title "#{@county} Contents" %>
<div class="grid">
  <header class="grid__item one-whole">
    <div class="text--center push-half--bottom">
      <%= link_to 'County Selection', new_freereg_content_path, :class => "btn weight--light btn--small "%> 
      <% if @character  %>
        <%= link_to 'Alphabet Place Selection', freereg_contents_path, :class => "btn weight--light btn--small "%>
      <% end%>
    </div>
    <h1 class="title  text--center"> <%= @county %> General Information</h1>
    <h2 class="text--center">Coordinator: <%= @coordinator %> </h2>
  </header>
  <div class="grid__item one-third palm-one-whole float--right ">
    <div class="island island--blue push-half--top">
      <strong>As of today…</strong><br /> <%= @county %> has <%= display_number(@records[0])%> records:
      <ul>
        <li><%= display_number(@records[1])%> baptisms</li>
        <li><%=display_number(@records[2])%> burials</li>
        <li><%= display_number(@records[3])%> marriages</li>
      </ul>
    </div>
  </div>
  <div class="grid__item two-thirds palm-one-whole ">
    <%= county_content(@page)%>
  </div>
  <div class="grid__item one-whole">
    <hr class="rule">
  <% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
  <% end %>
    
  </div>
</div>

<div class="grid">
 <%= semantic_form_for @freereg_content do |f| %>
    <li class="grid__item  one-third  palm-one-whole" id="freereg_content_place_input">
      <label class=" label" for="freereg_content_place">
        Specific Place
      </label>
      <select id="freereg_content_place" name="freereg_content[place]" class="select" size="4" tabindex="6">
        <%  @places.each do | value| %>
            <option name="<%= value %>"><%= value %></option>
        <% end %>
      </select>
    </li>
    <%= f.action :submit, :as => :button,  :label => 'Select One Option' ,:button_html => { :class => "ladda-button" , "data-style" => "contract" ,"data-color" =>"green" , "data-size" => "l", "data-spinner-color" => "#ffffff" },:wrapper_html => { :class => "grid__item  one-third text--center" }  %>
    <li class="grid__item  one-third  palm-one-whole" id="freereg_content_character_input">
      <label class=" label" for="freereg_content_character">
       Letter range
      </label>
      <select id="freereg_content_character" name="freereg_content[character]" class="select" size="4" tabindex="6">
        <%  @options.each do |value| %>
            <option name="<%= value %>"><%= value %></option>
        <% end %>
      </select>
    </li>   
  <% end %>
</div>
<script type="text/javascript">
      Ladda.bind( 'button[type=submit]' );
</script>