<!--table class="table--bordered table--data table--striped"  style="display: inline-block;width:
    40%; float: left;"-->
<table class="table--bordered table--data table--striped"  style="display: inline-block;width:
    40%; float: left;">
  <caption class="gamma text--center"><b> Details about the church</b> <br>
  </caption>
  <thead  >
    <tr>
      <th  scope="col" class="caps t20">Field</th>
      <th  scope="col" class="caps t15">Value</th>
    </tr>
  </thead>
  <tbody>
    <% if @names%>
      <%  @names.each do |name| %>
        <% unless name == ''%>
          <tr>
            <td>Other possible church names :</td>
            <td class='weight--semibold' ><%= name %>  </td>
          </tr>
        <%end%>
      <%end%>
    <%end%>
    <tr>
      <td>Denomination of the Church</td>
      <td class='weight--semibold' ><%= (@church.denomination) %></td>
    </tr>
    <tr>
      <td>The Church Website </td>
      <td class='weight--semibold'><%= (@church.website) %></td>
    </tr>
    <tr>
      <td>Number of transcriptions</td>
      <td class='weight--semibold'><%= @church.records %></td>
    </tr>
    <tr>
      <td>First year for a transcription</td>
      <td class='weight--semibold'><%= @church.datemin %></td>
    </tr>
    <tr>
      <td>Last year for a transcription</td>
      <td class='weight--semibold'><%= @church.datemax %></td>
    </tr>
    <tr>
      <td>Last date a transcription added</td>
      <td class='weight--semibold' > <%= @church.last_amended %></td>
    </tr>
    <tr>
      <td>Last date church information changed</td>
      <td class='weight--semibold'><%= @church.u_at.strftime("%d %b %Y") %></td>
    </tr>
    <tr>
      <td>Notes about the Church </td>
      <td class='weight--semibold' > <%= (@church.church_notes) %> </td>
    </tr>
  </tbody>
</table>