<div class="container">  
  <section class="island " > 
   <div class="table-wrapper">
    <table class="table--bordered table--data" >
      <colgroup >
        <col class="t30">
        <col class="t10">
        <col class="t40">
        <col class="t20">
      </colgroup>
      <thead >
        <tr style="font-size: 20px; font-weight: bold">
          <th>Group</th>
          <th>Total Images</th>
          <th colspan=4>In Progress</th>
          <th colspan=2>Available</th>
        </tr>
      </thead>
      <tbody id="show_detail">
        <% @images.each do |k1,v1| %>
          <% v1.each do |k2,v2| %>
            <tr title="click to see detail">
              <td><%= k2 %></td>
              <td><%= v2[:count] %>&nbsp;</td>
              <td colspan=4 id="progress_detail" title="click to see detail"><%= v2[:in_progress] %></td>
              <td colspan=2 id="available_detail", title="click to see detail"><%= v2[:available] %>&nbsp;
                <% if v2[:available] != 0 %>
                  <%= link_to "Volunteer", "/cms/opportunities-to-volunteer-with-freereg" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="display: none;">&nbsp;</td>
              <td style="display: none;">&nbsp;</td>
              <td class="t10" style="display: none;">Being Transcribed</td>
              <td class="t10" style="display: none;">Transcription Submitted</td>
              <td class="t10" style="display: none;">Being Reviewed</td>
              <td class="t10" style="display: none;">Review Submitted</td>
              <td class="t10" style="display: none;">Unallocated</td>
              <td class="t10" style="display: none;">Allocated</td>
            </tr>
            <tr>
              <td style="display: none;">&nbsp;</td>
              <td style="display: none;">&nbsp;</td>
              <td style="display: none;"><%= v2[:being_transcribed] %>&nbsp;</td>
              <td style="display: none;"><%= v2[:transcription_submitted] %>&nbsp;</td>
              <td style="display: none;"><%= v2[:being_reviewed] %>&nbsp;</td>
              <td style="display: none;"><%= v2[:review_submitted] %>&nbsp;</td>
              <td style="display: none;"><%= v2[:unallocated] %>&nbsp;</td>
              <td style="display: none;"><%= v2[:allocated] %>&nbsp;</td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
</div>

<script type="text/javascript">
  <%= render :partial => 'images.js' %>
</script>