<!--table class="table--bordered table--data table--striped"  style="display: inline-block;width:
    40%; float: left;"-->
<table class="table--bordered table--data table--striped">
  <caption class="gamma text--center"><b> Details about the register</b> <br>
  </caption>
  <thead>
    <tr>
      <th  scope="col" class="caps t20">Field</th>
      <th  scope="col" class="caps t15">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Register Type :</td>
      <td class="weight--semibold"><%= RegisterType.display_name(@register.register_type) %></td>
    </tr>
    <tr>
      <td>Quality :</td>
      <td class="weight--semibold"> <%= @register.quality%></td>
    </tr>
    <tr>
      <td>Source :</td>
      <td class="weight--semibold"> <%= @register.source %> </td>
    </tr>
    <tr>
      <td>Copyright :</td>
      <td class="weight--semibold"> <%= @register.copyright %>  </td>
    </tr>
    <tr>
      <td>Special acknowledgement to :</td>
      <td class="weight--semibold"> <%= @register.credit %>  </td>
    </tr>
    <tr>
      <td>Status of the transcriptions :</td>
      <td class="weight--semibold"><%= @register.status %> </td>
    </tr>
    <tr>
      <td>Latest date a transcription changed:</td>
      <td class="weight--semibold"> <%= @register.last_amended %></td>
    </tr>
    <tr>
      <td>Number of entries</td>
      <td class="weight--semibold"><%= @register.records %></td>
    </tr>
    <tr>
      <td>First actual year of entries</td>
      <td class="weight--semibold"><%= @register.datemin %></td>
    </tr>
    <tr>
      <td>Last actual year of entries</td>
      <td class="weight--semibold"><%= @register.datemax %></td>
    </tr>
    <tr>
      <td>First year in register :</td>
      <td class="weight--semibold"><%= @register.minimum_year_for_register%> </td>
    </tr>
    <tr>
      <td>Last year in register:</td>
      <td class="weight--semibold"><%= @register.maximum_year_for_register %> </td>
    </tr>
    <tr>
      <td>Register notes :</td>
      <td class="weight--semibold"> <%= @register.register_notes %>  </td>
    </tr>
  </tbody>
</table>