  <%#= This partial is used by both show_register and register views %>
  
   <h2 class=" text--center">Register <%= @register_type %> for <%=@church.church_name %> of <%= @place_name %> in <%= @county %> </h2>
    <details>
      <summary style="outline: none; display: list-item;"><strong>Navigate the page</summary>
        <ul>
          <% if @images.present? %>
            <li><a href="#image_information">Image Information</a></li>
          <% end %>
          <li><a href="#transcriptions">Transcriptions</a></li>
        </ul></strong>
    </details>
    <a id="register_information"><h3 class=" text--center">Information about the register  </h3></a>
    <%= render 'register' %>
    <% if @images.present? %>
      <details>
        <summary style="outline: none; display: list-item;"><strong>Navigate the page</summary>
        <ul>
          <li><a href="#register_information">Register Information</a></li>
          <li><a href="#transcriptions">Transcriptions</a></li>
        </ul></strong>
      </details>
      <br>
      <a id="image_information"><h3 class="text--center">Images being Transcribed and Available for Transcription</h3></a>
      <%= render 'images' %>
    <% end %>
    <details>
      <summary style="outline: none; display: list-item;"><strong>Navigate the page</summary>
      <ul>
        <li><a href="#register_information">Register Information</a></li>
        <% if @images.present? %>
              <li><a href="#image_information">Image Information</a></li>
            <% end %>
      </ul></strong>
    </details>
    <a id="transcriptions"> <h3 class=" text--center">Number of transcriptions for this register </h3></a>
    <p class=" text--center">Those periods with zero data may span several decades. The first period may include pre 1530 records. </p> 
    <%= render 'decade' %>
    <details>
      <summary style="outline: none; display: list-item;"><strong>Navigate the page</summary>
      <ul>
        <li><a href="#register_information">Register Information</a></li>
        <% if @images.present? %>
              <li><a href="#image_information">Image Information</a></li>
            <% end %>
      </ul></strong>
    </details>