<% title "#{@county} Contents" %>
<div class="grid">
  <header class="grid__item one-whole">
    <div class="text--center push-half--bottom">
      <%= link_to 'County Selection', new_freereg_content_path, :class => "btn weight--light btn--small "%> 
      <% if @character  %>
        <%= link_to 'Alphabet Place Selection', freereg_contents_path, :class => "btn weight--light btn--small "%>
      <% end%>
    </div>
    <h1 class="title  text--center"> <%= @county %> General Information</h1>
    <h2 class="text--center">Coordinator: <%= @coordinator %> </h2>
  </header>
  <div class="grid__item one-third palm-one-whole float--right ">
    <div class="island island--blue push-half--top">
      <strong>As of today…</strong><br /> <%= @county %> has <%= display_number(@records[0])%> records:
      <ul>
        <li><%= display_number(@records[1])%> baptisms</li>
        <li><%=display_number(@records[2])%> burials</li>
        <li><%= display_number(@records[3])%> marriages</li>
      </ul>
    </div>
  </div>
  <div class="grid__item two-thirds palm-one-whole ">
    <%= county_content(@page)%>
  </div>
  <div class="grid__item one-whole">
    <hr class="rule">
  <% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
  <% end %>
    
  </div>
</div>
<p>These Places, Churches and Registers have data records. Click on the name for more information. The 'Registers' display includes data on the number of records per decade. (Smart-phone users should display the latter with a landscape view)</p>
<div >
  <table class="my-width-min flush--bottom" >
    <thead >
      <tr>
        <th class="t15">Place <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
          <span>A Place for which we have transcribed records. The names and their locations are defined by the Association of British Counties (http://www.gazetteer.org.uk/).</span></a></th>
        <th  class="t25">Churches <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
            <span>There can be multiple churches or organizations for which records have been transcribed in a specific place.</span></a></th>
        <th class="t15">Registers <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
              <span>A church can have multiple registers. A register can be: Parish Register; Archdeacon's Transcripts; Bishop's Transcripts; Phillimore's Transcripts (made from a parish register); Extract of the Parish Registers (incomplete set of records); Dwelly's Transcript (made from a parish register); Other Register (original document); Transcript (another person's transcription); Unknown; or Unspecified.</span></a></th>
        <th class="t15">Changed <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
                <span>The most recent date when at least one record in the register was amended, added or deleted.</span></a></th>
        <th class="t12">Records <a href="#" class="left_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
                  <span>The number of actual transcription records.</span></a></th>
        <th class="t8">First <a href="#" class="left_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
                  <span>The first year for which there is a record transcribed in the register.</span></a></th>
        <th class="t7">Last <a href="#" class="left_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
                    <span>The last year for which there is a record transcribed in the register.</span></a></th>
      </tr>
    </thead>
  </table>
  <div class="scrollable ">
    <table class=" my-width table--data">
      <tbody >
        <% old_place_name = nil %>
        <% @places.each do |place| %>
          <% old_church_name = nil %>
          <% place.churches.order_by(church_name: 1).each do |church| %>
            <% church.registers.order_by(register_type: 1).each do |register| %>
            <% session[:placeid] = place.id%>
            <tr class="weight--semibold" id="<%=place.id%>">
              <td class="t15"> <%= link_to(place.place_name, show_place_freereg_content_path(place.place_name)) %> </td>            
              <td class="t25"> <%= link_to(church.church_name, show_church_freereg_content_path(church)) %> </td>
              <td class="t15"> <% registertype = RegisterType.display_name(register.register_type)%>
              <%= link_to(registertype, show_register_freereg_content_path(register)) %></td>
              <td class="t15"> <%= register.last_amended %> </td>
              <td class="t12"> <%= display_number(register.records) %> </td>
              <td class="t8"> <%= display_number(register.datemin) %> </td>
              <td class="t7"> <%= display_number(register.datemax) %> </td>
              <% clear(register) %>
            </tr>
            <% end%>
          <% end%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>