<div class="container">
  <div class="scrollable ">
    <table class="table--bordered table--data table--striped">
      <thead >
        <tr>
          <th scope="col" class='sticky-header'>Place <a href="#" class="bottom_tooltip" ><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span >A Place for which information should exist.</span></a></th>
          <th scope="col" class='sticky-header'>Churches <a href="#" class="bottom_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span>There can be multiple churches or organizations for which records might exist in a specific place.</span></a></th>
          <th scope="col" class='sticky-header'>Registers <a href="#" class="bottom_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span>A church can have multiple registers. A register can be: Parish Register; Archdeacon's Transcripts; Bishop's Transcripts; Phillimore's Transcripts (made from a parish register); Extract of the Parish Registers (incomplete set of records); Dwelly's Transcript (made from a parish register); Other Register (original document); Transcript (another person's transcription); Unknown; or Unspecified.</span></a></th>
          <th scope="col" class='sticky-header'>Changed <a href="#" class="bottom_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span>Latest date a transcription file loaded.</span></a></th>
          <th scope="col" class='sticky-header'>Records <a href="#" class="bottom_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span>The number of actual transcriptions.</span></a></th>
          <th scope="col" class='sticky-header'>First <a href="#" class="left_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span>First and last years in the register.</span></a></th>
          <th scope="col" class='sticky-header'>Last <a href="#" class="left_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span>First and last years in the register.</span></a></th>
        </tr>
      </thead>
      <tbody >
        <% unless churches_for_place?(@place) %>
          <tr class="weight--semibold" >
            <td scope="row" aria-label="place"> <%= link_to(@place.place_name, show_place_freereg_content_path(@place.id)) %> </td>
          </tr>
        <% else%>
          <% @place.churches.order_by(church_name: 1).each do |church| %>
            <% unless registers_for_church?(church) %>
              <tr class="weight--semibold" >
                <td scope="row" aria-label="place"> <%= link_to(@place.place_name, show_place_freereg_content_path(@place.id)) %> </td>
                <td aria-label="church"> <%= link_to(church.church_name, show_church_freereg_content_path(church.id)) %> </td>
              </tr>
            <% else%>
              <% church.my_registers.each do |register| %>
                <tr class="weight--semibold" >
                  <td scope="row" aria-label="place"> <%= link_to(@place.place_name, show_place_freereg_content_path(@place.id)) %> </td>
                  <td aria-label="church"> <%= link_to(church.church_name, show_church_freereg_content_path(church.id)) %> </td>
                  <td aria-label="register"> <% registertype = RegisterType.display_name(register.register_type)%>
                    <%= link_to(registertype, show_register_freereg_content_path(register.id)) %></td>
                  <td aria-label="date last changed"> <%= register.last_amended %> </td>
                  <td aria-label="number of records"> <%= display_number(register.records) %> </td>
                  <td aria-label="first year of records"> <%= register.datemin %> </td>
                  <td aria-label="last year of records"> <%= register.datemax %> </td>
                  <% clear(register) %>
                </tr>
              <% end%>
            <% end%>
          <% end%>
        <% end%>
      </tbody>
    </table>
  </div>
</div>