<% title "#{@church_name} #{@place_name} #{@county} transcriptions" %>
<div class="container">
  <section class="island ">
    <div style="text-align: center">
      <%= link_to 'Back to Search Record', :back, :class => "btn   btn--small"%>
      <%= link_to 'Names', unique_church_names_path(@church.id,ref: @referer), method: :get, :class => "btn   btn--small"%>
    </div>
    <br>
    <h2 class=" text--center"><%=@church.church_name %> of <%= @place_name %> in <%= @county %> </h2>
    <div class="grid">
      <div class="grid__item desk-one-half lap-one-half palm-one-whole">
        <div class="grid__item one-whole">
          <%= render 'church' %>
        </div>
        <% unless device_type == :mobile %>
          <div class="grid__item one-whole">
            <div class = "adsense_box push--ends">
              <span>Advertisement</span>
              <%= my_heritage_300_250_second %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="grid__item desk-one-half lap-one-half palm-one-whole">
        <%= render 'decade' %>
      </div>
    </div>
  </section>
</div>