<% title "#{@church_name} #{@place_name} #{@county} transcriptions" %>
<div class="container">
  <section class="island ">
    <div style="text-align: center">
      <%= link_to 'Back to Search Record', :back, :class => "btn   btn--small"%>
    </div>
    <br>
    <h2 class=" text--center"><%=@church.church_name %> of <%= @place_name %> in <%= @county %> </h2>
    <%= render 'church' %>
    <%= render 'decade' %>
  </section>
</div>