<% title "Transcription County Selection" %>
<h1 class="title text--center ">County and Place Records</h1>
<% if flash[:notice] %>
<div class="weight--semibold text--center" style="color:red"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<div class="grid">
  <div  class="grid__item two-thirds lap-one-half palm-one-whole">
    <div class="read-length">
      <h2 class="accessibility">Database contents</h2>
      <p>These pages contain information about our transcriptions for each County, Place, Church and Register in the database: everything from a detailed county listing right down to how many records the database holds for every ten-year period of an individual register.</p>
      <p>To get started, choose a county from the list below. We use the 1831 county boundaries.</p>
      <%= semantic_form_for @freereg_content do |f| %>
      <ol class="grid">
        <li class="grid__item one-whole push--bottom text--center" id="freereg_content_chapman_codes_input">
          <input name="freereg_content[chapman_codes][]" type="hidden" value="" />
          <label class="accessibility" for="freereg_content_chapman_codes">County</label>
          <% grouped_options = ChapmanCode.add_parenthetical_codes(ChapmanCode.remove_codes(ChapmanCode::CODES)) %>
          <select  id="freereg_content_chapman_codes"  name="freereg_content[chapman_codes][]" size="6">
            <% key = @freereg_content.chapman_codes unless @freereg_content.chapman_codes.nil?%>
            <%= grouped_options_for_select(grouped_options, selected_key = key) %>
          </select>
        </li>
        <li class="grid__item one-whole push--bottom text--center">
          <%= f.action :submit, :as => :button,  :label =>  "Go", :button_html => { :class => "ladda-button" , "data-style" => "contract" ,"data-color" =>"green" , "data-size" => "l", "data-spinner-color" => "#ffffff"  } %>
        </li>
      </ol>
      <% end %>
      <hr class="rule" />
      <h2 class="accessibility">Information and help</h2>
      <p>The information in these pages is accurate and up-to-date, something we were never able to do with the old &ldquo;Counties and Parishes Coverage&rdquo; pages. If you don&rsquo;t find a Place and Church on these pages, we have not transcribed it yet.</p>
      <p> If you would like more guidance on finding exactly what you want to know, please see the <a href="<%=Rails.application.config.website%>/cms/help" title="Researcher Help">Help</a> page.</p>
    </div>
  </div>
  <aside class="grid__item one-third lap-one-half palm-one-whole">
    <div class="island island--bordered">
      <h2 class="delta push-half--bottom">Yesterday by numbers</h2>
      <% if @site_stat %>
        <p class="push-half--bottom"><%= number_with_delimiter(@site_stat[:n_searches])%> searches were performed yesterday on <%= number_with_delimiter(@site_stat[:n_records]) %> records</p>
        <ul class="push--left">
          <li><%= number_with_delimiter(@site_stat[:n_records_baptisms]) %> baptisms</li>
          <li><%= number_with_delimiter(@site_stat[:n_records_marriages]) %> marriages </li>
          <li><%= number_with_delimiter(@site_stat[:n_records_burials]) %> burials</li>
        </ul>
        <% if @site_stat[:n_records_added]  %>
          <p class="push-half--bottom">In the 24 hrs ending at midnight GMT we added <%= number_with_delimiter(@site_stat[:n_records_added]) %> records:</p>
          <ul class="push-left">
            <li><%= number_with_delimiter(@site_stat[:n_records_added_baptisms]) %> baptisms</li>
            <li><%= number_with_delimiter(@site_stat[:n_records_added_marriages]) %> marriages</li>
            <li><%= number_with_delimiter(@site_stat[:n_records_added_burials]) %> burials</li>
          </ul>
        <% else %>
          <p>No records added in the 24 hours ending at midnight GMT.</p>
        <% end %>
      <% else %>
        <p>Sorry &mdash; yesterday&rsquo;s statistics are not available.</p>
      <% end %>
    </div>
  </aside>
</div>
<script type="text/javascript">
Ladda.bind( 'button[type=submit]' );
</script>