<% title "#{@place.place_name} #{@county} transcriptions " %>
<div class="container">
  <section class="island ">
    <div class="text--center">
      <%= link_to 'Back to Search Record', :back, :class => "btn weight--light  btn--small"%>  
    </div> <br>
    <h2 class=" gamma text--center"><%= @place.place_name %> within <%= @place.county %> </h2>
    <h4 class=" delta text--center">The Place has the following Church(es):
    <% @place.churches.order_by(church_name: 1).each do |church| %>
      <%=  church.church_name   %>; 
    <% end %></h4>
      <table class=" table--bordered " >
        <colgroup >
        <col class="t20">
        <col class="t30 weight--semibold">
        </colgroup>
        <thead  >
          <tr>
            <th >Field</th>
            <th >Value</th>
          </tr>
        </thead>
        <tbody class="scrollable">
          <tr><td>Place : </td> <td class="weight--semibold"> <%= @place.place_name %>  </td></tr>
          <tr><td>County:</td> <td class="weight--semibold"><%= @place.county %></td></tr>
          <tr><td>Country:</td> <td class="weight--semibold"><%= @place.country %></td></tr>
          <% if @names%>
            <%  @names.each do |name| %>
              <tr><td>Other possible place names :</td><td class="weight--semibold" ><%= name %>  </td></tr>
            <%end%>
          <%end%> 
          <tr><td>Notes about the Place :</td><td class="weight--semibold" > <%= @place.place_notes %> </td></tr>
          <tr><td>Location on map :</td><td class="weight--semibold" ><%= link_to('Location', @place.genuki_url, :class => "btn weight--light  btn--small", :target => "_blank")  unless @place.genuki_url.nil? || @place.genuki_url == "no url" %></td></tr>
          <tr><td>Last changed:</td><td class="weight--semibold" > <%= @place.u_at.strftime("%d %b %Y") unless @place.u_at.nil?%></td>
              </tr>
               <tr><td>Number of entries</td>  <td class="weight--semibold"><%= @place.records %></td></tr>
        <tr><td>First actual year of entries</td>  <td class="weight--semibold"><%= @place.datemin %></td></tr>
        <tr><td>Last actual year of entries</td>  <td class="weight--semibold"><%= @place.datemax %></td></tr>
        </tbody>
      </table> 
       <h3 class=" text--center">Numbers of transcriptions </h4>
    <p class=" text--center">Those periods with zero data may span several decades. The first period may include pre 1530 records. </p> 
       <%= render 'decade' %>  
  </section>
</div>