<% title "#{@place.place_name} #{@county} transcriptions " %>
<div class="container">
  <section class="island ">
    <div class="text--center">
      <%= link_to 'Back to Search Record', :back, :class => "btn   btn--small"%>
      <%= link_to 'Names', unique_place_names_path(@place.id,ref: @referer), method: :get, :class => "btn   btn--small"%>
    </div>
    <br>
    <h2 class=" text--center"><%= @place.place_name %> in <%= @place.county %> </h2>
    <%= render 'place' %>
    <%= render 'decade' %>
  </section>
</div>