<% title "#{RegisterType.display_name(@register.register_type)} #{@church_name} #{@place_name} #{@county} information" %>
<%#= This is a view used by the showing of a register from the Search Details link %>
<div class="container">
  <section class="island ">
    <div class="text--center">
      <%= link_to 'Back to Search Record', :back, :class => "btn   btn--small"%>
      <%= link_to 'Names', unique_register_names_path(@register.id,ref: @referer), method: :get, :class => "btn   btn--small"%>
    </div>
    <br>
    <h3 class=" text--center">Information about the <%=RegisterType.display_name(@register.register_type) %> from <%=@church.church_name %> of <%= @place_name %> in <%= @county %> </h3>
    <div class="grid">
      <div class="grid__item desk-one-half lap-one-half palm-one-whole">
        <div class="grid__item one-whole">
          <%= render 'register' %>
        </div>
        <% unless device_type == :mobile %>
          <div class="grid__item one-whole">
            <div class = "adsense_box push--ends">
              <span>Advertisement</span>
              <%= my_heritage_300_250_first %>
              <%#= my_heritage_300_250_second %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="grid__item desk-one-half lap-one-half palm-one-whole">
        <%= render 'decade' %>
      </div>
    </div>
  </section>
</div>