<% title "Decade for #{@RType} #{@church} #{@place_name} #{@county} transcriptions" %>
  <section class="island " >
    <div style="text-align: center"><%= link_to 'County/Place Selection', freereg_contents_path, method: :get, :class => "btn  btn--small"%>  <%= link_to 'County', freereg_content_path(@county ), method: :get, :class => "btn  btn--small"%> <%= link_to 'Place for this Church', show_place_freereg_content_path( @place), :class => "btn  btn--small" %> <%= link_to 'Church for this Register', show_church_freereg_content_path( @register.church), :class => "btn  btn--small" %> <%= link_to 'Register', show_register_freereg_content_path( @register), :class => "btn  btn--small" %>
    </div><br>
    <h2 class=" gamma text--center">Records by decade of the <%= @RType %> Registers for <%= @church %> of <%= @place_name %> within <%= @county %> </h2>
    <p class="text--center">Those periods with zero data may span several decades. The first period may include pre 1530 records. </p> 
  </section>  
  <div class="container">  
  <section class="island " > 
    <table class="table--bordered " >
      <colgroup >
      <col class=t30>
      <col >
      <col >
      <col >
      <col >
      </colgroup>
      <thead >
        <tr>
          <th>Period</th>
          <th>Baptism records</th>
          <th>Marriage records</th>
          <th>Burial records</th>
          <th>Total records</th>
        </tr>
      </thead>
      <tbody>
        <% decade_start = 1530%>
        <% decade_end = 1539%>
        <% current_index = 0 %>
        <% next_index = 0 %>
        <% decade_total = 0 %>
        <% next_total = 0 %>
        <% while current_index < @decade["ba"].count %>
          <% decade_total = @decade["ba"][current_index] + @decade["ma"][current_index] + @decade["bu"][current_index] %>
          <% if decade_total > 0 then %>
            <tr >
            <td><%= decade_start %><%= "\u2013" %><%= decade_end %></td>
            <td><%= display_number(@decade["ba"][current_index].to_s.sub(/^0$/, " ")) %></td>
            <td><%= display_number(@decade["ma"][current_index].to_s.sub(/^0$/, " ")) %></td>
            <td><%= display_number(@decade["bu"][current_index].to_s.sub(/^0$/, " ")) %></td>
            <td><%= display_number(decade_total) %></td>
            </tr>
            <% decade_start += 10 %>
            <% decade_end += 10 %>
            <% current_index += 1 %>
          <% else %>
            <% next_index = current_index + 1 %>
            <% if next_index < @decade["ba"].count then %>
              <% next_total = @decade["ba"][next_index] + @decade["ma"][next_index] + @decade["bu"][next_index] %>
              <% if next_total > 0 then %>
                <tr>
                  <td><%= decade_start %><%= "\u2013"%><%= decade_end %></td>
                  <td><%= display_number(@decade["ba"][current_index].to_s.sub(/^0$/, " "))%></td>
                  <td><%= display_number(@decade["ma"][current_index].to_s.sub(/^0$/, " "))%></td>
                  <td><%= display_number(@decade["bu"][current_index].to_s.sub(/^0$/, " ")) %></td>
                  <td><%= display_number(decade_total) %></td>
                </tr>
                <% current_index += 1 %>
                <% decade_start = decade_end + 1 %>
                <% decade_end += 10 %>
                <% else %>
                <% decade_end += 10 %>
                <% current_index = next_index %>
                <% end %>
              <% else %>
                <tr>
                <td><%= decade_start %><%= "\u2013" %><%= decade_end %></td>
                <td><%= display_number(@decade["ba"][current_index].to_s.sub(/^0$/, " ")) %></td>
                <td><%= display_number(@decade["ma"][current_index].to_s.sub(/^0$/, " ")) %></td>
                <td><%= display_number(@decade["bu"][current_index].to_s.sub(/^0$/, " ")) %></td>
                <td><%= display_number(decade_total) %></td>
                </tr>
                <% current_index += 1 %>
                <% decade_start = decade_end + 1 %>
                <% decade_end += 10 %>
              <% end %>
            <% end %>
        <% end %>
      </tbody>
    </table>
</section>
</div>