
<p>This table contains a listing of those Places and Churches for <b> <%= @county  %></b> for which we have searchable data. Select the Location link, where it exists, to find out the actual location of the Place from Genuki. Select the Church link to obtain additional information about the specific registers that have been transcribed for that church.
 
</p>

<table>
<tr>
    <th >Place</th>
    <th >Alternate place name</th>
    
    <th >Record last amended</th>
    <th >Churches</th>
    <th >Location </th>
</tr>


<% @places.each do |place|%>
<tr id="<%=place.id%>">
 <td >
     <%= place.place_name %>
    </td>
       <td >
     <%= place.alternate_place_name %>
      </td>
  
     <td >
     <%= place.last_amended %>
      </td>
    
  <td><ul>
	  <% place.churches.order_by(:church_name.asc).each do |church| %>
	  	<li>
		  	<%= link_to(church.church_name, show_church_path(church)) %>
			<%= church.denomination %>	
			<%= church.location %>	<br />
	  	</li>
	  <% end %>  	
  </ul>
</td>
<td >
     <%= link_to('Location', place.genuki_url) unless place.genuki_url.nil?%>
      </td>
</tr>

<% end %> 


</table>

