<% require 'record_type' %>

<p></p>
<p>Registers held in the FreeREG database for 
<b><%= @place_name %>;</b>
  
  <b><%= @church %></b>
   
   in the County of:
   <b><%= @county %></b>
</p>
In this Table the Register Type can be:PR representing a Parish Register; AT represent an Archdeacon's Transcript; BT representing a Bishop's Transcript; TR representing a transcript of the Parish Registers; EX representing a selective extract of the Parish Register; DW representing a Dwelly's Transcript of a Parish register; and Blank representing a register currently of an unspecified source but is most likely transcribed from a Parish Register.
<p>You may see the decade for which registers have been transcribed by following the "Decadal Data" link.</p>
<table>
  <tr>
    <th>Register name</th>
    <th>Alternate register name</th>
    <th>Source</th>
    <th>Quality</th>
    <th>Copyright</th>
    <th>Register Notes</th>
    <th>Last amended</th>
    
    
   
  </tr>

<% @registers.each do |register| %>
  <tr> 
    <td><%= register.register_name %></td>
    <td><%= link_to(register.alternate_register_name, show_register_path(register)) %></td>
    <td><%= register.source %></td>
    <td><%= register.quality %></td>
    <td><%= register.copyright %></td>
    <td><%= register.register_notes %></td>
    <td><%= register.last_amended %></td>
    
  </tr>
<% end %>
</table>
    <%= link_to 'Back to Places', show_freereg_content_path(@search_query,:page_number => @page_number, :anchor => "#{@place}") %> 
       


