
    <h4 class="text--center">The FreeREG database has records in each decade from <%= @register.minimum_year_for_register %> to <%= @register.maximum_year_for_register %><br> for the <%= @RType %> Registers for <b><%= @church %></b> in <b><%= @place_name %></b> in the County of <b><%= @county %>. </b>
      <p>(Those periods with zero data may span several decades)</p>
    </h4>
    <div style="float:left;"><%= button_to 'Back to Places Index', show_freereg_content_path(@county_id, :anchor => "#{@place}"), method: :get , :class => "btn btn--small" unless @county_id.nil?%> </div>
    <section class="island  island--light " >
 <div class="table-wrapper"> 
 <div class="grid"> 
  <div class="grid__item one-whole" >
    <table class="table--bordered " >
      <colgroup >
      <col class=t30>
      <col >
      <col >
      <col >
      <col >
    </colgroup>
    <thead >
      <tr>
        <th>Period</th>
        <th>Number of Baptism records</th>
        <th>Number of Marriage records</th>
        <th>Number of Burial records</th>
        <th>Total number of records</th>
      </tr>
    </thead>
    <tbody>
      <% decade_start = 1530%>
      <% decade_end = 1539%>
      <% current_index = 0 %>
      <% next_index = 0 %>
      <% decade_total = 0 %>
      <% next_total = 0 %>

      <% while current_index < @decade["ba"].count %>
        <% decade_total = @decade["ba"][current_index] + @decade["ma"][current_index] + @decade["bu"][current_index] %>
        <% if decade_total > 0 then %>
          <tr>
            <td><%= decade_start %>-<%= decade_end %></td>
            <td><%= @decade["ba"][current_index].to_s.sub(/^0$/, " ") %></td>
            <td><%= @decade["ma"][current_index].to_s.sub(/^0$/, " ") %></td>
            <td><%= @decade["bu"][current_index].to_s.sub(/^0$/, " ") %></td>
            <td><%= decade_total %></td>
          </tr>
          <% decade_start += 10 %>
          <% decade_end += 10 %>
          <% current_index += 1 %>
        <% else %>
          <% next_index = current_index + 1 %>
          <% if next_index < @decade["ba"].count then %>
            <% next_total = @decade["ba"][next_index] + @decade["ma"][next_index] + @decade["bu"][next_index] %>
            <% if next_total > 0 then %>
              <tr>
                <td><%= decade_start %>-<%= decade_end %></td>
                <td><%= @decade["ba"][current_index].to_s.sub(/^0$/, " ") %></td>
                <td><%= @decade["ma"][current_index].to_s.sub(/^0$/, " ") %></td>
                <td><%= @decade["bu"][current_index].to_s.sub(/^0$/, " ") %></td>
                <td><%= decade_total %></td>
              </tr>
              <% current_index += 1 %>
              <% decade_start = decade_end + 1 %>
              <% decade_end += 10 %>
            <% else %>
              <% decade_end += 10 %>
              <% current_index = next_index %>
            <% end %>
          <% else %>
            <tr>
              <td><%= decade_start %>-<%= decade_end %></td>
              <td><%= @decade["ba"][current_index].to_s.sub(/^0$/, " ") %></td>
              <td><%= @decade["ma"][current_index].to_s.sub(/^0$/, " ") %></td>
              <td><%= @decade["bu"][current_index].to_s.sub(/^0$/, " ") %></td>
              <td><%= decade_total %></td>
            </tr>
            <% current_index += 1 %>
            <% decade_start = decade_end + 1 %>
            <% decade_end += 10 %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</section>