
<p></p>

<p>This Table contains a listing of all Places and Churches held in the FreeREG database for the
  <b>County:</b>
  <%= @county  %>
</p>
<div id="nav">
	<ul>
	    <li><%= link_to 'Back to County Search Page', freereg_contents_path(@church) %>
	    	<%= link_to "Next", freereg_content_path(@search_query, :page_number => @page_number+1) %>
    	</li>
    	<% if @page_number > 0 %>		    	
		    <li>
		    	<%= link_to "Previous", freereg_content_path(@search_query, :page_number => @page_number-1) %>
	    	</li>
    	<% end %>
	</ul>
</div>
<table>
<tr>
  <th>Place</th>
  <th>Church or Chapel</th>
</tr>


<% @search_results.each do |place|%>
<tr id="<%=place.id%>">
 <td><%= place.place_name %></td>
  <td><ul>
	  <% place.churches.order_by(:church_name.asc).each do |church| %>
	  	<li>
		  	<%= link_to(church.church_name, show_church_path(church)) %><br />
				
	  	</li>
	  <% end %>  	
  </ul>
</td>
</tr>

<% end %> 


</table>
<div id="nav">
	<ul>
	    <li><%= link_to 'Back to County Search Page', freereg_contents_path(@church) %>
	    	
    	</li>
    	<% if @page_number > 0 %>		    	
		    <li>
		    	<%= link_to "Previous", freereg_content_path(@search_query, :page_number => @page_number-1) %>
	    	</li>
    	<% end %>
	</ul>
</div>


