
<p style="text-align: center">This Table shows the number of records in each decade held in the FreeREG database from 1530 to 2019 for
the <b><%= @record_type %></b> Registers for <b><%= @church %></b> in <b><%= @place_name %></b>  in the County of: <b><%= @county %></b>
</p>
<div style="float:left;"><%= button_to_function "Previous Page", "history.back()" %> </div>
 <div style="float:left;"><%= button_to 'Back to Places Index', show_freereg_content_path(@county_id, :anchor => "#{@place}"), method: :get %> </div>
<table>
  <tr>
    <th>Period: Those periods with zero data may span many decades</th>
    <th>Number of records</th>
    
  </tr>
<% i = 1530%>
<% ilast = 1530%>
<% ii = 1539%>
<% data_zero = 0 %>
<% zero = 0 %>
<% @decade.each do |data| %>
 

      <% if data == 0%>
      <% ilast = i if data_zero == 0 %>
      <% data_zero = data_zero + 1 %>

    <% else %>
    
      <% if data_zero == 0 %>
      
        <% ii = i + 9 %>
        <tr>
        <td><%= i %>-<%= ii %></td>
        <td><%= data %></td>
         </tr>
      <% else %>
       
        <% ii = ilast + data_zero*10 - 1%>
        <tr>
        <td><%= ilast %>-<%= ii %></td>
        <td><%= zero %></td>
         </tr>
        <% ii = i + 9 %>
        <tr>
        <td><%= i %>-<%= ii %></td>
        <td><%= data %></td>

         </tr>
         <% data_zero = 0 %>
         <% ilast = i %>
      <% end %>
    <% end %>

    <% i = i + 10 %>
    
 
<% end %>
  <% unless data_zero == 0 then %>
   <% i = i - 11 %>
    <tr>
    <td><%= ilast %>-<%= i %></td>
    <td><%= zero %></td>
    </tr>
  <% end %>


</table><br>
 <div style="float:left;"><%= button_to_function "Previous Page", "history.back()" %> </div>
 <div style="float:left;"><%= button_to 'Back to Places Index', show_freereg_content_path( @county_id, :anchor => "#{@place}"), method: :get %> </div>


