<h4 class="beta  text--teal"> <%= @county  %> General Information: County Coordinator: <%= @coordinator  %></h4>
<%= county_content(@chapman_code) %>
<h4 class="beta  text--teal">Data Base Contents: <%= Rails.application.config.dataset_date%></h4>

<div class="table-wrapper">
 These Places, Churches and Registers have data records. Click on the name for more information (including quantity and period covered).
 <div class="grid">
  <%= paginate @places  %>
  <table  class="grid__item two-thirds table--bordered t50">
   <colgroup >
   <col class="t15">
   <col class="t15">
   <col class="t15">
   <col class="t15">
 </colgroup>
 <thead >
  <tr>  
    <th>Place</th>
    <th>Churches </th>
    <th>Registers</th>
    <th>Record last amended</th>  
  </tr>
</thead>

<tbody>
   <% old_place_name = nil %>
  <% @places.order_by(place_name: 1).each do |place| %>
   <% old_church_name = nil %>
  <% place.churches.order_by(church: 1).each do |church| %>
  <% church.registers.order_by(register_type: 1).each do |register| %>
  <% session[:placeid] = place.id%>
  <tr style= "color:black" id="<%=place.id%>"> 
    <% if place.place_name != old_place_name %>
      <td > <%= link_to(place.place_name, show_place_path(place)) %> </td>
      <% old_place_name = place.place_name %>
    <% else %>
       <td> </td>
    <% end%>
    <% if church.church_name != old_church_name %>
      <td > <%= link_to(church.church_name, show_church_path(church)) %> </td>
      <% old_church_name = church.church_name %>
    <% else %>
     <td> </td>
    <% end%>
    <td > <% registertype = RegisterType.display_name(register.register_type)%>
      <%= link_to(registertype, show_register_path(register)) %></td>
      <td > <%= register.last_amended %> </td>
    </tr>
    <% end%>
    <% end%>
    <% end %>
  </tbody>
</table>


<div  class="grid__item one-quarter float_right">
  <h5 class="beta  text--teal">What is a Register</h5>
  <%= @page %>
</div>
</div>



