<% title "#{RegisterType.display_name(@register.register_type)} #{@church_name} #{@place_name} #{@county} transcriptions" %>
<div class="container">
  <details>
    <summary><strong>Navigate the page</summary>
    <ul>
      <li><a href="#register_information">Register Information</a></li>
      <li><a href="#image_information">Image Information</a></li>
      <li><a href="#transcriptions">Trnascriptions</a></li>
    </ul></strong>
  </details>

  <section class="island ">
  <div class="text--center">
    <%= link_to 'County Selection', new_freereg_content_path, method: :get, :class => "btn weight--light  btn--small"%> 
    <% if @character.present? %>
      <%= link_to 'Alphabet Place Selection', freereg_contents_path, :class => "btn weight--light btn--small "%>
      <%= link_to 'These Alphabet Places', select_places_freereg_content_path, :class => "btn weight--light btn--small "%>
    <% else %> 
     <%= link_to 'This County', freereg_contents_path, method: :get, :class => "btn weight--light  btn--small"%>
    <% end%>
    <%= link_to 'Place for this Church', show_place_freereg_content_path(@place_name), :class => "btn weight--light  btn--small" %> 
    <%= link_to 'Church for this Register', show_church_freereg_content_path( @register.church), :class => "btn weight--light  btn--small" %>     
    </div><br>

    <h1 class=" text--center">Register <%= @register_type %> for <%=@church.church_name %> of <%= @place_name %> in <%= @county %></h1>

    <a id="register_information"><h3 class=" text--center">Information about the Register</h3></a>
    <%= render 'register_information' %>

    <details>
      <summary><strong>Navigate the page</summary>
      <ul>
        <li><a href="#register_information">Register Information</a></li>
        <li><a href="#image_information">Image Information</a></li>
        <li><a href="#transcriptions">Trnascriptions</a></li>
      </ul></strong>
    </details>

    <% if !@images.empty? %>
      <br><a id="image_information"><h3 class="text--center">Images being Transcribed and Available for Transcription</h3></a>
      <%= render 'images' %>
    <% end %>

    <details>
      <summary><strong>Navigate the page</summary>
      <ul>
        <li><a href="#register_information">Register Information</a></li>
        <li><a href="#image_information">Image Information</a></li>
        <li><a href="#transcriptions">Trnascriptions</a></li>
      </ul></strong>
    </details>

    <a id="transcriptions"><h3 class=" text--center">Number of transcriptions</h3></a>
    <p class=" text--center">Those periods with zero data may span several decades. The first period may include pre 1530 records. </p> 
    <%= render 'decade' %>
  </section>
</div>
