<% title "#{@church_name} #{@place_name} #{@county} transcriptions" %>
<div class="container">
  <section class="island ">
    <div style="text-align: center">
      <%= link_to 'County Selection', new_freereg_content_path, method: :get, :class => "btn   btn--small"%>
      <%= link_to 'Another Place in this County', freereg_contents_path, method: :get, :class => "btn   btn--small"%>
      <%= link_to 'This Place', show_place_freereg_content_path(@place_name), :class => "btn   btn--small" %>
    </div>
    <br>
    <h3 class=" text--center">Information about <%=@church.church_name %> of <%= @place_name %> in <%= @county %> </h3>
    <h4 class=" text--center"><%=@church.church_name %> has the following <%= 'register'.pluralize(@registers_count) %>:
      <% @registers.each do |register| %>
        <%= link_to(RegisterType.display_name(register.register_type), show_register_freereg_content_path(register), :class => "btn   btn--small") %>
      <% end %></h4>
    <%= render 'church' %>
    <h3 class=" text--center">Numbers of transcriptions for <%=@church.church_name %> of <%= @place_name %> in <%= @county %>  </h3>
    <p class=" text--center">Those periods with zero data may span several decades. The first period may include pre 1530 records. </p>
    <%= render 'decade' %>
  </section>
</div>