<% require 'record_type' %>

<p></p>
<p>Registers held in the FreeREG database for 
<b><%= @place_name %>;</b>
  
  <b><%= @church %></b>
   
   in the County of:
   <b><%= @county %></b>
</p>
In this Table the Register Type indicates the source used for the transcription and can be: PR is from a Parish Register; AT is from an Archdeacon's Transcript; BT is from a Bishop's Transcript; TR is from a transcript of the Parish Registers; PH is from a Phillimore Transcript of a Parish Register; EX is from a selective extract of the Parish Register; DW is from a Dwelly's Transcript of a Parish register; and if there is no entry our transcription is from an unspecified source but is most likely transcribed from a Parish Register. 
<p>You may see the decade for which registers have been transcribed by following the "Decadal Data" link.</p>
<table>
  <tr>
    <th>Register name</th>
    <th>Source</th>
    <th>Quality</th>
    <th>Copyright</th>
    <th>Register Notes</th>
    <th>Last amended</th>
    
    
   
  </tr>

<% @registers.each do |register| %>
  <tr> 
    <% unless register.register_name.nil? %>
    <td><%= link_to(register.register_name, show_register_path(register)) %> </td> 
    <% end %>
    <% if register.register_name.nil? %>
    <td><%= link_to(register.alternate_register_name, show_register_path(register)) %></td>
     <% end %>
    <td><%= register.source %></td>
    <td><%= register.quality %></td>
    <td><%= register.copyright %></td>
    <td><%= register.register_notes %></td>
    <td><%= register.last_amended %></td>
    
  </tr>
<% end %>
</table>
    <%= button_to 'Back to Places Page', show_freereg_content_path(@search_query,:page_number => @page_number, :anchor => "#{@place}"),method: :get %> 
       


