<% require 'record_type' %>

<p></p>
<p>Transcription details of the 
 <b><%= @register_name %></b> register for <b><%= @church %></b> in <b><%= @place_name %></b>   
   of 
   <b><%= @county %></b>. You may see the decade for which registers have been transcribed by following the "Decadal Data" link.
<table>
  <tr>
    <th style="width:10%">Record type</th>
    <th style="width:10%">Number of records</th>
    <th style="width:7%">First year</th>
    <th style="width:7%">Last year</th>
    <th style="width:30%">Credit</th>
    <th style="width:12%">Transcription date</th>
    <th style="width:12%">Last amended date</th>
    <th style="width:12%">Link to decadal data</th>
   
  </tr>

<% @files.each do |file| %>
  <tr> 
    <% unless file.records.nil? %>
   <% value = RecordType.display_name(file.record_type) %>
    <td style="width:10%"><%= value %></td>
    <td style="width:10%"><%= file.records %></td>
    <td style="width:7%"><%= file.datemin %></td>
    <td style="width:7%"><%= file.datemax %></td>
    <% if file.credit_name.nil? %> 
    <td style="width:30%"><%= file.transcriber_name%></td>
    <%end%>
     <% unless file.credit_name.nil? %> 
    <td style="width:34%"><%= file.credit_name %></td>
    <%end%>
    <td style="width:12%"><%= file.transcription_date %></td>
    <td style="width:12%"><%= file.modification_date %></td>
    <td style="width:12%"><%= link_to "Decadal Data", show_decade_path(value) %></td>
   
     <%end%>
    
    
  </tr>
<% end %>
</table><br>
    <%= button_to_function "Back to Previous Page", "history.back()" %> <br>
    <%= button_to 'Back to Places Page', show_freereg_content_path(@search_query,:page_number => @page_number, :anchor => "#{@place}"), method: :get %> 