<% title "#{RegisterType.display_name(@register.register_type)} #{@church_name} #{@place_name} #{@county} information" %>
<%#= This is a view used by the showing of a register from the Transcriptions link %>
<div class="container">
  <section class="island ">
    <div class="text--center">
      <%= link_to 'County Selection', new_freereg_content_path, method: :get, :class => "btn   btn--small"%>
      <%= link_to 'Another Place in this County', freereg_contents_path, method: :get, :class => "btn   btn--small"%>
      <%= link_to 'Place for this Church and Register', show_place_freereg_content_path(@place.id), :class => "btn   btn--small" %>
      <%= link_to 'Church for this Register', show_church_freereg_content_path(@church.id), :class => "btn   btn--small" %>
      <%= link_to 'Gaps and Embargoes', gaps_and_embargoes_freereg_content_path(@register.id), :class => "btn   btn--small" %>
      <%= link_to 'Unique Names', unique_register_names_path(@register.id), method: :get, :class => "btn   btn--small"%>
    </div>
    <%= render 'flash_notice' %>
    <br>
    <h3 class=" text--center">Information about the <%=RegisterType.display_name(@register.register_type) %> from <%=@church.church_name %> of <%= @place_name %> in <%= @county %> </h3>
    <%= render 'register' %>
    <%= render 'decade' %>
  </section>
</div>