<% require 'record_type' %>
<div class="grid">
  <section class="island ">

<h4 style="text-align: center">The database contained the following church in <%= @place_name %> of <b><%= @county %> on <%= Rails.application.config.dataset_date %>. </h4>
 <div ><%= button_to 'Back to Places Index', show_freereg_content_path( @county_id, :anchor => "#{@place}"), method: :get, :class => "btn  btn--small" %>  <br></div>

<table class="table--bordered  table--striped  table--data">
<colgroup >
     <col class=t30>
     <col >
 </colgroup>
   <thead  >
  <tr>    
    <th >Field</th>
    <th >Value</th>
  </tr>
</thead>
  <tbody>
  <tr> 
   <td>Church name :</td><td > <%= @church.church_name %></td>
  </tr>
  
   <% if @names%>
     <%  @names.each do |name| %>
         <% unless name == ''%> 
           <tr><td>Other possible church names :</td><td ><%= name %>  </td>  </tr>
         <%end%>
     <%end%>
   <%end%>
   
   <tr>
   <td>Denomination of the Church :</td><td ><%= @church.denomination %></td>   
   </tr>
  
   <tr>
   <td>Notes about the Church :</td><td > <%= @church.church_notes %> </td>   
   </tr>
    <tr>
   <td>Record last amended:</td><td > <%= @church.last_amended %></td>   
   </tr>
   <tr>
         <td>Number of records:</td><td > <%= @stats[0] %></td>   
       </tr>
        <tr>
         <td>First year of records:</td><td > <%= @stats[1] %></td>   
       </tr>
       <tr>
         <td>Last year of records:</td><td > <%= @stats[2] %></td>   
       </tr>
</table>  
</tbody>
</section>

<%= render "church_show_sidebar" %>
 