<% title "#{@place.place_name} #{@county} transcriptions " %>
<div class="container">
  <section class="island ">
    <div class="text--center">
      <%= link_to 'County Selection', new_freereg_content_path, method: :get, :class => "btn   btn--small"%>
      <% if @character.present? %>
        <%= link_to 'Alphabet Place Selection', freereg_contents_path, :class => "btn  btn--small "%>
        <%= link_to 'These Alphabet Places', select_places_freereg_content_path, :class => "btn  btn--small "%>
      <%else%>
        <%= link_to 'This County', freereg_contents_path, method: :get, :class => "btn   btn--small"%>
      <% end %>
    </div>
     <br>
    <h2 class=" text--center">Transcriptions for <%= @place.place_name %> in <%= @county %> </h2>
    <h3 class=" text--center">Information about this place  </h3>
    <h4 class=" text--center">This place has the following <%= pluralize(@churches_count, 'church', 'churches') %>:
      <% @place.churches.order_by(church_name: 1).each do |church| %>
        <%= link_to church.church_name, show_church_freereg_content_path(church), :class => "btn   btn--small"  %>
      <% end %></h4>
    <%= render 'place' %>
    <h3 class=" text--center">Numbers of transcriptions for this place</h4>
    <p class=" text--center">Those periods with zero data may span several decades. The first period may include pre 1530 records. </p>
    <%= render 'decade' %>
  </section>
</div>