<% require 'record_type' %>

<p style="text-align: center">When it was updated on <%= Rails.application.config.dataset_date %> the database contained the following church in <b><%= @place_name %>;</b> for <b><%= @county %></b> with the following characteristics. 
</p>

    <div id="main"style="color:black">
<table class="table--bordered  table--striped  table--data">
  <tr>    
    <th style="width:25%">Field</th>
    <th style="width:50">Value</th>
  </tr>

  <tr> 
   <td>Church name :</td><td > <%= @church.church_name %></td>
  </tr>
  
   <% if @names%>
     <%  @names.each do |name| %>
         <% unless name == ''%> 
           <tr><td>Other possible church names :</td><td ><%= name %>  </td>  </tr>
         <%end%>
     <%end%>
   <%end%>
   
   <tr>
   <td>Denomination of the Church :</td><td ><%= @church.denomination %></td>   
   </tr>
  
   <tr>
   <td>Notes about the Church :</td><td > <%= @church.church_notes %> </td>   
   </tr>
    <tr>
   <td>Record last amended:</td><td > <%= @church.last_amended %></td>   
   </tr>
   <tr>
         <td>Number of records:</td><td > <%= @stats[0] %></td>   
       </tr>
        <tr>
         <td>First year of records:</td><td > <%= @stats[1] %></td>   
       </tr>
       <tr>
         <td>Last year of records:</td><td > <%= @stats[2] %></td>   
       </tr>
</table>  
<p style="text-align: center">The church has transcriptions for the following register(s).</p>
<table class="table--bordered  table--striped  table--data">
<% @registers.each do |register| %>
  <tr> 
   
    <td><%= link_to(RegisterType.display_name(register.register_type), show_register_path(register)) %> </td> 
    
        
  </tr>
<% end %>
</table>
<br>


<p>      
In this Table the Register Type can be: a Parish Register; an Archdeacon's Transcript; a Bishop's Transcript; a Transcript of the Parish Registers; a Phillimore Transcript of a Parish Register; a selective Extract of the Parish Register; a Dwelly's Transcript of a Parish register;  an Unspecified document but is <b>most likely</b> transcribed from a Parish Register. The Source is where FreeREG obtained the documents/images that were transcribed. Notes are additional comments made about the Register. The date given in the Record last amended column is the most recent date that a record in the register was entered or amended in the database.
</p>
 <div style="float:left;"><%= button_to 'Back to Places Index', show_freereg_content_path( @county_id, :anchor => "#{@place}"), method: :get %> </div>