<% title "#{@county} information" %>
<div class="text--center push-half--bottom">
  <%= link_to 'Choose new County', new_freereg_content_path, :class => "btn  btn--small" %>
  <%= link_to 'Choose new Place', freereg_contents_path, :class => "btn  btn--small", :title => "in this county"%>
  <%= link_to 'Names', unique_place_names_path(@place.id), method: :get, :class => "btn   btn--small"%>
</div>
<h1 class="title text--center"><%= @county %></h1>
<%= render 'flash_notice' %>
<h2 class="accessibility">Places for which information should exist</h2>
<% loc = (@character) ? "#{@county} (#{@character})" : @county %>
<div class="grid">
  <div class="grid__item three-quarters">
    <p >Click on the Place, Church or Register name for more details at that level. (On a smart-phone, try <q>landscape</q> view for Place details page.)</p>
    <%= render 'show_body' %>
  </div>
  <div class="grid__item one-quarter">
    <%= img_tag("fmp_300_600.gif") %>
  </div>
</div>