<% title "#{@place.place_name} #{@county} names" %>
<div class="container">
  <section class="island ">
    <div class="text--center">
      <% if @referer.present?%>
        <%= link_to 'Back to Search Record', @referer, :class => "btn   btn--small"%>
      <% else%>
        <%= link_to 'County Selection', new_freereg_content_path, method: :get, :class => "btn   btn--small"%>
        <%= link_to 'Another Place in this County', freereg_contents_path, method: :get, :class => "btn   btn--small"%>
        <%= link_to 'This Place', show_place_freereg_content_path(@place.id), method: :get, :class => "btn   btn--small"%>
      <% end%>
    </div>
    <%= render 'flash_notice' %>
    <br>
    <h2 class=" text--center">Unique names for people in <%= @place.place_name %> of <%= @county %> </h2>
    <%= render 'unique_names' %>
  </section>
</div>