<%# if @communication.selected_county %>
<% problem_record = SearchRecord.where(id: @communication.record_id).first%>
<% individual = problem_record.freecen_individual%>
<% dwelling = individual.freecen_dwelling %>
<% piece = dwelling.freecen_piece %>
<%# raise piece.inspect %>
  <p>
    <b>County:</b>
    <%= ChapmanCode::name_from_code(problem_record.chapman_code) + '(' + problem_record.chapman_code + ')' %>
  </p>
<%# end %>
<p> <b>Data Problem:</b></p>
<h4>Below are the further details of the data:</h4>
<table border="1">
  <tr>
    <th>Full Name :</th>
    <td>
      <%= "#{individual.forenames} #{individual.surname}"%>
    </td>
  </tr>
</table>
<table border="1">
  <tr>
    <th>Census Year</th>
    <th>County</th>
    <th>Place</th>
    <th>Civil Parish</th>
    <th>Piece</th>
    <th>Enumeration District</th>
    <th>Folio</th>
    <th>Page</th>
    <th>Schedule Number</th>
    <th>House Number</th>
    <th>House or Street Name</th>
  </tr>
  <% dwelling.tap do |d| %>
    <tr>
      <td><%= d.freecen_piece.year %></td>
      <td>
        <%= "#{ChapmanCode::name_from_code(d.freecen_piece.chapman_code)} ( #{ d.freecen_piece.chapman_code } )"%>
      </td>
      <td><%= d.freecen_piece.place.place_name %></td>
      <td><%= d.civil_parish %></td>
      <td><%= d.freecen_piece.piece_number %></td>
      <td><%= d.enumeration_district %></td>
      <td><%= d.folio_number %></td>
      <td><%= d.page_number %></td>
      <td><%= d.schedule_number %></td>
      <td><%= d.house_number %></td>
      <td><%= d.house_or_street_name %></td>
    </tr>
  <% end %>
</table>
