<p> Dear <%= @communication.name %>;</p>
<p>PLEASE DO NOT REPLY TO THIS EMAIL. Thank you for your correspondence at <%= @communication.contact_time.strftime("%H:%M on %F") unless @communication.contact_time.nil?%>. Please quote the following number <%= @communication.identifier %> in any subsequent communication with us on this matter.</p>
<p>A member of our team should be in touch as soon as we can.</p>
<p>The following is the information you submitted.</p>
<p>  <b><%= @communication.contact_type %>:</b></p>
<%= @communication.body %>
<% if @appname.downcase == 'freecen'%>
  <% if @communication.contact_type == 'Data Problem'%>
    <%= render 'cen_coordinator_data_problem'%>
  <% end %>
<% end %>
<% if @communication.screenshot_url.present?%>
  <p>A copy of any attachment is provided.</p>
<% end%>
<p>The <%= @appname %> Team</p>