<% base = Rails.application.config.website.to_s.chomp('/') %>
<% ref_url = @is_contact ? "#{base}/contacts/#{@communication.id}" : "#{base}/feedbacks/#{@communication.id}" %>
<% salutation_name = @is_contact ? @communication.name : (@communication.user_name.presence || @communication.name) %>
<% submitted_at = @is_contact ? @communication.contact_time : @communication.feedback_time %>
<% summary = @is_contact ? @communication.contact_type : @communication.title %>

<p>Hi,</p>

<p>You had submitted <%= @is_contact ? 'a message' : 'a feedback' %> to FreeBMD2, reference
  <%= @communication.identifier %>
  <% if summary.present? %>
    concerning <b><%= summary %></b>
  <% end %>
  at <%= submitted_at.strftime('%H:%M on %F') unless submitted_at.nil? %>.</p>

<p>This email is to notify you that we have closed the GitHub issue. You can view the discussion here:
  <%= link_to 'link to GitHub issue', @communication.github_issue_url %>.</p>

<p>Thank you,<br>
FreeBMD2 team</p>
