<p> Dear <%= @name %>;</p>
<p>We have received correspondence on a <%= @contact.contact_type %> from <%=@contact.name%> at <%= @contact.email_address%>. </p>
<p>Copies gone to all registered volunteer coordinators: (<% @ccs.each do |ccs| %><%=ccs%>,<%end%>)</p>
<p>It has been suggested that the first person in the list takes the lead in responding.</p>
<p>
<b>Content of report:</b>
<%= @contact.body %>
</p>

<p>
<b>Time:</b>
<%= @contact.contact_time.strftime("%H:%M on %F") unless @contact.contact_time.nil? %>
</p>
<p>
<b>Screenshot:</b>
<% if @contact.screenshot_url %>
A screenshot was attached.
<%= link_to("link",@contact.contact_screenshot_url) %><br>
<% else %>
No screenshot attached.
<% end %>
</p>

<p> The <%= MyopicVicar::Application.config.freexxx_display_name %> Team</p>
