<p> Dear <%=@name %>;</p>
<p>We have received correspondence on a <%= @contact.contact_type %> that was directed us from <%=@contact.name%> at <%=@contact.email_address%>. </p>
<p>Copies went to all registered system administrators: (<% @ccs.each do |ccs| %><%=ccs%>,<%end%>)</p>
<% if MyopicVicar::Application.config.template_set == 'freereg' %>
  <p>It is suggested that Eric Dickens takes the lead in responding.
<% else %>
  <p>It is suggested that Brenda Bowers takes the lead in responding.
<% end %>
<p>You may review the contact on line if you are logged into the system.</p>
<p><a href="<%=Rails.application.config.website%>/contacts/<%=@contact._id%>"> Contact </a></p>
<p><b>Time:</b> <%= @contact.contact_time.strftime("%H:%M on %F") unless @contact.contact_time.nil? %></p>
<p><b>Screenshot:</b>
    <% if @contact.screenshot_url %>
      <%= image_tag @contact.screenshot_url %>
    <% else %>
      No screenshot attached.
    <% end %></p>
<p><b>Body:</b><%= @contact.body %></p>

<p> The <%= MyopicVicar::Application.config.freexxx_display_name %> Team</p>
