<p> Dear <%= @name %>;</p>
<p>We have received correspondence that was directed to you from <%=@contact.name%>. </p>
<p>You may review on line if you are logged into the system.</p>
<%= button_to ' Access the contact', contact_path(@contact),  method: :get%>
<p>
<b>Type:</b>
<%= @contact.contact_type %>
</p>
<% if @contact.contact_type == 'Data Problem' &&  @contact.entry_id.present?%>
<p> <%= button_to ' Record in question', freereg1_csv_entry_path(@contact.entry_id),  method: :get%>
<% end%>
<p>
<b>Time:</b>
<%= @contact.contact_time.strftime("%H:%M on %F") unless @contact.contact_time.nil? %>
</p>
<p>
<b>Body:</b>
<%= @contact.body %>
</p>
<p>
<b>Screenshot:</b>
<% if @contact.screenshot_url %>
<%= image_tag @contact.screenshot_url %>
<% else %>
No screenshot attached.
<% end %>
</p>
<p> The FreeREG Team</p>