

<p> Dear <%= @contact.name %>;</p>
<p>Thank you for your correspondence. </p>


<p>The following is the information you submitted.
</p>
<p>
  <b>Type:</b>
  <%= @contact.contact_type %>
</p>


<p>
  <b>Title:</b>
  <%= @contact.title %>
</p>


<p>
  <b>Time:</b>
  <%= @contact.contact_time.strftime("%H:%M on %F") unless @contact.contact_time.nil? %>
</p>
<p>
  <b>Management:</b>
  <%= @contact.contact_management %>
</p>
<p>
  <b>County:</b>
  <%= @contact.contact_county %>
</p>
<p>
  <b>Syndicate:</b>
  <%= @contact.contact_syndicate %>
</p>

<p>
  <b>Body:</b>
  <%= @contact.body %>
</p>

<p>
  <b>Screenshot:</b>
  <% if @contact.screenshot_url %>
  <%= image_tag @contact.screenshot_url %>
  <% else %>
  No screenshot attached.
  <% end %>
</p>

<p> The FreeREG Team</p>
