<p> Dear <%= @contact.name %>;</p>
<p>Thank you for your correspondence. </p>
<p>The following is the information you submitted.
</p>
<p>
<b>Type:</b>
<%= @contact.contact_type %>
</p>
<p>
<b>Time:</b>
<%= @contact.contact_time.strftime("%H:%M on %F") unless @contact.contact_time.nil? %>
</p>
<p>
<b>Body:</b>
<%= @contact.body %>
</p>
<p>
<b>Screenshot:</b>
<% if @contact.screenshot_url %>
A screenshot was attached<br>
<%= image_url @contact.screenshot_url %>
<% else %>
No screenshot attached.
<% end %>
</p>
<p> The <%= MyopicVicar::Application.config.freexxx_display_name %> Team</p>
