<p> Dear <%= @send_to.person_forename %>;</p>
<p>We have received feedback <%= @contact.identifier %> from <%= @contact.name %> email <%= @contact.email_address %> at <%= @contact.feedback_time.strftime("%H:%M on %F") unless @contact.feedback_time.nil?%>. </p>
<p>You are requested to review the feedback and make an assessment as to the need for further action by the team. If action is required you are asked to create an issue for consideration  by the project team. You are further requested to respond to the member using the feedback reply message system as to the disposition of the feedback.</p>
<% unless @cc_names.blank? %>
  <p>Copies of the action request were sent to the following. Please include them in any correspondence<br>
    <%  @cc_names.each do |copy| %>
      <%= copy%>
    <% end%>
  </p>
<% end%>
<p>The following is the information submitted <a href="<%=Rails.application.config.website%>/feedbacks/<%=@contact.id%>">On line access</a></p>
<p>  <b><%= @contact.feedback_type %>:</b></p>
<p>  <%= @contact.body %></p>
<% if @contact.screenshot_url.present?%>
  <p>An image/attachment is provided</p>
<% end%>
<p><%= @signature[:u_name] %></p>
<p><%= @signature[:u_role]%></p>
<p>The <%= @appname %> Team.</p>
<p>Free UK Genealogy</p>