

<p> Dear <%= @user.person_forename %>;</p>
<p>Welcome. </p>

<p>To register as a researcher with FreeREG with a userid of <b><%= @user.userid %>.</b> You need to follow the link below to set your password to something only you know.
</p>

<p>http://xanthus.freereg2.zomo.co.uk/refinery/users/password/edit?initial=true&reset_password_token=<%= @user_token %></p>

<p> After setting the password you will be logged into the administrative tools for FreeREG for the first time.

<p> <b>In the future go to the following link to login to the server. </b></p>

<p>http://xanthus.freereg2.zomo.co.uk/refinery/users/login</p>

<p> Do not reply to this email but instead contact your coordinator who has been informed of your registration.</p>
<% unless @coordinator.nil? %>
<p> <%= @coordinator.person_forename %>  <%= @coordinator.person_surname %> with an email address of <%= @coordinator%></p>
<%end%>
<p> The FreeREG Team</p>
