

<p> Dear <%= @user.person_forename %>;</p>
<p>Welcome. </p>

<p>To complete registration as a transcriber with <%= MyopicVicar::Application.config.freexxx_display_name %>, using a profile(userid) of <b><%= @user.userid %>,</b> you need to set your password to something only you know by following the link below. (Alternatively paste a copy of that link into your browser address window).
</p>

<p><a href="<%=Rails.application.config.website%>/refinery/users/password/edit?initial=true&reset_password_token=<%= @user_token %>"> <%=Rails.application.config.website%>/refinery/users/password/edit?initial=true&reset_password_token=<%= @user_token %> </a></p>

<p> After setting the password you will be able to log into the server through the MEMBERS link and access transcriber tools for <%= MyopicVicar::Application.config.freexxx_display_name %> for the first time.

<p> <b>Go to the following link to login to the server. </b> We suggest you bookmark (save into favourites) this page</p>

<p> <a href="<%=Rails.application.config.website%>/refinery/users/login"> <%=Rails.application.config.website%>/refinery/users/login</a></p>

<p> Do not reply to this email but instead contact your coordinator who has been informed of your registration.</p>

<% unless @coordinator.nil? %>
<p> <%= @coordinator.person_forename %>  <%= @coordinator.person_surname %> at <%= @coordinator.email_address%></p>
<%end%>

<p> We hope you enjoy working on <%= MyopicVicar::Application.config.freexxx_display_name %> transcriptions.

<p> The <%= MyopicVicar::Application.config.freexxx_display_name %> Team</p>
