<p> Dear <%= @user.person_forename %>;</p>
<p>You have requested a password reset on <%= MyopicVicar::Application.config.freexxx_display_name %>. Please click on the following link or paste a copy into your browser address window to reset your password to something only you know.
</p>
<p><a href="<%= edit_user_password_url(reset_password_token: @user_token, initial: true) %>"><%= edit_user_password_url(reset_password_token: @user_token, initial: true) %></a></p>
<p> Do not reply to this email but if you have any difficulties please contact your coordinator.</p>
<% unless @coordinator.nil? %>
  <p> <%= @coordinator.person_forename %>  <%= @coordinator.person_surname %> at <%= @coordinator.email_address%></p>
<%end%>
<p> We hope you are enjoying working with <%= MyopicVicar::Application.config.freexxx_display_name %>.
  <p>The <%= @appname %> Team</p>