

<p> Dear <%= @user.person_forename %>;</p>
 <p>You have requested a password reset. Please click on the following link or paste a copy into your browser address window to reset your password to something only you know.
</p>

<p><%=Rails.application.config.website%>/refinery/users/password/edit?initial=true&reset_password_token=<%= @user_token %></p>

<p> Do not reply to this email but instead contact your coordinator who has been informed of your registration.</p>

<% unless @coordinator.nil? %>

<p> <%= @coordinator.person_forename %>  <%= @coordinator.person_surname %> at <%= @coordinator.email_address%></p>
<%end%>
<p> We hope you are enjoying  working on with FreeREG.

<p> The FreeREG Team</p>

