

<p> Dear <%= @user.person_forename %>;</p>
 <p>You have requested a password reset. Please click on the following link or paste a copy into your browser address window to reset your password to something only you know.
</p>

<p><%= link_to 'Change my password', edit_password_url(@user, :reset_password_token => @token) %></p></p>

<p> Do not reply to this email but if you have any difficulties please contact your coordinator.</p>

<% unless @coordinator.nil? %>

<p> <%= @coordinator.person_forename %>  <%= @coordinator.person_surname %> at <%= @coordinator.email_address%></p>
<%end%>
<p> We hope you are enjoying  working with FreeREG.

<p> The FreeREG Team</p>

