<p> Dear <%= @original_message.userid %>;</p>
<p>A reply to message reference <%= @original_message.identifier %> with a subject <%= @original_message.subject %>
  was sent to you by <%= @reply.userid %> at <%= @reply.message_time unless @reply.message_time.nil?%>.
</p>
<p>
  You are requested to log into the Members website (if not already logged in) and to review the message there. <br>
  On the initial landing page after the log in; select the "Messages" button and on the list of messages select the "Show" for message identification <%=@reply.identifier%></p>
<p> The FreeREG Team</p>