<p> Dear <%= @original_message.userid %>;</p>
<p>A reply to message reference 
  <a href="<%=Rails.application.config.website%>/messages/<%=@original_message.id%>"><%= @original_message.identifier %>
    was sent to us by <%= @reply.userid %> at <%= @reply.message_time.strftime("%H:%M on %F") unless @reply.message_time.nil?%>.</p>
  <p>As follows:</p>
  <p><%= @reply.body%></p>
  <% if @reply.attachment.present?%>
    There is an File attachment
  <% end%>
  <% if @reply.images.present?%>
    There is an Image attachment
  <% end%>
  <p> The FreeREG Team</p>