

<p> Dear <%= @coordinator.person_forename unless @coordinator.nil? %>; (Coordinator for researchers)</p>


<p>A user <%= @user.person_forename%>  <%= @user.person_surname %> with an email address of <%= @user.email_address%>has registered with <%= MyopicVicar::Application.config.freexxx_display_name %> as a researcher using an userid of <b><%= @user.userid %>.</b> </p>

<p>The Registrant has have been sent a link to confirm their email address and to register a password. You should receive confirmation of that final step in the registration process as soon as they have actioned that link.</p>

<p> The <%= MyopicVicar::Application.config.freexxx_display_name %> Team</p>
