

<p> Dear <%= @coordinator.person_forename %>; (Coordinator for <%= @user.syndicate%>)</p>


<p>A transcriber <%= @user.person_forename%>  <%= @user.person_surname %> with an email address of <%= @user.email_address%> has completed registered with FreeREG using an userid of <b><%= @user.userid %>.</b> </p>

<p> The FreeREG Team</p>
