

<p> Dear <%= @coordinator.person_forename %>; </p>


<p>The registrant <%= @user.person_forename%>  <%= @user.person_surname %> at <%= @user.email_address%> has confirmed their email address and registered a password with FreeREG using an userid of <b><%= @user.userid %>.</b> </p>

<p>They are now your responsibility</p>


<p> The FreeREG Team</p>
