

<p> Dear <%= @coordinator.person_forename %>; (Coordinator for <%@coordinator.syndicate%>)</p>


<p>The person <%= @user.person_forename%>  <%= @user.person_surname %> at <%= @user.email_address%> has registered with <%= MyopicVicar::Application.config.freexxx_display_name %> using an userid of <b><%= @user.userid %></b>. A link has been sent to them to establish a password and confirm their email address. You should receive confirmation of that final step in the registration process as soon as they have set up their password.</p>


<p> The <%= MyopicVicar::Application.config.freexxx_display_name %> Team</p>
