

<p> Dear <%= @coordinator.person_forename %>; (Coordinator for <%@user.syndicate%>)</p>


<p>The transcriber <%= @user.person_forename%>  <%= @user.person_surname %> at <%= @user.email_address%> you registered with FreeREG using an userid of <b><%= @user.userid %></b> has been sent a link to confirm their email address and to register a password. You should receive confirmation of that final step in the registration processas soon as they have actioned that link.</p>


<p> The FreeREG Team</p>
