<p> <%= @sc.person_forename %> the transcriber <%= @transcriber.userid%> of your syndicate <%= @transcriber.syndicate%> has requested that you obtain images from the following <a href="<%= Rails.application.config.website%>/image_server_groups/<%@group%>">group </a></p>
<p>The <%= @appname %> Team</p>