Dear Colleague:
<p><%= @sender.person_forename%> <%= @sender.person_surname%>, <%= @sender.person_role%> with FreeREG has requested we send you a message on the following subject: <%= @message.subject %>.</p>
<p>You are requested to log into the Members website <% if Rails.application.config.website == 'http://test3.freereg.org.uk' %> ON TEST3: https://test3.freereg.org.uk <% end%> (if not already logged in) to review the message there. </p>
<p>On the initial landing page after the log in; select the "Messages" button and on the list of messages select the "Show" for specific message identification <%=@message.identifier%>.</p>
<p>In many cases you will be able reply to the originator of the message by selecting the "Reply" button at the top of the message being displayed.</p>
<p> The FreeREG Servant</p>