

<p> Dear <%= @coordinator.person_forename %>; </p>


<p>The registrant <%= @user.person_forename%>  <%= @user.person_surname %> at <%= @user.email_address%> and userid of <b><%= @user.userid %> </b> has been assigned to your syndicate.</p>

<p>Please make them welcome</p>


<p> The FreeREG Team</p>
