Dear Colleague:
<p>
  <%= @sender.person_forename%> <%= @sender.person_surname%>, <%= @sender.person_role%> with FreeREG has requested we send you a message on the following subject: <%= @message.subject %><br>
</p>
<p>
  You are requested to log into the Members website (if not already logged in) and to reply to the message there and not by replying to this email. <br>
  On the initial landing page after the log in; select the "messages" button and on the list of messages select the "Show" for message identification <%=@message.identifier%>
</p>
<p> The FreeREG Team</p>