<html>
  <p>Hello Everyone,</p>
  <p>Here is the upload report for the month of <%= @start_date.strftime('%B')%></p>
  <div class="scrollable">
    <table style="border: 1px solid black;">
      <caption>
        <strong><p>Upload report by members</p></strong>
      </caption>
      <tr>
        <th style="border: 1px solid black; padding: 5px;">Time Period</th>
        <th style="border: 1px solid black; padding: 5px;">Roles</th>
        <th style="border: 1px solid black; padding: 5px">Upload Count</th>
      </tr>
      <% @uploaders_count.each do |u| %>
        <tr>
          <td style="border: 1px solid black; padding: 5px;"><%= "#{@start_date.to_date.strftime("%B, %d, %Y")} - #{@end_date.to_date.strftime("%B, %d, %Y")}" %></td>
          <td style="border: 1px solid black;  padding: 5px;">
              <%= u[0].split('_').map(&:titlecase).join(' ') %>
          </td>
          <td style="border: 1px solid black;  padding: 5px;"><%= u[1] %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="scrollable">
    <table style="border: 1px solid black;">
      <caption>
        <strong><p>Database Additions</p></strong>
      </caption>
      <tr>
        <th style="border: 1px solid black; padding: 5px;">New Records added</th>
        <td style="border: 1px solid black; padding: 5px;"><%= number_with_delimiter(@records_added) %></td>
      </tr>
    </table>
  </div>
  <% if @trend_data.present? %>
    <strong>Upload Trends (Rolling 12 Months)</strong>

    <p style="margin:8px 0 4px;"><strong>Records Added Per Month</strong></p>
    <% max_records = @trend_data.map { |d| d[:records_added] }.max.to_f %>
    <table style="border-collapse:collapse; font-size:12px; font-family:Arial,sans-serif;">
      <% @trend_data.each do |row| %>
        <% bar_px = max_records > 0 ? (row[:records_added] / max_records * 300).round : 0 %>
        <tr>
          <td style="text-align:right; padding:2px 6px 2px 0; width:50px; color:#555;"><%= row[:label] %></td>
          <td style="padding:2px 0;">
            <table style="border-collapse:collapse;"><tr>
              <td style="background-color:#4472C4; width:<%= bar_px %>px; height:14px;">&nbsp;</td>
            </tr></table>
          </td>
          <td style="padding:2px 0 2px 6px; color:#333;"><%= number_with_delimiter(row[:records_added]) %></td>
        </tr>
      <% end %>
    </table>

    <p style="margin:12px 0 4px;"><strong>Uploaders Per Month</strong></p>
    <% max_uploaders = @trend_data.map { |d| d[:uploaders] }.max.to_f %>
    <table style="border-collapse:collapse; font-size:12px; font-family:Arial,sans-serif;">
      <% @trend_data.each do |row| %>
        <% bar_px = max_uploaders > 0 ? (row[:uploaders] / max_uploaders * 300).round : 0 %>
        <tr>
          <td style="text-align:right; padding:2px 6px 2px 0; width:50px; color:#555;"><%= row[:label] %></td>
          <td style="padding:2px 0;">
            <table style="border-collapse:collapse;"><tr>
              <td style="background-color:#70AD47; width:<%= bar_px %>px; height:14px;">&nbsp;</td>
            </tr></table>
          </td>
          <td style="padding:2px 0 2px 6px; color:#333;"><%= row[:uploaders] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <strong>Syndicate Statistics</strong>
  <div class="scrollable">
    <table style="border: 1px solid black;">
      <caption>
        <strong><p>Syndicates open for transcription</p></strong>
      </caption>
      <tr>
        <th style="border: 1px solid black; padding: 5px;">Syndicate</th>
      </tr>
      <tr>
        <td style="border: 1px solid black; padding: 5px;"><%= @open_syndicates.pluck(:syndicate_code).join(', ') %></td>
      </tr>
    </table>
  </div>
  <div class="scrollable">
    <table style="border: 1px solid black;">
      <caption>
        <strong><p>Syndicates closed for transcription</p></strong>
      </caption>
      <tr>
        <th style="border: 1px solid black; padding: 5px;">Syndicate</th>
      </tr>
        <tr>
          <td style="border: 1px solid black; padding: 5px;"><%= @closed_syndicates.pluck(:syndicate_code).join(', ') %></td>
        </tr>
    </table>
  </div>
</html>