

<p> Dear <%= @coordinator.person_forename %>; </p>


<p> <%= @user.person_forename%>  <%= @user.person_surname %> at  userid  <b><%= @user.userid %> </b> has changed their email address to <%= @user.email_address%>.</p>


<p> The FreeREG Team</p>
