<p> Dear <%= @contact.name %>;</p>
<p>Thank you for your kind offer to volunteer with  <%= MyopicVicar::Application.config.freexxx_display_name %> at <%= @contact.contact_time.strftime("%H:%M on %F") %>. Please quote the following number <%= @contact.identifier %> in any subsequent communication with us on this matter.</p><p> A member of the team should be in touch within two business days.</p>
<p>The following is the information you submitted.
</p>
<% if @contact.selected_county %>
<p>
<b>County:</b>
<%= ChapmanCode::name_from_code(@contact.selected_county) + '(' + @contact.selected_county + ')' %>
</p>
<% end %>
<p><b>Body:</b></p>
<p><%= @contact.body %></p>
<% if @contact.screenshot_url.present? %>
 <p>An image is attached</p>
<% end %>
<p> The <%= MyopicVicar::Application.config.freexxx_display_name %> Team</p>
