<%= render 'flash_notice' %>
<p style="text-align: center"> <%= button_tag "Show CSV File Download", type: 'button', onclick: "hideDiv()", class: "btn btn--small", id: "downloadbutton", title: 'Show/Hide CSV File Download fields'%></p>
<div id = "csvdownload" style="display:none;">
  <%= form_for(:csvdownload, url: export_csv_site_statistics_path, method: :get, data: { confirm: "You sure you want to download a CSV file?"}) do |f| %>
    <fieldset class="inputs">
      <legend>Download CSV File</legend>
      <p >You can download a Comma-Separated Values file of rthe site statistics between the specified start and end dates. Use the drop downs to select from the dates for which these statistics are available. <br>
        <b>Note:</b> The file will be named Site_Stats_YYYYMMDD_YYYYMMDD.csv (where YYYYMMDD are your Start and End Dates)</p>
      <ol class="grid">
        <li class="grid__item one-third palm-one-whole">
          <%= f.label :period_from, "Start Date: " %>
          <%= f.select :period_from, @period_start_dates %>
        </li>
        <li class="grid__item one-third palm-one-whole">
          <%= f.label :period_to, "End Date: " %>
          <%= f.select :period_to, @period_end_dates %>
        </li>
            <%= f.submit 'Download CSV File', :class => "btn   btn--small", title: 'Downloads a CSV file',data: { disable_with: false } %>
          </fieldset>
        <% end %>
      </div>
      <script>
        function hideDiv() {
          var div = document.getElementById("csvdownload");
          var btn = document.getElementById("downloadbutton");
          if (div.style.display === "none") {
            div.style.display = "block";
            btn.innerHTML = "Hide CSV File Download"
          } else {
            div.style.display = "none";
            btn.innerHTML = "Show CSV File Download"
          }
        }
      </script>