<% case appname.downcase %>
<% when 'freecen' %>
<%= render 'freecen2_site_staistics/index' %>
<% when 'freereg' %>
<h1>Listing Site Statistics</h1>
<%= render 'stats_csv_download' %>
<table>
  <tr>
    <th>Interval end</th>
    <th>Year</th>
    <th>Month</th>
    <th>Day</th>
    <th>Number of records</th>
    <th>Number of searches</th>
    <th>Number of records added</th>
  </tr>
  <% @site_statistics.each do |site_statistic| %>
    <tr>
      <td><%= site_statistic.interval_end %></td>
      <td><%= site_statistic.year %></td>
      <td><%= site_statistic.month %></td>
      <td><%= site_statistic.day %></td>
      <td><%= site_statistic.n_records %></td>
      <td><%= site_statistic.n_searches %></td>
      <td><%= site_statistic.n_records_added %></td>
    </tr>
  <% end %>
</table>
<br />
<% end %>