<% breadcrumb :data_download %>
<%= render 'flash_notice' %>
<h2 style="text-align: center">Site Statistics Data Download</h2>
  <%= form_for(:csvdownload, url: export_csv_freecen2_site_statistics_path, method: :get, data: { confirm: "You sure you want to download a CSV file?"}) do |f| %>
    <fieldset class="inputs">
      <legend>Download CSV File</legend>
      <p> You can download a <b>C</b>omma-<b>S</b>eparated <b>V</b>alues file with counts of total individuals for each county at the specified end date and individuals added between the specified start and end dates.
      Use the dropdowns to select from the dates for which these statistics are available.</p>
        <p style="text-align: center"><b>Note:</b> The file will be named FreeCen_Stats_YYYYMMDD_YYYYMMDD.csv (where YYYYMMDD are your Start and End Dates).</p>
      <ol class="grid">
        <li class="grid__item one-third palm-one-whole" 
    <%= f.label :period_from, "Start Date: " %>
    <%= f.select :period_from, @period_start_dates %>
      </li>
          <li class="grid__item one-third palm-one-whole" 
    <%= f.label :period_to, "End Date: " %>
    <%= f.select :period_to, @period_end_dates %>
       </li>
            <%= f.submit 'Download CSV File', :class => "btn   btn--small", title: 'Downloads a CSV file',data: { disable_with: false } %>
          </fieldset>
        <% end %>
