<% breadcrumb :freecen2_stats_pieces,  @county%>
<h2 style="text-align: center"><%= @chapman_code %> (<%= @county %>) : Freecen2 Pieces for <%= @year %> ordered by <%=@sorted_by%></h2>
<p class=" text--center"> Select a link below to change the order of display</p>
<div  class=" text--center push--bottom">
  <%= link_to 'Piece Number', list_pieces_freecen2_site_statistics_path(county: @county, sorted_by: 'Piece Number', stats_year: @year), method: :get , :class => "btn btn--small", title: 'Reorder the list according to the alphabetical order of their piece number' %>
  <%= link_to 'Piece Name', list_pieces_freecen2_site_statistics_path(county: @county, sorted_by: 'Piece Name', stats_year: @year), method: :get , :class => "btn btn--small", title: 'Reorder the list according to the alphabetical order of their piece name' %>
  <%= link_to 'Most Recent Online' ,  list_pieces_freecen2_site_statistics_path(county: @county, sorted_by: 'Date Online', stats_year: @year), method: :get , :class => "btn btn--small", title: 'Reorder the list according to the most recent Online date' %>
</div>
<div class='scrollable'>
  <table  class="table--bordered table--data table--striped my-width" >
    <thead >
      <tr>
        <th class='sticky-header'>Piece Number </th>
        <th class='sticky-header'>Piece Name </th>
        <th class='sticky-header'>Online (Date)</th>
        <th class='sticky-header'>Data File Type</th>
        <th class='sticky-header'>Online VLD Files</th>
        <th class='sticky-header'>Incorp CSVProc Files</th>
        <th class='sticky-header'>UnIncorp CSVProc Files</th>
      </tr>
    </thead>
    <tbody>
      <% @freecen2_pieces.each do |piece|%>
        <tr>
          <td><%= piece.number %></td>
          <td><%= piece.name %></td>
          <td><%= stats_piece_online(piece) %></td>
          <td><%= stats_data_file_type(piece) %></td>
          <td><%= stats_vld_files_piece(piece) %></td>
          <td><%= stats_csv_files_piece_incorporated(piece) %></td>
          <td><%= stats_csv_files_piece_unincorporated(piece) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />