<div class='island  island--light'>
  <%= semantic_form_for @place, :html => { :class => 'grid'}  do |f| %>
    <%= f.hidden_field :editor, :value=>@user_userid %>
    <%= f.input :reason_for_change ,:label => 'Your reason for making the change', :hint => 'Multiple reasons may be selected.' ,:multiple => true, :as => :select, :include_blank => false, :required => true, :collection =>  @reasons, :input_html => {:class => 'simple_form_bgcolour', :size => 5}%>
    <%= f.input :place_name, :value=>@place.place_name, :label => 'Enter the New Place Name',:hint => 'Please take extreme care with the Place Name including its case!' ,:input_html => {:class => 'simple_form_bgcolour', :size => 40 }%>
    <%= f.simple_fields_for :alternate_freecen2_place_names do |alternate| %>
      <%= alternate.input :alternate_name,:label => 'Other Name for Place',:hint => 'Alternative name by which place may be known. Use the destroy box below to delete this entry',:input_html => {:class => 'simple_form_bgcolour', :size => 40 }%>
      <%= alternate.input :_destroy, :as => :boolean %>
    <% end %>
    <%= f.input :grid_reference , label: ' Either a Grid Reference OR the latitude and longitude. If entering lat/long blank this field out', :hint => 'Must be 2 capital characters followed by  4, 6 or 8 numerics eg NX123456',:input_html => {:class => 'simple_form_bgcolour', :size => 40} %>
    <%= f.input :latitude ,:hint => 'Required if no Grid Reference entered.', :label => 'Latitude in degrees eg 50.234. If Grid entered blank this field out.',:input_html => {:class => 'simple_form_bgcolour', :size => 40 }%>
    <%= f.input :longitude ,:hint => 'Required if no Grid Reference entered.', :label => 'Longitude in degrees eg -1.234. If Grid entered blank this field out.',:input_html => {:class => 'simple_form_bgcolour', :size => 40 }%>
    <%= f.input :source,:label => 'Select source from following list', :hint => 'Where was the information obtained for this Place entry. You must also enter a Website for the source.',:include_blank => false, :collection => @sources, :input_html => {:class => ' simple_form_bgcolour large_selection_field_width',:size => 5}, :required => true %>
    <%= f.input :genuki_url,:hint => 'Paste link for source Website.', :label => 'Website for Place Source', :input_html => {:class => 'simple_form_bgcolour', :size => 40 }, :required => true %>
    <%= f.input :place_notes,:label => 'Notes about the Place',as: :text, :input_html => { :class => 'simple_form_bgcolour', :size => '50x5' , :placeholder => 'Enter your notes'}%>
    <div style='text-align: center'>
      <%= f.action :submit,  :as => :button,  :label =>  'Submit', :button_html => {name: 'commit', value: 'Submit', :class => 'ladda-button' , 'data-style' => 'contract' ,'data-color' => appname_downcase , 'data-size' => 's', 'data-spinner-color' => '#ffffff'  } %>
      <%= f.action  :cancel, as: :link, label: 'Cancel' %>
    </div>
  <% end %>
</div>
<script type='text/javascript'>
  Ladda.bind( 'button[type=submit]' );
</script>