<% if ['data_manager', 'system_administrator', 'county_coordinator', 'validator'].include?(@user.person_role) %>
  <div style="text-align: center">
    <%= link_to 'Create New Freecen2 Place', new_freecen2_place_path, method: :get, :class => "btn   btn--small", title: 'Permits the addition of a new place' %>
  </div>
<% end%>
<div class="scrollable ">
  <table  class="table--bordered table--data table--striped " >
    <thead >
      <tr>
        <th class='sticky-header '>Place name</th>
        <th class='sticky-header '>Alternate names </th>
        <th class='sticky-header '>Latitude:</th>
        <th class='sticky-header '>Longitude:</th>
        <th class='sticky-header '>Source:</th>
        <th class='sticky-header '>Notes<br>
          <th class='sticky-header '>Show on map<br>
            <small> Opens in a new tab</small></th>
        </tr>
      </thead>
      <tbody >
        <% @places.each do |place| %>
          <tr id="<%= place.id %>">
            <td ><%= link_to(place.place_name, freecen2_place_path(place), class: 'btn   btn--small', title: 'Additional information on the place' )%> </td>
            <td > <%= alternate(place) %></td>
            <td > <%= place.latitude%></td>
            <td > <%= place.longitude%></td>
            <td > <%= place.source%></td>
            <td > <%= place.place_notes%></td>
            <td > <%= locate(place.latitude,place.longitude) %></td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>