<h3 style="text-align: center"><b><%= active(session[:active_place])%> Freecen2 Places for <%= @county  %></b>.</h3>
<%= render 'flash_notice' %>
<% if ['data_manager', 'system_administrator', 'county_coordinator'].include?(@user.person_role) %>
  <div style="text-align: center">
    <%= link_to 'Create New Freecen2 Place', new_freecen2_place_path, method: :get, :class => "btn   btn--small" %>
  </div>
<% end%>
<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead >
      <tr>
        <th class="t15">Place </th>
      </tr>
    </thead>
  </table>
  <div class="scrollable ">
    <table class=" table--bordered my-width table--data just--left">
      <tbody >
        <% @places.each do |place| %>
          <tr>
            <td class="t15"><%= link_to(place.place_name, freecen2_place_path(place) )%> </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>