<% breadcrumb :freecen2_places_active_index,  @county%>
<h3 style="text-align: center"><b><%= active(session[:active_place])%> Active Freecen2 Places for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) with records online</b>.</h3>
<%= render 'flash_notice' %>
<% if %w[project_manager executive_director county_coordinator master_county_coordinator country_coordinator data_manager system_administrator validator].include?(session[:role])%>
  <div style="text-align: center">
    <%= link_to 'Create New Freecen2 Place', new_freecen2_place_path, method: :get, :class => "btn   btn--small", title: 'Permits the addition of a new place' %>
  </div>
<% end%>
<div class='scrollable'>
  <table  class="table--bordered table--data table--striped " >
    <thead >
      <tr>
        <th class='sticky-header '>Place name</th>
        <th class='sticky-header '>Records</th>
        <th class='sticky-header '>Years</th>
        <th class='sticky-header '>Alternate names </th>
        <th class='sticky-header '>Latitude:</th>
        <th class='sticky-header '>Longitude:</th>
        <th class='sticky-header '>Show on map<br>
          <small> Opens new tab</small></th>
        <th class='sticky-header '>Source:</th>
        <th class='sticky-header '>Notes<br>
        </tr>
      </thead>
      <tbody  >
        <% @places.each do |place| %>
          <tr id="<%= place.id %>">
            <td ><%= link_to(place.place_name, freecen2_place_path(place), class: 'btn   btn--small', title: 'Additional information on the place' )%> </td>
            <td > <%= number_with_delimiter(place.search_records.count)%></td>
            <td > <%= cen_years(place.cen_data_years)%></td>
            <td > <%= alternate(place) %></td>
            <td > <%= place.latitude%></td>
            <td > <%= place.longitude%></td>
            <td > <%= locate(place.latitude,place.longitude) %></td>
            <td > <%= place.source%></td>
            <td > <%= place.place_notes%></td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
  <br>
  <br>