<% breadcrumb :search_names%>
<% if %w[data_manager system_administrator county_coordinator master_county_coordinator validator executive_director project_manager].include?(@user.person_role) %>
  <div style="text-align: center">
    <%= link_to 'Create New Freecen2 Place', new_freecen2_place_path, method: :get, :class => "btn   btn--small", title: 'Permits the addition of a new place' %>
  </div>
<% end%>
<%= render 'flash_notice' %>
<div class="island  island--light">
  <%= simple_form_for @freecen2_place, :html => { :class => "grid"}  do |f| %>
    <%= f.input :place_name, :label => "Search for Place name(s). Previous search name preloaded.",:hint => "Names entered are case insensitive and should be the stem of a name e.g. ann will locate ann anns ann's anns'. Results will include both or any of the names entered and will be independent of their order." ,:input_html => {:class => "simple_form_bgcolour", :size => 40 }%>
    <fieldset class="input" style="text-align: center">
      <legend><b> Advanced Search options - </b><i>if required select one</i></legend>
      <small> Note: Only alphabetic characters are permitted in advanced searches and a minimum of 3 characters is required for partial name searches.</small>
      <ol class="grid">
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="soundex_search_input">
          <% if @advanced_search == 'soundex' %>
            <%= f.radio_button :advanced_search, 'soundex', :checked =>true %> Soundex
          <% else %>
            <%= f.radio_button :advanced_search, 'soundex' %> Soundex
          <% end%>
        </li>
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="starts_with_search_input">
          <% if @advanced_search == 'starts_with' %>
            <%= f.radio_button :advanced_search, 'starts_with', :checked =>true %> Starts with
          <% else %>
            <%= f.radio_button :advanced_search, 'starts_with' %> Starts with
          <% end%>
        </li>
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="contains_search_input">
          <% if @advanced_search == 'contains' %>
            <%= f.radio_button :advanced_search, 'contains', :checked =>true %> Contains
          <% else %>
            <%= f.radio_button :advanced_search, 'contains' %> Contains
          <% end%>
        </li>
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="ends_with_search_input">
          <% if @advanced_search == 'ends_with' %>
            <%= f.radio_button :advanced_search, 'ends_with', :checked =>true %> Ends with
          <% else %>
            <%= f.radio_button :advanced_search, 'ends_with' %> Ends with
          <% end%>
        </li>
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="no_advanced_search_input">
          <% if @advanced_search.present? && @advanced_search != 'not_applicable' %>
            <%= f.radio_button :advanced_search, 'not_applicable' %> N/A
          <% else %>
            <%= f.radio_button :advanced_search, 'not_applicable', :checked =>true%> N/A
          <% end %>
        </li>
      </ol>
    </fieldset>
    <div id="ChooseCounty">
      <fieldset class="inputs" class="input" style="text-align: center">
        <legend><b>County to be searched</b></legend>
        <ol class="grid">
          <li class="grid__item three-quarters lap-three-quarters palm-one-whole">
            <%= f.input :county, selected: @county, label: 'Click in box for county options. Previous selection preloaded. ',hint: 'Leave empty to search all Counties.',include_blank: true,collection: @counties, input_html:  {class: 'simple_form_bgcolour simple_form_position overide_selection_field_width'} %>
            <%= f.hidden_field :disabled, :value=> false %>
          </li>
          <li class="grid__item one-quarter lap-one-quarter palm-one-whole">
            <%= search_names_clear_county %>
          </li>
        </ol>
      </fieldset>
    </div>
    <%= f.button :submit, 'Search Place Names',:button_html => {:class => "btn" }  %>
    <p class=" text--center"><br>
      <small><em> [Note: The regular Place Name Search is a text search that ignores ‘stop words’. These are common words that have little actual meaning. <br>
          A list of these words can be found <%= link_to 'HERE', "https://github.com/mongodb/mongo/blob/0e3b3ca8480ddddf5d0105d11a94bd4698335312/src/mongo/db/fts/stop_words_english.txt", target: :_blank %> (opens in new tab).<br>
          If your search returns no results and you think it might be because it contains a ‘stop word’, please try an Advanced Search, as this does not ignore 'stop words'.]</em></small></p>
  <% end %>
</div>