<h2 style="text-align: center">Database Records for <%= @county_description %> as of <%= @interval_end.strftime('%d %b %Y') %> </h2>
<div  style="text-align: center">
  <%= link_to 'Back to Totals for All Counties' , freecen2_contents_path, method: :get , :class => "btn btn--small" %>
  <br>
  <br>
</div>
<div>
  <fieldset class="inputs">
    <li class="grid__item one-third palm-one-whole" >
      <br>
      <br>
      <div style="text-align: center"><b>Place and Unique Names</b><br>
        <small class="additional">You may view the Database Records for a specific Place
          and if there is data Online also get a list of Unique Names</small>
        <%= simple_form_for :place_recs, method: :get do |c| %>
          <b>Select a Place</b><br>
          <%= select_tag "place_description", options_for_select(@all_places), id: "select_place", size: 3, "onchange" => @location %>
        <% end %>
      </div>
      <% if @freecen2_contents.records[@chapman_code][:total][:added_pieces_online] > 0 %>
        <br>
        <div style="text-align: center"> <b>New Pieces Online</b><br>
          <small class="additional">You may view a list of Places for <%= @county_description %> with Pieces added to the database in the previous 30 days</small>
          <br>
          <p><%= link_to 'View Recent Additions', freecen2_contents_new_records_index_path(:new_records => @county_description), class: "btn btn--small", method: :get %></p>
        </div>
      <% end %>
      <li class="grid__item two-thirds palm-one-whole" >
        <h3 style="text-align: center">Totals for All Places in <%= @county_description %></h3>
        <div class='scrollable'>
          <table  class="table--bordered table--data table--striped " >
            <thead >
              <tr>
                <th class='sticky-header'>Year</th>
                <th class='sticky-header'>Pieces<br>
                  Online</th>
                <th class='sticky-header'>Total<br>
                  Pieces</th>
                <th class='sticky-header'>%<br>
                  Online</th>
                <th class='sticky-header'>New<br>
                  Pieces<br>
                  Online</th>
              </tr>
            </thead>
            <tbody>
              <% Freecen::CENSUS_YEARS_ARRAY.each do |census|%>
                <tr>
                  <td><%= census %></td>
                  <td><%= @freecen2_contents.records[@chapman_code][census][:pieces_online] %></td>
                  <td><%= @freecen2_contents.records[@chapman_code][census][:pieces] %></td>
                  <%= contents_show_percentage(@freecen2_contents.records[@chapman_code][census][:pieces_online], @freecen2_contents.records[@chapman_code][census][:pieces]) %>
                  <td><%= @freecen2_contents.records[@chapman_code][census][:added_pieces_online] %></td>
                </tr>
              <% end %>
              <tr>
                <td>Total</td>
                <td><%= @freecen2_contents.records[@chapman_code][:total][:pieces_online] %></td>
                <td><%= @freecen2_contents.records[@chapman_code][:total][:pieces] %></td>
                <%= contents_show_percentage(@freecen2_contents.records[@chapman_code][:total][:pieces_online], @freecen2_contents.records[@chapman_code][:total][:pieces]) %>
                <td><%= @freecen2_contents.records[@chapman_code][:total][:added_pieces_online] %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </fieldset>
  </div>
  <script>
    function replace_chars(str) {
      return str.replace('&', '%26').replace('+','%2B')
    }
  </script>