<%= render 'flash_notice' %>
<h1 class="beta text--center">Database Records as of <%= @interval_end.strftime('%d')%>&nbsp;<%= @interval_end.strftime('%b')%>&nbsp;<%= @interval_end.strftime('%Y')%></h1>
<div class="grid">
  <div class="grid__item one-third palm-one-whole" >
    <h2 class="accessibility">Totals for a county or place</h2>
    <%= simple_form_for :view_county_records,  method: :get do |c| %>
      <fieldset class="inputs" >
        <legend>Counties and Places</legend>
        <div class="landmark">
          <p class="push-half--bottom">
            <small class="additional">Select a county to view its Database totals:</small>
          </p>
          <label class="label ttip" tabindex="0" for="county_description" >
            County
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">Required. <br>
              Only Counties with Pieces are included.</span> </label>
          <select class="select" id="county_description"  name="county_description" required="required">
            <% @all_counties.each do |key, value| %>
              <option value="<%=key%>" ><%=value%></option>
            <% end %>
          </select>
          <%= c.submit 'View County Records',  :class => "btn   btn--small" %>
        </div>
        <div class="push--bottom">
          <p class="push-half--bottom">
            <small class="additional">Select a Place to view its Database totals and get links to lists of Names currently in the Database.<br>
              Note: the years that have Pieces online are listed after the Place name.</small>
          </p>
          <label class="label ttip" tabindex="0" for="place_description" >
            Place
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">List fills when a County is selected. Only Places with Pieces are included.</span> </label>
          <select class="select" id="place_description" name="place_description">
            <option value="">List fills when you select a County</option>
            <% if false %>
              <% @places_for_county.each do |key, value| %>
                <option value="<%=key%>" ><%=value%></option>
              <% end %>
            <% end %>
          </select>
          <%= c.submit 'View Place Records',  :class => "btn   btn--small"%>
        </div>
      </fieldset>
    <% end %>
    <% if @freecen2_contents.records[:total][:total][:added_pieces_online] > 0 &&  @freecen2_contents.new_records.present? %>
      <div class="island island--bordered">
        <h2 class="accessibility">Recent additions</h2>
        <p class="push-half--bottom"><small class="additional">You can view a list of Places across all counties that have had Pieces added to the Database in the previous 30 days:</small></p>
        <p class="text--center"><a data-method="get" href="/freecen2_contents/new_records_index?locale=en&amp;new_records=All">View recent additions</a></p>
      </div>
    <% end %>
  </div>
  <div class="grid__item two-thirds palm-one-whole">
    <h2 class="gamma text--center">Totals for All Counties</h2>
    <p><small class="additional read-length">Census returns are divided into Pieces by The National Archives for England and Wales, or the National Records of Scotland.<br>
        A Piece is a set of related census pages. <br>
        New Pieces Online is the number added to the database in the last 30 days.</small></p>
    <div class='scrollable'>
      <table  class="table--bordered table--data table--striped " >
        <caption class="accessibility" >Database totals by census year</caption>
        <thead>
          <tr>
            <th scope="col" class='sticky-header'>Year</th>
            <th scope="col" class='sticky-header'>Pieces<br>
              Online</th>
            <th scope="col" class='sticky-header'>Total<br>
              Pieces</th>
            <th scope="col" class='sticky-header'>%<br>
              Online</th>
            <th scope="col" class='sticky-header'>New<br>
              Pieces<br>
              Online</th>
          </tr>
        </thead>
        <tbody>
          <% Freecen::CENSUS_YEARS_ARRAY.each do |census|%>
            <tr>
              <th scope="row"><%= census %></th>
              <td><%= number_with_delimiter(@freecen2_contents.records[:total][census][:pieces_online], :delimiter => ',') %></td>
              <td><%= number_with_delimiter(@freecen2_contents.records[:total][census][:pieces], :delimiter => ',') %></td>
              <%= contents_show_percentage(@freecen2_contents.records[:total][census][:pieces_online], @freecen2_contents.records[:total][census][:pieces]) %>
              <td><%= number_with_delimiter(@freecen2_contents.records[:total][census][:added_pieces_online], :delimiter => ',') %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row">Total</th>
            <td><%= number_with_delimiter(@freecen2_contents.records[:total][:total][:pieces_online], :delimiter => ',') %></td>
            <td><%= number_with_delimiter(@freecen2_contents.records[:total][:total][:pieces], :delimiter => ',') %></td>
            <%= contents_show_percentage(@freecen2_contents.records[:total][:total][:pieces_online], @freecen2_contents.records[:total][:total][:pieces]) %>
            <td><%= number_with_delimiter(@freecen2_contents.records[:total][:total][:added_pieces_online], :delimiter => ',') %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<% if true %>
  <script type="text/javascript" charset="utf-8" >
    (function($) {$("#place_description").remoteChained({
    parents : "#county_description",
    url : "/freecen2_contents/for_place_names"});})(jQuery);
  </script>
<% end %>
