<%= render 'flash_notice' %>
<div>
  <fieldset class="inputs">
    <legend align="center">
      <h2>Database Records as of <%= @interval_end.strftime('%d %b %Y')%></h2>
    </legend>
    <%= simple_form_for :view_place_records,  method: :get do |n| %>
      <li class="grid__item one-third palm-one-whole" ><br>
        <br>
        <br>
        <div style="text-align: center"> <b>County</b><br>
          <small class="additional">You may view the Database Records for a specific County</small></div>
        <b> Select a County </b>
        <select class="select" id="county_description"  name="county_description" required="required" size="3" >
          <% @all_counties.each do |value| %>
            <option value="<%=value%>" ><%=value%></option>
          <% end %>
          <br>
          <%= n.submit 'View County Records',  :class => "btn   btn--small"%><br>
          <div style="text-align: center"> <b>Place and Unique Names</b>
            <small class="additional">You may view the Database Records for a specific Place and if there is data Online also get a list of Unique Names</small></div>
        </select>
        <b> Select a Place </b>
        <select class="select" id="place_description" name="place_description" size="3">
          <option value="">List fills when you select a County</option>
          <% if false %>
            <% @places_for_county.each do |value| %>
              <option value="<%=value%>" ><%=value%></option>
            <% end %>
          <% end %>
        </select>
        <%= n.submit 'View Place Records',  :class => "btn   btn--small"%>
        <br>
        <% if @freecen2_contents.records[:total][:total][:added_pieces_online] > 0 %>
          <div style="text-align: center"> <b>New Pieces Online</b><br>
            <small class="additional">You may view a list of Places across all counties with Pieces added to the database in the previous 30 days</small>
            <br>
            <p><%= link_to 'View Recent Additions', freecen2_contents_new_records_index_path(:new_records => 'All'), class: "btn btn--small", method: :get %></p>
          </div>
        <% end %>
      <% end %>
    </li>
    <li class="grid__item two-thirds palm-one-whole" >
      <h3 style="text-align: center">Totals for All Counties</h3>
      <p style="text-align: center"><i> <small class="additional">Censuses are broken into Pieces by the National Archives<br>
            (a Piece consists of a related set of census pages)<br>
            New Pieces Online are those added to the database in the previous 30 days</small></i></p>
      <div class='scrollable'>
        <table  class="table--bordered table--data table--striped " >
          <thead >
            <tr>
              <th class='sticky-header'>Year</th>
              <th class='sticky-header'>Pieces<br>
                Online</th>
              <th class='sticky-header'>Total<br>
                Pieces</th>
              <th class='sticky-header'>%<br>
                Online</th>
              <th class='sticky-header'>New<br>
                Pieces<br>
                Online</th>
            </tr>
          </thead>
          <tbody>
            <% Freecen::CENSUS_YEARS_ARRAY.each do |census|%>
              <tr>
                <td><%= census %></td>
                <td><%= @freecen2_contents.records[:total][census][:pieces_online] %></td>
                <td><%= @freecen2_contents.records[:total][census][:pieces] %></td>
                <%= contents_show_percentage(@freecen2_contents.records[:total][census][:pieces_online], @freecen2_contents.records[:total][census][:pieces]) %>
                <td><%= @freecen2_contents.records[:total][census][:added_pieces_online] %></td>
              </tr>
            <% end %>
            <tr>
              <td>Total</td>
              <td><%= @freecen2_contents.records[:total][:total][:pieces_online] %></td>
              <td><%= @freecen2_contents.records[:total][:total][:pieces] %></td>
              <%= contents_show_percentage(@freecen2_contents.records[:total][:total][:pieces_online], @freecen2_contents.records[:total][:total][:pieces]) %>
              <td><%= @freecen2_contents.records[:total][:total][:added_pieces_online] %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </fieldset>
  <p class=" text--center">
    <small><em> [Note: The original Database Coverage page can be found <%= link_to "HERE" , freecen_coverage_path, :title => "Database Coverage"  %>]</em><br>
    </small></p>
  <br>
</div>
<% if true %>
  <script type="text/javascript" charset="utf-8" >
    (function($) {$("#place_description").remoteChained({
    parents : "#county_description",
    url : "/freecen2_contents/for_unique_names"});})(jQuery);
  </script>
<% end %>