 <% if @place_description == 'all' %>
<h1 class="beta text--center">Database Pieces for All Places in <%= @county_description %> in <%= @census_text %> as of <%= @interval_end.strftime('%d')%>&nbsp;<%= @interval_end.strftime('%b')%>&nbsp;<%= @interval_end.strftime('%Y')%></h1>
<% else %>
<h1 class="beta text--center">Database Pieces for <%= @place_description %> in <%= @county_description %> in <%= @census_text %> as of <%= @interval_end.strftime('%d')%>&nbsp;<%= @interval_end.strftime('%b')%>&nbsp;<%= @interval_end.strftime('%Y')%></h1>
 <% end %>
<nav aria-label="Records options">
  <ul class="nav nav--banner">
    <li><a data-method="get" href="/freecen2_contents?locale=en">Choose Another County</a></li>
    <% if params[:new_records] == 'All' %>
      <li> | <a data-method="get" href="/freecen2_contents/new_records_index?locale=en&amp;new_records=All">Back to Recent Additions</a></li>
    <% else %>
      <% if @place_description == 'all' %>
           <li> | <a data-method="get" href="/freecen2_contents/county_index?locale=en&amp;county_description=<% @county_description %>">Back to Records for <%=@county_description %></a></li>
      <% else %>
           <li> | <a data-method="get" href="/freecen2_contents/county_index?locale=en&amp;county_description=<% @county_description %>">Choose another Place in <%= @county_description %></a></li>
           <li> | <a data-method="get" href="/freecen2_contents/place_index?locale=en&amp;county_description=<% @county_description %>&amp;place_description=<% @place_description %>">Back to Records for <%= @place_description %></a> | </li>
           <%= locate_place_link(@place_id,'N') %>
      <% end %>
    <% end %>
    </ul>
</nav>
<% if @place_description == 'all' %>
  <h2 class="gamma text--center">Database Pieces ordered by <%= @order_text %></h2>
  <h2 class="accessibility">Database Pieces for all Places in <%= @county_description %> in <%= @census_text %> ordered by <%= @order_text %></h2>
<% else %>
  <h2 class="gamma text--center">Database Pieces ordered by <%= @order_text %></h2>
  <h2 class="accessibility">Database Pieces for <%= @place_description %> in <%= @county_description %> in <%= @census_text %> ordered by <%= @order_text %></h2>
<% end %>
<div>
  <p><small class="additional read-length"><% if @order == 'status' %>
      List is ordered by Piece Name within Online status/date so that the most recent Pieces Online are listed first.
    <% end %>
    <b>You can change the order of display: </b>
    <% unless @order == 'status' %>
       <a data-method="get"data-method="get" href="/freecen2_contents/display_pieces_by_status?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%=@place_id%>&amp;census_year=<%= @census%>&amp;order=status>">Order by Most Recent Online</a> or
    <% end %>
    <% unless @order == 'name' %>
       <a data-method="get"data-method="get" href="/freecen2_contents/display_pieces_by_name?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%=@place_id%>&amp;census_year=<%= @census%>&amp;order=name">Order by Piece Name</a>
    <% end %>
    <% unless @order == 'number' %>
    <% unless @order == 'name' %>
     or
     <% end %>
      <a data-method="get"data-method="get" href="/freecen2_contents/display_pieces_by_number?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%=@place_id%>&amp;census_year=<%= @census%>&amp;order=number">Order by Piece Number</a>
    <% end %>
  <br><b>Notes:</b><br>
      1) An Online status of P indicates that only part of the Piece is currently online.<br>
      2) Pieces ending with an alphabetic character that are online have the number of records included in the first of that number.</small></p>
</div>
<p></p>
<div class='scrollable'>
  <table  class="table--bordered table--data table--striped my-width " >
     <% if @place_description == 'all' %>
    <caption class="accessibility">Table shows All Pieces in <%= @county_description %> in <%= @census_text %>.</caption>
    <% else %>
    <caption class="accessibility">Table shows Pieces for <%= @place_description %> in <%= @county_description %> in <%= @census_text %>.</caption>
    <% end %>
    <thead >
      <tr>
        <th scope="col" class='sticky-header'>Piece Name</th>
        <th scope="col" class='sticky-header'>Piece Number</th>
        <% if @census_text == 'All Years' %>
          <th scope="col" class='sticky-header'>Year</th>
        <% end %>
        <th scope="col" class='sticky-header t10'>Online (Date)</th>
        <th scope="col" class='sticky-header'>Records Online</th>
        <th scope="col" class='sticky-header'>Civil Parishes<br>
          <small>The part in () is the name of any Hamlet, Township, Ward or Place included in the Civil Parish</small></th>
      </tr>
    </thead>
    <tbody>
      <%  @place_pieces.each do |piece|%>
        <tr>
          <td scope="row"><%= piece.name %></td>
          <td><%= piece.number %></td>
          <% if @census_text == 'All Years' %>
            <td><%= piece.year %></td>
          <% end %>
          <% if piece.status == 'Online' %>
            <td><%= 'Y' + " (" + piece.status_date.to_datetime.strftime('%d %b %Y') + ")"%></td>
          <% elsif piece.status == 'Part' %>
            <td><%= 'P' + " (" + piece.status_date.to_datetime.strftime('%d %b %Y') + ")"%></td>
          <% else%>
            <td><%= 'N' %></td>
          <% end%>
          <td><%= records_for_piece(piece.id, piece.status) %></td>
          <% if piece.civil_parish_names == nil %>
            <td><small> n/a </small></td>
          <% else%>
            <td><%= piece.civil_parish_names %></td>
          <% end%>
        </tr>
      <% end%>
    </tbody>
  </table>
</div>
