<h1 class="beta text--center">Names recorded in the Database for <%= @place_description %> in <%=@county_description%> in <%= @year %> as of <%= @interval_end.strftime('%d')%>&nbsp;<%= @interval_end.strftime('%b')%>&nbsp;<%= @interval_end.strftime('%Y')%></h1>
<nav aria-label="Records options">
  <ul class="nav nav--banner">
    <li><a data-method="get" href="/freecen2_contents?locale=en">Choose Another County</a></li>
    <% if params[:new_records] == 'All' %>
      <li> | <a data-method="get" href="/freecen2_contents/new_records_index?locale=en&amp;new_records=All">Back to Recent Additions</a></li>
    <% else %>
      <% if @place_description == 'all' %>
           <li> | <a data-method="get" href="/freecen2_contents/county_index?locale=en&amp;county_description=<% @county_description %>">Back to Records for <%=@county_description %></a></li>
      <% else %>
           <li> | <a data-method="get" href="/freecen2_contents/county_index?locale=en&amp;county_description=<% @county_description %>">Choose another Place in <%= @county_description %></a></li>
           <li> | <a data-method="get" href="/freecen2_contents/place_index?locale=en&amp;county_description=<% @county_description %>&amp;place_description=<% @place_description %>">Back to Records for <%= @place_description %></a></li>
      <% end %>
    <% end %>
    </ul>
</nav>
<h2 class="accessibility">Lists Names currently in the Database for <%= @place_description %> with option to view forenames or surnames</h2>
<h2 class="gamma text--center">Names from <%= @place_description %> in <%= @county_description %> in <%= @year %></h2>
<p><small class="additional read-length">Note: You may find it useful to use your browser find option to search for critical parts of names</small></p>
<div class="island island--bordered text--center">
  <%= form_with url: freecen2_contents_place_names_path do |f| %>
    <nl>
      <li class="grid" >
        <% if @name_type == 'Forenames' %>
          <h3 style="text-align: center"> Total <%= @name_type %> : <%= @first_names_cnt %></h3>
        <% else %>
          <h3 style="text-align: center"> Total <%= @name_type %> : <%= @last_names_cnt %></h3>
        <% end %>
        <h4> Switch Name Type To :
        <% if @name_type == 'Surnames' %>
           <td> <a data-method="get"data-method="get" href="/freecen2_contents/place_names?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%@place_id%>&amp;census_year=<%= @year%>&amp;name_type=Forenames">Forenames</a></td>
        <% else %>
        <td> <a data-method="get"data-method="get" href="/freecen2_contents/place_names?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%@place_id%>&amp;census_year=<%= @year%>&amp;name_type=Surnames">Surnames</a></td>
        <% end %></h4>
      </li>
    </nl>
  <% end%>
    <% if @first_names_cnt >0 || @last_names_cnt > 0 %>
        <h4>Go to <%= @name_type %> starting with :
    <% end %>
    <% ("A".."Z").each do |letter| %>
      <% if @unique_names[letter].count > 0 %>
         <a href="#names_<%=letter%>"><%=letter%></a>
      <% end %>
    <% end %>

    <% if @remainder.count > 0 %>
       or
       <a href="#names_Remainder">Additional Names</a>
       </h4>
    <% end%>
</div>
<div class="island  island--light ">
  <nl>
    <li class="grid" >
          <% ("A".."Z").each do |letter| %>
          <% @id = "names_" + letter %>
            <h4 id=<%=@id%> ><b><%= @name_type %> starting with <%= letter %></h4>
            <ul>
              <% @unique_names[letter].each do |name| %>
                <li style="display:inline"><%= name %>&emsp;&nbsp;</li>
              <% end %>
            </ul>
              <p><a href="#">Back to Top of page</a></p>
              <% end %>
          <% @id = "names_Remainder"%>
          <div id=<%=@id%> >
          <p><b> Additional Names </b></p>
          <p>
            <% @remainder.each do |name| %>
              <%= name %>&emsp;&nbsp;
            <% end %>
            <p><a href="#">Back to Top of page</a></p>
        </p>
      </li>
    </nl>
  </div>
