<h2 style="text-align: center">Unique Names for <%= @place_description %> <br>
  in <%= @county_description %> in <%= @year %> </h2>
<div  style="text-align: center">
  <%= link_to 'Back to Totals for All Counties' , freecen2_contents_path, method: :get , :class => "btn btn--small" %>
  <% if params[:new_records] == 'All' %>
<%= link_to 'Back to Recent Additions' ,  :back, method: :get , :class => "btn btn--small" %><br>
  <% else %>
  <%= choose_another_place_link(@county_description) %>
  <%= link_to 'Back to Records for ' + @place_description, freecen2_contents_place_index_path(:county_description => @county_description, :place_description => @place_description), class: "btn btn--small", method: :get %>
  <% end %>
  <br>
  <p><i>(You may find it useful to use your browser find option to search for critical parts of names)</i></p>
  <br>
</div>
<div class="island island--bordered text--center">
  <%= form_with url: freecen2_contents_place_names_path do |f| %>
    <li class="grid" >
      <% if @name_type == 'Forenames' %>
        <h3 style="text-align: center"> Total Unique <%= @name_type %> : <%= @first_names_cnt %></h3>
      <% else %>
        <h3 style="text-align: center"> Total Unique <%= @name_type %> : <%= @last_names_cnt %></h3>
      <% end %>
      <b> Switch Name Type To : </b>
      <% if @name_type == 'Surnames' %>
        <%= link_to 'Forenames', freecen2_contents_place_names_path(:county_description => @county_description, :place_description => @place_description, :place_id => @place_id, :census_year => @year, :name_type => 'Forenames'), :class => "btn btn--small", :method => :get%>
      <% else %>
        <%= link_to 'Surnames', freecen2_contents_place_names_path(:county_description => @county_description,  :place_description => @place_description, :place_id => @place_id, :census_year => @year, :name_type => 'Surnames'), :class => "btn btn--small", :method => :get%>
      <% end %>
      <i>(shows all)</i>
    </li>
  <% end%>
  <p>
    <% if @first_names_cnt >0 || @last_names_cnt > 0 %>
      <p><b> Show <%= @name_type %> starting with : </b></p>
    <% end %>
    <% if @first_letter != 'All' %>
      <%= link_to 'Any',freecen2_contents_place_names_path(:county_description => @county_description, :place_description => @place_description, :place_id => @place_id, :census_year => @year, :name_type => @name_type, :first_letter => 'All'), :class => "btn btn--small", :method => :get%>
    <% end %>
    <% ("A".."Z").each do |letter| %>
      <% if @unique_names[letter].count > 0 %>
        <%= link_to letter, freecen2_contents_place_names_path(:county_description => @county_description,:place_description => @place_description, :place_id => @place_id, :census_year => @year, :name_type => @name_type, :first_letter => letter), :class => "btn btn--small", :method => :get%>
      <% end %>
    <% end %>
  </p>
  <p>
    <% if @remainder.count > 0 %>
      <%= link_to 'Additional Names', freecen2_contents_place_names_path(:county_description => @county_description, :place_description => @place_description, :place_id => @place_id, :census_year => @year, :name_type => @name_type, :first_letter => 'Remainder'), :class => "btn btn--small", :method => :get%>
    <% end%>
  </p>
</div>
<div class="island  island--light text--center">
  <fieldset class="inputs" style="border-style: none;">
    <li class="grid" >
      <% if @first_letter != 'All' %>
        <% if @first_letter != 'Remainder' %>
          <h3 style="text-align: center">Unique <%= @name_type %> Starting with <%= @first_letter%> : <%= @unique_names[@first_letter].count%></h3>
          <p>
            <% @unique_names[@first_letter].each do |name| %>
              <%= name %>&emsp;&nbsp;
            <% end %>
          <% else %>
            <p><b> Additional Names : <%= @remainder.count%></b></p>
            <% @remainder.each do |name| %>
              <%= name %>&emsp;&nbsp;
            <% end %>
          <% end %>
        <% else %>
          <h3 style="text-align: center">All <%= @name_type %></h3>
          <% ("A".."Z").each do |letter| %>
            <p><b><%= letter%></b></p>
            <p>
              <% @unique_names[letter].each do |name| %>
                <%= name %>&emsp;&nbsp;
              <% end %>
            </p>
          <% end%>
          <p><b> Additional Names</b></p>
          <p>
            <% @remainder.each do |name| %>
              <%= name %>&emsp;&nbsp;
            <% end %>
          <% end %>
        </li>
      </fieldset>
    </div>
    <br />