
<div>
   <h1 class="title text--center">Database Records as of <%= @interval_end.strftime('%d %b %Y')%> </h1>
  <h2 class="accessibility">List Names currently in the Database for <%= @place_description %> with option to view forenames or surnames</h2>
<p class="additional"><b>Navigate to other Records pages: </b><a data-method="get" href="/freecen2_contents?locale=en">Back to Totals for All Counties</a> /
  <% if params[:new_records] == 'All' %>
  <a data-method="get" href="/freecen2_contents/new_records_index?locale=en&amp;new_records=All">Back to Recent Additions</a>
   <% else %>
   <% if @place_description == 'all'%>
      <a data-method="get" href="/freecen2_contents/county_index?local=en&amp;county_description=<%=@county_description%>">Back to Records for <%= @county_description %></a>
    <% else %>
      <a data-method="get" href="/freecen2_contents/county_index?local=en&amp;county_description=<%=@county_description%>">Choose another Place in <%= @county_description %></a>
    <% end %> /
  <a data-method="get" href="/freecen2_contents/place_index?local=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>">Back to Records for <%= @place_description %></a>
  <% end %>
  </p>
  <h2 class="gamma text--center">Names from <%= @place_description %> in <%= @county_description %> in <%= @year %></h2>
  <p><small class="additional read-length">Note: You may find it useful to use your browser find option to search for critical parts of names</small></p>
</div>
<div class="island island--bordered text--center">
  <%= form_with url: freecen2_contents_place_names_path do |f| %>
    <nl>
      <li class="grid" >
        <% if @name_type == 'Forenames' %>
          <h3 style="text-align: center"> Total <%= @name_type %> : <%= @first_names_cnt %></h3>
        <% else %>
          <h3 style="text-align: center"> Total <%= @name_type %> : <%= @last_names_cnt %></h3>
        <% end %>
        <h4> Switch Name Type To :
        <% if @name_type == 'Surnames' %>
           <td> <a data-method="get"data-method="get" href="/freecen2_contents/place_names?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%@place_id%>&amp;census_year=<%= @year%>&amp;name_type=Forenames">Forenames</a></td>
        <% else %>
        <td> <a data-method="get"data-method="get" href="/freecen2_contents/place_names?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%@place_id%>&amp;census_year=<%= @year%>&amp;name_type=Surnames">Surnames</a></td>
        <% end %></h4>
      </li>
    </nl>
  <% end%>
    <% if @first_names_cnt >0 || @last_names_cnt > 0 %>
        <h4> Show <%= @name_type %> starting with :
    <% end %>
    <% if @first_letter != 'All' %>
      <a data-method="get"data-method="get" href="/freecen2_contents/place_names?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%@place_id%>&amp;census_year=<%=@year%>&amp;name_type=<%= @name_type%>&amp;first_letter=All">Any Letter</a><br> or starting with:
    <% end %>
    <% ("A".."Z").each do |letter| %>
      <% if @unique_names[letter].count > 0 %>
        <a data-method="get"data-method="get" href="/freecen2_contents/place_names?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%@place_id%>&amp;census_year=<%=@year%>&amp;name_type=<%=@name_type%>&amp;first_letter=<%=letter%>"><%=letter%></a>
      <% end %>
    <% end %> </h4>
  <p>
    <% if @remainder.count > 0 %>
      <a data-method="get"data-method="get" href="/freecen2_contents/place_names?locale=en&amp;county_description=<%=@county_description%>&amp;place_description=<%=@place_description%>&amp;place_id=<%@place_id%>&amp;census_year=<%=@year%>&amp;name_type=<%=@name_type%>&amp;first_letter=Remainder">Additional Names</a>
    <% end%>
  </p>
</div>
<div class="island  island--light text--center">
  <% if @first_letter != 'All' %>
    <% if @first_letter != 'Remainder' %>
      <div>
        <h4><%= @name_type %> Starting with <%= @first_letter%> : <%= @unique_names[@first_letter].count%></h4>
      </div>
    <% else %>
      <div style="text-align: center">
        <h4>Additional Names : <%= @remainder.count%></h4>
      </div>
    <% end %>
  <% else %>
    <div>
      <h4>All <%= @name_type %></h4>
    </div>
  <% end %>
  <nl>
    <li class="grid" >
      <% if @first_letter != 'All' %>
        <% if @first_letter != 'Remainder' %>
          <p>
            <% @unique_names[@first_letter].each do |name| %>
              <%= name %>&emsp;&nbsp;
            <% end %>
          <% else %>
            <% @remainder.each do |name| %>
              <%= name %>&emsp;&nbsp;
            <% end %>
          <% end %>
        <% else %>
          <% ("A".."Z").each do |letter| %>
            <p><b><%= letter%></b></p>
            <p>
              <% @unique_names[letter].each do |name| %>
                <%= name %>&emsp;&nbsp;
              <% end %>
            </p>
          <% end%>
          <p><b> Additional Names</b></p>
          <p>
            <% @remainder.each do |name| %>
              <%= name %>&emsp;&nbsp;
            <% end %>
          <% end %>
        </p>
      </li>
    </nl>
  </div>
  <br />
