<%= render 'shared/emendations_nav' %>

<h1>Emendation Rules</h1>

<%= link_to 'Create New Rule', new_emendation_rule_path, class: "btn" %>

<div class="a-z-jumper" style="margin: 20px 0;">
  <strong>Jump to:</strong>
  <% @alphabet_keys.each do |letter| %>
    <%= link_to letter.upcase, "##{letter}", style: "margin-right: 5px;" %>
  <% end %>
</div>

<% @emendation_rules_grouped.each do |letter, replacements| %>
  <h2 id="<%= letter %>" style="border-bottom: 1px solid #eee; margin-top: 30px;"><%= letter.upcase %></h2>
  
  <% replacements.each do |replacement| %>
    <table style="width: 100%; margin-bottom: 20px; border-collapse: collapse;">
      <thead>
        <tr style="background-color: #f9f9f9;">
          <th colspan="4" style="text-align: left; padding: 10px;">
            Replacement: <%= replacement.capitalize %>
          </th>
        </tr>
        <tr>
          <th style="text-align: left; padding: 5px;">Original</th>
          <th style="text-align: left; padding: 5px;">Type</th>
          <th style="text-align: left; padding: 5px;">Gender</th>
          <th style="text-align: right; padding: 5px;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @rules_by_replacement[replacement]&.each do |rule| %>
          <tr style="border-bottom: 1px solid #ddd;">
            <td style="padding: 5px;"><%= rule.original %></td>
            <td style="padding: 5px;"><%= rule.emendation_type&.name %></td>
            <td style="padding: 5px;"><%= rule.gender.presence || 'Both' %></td>
            <td style="text-align: right; padding: 5px;">
              <%= link_to 'Edit', edit_emendation_rule_path(rule) %> |
              <%= link_to 'Delete', emendation_rule_path(rule), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
