<div class="grid__item ">
<% @alphabet_keys.each do |letter| %>
<%= link_to "#{letter.capitalize}", "##{letter}" %>
<% end %>

<dl>
<% @emendation_rules.each do |key,values| %>
<hr>
<lh id="<%= key %>" class="weight--semibold" style="font-size:36px;"><%= "#{key}".upcase %></lh>
<% values.each do |emendation_rules_replacement|  %>
    <dt class="weight--semibold"><%= emendation_rules_replacement.capitalize %></dt>
		<dd><%= EmendationRule.all_original_by_replacement(emendation_rules_replacement)*", \n" %></dd>
<% end %>
<% end %>
</dl>
</div>
