<%= semantic_form_for(@church) do |f| %>
  <% if @church.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@church.errors.count, "error") %> prohibited this church from being saved:</h2>

      <ul>
      <% @church.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :church_name %>
  <%= f.input :last_amended%>
  <%= f.input :alternate_church_name %>
  <%= f.input :church_notes,      :input_html => { :size => 60 } %>
 <br>
  <%= f.action :submit, :as => :button%>
<% end %>
