<%= form_for(@church) do |f| %>
  <% if @church.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@church.errors.count, "error") %> prohibited this church from being saved:</h2>

      <ul>
      <% @church.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :church_name %><br />
    <%= f.text_field :church_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
