
<p style="text-align: center"> Editing <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b></p>

<div  style="text-align: center"><%= link_to 'Index of Places', places_path( :anchor => "#{@user.id}"), method: :get, :class => "btn  btn--small"%> <%= link_to "Church's Place", place_path( @church.place), method: :get, :class => "btn  btn--small"%> <%= link_to 'Create New Church', new_church_path, method: :get , :class => "btn  btn--small"%> <%= link_to 'Create Register', new_register_path , method: :get, :class => "btn  btn--small" %> <%= link_to 'Show Church Fields', church_path(@church) , method: :get, :class => "btn  btn--small" %>   <%= link_to 'Change Church Name', rename_church_path(@church), method: :get,data: { confirm: 'Are you sure?' }, :class => "btn  btn--small" %>  <%= link_to 'Relocate Church to another Place', relocate_church_path(@church), method: :get ,data: { confirm: 'Are you sure?' }, :class => "btn  btn--small"%> <%= link_to 'Merge Churches with same name into this one', merge_church_path(@church), method: :get,data: { confirm: 'Are you sure?' }, :class => "btn  btn--small" %> <%= button_to 'Destroy Church', church_path(@church), method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn  btn--small"%> </div>
<div style="clear:both;"> </div>
<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %> <br>
    </div>
   <% end %>


<%= render 'form' %>

<div>
Please note if you are changing the name of a church the processing time could be several minutes depending upon the number of batches affected. <b>Please wait for the process to complete.</b></div>
