<p>Editing Church: <b><%= @church_name %></b> in <b><%= @place_name %></b> of the County of <b><%= @county %></b><br></p>



<%= render 'form' %>

<br>
<%= button_to 'Show Church', @church, method: :get %>
<%= button_to_function "Back to Previous Page", "history.back()" %> 
