<% breadcrumb :show_church,  @county, @place, @church%>
<h2 class="text--center"><%= @church_name %> in <%= @place_name %> of <%= @county %></h2>
<% unless session[:role] == "contacts_coordinator" %>
  <div  class="text--center">  <%= link_to 'Edit Church Fields', edit_church_path(@church) , method: :get, :class => "btn btn--small" %>     <%= link_to 'Create Register', new_register_path , method: :get, :class => "btn btn--small" %> <%= link_to 'Destroy Church', church_path(@church), method: :delete, data: { confirm: 'Are you sure you want to destroy this Church.? It will not happen if there are dependants!' } , :class => "btn  btn--small"%>
    <% if session[:role] == "system_administrator" || session[:role] == "data_manager" %>
      <%= link_to 'Change Church Name', rename_church_path(@church), method: :get,data: { confirm: 'Are you sure?' }, :class => "btn btn--small" %>  <%= link_to 'Relocate Church to another Place', relocate_church_path(@church), method: :get ,data: { confirm: 'Are you sure?' }, :class => "btn btn--small"%> <%= link_to 'Merge Identical Churches into this one', merge_church_path(@church), method: :get,data: { confirm: 'Are you really really sure that this is the Church into which you want all similar Churches in this Place to be merged? The action will be taken on selecting OK and cannot be recovered!!!!' }, :class => "btn btn--small" %>
    <% end%>
  </div>
<%end%>
<div style="clear:both;"> </div>
<%= render 'flash_notice' %>
<div class="grid">
  <section class="island ">
    <h4 class="text--center">The Church has the following Registers
      <% @church.registers.order_by(register_type: 1).each do |register| %>
        <%= link_to(RegisterType.display_name(register.register_type), register_path(register), :class => "btn btn--small") %>
      <% end %></h4>
    <div class="grid__item  ">
      <table class=" table--bordered table--data">
        <colgroup >
          <col class="t40">
          <col class="t60">
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th class="caps">Value</th>
        </tr>
        <tr>
          <td>Church name :</td>
          <td class="weight--semibold"><%= @church.church_name %></td>
          <%  @church.alternatechurchnames.each do |church|%>
            <tr>
              <td>Other possible church name :</td>
              <td class="weight--semibold"><%= church.alternate_name %> </td>
            </tr>
          <% end%>
          <tr>
            <td>Denomination of the Church :</td>
            <td class="weight--semibold"><%= @church.denomination %></td>
          </tr>
          <tr>
            <td>Church Location :</td>
            <td class="weight--semibold"><%= @church.location %></td>
          </tr>
          <tr>
            <td>The Church Website :</td>
            <td class="weight--semibold"><%= @church.website %></td>
          </tr>
          <tr>
            <td>Notes about the Church :</td>
            <td class="weight--semibold"> <%= @church.church_notes %> </td>
          </tr>
          <tr>
            <td>Latest date a transcription changed:</td>
            <td class="weight--semibold"> <%= @church.last_amended %></td>
          </tr>
          <tr>
            <td>Number of entries</td>
            <td class="weight--semibold"><%= @church.records %></td>
          </tr>
          <tr>
            <td>First actual year of entries</td>
            <td class="weight--semibold"><%= @church.datemin %></td>
          </tr>
          <tr>
            <td>Last actual year of entries</td>
            <td class="weight--semibold"><%= @church.datemax %></td>
          </tr>
        </table>
      </div>
      <h3 class=" text--center">Numbers of transcriptions. </h3>
      <p class=" text--center">Those periods with zero data may span several decades. The first period may include pre 1530 records. </p>
      <%= render :partial => '/freereg_contents/decade' %>
    </section>
  </div>