<% require 'record_type' %>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<p></p>
<p>
  Church name:
  <b><%= @church.church_name %></b>
  for Place: 
   <b><%= @place_name %></b>
   in the County of:
   <b><%= @county %></b>
</p>

<table style="width: 100%">
  <tr>
  
    <th>Other church name</th>
    <th>Last amended</th>
    <th>Notes</th>
    <th>Registers</th>
     <th>Alternate register names</th>
    <th>Action</th>
    
  </tr>


  <tr>
 
  <td><%= @church.alternate_church_name %></td>
  <td><%= @church.last_amended %></td>
  <td><%= @church.church_notes %></td>
  
  <ol>
    <% @church.registers.each do |register| %>
   
   <td> <%= register.register_name %></td>
   
   <td><%= link_to(register.alternate_register_name, register_path(register)) %><br> </td>
    
  
<% end %>
</ol>

  <td >
     
<%= link_to 'Edit Church', edit_church_path(@church) %>
<%= link_to 'Destroy Church', church_path(@church), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
</table>


<%= link_to_function "Back", "history.back()" %> 
