<% require 'record_type' %>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<p></p>
<p>
  Church name:
  <b><%= @church.church_name %></b>
  for Place: 
   <b><%= @place_name %></b>
   in the County of:
   <b><%= @county %></b>
</p>

<table>
  <tr>
    <th>Record types</th>
    <th>Start year</th>
    <th>End year</th>
    <th>Register type</th>
    <th>Status</th>
    <th>Transcribers</th>
    <th>File name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @church.registers.each do |register| %>
  <tr>
     <% value =  register.record_types %>
    <td><%= RecordType.display_name(value[0]) %></td>
    <td><%= register.start_year %></td>
    <td><%= register.end_year %></td>
    <td><%= register.register_type %></td>
    <td><%= register.status %></td>
    <td><%= register.transcribers %></td>
    <td><%= register.file_name %></td> 
    <td><%= link_to 'Show', register %></td>
    <td><%= link_to 'Edit', edit_register_path(register) %></td>
    <td><%= link_to 'Destroy', register, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_church_path(@church) %> |
<%= link_to 'Back', place_path(@place) %>
