<% require 'record_type' %>
<p>
<% if !session[:errors].nil? %>
  <% if flash[:notice] %>
    <div id="notice" style="color:red"><br>
    <%= flash[:notice] %> <br>
    </div>
   <% end %>
    
    <% else %>
    <% if flash[:notice] && session[:errors].nil? %>
    <div id="notice" style="color:green"><br>
    <%= flash[:notice] %> <br>
    </div>
   <% end %>
  <% end %>
<p></p>
<div  style="float:left;"> <%= button_to 'Create New Church record', new_church_path, method: :get %></div>
 <div style="float:left;"><%= button_to 'Edit Church', edit_church_path(@church) , method: :get %></div>
<div  style="float:left;"><%= button_to 'Destroy Church', church_path(@church), method: :delete, data: { confirm: 'Are you sure?' } %></div>
<div style="clear:both;"> </div><br> 

  Place: 
   <b><%= @place_name %></b>
   in the County of:
   <b><%= @county %></b>
</p>
    

<p><b> Church name :</b> <%= @church.church_name %></p>

  <p><b>Other possible church names :</b><%= @church.alternate_church_name %></p>
  <p><b>Denomination of the Church :</b><%= @church.denomination %></p>
 
 <p><b>Last date that a register for this Church was amended :</b><%= @church.last_amended %></p>
  <p><b>Notes about the Church :</b><%= @church.church_notes %></p>
  
  
  
 <ol>
    <% @church.registers.order_by(register: 1).each do |register| %>
<li>
    <p><b>Registers for this Church :</b> <%= register.register_name %>
  <%= link_to(register.alternate_register_name, register_path(register)) %></p>
<ol>
  
     <% register.freereg1_csv_files.order_by(filename: 1).each do |freeregfile| %>
     <li>
       <p><b>File :</b><%= link_to(freeregfile.file_name, freereg1_csv_file_path(freeregfile)) %></p>
     <% end%>
      
   </li>
   </ol>

    <% end %>

<div style="float:left;"> <%= button_to 'Back to Index of Places', places_path( :anchor => "#{session[:user]}"), method: :get%></div>
<div  style="float:left;"> <%= button_to 'Back to County Mangement Tools Page', manage_counties_path, method: :get %></div>
<div  style="float:left;"> <%= button_to 'Back to my Resource Management options', manage_resource_path(session[:user]), method: :get %> </div>
<div style="clear:both;"> </div><br>     



