<h1 class="title text--center">VLD File Errors</h1>
<section class="island">
  <p>*This list includes errors detected in files that were loaded into the database. </p>
  <table  class=" table--bordered my-width table--data table--striped just--left">
    <tr>
      <th>County</th>
      <th>File</th>
      <th>Entry</th>
      <th>Message</th>
      <th>Detail</th>
    </tr>
    <%  @freecen_error_list.each do |fc_err| %>
      <tr>
        <td><%= error_county(fc_err) %></td>
        <td><%= error_file(fc_err) %></td>
        <td><%= error_entry(fc_err) %></td>
        <td><%= error_message(fc_err) %></td>
        <td><%= error_detail(fc_err) %></td>
      </tr>
    <% end%>
  </table>
  &nbsp;<br>
  <p><b>These pieces have an unexpected load status:</b></p>
  <table  class=" table--bordered my-width table--data table--striped just--left">
    <tr>
      <th>County</th>
      <th>File</th>
      <th>Year</th>
      <th>Piece</th>
      <th>Suffix</th>
      <th>Status</th>
    </tr>
    <%  @freecen_error_files_list[:not_online].each do |piece| %>
      <% actual_piece = FreecenPiece.find(piece) %>
      <tr>
        <td><%= actual_piece.chapman_code %></td>
        <td><%= actual_piece.freecen1_filename %></td>
        <td><%= actual_piece.year %></td>
        <td><%= actual_piece.piece_number %></td>
        <td><%= actual_piece.suffix %></td>
        <td><%= actual_piece.status %></td>
      </tr>
    <% end%>
  </table>
  <p><b>These pieces have an error status:</b></p>
  <table  class=" table--bordered my-width table--data table--striped just--left">
    <tr>
      <th>County</th>
      <th>Year</th>
      <th>File</th>
      <th>Piece</th>
      <th>Suffix</th>
      <th>Status</th>
    </tr>
    <%  @freecen_error_files_list[:no_freecen1_filename].each do |piece| %>
      <% actual_piece = FreecenPiece.find(piece) %>
      <tr>
        <td><%= actual_piece.chapman_code %></td>
        <td><%= actual_piece.year %></td>
        <td><%= actual_piece.freecen1_filename %></td>
        <td><%= actual_piece.piece_number %></td>
        <td><%= actual_piece.suffix %></td>
        <td><%= actual_piece.status %></td>
      </tr>
    <% end%>
  </table>
  <p><b>These pieces have a missing freereg1_filename and not included above:</b></p>
  <table  class=" table--bordered my-width table--data table--striped just--left">
    <tr>
      <th>County</th>
      <th>Year</th>
      <th>Piece</th>
      <th>Suffix</th>
      <th>Status</th>
    </tr>
    <%  @freecen_error_files_list[:no_freecen1_filename].each do |piece| %>
      <% actual_piece = FreecenPiece.find(piece) %>
      <tr>
        <td><%= actual_piece.chapman_code %></td>
        <td><%= actual_piece.year %></td>
        <td><%= actual_piece.piece_number %></td>
        <td><%= actual_piece.suffix %></td>
        <td><%= actual_piece.status %></td>
      </tr>
    <% end%>
  </table>
</section>