<div style="text-align: center">  
  <% if ['system_administrator', 'county_coordinator', 'data_manager'].include? @user.person_role %>
    <%= link_to 'Edit Image Group', edit_image_server_group_path(@image_server_group), method: :get, :class => "btn weight--light btn--small" %>
  <% end %>
  <%= link_to 'List Images Under This Group', image_server_image_path(@image_server_group), method: :get, :class => "btn weight--light btn--small" %>
</div>
<div style="clear:both;"> </div><br>

<div class="grid">
  <section class="island ">
  <div class="grid__item ">
    <table class="table--bordered  table--data">
      <colgroup >
        <col class=t40>
        <col class=t60>
      </colgroup>
      <tr>
        <th class="caps">Field</th>
        <th class="caps">Value</th>
      </tr>
      <tr><td>Group Name</td><td class="weight--semibold"><%= @image_server_group[:group_name] %></td></tr>
      <tr><td>Start Date</td><td class="t15"><%= @image_server_group[:start_date] %>&nbsp;</td></tr>
      <tr><td>End Date</td><td class="t15"><%= @image_server_group[:end_date] %>&nbsp;</td></tr>
      <tr><td>Transcribers</td><td class="t15"><%= @image_server_group[:transcribers].join(' / ') if !@image_server_group[:transcribers].blank? %>&nbsp;</td></tr>
      <tr><td>Difficulty</td><td class="t15"><%= ImageServerGroup::Difficulty::ALL_DIFFICULTIES[@image_server_group[:difficulty]] %>&nbsp;</td></tr>
      <tr><td>Status</td><td class="t15"><%= ImageServerGroup::Status::ALL_STATUSES[@image_server_group[:status]] %>&nbsp;</td></tr>
      <tr><td>Notes</td><td class="t15"><%= @image_server_group[:notes] %>&nbsp;</td></tr>
    </table>
  </div>
  </section>
</div>
 