<section class="island  island--light">
<div class="grid">

<%= simple_form_for @image_server_group do |s| %>
  <%= s.input :group_name, :label=>"Image Group Name", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>70} %>
  <%= s.input :start_date, :label=>"Start Year", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>10} %>
    <div id='ig_wrong_format_start_date' style='display:none; color:red; font-weight:bold; margin:2px 10px'>start date needs to be 4 digits</div>
    <div id='ig_wrong_range_start_date' style='display:none; color:red; font-weight:bold; margin:2px 10px'>start date can not be latter than 1. current year 2. image source start date</div>
  <%= s.input :end_date, :label=>"End Year", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>10, :onkeypress=>'test(this,event)'} %>
    <div id='ig_wrong_format_end_date' style='display:none; color:red; font-weight:bold; margin:2px 10px'>end date needs to be 4 digits</div>
    <div id='ig_wrong_range_end_date' style='display:none; color:red; font-weight:bold; margin:2px 10px'>end date can not be 1. earlier than start date 2. latter than current year 3. latter than image source end date</div>
  <%= s.input :transcribers, :as=>:select, :collection=>@people, :label => 'Transcribers', include_hidden: false, :input_html => {:multiple=>true, :class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 3} %>
  <%= s.input :difficulty, :as=>:select, :collection=>ImageServerGroup::Difficulty::ALL_DIFFICULTIES.invert, :include_blank=>false, selected: s.object.difficulty, :label=>'Transcription Level Skill', :value=>ImageServerGroup::Difficulty::ALL_DIFFICULTIES[s.object.difficulty], :input_html=>{:class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 3} %>
  <%= s.input :status, :collection=>ImageServerGroup::Status::ALL_STATUSES.invert.sort, selected: s.object.status, :include_blank=>false, :label => 'Transcription Status', :value=>ImageServerGroup::Status::ALL_STATUSES[s.object.status], :input_html => {:class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 3} %>
  <%= s.input :notes, :label=>'Notes', :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>70} %>

	<% if controller.controller_name == 'image_server_groups' && controller.action_name == 'new' %>
    <%= s.hidden_field :source_start_date, :value=>@parent_source.start_date %>
    <%= s.hidden_field :source_end_date, :value=>@parent_source.end_date %>
	  <%= s.hidden_field :source_id, :value => params[:id] %>
  	<%= s.button :submit, 'Create', :onclick=>'return check_year_range()' %>
  <% else %>
    <%= s.hidden_field :source_start_date, :value=>s.object.source.start_date %>
    <%= s.hidden_field :source_end_date, :value=>s.object.source.end_date %>
  	<%= s.hidden_field :source_id %>
  	<%= s.button :submit, 'Submit', :onclick=>'return check_year_range()' %>
  <% end %>
<% end %>
</div>
</section>

<script type="text/javascript">
  <%= render :partial => 'image_server_group.js' %>
</script>