<% unless session[:userid].nil?%>
  <div style="text-align: center">  
  <% if ['system_administrator', 'county_coordinator', 'data_manager'].include? @user.person_role %>
    <%= link_to 'Create new Image Group', new_image_server_group_path, method: :get, :class => "btn weight--light btn--small"  %> 
  <% end %>
  </div>
  <div style="clear:both;"> </div><br>
<% end %>

<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead>
      <tr>
        <th class="t20">Image Group</th>
        <th class="t10">Status</th>
        <th class="t05">Start Date</th>
        <th class="t05">End Date</th>
        <th class="t15">Skill Level</th>
        <th class="t15">Transcribers</th>
        <th class="t12">Action</th>
      </tr>
    </thead>
  </table>

  <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody>  
        <% @image_server_group.each do |group| %>
          <tr>
            <td class="t20"><%= group.group_name %></td>
            <% case group[:status] %>
              <% when ImageServerGroup::Status::UNALLOCATED %>
                <td class="t10" style="color:red">UNALLOCATED</td>
              <% when ImageServerGroup::Status::IN_PROGRESS %>
                <td>IN_PROGRESS</td>
              <% when ImageServerGroup::Status::TRANSCRIBED %>
                <td class="t10" style="color:green">TRANSCRIBED</td>
              <% when ImageServerGroup::Status::REVIEWED %>
                <td class="t10">REVIEWED</td>
              <% when ImageServerGroup::Status::ERROR %>
                <td class="t10" style="color:red">ERROR</td>
              <% else %>
                <td class="t10"><%= group[:status] %>&nbsp;</td>
            <% end %>
            <% if group[:start_date] < group.source.start_date %>
              <td class="t10" style="color:red"><%= group[:start_date] %>&nbsp;</td>
            <% else %>
              <td class="t10"><%= group[:start_date] %>&nbsp;</td>
            <% end %>
            <% if group[:end_date] > group.source.end_date %>
              <td class="t10" style="color:red"><%= group[:end_date] %>&nbsp;</td>
            <% else %>
              <td class="t10"><%= group[:end_date] %>&nbsp;</td>
            <% end %>
            <td class="t20"><%= ImageServerGroup::Difficulty::ALL_DIFFICULTIES[group[:difficulty]] %>&nbsp;</td>
            <td class="t20"><%= group[:transcribers].join(' / ') if !group[:transcribers].blank? %>&nbsp;</td>
            <td class="t15"><%= link_to 'SH', index_image_server_group_path(group) %> 
              <% if ['system_administrator', 'county_coordinator', 'data_manager'].include? @user.person_role %>
                <%= link_to 'ED', edit_image_server_group_path(group) %> 
                <%= link_to 'DE', image_server_group_path(group), data: { confirm: 'Are you sure you want to delete Image Group "'+group.group_name+'"?'}, method: :delete %> 
              <% end %>
              <%= link_to 'LS', image_server_image_path(group) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="task-form" style="display:none;"></div>
</div>