<% unless session[:userid].nil?%>
  <div style="text-align: center">  
  <%= link_to 'Create new IG', new_image_server_group_path, method: :get, :class => "btn weight--light btn--small"  %> 
  </div>
  <div style="clear:both;"> </div><br>
<% end %>

<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead>
      <tr>
        <th class="t15">Image Group</th>
        <th class="t15">Status</th>
        <th class="t15">Skill Level</th>
        <th class="t15">Transcriber</th>
        <th class="t15">Action</th>
      </tr>
    </thead>
  </table>

  <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody>  
        <% @image_server_group.each do |group| %>
          <tr>
            <td class="t20"><%= group.ig %></td>
            <% case group[:status] %>
              <% when ImageServerGroup::Status::UNALLOCATED %>
                <td class="t15" style="color:red">UnALLOCATED</td>
              <% when ImageServerGroup::Status::IN_PROGRESS %>
                <td>IN_PROGRESS</td>
              <% when ImageServerGroup::Status::TRANSCRIBED %>
                <td class="t15" style="color:green">TRANSCRIBED</td>
              <% when ImageServerGroup::Status::REVIEWED %>
                <td class="t15">REVIEWED</td>
              <% when ImageServerGroup::Status::ERROR %>
                <td class="t15" style="color:red">ERROR</td>
              <% else %>
                <td class="t15"><%= group[:status] %>&nbsp;</td>
            <% end %>
            <td class="t20"><%= ImageServerGroup::Difficulty::ALL_DIFFICULTIES[group[:difficulty]] %>&nbsp;</td>
            <td class="t20"><%= group[:transcriber] %>&nbsp;</td>
            <td class="t15"><%= link_to 'SH', image_server_image_path(group) %> <%= link_to 'ED', edit_image_server_group_path(group) %> <%= link_to 'DE', image_server_group_path(group), data: { confirm: 'Are you sure you want to delete IG "'+group.ig+'"?'}, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="task-form" style="display:none;"></div>
</div>