<% unless session[:userid].nil?%>
  <div style="text-align: center">
    <% if session[:manage_user_origin] == 'manage county' || session[:role] == 'image_server_coord' %>
      <%= link_to 'Allocate Image Groups', allocate_image_server_group_path, method: :get, :class => "btn  btn--small" %>
      <%= link_to 'Create new Image Group', new_image_server_group_path, method: :get, :class => "btn  btn--small" %>
      <%= link_to 'Initialize Image Groups', initialize_status_image_server_group_path, method: :get, :class => "btn  btn--small" %>
    <% end %>
  </div>
<% end %>
<div style="clear:both;"> </div>
<br>
<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead>
      <tr>
        <th class="t10">Image Group</th>
        <th class="t8">Total Images</th>
        <th class="t8">Start Date <a href="#" class="right_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '14' %>
            <span>If date shows in red text, it is outside the Source date range which must be extended</span>
          </a></th>
        <th class="t8">End Date <a href="#" class="right_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '14' %>
            <span>If date shows in red text, it is outside the Source date range which must be extended</span>
          </a></th>
        <th class="t10">Status</th>
        <th class="t10">Skill<br>
          Level</th>
        <th class="t12">Syndicate</th>
        <th class="t12">Transcriber</th>
        <th class="t10">Reviewer</th>
        <th class="t10">Action <a href="#" class="left_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '14' %>
            <% if session[:manage_user_origin] == 'manage county' || session[:role] == 'image_server_coord' %>  <%# any user from manage_counties %>
              <span>Some actions may not be applicable. SH: Show Properties;<br>
                ED: Edit Properties;<br>
                DE: Delete Group;<br>
                LS: List Images in the Group;<br>
                AL: Allocate Group;<br>
                RJ: Reject Allocate Request</span>
            <% else %>          <%# any user from manage_syndicates %>
              <span>SH: Show Properties;<br>
                LS: List Images in the Group</span>
            <% end %>
          </a></th>
      </tr>
    </thead>
  </table>
  <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody>
        <% @image_server_group.each do |group| %>
          <tr>
            <td class="t10"><%= group.group_name %></td>
            <td class="t8"><%= group.number_of_images %>&nbsp;</td>
            <% if !group[:start_date].nil? && !group.source.start_date.nil? && group[:start_date] < group.source.start_date %>
              <td class="t8" style="color:red"><%= group[:start_date] %>&nbsp;</td>
            <% else %>
              <td class="t8"><%= group[:start_date] %>&nbsp;</td>
            <% end %>
            <% if !group[:end_date].nil? && !group.source.end_date.nil? && group[:end_date] > group.source.end_date %>
              <td class="t8" style="color:red"><%= group[:end_date] %>&nbsp;</td>
            <% else %>
              <td class="t8"><%= group[:end_date] %>&nbsp;</td>
            <% end %>
            <td class="t12">
              <% unless group.summary[:status].nil? %>
                <% group.summary[:status].each do |status| %>
                  <span><%= SourceProperty::STATUS[status] %></span><br/>
                <% end %>
              <% end %>
              &nbsp;</td>
            <td class="t10">
              <% unless group.summary[:difficulty].nil? %>
                <% group.summary[:difficulty].each do |difficulty| %>
                  <span><%= SourceProperty::DIFFICULTY[difficulty] %></span><br/>
                <% end %>
              <% end %>
              &nbsp;</td>
            <td class="t12"><%= group[:syndicate_code] %>&nbsp;</td>
            <td class="t12">
              <% unless group.summary[:transcriber].nil? %>
                <% group.summary[:transcriber].each do |transcriber| %>
                  <span><%= transcriber %></span><br/>
                <% end %>
              <% end %>
              &nbsp;</td>
            <td class="t10">
              <% unless group.summary[:reviewer].nil? %>
                <% group.summary[:reviewer].each do |reviewer| %>
                  <span><%= reviewer %></span><br/>
                <% end %>
              <% end %>
              &nbsp;</td>
            <td class="t10"><%= link_to 'SH', image_server_group_path(group), :title=>'show image group properties' %>
              <% if session[:manage_user_origin] == 'manage county' || session[:role] == 'image_server_coord' %>
                <%= link_to 'ED', edit_image_server_group_path(group), :title=>'edit image group properties' %>
                <%= link_to 'DE', image_server_group_path(group), :title=>'delete image group', data: { confirm: 'Are you sure you want to delete Image Group "'+group.group_name+'"?'}, method: :delete %>
              <% end %>
              <%= link_to 'LS', index_image_server_image_path(group), :title=>'list images in image group' %>
              <% if !session[:my_own] && group[:summary][:status] == ['ar'] %>
                <%= link_to 'AL', image_server_group_path(group, :type=>'allocate accept'), :title=>'accept allocate request', method: :put %>
                <%= link_to 'RJ', image_server_group_path(group, :type=>'allocate reject'), :title=>'reject allocate request', data: { confirm: 'Are you sure you want to reject the allocation request?'}, method: :put %>
              <% end %>
            </td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="task-form" style="display:none;"></div>
</div>