<% breadcrumb :image_server_groups, @user, @county, @register, @source %>

<% title "IS Group - list" %>
<div style="clear:both;"></div><br>
<p style="text-align: center"><b>Image Groups</b> for the <b><%= @source.source_name %></b> Source of the <b><%= @register_type %></b> register for <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b>

<% if flash[:notice] %>
  <div id="notice" style="color:blue">
    <%= flash[:notice] %><% flash.clear %>
  </div><br>
<% end %>

<div class="grid">
  <section class="island">
    <%= render 'image_group_index' %>
  </section>
</div>