<% breadcrumb :image_server_group, @county, @place, @church, @register, @source %>

<div style="clear:both;"></div><br>
<p style="text-align: center"><b><%= @source.source_name %> Groups</b> of the <b><%= @register_type %></b> register for <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b>

<% if flash[:notice] %>
  <div id="notice" style="color:blue">
    <%= flash[:notice] %><% flash.clear %>
  </div><br>
<% end %>

<div class="grid">
  <section class="island">
    <%= render 'image_group_index' %>
  </section>
</div>