Page Identification Master Place:show<p>


<div style="float:left;"> <%= button_to 'Edit Place', edit_master_place_name_path(@place), method: :get %> </div>
<div style="float:left;"> <%= button_to 'Discard', master_place_name_path(@place),method: :delete,data:{confirm: 'Are you sure?'} %></div>


<div style="float:left;"> <%= button_to 'Master Place Names', master_place_names_path , method: :get %></div>
 <div style="float:left;"> <%= button_to 'Places Index', places_path, method: :get %></div>
 <div style="float:left;"> <%= button_to_function "Previous Page", "history.back()" %> </div>
 <div style="float:left;"> <%= button_to" Logout", refinery.logout_path , method: :get%></div>
<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
 <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  
<div style="color:black">
Details of the <b>Place name:</b><%= @place.place_name %> </p>
<p><b>County:</b><%= @place.county %></p>
<p><b>Country:</b><%= @place.country %></p>
<p><b>Genuki url:</b><%= @place.genuki_url %><br> 
<b>Test link:</b> <%= link_to('Genuki', @place.genuki_url) unless (@place.genuki_url.nil? || @place.genuki_url == "no url")%></p>
<p><b>Grid Reference:</b><%= @place.grid_reference %></p>
<p><b>Latitude:</b><%= @place.latitude%></p>
<p><b>Longitude:</b><%= @place.longitude%></p>
<p><b>Source:</b><%= @place.source %></p>
<p><b>Original place name:</b><%= @place.original_place_name %></p>
<p><b>Original county:</b><%= @place.original_county %></p>
<p><b>Original country:</b><%= @place.original_country %></p>
<p><b>Original Grid Reference:</b><%= @place.original_grid_reference %></p>
<p><b>Original Latitude:</b><%= @place.original_latitude %></p>
<p><b>Original Longitude:</b><%= @place.original_longitude %></p>
<p><b>Original Source:</b><%= @place.original_source %></p>
<p><b>Reason for changes:</b><%= @place.reason_for_change %></p>
<p><b>Other Reason for changes:</b><%= @place.other_reason_for_change %></p>
<p><b>Last amended:</b><%= @place.u_at.strftime("%d %b %Y") %></p>
<p><b>Modified Place Name:</b><%= @place.modified_place_name %></p>
 </div>
<div style="float:left;"> <%= button_to 'Edit Place', edit_master_place_name_path(@place), method: :get %> </div>
<div style="float:left;"> <%= button_to 'Discard', master_place_name_path(@place),method: :delete,data:{confirm: 'Are you sure?'} %></div>


<div style="float:left;"> <%= button_to 'Master Place Names', master_place_names_path , method: :get %></div>
 <div style="float:left;"> <%= button_to 'Places Index', places_path, method: :get %></div>
 <div style="float:left;"> <%= button_to_function "Previous Page", "history.back()" %> </div>
 <div style="float:left;"> <%= button_to" Logout", refinery.logout_path , method: :get%></div>
<div style="clear:both;"> </div><br>