<p id="notice"><%= notice %></p>

<p>
  <b>Filename:</b>
  <%= @freecen1_fixed_dat_file.filename %>
</p>

<p>
  <b>Dirname:</b>
  <%= @freecen1_fixed_dat_file.dirname %>
</p>

<p>
  <b>Year:</b>
  <%= @freecen1_fixed_dat_file.year %>
</p>

<p>
  <b>Chapman code:</b>
  <%= @freecen1_fixed_dat_file.chapman_code %>
</p>


<%= link_to 'Edit', edit_freecen1_fixed_dat_file_path(@freecen1_fixed_dat_file) %> |
<%= link_to 'Back', freecen1_fixed_dat_files_path %>
