<div style="overflow: hidden;">
  <div class="scrollable ">
    <table class=" table--bordered my-width table--data just--left">
      <thead >
        <tr>
          <th class='sticky-header' title='The position in the file not the register number'>Number</th>
          <th class='sticky-header'>Birth date</th>
          <th class='sticky-header'>Baptism date</th>
          <th class='sticky-header'>Person forename</th>
          <th class='sticky-header'>Person Surname</th>
          <th class='sticky-header'>Father forename</th>
          <th class='sticky-header'>Father surname</th>
          <th class='sticky-header'>Mother forename</th>
          <th class='sticky-header'>Mother surname</th>
          <th class='sticky-header'>Action</th>
        </tr>
      </thead>
      <tbody >
        <% @freereg1_csv_entries.each do |freereg1_csv_entry| %>
          <% if freereg1_csv_entry.error_flag == 'true' %>
            <tr id="<%= freereg1_csv_entry.id %>" style= "color:red">
            <%else%>
              <tr id="<%= freereg1_csv_entry.id %>" style= "color:green">
              <% end%>
              <td><%= freereg1_csv_entry.file_line_number %></td>
              <td><%= freereg1_csv_entry.birth_date %></td>
              <td><%= freereg1_csv_entry.baptism_date %></td>
              <td><%= freereg1_csv_entry.person_forename %></td>
              <td><%= freereg1_csv_entry.person_surname %></td>
              <td><%= freereg1_csv_entry.father_forename %></td>
              <td><%= freereg1_csv_entry.father_surname %></td>
              <td><%= freereg1_csv_entry.mother_forename %></td>
              <td><%= freereg1_csv_entry.mother_surname %></td>
              <td><%= link_to 'SH', freereg1_csv_entry_path(freereg1_csv_entry, "zero_record" => @get_zero_year_records, "zero_listing" => @zero_year) %> <%= link_to 'ED', edit_freereg1_csv_entry_path(freereg1_csv_entry, "zero_record" => @get_zero_year_records, "zero_listing" => @zero_year) %> <%= link_to 'DE', freereg1_csv_entry, data: { confirm:  'Are you sure you want to delete this record?'}, method: :delete   %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>