<%= form_for(@freereg1_csv_entry) do |f| %>
  <% if @freereg1_csv_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@freereg1_csv_entry.errors.count, "error") %> prohibited this freereg1_csv_entry from being saved:</h2>

      <ul>
      <% @freereg1_csv_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abode %><br />
    <%= f.text_field :abode %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :baptdate %><br />
    <%= f.text_field :baptdate %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.text_field :birthdate %>
  </div>
  <div class="field">
    <%= f.label :bride_abode %><br />
    <%= f.text_field :bride_abode %>
  </div>
  <div class="field">
    <%= f.label :bride_age %><br />
    <%= f.text_field :bride_age %>
  </div>
  <div class="field">
    <%= f.label :bride_condition %><br />
    <%= f.text_field :bride_condition %>
  </div>
  <div class="field">
    <%= f.label :bride_fath_firstname %><br />
    <%= f.text_field :bride_fath_firstname %>
  </div>
  <div class="field">
    <%= f.label :bride_fath_occupation %><br />
    <%= f.text_field :bride_fath_occupation %>
  </div>
  <div class="field">
    <%= f.label :bride_fath_surname %><br />
    <%= f.text_field :bride_fath_surname %>
  </div>
  <div class="field">
    <%= f.label :bride_firstname %><br />
    <%= f.text_field :bride_firstname %>
  </div>
  <div class="field">
    <%= f.label :bride_occupation %><br />
    <%= f.text_field :bride_occupation %>
  </div>
  <div class="field">
    <%= f.label :bride_parish %><br />
    <%= f.text_field :bride_parish %>
  </div>
  <div class="field">
    <%= f.label :bride_surname %><br />
    <%= f.text_field :bride_surname %>
  </div>
  <div class="field">
    <%= f.label :burdate %><br />
    <%= f.text_field :burdate %>
  </div>
  <div class="field">
    <%= f.label :church %><br />
    <%= f.text_field :church %>
  </div>
  <div class="field">
    <%= f.label :county %><br />
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :father %><br />
    <%= f.text_field :father %>
  </div>
  <div class="field">
    <%= f.label :fath_occupation %><br />
    <%= f.text_field :fath_occupation %>
  </div>
  <div class="field">
    <%= f.label :fath_surname %><br />
    <%= f.text_field :fath_surname %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :groom_abode %><br />
    <%= f.text_field :groom_abode %>
  </div>
  <div class="field">
    <%= f.label :groom_age %><br />
    <%= f.text_field :groom_age %>
  </div>
  <div class="field">
    <%= f.label :groom_condition %><br />
    <%= f.text_field :groom_condition %>
  </div>
  <div class="field">
    <%= f.label :groom_fath_firstname %><br />
    <%= f.text_field :groom_fath_firstname %>
  </div>
  <div class="field">
    <%= f.label :groom_fath_occupation %><br />
    <%= f.text_field :groom_fath_occupation %>
  </div>
  <div class="field">
    <%= f.label :groom_fath_surname %><br />
    <%= f.text_field :groom_fath_surname %>
  </div>
  <div class="field">
    <%= f.label :groom_firstname %><br />
    <%= f.text_field :groom_firstname %>
  </div>
  <div class="field">
    <%= f.label :groom_occupation %><br />
    <%= f.text_field :groom_occupation %>
  </div>
  <div class="field">
    <%= f.label :groom_parish %><br />
    <%= f.text_field :groom_parish %>
  </div>
  <div class="field">
    <%= f.label :groom_surname %><br />
    <%= f.text_field :groom_surname %>
  </div>
  <div class="field">
    <%= f.label :marrdate %><br />
    <%= f.text_field :marrdate %>
  </div>
  <div class="field">
    <%= f.label :mother %><br />
    <%= f.text_field :mother %>
  </div>
  <div class="field">
    <%= f.label :moth_surname %><br />
    <%= f.text_field :moth_surname %>
  </div>
  <div class="field">
    <%= f.label :no %><br />
    <%= f.text_field :no %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :rel1_male_first %><br />
    <%= f.text_field :rel1_male_first %>
  </div>
  <div class="field">
    <%= f.label :rel1_surname %><br />
    <%= f.text_field :rel1_surname %>
  </div>
  <div class="field">
    <%= f.label :rel2_female_first %><br />
    <%= f.text_field :rel2_female_first %>
  </div>
  <div class="field">
    <%= f.label :relationship %><br />
    <%= f.text_field :relationship %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :witness1_firstname %><br />
    <%= f.text_field :witness1_firstname %>
  </div>
  <div class="field">
    <%= f.label :witness1_surname %><br />
    <%= f.text_field :witness1_surname %>
  </div>
  <div class="field">
    <%= f.label :witness2_firstname %><br />
    <%= f.text_field :witness2_firstname %>
  </div>
  <div class="field">
    <%= f.label :witness2_surname %><br />
    <%= f.text_field :witness2_surname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
