<div style="overflow: hidden;">
  <div class="scrollable ">
    <table class="table--bordered my-width table--data just--left">
      <thead >
        <tr>
          <th class='sticky-header' title='The position in the file not the register number'>Number</th>
          <th class='sticky-header'>Marriage date</th>
          <th class='sticky-header'>Contract date</th>
          <th class='sticky-header'>Groom forename</th>
          <th class='sticky-header'>Groom surname</th>
          <th class='sticky-header'>Bride forename</th>
          <th class='sticky-header'>Bride surname</th>
          <th class='sticky-header'>Action</th>
        </tr>
      </thead>
      <tbody >
        <% @freereg1_csv_entries.each do |freereg1_csv_entry| %>
          <% if freereg1_csv_entry.error_flag == 'true' %>
            <tr id="<%= freereg1_csv_entry.id %>" style= "color:red">
            <% else%>
              <tr id="<%= freereg1_csv_entry.id %>" style= "color:teal">
              <% end%>
              <td><%= freereg1_csv_entry.file_line_number %></td>
              <td><%= freereg1_csv_entry.marriage_date %></td>
              <td><%= freereg1_csv_entry.marriage_by %></td>
              <td><%= freereg1_csv_entry.contract_date %></td>
              <td><%= freereg1_csv_entry.groom_forename %></td>
              <td><%= freereg1_csv_entry.groom_surname %></td>
              <td><%= freereg1_csv_entry.bride_forename %></td>
              <td><%= freereg1_csv_entry.bride_surname %></td>
              <td><%= link_to 'SH', freereg1_csv_entry_path(freereg1_csv_entry, "zero_record" => @get_zero_year_records, "zero_listing" => @zero_year) %>  <%= link_to 'ED', edit_freereg1_csv_entry_path(freereg1_csv_entry, "zero_record" => @get_zero_year_records, "zero_listing" => @zero_year) %>  <%= link_to 'DE', freereg1_csv_entry, data: { confirm:  'Are you sure?'}, method: :delete   %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
