
<p>Editing entry for file: <%= @freereg1_csv_file_name %> in Register: <%= @register_name %> of Church: <%= @church_name%> in <%= @place_name %> of the County of <%= @county %><br></p>

<%= render 'form' %>

<%= link_to 'Show', @freereg1_csv_entry %> |
<%= link_to 'Back', freereg1_csv_entries_path %>
