<% breadcrumb :correct_error_record,  @freereg1_csv_entry, @freereg1_csv_file%>
<p style="text-align: center">Editing entry error in <b><%= @error_line %></b> for <b><%= @freereg1_csv_file_name %></b> (<%= @file_owner %>) in <b><%= @register_name %></b> of <b> <%= @church_name%></b> in <b><%= @place_name %></b> of <b><%= @county %></b><br>
<b>The Error Message(s)<%= @error_message%></p></b><br>

<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %>  
<%= render 'form' %>
<br>

