<% breadcrumb :show_records,  @freereg1_csv_file%>
<% file = @freereg1_csv_file %>
<p style="text-align: center"><b><%= file_name(file) %></b> (<%= owner(file) %>) in <b><%= register_type(file) %></b> of <b> <%= church_name(file)%></b> in <b><%= place_name(file) %> </b> of <b><%= county(file) %></b><br></p>
<div  style="text-align: center"> <%= link_to 'Create new entry', new_freereg1_csv_entry_path, method: :get , :class => "btn weight--light  btn--small"  %> <%= link_to 'Listing of all Error Records in this Batch', error_freereg1_csv_file_path(@freereg1_csv_file), method: :get , :class => "btn weight--light  btn--small" %> </div>
<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>
<div class="grid">
  <section class="island  ">
    <% case %>
     <% when @freereg1_csv_entries.blank? %>
      <%= render 'freereg1_csv_entries/blank_index' %>
    <% when @freereg1_csv_file.record_type == "ba" %>
      <%= render 'freereg1_csv_entries/baptism_index' %>
    <% when @freereg1_csv_file.record_type == "bu" %>
      <%= render 'freereg1_csv_entries/burial_index' %>
    <% when @freereg1_csv_file.record_type == "ma" %>
      <%= render 'freereg1_csv_entries/marriage_index' %>
    <% end %>
  </section>
</div>
<br>