<p style="text-align: center">Listing entries for file: <b><%= @freereg1_csv_file_name %></b> (<%= @file_owner %>) in Register: <b><%= @register_name %></b> of Church:<b> <%= @church_name%></b> in <b><%= @place_name %></b> of the County of <b><%= @county %></b><br>
</p>
<div  style="text-align: center"> <%= link_to 'Batch',  freereg1_csv_file_path(@freereg1_csv_entry.freereg1_csv_file_path), method: :get, :class => "btn  btn--small"  %> <%= link_to 'Create new entry', new_freereg1_csv_entry_path, method: :get , :class => "btn btn--small"  %> <%= link_to 'Listing of all Error Records in this Batch', error_freereg1_csv_file_path(@freereg1_csv_file), method: :get , :class => "btn btn--small" %> </div>
<div style="clear:both;"> </div>
<br>
<%= render 'flash_notice' %>
<% case %>
<% when @freereg1_csv_file.record_type == "ba" %>
<table class="table--bordered  table--data">
  <colgroup >
    <col class=t10>
    <col class=t10 >
    <col class=t10 >
    <col class=t10>
    <col class=t10>
    <col class=t15>
    <col class=t10>
    <col class=t15>
    <col class=t10>
  </colgroup>
  <tr>
    <th>Record number</th>
    <th>Baptism date</th>
    <th>Birth date</th>
    <th>Person forename</th>
    <th>Father forename</th>
    <th>Father surname</th>
    <th>Mother forename</th>
    <th>Mother surname</th>
    <th>Action</th>
  </tr>
  <% @freereg1_csv_entries.each do |freereg1_csv_entry| %>
    <% if freereg1_csv_entry.error_flag == 'true' %>
      <tr id="<%= freereg1_csv_entry.id %>" style= "color:blue">
    <%else%>
    <tr id="<%= freereg1_csv_entry.id %>" style= "color:black">
      <%end%>
      <td><%= freereg1_csv_entry.file_line_number %></td>

      <td><%= freereg1_csv_entry.baptism_date %></td>
      <td><%= freereg1_csv_entry.birth_date %></td>
      <td><%= freereg1_csv_entry.person_forename %></td>

      <td><%= freereg1_csv_entry.father_forename %></td>
      <td><%= freereg1_csv_entry.father_surname %></td>

      <td><%= freereg1_csv_entry.mother_forename %></td>
      <td><%= freereg1_csv_entry.mother_surname %></td>

      <td><%= link_to 'Show', freereg1_csv_entry %><br><%= link_to 'Edit', edit_freereg1_csv_entry_path(freereg1_csv_entry) %><br><%= link_to 'Destroy', freereg1_csv_entry, data: { confirm:  'Are you sure?'}, method: :delete %></td>
      <% end %>
    </table>
    <% when @freereg1_csv_file.record_type == "bu" %>
    <table class="table--bordered  table--data">
      <colgroup >
        <col class=t10>
        <col class=t10 >
        <col class=t10 >
        <col class=t15>
        <col class=t10>
        <col class=t10>
        <col class=t15>
        <col class=t10>
      </colgroup>
      <tr >
        <th>Record number</th>
        <th>Burial date</th>
        <th>Burial person forename</th>
        <th>Burial person surname</th>
        <th>Male relative forename</th>
        <th>Female relative forename</th>
        <th>Relative surname</th>
        <th>Action</th>
      </tr>
      <% @freereg1_csv_entries.each do |freereg1_csv_entry| %>
        <% if freereg1_csv_entry.error_flag == 'true' %>
          <tr id="<%= freereg1_csv_entry.id %>" style= "color:blue">
        <%else%>
          <tr id="<%= freereg1_csv_entry.id %>" style= "color:black">
        <%end%>
          <td><%= freereg1_csv_entry.file_line_number%></td>

          <td><%= freereg1_csv_entry.burial_date %></td>
          <td><%= freereg1_csv_entry.burial_person_forename %></td>
          <td><%= freereg1_csv_entry.burial_person_surname %></td>

          <td><%= freereg1_csv_entry.male_relative_forename %></td>
          <td><%= freereg1_csv_entry.female_relative_forename %></td>
          <td><%= freereg1_csv_entry.relative_surname %></td>

          <td><%= link_to 'Show', freereg1_csv_entry %><br><%= link_to 'Edit', edit_freereg1_csv_entry_path(freereg1_csv_entry) %><br><%= link_to 'Destroy', freereg1_csv_entry, data: { confirm:  'Are you sure?'}, method: :delete %></td>
        </tr>
      <% end %>
      </table>
      <%= paginate @freereg1_csv_entries %>
      <% when @freereg1_csv_file.record_type == "ma" %>
      <table class="table--bordered  table--data">
        <colgroup >
          <col class="t10">
          <col class="t10" >
          <col class="t10 ">
          <col class="t15">
          <col class="t10">
          <col class="t15">
          <col class="t10">

        </colgroup>
        <tr>
          <th>Record number</th>
          <th>Marriage date</th>
          <th>Bride forename</th>
          <th>Bride surname</th>
          <th>Groom forename</th>
          <th>Groom surname</th>
          <th>Action</th>
        </tr>
        <% @freereg1_csv_entries.each do |freereg1_csv_entry| %>
        <% if freereg1_csv_entry.error_flag == 'true' %>
        <tr id="<%= freereg1_csv_entry.id %>" style= "color:blue">
          <%else%>
          <tr id="<%= freereg1_csv_entry.id %>" style= "color:black">
            <%end%>
            <td><%= freereg1_csv_entry.file_line_number %></td>

            <td><%= freereg1_csv_entry.marriage_date %></td>

            <td><%= freereg1_csv_entry.groom_forename %></td>

            <td><%= freereg1_csv_entry.groom_surname %></td>

            <td><%= freereg1_csv_entry.bride_forename %></td>

            <td><%= freereg1_csv_entry.bride_surname %></td>

            <td><%= link_to 'Show', freereg1_csv_entry %><br><%= link_to 'Edit', edit_freereg1_csv_entry_path(freereg1_csv_entry) %><br><%= link_to 'Destroy', freereg1_csv_entry, data: { confirm:  'Are you sure?'}, method: :delete %></td>
          </tr>
          <% end %>
        </table>
        <% end %>
        <br />