<p id="notice"><%= notice %></p>
<p>Showing entry <b><%= @freereg1_csv_entry.file_line_number %></b> for file: <b><%= @freereg1_csv_file_name %></b> in Register: <b><%= @register_name %></b> of Church:<b> <%= @church_name%></b> in <b><%= @place_name %></b> of the County of <b><%= @county %></b><br></p>
<% case %>
<% when @freereg1_csv_file.record_type == "ba" %>      
<p>
  <b>Register entry number:</b>
  <%= @freereg1_csv_entry.register_entry_number %>
</p>
<p>
  <b>Baptism date:</b>
  <%= @freereg1_csv_entry.baptism_date %>
</p>
<p>
  <b>Birth date:</b>
  <%= @freereg1_csv_entry.birth_date %>
</p>
<p>
  <b>Person forename:</b>
  <%= @freereg1_csv_entry.person_forename %>
</p>


<p>
  <b>Person sex:</b>
  <%= @freereg1_csv_entry.person_sex %>
</p>


<p>
  <b>Father forename:</b>
  <%= @freereg1_csv_entry.father_forename %>
</p>


<p>
  <b>Father surname:</b>
  <%= @freereg1_csv_entry.father_surname %>
</p>
<p>
  <b>Father occupation:</b>
  <%= @freereg1_csv_entry.father_occupation %>
</p>
<p>
  <b>Mother forename:</b>
  <%= @freereg1_csv_entry.mother_forename %>
</p>

<p>
  <b>Mother surname:</b>
  <%= @freereg1_csv_entry.mother_surname %>
</p>
<p>
  <b>Person abode:</b>
  <%= @freereg1_csv_entry.person_abode %>
</p>

<p>
  <b>Notes:</b>
  <%= @freereg1_csv_entry.notes %>
</p>
<p>
  <b>Line:</b>
  <%= @freereg1_csv_entry.line_id %>
</p>
<% when @freereg1_csv_file.record_type == "ma" %> 

<p>
  <b>Register entry number:</b>
  <%= @freereg1_csv_entry.register_entry_number %>
</p>

<p>
  <b>Bride abode:</b>
  <%= @freereg1_csv_entry.bride_abode %>
</p>

<p>
  <b>Bride age:</b>
  <%= @freereg1_csv_entry.bride_age %>
</p>

<p>
  <b>Bride condition:</b>
  <%= @freereg1_csv_entry.bride_condition %>
</p>

<p>
  <b>Bride father forename:</b>
  <%= @freereg1_csv_entry.bride_father_forename %>
</p>

<p>
  <b>Bride fathr occupation:</b>
  <%= @freereg1_csv_entry.bride_father_occupation %>
</p>

<p>
  <b>Bride father surname:</b>
  <%= @freereg1_csv_entry.bride_father_surname %>
</p>

<p>
  <b>Bride firstname:</b>
  <%= @freereg1_csv_entry.bride_forename %>
</p>

<p>
  <b>Bride occupation:</b>
  <%= @freereg1_csv_entry.bride_occupation %>
</p>

<p>
  <b>Bride parish:</b>
  <%= @freereg1_csv_entry.bride_parish %>
</p>

<p>
  <b>Bride surname:</b>
  <%= @freereg1_csv_entry.bride_surname %>
</p>
<p>
  <b>Groom abode:</b>
  <%= @freereg1_csv_entry.groom_abode %>
</p>

<p>
  <b>Groom age:</b>
  <%= @freereg1_csv_entry.groom_age %>
</p>

<p>
  <b>Groom condition:</b>
  <%= @freereg1_csv_entry.groom_condition %>
</p>

<p>
  <b>Groom father forename:</b>
  <%= @freereg1_csv_entry.groom_father_forename %>
</p>

<p>
  <b>Groom father occupation:</b>
  <%= @freereg1_csv_entry.groom_father_occupation %>
</p>

<p>
  <b>Groom father surname:</b>
  <%= @freereg1_csv_entry.groom_father_surname %>
</p>

<p>
  <b>Groom forename:</b>
  <%= @freereg1_csv_entry.groom_forename %>
</p>

<p>
  <b>Groom occupation:</b>
  <%= @freereg1_csv_entry.groom_occupation %>
</p>

<p>
  <b>Groom parish:</b>
  <%= @freereg1_csv_entry.groom_parish %>
</p>

<p>
  <b>Groom surname:</b>
  <%= @freereg1_csv_entry.groom_surname %>
</p>


<p>
  <b>Marriage date:</b>
  <%= @freereg1_csv_entry.marriage_date %>
</p>
<p>
  <b>Witness1 forename:</b>
  <%= @freereg1_csv_entry.witness1_forename %>
</p>

<p>
  <b>Witness1 surname:</b>
  <%= @freereg1_csv_entry.witness1_surname %>
</p>

<p>
  <b>Witness2 forename:</b>
  <%= @freereg1_csv_entry.witness2_forename %>
</p>

<p>
  <b>Witness2 surname:</b>
  <%= @freereg1_csv_entry.witness2_surname %>
</p>
<p>
  <b>Notes:</b>
  <%= @freereg1_csv_entry.notes %>
</p>
<p>
  <b>Line:</b>
  <%= @freereg1_csv_entry.line_id %>
</p>

<% when @freereg1_csv_file.record_type %> 
<p>
  <b>Register entry number:</b>
  <%= @freereg1_csv_entry.register_entry_number %>
</p>

<p>
  <b>Burial date:</b>
  <%= @freereg1_csv_entry.burial_date %>
</p>

<p>
  <b>Burial person forename:</b>
  <%= @freereg1_csv_entry.burial_person_forename %>
</p>
<p>
  <b>Burial person surname:</b>
  <%= @freereg1_csv_entry.burial_person_surname %>
</p>
<p>
  <b>Burial person abode:</b>
  <%= @freereg1_csv_entry.burial_person_abode %>
</p>
<p>
  <b>Relationship:</b>
  <%= @freereg1_csv_entry.relationship %>
</p>
<p>
  <b>Person age:</b>
  <%= @freereg1_csv_entry.person_age %>
</p>

<p>
  <b>Female relative forename:</b>
  <%= @freereg1_csv_entry.female_relative_forename %>
</p>
<p>
  <b>Male relative forename:</b>
  <%= @freereg1_csv_entry.male_relative_forename %>
</p>

<p>
  <b>Relative surname:</b>
  <%= @freereg1_csv_entry.relative_surname %>
</p>
<p>
  <b>Notes:</b>
  <%= @freereg1_csv_entry.notes %>
</p>
<p>
  <b>Line:</b>
  <%= @freereg1_csv_entry.line_id %>
</p>
<%end%>

<%= button_to 'Edit Entry', edit_freereg1_csv_entry_path(@freereg1_csv_entry), method: :get %>
<%= button_to_function "Back to Previous Page", "history.back()" %> 
