<p id="notice"><%= notice %></p>

<p>
  <b>Abode:</b>
  <%= @freereg1_csv_entry.abode %>
</p>

<p>
  <b>Age:</b>
  <%= @freereg1_csv_entry.age %>
</p>

<p>
  <b>Baptdate:</b>
  <%= @freereg1_csv_entry.baptdate %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @freereg1_csv_entry.birthdate %>
</p>

<p>
  <b>Bride abode:</b>
  <%= @freereg1_csv_entry.bride_abode %>
</p>

<p>
  <b>Bride age:</b>
  <%= @freereg1_csv_entry.bride_age %>
</p>

<p>
  <b>Bride condition:</b>
  <%= @freereg1_csv_entry.bride_condition %>
</p>

<p>
  <b>Bride fath firstname:</b>
  <%= @freereg1_csv_entry.bride_fath_firstname %>
</p>

<p>
  <b>Bride fath occupation:</b>
  <%= @freereg1_csv_entry.bride_fath_occupation %>
</p>

<p>
  <b>Bride fath surname:</b>
  <%= @freereg1_csv_entry.bride_fath_surname %>
</p>

<p>
  <b>Bride firstname:</b>
  <%= @freereg1_csv_entry.bride_firstname %>
</p>

<p>
  <b>Bride occupation:</b>
  <%= @freereg1_csv_entry.bride_occupation %>
</p>

<p>
  <b>Bride parish:</b>
  <%= @freereg1_csv_entry.bride_parish %>
</p>

<p>
  <b>Bride surname:</b>
  <%= @freereg1_csv_entry.bride_surname %>
</p>

<p>
  <b>Burdate:</b>
  <%= @freereg1_csv_entry.burdate %>
</p>

<p>
  <b>Church:</b>
  <%= @freereg1_csv_entry.church %>
</p>

<p>
  <b>County:</b>
  <%= @freereg1_csv_entry.county %>
</p>

<p>
  <b>Father:</b>
  <%= @freereg1_csv_entry.father %>
</p>

<p>
  <b>Fath occupation:</b>
  <%= @freereg1_csv_entry.fath_occupation %>
</p>

<p>
  <b>Fath surname:</b>
  <%= @freereg1_csv_entry.fath_surname %>
</p>

<p>
  <b>Firstname:</b>
  <%= @freereg1_csv_entry.firstname %>
</p>

<p>
  <b>Groom abode:</b>
  <%= @freereg1_csv_entry.groom_abode %>
</p>

<p>
  <b>Groom age:</b>
  <%= @freereg1_csv_entry.groom_age %>
</p>

<p>
  <b>Groom condition:</b>
  <%= @freereg1_csv_entry.groom_condition %>
</p>

<p>
  <b>Groom fath firstname:</b>
  <%= @freereg1_csv_entry.groom_fath_firstname %>
</p>

<p>
  <b>Groom fath occupation:</b>
  <%= @freereg1_csv_entry.groom_fath_occupation %>
</p>

<p>
  <b>Groom fath surname:</b>
  <%= @freereg1_csv_entry.groom_fath_surname %>
</p>

<p>
  <b>Groom firstname:</b>
  <%= @freereg1_csv_entry.groom_firstname %>
</p>

<p>
  <b>Groom occupation:</b>
  <%= @freereg1_csv_entry.groom_occupation %>
</p>

<p>
  <b>Groom parish:</b>
  <%= @freereg1_csv_entry.groom_parish %>
</p>

<p>
  <b>Groom surname:</b>
  <%= @freereg1_csv_entry.groom_surname %>
</p>

<p>
  <b>Marrdate:</b>
  <%= @freereg1_csv_entry.marrdate %>
</p>

<p>
  <b>Mother:</b>
  <%= @freereg1_csv_entry.mother %>
</p>

<p>
  <b>Moth surname:</b>
  <%= @freereg1_csv_entry.moth_surname %>
</p>

<p>
  <b>No:</b>
  <%= @freereg1_csv_entry.no %>
</p>

<p>
  <b>Notes:</b>
  <%= @freereg1_csv_entry.notes %>
</p>

<p>
  <b>Place:</b>
  <%= @freereg1_csv_entry.place %>
</p>

<p>
  <b>Rel1 male first:</b>
  <%= @freereg1_csv_entry.rel1_male_first %>
</p>

<p>
  <b>Rel1 surname:</b>
  <%= @freereg1_csv_entry.rel1_surname %>
</p>

<p>
  <b>Rel2 female first:</b>
  <%= @freereg1_csv_entry.rel2_female_first %>
</p>

<p>
  <b>Relationship:</b>
  <%= @freereg1_csv_entry.relationship %>
</p>

<p>
  <b>Sex:</b>
  <%= @freereg1_csv_entry.sex %>
</p>

<p>
  <b>Surname:</b>
  <%= @freereg1_csv_entry.surname %>
</p>

<p>
  <b>Witness1 firstname:</b>
  <%= @freereg1_csv_entry.witness1_firstname %>
</p>

<p>
  <b>Witness1 surname:</b>
  <%= @freereg1_csv_entry.witness1_surname %>
</p>

<p>
  <b>Witness2 firstname:</b>
  <%= @freereg1_csv_entry.witness2_firstname %>
</p>

<p>
  <b>Witness2 surname:</b>
  <%= @freereg1_csv_entry.witness2_surname %>
</p>


<%= link_to 'Edit', edit_freereg1_csv_entry_path(@freereg1_csv_entry) %> |
<%= link_to 'Back', freereg1_csv_entries_path %>
