<% breadcrumb :show_record,  @freereg1_csv_entry,  @freereg1_csv_file%>
<% breadcrumb :zero_year_record_detail, @freereg1_csv_entry, @freereg1_csv_file if params[:zero_record]== "true" %>
<% breadcrumb :show_zero_year_entry, @freereg1_csv_entry, @freereg1_csv_file if params[:zero_listing] == "true"%>
<h3 style="text-align: center">Showing record <b><%= @freereg1_csv_entry.file_line_number %></b> for batch: <b><%= @freereg1_csv_file_name %></b> (<%= @file_owner %>) in <b><%= @register_name %></b> of <b> <%= @church_name%></b> in <b><%= @place_name %></b> of <b><%= @county %></b><br></h3>
<% unless session[:userid].nil?%>
<div  style="text-align: center">  <%= link_to 'Edit Record',  edit_freereg1_csv_entry_path(@freereg1_csv_entry, "zero_record" => @get_zero_year_records, "zero_listing" => @zero_year), method: :get, :class => "btn weight--light  btn--small"  %> <%= link_to 'Destroy', freereg1_csv_entry_path(@freereg1_csv_entry), data: { confirm:  'Are you sure?'}, method: :delete , :class => "btn  weight--light btn--small"  %></div>
<div style="clear:both;"> </div><br>
<% end %>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<section id="search-detail" >
  <%= render 'entry_detail' %>
</section>
<br>