<h1>DRAFT - About - Index of Graphs - FreeBMB coverage</h1>

<h2 id="#Top">Table of Contents</h2>
<ul>
<li><a href="#totals">FreeBMD Summary Graphs</a>
</li>
<li><a href="#births">Coverage of Birth Records</a> </li>
<li><a href="#marriages">Coverage of Marriage Records</a> </li>
<li><a href="#deaths">Coverage of Death Records</a> </li>
</ul>
<h2 id="totals">FreeBMD Summary Graphs</h2>
<ul><a href="#submitters numbers">
</a>
<li><a href="#submitters numbers"></a>
<a href="<%= asset_path('submission.gif') %>"> Total Records:- </a>Total number of entries submitted</li>
<li><a href="<%= asset_path('bestguesses.gif') %>"> Distinct Records:- </a>Number of entries excluding double keyed entries</li>
<li><a href="<%= asset_path('unique.gif') %>"> Unique Records:- </a>Estimate of the number of unique entries</li>
<li><a href="<%= asset_path('doublekeyed.gif') %>"> Double-keyed Records:- </a>  Number of entries that have been double keyed
</li>
<li><a href="<%= asset_path('submitters.gif') %>">Submitters:-- </a>Current number of submitters</li>
<li><a href="<%= asset_path('nz-submitters.gif') %>">Submitters With Entries</a>:- Number of submitters who have actually submitted entries</li>
<li><a href="<%= asset_path('files.gif') %>">Files:- </a>Number of files submitted</li>
<li><a href="<%= asset_path('rate.gif') %>">Daily Rate:- </a>The average daily rate between updates</li>
</ul>

<p>See [link="/db-stats.html#explain"] here for an explanation of the different record counts.</p>

<h2 id="births">Coverage of Birth Records</h2>
<a href="<%= asset_path('births.gif') %>">All</a>
<a href="<%= asset_path('births-1837.gif') %>">1837</a>
<a href="<%= asset_path('births-1838.gif') %>">1838</a>
<a href="<%= asset_path('births-1839.gif') %>">1839</a>
<a href="<%= asset_path('births-1840.gif') %>">1840</a>
<a href="<%= asset_path('births-1841.gif') %>">1841</a>
<a href="<%= asset_path('births-1842.gif') %>">1842</a>
<a href="<%= asset_path('births-1843.gif') %>">1843</a>
<a href="<%= asset_path('births-1844.gif') %>">1844</a>
<a href="<%= asset_path('births-1845.gif') %>">1845</a>
<a href="<%= asset_path('births-1846.gif') %>">1846</a>
<a href="<%= asset_path('births-1847.gif') %>">1847</a>
<a href="<%= asset_path('births-1848.gif') %>">1848</a>
<a href="<%= asset_path('births-1849.gif') %>">1849</a>
<a href="<%= asset_path('births-1850.gif') %>">1850</a>
<a href="<%= asset_path('births-1851.gif') %>">1851</a>
<a href="<%= asset_path('births-1852.gif') %>">1852</a>
<a href="<%= asset_path('births-1853.gif') %>">1853</a>
<a href="<%= asset_path('births-1854.gif') %>">1854</a>
<a href="<%= asset_path('births-1855.gif') %>">1855</a>
<a href="<%= asset_path('births-1856.gif') %>">1856</a>
<a href="<%= asset_path('births-1857.gif') %>">1857</a>
<a href="<%= asset_path('births-1858.gif') %>">1858</a>
<a href="<%= asset_path('births-1859.gif') %>">1859</a>
<a href="<%= asset_path('births-1860.gif') %>">1860</a>
<a href="<%= asset_path('births-1861.gif') %>">1861</a>
<a href="<%= asset_path('births-1862.gif') %>">1862</a>
<a href="<%= asset_path('births-1863.gif') %>">1863</a>
<a href="<%= asset_path('births-1864.gif') %>">1864</a>
<a href="<%= asset_path('births-1865.gif') %>">1865</a>
<a href="<%= asset_path('births-1866.gif') %>">1866</a>
<a href="<%= asset_path('births-1867.gif') %>">1867</a>
<a href="<%= asset_path('births-1868.gif') %>">1868</a>
<a href="<%= asset_path('births-1869.gif') %>">1869</a>
<a href="<%= asset_path('births-1870.gif') %>">1870</a>
<a href="<%= asset_path('births-1871.gif') %>">1871</a>
<a href="<%= asset_path('births-1872.gif') %>">1872</a>
<a href="<%= asset_path('births-1873.gif') %>">1873</a>
<a href="<%= asset_path('births-1874.gif') %>">1874</a>
<a href="<%= asset_path('births-1875.gif') %>">1875</a>
<a href="<%= asset_path('births-1876.gif') %>">1876</a>
<a href="<%= asset_path('births-1877.gif') %>">1877</a>
<a href="<%= asset_path('births-1878.gif') %>">1878</a>
<a href="<%= asset_path('births-1879.gif') %>">1879</a>
<a href="<%= asset_path('births-1880.gif') %>">1880</a>
<a href="<%= asset_path('births-1881.gif') %>">1881</a>
<a href="<%= asset_path('births-1882.gif') %>">1882</a>
<a href="<%= asset_path('births-1883.gif') %>">1883</a>
<a href="<%= asset_path('births-1884.gif') %>">1884</a>
<a href="<%= asset_path('births-1885.gif') %>">1885</a>
<a href="<%= asset_path('births-1886.gif') %>">1886</a>
<a href="<%= asset_path('births-1887.gif') %>">1887</a>
<a href="<%= asset_path('births-1888.gif') %>">1888</a>
<a href="<%= asset_path('births-1889.gif') %>">1889</a>
<a href="<%= asset_path('births-1890.gif') %>">1890</a>
<a href="<%= asset_path('births-1891.gif') %>">1891</a>
<a href="<%= asset_path('births-1892.gif') %>">1892</a>
<a href="<%= asset_path('births-1893.gif') %>">1893</a>
<a href="<%= asset_path('births-1894.gif') %>">1894</a>
<a href="<%= asset_path('births-1895.gif') %>">1895</a>
<a href="<%= asset_path('births-1896.gif') %>">1896</a>
<a href="<%= asset_path('births-1897.gif') %>">1897</a>
<a href="<%= asset_path('births-1898.gif') %>">1898</a>
<a href="<%= asset_path('births-1899.gif') %>">1899</a>
<a href="<%= asset_path('births-1900.gif') %>">1900</a>
<a href="<%= asset_path('births-1901.gif') %>">1901</a>
<a href="<%= asset_path('births-1902.gif') %>">1902</a>
<a href="<%= asset_path('births-1903.gif') %>">1903</a>
<a href="<%= asset_path('births-1904.gif') %>">1904</a>
<a href="<%= asset_path('births-1905.gif') %>">1905</a>
<a href="<%= asset_path('births-1906.gif') %>">1906</a>
<a href="<%= asset_path('births-1907.gif') %>">1907</a>
<a href="<%= asset_path('births-1908.gif') %>">1908</a>
<a href="<%= asset_path('births-1909.gif') %>">1909</a>
<a href="<%= asset_path('births-1910.gif') %>">1910</a>
<a href="<%= asset_path('births-1911.gif') %>">1911</a>
<a href="<%= asset_path('births-1912.gif') %>">1912</a>
<a href="<%= asset_path('births-1913.gif') %>">1913</a>
<a href="<%= asset_path('births-1914.gif') %>">1914</a>
<a href="<%= asset_path('births-1915.gif') %>">1915</a>
<a href="<%= asset_path('births-1916.gif') %>">1916</a>
<a href="<%= asset_path('births-1917.gif') %>">1917</a>
<a href="<%= asset_path('births-1918.gif') %>">1918</a>
<a href="<%= asset_path('births-1919.gif') %>">1919</a>
<a href="<%= asset_path('births-1920.gif') %>">1920</a>
<a href="<%= asset_path('births-1921.gif') %>">1921</a>
<a href="<%= asset_path('births-1922.gif') %>">1922</a>
<a href="<%= asset_path('births-1923.gif') %>">1923</a>
<a href="<%= asset_path('births-1924.gif') %>">1924</a>
<a href="<%= asset_path('births-1925.gif') %>">1925</a>
<a href="<%= asset_path('births-1926.gif') %>">1926</a>
<a href="<%= asset_path('births-1927.gif') %>">1927</a>
<a href="<%= asset_path('births-1928.gif') %>">1928</a>
<a href="<%= asset_path('births-1929.gif') %>">1929</a>
<a href="<%= asset_path('births-1930.gif') %>">1930</a>
<a href="<%= asset_path('births-1931.gif') %>">1931</a>
<a href="<%= asset_path('births-1932.gif') %>">1932</a>
<a href="<%= asset_path('births-1933.gif') %>">1933</a>
<a href="<%= asset_path('births-1934.gif') %>">1934</a>
<a href="<%= asset_path('births-1935.gif') %>">1935</a>
<a href="<%= asset_path('births-1936.gif') %>">1936</a>
<a href="<%= asset_path('births-1937.gif') %>">1937</a>
<a href="<%= asset_path('births-1938.gif') %>">1938</a>
<a href="<%= asset_path('births-1939.gif') %>">1939</a>
<a href="<%= asset_path('births-1940.gif') %>">1940</a>
<a href="<%= asset_path('births-1941.gif') %>">1941</a>
<a href="<%= asset_path('births-1942.gif') %>">1942</a>
<a href="<%= asset_path('births-1943.gif') %>">1943</a>
<a href="<%= asset_path('births-1944.gif') %>">1944</a>
<a href="<%= asset_path('births-1945.gif') %>">1945</a>
<a href="<%= asset_path('births-1946.gif') %>">1946</a>
<a href="<%= asset_path('births-1947.gif') %>">1947</a>
<a href="<%= asset_path('births-1948.gif') %>">1948</a>
<a href="<%= asset_path('births-1949.gif') %>">1949</a>
<a href="<%= asset_path('births-1950.gif') %>">1950</a>
<a href="<%= asset_path('births-1951.gif') %>">1951</a>
<a href="<%= asset_path('births-1952.gif') %>">1952</a>
<a href="<%= asset_path('births-1953.gif') %>">1953</a>
<a href="<%= asset_path('births-1954.gif') %>">1954</a>
<a href="<%= asset_path('births-1955.gif') %>">1955</a>
<a href="<%= asset_path('births-1956.gif') %>">1956</a>
<a href="<%= asset_path('births-1957.gif') %>">1957</a>
<a href="<%= asset_path('births-1958.gif') %>">1958</a>
<a href="<%= asset_path('births-1959.gif') %>">1959</a>
<a href="<%= asset_path('births-1960.gif') %>">1960</a>
<a href="<%= asset_path('births-1961.gif') %>">1961</a>
<a href="<%= asset_path('births-1962.gif') %>">1962</a>
<a href="<%= asset_path('births-1963.gif') %>">1963</a>
<a href="<%= asset_path('births-1964.gif') %>">1964</a>
<a href="<%= asset_path('births-1965.gif') %>">1965</a>
<a href="<%= asset_path('births-1966.gif') %>">1966</a>
<a href="<%= asset_path('births-1967.gif') %>">1967</a>
<a href="<%= asset_path('births-1968.gif') %>">1968</a>
<a href="<%= asset_path('births-1969.gif') %>">1969</a>
<a href="<%= asset_path('births-1970.gif') %>">1970</a>
<a href="<%= asset_path('births-1971.gif') %>">1971</a>
<a href="<%= asset_path('births-1972.gif') %>">1972</a>
<a href="<%= asset_path('births-1973.gif') %>">1973</a>
<a href="<%= asset_path('births-1974.gif') %>">1974</a>
<a href="<%= asset_path('births-1975.gif') %>">1975</a>
<a href="<%= asset_path('births-1976.gif') %>">1976</a>
<a href="<%= asset_path('births-1977.gif') %>">1977</a>
<a href="<%= asset_path('births-1978.gif') %>">1978</a>
<a href="<%= asset_path('births-1979.gif') %>">1979</a>
<a href="<%= asset_path('births-1980.gif') %>">1980</a>
<a href="<%= asset_path('births-1981.gif') %>">1981</a>
<a href="<%= asset_path('births-1982.gif') %>">1982</a>
<a href="<%= asset_path('births-1983.gif') %>">1983</a>
<a href="<%= asset_path('births-1984.gif') %>">1984</a>
<a href="<%= asset_path('births-1985.gif') %>">1985</a>
<a href="<%= asset_path('births-1986.gif') %>">1986</a>
<a href="<%= asset_path('births-1987.gif') %>">1987</a>
<a href="<%= asset_path('births-1988.gif') %>">1988</a>
<a href="<%= asset_path('births-1989.gif') %>">1989</a>
<a href="<%= asset_path('births-1990.gif') %>">1990</a>
<a href="<%= asset_path('births-1991.gif') %>">1991</a>
<a href="<%= asset_path('births-1992.gif') %>">1992</a>
<a href="<%= asset_path('births-1993.gif') %>">1993</a>
<a href="<%= asset_path('births-1994.gif') %>">1994</a>
<a href="<%= asset_path('births-1995.gif') %>">1995</a>
<a href="<%= asset_path('births-1996.gif') %>">1996</a>
<a href="<%= asset_path('births-1997.gif') %>">1997</a>
<a href="<%= asset_path('births-1998.gif') %>">1998</a>
<a href="<%= asset_path('births-1999.gif') %>">1999</a>
<a href="<%= asset_path('births-3118.gif') %>">3118</a>
<a href="<%= asset_path('births-3276.gif') %>">3276</a>
<a href="<%= asset_path('births-3920.gif') %>">3920
</a>
<p><a href="#Top">Top of Page
</a>
</p>
<h2 id="marriages">Coverage of Marriage Records</h2>
<a href="<%= asset_path('marriages.gif') %>">All</a>
<a href="<%= asset_path('marriages-1837.gif') %>">1837</a>
<a href="<%= asset_path('marriages-1838.gif') %>">1838</a>
<a href="<%= asset_path('marriages-1839.gif') %>">1839</a>
<a href="<%= asset_path('marriages-1840.gif') %>">1840</a>
<a href="<%= asset_path('marriages-1841.gif') %>">1841</a>
<a href="<%= asset_path('marriages-1842.gif') %>">1842</a>
<a href="<%= asset_path('marriages-1843.gif') %>">1843</a>
<a href="<%= asset_path('marriages-1844.gif') %>">1844</a>
<a href="<%= asset_path('marriages-1845.gif') %>">1845</a>
<a href="<%= asset_path('marriages-1846.gif') %>">1846</a>
<a href="<%= asset_path('marriages-1847.gif') %>">1847</a>
<a href="<%= asset_path('marriages-1848.gif') %>">1848</a>
<a href="<%= asset_path('marriages-1849.gif') %>">1849</a>
<a href="<%= asset_path('marriages-1850.gif') %>">1850</a>
<a href="<%= asset_path('marriages-1851.gif') %>">1851</a>
<a href="<%= asset_path('marriages-1852.gif') %>">1852</a>
<a href="<%= asset_path('marriages-1853.gif') %>">1853</a>
<a href="<%= asset_path('marriages-1854.gif') %>">1854</a>
<a href="<%= asset_path('marriages-1855.gif') %>">1855</a>
<a href="<%= asset_path('marriages-1856.gif') %>">1856</a>
<a href="<%= asset_path('marriages-1857.gif') %>">1857</a>
<a href="<%= asset_path('marriages-1858.gif') %>">1858</a>
<a href="<%= asset_path('marriages-1859.gif') %>">1859</a>
<a href="<%= asset_path('marriages-1860.gif') %>">1860</a>
<a href="<%= asset_path('marriages-1861.gif') %>">1861</a>
<a href="<%= asset_path('marriages-1862.gif') %>">1862</a>
<a href="<%= asset_path('marriages-1863.gif') %>">1863</a>
<a href="<%= asset_path('marriages-1864.gif') %>">1864</a>
<a href="<%= asset_path('marriages-1865.gif') %>">1865</a>
<a href="<%= asset_path('marriages-1866.gif') %>">1866</a>
<a href="<%= asset_path('marriages-1867.gif') %>">1867</a>
<a href="<%= asset_path('marriages-1868.gif') %>">1868</a>
<a href="<%= asset_path('marriages-1869.gif') %>">1869</a>
<a href="<%= asset_path('marriages-1870.gif') %>">1870</a>
<a href="<%= asset_path('marriages-1871.gif') %>">1871</a>
<a href="<%= asset_path('marriages-1872.gif') %>">1872</a>
<a href="<%= asset_path('marriages-1873.gif') %>">1873</a>
<a href="<%= asset_path('marriages-1874.gif') %>">1874</a>
<a href="<%= asset_path('marriages-1875.gif') %>">1875</a>
<a href="<%= asset_path('marriages-1876.gif') %>">1876</a>
<a href="<%= asset_path('marriages-1877.gif') %>">1877</a>
<a href="<%= asset_path('marriages-1878.gif') %>">1878</a>
<a href="<%= asset_path('marriages-1879.gif') %>">1879</a>
<a href="<%= asset_path('marriages-1880.gif') %>">1880</a>
<a href="<%= asset_path('marriages-1881.gif') %>">1881</a>
<a href="<%= asset_path('marriages-1882.gif') %>">1882</a>
<a href="<%= asset_path('marriages-1883.gif') %>">1883</a>
<a href="<%= asset_path('marriages-1884.gif') %>">1884</a>
<a href="<%= asset_path('marriages-1885.gif') %>">1885</a>
<a href="<%= asset_path('marriages-1886.gif') %>">1886</a>
<a href="<%= asset_path('marriages-1887.gif') %>">1887</a>
<a href="<%= asset_path('marriages-1888.gif') %>">1888</a>
<a href="<%= asset_path('marriages-1889.gif') %>">1889</a>
<a href="<%= asset_path('marriages-1890.gif') %>">1890</a>
<a href="<%= asset_path('marriages-1891.gif') %>">1891</a>
<a href="<%= asset_path('marriages-1892.gif') %>">1892</a>
<a href="<%= asset_path('marriages-1893.gif') %>">1893</a>
<a href="<%= asset_path('marriages-1894.gif') %>">1894</a>
<a href="<%= asset_path('marriages-1895.gif') %>">1895</a>
<a href="<%= asset_path('marriages-1896.gif') %>">1896</a>
<a href="<%= asset_path('marriages-1897.gif') %>">1897</a>
<a href="<%= asset_path('marriages-1898.gif') %>">1898</a>
<a href="<%= asset_path('marriages-1899.gif') %>">1899</a>
<a href="<%= asset_path('marriages-1900.gif') %>">1900</a>
<a href="<%= asset_path('marriages-1901.gif') %>">1901</a>
<a href="<%= asset_path('marriages-1902.gif') %>">1902</a>
<a href="<%= asset_path('marriages-1903.gif') %>">1903</a>
<a href="<%= asset_path('marriages-1904.gif') %>">1904</a>
<a href="<%= asset_path('marriages-1905.gif') %>">1905</a>
<a href="<%= asset_path('marriages-1906.gif') %>">1906</a>
<a href="<%= asset_path('marriages-1907.gif') %>">1907</a>
<a href="<%= asset_path('marriages-1908.gif') %>">1908</a>
<a href="<%= asset_path('marriages-1909.gif') %>">1909</a>
<a href="<%= asset_path('marriages-1910.gif') %>">1910</a>
<a href="<%= asset_path('marriages-1911.gif') %>">1911</a>
<a href="<%= asset_path('marriages-1912.gif') %>">1912</a>
<a href="<%= asset_path('marriages-1913.gif') %>">1913</a>
<a href="<%= asset_path('marriages-1914.gif') %>">1914</a>
<a href="<%= asset_path('marriages-1915.gif') %>">1915</a>
<a href="<%= asset_path('marriages-1916.gif') %>">1916</a>
<a href="<%= asset_path('marriages-1917.gif') %>">1917</a>
<a href="<%= asset_path('marriages-1918.gif') %>">1918</a>
<a href="<%= asset_path('marriages-1919.gif') %>">1919</a>
<a href="<%= asset_path('marriages-1920.gif') %>">1920</a>
<a href="<%= asset_path('marriages-1921.gif') %>">1921</a>
<a href="<%= asset_path('marriages-1922.gif') %>">1922</a>
<a href="<%= asset_path('marriages-1923.gif') %>">1923</a>
<a href="<%= asset_path('marriages-1924.gif') %>">1924</a>
<a href="<%= asset_path('marriages-1925.gif') %>">1925</a>
<a href="<%= asset_path('marriages-1926.gif') %>">1926</a>
<a href="<%= asset_path('marriages-1927.gif') %>">1927</a>
<a href="<%= asset_path('marriages-1928.gif') %>">1928</a>
<a href="<%= asset_path('marriages-1929.gif') %>">1929</a>
<a href="<%= asset_path('marriages-1930.gif') %>">1930</a>
<a href="<%= asset_path('marriages-1931.gif') %>">1931</a>
<a href="<%= asset_path('marriages-1932.gif') %>">1932</a>
<a href="<%= asset_path('marriages-1933.gif') %>">1933</a>
<a href="<%= asset_path('marriages-1934.gif') %>">1934</a>
<a href="<%= asset_path('marriages-1935.gif') %>">1935</a>
<a href="<%= asset_path('marriages-1936.gif') %>">1936</a>
<a href="<%= asset_path('marriages-1937.gif') %>">1937</a>
<a href="<%= asset_path('marriages-1938.gif') %>">1938</a>
<a href="<%= asset_path('marriages-1939.gif') %>">1939</a>
<a href="<%= asset_path('marriages-1940.gif') %>">1940</a>
<a href="<%= asset_path('marriages-1941.gif') %>">1941</a>
<a href="<%= asset_path('marriages-1942.gif') %>">1942</a>
<a href="<%= asset_path('marriages-1943.gif') %>">1943</a>
<a href="<%= asset_path('marriages-1944.gif') %>">1944</a>
<a href="<%= asset_path('marriages-1945.gif') %>">1945</a>
<a href="<%= asset_path('marriages-1946.gif') %>">1946</a>
<a href="<%= asset_path('marriages-1947.gif') %>">1947</a>
<a href="<%= asset_path('marriages-1948.gif') %>">1948</a>
<a href="<%= asset_path('marriages-1949.gif') %>">1949</a>
<a href="<%= asset_path('marriages-1950.gif') %>">1950</a>
<a href="<%= asset_path('marriages-1951.gif') %>">1951</a>
<a href="<%= asset_path('marriages-1952.gif') %>">1952</a>
<a href="<%= asset_path('marriages-1953.gif') %>">1953</a>
<a href="<%= asset_path('marriages-1954.gif') %>">1954</a>
<a href="<%= asset_path('marriages-1955.gif') %>">1955</a>
<a href="<%= asset_path('marriages-1956.gif') %>">1956</a>
<a href="<%= asset_path('marriages-1957.gif') %>">1957</a>
<a href="<%= asset_path('marriages-1958.gif') %>">1958</a>
<a href="<%= asset_path('marriages-1959.gif') %>">1959</a>
<a href="<%= asset_path('marriages-1960.gif') %>">1960</a>
<a href="<%= asset_path('marriages-1961.gif') %>">1961</a>
<a href="<%= asset_path('marriages-1962.gif') %>">1962</a>
<a href="<%= asset_path('marriages-1963.gif') %>">1963</a>
<a href="<%= asset_path('marriages-1964.gif') %>">1964</a>
<a href="<%= asset_path('marriages-1965.gif') %>">1965</a>
<a href="<%= asset_path('marriages-1966.gif') %>">1966</a>
<a href="<%= asset_path('marriages-1967.gif') %>">1967</a>
<a href="<%= asset_path('marriages-1968.gif') %>">1968</a>
<a href="<%= asset_path('marriages-1969.gif') %>">1969</a>
<a href="<%= asset_path('marriages-1970.gif') %>">1970</a>
<a href="<%= asset_path('marriages-1971.gif') %>">1971</a>
<a href="<%= asset_path('marriages-1972.gif') %>">1972</a>
<a href="<%= asset_path('marriages-1973.gif') %>">1973</a>
<a href="<%= asset_path('marriages-1974.gif') %>">1974</a>
<a href="<%= asset_path('marriages-1975.gif') %>">1975</a>
<a href="<%= asset_path('marriages-1976.gif') %>">1976</a>
<a href="<%= asset_path('marriages-1977.gif') %>">1977</a>
<a href="<%= asset_path('marriages-1978.gif') %>">1978</a>
<a href="<%= asset_path('marriages-1979.gif') %>">1979</a>
<a href="<%= asset_path('marriages-1980.gif') %>">1980</a>
<a href="<%= asset_path('marriages-1981.gif') %>">1981</a>
<a href="<%= asset_path('marriages-1982.gif') %>">1982</a>
<a href="<%= asset_path('marriages-1983.gif') %>">1983</a>
<a href="<%= asset_path('marriages-1984.gif') %>">1984</a>
<a href="<%= asset_path('marriages-1985.gif') %>">1985</a>
<a href="<%= asset_path('marriages-1986.gif') %>">1986</a>
<a href="<%= asset_path('marriages-1987.gif') %>">1987</a>
<a href="<%= asset_path('marriages-1988.gif') %>">1988</a>
<a href="<%= asset_path('marriages-1989.gif') %>">1989</a>
<a href="<%= asset_path('marriages-1990.gif') %>">1990</a>
<a href="<%= asset_path('marriages-1991.gif') %>">1991</a>
<a href="<%= asset_path('marriages-1992.gif') %>">1992</a>
<a href="<%= asset_path('marriages-1994.gif') %>">1994</a>
<a href="<%= asset_path('marriages-1998.gif') %>">1998
</a>
<p><a href="#Top">Top of Page
</a>
</p>
<h2 id="deaths">Coverage of Death Records</h2>
<a href="<%= asset_path('deaths.gif') %>">All</a>
<a href="<%= asset_path('deaths-1837.gif') %>">1837</a>
<a href="<%= asset_path('deaths-1838.gif') %>">1838</a>
<a href="<%= asset_path('deaths-1839.gif') %>">1839</a>
<a href="<%= asset_path('deaths-1840.gif') %>">1840</a>
<a href="<%= asset_path('deaths-1841.gif') %>">1841</a>
<a href="<%= asset_path('deaths-1842.gif') %>">1842</a>
<a href="<%= asset_path('deaths-1843.gif') %>">1843</a>
<a href="<%= asset_path('deaths-1844.gif') %>">1844</a>
<a href="<%= asset_path('deaths-1845.gif') %>">1845</a>
<a href="<%= asset_path('deaths-1846.gif') %>">1846</a>
<a href="<%= asset_path('deaths-1847.gif') %>">1847</a>
<a href="<%= asset_path('deaths-1848.gif') %>">1848</a>
<a href="<%= asset_path('deaths-1849.gif') %>">1849</a>
<a href="<%= asset_path('deaths-1850.gif') %>">1850</a>
<a href="<%= asset_path('deaths-1851.gif') %>">1851</a>
<a href="<%= asset_path('deaths-1852.gif') %>">1852</a>
<a href="<%= asset_path('deaths-1853.gif') %>">1853</a>
<a href="<%= asset_path('deaths-1854.gif') %>">1854</a>
<a href="<%= asset_path('deaths-1855.gif') %>">1855</a>
<a href="<%= asset_path('deaths-1856.gif') %>">1856</a>
<a href="<%= asset_path('deaths-1857.gif') %>">1857</a>
<a href="<%= asset_path('deaths-1858.gif') %>">1858</a>
<a href="<%= asset_path('deaths-1859.gif') %>">1859</a>
<a href="<%= asset_path('deaths-1860.gif') %>">1860</a>
<a href="<%= asset_path('deaths-1861.gif') %>">1861</a>
<a href="<%= asset_path('deaths-1862.gif') %>">1862</a>
<a href="<%= asset_path('deaths-1863.gif') %>">1863</a>
<a href="<%= asset_path('deaths-1864.gif') %>">1864</a>
<a href="<%= asset_path('deaths-1865.gif') %>">1865</a>
<a href="<%= asset_path('deaths-1866.gif') %>">1866</a>
<a href="<%= asset_path('deaths-1867.gif') %>">1867</a>
<a href="<%= asset_path('deaths-1868.gif') %>">1868</a>
<a href="<%= asset_path('deaths-1869.gif') %>">1869</a>
<a href="<%= asset_path('deaths-1870.gif') %>">1870</a>
<a href="<%= asset_path('deaths-1871.gif') %>">1871</a>
<a href="<%= asset_path('deaths-1872.gif') %>">1872</a>
<a href="<%= asset_path('deaths-1873.gif') %>">1873</a>
<a href="<%= asset_path('deaths-1874.gif') %>">1874</a>
<a href="<%= asset_path('deaths-1875.gif') %>">1875</a>
<a href="<%= asset_path('deaths-1876.gif') %>">1876</a>
<a href="<%= asset_path('deaths-1877.gif') %>">1877</a>
<a href="<%= asset_path('deaths-1878.gif') %>">1878</a>
<a href="<%= asset_path('deaths-1879.gif') %>">1879</a>
<a href="<%= asset_path('deaths-1880.gif') %>">1880</a>
<a href="<%= asset_path('deaths-1881.gif') %>">1881</a>
<a href="<%= asset_path('deaths-1882.gif') %>">1882</a>
<a href="<%= asset_path('deaths-1883.gif') %>">1883</a>
<a href="<%= asset_path('deaths-1884.gif') %>">1884</a>
<a href="<%= asset_path('deaths-1885.gif') %>">1885</a>
<a href="<%= asset_path('deaths-1886.gif') %>">1886</a>
<a href="<%= asset_path('deaths-1887.gif') %>">1887</a>
<a href="<%= asset_path('deaths-1888.gif') %>">1888</a>
<a href="<%= asset_path('deaths-1889.gif') %>">1889</a>
<a href="<%= asset_path('deaths-1890.gif') %>">1890</a>
<a href="<%= asset_path('deaths-1891.gif') %>">1891</a>
<a href="<%= asset_path('deaths-1892.gif') %>">1892</a>
<a href="<%= asset_path('deaths-1893.gif') %>">1893</a>
<a href="<%= asset_path('deaths-1894.gif') %>">1894</a>
<a href="<%= asset_path('deaths-1895.gif') %>">1895</a>
<a href="<%= asset_path('deaths-1896.gif') %>">1896</a>
<a href="<%= asset_path('deaths-1897.gif') %>">1897</a>
<a href="<%= asset_path('deaths-1898.gif') %>">1898</a>
<a href="<%= asset_path('deaths-1899.gif') %>">1899</a>
<a href="<%= asset_path('deaths-1900.gif') %>">1900</a>
<a href="<%= asset_path('deaths-1901.gif') %>">1901</a>
<a href="<%= asset_path('deaths-1902.gif') %>">1902</a>
<a href="<%= asset_path('deaths-1903.gif') %>">1903</a>
<a href="<%= asset_path('deaths-1904.gif') %>">1904</a>
<a href="<%= asset_path('deaths-1905.gif') %>">1905</a>
<a href="<%= asset_path('deaths-1906.gif') %>">1906</a>
<a href="<%= asset_path('deaths-1907.gif') %>">1907</a>
<a href="<%= asset_path('deaths-1908.gif') %>">1908</a>
<a href="<%= asset_path('deaths-1909.gif') %>">1909</a>
<a href="<%= asset_path('deaths-1910.gif') %>">1910</a>
<a href="<%= asset_path('deaths-1911.gif') %>">1911</a>
<a href="<%= asset_path('deaths-1912.gif') %>">1912</a>
<a href="<%= asset_path('deaths-1913.gif') %>">1913</a>
<a href="<%= asset_path('deaths-1914.gif') %>">1914</a>
<a href="<%= asset_path('deaths-1915.gif') %>">1915</a>
<a href="<%= asset_path('deaths-1916.gif') %>">1916</a>
<a href="<%= asset_path('deaths-1917.gif') %>">1917</a>
<a href="<%= asset_path('deaths-1918.gif') %>">1918</a>
<a href="<%= asset_path('deaths-1919.gif') %>">1919</a>
<a href="<%= asset_path('deaths-1920.gif') %>">1920</a>
<a href="<%= asset_path('deaths-1921.gif') %>">1921</a>
<a href="<%= asset_path('deaths-1922.gif') %>">1922</a>
<a href="<%= asset_path('deaths-1923.gif') %>">1923</a>
<a href="<%= asset_path('deaths-1924.gif') %>">1924</a>
<a href="<%= asset_path('deaths-1925.gif') %>">1925</a>
<a href="<%= asset_path('deaths-1926.gif') %>">1926</a>
<a href="<%= asset_path('deaths-1927.gif') %>">1927</a>
<a href="<%= asset_path('deaths-1928.gif') %>">1928</a>
<a href="<%= asset_path('deaths-1929.gif') %>">1929</a>
<a href="<%= asset_path('deaths-1930.gif') %>">1930</a>
<a href="<%= asset_path('deaths-1931.gif') %>">1931</a>
<a href="<%= asset_path('deaths-1932.gif') %>">1932</a>
<a href="<%= asset_path('deaths-1933.gif') %>">1933</a>
<a href="<%= asset_path('deaths-1934.gif') %>">1934</a>
<a href="<%= asset_path('deaths-1935.gif') %>">1935</a>
<a href="<%= asset_path('deaths-1936.gif') %>">1936</a>
<a href="<%= asset_path('deaths-1937.gif') %>">1937</a>
<a href="<%= asset_path('deaths-1938.gif') %>">1938</a>
<a href="<%= asset_path('deaths-1939.gif') %>">1939</a>
<a href="<%= asset_path('deaths-1940.gif') %>">1940</a>
<a href="<%= asset_path('deaths-1941.gif') %>">1941</a>
<a href="<%= asset_path('deaths-1942.gif') %>">1942</a>
<a href="<%= asset_path('deaths-1943.gif') %>">1943</a>
<a href="<%= asset_path('deaths-1944.gif') %>">1944</a>
<a href="<%= asset_path('deaths-1945.gif') %>">1945</a>
<a href="<%= asset_path('deaths-1946.gif') %>">1946</a>
<a href="<%= asset_path('deaths-1947.gif') %>">1947</a>
<a href="<%= asset_path('deaths-1948.gif') %>">1948</a>
<a href="<%= asset_path('deaths-1949.gif') %>">1949</a>
<a href="<%= asset_path('deaths-1950.gif') %>">1950</a>
<a href="<%= asset_path('deaths-1951.gif') %>">1951</a>
<a href="<%= asset_path('deaths-1952.gif') %>">1952</a>
<a href="<%= asset_path('deaths-1953.gif') %>">1953</a>
<a href="<%= asset_path('deaths-1954.gif') %>">1954</a>
<a href="<%= asset_path('deaths-1955.gif') %>">1955</a>
<a href="<%= asset_path('deaths-1956.gif') %>">1956</a>
<a href="<%= asset_path('deaths-1957.gif') %>">1957</a>
<a href="<%= asset_path('deaths-1958.gif') %>">1958</a>
<a href="<%= asset_path('deaths-1959.gif') %>">1959</a>
<a href="<%= asset_path('deaths-1960.gif') %>">1960</a>
<a href="<%= asset_path('deaths-1961.gif') %>">1961</a>
<a href="<%= asset_path('deaths-1962.gif') %>">1962</a>
<a href="<%= asset_path('deaths-1963.gif') %>">1963</a>
<a href="<%= asset_path('deaths-1964.gif') %>">1964</a>
<a href="<%= asset_path('deaths-1965.gif') %>">1965</a>
<a href="<%= asset_path('deaths-1966.gif') %>">1966</a>
<a href="<%= asset_path('deaths-1967.gif') %>">1967</a>
<a href="<%= asset_path('deaths-1968.gif') %>">1968</a>
<a href="<%= asset_path('deaths-1969.gif') %>">1969</a>
<a href="<%= asset_path('deaths-1970.gif') %>">1970</a>
<a href="<%= asset_path('deaths-1971.gif') %>">1971</a>
<a href="<%= asset_path('deaths-1972.gif') %>">1972</a>
<a href="<%= asset_path('deaths-1973.gif') %>">1973</a>
<a href="<%= asset_path('deaths-1974.gif') %>">1974</a>
<a href="<%= asset_path('deaths-1975.gif') %>">1975</a>
<a href="<%= asset_path('deaths-1976.gif') %>">1976</a>
<a href="<%= asset_path('deaths-1977.gif') %>">1977</a>
<a href="<%= asset_path('deaths-1978.gif') %>">1978</a>
<a href="<%= asset_path('deaths-1979.gif') %>">1979</a>
<a href="<%= asset_path('deaths-1980.gif') %>">1980</a>
<a href="<%= asset_path('deaths-1981.gif') %>">1981</a>
<a href="<%= asset_path('deaths-1982.gif') %>">1982</a>
<a href="<%= asset_path('deaths-1983.gif') %>">1983</a>
<a href="<%= asset_path('deaths-1984.gif') %>">1984</a>
<a href="<%= asset_path('deaths-1985.gif') %>">1985</a>
<a href="<%= asset_path('deaths-1986.gif') %>">1986</a>
<a href="<%= asset_path('deaths-1987.gif') %>">1987</a>
<a href="<%= asset_path('deaths-1988.gif') %>">1988</a>
<a href="<%= asset_path('deaths-1989.gif') %>">1989</a>
<a href="<%= asset_path('deaths-1990.gif') %>">1990</a>
<a href="<%= asset_path('deaths-1991.gif') %>">1991</a>
<a href="<%= asset_path('deaths-1992.gif') %>">1992</a>
<a href="<%= asset_path('deaths-1994.gif') %>">1994</a>