<b><%= @first_name%> you are asking to review a specific batch in <%=@county%></b>
<% if flash[:notice] %>
    <div id="notice" style="color:red"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  
 <%= semantic_form_for @manage_county do |f| %>
  <%= f.input :action, { :as => :select, :include_blank => false,  :label => @prompt, :required => false, :collection => @options,:width => 10 ,:input_html => {'onchange' => @location} }%></div> 
<% end %> 


          
  







