<% case controller.action_name %>
<% when 'manage_image_group' %>
<p>
  <h3 style="text-align: center">All Image Groups for County <%= @county %>.</h3>
</p>
<% when 'sort_image_group_by_place' %>
<p>
  <h3 style="text-align: center">Image Groups Allocated by Place for County <%= @county %>.</h3>
</p>
<% when 'sort_image_group_by_syndicate' %>
<p>
  <h3 style="text-align: center">Image Groups Allocated by Syndicate for County <%= @county %>.</h3>
</p>
<% when 'manage_unallocated_image_group' %>
<p>
  <h3 style="text-align: center">Unallocated Image Groups for County <%= @county %>.</h3>
</p>
<% when 'manage_allocate_request_image_group' %>
<p>
  <h3 style="text-align: center">Allocate Request Image Groups for County <%= @county %>.</h3>
</p>
<% when 'manage_completion_submitted_image_group' %>
<p>
  <h3 style="text-align: center">Completion Submitted Image Groups for County <%= @county %>.</h3>
</p>
<% when 'manage_sources' %>
<p>
  <h3 style="text-align: center">All Image Sources for County <%= @county %>.</h3>
</p>
<% when 'uninitialized_source_list' %>
<p>
  <h3 style="text-align: center">Uninitialized Image Sources for County <%= @county %>.</h3>
</p>
<% when 'offline_reports' %>
<p>
  <h3 style="text-align: center">Offline Reports for County <%= @county %>.</h3>
</p>
<% end %>