<% breadcrumb :show_countysources,  @county%>
<p><h3 style="text-align: center">All Sources for County <%= @county %>.</h3></p>

<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>

<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead >
      <tr>
        <th class="t15">Place <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
          <span> The names and their locations are defined by the Association of British Counties (http://www.gazetteer.org.uk/).</span></a></th>
        <th  class="t15">Churches <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
            <span>There can be multiple churches or organizations for which records have been transcribed in a specific place.</span></a></th>
        <th class="t15">Registers <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
              <span>A church can have multiple registers. A register can be: Parish Register; Archdeacon's Transcripts; Bishop's Transcripts; Phillimore's Transcripts (Made from a parish register); Extract of the Parish Registers (Incomplete set of records); Dwelly's Transcript (Made from a parish register); Other Register (Original document); Transcript (Another persons transcription); Unknown; or Unspecified.</span></a></th>
        <th class="t15">Image Sources <a href="#" class="left_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
              <span>A register can have multiple sources.</span></a></th>
        <th class="t15">Image Groups <a href="#" class="left_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
              <span>A Source can have multiple groups.</span></a></th>
        <th class="t15">Syndicate</th>
        <th class="t15">Assign Date</th>
      </tr>
    </thead>
  </table>
    <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody >
        <% place_rows, church_rows, register_rows, source_rows = 0, 0, 0, 0 %>
        <% @g_id.each do |gid, place_name, church_name, register_type, source_name, group_name, syndicate, assign_date| %>
          <% if source_rows <= 0 %>
            <% if register_rows <= 0 %>
              <% if church_rows <= 0 %>
                <% if place_rows <= 0 %>
                  <% place_rows = @group_id[place_name].count %>
                  <% church_rows = @group_id[place_name][church_name].count %>
                  <% register_rows = @group_id[place_name][church_name][register_type].count %>
                  <% source_rows = @group_id[place_name][church_name][register_type][source_name].count %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if place_rows == @group_id[place_name].count %>
            <tr><td class="t15"><%= link_to(place_name, place_path(@place_id.key(place_name))) %></td>
          <% else %>
            <tr><td class="t15">&nbsp;</td>
          <% end %>

          <% if church_rows == @group_id[place_name][church_name].count || place_rows > 0 %>
            <td class="t15"><%= link_to(church_name, church_path(@church.select {|x| x[2] == church_name}[0][0])) %></td>
          <% else %>
            <td class="t15">&nbsp;</td>
          <% end %>

          <% registertype = RegisterType.display_name(register_type) %>
          <% if register_rows == @group_id[place_name][church_name][register_type].count || church_rows > 0 || place_rows > 0 %>
            <td class="t15"><%= link_to(registertype, register_path(@register.select {|x| x[2] == register_type}[0][0])) %></td>
          <% else %>
            <td class="t15">&nbsp;</td>
          <% end %>

          <% if source_rows == @group_id[place_name][church_name][register_type][source_name].count || register_rows > 0 || church_rows > 0 || place_rows > 0 %>
            <td class="t15"><%= link_to(source_name,source_path(@source.select {|x| x[2] == source_name}[0][0])) %></td>
          <% else %>
            <td class="t15">&nbsp;</td>
          <% end %>

          <td class="t15"><%= link_to(group_name, image_server_group_path(gid)) %></td>
          <td class="t15"><%= syndicate %>&nbsp;</td>
          <td class="t15"><%= assign_date %>&nbsp;</td></tr>

          <% place_rows = place_rows - 1 unless place_rows <= 0 %>
          <% church_rows = church_rows - 1 unless church_rows <= 0 %>
          <% register_rows = register_rows - 1  unless register_rows <= 0 %>
          <% source_rows = source_rows - 1 unless source_rows <= 0 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>