<% breadcrumb :sort_countysource_by_place, @county, @place %>
<p><h3 style="text-align: center">Image Groups Allocated by Place for County <%= @county %>.</h3></p>

<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>

<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead >
      <tr>
        <th class="t12">Place <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
          <span> The names and their locations are defined by the Association of British Counties (http://www.gazetteer.org.uk/).</span></a></th>
        <th  class="t12">Churches <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
            <span>There can be multiple churches or organizations for which records have been transcribed in a specific place.</span></a></th>
        <th class="t12">Registers <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
              <span>A church can have multiple registers. A register can be: Parish Register; Archdeacon's Transcripts; Bishop's Transcripts; Phillimore's Transcripts (Made from a parish register); Extract of the Parish Registers (Incomplete set of records); Dwelly's Transcript (Made from a parish register); Other Register (Original document); Transcript (Another persons transcription); Unknown; or Unspecified.</span></a></th>
        <th class="t12">Sources <a href="#" class="left_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
              <span>A register can have multiple sources.</span></a></th>
        <th class="t20">Image Groups <a href="#" class="left_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %>
              <span>A Source can have multiple groups.</span></a></th>
        <th class="t5">Image Number</th>
        <th class="t12">Syndicate</th>
        <th class="t12">Assign Date</th>
      </tr>
    </thead>
  </table>

  <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody >
        <% place_rows, church_rows, register_rows, source_rows = 0,0,0,0 %>
        <% @group_ids.each do |gid,place_name,church_name,register_type,source_name,group_name,syndicate,assign_date,number_of_images| %>
          <% if source_rows == 0 %>
            <% source_rows = @group_id[place_name][church_name][register_type][source_name].count %>
            <% if register_rows == 0 %>
              <% register_rows = @group_id[place_name][church_name][register_type].count %>
              <% if church_rows == 0 %>
                <% church_rows = @group_id[place_name][church_name].count %>
                <% if place_rows == 0 %>
                  <% place_rows = @group_id[place_name].count %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if source_rows == @group_id[place_name][church_name][register_type][source_name].count && register_rows == @group_id[place_name][church_name][register_type].count && church_rows == @group_id[place_name][church_name].count && place_rows == @group_id[place_name].count %>
            <tr><td class="t12"><%= place_name %></td>
          <% else %>
            <tr><td class="t12">&nbsp;</td>
          <% end %>

          <% if source_rows == @group_id[place_name][church_name][register_type][source_name].count && register_rows == @group_id[place_name][church_name][register_type].count && church_rows == @group_id[place_name][church_name].count %>
            <td class="t12"><%= church_name %></td>
          <% else %>
            <td class="t12">&nbsp;</td>
          <% end %>

          <% registertype = RegisterType.display_name(register_type) %>
          <% if source_rows == @group_id[place_name][church_name][register_type][source_name].count && register_rows == @group_id[place_name][church_name][register_type].count %>
            <td class="t12"><%= registertype %></td>
          <% else %>
            <td class="t12">&nbsp;</td>
          <% end %>

          <% if source_rows == @group_id[place_name][church_name][register_type][source_name].count %>
            <% if session[:manage_user_origin] == 'manage_county' %>
              <td class="t12"><%= link_to(source_name,source_path(@source.select {|x| x[2] == source_name}[0][0])) %>&nbsp;</td>
            <% else %>
              <td class="t12"><%= source_name %></td>
            <% end %>
          <% else %>
            <td class="t12">&nbsp;</td>
          <% end %>

          <td class="t20"><%= link_to(group_name, image_server_group_path(gid, :ig_allocation=>'by_place')) %>&nbsp;</td>
          <td class="t10"><center><%= number_of_images %></center>&nbsp;</td>
          <td class="t12"><%= syndicate %>&nbsp;</td>
          <% if assign_date.nil? %>
            <td class="t12">&nbsp;</td></tr>
          <% else %>
            <td class="t12"><%= assign_date.to_time.strftime('%Y-%m-%d') %>&nbsp;</td></tr>
          <% end %>

          <% source_rows = source_rows - 1 unless source_rows == 0 %>
          <% if source_rows == 0 %>
            <% register_rows = register_rows - 1  unless register_rows == 0 %>
          <% end %>
          <% if register_rows == 0 %>
            <% church_rows = church_rows - 1 unless church_rows == 0 %>
          <% end %>
          <% if church_rows == 0 %>
            <% place_rows = place_rows - 1 unless place_rows == 0 %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
