<% breadcrumb :county_manage_images,  @county, @browse_source %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>

<div style="text-align: center">  
  <%= link_to 'Image Groups Allocated by Syndicate', sort_image_group_by_syndicate_path, method: :get, :class => "btn weight--light btn--small" %> 
  <%= link_to 'Image Groups Allocated by Place', sort_image_group_by_place_path, method: :get, :class => "btn weight--light btn--small" %> 
  <%= link_to 'List All Image Groups', manage_image_group_manage_county_path, method: :get, :class => "btn weight--light btn--small" %>
  <%= link_to 'List Unallocated Image Groups', manage_unallocated_image_group_manage_county_path, method: :get, :class => "btn weight--light btn--small" %>
  <%= link_to 'List Allocate Request Image Groups', manage_allocate_request_image_group_manage_county_path, method: :get, :class => "btn weight--light btn--small" %>
  <%= link_to 'List Completion Submitted Allocations', manage_completion_submitted_image_group_manage_county_path, method: :get, :class => "btn weight--light btn--small" %>
  <%= link_to 'List Uninitialized Sources', uninitialized_source_list_path, method: :get, :class => "btn weight--light btn--small" %>
  <% if session[:manage_user_origin] == 'manage county' %>
    <%= link_to 'Access Image Server Directly', access_image_server_source_path, method: :get, :class => "btn weight--light btn--small" ,:target => '_blank' %>
  <% end %>
  
</div>


<div style="clear:both;"> </div><br>
<%= render :partial=>'sources_index', :locals=>{:image_group_filter=>''} %>
