<% breadcrumb :edit_embargo_rule, @county, @place, @church, @register, @rule%>
<h2 class="text--center"> Edit Embargo Rule for <b><%= @register_type %></b> register for <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b></h2>
<%= render 'form' %>