<% breadcrumb :show_embargo_rule, @county, @place, @church, @register, @rule%>
<h2 class="text--center"> Embargo Rule for <b><%= @register_type %></b> register for <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b></h2>
<%= render 'flash_notice' %>
<div  class="text--center">  
  <%= link_to 'Edit Embargo Rule', edit_embargo_rule_path(@rule,county: @county, place: @place, church: @church, register: @register), method: :get, :class => "btn btn--small" %>     
  <%= link_to 'Create Embargo Rule', new_embargo_rule_path(county: @county, place: @place, church: @church, register: @register) , method: :get, :class => "btn btn--small" %>
  <%= link_to 'Process Embargo', process_embargo_rule_path(register: @register) , method: :get, :class => "btn btn--small" %>
</div>
<div class="grid__item  ">
  <table class=" table--bordered table--data">
    <colgroup >
      <col class="t40">
      <col class="t60">
    </colgroup>
    <tr>
      <th class="caps">Field</th>
      <th class="caps">Value</th>
    </tr>
    <tr>
      <td>Record Type :</td>
      <td class="weight--semibold"><%= @rule.record_type %></td>
    </tr>
    <tr>
      <td>Embargo Rule :</td>
      <td class="weight--semibold"><%= @rule.rule %></td>
    </tr>
    <tr>
      <td>Period or end year :</td>
      <td class="weight--semibold"><%= @rule.period %></td>
    </tr>
    <tr>
      <td>Entity that required the rule :</td>
      <td class="weight--semibold"><%= @rule.authority %></td>
    </tr>
    <tr>
      <td>Reason for imposition :</td>
      <td class="weight--semibold"><%= @rule.reason %></td>
    </tr>
    <tr>
      <td>Member who created/edited :</td>
      <td class="weight--semibold"><%= user(@rule.member_who_created) %></td>
    </tr>
    <tr>
      <td>Updated :</td>
      <td class="weight--semibold"><%= @rule.updated_at.strftime("%d %b %Y") %></td>
    </tr>
    <tr>
      <td>Created :</td>
      <td class="weight--semibold"><%= @rule.created_at.strftime("%d %b %Y") %></td>
    </tr>
  </table>
</div>