<div class="island  island--light">
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  
<%= simple_form_for @batch, :html => { :class => "grid"}  do |f| %>
<%= f.input :userid,:label => "Select the Userid",:include_blank => false,
          :required => true, :collection => @users,:input_html => {  :class => "simple_form_bgcolour simple_form_position",:size => 10 } %>
<%= f.input :type, :label => "Select the type of display",:include_blank => false,
          :required => true, :collection => ["All","Not Processed","Processed but no files","Processed but no file in FR1", "Processed but no file in FR2"] ,:input_html => {  :class => " simple_form_bgcolour simple_form_position",:size => 4 }%>

<%= f.button :submit, 'Select'   %>
<% end %>
</div>
 