<% breadcrumb :physical_files%>
<h2 style="text-align: center">Listing of physical files <%= @sorted_by%> for <%= @person %></h2>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
	<%= flash[:notice] %> <br>
</div>
<% end %>
<p>
	<div id="main" style="color:black">
		<%= paginate @batches %>
		<table  class="table--bordered  table--data">
			<tr >
				<th>Userid</th>
				<th >File Name</th>
				<th >loaded into FR2</th>
				<th> Copied from FR1 </th>
				<th >Last Processed into Database</th>
        <th >Waiting Date</th>
				<th >Process file</th>
				<th >Delete File and Entries</th>
			</tr>
			<% if @batches.nil? %>
			 <p style="text-align: center">There are no files waiting to be processed</p>
			<% else %>
			<% @batches.each do |batch| %>
			<tr id="<%=batch.id%>">
				<td > <%= batch.userid  %>  </td>
				<% if @sorted_by == '(Processed but no file)' || @sorted_by == 'processed but no file' %>
				<td>  <%= link_to batch.file_name , freereg1_csv_file_path(Freereg1CsvFile.where(:userid =>batch.userid, :file_name => batch.file_name).first.id) %> </td>
				<% else %>
				<td > <%= batch.file_name  %>  </td>
				<% end %>
				<td > <%= batch.base_uploaded_date.strftime("%d %b %Y") if batch.base && !batch.base_uploaded_date.nil? %>  </td>
				<td > <%= batch.change_uploaded_date.strftime("%d %b %Y") if batch.change && !batch.change_uploaded_date.nil? %>  </td>
				<td > <%= batch.file_processed_date.strftime("%d %b %Y") if batch.file_processed && !batch.file_processed_date.nil?%>  </td>
        <td > <%= batch.waiting_date.strftime("%d %b %Y") if batch.waiting_to_be_processed && !batch.waiting_date.nil?%>  </td>
				<td><%= link_to 'FR1', submit_for_processing_physical_file_path(batch,   :params=> {:loc => "change"})  ,method: :get  %>
				<%= link_to 'FR2', submit_for_processing_physical_file_path(batch,   :params=> {:loc => "base"})  ,method: :get  %></td>
				<td><%= link_to 'Delete', physical_file_path(batch), data: { confirm: 'Are you absolutely sure? This may take a few minutes if we have to delete entries and search records as well' }, method: :delete %></td>      </tr>
				<% end %>
				<% end %>
			</table>
		</div>