<%= render 'flash_notice' %>
<div id = "csvdownload">
  <%= form_for(:upload_report, url: upload_report_physical_file_path, method: :get) do |f| %>
    <fieldset class="inputs">
      <legend>Select timeframe for the report</legend>
      <p ></p>
      <ol class="grid">
        <li class="grid__item one-third palm-one-whole">
          <%= f.label :period_from, "Start Date: " %>
          <%= f.date_field :period_from, value: @start_date,min: '2020-01-01', max: Date.today %>
        </li>
        <li class="grid__item one-third palm-one-whole">
          <%= f.label :period_to, "End Date: " %>
          <%= f.date_field :period_to, value: @end_date,max: Date.today, min: '2020-01-01' %>
        </li>
            <%= f.submit 'Update', :class => "btn   btn--small", title: 'Update timeframe of the report',data: { disable_with: false } %>
          </fieldset>
        <% end %>
      </div>
<table>
  <tr>
    <th>Time Perod</th>
    <th>Roles</th>
    <th>Upload Count</th>
  </tr>
  <% @uploaders_count.each do |u| %>
    <tr>
      <td><%= "#{@start_date.to_date.strftime("%B, %d, %Y")} - #{@end_date.to_date.strftime("%B, %d, %Y")}" %></td>
      <td>
          <%= u[0] %>
      </td>
      <td><%= u[1] %></td>
    </tr>
  <% end %>
</table>