<%= render 'flash_notice' %>
<div id = "csvdownload">
  <%= form_for(:upload_report, url: upload_report_physical_file_path, method: :get) do |f| %>
    <fieldset class="inputs">
      <legend>Select timeframe for the report</legend>
      <p ></p>
      <ol class="grid">
        <li class="grid__item one-third palm-one-whole">
          <%= f.label :period_from, "Start Date: " %>
          <%= f.date_field :period_from, value: @start_date.strftime('%F'),min: '2020-01-01', max: Date.today %>
        </li>
        <li class="grid__item one-third palm-one-whole">
          <%= f.label :period_to, "End Date: " %>
          <%= f.date_field :period_to, value: @end_date.strftime('%F'),max: Date.today, min: '2020-01-01' %>
        </li>
        <%= f.submit 'Update', :class => "btn   btn--small", title: 'Update timeframe of the report',data: { disable_with: false } %>
      </ol>
    </fieldset>
  <% end %>
</div>
<div class="scrollable">
  <table class="table--bordered table--data table--striped my-width">
    <caption>
      Basic information in the selected time period
    </caption>
    <thead>
      <tr>
        <th scope="col">Detail</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Total Transcribers</th>
        <td><%= @transcribers_count %></td>
      </tr>
      <tr>
        <th scope="row">Total active transcribers</th>
        <td><%= @active_transcribers_count %></td>
      </tr>
      <tr>
        <th scope="row">Number of transcribers with their email address confirmed in this period</th>
        <td><%= @email_confimed %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="scrollable">
  <table class="table--bordered table--data table--striped my-width">
    <caption>
      Upload report by members
    </caption>
    <tr>
      <th>Time Period</th>
      <th>Roles</th>
      <th>Upload Count</th>
    </tr>
    <% @uploaders_count.each do |u| %>
      <tr>
        <td><%= "#{@start_date.to_date.strftime("%B, %d, %Y")} - #{@end_date.to_date.strftime("%B, %d, %Y")}" %></td>
        <td>
            <%= u[0] %>
        </td>
        <td><%= u[1] %></td>
      </tr>
    <% end %>
  </table>
</div>