<%= form_for(@toponym) do |f| %>
  <% if @toponym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toponym.errors.count, "error") %> prohibited this toponym from being saved:</h2>

      <ul>
      <% @toponym.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chapman_code %><br />
    <%= f.text_field :chapman_code %>
  </div>
  <div class="field">
    <%= f.label :parish %><br />
    <%= f.text_field :parish %>
  </div>
  <div class="field">
    <%= f.label :geonames_response %><br />
    <%= f.text_field :geonames_response %>
  </div>
  <div class="field">
    <%= f.label :gbhgis_response %><br />
    <%= f.text_field :gbhgis_response %>
  </div>
  <div class="field">
    <%= f.label :resolved %><br />
    <%= f.check_box :resolved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
