<p id="notice"><%= notice %></p>

<p>
  <b>Chapman code:</b>
  <%= @toponym.chapman_code %>
</p>

<p>
  <b>Parish:</b>
  <%= @toponym.parish %>
</p>

<p>
  <b>Geonames response:</b>
  <%= @toponym.geonames_response %>
</p>

<p>
  <b>Gbhgis response:</b>
  <%= @toponym.gbhgis_response %>
</p>

<p>
  <b>Resolved:</b>
  <%= @toponym.resolved %>
</p>

<p>
  <b>Church Names:</b>
  <% @toponym.church_names.each do |church| %>
	  <br />
	  <%= link_to(church.church, church_name_path(church)) %>
  <% end %>
</p>


<%= link_to 'Back', toponyms_path %>
