<% breadcrumb :new_county%>
<h2 class=" text--center">Activate a new County</h2>
<%= render 'flash_notice' %>
<%= simple_form_for @county , :html => { :class => "grid"}  do |f| %>
  <%= f.input :county_description, :as => :select, :label => "Select the County to be activated :", :required => true,:include_blank => true, :collection => @counties ,:input_html => {:class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 4}%>
  <%= f.input :county_coordinator, { :as => :select,  :required => true, :collection => @userids,:label_method => :userid, :value_method => :id,  :include_blank => true, :label => "Select coordinator for the county :", :input_html => {:class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 5}}%>
  <%= f.input :county_notes,:label => "County notes :",:input_html => {:class => " simple_form_bgcolour  simple_form_position",  :size => 50 }%>
  <%= f.button :submit, "Activate" %>
<% end %>