<% coordinator_index_breadcrumbs %>
<% if session[:syndicate].present? %>
  <h3 style="text-align: center"> Syndicate Files for  <%= session[:syndicate]%><%=@sorted_by%></h3>
<% elsif session[:county].present? %>
  <h3 style="text-align: center"> County Files for  <%= session[:county]%><%=@sorted_by%></h3>
<% end%>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>