<p style="text-align: center"><b><%= file_name(@freereg1_csv_file) %> (<%= userid(@freereg1_csv_file) %>) in <b><%= register_name_for_file(@freereg1_csv_file) %></b> of <b> <%= church_name(@freereg1_csv_file)%></b> in <b><%= place_name(@freereg1_csv_file) %></b> of <b><%= county_name(@freereg1_csv_file) %></b><br>
  </p>
  <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
      <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
  <% end %>
  <p><b>You may change the following parameters but do so with care as they will change where the batch is located. You are changing <%= session[:records]%> records so it may take some time.  </b></p>
  Please wait for selection boxes to fill after selecting the preceding option. You MUST select an option even if there is only one.
  <%= semantic_form_for @freereg1_csv_file,:html => { :class =>  "grid", novalidate: "novalidate"} do |f| %>
    <% if session[:role] == 'system_administrator' || session[:role] == 'data_manager'%>
      <%= f.input :country,
        label: "Select country from following list",
        required: true, 
        collection: @countries,
        selected: @selected_country,
        include_blank: false,
        input_html: {
          class: "simple_form_bgcolour simple_form_position overide_selection_field_width",
          onchange:  @update_counties_location,
          size: 3
        } %>
      <% if @counties.present? %>
        <%= f.input :county,
          label: "Select county from following list",
          required: true,
          collection: @counties,
          selected: @selected_county,
          include_blank: false,
          input_html: {
            class: "simple_form_bgcolour simple_form_position overide_selection_field_width",
            onchange: @update_places_location,
            size: 3
          }%>
      <% end %>
    <% end %>
    <%= f.input :place,
      label: "Select place name from the following list of Approved Names",
      required: true,
      collection: @placenames,
      selected: @selected_place,
      include_blank: false,
      input_html: {
        class: "simple_form_bgcolour simple_form_position overide_selection_field_width",
        onchange: @update_churches_location,
        size: 3
      } %>
    <%= f.input :church_name, 
      label: "Select church name from the following list",
      required: true,
      collection: @churches,
      selected: @selected_church,
      include_blank: false, 
      input_html: {
        class: "simple_form_bgcolour simple_form_position overide_selection_field_width",
        onchange: @update_registers_location,
        size: 3
      }%>
    <%= f.input :register_type,
      label: "Select Type of Register",
      required: true,
      collection: @register_types,
      selected: @selected_register,
      include_blank: false, 
      input_html: {
        class: "simple_form_bgcolour simple_form_position overide_selection_field_width",
        size: 3
      }%>
    <div style="text-align: center">
      <%= f.action :submit,  :label => 'Relocate', :as => :input, :button_html => {:class => "btn  ", :data => { disable_with: false } }  %>
    </div>
  <% end %>