<p style="text-align: center"><b><%= file_name(@freereg1_csv_file) %> (<%= userid(@freereg1_csv_file) %>) in <b><%= register_type(@freereg1_csv_file) %></b> of <b> <%= church_name(@freereg1_csv_file)%></b> in <b><%= place_name(@freereg1_csv_file) %></b> of <b><%= county_name(@freereg1_csv_file) %></b><br></p>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  
</div>
<% end %>
<p><b>You may change the following parameters but do so with care as they will change where the batch is located. You are changing <%= session[:records]%> records so it may take some time.  </b></p>
Please wait for selection boxes to fill after selecting the preceding option. You MUST select an option even if there is only one.
<%= semantic_form_for @freereg1_csv_file,:html => { :class =>  "grid"} do |f| %>

<% if  @user.person_role == 'system_administrator' || @user.person_role == 'data_manager'%>
    <%= f.input :country,:label => "Select country from following list",:include_blank => true,
    :required => true, :collection => @countries,
    :input_html => {:class => " simple_form_bgcolour simple_form_position overide_selection_field_width",'onchange' =>   @update_counties_location,:size => 3} %>
    <% if @counties.present? %>
        <%= f.input :county,:label => "Select county from following list",:include_blank => true,
      :required => true, :collection => @counties,
      :input_html => {:class => " simple_form_bgcolour simple_form_position overide_selection_field_width",'onchange' => @update_places_location,:size => 3}   %>
      <% end %>
<% end %>
<% if @placenames.present? %>
<%= f.input :place,:label => "Select place name from the following list of Approved Names",:include_blank => true,
:required => true, :collection => @placenames,
:input_html => {:class => " simple_form_bgcolour simple_form_position overide_selection_field_width",'onchange' =>@update_churches_location,:size => 3}  %>
<% end %>
<% if @churches.present? %>
<%= f.input :church_name, :label => "Select church name from the following list",:include_blank => true, :required => true, :collection => @churches, :input_html => {:class => " simple_form_bgcolour simple_form_position overide_selection_field_width",'onchange' =>@update_registers_location,:size => 3}   %>
<% end %>
<% if @register_types.present? %>
<%= f.input :register_type,:label => "Select Type of Register :",:include_blank => true, :required => true, :collection => @register_types, :input_html => {:class => " simple_form_bgcolour simple_form_position overide_selection_field_width",:size => 3}%>
<% end %>
<div style="text-align: center">
 <%= f.action :submit,  :label => 'Relocate', :as => :button, :button_html => {:class => "btn  weight--light " } if @register_types.present? %>
</div>
<% end %>