<%= semantic_form_for(@freereg1_csv_file) do |f| %>
  <% if @freereg1_csv_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@freereg1_csv_entry.errors.count, "error") %> prohibited this freereg1_csv_file from being saved:</h2>

      <ul>
      <% @freereg1_csv_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 
  <%= f.input :register_type %>
  <%= f.input :record_type, :input_html => { :disabled => true } %> 
  <%= f.input :records %>
  <%= f.input :datemin %>
  <%= f.input :datemax %>
  <%= f.input :daterange ,      :input_html => { :size => 100 }%>  
  <%= f.input :userid %>
  <%= f.input :file_name, :input_html => { :disabled => true, :size => 60  } %> 
  <%= f.input :transcriber_name , :input_html => { :size => 40 }%>
  <%= f.input :transcriber_email %>
  <%= f.input :transcriber_syndicate %>
  <%= f.input :credit_email %>
  <%= f.input :credit_name , :input_html => { :size => 40 }%>
  <%= f.input :first_comment, :input_html => { :size => 100 }%>  
  <%= f.input :second_comment, :input_html => { :size => 100 }%>  
  <%= f.input :transcription_date %>
  <%= f.input :modification_date %>
 
    <%= f.actions %>
 
<% end %>
