<h3 style="text-align: center"><b><%= file_name(@freereg1_csv_file) %> (<%= userid(@freereg1_csv_file) %>) in <b><%= register_name_for_file(@freereg1_csv_file) %></b> of <b> <%= church_name(@freereg1_csv_file)%></b> in <b><%= place_name(@freereg1_csv_file) %></b> of <b><%= county_name(@freereg1_csv_file) %></b><br>
  </h3>
  <div  style="text-align: center">
    <%= edit_headers %>
    <%= download_batch %>
    <%= browse_batch_entries%>
    <%= list_error_entries %>
    <% unless @freereg1_csv_file.register_type == 'MI' %>
      <%= list_zero_year_entries %>
    <% end %>
    <%= list_embargoed_entries %>
    <%= unique_names %>
    <%= remove_batch %>
    <%= replace_batch %>
    <%= which_file_gaps_link(@gaps) %>
    <br>
    <% if ['county_coordinator', 'country_coordinator', 'county_coordinator', 'system_administrator',
         'data_manager'].include?(session[:role]) %>
    <%= relocate_batch  %>
    <%= merge_batches %>
    <%= reprocess_batch %>
  <% end%>
  <% if ['system_administrator','data_manager'].include?(session[:role]) %>
    <%= delete_file %>
    <%= change_owner  %>
  <% end%>
</div>
<div style="clear:both;"> </div>
<br>
<%= render partial: 'flash_notice' %>