
<p style="text-align: center"><b><%= file_name(@freereg1_csv_file) %> (<%= userid(@freereg1_csv_file) %>) in <b><%= register_type(@freereg1_csv_file) %></b> of <b> <%= church_name(@freereg1_csv_file)%></b> in <b><%= place_name(@freereg1_csv_file) %></b> of <b><%= county_name(@freereg1_csv_file) %></b><br></p>
<div  style="text-align: center"> <%= link_to 'Edit headers', edit_freereg1_csv_file_path(@freereg1_csv_file), method: :get , :class => "btn weight--light  btn--small" %>  <%= link_to 'Download batch', download_freereg1_csv_file_path(@freereg1_csv_file), data: { confirm:  'Are you sure you want to download these records?'}, method: :get, :class => "btn weight--light  btn--small"  %>
  <%= link_to 'Browse entries', freereg1_csv_entries_path, method: :get, :class => "btn weight--light  btn--small"  %> 
  <%= link_to 'Listing of error entries', error_freereg1_csv_file_path(@freereg1_csv_file), method: :get , :class => "btn weight--light  btn--small" %>
  <%= link_to 'Listing of zero year entries', zero_year_freereg1_csv_file_path(@freereg1_csv_file), method: :get , :class => "btn weight--light  btn--small" %>  
  <%= link_to 'Remove batch', remove_freereg1_csv_file_path(@freereg1_csv_file),  data: { confirm: 'Are you sure you want to remove this batch' }, :class => "btn weight--light  btn--small",method: :get  %> 
  <%= link_to 'Replace batch', edit_csvfile_path(@freereg1_csv_file), method: :get, data: { confirm:  'Are you sure you want to replace these records?'}, :class => "btn weight--light  btn--small" %><br>
  <% if @user.person_role == 'county_coordinator' || @user.person_role == 'country_coordinator' || @user.person_role == 'county_coordinator' ||            @user.person_role == 'system_administrator' || @user.person_role == 'data_manager' %>
    <%= link_to 'Relocate batch', relocate_freereg1_csv_file_path(@freereg1_csv_file), data: { confirm:  'Are you sure you want to relocate this batch?'}, method: :get, :class => "btn weight--light  btn--small"  %> 
    <%= link_to 'Merge batches from same userid/filename into this one', merge_freereg1_csv_file_path(@freereg1_csv_file),  data: { confirm: 'Are you sure you want to merge all batches for the same userid and filename in this register into this batch?' }, :class => "btn weight--light  btn--small",method: :get  %>  <%= link_to '(Re)Process batch', reprocess_physical_file_path(@freereg1_csv_file), :class => "btn weight--light  btn--small",method: :get,data: { confirm:  'Are you sure you want to reprocess this file?'} %>
  <% end%>
  <% if @user.person_role == 'system_administrator' || @user.person_role == 'data_manager' %>
    <%= link_to 'Delete original file and all associated batch entries', freereg1_csv_file_path(@freereg1_csv_file),  data: { confirm: 'Are you sure you want to remove this file and batch entries' }, :class => "btn weight--light  btn--small",method: :delete  %>
    <%= link_to 'Change owner (userid)', change_userid_freereg1_csv_file_path(@freereg1_csv_file),  data: { confirm: 'Are you sure you want to move this file ' }, :class => "btn weight--light  btn--small",method: :get  %>
  <% end%>
</div>
<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>