<p>Editing file:<b><%= @freereg1_csv_file_name %></b> </p>
<div style="float:left;"> <%= button_to 'Show file', freereg1_csv_file_path(@freereg1_csv_file), method: :get %></div>
<div style="float:left;"> <%= button_to 'Back to file options', freereg1_csv_files_path(:anchor => "#{ @freereg1_csv_file.id}"), method: :get %></div>
<div  style="float:left;"> <%= button_to 'Back to my Resource Management options', manage_resources_path, method: :get %> </div>
<div style="clear:both;"> </div><br>
<%= render 'form' %>
<br>

<div style="float:left;"> <%= button_to 'Show file', freereg1_csv_file_path(@freereg1_csv_file), method: :get %></div>
<div style="float:left;"> <%= button_to 'Back to file options', freereg1_csv_files_path(:anchor => "#{ @freereg1_csv_file.id}"), method: :get %></div>
<div  style="float:left;"> <%= button_to 'Back to my Resource Management options', manage_resources_path, method: :get %> </div>
<div style="clear:both;"> </div><br>