<% breadcrumb :edit_file,  @freereg1_csv_file%>
<p style="text-align: center"><b>Editing  batch :<%= @freereg1_csv_file_name %> (<%= @file_owner %>) in <b><%= @register_name %></b> of <b> <%= @church_name%></b> in <b><%= @place_name %></b> of <b><%= @county %></b><br></p>
  
  <%unless session[:error_line].nil?%>
  <b>If the header error involves an incorrect record type (BA,BU or MA) the file itself must be corrected and reloaded</b><br><br>
  <%n = 0%>
  <%while n < @n %>
  <b><%=@error_message[n]%><%= @content[n]%></b>
  <br>
  <%n = n + 1%>
  <%end%>
  <%end%>
  <br>
  <%= render 'form' %>

<br>