
<p style="text-align: center"><b>Editing  batch :<%= @freereg1_csv_file_name %> in <b><%= @register_name %></b> of <b> <%= @church_name%></b> in <b><%= @place_name %></b> of <b><%= @county %></b><br></p>
  <div  style="text-align: center"><%= link_to "Batch's Register", register_path(@freereg1_csv_file.register), method: :get , :class => "btn  btn--small" %> <%= link_to 'Show Batch Headers', freereg1_csv_file_path(@freereg1_csv_file), method: :get , :class => "btn  btn--small" %> <%= link_to 'Relocate Batch', relocate_freereg1_csv_file_path(@freereg1_csv_file), confirm: 'Are you sure you want to relocate this batch?', method: :get, :class => "btn  btn--small"  %> <%= link_to 'Download Batch', download_csvfile_path(@freereg1_csv_file), confirm: 'Are you sure you want to download these records?', method: :get, :class => "btn  btn--small"  %> <%= link_to 'Replace Batch', edit_csvfile_path(@freereg1_csv_file), method: :get, confirm: 'Are you sure you want to replace these records?', :class => "btn  btn--small" %>  <%= link_to 'Browse Records in Batch', freereg1_csv_entries_path, method: :get, :class => "btn  btn--small"  %> <%= link_to 'Select page of Records in Batch', select_page_freereg1_csv_entry_path, method: :get, :class => "btn  btn--small"  %> <%= button_to 'Destroy Batch', freereg1_csv_file_path(@freereg1_csv_file), method: :delete, data: { confirm: 'Are you sur you want to delete this batch' }, :class => "btn  btn--small"  %></div>
  <div style="clear:both;"> </div>
  <%unless session[:error_line].nil?%>
  <b>If the header error involves an incorrect record type (BA,BU or MA) the file itself must be corrected and reloaded</b><br><br>
  <%n = 0%>
  <%while n < @n %>
  <b><%=@error_message[n]%><%= @content[n]%></b>
  <br>
  <%n = n + 1%>
  <%end%>
  <%end%>
  <br>
  <%= render 'form' %>

<br>