<% breadcrumb :error_records,  @freereg1_csv_file%>
<p style="text-align: center"><b><%= file_name(@freereg1_csv_file) %> (<%= userid(@freereg1_csv_file) %>) in <b><%= register_name_for_file(@freereg1_csv_file) %></b> of <b> <%= church_name(@freereg1_csv_file)%></b> in <b><%= place_name(@freereg1_csv_file) %></b> of <b><%= county_name(@freereg1_csv_file) %></b><br>
  </p>
  <% if @errors == 0 %>
    <p  style="text-align: center" %><b>There are no errors in this batch </b></p>
  <%else%>
    <div id="main"style="color:black">
      <% unless @lines.nil? || @lines.empty?%>
        <p style="text-align: center"><b> Data Errors</b></p>
        <table class="table--bordered  table--data" >
          <tr>
            <th style="width:8%">Record number</th>
            <th style="width:8%">Field number</th>
            <th style="width:40%">Error message</th>
            <th style="width:8%">Record type</th>
            <th style="width:25%">Actual record</th>
            <th style="width:11%">Action</th>
          </tr>
          <tr>
          </tr>
          <% @lines.each do |line| %>
            <tr>
              <td><%= line.record_number%></td>
              <td><%= line.field_number%></td>
              <td><%= line.error_message %></td>
              <td><%= line.record_type %></td>
              <td><%= line.data_line %></td>
              <td><%= link_to 'Edit', error_freereg1_csv_entry_path(line, referrer: @referrer, error: true), :class => "btn   btn--small" %></td>
            </tr>
          <%end%>
        </table>
      <%end%>
      <% unless @system.nil? || @system.empty?%>
        <p style="text-align: center"><b>System Errors</b></p>
        <table class="table--bordered  table--data" >
          <tr>
            <th style="width:10%">Record number</th>
            <th style="width:40%">Error message</th>
            <th style="width:50%">Actual records</th>
          </tr>
          <tr>
          </tr>
          <% @system.each do |line| %>
            <tr>
              <td><%= line.record_number%></td>
              <td><%= line.error_message %></td>
              <td><%= line.data_line %></td>
            </tr>
          <%end%>
        </table>
      <%end%>
      <% unless @header.nil? || @header.empty?%>
        <p style="text-align: center"><b>Header Errors</b></p>
        <table class="table--bordered table--data" >
          <tr>
            <th style="width:10%">Record number</th>
            <th style="width:40%">Error message</th>
            <th style="width:50%">Actual records</th>
            <th style="width:11%">Action</th>
          </tr>
          <tr>
          </tr>
          <% @header.each do |line| %>
            <tr>
              <td><%= line.record_number%></td>
              <%session[:error_line] = line.record_number%>
              <td><%= line.error_message %></td>
              <td><%= line.data_line %></td>
              <td><%= link_to 'Edit', edit_freereg1_csv_file_path(@freereg1_csv_file), :class => "btn   btn--small" %></td>
            </tr>
          <%end%>
        </table>
      <%end%>
    <%end%>
  </div>