<div  style="text-align: center"><%= link_to "Batch's Register", register_path(@freereg1_csv_file.register), method: :get , :class => "btn  btn--small" %> <%= link_to 'Edit Batch Headers', edit_freereg1_csv_file_path(@freereg1_csv_file), method: :get , :class => "btn  btn--small" %> <%= link_to 'Show Batch Headers', freereg1_csv_file_path(@freereg1_csv_file), method: :get , :class => "btn  btn--small" %> <%= link_to 'Relocate Batch', relocate_freereg1_csv_file_path(@freereg1_csv_file), confirm: 'Are you sure you want to relocate this batch?', method: :get, :class => "btn  btn--small"  %> <%= link_to 'Download Batch', download_csvfile_path(@freereg1_csv_file), confirm: 'Are you sure you want to download these records?', method: :get, :class => "btn  btn--small"  %>  <%= link_to 'Browse records in Batch', freereg1_csv_entries_path, method: :get, :class => "btn  btn--small"  %> <%= link_to 'Select page of records in Batch', select_page_freereg1_csv_entry_path, method: :get, :class => "btn  btn--small"  %> <%= button_to 'Destroy Batch', freereg1_csv_file_path(@freereg1_csv_file), method: :delete, data: { confirm: 'Are you sur you want to delete this batch' }, :class => "btn  btn--small"  %></div>
<div style="clear:both;"> </div><br>
<% if @errors == 0 %>
   <p  style="color:darkgreen" %><b>There are no errors in this batch <%= @freereg1_csv_file_name %> for <%= @owner %></b></p>
<%else%>
   <p style="text-align: center"><b>Display error message for batch  <%= @freereg1_csv_file_name %> for <%= @owner %></b></p>
   <div id="main"style="color:black">
    <% unless @lines.nil? || @lines.empty?%>
      <p style="text-align: center"><b> Data Errors</b></p>
      <table class="table--bordered  table--data" >
        <tr>
            <th style="width:8%">Record number</th>
            <th style="width:8%">Field number</th>
            <th style="width:40%">Error message</th>
            <th style="width:8%">Record type</th>
            <th style="width:25%">Actual record</th>
            <th style="width:11%">Action</th>
        </tr>
        <tr>
        </tr>
        <% @lines.each do |line| %>
        <tr>
           <td><%= line.record_number%></td>
           <td><%= line.field_number%></td>   
           <td><%= line.error_message %></td>
           <td><%= line.record_type %></td>
           <td><%= line.data_line %></td>
           <td><%= link_to 'Edit', error_freereg1_csv_entry_path(line), :class => "btn  btn--small" %></td>
       </tr>
       <%end%>
     </table>
   <%end%>

   <% unless @system.nil? || @system.empty?%>
     <p style="text-align: center"><b>System Errors</b></p>
     <table class="table--bordered  table--data" >
       <tr>
         <th style="width:10%">Record number</th>
         <th style="width:40%">Error message</th>
         <th style="width:50%">Actual records</th>
       </tr>
       <tr>
       </tr>
       <% @system.each do |line| %>
       <tr>
         <td><%= line.record_number%></td>
         <td><%= line.error_message %></td>
         <td><%= line.data_line %></td>
       </tr>
       <%end%>
    </table>
 <%end%>
  <% unless @header.nil? || @header.empty?%>
     <p style="text-align: center"><b>Header Errors</b></p>
     <table class="table--bordered table--data" >
      <tr>
        <th style="width:10%">Record number</th>
        <th style="width:40%">Error message</th>
        <th style="width:50%">Actual records</th>
        <th style="width:11%">Action</th>
      </tr>
      <tr>
      </tr>
      <% @header.each do |line| %>
      <tr>
       <td><%= line.record_number%></td>
         <%session[:error_line] = line.record_number%>
         <td><%= line.error_message %></td>
         <td><%= line.data_line %></td>
         <td><%= link_to 'Edit', edit_freereg1_csv_file_path(@freereg1_csv_file), :class => "btn  btn--small" %></td>
      </tr>
      <%end%>
   </table>
 <%end%>
  <%end%>
</div>

