<%= render 'freereg1_csv_files/my_own_header' if session[:my_own]%>
<%= render 'freereg1_csv_files/coordinator_header' unless session[:my_own]%>
<% unless @freereg1_csv_files.nil? || @freereg1_csv_files.length == 0%>
  <%= paginate @freereg1_csv_files %>
  <div style="text-align: center">Batches are colour coded. <FONT COLOR="green">Teal: OK;</FONT><FONT color='red'> Red: Errors;</FONT><FONT color='blue'> Blue: Locked and OK;</FONT><FONT color="maroon"> Maroon: Locked with errors,</FONT><FONT color='orange'> Orange: Just Verified</FONT></div>
  <div class="grid__item ">
    <section class="island ">
      <div class="scrollable " >
        <table class="table--bordered my-width table--data just--left" >
          <thead >
            <tr>
              <th class="t12">File</th>
              <th class="t4">Cty</th>
              <th class="t12">Place</th>
              <th class="t12">Church</th>
              <th class="t4">Reg</th>
              <th class="t5">Entries</th>
              <th class="t5">Start year</th>
              <th class="t5">End year</th>
              <% unless session[:my_own]%>
                <th class="t8">User ID</th>
              <% end%>
              <th class="t8" >Processed</th>
              <th colspan = "2" class="t8">Locked<br>
                TR SC</th>
              <th colspan="7" class="t30">Action <a href="#" class="left_tooltip" onclick="return false;"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>SH: Show header; ED: Edit header; DL: Download batch; ER: Errors in batch; L: Lock batch; U: Unlock batch; DE: Delete batch;RL:Replace batch </span></a></th>
            </tr>
          </thead>
          <!--/table-->
          <!--table class=" table--bordered my-width table--data just--left"-->
          <tbody >
            <% @freereg1_csv_files.each do |freereg1_csv_file| %>
              <tr id="<%= freereg1_csv_file.id %>" style="<%=freereg1_csv_file.define_colour%>">
                <td class="t12"><%= file_name(freereg1_csv_file)%></td>
                <td class="t4"><%= freereg1_csv_file.county %></td>
                <td class="t12"><%= freereg1_csv_file.place %></td>
                <td class="t12"><%= freereg1_csv_file.church_name %></td>
                <td class="t4"><%= register_name_for_file(freereg1_csv_file) %></td>
                <td class="t5"><%= freereg1_csv_file.freereg1_csv_entries.count %></td>
                <td><%= freereg1_csv_file.datemin == "0" ? button_to("0",zero_year_freereg1_csv_file_path(:id => freereg1_csv_file.id), :method=>:get, :class => "btn btn--soft") : freereg1_csv_file.datemin %></td>
                <td class="t4"><%= freereg1_csv_file.datemax %></td>
                <% unless session[:my_own]%>
                  <td class="t8"><%= freereg1_csv_file.userid %></td>
                <% end %>
                <td class="t8"><%= processed_date(freereg1_csv_file)%></td>
                <td class="t3"><%= locked_by_transcriber(freereg1_csv_file)%></td>
                <td class="t3"><%= locked_by_coordinator(freereg1_csv_file)%></td>
                <td class="t4"><%= link_to 'SH', freereg1_csv_file, method: :get  %></td>
                <td class="t4"><%= link_to 'ED', edit_freereg1_csv_file_path(freereg1_csv_file), method: :get   %></td>
                <td class="t4"><%= link_to 'DL', download_freereg1_csv_file_path(freereg1_csv_file), data: { confirm:  'Are you sure you want to download this file?'}, method: :get  %></td>
                <td class="t4"><%= link_to 'ER', error_freereg1_csv_file_path(freereg1_csv_file), method: :get %>
                  <td  class="t4"><%= link_to 'L/U', lock_freereg1_csv_file_path(freereg1_csv_file), method: :get, data: { confirm:  'Are you sure you want to lock/unlock all of the batches associated with this file?'} %>
                  </td>
                  <td class="t4"><%= link_to 'DE', remove_freereg1_csv_file_path(freereg1_csv_file), data: { confirm:  'Are you sure you want to delete this file? This may take a few minutes if there are many records'}, method: :get   %></td>
                </td>
                <td class="t4"><%= link_to 'RL', edit_csvfile_path(freereg1_csv_file), method: :get, data: { confirm:  'Are you sure you want to replace these records?' }%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br />
        <%= paginate @freereg1_csv_files %>
      </div>
    </section>
  </div>
<% else%>
  <h4 style="text-align: center">  No files</h4>
<% end%>