Page Identification Freereg Files:my_own<p>
<%= semantic_form_for(@freereg1_csv_file) do |f| %>
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  

<div id="main"style="color:black">

<div style="float:left;"><%= f.input :action, { :as => :select, :include_blank => false, :collection => ['By filename', 'By number of errors then filename','By uploaded date (ascending)', 'By uploaded date (descending)' ], :label => " #{@first_name} how would you like you batches listed? ",  :size => 10  }%></div>


    <div style="float:left;"><%= f.action :submit, :as => :input, :label => 'Select'   %></div>
   <% end %>
<div style="clear:both;"> </div><br>

<p>
<div style="float:left;"> <%= button_to 'File options', freereg1_csv_files_path(:anchor => "#{ @freereg1_csv_file.id}"), method: :get %></div>
<%= render 'nav' %>
