Page Identification Freereg Files:my_own_index<p>
<p style="text-align: center"><b>Listing of your own batches: <%= @who%></b></p>

<div style="float:left;"> <%= button_to 'Upload Batch of records', new_csvfile_path, method: :get %> </div>
<% if @role =='counties' %>
<div  style="float:left;"> <%= button_to 'County Mangement Tools Page', manage_counties_path, method: :get %></div>
<%end%>
<% if @role =='syndicate' %>
<div  style="float:left;"> <%= button_to 'Syndicate Mangement Tools Page', userid_details_path, method: :get %></div>
<%end%>
<div  style="float:left;"> <%= button_to 'Resource Management options', manage_resource_path(@user), method: :get %> </div>
<div style="float:left;"> <%= button_to_function "Previous Page", "history.back()" %></div>
<div style="clear:both;"> </div><br>

<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  

<div id="main"style="color:black">
<% unless @freereg1_csv_files.nil? %>
<%= paginate @freereg1_csv_files %>
<table CLASS="boldtable" >
  <tr>
    <th style="width:4%">Cnty</th>
    <th style="width:15%">Place</th>
    <th style="width:12%">Church</th>
    <th style="width:4%">Reg type</th>
    <th style="width:4%">Rec type</th>
    <th style="width:5%">Records</th>
   
    
    <th style="width:13%">UserID</th>
    <th style="width:10%">File name</th>
    <th style="width:9%">Loaded</th>
    <th style="width:4%">Errs</th>
    <th style="width:4%">Lock</th>
    <th style="width:13%">Syndicate</th>
    
   
  </tr>

<% @freereg1_csv_files.each do |freereg1_csv_file| %>

 <% if freereg1_csv_file.error == 0 %>
  <tr id="<%=freereg1_csv_file.id%>"  style="color:green">
 <% else %> 
<tr id="<%=freereg1_csv_file.id%>"  style="color:red">
 <% end %>
 
    <td><%= freereg1_csv_file.county %></td>
    <td><%= freereg1_csv_file.place %></td>
    <td><%= freereg1_csv_file.church_name %></td>
    <td><%= freereg1_csv_file.register_type %></td>
    <td><%= freereg1_csv_file.record_type %></td>
    <td><%= freereg1_csv_file.records %></td>
   
   
    <td><%= freereg1_csv_file.userid %></td>
    <td><%= freereg1_csv_file.file_name[0..-5]  unless freereg1_csv_file.file_name.nil?%></td>
    <td><%= freereg1_csv_file.uploaded_date.strftime("%d %b %Y") unless freereg1_csv_file.uploaded_date.nil?%></td>
   
    <td ><%= freereg1_csv_file.error  %></td>
    
    <td><%= freereg1_csv_file.locked %></td>
    <td><%= freereg1_csv_file.transcriber_syndicate %></td></tr>
    <tr> <td></td>
    <td><%= button_to 'Show', freereg1_csv_file, method: :get %></td>
    <td><%= button_to 'Edit', edit_freereg1_csv_file_path(freereg1_csv_file), method: :get %></td>
    <td><%= button_to 'Lock/Unlock', lock_freereg1_csv_file_path(freereg1_csv_file), method: :get, confirm: 'Are you sure you want to lock/unlock this file?'%>
    </td>
    <td></td><td><%= button_to 'Replace', edit_csvfile_path(freereg1_csv_file), method: :get, confirm: 'Are you sure you want to replace this file?'%></td>
    
    <td></td><td><%= button_to 'Discard', freereg1_csv_file, confirm: 'Are you sure you want to discard this file?', method: :delete %></td>

    <td><%= button_to 'Download', download_csvfile_path(freereg1_csv_file), confirm: 'Are you sure you want to download this file?', method: :get %></td>
  <td></td><td style="color:red"> <% if freereg1_csv_file.error != 0 %>
     <%= button_to 'Errors', error_freereg1_csv_file_path(freereg1_csv_file), method: :get%></td>
     <% end %>

  </tr>

<% end %>

</table>
<%= paginate @freereg1_csv_files %>
<%else%>
   You have no files
   <%end%>
</div>

<br />

<div style="float:left;"> <%= button_to 'Upload Batch of records', new_csvfile_path, method: :get %> </div>
<% if @role =='counties' %>
<div  style="float:left;"> <%= button_to 'County Mangement Tools Page', manage_counties_path, method: :get %></div>
<%end%>
<% if @role =='syndicate' %>
<div  style="float:left;"> <%= button_to 'Syndicate Mangement Tools Page', userid_details_path, method: :get %></div>
<%end%>
<div  style="float:left;"> <%= button_to 'Resource Management options', manage_resource_path(@user), method: :get %> </div>
<div style="float:left;"> <%= button_to_function "Previous Page", "history.back()" %></div>
<div style="clear:both;"> </div><br>
