<p style="text-align: center">Create new file<p>
<div style="float:left;"> <%= link_to 'Edit batch headers', edit_freereg1_csv_file_path(@freereg1_csv_file), method: :get , :class => "btn  btn--small" %> <%= link_to 'Relocate batch', relocate_freereg1_csv_file_path(@freereg1_csv_file), confirm: 'Are you sure you want to relocate this batch?', method: :get, :class => "btn  btn--small"  %> <%= link_to 'Download batch', download_csvfile_path(@freereg1_csv_file), confirm: 'Are you sure you want to download these records?', method: :get, :class => "btn  btn--small"  %> <%= link_to 'Replace batch', edit_csvfile_path(@freereg1_csv_file), method: :get, confirm: 'Are you sure you want to replace these records?', :class => "btn  btn--small" %> <%= link_to 'Destroy batch', freereg1_csv_file_path(@freereg1_csv_file), method: :delete, data: { confirm: 'Are you sur you want to delete this batch' }, :class => "btn  btn--small"  %> <%= link_to 'Browse records in batch', freereg1_csv_entries_path, method: :get, :class => "btn  btn--small"  %> <%= link_to 'Select page of records in batch', select_page_freereg1_csv_entry_path, method: :get, :class => "btn  btn--small"  %></div>
<div style="clear:both;"> </div><br>

<%= render 'form' %>



