Page Identification Freereg Files:new<p>
<p style="text-align: center">Create new file<p>
<div style="float:left;"> <%= button_to 'Edit this batch', edit_freereg1_csv_file_path(@freereg1_csv_file), method: :get %></div>
<div style="float:left;"> <%= button_to 'File options', freereg1_csv_files_path(:anchor => "#{ @freereg1_csv_file.id}"), method: :get %></div>
<%= render 'nav' %>


<%= render 'form' %>

<div style="float:left;"> <%= button_to 'Edit this batch', edit_freereg1_csv_file_path(@freereg1_csv_file), method: :get %></div>
<div style="float:left;"> <%= button_to 'File options', freereg1_csv_files_path(:anchor => "#{ @freereg1_csv_file.id}"), method: :get %></div>
<%= render 'nav' %>

