<p id="notice"><%= notice %></p>

<p>
  <b>Dir name:</b>
  <%= @freereg1_csv_file.dir_name %>
</p>

<p>
  <b>File name:</b>
  <%= @freereg1_csv_file.file_name %>
</p>

<p>
  <b>Transcriber email:</b>
  <%= @freereg1_csv_file.transcriber_email %>
</p>

<p>
  <b>Transcriber name:</b>
  <%= @freereg1_csv_file.transcriber_name %>
</p>

<p>
  <b>Transcriber syndicate:</b>
  <%= @freereg1_csv_file.transcriber_syndicate %>
</p>

<p>
  <b>Transcription date:</b>
  <%= @freereg1_csv_file.transcription_date %>
</p>

<p>
  <b>Record type:</b>
  <%= @freereg1_csv_file.record_type %>
</p>

<p>
  <b>Credit name:</b>
  <%= @freereg1_csv_file.credit_name %>
</p>

<p>
  <b>Credit email:</b>
  <%= @freereg1_csv_file.credit_email %>
</p>

<p>
  <b>First comment:</b>
  <%= @freereg1_csv_file.first_comment %>
</p>

<p>
  <b>Second comment:</b>
  <%= @freereg1_csv_file.second_comment %>
</p>


<%= link_to 'Edit', edit_freereg1_csv_file_path(@freereg1_csv_file) %> |
<%= link_to 'Back', freereg1_csv_files_path %>
