Page Identification Freereg Files:show<p>
<p style="text-align: center">Showing  batch:<b><%= @freereg1_csv_file_name %> </b> </p>
<div style="float:left;"> <%= button_to 'Edit batch headers', edit_freereg1_csv_file_path(@freereg1_csv_file), method: :get %></div>
<div style="float:left;"> <%= button_to 'Download this batch', download_csvfile_path(@freereg1_csv_file), confirm: 'Are you sure you want to download these records?', method: :get %></div>
<div style="float:left;"><%= button_to 'Replace this batch', edit_csvfile_path(@freereg1_csv_file), method: :get, confirm: 'Are you sure you want to replace these records?'%></div>
<div  style="float:left;"><%= button_to 'Destroy batch', freereg1_csv_file_path(@freereg1_csv_file), method: :delete, data: { confirm: 'Are you sur you want to delete this batch' } %></div>
<div style="float:left;"> <%= button_to 'Show the records of this batch', freereg1_csv_entries_path, method: :get %></div>
<% if @role =='counties' %>
<div  style="float:left;"> <%= button_to 'County Mangement Tools Page', manage_counties_path, method: :get %></div>
<%end%>
<% if @role =='syndicate' %>
<div  style="float:left;"> <%= button_to 'Syndicate Mangement Tools Page', userid_details_path, method: :get %></div>
<%end%>
<%= render 'nav' %>


<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %>  

<table  style="width: 100%">
 


  <tr>    
    <th style="width:25%">Field</th>
    <th style="width:50">Value</th>
  </tr>

  <tr> 
   <td>County </td> <td> <%=  @freereg1_csv_file.county%>  </td>
  </tr><tr>
   <td> Place name </td><td > <%= @freereg1_csv_file.place %>  </td>   
   </tr>
   <tr>
   <td>Church name </td><td ><%= @freereg1_csv_file.church_name %></td>   
   </tr>
   <tr>
   <td>Register type</td><td ><%= @freereg1_csv_file.register_type %></td>   
   </tr>
   <tr>
   <td>Record type </td><td >  <%= @freereg1_csv_file.record_type %> </td>   
   </tr>
   <tr> 
   <td>Number of records </td> <td> <%= @freereg1_csv_file.records %> </td>
  </tr><tr>
   <td>Minimum year in dataset </td><td >  <%= @freereg1_csv_file.datemin %> </td>   
   </tr>
   <tr>
   <td>Maximum year in dataset </td><td > <%= @freereg1_csv_file.datemax %></td>   
   </tr>
   <tr>
   <td>Number of years in each decade starting in 1530</td><td > <%= @freereg1_csv_file.daterange %></td>   
   </tr>
   <tr>
   <td>Uploaded by userid </td><td >   <%= @freereg1_csv_file.userid %> </td>   
   </tr>
   <tr>
   <td>Batch name</td><td ><%= @freereg1_csv_file.file_name %></td>   
   </tr>
   <tr>
   <td>Transcribed by </td><td >  <%= @freereg1_csv_file.transcriber_name %></td>   
   </tr>
   <tr> 
   <td>Transcribers email address </td> <td> <%= @freereg1_csv_file.transcriber_email %></td>
  </tr>
  <tr>
   <td>Syndicate transcribed for </td><td >   <%= @freereg1_csv_file.transcriber_syndicate %></td>   
   </tr>
   <tr>
   <td>Date of upload </td><td > <%= @freereg1_csv_file.uploaded_date.strftime("%d %b %Y") %></td>   
   </tr>
  <%case%>
 <%when @freereg1_csv_file.error == 0%>
 <tr id="<%= @freereg1_csv_file.id%>"  style="color:black" >
  <% when  @freereg1_csv_file.error > 0 %>
  <tr id="<%= @freereg1_csv_file.id%>"  style="color:red" >
 <% end %>

   <td>Number of errors</td><td > <%= link_to(@freereg1_csv_file.error , error_freereg1_csv_file_path(@freereg1_csv_file))%></td>   
   </tr>
  
 
 <%if @freereg1_csv_file.locked_by_transcriber == 'true'  %> 
  <tr id="<%= @freereg1_csv_file.id%>"  style="color:darkviolet" >
  <%else%>
  <tr id="<%= @freereg1_csv_file.id%>"  style="color:black" >
   <% end %>
   <td>Batch is locked from overriding by Transcriber</td><td > <%= @freereg1_csv_file.locked_by_transcriber %></td>   
   </tr>

   <%if @freereg1_csv_file.locked_by_coordinator == 'true'  %> 
  <tr id="<%= @freereg1_csv_file.id%>"  style="color:darkviolet" >
  <%else%>
  <tr id="<%= @freereg1_csv_file.id%>"  style="color:black" >
   <% end %>
   
   <td>Batch is locked from overriding by Coordinator</td><td > <%= @freereg1_csv_file.locked_by_coordinator %></td>   
   </tr>
   
   <tr>
   <td>Credit the following for the transcription</td><td ><%= @freereg1_csv_file.credit_name %></td>   
   </tr>
   <tr>
   <td>Email address for the person who has been credited </td><td > <%= @freereg1_csv_file.credit_email %></td>   
   </tr>
   <tr> 
   <td>First set of comments about the batch </td> <td> <%= @freereg1_csv_file.first_comment %></td>
  </tr>
  <tr>
   <td>Second set of comments about the batch </td><td >    <%= @freereg1_csv_file.second_comment %></td>   
   </tr>
   <tr>
   <td>Date transcribed </td><td >  <%= @freereg1_csv_file.transcription_date %></td>   
   </tr>
   <tr>
   <td>Date modified</td><td ><%= @freereg1_csv_file.modification_date %></td>   
   </tr>
   <tr>
   <td>Image numbers available with record</td><td >   <%= @freereg1_csv_file.lds %> </td>   
   </tr>
 
   <tr>
   <td>Character set of original file</td><td > <%= @freereg1_csv_file.characterset %></td>   
   </tr>
</table>  




<div style="float:left;"> <%= button_to 'Edit batch headers', edit_freereg1_csv_file_path(@freereg1_csv_file), method: :get %></div>
<div style="float:left;"> <%= button_to 'Download this batch', download_csvfile_path(@freereg1_csv_file), confirm: 'Are you sure you want to download these records?', method: :get %></div>
<div style="float:left;"><%= button_to 'Replace this batch', edit_csvfile_path(@freereg1_csv_file), method: :get, confirm: 'Are you sure you want to replace these records?'%></div>
<div  style="float:left;"><%= button_to 'Destroy batch', freereg1_csv_file_path(@freereg1_csv_file), method: :delete, data: { confirm: 'Are you sur you want to delete this batch' } %></div>
<div style="float:left;"> <%= button_to 'Show the records of this batch', freereg1_csv_entries_path, method: :get %></div>
<% if @role =='counties' %>
<div  style="float:left;"> <%= button_to 'County Mangement Tools Page', manage_counties_path, method: :get %></div>
<%end%>
<% if @role =='syndicate' %>
<div  style="float:left;"> <%= button_to 'Syndicate Mangement Tools Page', userid_details_path, method: :get %></div>
<%end%>
<%= render 'nav' %>
