<% breadcrumb :show_file,  @freereg1_csv_file %>
<%= render 'show_header' %>
<div class="grid">
  <section class="island ">
    <div class="grid__item ">
      <table   class="table--bordered  table--data">
        <colgroup >
          <col class=t40>
          <col class=t60>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <tr>
          <td>County </td>
          <td class="weight--semibold"> <%=  county_name(@freereg1_csv_file)%>  </td>
        </tr>
        <tr>
          <td> Place name </td>
          <td class="weight--semibold"> <%= place_name(@freereg1_csv_file) %>  </td>
        </tr>
        <tr>
          <td>Church name </td>
          <td class="weight--semibold"><%= church_name(@freereg1_csv_file) %></td>
        </tr>
        <tr>
          <td>Register type</td>
          <td class="weight--semibold"><%= look_up_register_type_for_file(@freereg1_csv_file) %></td>
        </tr>
        <tr>
          <td>Number of records </td>
          <td class="weight--semibold"> <%= @freereg1_csv_file.records %> </td>
        </tr>
        <tr>
          <td>Earliest year in batch </td>
          <td class="weight--semibold"><%= @freereg1_csv_file.datemin %> </td>
        </tr>
        <tr>
          <td>Latest year in batch </td>
          <td class="weight--semibold"> <%= @freereg1_csv_file.datemax %></td>
        </tr>
        <% unless @freereg1_csv_file.register_type == 'MI' %>
          <tr>
            <td>Number of zero date entries in batch </td>
            <td class="weight--semibold"> <%= zero_entry(@freereg1_csv_file) %></td>
          </tr>
        <% end %>
        <tr>
          <td>Number of records in each decade starting in 1530<br>
            The first decade will also contain any record of a year less than 1530<br>
            The last decade will also contain any record of a year after the current decade<br>
            Any year containing a UCF character will not be classified in a decade.</td>
          <td class="weight--semibold"> <%= @freereg1_csv_file.daterange %></td>
        </tr>
        <tr>
          <td>Uploaded by userid </td>
          <td class="weight--semibold"> <%= @freereg1_csv_file.userid %> </td>
        </tr>
        <tr>
          <td>Batch name</td>
          <td class="weight--semibold"><%= @freereg1_csv_file.file_name %></td>
        </tr>
        <tr>
          <td>Transcribed by </td>
          <td class="weight--semibold">  <%= @freereg1_csv_file.transcriber_name %></td>
        </tr>
        <tr>
          <td>Transcribers email address </td>
          <td class="weight--semibold"> <%= @freereg1_csv_file.transcriber_email %></td>
        </tr>
        <tr>
          <td>Syndicate transcribed for </td>
          <td class="weight--semibold">  <%= @freereg1_csv_file.transcriber_syndicate %></td>
        </tr>
        <tr>
          <td>Date of upload </td>
          <td class="weight--semibold"> <%= @freereg1_csv_file.uploaded_date.strftime("%d %b %Y") unless @freereg1_csv_file.uploaded_date.nil? %></td>
        </tr>
        <% case%>
        <% when @freereg1_csv_file.error == 0%>
        <tr id="<%= @freereg1_csv_file.id%>"  style="color:black" >
          <% when  @freereg1_csv_file.error > 0 %>
          <tr id="<%= @freereg1_csv_file.id%>"  style="color:red" >
          <% end %>
          <td>Number of errors</td>
          <td class="weight--semibold"> <%= file_errors(@freereg1_csv_file)%></td>
        </tr>
        <% if @freereg1_csv_file.locked_by_transcriber ||  !@freereg1_csv_file.locked_by_transcriber == "false"%>
          <tr id="<%= @freereg1_csv_file.id%>"  style="color:darkviolet" >
          <% else%>
            <tr id="<%= @freereg1_csv_file.id%>"  style="color:black" >
            <% end %>
            <td>Batch is locked from overriding by Transcriber</td>
            <td class="weight--semibold"> <%= transform_boolean(@freereg1_csv_file.locked_by_transcriber) %></td>
          </tr>
          <% if !@freereg1_csv_file.locked_by_coordinator == "false" || @freereg1_csv_file.locked_by_coordinator  %>
            <tr id="<%= @freereg1_csv_file.id%>"  style="color:darkviolet" >
            <% else%>
              <tr id="<%= @freereg1_csv_file.id%>"  style="color:black" >
              <% end %>
              <td>Batch is locked from overriding by Coordinator</td>
              <td class="weight--semibold"> <%= transform_boolean(@freereg1_csv_file.locked_by_coordinator) %></td>
            </tr>
            <tr>
              <td>Credit the following for the transcription</td>
              <td class="weight--semibold"><%= @freereg1_csv_file.credit_name %></td>
            </tr>
            <tr>
              <td>Email address for the person who has been credited </td>
              <td class="weight--semibold"><%= @freereg1_csv_file.credit_email %></td>
            </tr>
            <tr>
              <td>First set of comments about the batch </td>
              <td class="weight--semibold"><%= @freereg1_csv_file.first_comment %></td>
            </tr>
            <tr>
              <td>Second set of comments about the batch </td>
              <td class="weight--semibold">    <%= @freereg1_csv_file.second_comment %></td>
            </tr>
            <tr>
              <td>Date transcribed </td>
              <td class="weight--semibold">  <%= @freereg1_csv_file.transcription_date %></td>
            </tr>
            <tr>
              <td>Date modified</td>
              <td class="weight--semibold"><%= @freereg1_csv_file.modification_date %></td>
            </tr>
            <tr>
              <td>Image numbers available with record</td>
              <td class="weight--semibold">  <%= @freereg1_csv_file.lds %> </td>
            </tr>
            <tr>
              <td>Character set of original file</td>
              <td class="weight--semibold"><%= @freereg1_csv_file.characterset %></td>
            </tr>
            <tr>
              <td>Processed (No means that it was only verified for errors and its contents are NOT in the searchable database)</td>
              <td class="weight--semibold"><%= transform_boolean(@freereg1_csv_file.processed) %></td>
            </tr>
            <tr>
              <td>Processed Date</td>
              <td class="weight--semibold"><%= look_up_processed_date(@freereg1_csv_file) %></td>
            </tr>
            <tr>
              <td>Flexible CSV Used</td>
              <td class="weight--semibold"><%= transform_boolean(@freereg1_csv_file.def) %></td>
            </tr>
            <tr>
              <td>Column Order</td>
              <td class="weight--semibold"><%= @freereg1_csv_file.order %></td>
            </tr>
            <tr>
              <td>Ucf entries</td>
              <td >
                <% if @freereg1_csv_file.ucf_list.present? %>
                  <% @freereg1_csv_file.ucf_list.each do |record| %>
                    <%= file_format_ucf_list(record) %><br>
                  <% end%>
                <% else%>
                  None
                <% end%>
              </td>
            </tr>
          </table>
        </div>
      </section>
    </div>
    <br>