<p id="notice"><%= notice %></p>
<p>Showing  file:<b><%= @freereg1_csv_file_name %></b> </p>
<div style="float:left;"> <%= button_to 'Edit file', edit_freereg1_csv_file_path(@freereg1_csv_file), method: :get %></div>
<div style="float:left;"> <%= button_to 'Back to File options', freereg1_csv_files_path(:anchor => "#{ @freereg1_csv_file.id}"), method: :get %></div>
<div  style="float:left;"> <%= button_to 'Back to my Resource Management options', manage_resource_path(session[:user]), method: :get %> </div>
<div style="clear:both;"> </div><br>
<p>
  <b>County:</b>
  <%= @freereg1_csv_file.county %>
</p>

<p>
  <b>Place:</b>
  <%= @freereg1_csv_file.place %>
</p>

<p>
  <b>Church:</b>
  <%= @freereg1_csv_file.church_name %>
</p>

<p>
  <b>Register type:</b>
  <%= @freereg1_csv_file.register_type %>
</p>


<p>
  <b>Record type:</b>
  <%= @freereg1_csv_file.record_type %>
</p>

<p>
  <b>Records:</b>
  <%= @freereg1_csv_file.records %>
</p>

<p>
  <b>Minimum Year:</b>
  <%= @freereg1_csv_file.datemin %>
</p>

<p>
  <b>Maximum year:</b>
  <%= @freereg1_csv_file.datemax %>
</p>

<p>
  <b>Data range:</b>
  <%= @freereg1_csv_file.daterange %>
</p>

<p>
  <b>UserID:</b>
  <%= @freereg1_csv_file.userid %>
</p>
<p>
  <b>File name:</b>
  <%= @freereg1_csv_file.file_name %>
</p>

<p>
  <b>Transcriber name:</b>
  <%= @freereg1_csv_file.transcriber_name %>
</p>

<p>
  <b>Transcriber email:</b>
  <%= @freereg1_csv_file.transcriber_email %>
</p>

<p>
  <b>Transcriber syndicate:</b>
  <%= @freereg1_csv_file.transcriber_syndicate %>
</p>
<p>
  <b>Uploaded:</b>
<%= @freereg1_csv_file.uploaded_date.strftime("%d %b %Y") %>
</p>
<p>
  <b>Errors:</b>
<%= @freereg1_csv_file.error %>
</p>
<p>
  <b>Locked:</b>
<%= @freereg1_csv_file.locked %>
</p>
<p>
  <b>Credit name:</b>
  <%= @freereg1_csv_file.credit_name %>
</p>

<p>
  <b>Credit email:</b>
  <%= @freereg1_csv_file.credit_email %>
</p>

<p>
  <b>First comment:</b>
  <%= @freereg1_csv_file.first_comment %>
</p>

<p>
  <b>Second comment:</b>
  <%= @freereg1_csv_file.second_comment %>
</p>

<p>
  <b>Transcription date:</b>
  <%= @freereg1_csv_file.transcription_date %>
</p>

<p>
  <b>Modification date:</b>
  <%= @freereg1_csv_file.modification_date %>
</p>

<p>
  <b>LDS:</b>
  <%= @freereg1_csv_file.lds %>
</p>

<p>
  <b>Character set:</b>
  <%= @freereg1_csv_file.characterset %>
</p>
 <br>

<div style="float:left;"> <%= button_to 'Edit this file', edit_freereg1_csv_file_path(@freereg1_csv_file), method: :get %></div>
<div style="float:left;"> <%= button_to 'Back to File options', freereg1_csv_files_path(:anchor => "#{ @freereg1_csv_file.id}"), method: :get %></div>
<div  style="float:left;"> <%= button_to 'Back to my Resource Management options', manage_resource_path(session[:user]), method: :get %> </div>
<div style="clear:both;"> </div><br>