<div style="clear:both;"></div><br>
<center><b><%= @is_image[:image_set] %>_<%= @is_image[:seq] %>.jpg</b></center>

<section class="island  island--light">
<div class="grid">
<%= simple_form_for @is_image do |s| %>
  <%= s.input :is_source_id, :as=>:select, :collection=>@source_ig.invert.sort, :label=>'Re-sssign the image to Image Group', :multiple=>true, :include_blank=>false, :input_html=>{:class => "simple_form_bgcolour simple_form_position", :size => 3} %>
	<%= s.hidden_field :id, :value=>@is_image[:_id] %>
	<%= s.hidden_field :seq, :value=>@is_image[:seq] %>
  <%= s.button :submit, 'Submit' %>
<% end %>
</div>
</section>