<% breadcrumb :show_image, @county, @place, @church, @register %>

<div style="clear:both;"></div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %><% flash[:notice] = nil%><br>
  </div>
<% end %>

<section class="island ">
  <div class="grid__item ">
    <%= simple_form_for @is_image do |s| %>
      <%= s.input :is_source_id, :as=>:select, :collection=>@source_ig.invert.sort, :label=>'Re-sssign the image to Image Group', :multiple=>true, :include_blank=>false, :input_html=>{:class => "simple_form_bgcolour simple_form_position", :size => 3} %>
      <%= s.input :seq, :as=>:check_boxes, :collection=>@images.invert.sort, :label=>'Images in IG "'+@is_source.ig+'"', :label_html=>{}, :item_label_class=>"collection_check_boxes", :include_blank=>false, :input_html=>{:class=>"simple_form_position"} %>

      <%= s.hidden_field :is_source_id, :value=>s.object.is_source_id %>
      <%= s.button :submit, 'Submit' %>
    <% end %>        
  </div>
</section>
