<b>Listing of saved searches</b>
<table>
  <thead>
    <th>
      Query
    </th>
    <th>Last Run</th>
    <th>Last Results</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <% get_user_info_from_userid%>
    <%@user.search_queries.each do |query| %>
    <tr>
      <td>
        <% search_params_for_display(query).each do |name, value| %>
        <%= name %>: <strong><%= value %></strong><br />
        <% end %>
      </td>
      <td><%= "#{time_ago_in_words(query.updated_at)} ago" %></td>
      <td><%= query.result_count %></td>
      <td>
        <%= button_to("Run", search_query_path(query), :method=>:get)%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render "resource_sidebar" %>
