<div class="grid push-half--sides" id="donate_reminder_form">
    <div class="container hard--left">
        <div class="grid__item desk-one-whole lap-one-whole palm-one-whole " style="width:95%">
            <% if @reminder_to_donate.present? && (@reminder_to_donate.errors.present? || @reminder_to_donate.errors.any?) %>
                <div role="alert">
                    <fieldset class="input">
                        <legend>Error List</legend>
                        <h2 class="gamma">Please fix the following error and resubmit</h2>
                        <ol class="validation-list">
                            <% @reminder_to_donate.errors.messages.each do |key, msg| %>
                                <li>
                                    <%= msg[0] %>
                                </li>
                            <% end %>
                        </ol>
                    </fieldset>
                </div>
            <% end %>
            
            <%=  form_tag("/reminder_to_donate#{(@reminder_to_donate)}", method: :post) do %>
              <div class="grid__item desk-one-whole lap-one-whole palm-one-whole hard--left" id="">
                  <fieldset class="input" id="remind_me_later_form">
                      <legend>Remind me later form:</legend>
                      <h3>Send me a reminder</h3>
                      <div class="grid__item desk-one-whole lap-one-whole palm-one-whole">
                          <%= label_tag 'name', 'Name'%>
                          <%= text_field_tag 'reminder_to_donate[name]', nil, tabindex: "0", class: "text-input" %>
                      </div>
                      <div class="grid__item desk-one-whole lap-one-whole palm-one-whole">
                          <%= label_tag 'email', 'Email Address'%>
                          <%= email_field_tag 'reminder_to_donate[email]', nil, tabindex: "0", class: "text-input" %>
                      </div>
                      <div class="grid__item desk-one-whole lap-one-whole palm-one-whole">
                        <div class="grid__item desk-one-half lap-one-half palm-one-whole">
                          <%= submit_tag "Submit", class: 'spinner-controller ladda-button' , id: 'submit_reminder', data: {style: "zoom-out", color: appname_downcase, size: "s", "spinner-color" => "#ffffff"} %>
                        </div>
                      <% if current_page?('/') || current_page?('/search_queries/new') %>
                        <div class="grid__item desk-one-half lap-one-half palm-one-whole" style="height:30px">
                            <%= button_tag type: 'button', class:"btn btn--small", id: "close_reminder_form" do %>
                            <i class="fa fa-times"  tabindex="0"></i>
                            <% end %>
                        </div>
                      <% end %>
                      </div>
                  </fieldset>
              </div>
            <% end %>
        </div>
    </div>
</div>
<script>
  //js code to close search criteria
  $('#close_reminder_form').click(
    function() {
     $('#reminder_to_donate_form').hide();
     document.getElementById("overlay").style.display = "none";
  });
</script>