<% unless session[:userid].nil?%>
  <div style='text-align: center'>
    <%= link_to 'Create New GAP', new_gap_path(register: @register), method: :get, :class => 'btn  btn--small'  %>
  </div>
  <div style='clear:both;'> </div>
  <br>
<% end %>
<div class='scrollable'>
  <div style='overflow: hidden;'>
    <table class=' table--bordered my-width table--data table--striped just--left'>
      <thead>
        <tr>
          <th class='sticky-header'>Action</th>
          <th class='sticky-header'>Record Type</th>
          <th class='sticky-header'>Start Date</th>
          <th class='sticky-header'>End Date</th>
          <th class='sticky-header'>Reason</th>
          <th class='sticky-header'>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% @gaps.each do |x| %>
          <tr>
            <td>
              <%= link_to 'SH', gap_path(x, register: @register), :title=>'show GAP properties' %>
              <%= link_to 'ED', edit_gap_path(x, register: @register), :title=>'edit image group properties' %>
              <%= link_to 'DE', gap_path(x, register: @register), :title=>'delete gap', data: { confirm: 'Are you sure you want to delete?'}, method: :delete %>
            </td>
            <td><%= x.record_type %>&nbsp;</td>
            <td ><%= x.start_date %>&nbsp;</td>
            <td><%= x.end_date %>&nbsp;</td>
            <td><%= x.reason %>&nbsp;</td>
            <td><%= x.note %>&nbsp;</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id='task-form' style='display:none;'></div>
</div>