<ul>
  <% if ::Refinery::Plugins.active.names.include?("refinery_pages") %>
    <li>
      <%= link_to t('.add_a_new_page'),
                  refinery.new_admin_page_path,
                  :class => "add_icon" %>
    </li>
    <li>
      <%= link_to t('.update_a_page'),
                  refinery.admin_pages_path,
                  :class => "edit_icon" %>
    </li>
  <% end %>
  <% if ::Refinery::Plugins.active.names.include?("refinery_files") %>
    <li>
      <%= link_to t('.upload_a_file'),
                  refinery.new_admin_resource_path(:dialog => true,
                                         :width => 600,
                                         :height => 300),
                  :class => "add_icon" %>
    </li>
  <% end %>
  <% if ::Refinery::Plugins.active.names.include?("refinery_images") %>
    <li>
      <%= link_to t('.upload_a_image'),
                  refinery.new_admin_image_path(:dialog => true,
                                      :width => 600,
                                      :height => 300),
                  :class => "add_icon" %>
    </li>
   
  <% end %>
  <li>

  <%= link_to "Freereg Administration Tools", "/manage_resources" %>


   </li>

 
</ul>

