<div style="text-align: center">
  <%= render 'flash_notice' %>
</div>
<div class="scrollable ">
  <table class="table--bordered table--data just--left table--striped">
    <thead >
      <tr>
        <th class='sticky-header '>Year</th>
        <th class='sticky-header '>District</th>
        <th class='sticky-header '>tnaid</th>
        <th class='sticky-header '>Type</th>
        <th class='sticky-header '>Code</th>
        <th class='sticky-header t25'>Notes</th>
        <th colspan = "2" class='sticky-header t15'>Actions</th>
      </tr>
    </thead>
    <tbody >
      <% @freecen2_districts.each do |freecen2_district| %>
        <tr id="<%=freecen2_district.name%>">
          <td ><%= freecen2_district.year %></td>
          <td ><%= freecen2_district.name %></td>
          <td ><%= tna(freecen2_district.tnaid) %></td>
          <td ><%= freecen2_district.type %></td>
          <td ><%= freecen2_district.code %></td>
          <td class='t25'><%= freecen2_district.notes %></td>
          <td class='t15'><%= link_to 'Show', freecen2_district_path(freecen2_district, type: @type) , :class => "btn   btn--small"%>
            <%= link_to 'Edit', edit_freecen2_district_path(freecen2_district, type: @type) , :class => "btn   btn--small"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>