<h2 style="text-align: center">Details of FreeCen2 District:- <%= @freecen2_district.name%> in <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) </h2>
<%= render 'flash_notice' %>
<h3 style="text-align: center"> Name changes will normally be done with the Edit District Name action and extremely rarely using the main Edit action</h3>
<% if %w[county_coordinator master_county_coordinator country_coordinator data_manager executive_director system_administrator].include?(@user.person_role)%>
  <div style="text-align: center">
    <%= link_to 'Edit District', edit_freecen2_district_path(@freecen2_district, type: @type), data: { confirm: 'Are you sure?' }, :class => "btn   btn--small", title: 'Edit of all fields; note the edit of a district name functions as a merge of this District into another District'%>
  </div>
<% end%>
<% if %w[data_manager system_administrator].include?(@user.person_role)%>
  <div style="text-align: center">
    <%= link_to 'Edit District Name', edit_name_freecen2_district_path(@freecen2_district, type: @type), data: { confirm: 'Are you sure?' }, :class => "btn   btn--small", title: 'Edit of the name allows a correction but will NOT permit a rename to a district with the new name'%>
    <%= link_to 'Copy District', copy_freecen2_district_path(@freecen2_district, type: @type), data: { confirm: 'Are you sure?' }, :class => "btn   btn--small", title: 'Copy is restricted to data managers and system administrators'%>
    <%= link_to 'Add Piece', new_freecen2_piece_path(district: @freecen2_district.id, type: @type), data: { confirm: 'Are you sure?' }, :class => "btn   btn--small", title: 'Adding a Piece is restricted to data managers and system administrators'%>
    <%= link_to 'Delete District', freecen2_district_path(@freecen2_district), method: :delete, data: { confirm: 'Are you sure you want to destroy this District.? It will not happen if there are dependants!' } , :class => "btn  btn--small"%>
    <%= link_to 'Force Delete District', force_freecen2_district_path(@freecen2_district), method: :delete, data: { confirm: 'Are you sure you want to destroy this District and all its dependants!' } , :class => "btn  btn--small"%>
  </div>
<% end%>