<% breadcrumb :edit_freecen2_district,  @freecen2_district.id, @freecen2_district.chapman_code, @freecen2_district.year %>
<h2 style="text-align: center">Edit FreeCen2 District:- <%= @freecen2_district.name%> for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) in <%= @freecen2_district.year%></h2>
<%= render 'flash_notice' %>
<h3 style="text-align: center"> Name changes will normally be done with the Edit District Name action and extremely rarely using the main Edit action</h3>
<h4 style="text-align: center"> Before changing the Place to match an existing Place consider if it would be better to add a new Place with this name and appropriate geographic coordinates</h4>
<%= render 'form' %>
<br>