  <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %>  



     
    <div >

    <%= simple_form_for @freecen_parms, html: { :multipart => true ,:class => "grid"} do |f| %>


     <%= f.input :parmsfile, :label => "Please select the .CSV file to upload", :hint => "Locate the file on your device." %><br>

     <%= f.input :wait, {:as => :select,  :collection => [true,false],:include_blank => false,:label => "Do you wish to wait for file to be processed  (You may have to wait a few minutes if selecting true):", :size => 5}   %><br>
    
    <%= f.button :submit, 'Upload'   %>
     <% end %>
    </div>
   