<% # setup params for various action links
  edit_url ||=  refinery.edit_authentication_devise_admin_user_path(user)
  delete_url ||= refinery.authentication_devise_admin_user_path(user)
  delete_options ||= {
     method: :delete,
     class: "cancel confirm-delete",
            data: {confirm: t('message',  scope: 'refinery.authentication.devise.delete', title: user.username)}
          }
%>
<li id="sortable_<%= user.id %>" class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <strong><%= user.username %></strong>
    <span class="preview">
      <%= t('.preview', :who => user.email, :created_at => l(user.created_at, :format => :short)) %>
    </span>
  </span>
  <span class='actions'>
    <%= mail_to user.email, '', class: 'email_icon' %>
    <%= action_icon(:edit, edit_url ,  t('edit',   scope: 'refinery.authentication.devise.admin.users' ) ) if current_refinery_user.can_edit?(user) %>
    <%= action_icon(:delete, delete_url, t('delete', scope: 'refinery.authentication.devise.admin.users' ), delete_options ) if current_refinery_user.can_delete?(user) %>
  </span>
</li>