<div id="postems_div">
  <div class="grid__item two-thirds lap-two-thirds palm-one-whole push--bottom hard--left push--top">
    <h4 id="display_postems">Postems</h4>
    <p>Do you know more about the people or event in this record that you are willing to share with other researchers? We call these helpful additions to the database 'postems'. For example, you you know a more precise place or other details from a certificate or from a search of FreeREG, or more about the family from a search on FreeCEN, or have found other records about them in another country's registration system. Contribute what you know</p>
    <% if @current_record.postems_list.present? %>
      <p>Below are the list of postems</p>
      <table class="table--bordered table--data">
        <thead>
          <th>Date</th>
          <th>Postem</th>
        </thead>
        <tbody>
          <% @current_record.postems_list.each do |postem|%>
            <tr>
              <td>
                <%= DateTime.strptime("#{postem.Created}",'%s').to_date if postem.Created.present?%>
              </td>
              <td>
                <%= auto_link(postem.Information, :html => { :target => '_blank' }) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end%>
    <p id="create_postem">Add a postem</p>
    <div class="create_postem_div">
      <%= semantic_form_for(@new_postem) do |f| %>
        <%= f.hidden_field('honeypot', value: @new_postem[:honeypot])%>
        <%= f.hidden_field('Hash', value: @new_postem.Hash) %>
        <%= hidden_field_tag('search_query', @search_query.id) if @search %>
        <ol class="grid">
          <li class="grid__item desk-wide-three-quarters desk-three-quarters lap-three-quarters palm-one-whole push--bottom">
            <%= text_area_tag 'postem[Information]', nil, rows: 7, style: 'width: 100%'%>
          </li>
          <li class="grid__item desk-wide-one-whole desk-one-whole lap-one-whole palm-one-whole">
            <%= button_tag 'Add Postem', type: :submit, class: 'ladda-button kittumani' , id: 'postem_form_submit', data: {style: "contract" , color: appname.downcase, size: "s", "spinner-color" => "#ffffff"}%>
          </li>
        </ol>
      <% end %>
    </div>
  </div>
</div>