<script>
    document.getElementById("citation-toggle").addEventListener("click", citationToggle);
    /*Hide citation blocks unless citation type is selected*/
     const citations = ['wikitree_inline', 'wikitree_ref', 'familytree', 'evidence_explained', 'wikipedia'];
    function hide_citation_block(cite){
      cite_element =  document.getElementById(`${cite}_citation_container`);
      if (cite_element) {
        cite_element.style.display = "none";
      }
    }
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function citationToggle() {
      var x = document.getElementById("citation-dropdown");
      //var y = document.getElementById('wikitree_citation_container');
      citations.forEach(hide_citation_block);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    window.addEventListener("load", function(){
        const no_javascript_elements = document.getElementsByClassName("no-javascript");
        const javascript_elements = document.getElementsByClassName("javascript");

        for(let i = 0; i < no_javascript_elements.length; i++){
            no_javascript_elements[i].remove();
        }
        for(let i = 0; i < javascript_elements.length; i++){
            javascript_elements[i].style.display = "block";
        }
        //if(!document.getElementById("citation_section")){
            document.getElementById("citation-dropdown").style.display = "none";
        //}
    })
    function copy(elm) {
        var button = event.currentTarget || event.srcElement;
        var btnText = button.innerHTML;
        var target = document.getElementById(elm);
        var citation = target.querySelectorAll('.citation_container')[0];
        var range, select;
        if (document.createRange) {
            range = document.createRange();
            range.selectNode(citation);
            select = window.getSelection();
            select.removeAllRanges();
            select.addRange(range);
            document.execCommand('copy');
            select.removeAllRanges();
        } else {
            range = document.body.createTextRange();
            range.moveToElementText(citation);
            range.select();
            document.execCommand('copy');
        }
        button.innerHTML = "Copied"
        setTimeout(function(){
            button.innerHTML = btnText;
        }, 1000);
    }
</script>
<style type="text/css">
  .citation_container {border: 1px solid black; padding: 5px;}
</style>
<table class="table--bordered table--data">
  <caption class="accessibility">Entry Information about <%= "#{record.GivenName} #{record.Surname}"%>  </caption>
  <tbody>
    <% record_type = RecordType::display_name(record.RecordTypeID)%>
    <tr>
      <th scope="row">
        Event Type
      </th>
      <td>
        <%= "#{record_type}" %>
      </td>
    </tr>
    <% if record.QuarterNumber <  Constant::EVENT_QUARTER_TO_YEAR %>
      <tr>
        <th scope="row">
          Date
        </th>
        <td>
          <%= format_quarter(record.QuarterNumber) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">
        District
      </th>
      <td>
        <% district = District.where(DistrictNumber: record[:DistrictNumber]).first %>
        <% if district.present? %>
          <% if @search %>
            <%= link_to "#{record[:District]}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber, entry_id: record[:RecordNumber], search_id: search_id) %>
            <%= "(recorded as #{record[:District]} not #{district.DistrictName})" if record[:District].strip != district.DistrictName.strip %>
          <% else%>
            <%= link_to "#{record[:District]}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber)%>
          <% end %>
        <% else %>
          <%= record.display_district_name %>
        <% end %>
        <% if record.District.blank? %>
          <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
        <% end %>
      </td>
    </tr>
    <% if entry_type == "marriage" %>
    	<tr>
	      <th scope="row">
	        <%= mother_or_spouse_surname(record_type)%>
	      </th>
	      <td>
	      	<% if search && record.AssociateName.present? %>
            <% if @search %>
	        	  <%= link_to "#{record.AssociateName}", show_marriage_details_path(entry_id: record.RecordNumber, search_id: search_id) %><br>
            <% else %>
              <%= link_to "#{record.AssociateName}", show_marriage_details_non_search_path(entry_id: record.RecordNumber) %><br>
            <% end %>
	        	<span class="weight--normal"><%= "(#{ApplicationText::VIEW_MARRIAGE_TEXT})" %></span>
	        <% else %>
	        	<%= record.AssociateName %>
	        <% end %>
          <% if record.AssociateName.blank? %>
            <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
          <% end %>
	      </td>
    	</tr>
    <% end %>
    <% unless entry_type == "death" %>
    	<tr>
	      <th scope="row">
	        <%= mother_or_spouse_surname(record_type)%>
	      </th>
	      <td>
	        <%= record.AssociateName %>
          <% if record.AssociateName.blank? %>
            <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
          <% end %>
	      </td>
    	</tr>
      <tr>
        <th scope="row">
          Date of birth
        </th>
        <td>
          <%= record.AgeAtDeath %>
        </td>
      </tr>
    <% end %>
    <% if entry_type == "death" %>
      <tr>
        <th scope="row">
          Age at death
        </th>
        <td>
          <%= record.AgeAtDeath %>
        </td>
      </tr>
    <% end %>
    <% unless entry_type == "marriage" %>
      <tr>
        <th scope="row">
          <%= age_at_death_or_date_of_birth(record_type)%>
        </th>
        <td>
          <%= record.AgeAtDeath %>
          <% if record.AgeAtDeath.blank? %>
            <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">
        Volume
      </th>
      <td>
        <%= "#{ record.Volume }" %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Page
      </th>
      <td>
        <% unless record.Page.to_i == 0 %>
          <% if @search %>
            <%= render partial: 'page_records_navigation_search', locals: {record: record, search_id: search_id, original_record: original_record} %>
          <% end %>
          <% if params[:saved_record] %>
            <%= render partial: 'page_records_navigation_saved', locals: {record: record, search_id: search_id, original_record: original_record} %>
          <% end %>
        <% else%>
          <%= record.Page %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Transcriber
      </th>
      <td>
        <%= record.transcribers.join(', ') if record.transcribers.present? %>
        <% if record.transcribers.blank? %>
          <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Persistent URL for entry
      </th>
      <td>
        <% url = 'https://www.freebmd.org.uk/entry-information/'+record.record_hash+'/hash' %>
        <a class="pUrl" href="<%= url %>"><%= url %></a>
        <a class="btn btn--small" href="#" onclick=copy("pUrl") style="cursor: pointer">Copy URL</a>
      </td>
    </tr>
    <% if search == true %>
      <% unless (record.Confirmed & 512).zero? %>
        <tr>
          <th scope="row">
            Linked records
          </th>
          <td>
             <%= link_to "View linked record", show_reference_entry_path(entry_id: record.RecordNumber, search_id: search_id) %><br>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if record.get_comments.present? %>
      <tr>
        <th scope="row">
          Comment
        </th>
        <%  record.get_comments.each do |cl| %>
          <td>
            <%= cl.comment.CommentText %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% unless search %>
      <% if type == "reference" %>
        <tr>
          <th scope="row">
            Help Text
          </th>
          <td>
            <% case %>
            <% when record.reference_entry_description_text_display? %>
              <%= ApplicationText::LATE_ENTRY_TEXT_WITH_REFERENCE %>
            <% when !original_record.late_entry_description_text_display?%>
              <%= ApplicationText::REFERENCE_ENTRY_TEXT %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if search %>
      <% event_registered = record.event_registration %>
      <% if event_registered.present?%>
        <tr>
          <th scope="row">
            Registered
          </th>
          <td >
            <%= format_registered(event_registered, record.QuarterNumber) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if search %>
      <tr>
        <th scope="row">
          More Information
        </th>
        <td class="project-text-color">
          <%= render partial: 'more_information' %>
        </td>
      </tr>
    <% end %>
    <%# if more_info %>
      <!--td  colspan=2>
        <%# if  search %>
          <%#= link_to 'Complete Details', friendly_bmd_record_details_path(@search_id, record.id, record.friendly_url, search_entry: record), :rel => "nofollow", :title => "", class: 'btn btn--natural'%>
        <%# else %>
          <%#= link_to 'Complete Details', friendly_bmd_record_details_non_search_path(record.id, record.friendly_url, search_entry: record), class: 'btn btn--natural'%>
        <%# end %>
      </td-->
    <%# end %>
  </tbody>
</table>
<%#= link_to 'Report an Error in this Data', report_error_contact_path(record.RecordNumber, query: query), class: 'btn btn--natural' unless  record.blank? %>
