<script>
    document.getElementById("citation-toggle").addEventListener("click", citationToggle);
    /*Hide citation blocks unless citation type is selected*/
     const citations = ['compact_text', 'wikitree_inline', 'wikitree_ref', 'familytree', 'evidence_explained', 'wikipedia'];
    function hide_citation_block(cite){
      cite_element =  document.getElementById(`${cite}_citation_container`);
      if (cite_element) {
        cite_element.style.display = "none";
      }
    }
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function citationToggle() {
      var x = document.getElementById("citation-dropdown");
      //var y = document.getElementById('wikitree_citation_container');
      citations.forEach(hide_citation_block);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    window.addEventListener("load", function(){
        const no_javascript_elements = document.getElementsByClassName("no-javascript");
        const javascript_elements = document.getElementsByClassName("javascript");

        for(let i = 0; i < no_javascript_elements.length; i++){
            no_javascript_elements[i].remove();
        }
        for(let i = 0; i < javascript_elements.length; i++){
            javascript_elements[i].style.display = "block";
        }
        //if(!document.getElementById("citation_section")){
            document.getElementById("citation-dropdown").style.display = "none";
        //}
    })
    function urlCopy(elm, btn) {
        var button = document.getElementById(btn);
        var btnText = button.innerHTML;
        var target = document.getElementById(elm).innerHTML;
        navigator.clipboard.writeText(target);
        button.innerHTML = "Copied"
        setTimeout(function(){
            button.innerHTML = btnText;
        }, 1000);
    }

    function copy(elm) {
        var button = event.currentTarget || event.srcElement;
        var btnText = button.innerHTML;
        var target = document.getElementById(elm);
        var citation = target.querySelectorAll('.citation_container')[0];
        var range, select;
        if (document.createRange) {
            range = document.createRange();
            range.selectNode(citation);
            select = window.getSelection();
            select.removeAllRanges();
            select.addRange(range);
            document.execCommand('copy');
            select.removeAllRanges();
        } else {
            range = document.body.createTextRange();
            range.moveToElementText(citation);
            range.select();
            document.execCommand('copy');
        }
        button.innerHTML = "Copied"
        setTimeout(function(){
            button.innerHTML = btnText;
        }, 1000);
    }
</script>
<style type="text/css">
  .citation_container {border: 1px solid black; padding: 5px;}
  .table--left-aligned th {width: 200px; text-align: left !important; padding-left: 20px !important;}
  .table--left-aligned td {text-align: left !important; padding-left: 20px !important;}
</style>
<table class="table--bordered table--data table--left-aligned">
  <caption class="accessibility">Entry Information about <%= "#{record.GivenName} #{record.Surname}"%>  </caption>
  <tbody>
    <% record_type = RecordType::display_name(record.RecordTypeID)%>
    <tr>
      <th scope="row">
        Surname
      </th>
      <td>
        <%= record.Surname %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Given Name
      </th>
      <td>
        <%= record.GivenName %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Record Type
      </th>
      <td>
        <%= "#{record_type}".capitalize %>
      </td>
    </tr>
    <%# unless record.post_1994_marriage? %>
      <tr>
        <th scope="row">
          Registration Date
        </th>
        <td>
          <%= format_quarter_year(record.QuarterNumber) %>
        </td>
      </tr>
    <%# end %>
    <% if entry_type == "birth" %>
      <tr>
        <th scope="row">
          Mother's Maiden Name
        </th>
        <td>
          <% if record.AssociateName.present? %>
            <%= record.AssociateName %>
          <% else %>
            <%= 'No data' %>
            <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
          <% end %>
        </td>
      </tr>
    <% end%>
    <% if entry_type == "death" %>
      <tr>
        <th scope="row">
          <% if record.AgeAtDeath.present? && record.AgeAtDeath.to_i.to_s == record.AgeAtDeath %>
            Age at Death
          <% else %>
            Date of Birth
          <% end %>
        </th>
        <td>
          <%= record.AgeAtDeath %>
          <% if record.AgeAtDeath.blank? %>
            <%= 'No data' %>
            <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if entry_type == "marriage" %>
      <% if @spouse_record.present? %>
        <tr>
          <th scope="row">
            Spouse Name
          </th>
          <td>
            <% type ||= "general" %>
            <% if @search && type != "marriages" %>
              <%= link_to "#{record.get_spouse_record.GivenName} #{record.get_spouse_record.Surname.upcase}", show_marriage_details_path(entry_id: record.RecordNumber, search_id: search_id) %><br>
            <% elsif type == "marriages" %>
              <%= "#{record.get_spouse_record.GivenName} #{record.get_spouse_record.Surname.upcase}" %><br>
            <% else %>
              <%= link_to "#{record.get_spouse_record.GivenName} #{record.get_spouse_record.Surname.upcase}", show_marriage_details_non_search_path(entry_id: record.RecordNumber) %><br>
            <% end %>
            <% if type != "marriages" %>
              <span class="weight--normal"><%= "(#{ApplicationText::VIEW_MARRIAGE_TEXT})" %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if !record.AssociateName.present? %>
        <tr>
          <th scope="row">Entries on page <%= record.Page %></th>
          <td>
            <%= render partial: 'best_guess/same_page_block', locals: {record: @current_record} %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <th scope="row">
        District
      </th>
      <td>
        <% district = District.where(DistrictNumber: record[:DistrictNumber]).first %>
        <% if district.present? %>
          <% if @search %>
            <%= district_link_or_name_id(district, record, search_id) %>
          <% else%>
            <%= link_to "#{record[:District]}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber)%>
          <% end %>
        <% else %>
          <%= record.display_district_name %>
        <% end %>
        <% if record.District.blank? %>
          <%= 'No data' %>
          <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
        <% end %>
        <% if record.district_misspelt or record.district_invented or record.bad_date_for_district or record[:District].strip.downcase != district.DistrictName.strip.downcase %>
          <a class="footnote-link" id="link-to-district-query" href="#district-query">
            [district query] <span class="accessibility">potential issue with this District name</span>
          </a>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Volume
      </th>
      <td>
        <%= "#{ record.Volume }" %>
        <% if record.bad_volume_for_district %>
          <a class="footnote-link" id="link-to-volume-query" href="#volume-query">
            [volume query] <span class="accessibility">potential issue with this volume number</span>
          </a>
        <% end %>
      </td>
    </tr>
    <% unless record.register_entry_number_format %>
      <tr>
        <th scope="row">
          Page
        </th>
        <td>
          <% unless record.Page.to_i == 0 %>
            <% if @search %>
              <%= render partial: 'page_records_navigation_search', locals: {record: record, search_id: search_id, original_record: original_record} %>
              <span class="weight--normal"><%= "(#{ApplicationText::SAME_PAGE_ENTRIES_TEXT})" %></span>
              <% end %>
            <% if @hash %>
              <%= record.Page %>
            <% end %>
            <% if params[:saved_record] %>
              <%= render partial: 'page_records_navigation_saved', locals: {record: @current_record, original_record: @original_record} %>
              <span class="weight--normal"><%= "(#{ApplicationText::SAME_PAGE_ENTRIES_TEXT})" %></span>
              <% end %>
          <% else%>
            <%= record.Page %>
          <% end %>
          <% if record.bad_page_range_for_district or record.page_range_not_checked %>
            <a class="footnote-link" id="link-to-page-query" href="#page-query">
              [page query] <span class="accessibility">potential issue with this page number</span>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %> 
    <% if record.register_entry_number_format %>
      <tr>
        <th scope="row">
          Register number
        </th>
        <td >
          <% event_register_number = record.event_registration_number %>
          <% if event_register_number.present? %>
            <%= event_register_number  %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Entry number
        </th>
        <td>
          <% event_entry_number = record.event_entry_number %>
          <% alternate_names = record.possible_alternate_names.compact.uniq %>
          <% if alternate_names.present? && alternate_names.length > 1  %>
            <% if @page_records.present? %>
              <%= link_to "#{event_entry_number}", same_page_entries_path(volume: record.Volume, page: record.Page, record: record.RecordTypeID, quarter: record.QuarterNumber, district: record.District, search_id: search_id, entry_id: record.RecordNumber) %>
              <span class="weight--normal"><%= "(#{ApplicationText::ALTERNATE_NAMES_TEXT})" %></span>
            <% else %>
              <%= event_entry_number %>
            <% end %>
          <% else %>
            <%= "#{ record.Page }" %>
          <% end %>
        </td>
      </tr>
    <% else %>     
    <% end %>
    <% unless record.post_1994_marriage? %>
      <% if search %>
        <% event_registered = record.event_registration %>
        <% if event_registered.present?%>
          <tr>
            <th scope="row">
              Registered
            </th>
            <td >
              <%= format_registered(event_registered, record.QuarterNumber) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %> 
    <% if entry_type == "marriage" %>
      <% if record.post_1994_marriage? %>
        <% sub = record.get_submission %>
        <% if sub.present? %>
          <tr>
            <th scope="row">
              Entry number
            </th>
            <td>
              <%= record.get_submission.EntryNumber %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              SourceCode
            </th>
            <td>
              <%= record.get_submission.SourceCode %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Registered
            </th>
            <td>
              <%= "#{ QuarterDetails.month_hash_abbreviated[record.get_submission.Registered] } #{ format_quarter_year(record.QuarterNumber)}" %>
            </td>
          </tr>
       <% end %>
      <% end %>
    <% end %>    
    <tr>
      <th scope="row">
        Transcriber
      </th>
      <td>
        <%= record.transcribers.join(', ') if record.transcribers.present? %>
        <% if record.transcribers.blank? %>
          <%= 'No data' %>
          <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
        <% end %>
      </td>
    </tr>
    <% if search == true %>
      <% unless (record.Confirmed & 512).zero? %>
        <tr>
          <th scope="row">
            Linked records
          </th>
          <td>
             <%= link_to "View linked record", show_reference_entry_path(entry_id: record.RecordNumber, search_id: search_id) %><br>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if record.get_comments.present? %>
      <tr>
        <th scope="row">
          Comment
        </th>
        <%  record.get_comments.each do |cl| %>
          <td>
            <%= cl.comment.CommentText %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% unless search %>
      <% if type == "reference" %>
        <tr>
          <th scope="row">
            Help Text
          </th>
          <td>
            <% case %>
            <% when record.reference_entry_description_text_display? %>
              <%= ApplicationText::LATE_ENTRY_TEXT_WITH_REFERENCE %>
            <% when !original_record.late_entry_description_text_display?%>
              <%= ApplicationText::REFERENCE_ENTRY_TEXT %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if type == "general" %>
  <div class='push-half--top'>
    <% if params[:search_id].present? %>
      <div class="grid">
        <div class='grid__item text--center'>
          <%= link_to '<i class="fa fa-chevron-left view_arrow"></i> Previous Result'.html_safe, friendly_bmd_record_details_path(params[:search_id], @previous_record.RecordNumber, @previous_record.friendly_url, search_entry: @previous_record.RecordNumber ), class: 'push-half--right push-half--top push--bottom' unless @previous_record.nil? %>
          <%= link_to 'Next Result <i class="fa fa-chevron-right view_arrow"></i>'.html_safe, friendly_bmd_record_details_path(params[:search_id], @next_record.RecordNumber, @next_record.friendly_url, search_entry: @next_record.RecordNumber), class: 'push-half--right push-half--top push--bottom' unless @next_record.nil?%>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: 'entry_queries', locals: { record: record, district: district } %>
<% end %>
