<style type="text/css">
  .citation_container {border: 1px solid black; padding: 5px;}
</style>
<table class="table--bordered table--data">
  <caption class="accessibility">Entry Information about <%= "#{record.GivenName} #{record.Surname}"%></caption>
  <tbody>
    <% record_type = RecordType::display_name(record.RecordTypeID)%>
    <tr>
      <th scope="row">
        Event Type
      </th>
      <td>
        <%= "#{record_type}" %>
      </td>
    </tr>
    <% if record.QuarterNumber <  Constant::EVENT_QUARTER_TO_YEAR %>
      <tr>
        <th scope="row">
          Date
        </th>
        <td>
          <%= format_quarter(record.QuarterNumber) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">
        District
      </th>
      <td>
        <% district = District.where(DistrictNumber: record[:DistrictNumber]).first %>
        <% if district.present? %>
          <% if @search %>
            <%= link_to "#{record[:District]}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber, entry_id: record[:RecordNumber], search_id: search_id) %>
            <%= "(recorded as #{record[:District]} not #{district.DistrictName})" if record[:District].strip != district.DistrictName.strip %>
          <% else%>
            <%= link_to "#{record[:District]}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber)%>
          <% end %>
        <% else %>
          <%= record.display_district_name %>
        <% end %>
        <% if record.District.blank? %>
          <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
        <% end %>
      </td>
    </tr>
    <% if entry_type == "marriage" %>
    	<tr>
	      <th scope="row">
	        <%= mother_or_spouse_surname(record_type)%>
	      </th>
	      <td>
	      	<% if search && record.AssociateName.present? %>
            <% if @search %>
	        	  <%= link_to "#{record.AssociateName}", show_marriage_details_path(entry_id: record.RecordNumber, search_id: search_id) %><br>
            <% else %>
              <%= link_to "#{record.AssociateName}", show_marriage_details_non_search_path(entry_id: record.RecordNumber) %><br>
            <% end %>
	        	<span class="weight--normal"><%= "(#{ApplicationText::VIEW_MARRIAGE_TEXT})" %></span>
	        <% else %>
	        	<%= record.AssociateName %>
	        <% end %>
          <% if record.AssociateName.blank? %>
            <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
          <% end %>
	      </td>
    	</tr>
    <% end %>
    <% unless entry_type == "death" %>
    	<tr>
	      <th scope="row">
	        <%= mother_or_spouse_surname(record_type)%>
	      </th>
	      <td>
	        <%= record.AssociateName %>
          <% if record.AssociateName.blank? %>
            <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
          <% end %>
	      </td>
    	</tr>
      <tr>
        <th scope="row">
          Date of birth
        </th>
        <td>
          <%= record.AgeAtDeath %>
        </td>
      </tr>
    <% end %>
    <% unless entry_type == "marriage" %>
      <tr>
        <th scope="row">
          <%= age_at_death_or_date_of_birth(record_type)%>
        </th>
        <td>
          <%= record.AgeAtDeath %>
          <% if record.AgeAtDeath.blank? %>
            <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">
        Volume
      </th>
      <td>
        <%= "#{ record.Volume }" %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Page
      </th>
      <td>
        <% unless record.Page.to_i == 0 %>
          <% if @search %>
            <%= render partial: 'page_records_navigation_search', locals: {record: record, search_id: search_id, original_record: original_record} %>
          <% end %>
          <% if params[:saved_record] %>
            <%= render partial: 'page_records_navigation_saved', locals: {record: record, search_id: search_id, original_record: original_record} %>
          <% end %>
        <% else%>
          <%= record.Page %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Transcriber
      </th>
      <td>
        <%= record.transcribers.join(', ') if record.transcribers.present? %>
        <% if record.transcribers.blank? %>
          <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Persistent URL for entry
      </th>
      <td>
        <% url = 'https://www.freebmd.org.uk/entry-information/'+record.record_hash+'/hash' %>
        <a class="pUrl" href="<%= url %>"><%= url %></a>
        <a class="btn btn--small" href="#" onclick=copy("pUrl") style="cursor: pointer">Copy URL</a>
      </td>
    </tr>
    <% if search == true %>
      <% unless (record.Confirmed & 512).zero? %>
        <tr>
          <th scope="row">
            Refers
          </th>
          <td>
             <%= link_to "View Reference Record", show_reference_entry_path(entry_id: record.RecordNumber, search_id: search_id), class: 'new_link_style' %><br>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if record.get_comments.present? %>
      <tr>
        <th scope="row">
          Comment
        </th>
        <%  record.get_comments.each do |cl| %>
          <td>
            <%= cl.comment.CommentText %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% unless search %>
      <% if type == "reference" %>
        <tr>
          <th scope="row">
            Help Text
          </th>
          <td>
            <% case %>
            <% when record.reference_entry_description_text_display? %>
              <%= ApplicationText::LATE_ENTRY_TEXT_WITH_REFERENCE %>
            <% when !original_record.late_entry_description_text_display?%>
              <%= ApplicationText::REFERENCE_ENTRY_TEXT %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if search %>
      <% event_registered = record.event_registration %>
      <% if event_registered.present?%>
        <tr>
          <th scope="row">
            Registered
          </th>
          <td >
            <%= format_registered(event_registered, record.QuarterNumber) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <th scope="row">
        Scan
      </th>
      <td>
        <% if search %>
          <%= link_to "#{friendly_bmd_record_details_path(params[:search_id], @search_record, @search_record.friendly_url, filter_option: '1')}#display_scans" , class: "grid__item one-third lap-one-third palm-one-whole soft-half--ends soft-half--sides table_link scans_link", onclick: "loadSpinner(this)", alt: 'View Scans' do%>
            <%= app_icons[:camera].html_safe %>
            <span class="accessibility">Scans</span>
          <% end %>
        <% else %>
          <%= link_to "#{friendly_bmd_record_details_non_search_path(@search_record, @search_record.friendly_url, filter_option: '1')}#display_scans" , class: "grid__item one-third lap-one-third palm-one-whole soft-half--ends soft-half--sides table_link scans_link", onclick: "loadSpinner(this)", alt: 'View Scans' do%>
            <%= app_icons[:camera].html_safe %>
            <span class="accessibility">Scans</span>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Postem
      </th>
      <td>
        <div class='one-whole' style="display:flex; flex-direction:row; justify-content: space-evenly;">
          <% if @search  %>
            <%= link_to  "#{friendly_bmd_record_details_path(params[:search_id], @search_record, @search_record.friendly_url, filter_option: '2', anchor: "display_postems")}" , class: " grid__item one-third lap-one-third palm-one-whole soft-half--ends soft-half--sides table_link postems_link", onclick: "loadSpinner(this)", alt: 'View Postems' do %>
              <%= app_icons[:postem].html_safe %>
              <span class="accessibility">Postems</span>
            <% end %>
          <% else %>
            <%= link_to "#{friendly_bmd_record_details_non_search_path(@search_record, @search_record.friendly_url, filter_option: '2')}#display_postems" , class: "project-text-color grid__item one-third lap-one-third palm-one-whole soft-half--ends soft-half--sides table_link postems_link", onclick: "loadSpinner(this)", alt: 'View Postems' do %>
              <%= app_icons[:postem].html_safe %>
              <span class="accessibility">Postems</span>
            <% end %>
          <% end %>
          <a href="#create_postem_div" id="create_postem" class="grid__item one-third lap-one-third palm-one-whole soft-half--ends soft-half--sides">Create Postem</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<%#= link_to 'Report an Error in this Data', report_error_contact_path(record.RecordNumber, query: query), class: 'btn btn--natural' unless  record.blank? %>
