<div class="grid">
  <div class="postems">
    <div class="grid__item one-third lap-one-third palm-one-whole ">
      <div class="postems_d">
        <div class="grid">
          <div class="grid__item one-whole lap-one-whole palm-one-whole ">
          	<% if @search  %>
            	<%= link_to  "#{friendly_bmd_record_details_path(params[:search_id], @search_record, @search_record.friendly_url, filter_option: '2')}#display_postems" , class: "project-text-color", onclick: "loadSpinner(this)", alt: 'View Postems' do %>
            		<%= app_icons[:postem].html_safe %>
            		<span class="accessibility">Postems</span>
            	<% end %>
            <% else %>
            	<%= link_to "#{friendly_bmd_record_details_non_search_path(@search_record, @search_record.friendly_url, filter_option: '2')}#display_postems" , class: "project-text-color", onclick: "loadSpinner(this)", alt: 'View Postems' do %>
            		<%= app_icons[:postem].html_safe %>
            		<span class="accessibility">Postems</span>
            	<% end %>
            <% end %>
          </div>
          <div class="grid__item one-whole lap-one-whole palm-one-whole ">
            <span class="postem_text">View Postem</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid__item one-third lap-one-third palm-one-whole ">
    <div class="scan_files">
      <div class="scan_d">
        <div class="grid">
          <div class="grid__item one-whole lap-one-whole palm-one-whole ">
          	<% if @search  %>
            	<%= link_to "#{friendly_bmd_record_details_path(params[:search_id], @search_record, @search_record.friendly_url, filter_option: '1')}#display_scans" , class: "project-text-color", onclick: "loadSpinner(this)", alt: 'View Scans' do%>
            		<%= app_icons[:camera].html_safe %>
            		<span class="accessibility">Scans</span>
            	<% end %>
            <% else %>
            	<%= link_to "#{friendly_bmd_record_details_non_search_path(@search_record, @search_record.friendly_url, filter_option: '1')}#display_scans" , class: "project-text-color", onclick: "loadSpinner(this)", alt: 'View Scans' do%>
            		<%= app_icons[:camera].html_safe %>
            		<span class="accessibility">Scans</span>
            	<% end %>
            <% end %>
          </div>
          <div class="grid__item one-whole lap-one-whole palm-one-whole ">
            <span class="scan_text">View Scan</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if cookies.signed[:userid].present?%>
  	<% unless @user.saved_entry.include?(@search_record.best_guess_hash.Hash)%>
  <%#= raise cookies.signed.inspect%>
		  <div class="idk">
		    <div class="grid__item one-third lap-one-third palm-one-whole ">
		      <div class="idk_d">
		        <div class="grid">
		          <div class="grid__item one-whole lap-one-whole palm-one-whole ">
		            <%= link_to save_entry_path(@search_record.RecordNumber,search_id: params[:search_id]) , method: :post,  disable_with: "Processing..." , alt: 'Save Entry' do%>
            			<%= app_icons[:heart].html_safe %>
            			<span class="accessibility">Save Entry</span>
            		<% end %>
		          </div>
		          <div class="grid__item one-whole lap-one-whole palm-one-whole ">
		            <span class="idk_text">Save Entry</span>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		  <% else %>
		  	<div class="idk">
		    <div class="grid__item one-third lap-one-third palm-one-whole ">
		      <div class="idk_d">
		        <div class="grid">
		          <div class="grid__item one-whole lap-one-whole palm-one-whole ">
		            <%= app_icons[:heart_filled].html_safe %>
		          </div>
		          <div class="grid__item one-whole lap-one-whole palm-one-whole ">
		            <span class="idk_text">You have marked this Entry favourite</span>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		  <% end %>
  <% end %>
</div>

<script>
function loadSpinner(this1)
{
  //alert('asdasd');
  this1.disabled=true; 
  this1.innerHTML='Loading';
}

function loadSaving(this1)
{
  //alert('asdasd');
  this1.disabled=true; 
  this1.innerHTML='Saving';
}
</script>