<table class="table--bordered table--data">
  <caption class="accessibility">Partial Entry Information about <%= "#{record.GivenName} #{record.Surname}"%>  </caption>
  <tbody>
    <% record_type = RecordType::display_name(record.RecordTypeID)%>
    <tr>
      <th scope="row">
        Event Type
      </th>
      <td>
        <%= "#{record_type}" %>
      </td>
    </tr>
    <% if record.QuarterNumber <  Constant::EVENT_QUARTER_TO_YEAR %>
      <tr>
        <th scope="row">
          Date
        </th>
        <td>
          <%= format_quarter(record.QuarterNumber) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">
        District
      </th>
      <td>
        <% if record.District.present? %>
          <%= record.District %>
        <% else %>
        	<span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
        <% end %>
      </td>
    </tr>
    <% if entry_type == "marriage" %>
    	<tr>
	      <th scope="row">
	        <%= mother_or_spouse_surname(record_type)%>
	      </th>
	      <td>
	      	<% if record.AssociateName.present? %>
           	<%= record.AssociateName %>
	        <% else %>
	        	<span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
	        <% end %>
	      </td>
    	</tr>
    <% end %>
    <% if entry_type == "birth" %>
    	<tr>
	      <th scope="row">
	        <%= mother_or_spouse_surname(record_type)%>
	      </th>
	      <td>
	        <% if record.AssociateName.present? %>
           	<%= record.AssociateName %>
	        <% else %>
	        	<span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
	        <% end %>
	      </td>
    	</tr>
    <% end %>
    <tr>
      <th scope="row">
        Volume
      </th>
      <td>
        <%= "#{ record.Volume }" %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Page
      </th>
      <td>
      	<%= record.Page %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        Transcriber
      </th>
      <td>
        <%#= record.transcribers.join(', ') if record.transcribers.present? %>
        <%# if record.transcribers.blank? %>
          <span class="accessibility"><%= "(#{ApplicationText::NO_INFORMATION})" %></span>
        <%# end %>
      </td>
    </tr>
    <% if record.get_comments.present? %>
      <tr>
        <th scope="row">
          Comment
        </th>
        <%  record.get_comments.each do |cl| %>
          <td>
            <%= cl.comment.CommentText %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% if type == "reference" %>
      <tr>
        <th scope="row">
          Help Text
        </th>
        <td>
          <% case %>
          <% when record.reference_entry_description_text_display? %>
            <%= ApplicationText::LATE_ENTRY_TEXT_WITH_REFERENCE %>
          <% when !original_record.late_entry_description_text_display?%>
            <%= ApplicationText::REFERENCE_ENTRY_TEXT %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% registered = record.event_registration %>
    <% if registered.present?%>
      <tr>
        <th scope="row">
          Registered
        </th>
        <td >
          <%= format_registered(registered, record.QuarterNumber) %>
        </td>
      </tr>
    <% end %>
    <td  colspan=2>
      <% if  @search_id.present? %>
        <%= link_to 'Complete Details', friendly_bmd_record_details_path(@search_id, record.id, record.friendly_url), :rel => "nofollow", :title => "", class: 'btn btn--natural'%>
      <% else %>
        <%= link_to 'Complete Details', friendly_bmd_record_details_non_search_path(record.id, record.friendly_url, search_entry: original_record.RecordNumber), class: 'btn btn--natural'%>
      <% end %>
    </td>
  </tbody>
</table>

