<section>
  <div id="wikipedia_citation_container" style="display: none;">
    <% @entry = entry %>
    <h4>Citation (Wikipedia):</h4>
    <p class = "citation_container">{{Cite web|url=<%= 'https://www.freebmd.org.uk/entry-information/'+@entry.record_hash+'/hash' %>|title=<%=appname%> - "GRO Index of <%= format_record_type_for_scan_url(@entry) %>s" database|accessdate=<%=Date.today.strftime("%e %b %Y")%>|work=<%=appname%>|publisher=Free UK Genealogy}}</p>
    <div class = "text--center">
      <button class = "btn  btn--small ", onclick = copy("wikipedia_citation_container") style = "cursor: pointer">Copy</button>
      <button class = "btn  btn--small ", onclick = this.parentElement.parentElement.style.display='none' style = "cursor: pointer">Close</button>
    </div>
</section>