<!--p class="text--right">
  <%#= link_to "New Search", new_search_query_path, :class => "btn   btn--small bordered push-half--right" %>
  <%#= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn   btn--small bordered push-half--right" %>
  <%#= link_to "Printable Format", '#', :class => "btn   btn--small bordered push-half--right"%>
  <--a href="#" id="citation-toggle" class="btn   btn--small bordered push-half--right citation-toggle">Generate Citation</a>
  </p-->
<!--h1 class="title">Entry Information</h1>
<p>Has our search engine found the record you are seeking? The next step is to ordering your certificate ! Click on Ordering Certificates to learn what to do now.</p-->

<%= render 'flash_notice' %>

<% title "Record Details" %>
<%= link_to "#{app_icons[:left_arrow_pink]} Back".html_safe, search_query_path(@search_query, id: params[:search_id]), class: " btn   btn--small" if params[:search_id].present?%>


<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
  <h1 class="accessibility">Entry Information</h1>
  <div class="grid">
    <div class="grid__item seven-tenths lap-seven-tenths palm-one-whole ">
      <p class="alpha push-half--top project-text-color flush--bottom"><strong><%= "Entry Information: #{@search_record[:GivenName].upcase} #{@search_record[:Surname].upcase}" %></strong></p>
      <hr>
      <section>
        <div class="grid__item two-thirds lap-one-whole palm-one-whole hard--left">
          <% record_type = RecordType::display_name(@search_record.RecordTypeID)%>
          <%= render partial: 'entry_information_table', locals: {record: @search_record, search: true, entry_type: record_type.downcase } %>
          <div class='push-half--top'>
            <div class="float--right">
              <% if params[:search_id].present? %>
                <%= link_to '<i class="fa fa-chevron-left view_arrow"></i> Previous Result'.html_safe, friendly_bmd_record_details_path(params[:search_id], @previous_record, @previous_record.friendly_url), class: 'push-half--right push-half--top' unless @previous_record.nil? %>
                <%= link_to 'Next Result <i class="fa fa-chevron-right view_arrow"></i> '.html_safe, friendly_bmd_record_details_path(params[:search_id], @next_record, @next_record.friendly_url), class: 'push-half--right push-half--top' unless @next_record.nil?%>
                <% if @previous_record_of_page.present?%>
                  <%= link_to '<i class="fa fa-chevron-left view_arrow"></i> Previous Entry of Page'.html_safe, friendly_bmd_record_details_path(params[:search_id], @previous_record_of_page, @previous_record_of_page.friendly_url), class: 'push-half--right push-half--top' %>
                <% end %>
                <% if @next_record_of_page.present?%>
                  <%= link_to 'Next Entry in page <i class="fa fa-chevron-right view_arrow"></i> '.html_safe, friendly_bmd_record_details_path(params[:search_id], @next_record_of_page, @next_record_of_page, @next_record_of_page.friendly_url), class: 'push-half--right push-half--top' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </section>

      
  </div>
  <script type="text/javascript">
    $("#create_postem").click(
      function() {
        $(".create_postem_div").show();
        $("#create_postem").hide();
    });
  </script>