<% title "Record Details" %>
<% breadcrumb :entry_information, @current_record  if @saved_record %>
<%= render 'flash_notice' %>
<style type="text/css">
    #citation-dropdown {
        display: none;
    }
</style>
<nav class="text--center" role="navigation" aria-label="Options for entry information">
  <ul class="nav">
      <li><%= link_to "#{app_icons[:left_arrow_pink]} Back to Results".html_safe, search_query_path(@search_query, anchor: @anchor_entry), class: " btn   btn--small" if params[:search_id].present?%></li>
      <li><a href="#" id="citation-toggle" class="btn   btn--small citation-toggle">Generate Citation</a></li>
      <li><%= link_to( '<i class="fas fa-print"></i>&nbsp;&nbsp; Print'.html_safe, "#", style: "text-decoration: underline; text-decoration-thickness: 2px; text-decoration-color: teal; ", :onclick => 'window.print();return false;') %></li>
  </ul>
</nav>
<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<section>
  <%= render 'nav_header_freebmd' %>
</section>
<div class="grid">
  <div class="grid__item seven-tenths lap-one-whole palm-one-whole ">
    <h1 class="beta push-half--top flush--bottom"><%= "#{@current_record[:GivenName].camelize} #{@current_record[:Surname].upcase}'s record" %></h1>
    <hr>
    <section>
      <div class="grid__item two-thirds lap-one-whole palm-one-whole hard--left">
        <% record_type = RecordType::display_name(@current_record.RecordTypeID) %>
        <% if params[:search_id].present? %>
          <%= render partial: 'entry_information_table', locals: {record: @current_record, search: @search, entry_type: record_type.downcase, query: @search_query, search_id: params[:search_id], original_record: @original_record, type: "general"} %>
        <% else %>
          <%= render partial: 'entry_information_table', locals: {record: @current_record, search: @search, entry_type: record_type.downcase, original_record: @original_record, type: "general"} %>
        <% end %>
      </div>
      <div class='push-half--top push--bottom'>
        <div class="grid__item two-thirds lap-two-thirds palm-one-whole hard--left">
          <% if params[:search_id].present? %>
            <div class='grid__item one-half lap-one-half palm-one-half text--left'>
              <%= link_to '<i class="fa fa-chevron-left view_arrow"></i> Previous Result'.html_safe, friendly_bmd_record_details_path(params[:search_id], @previous_record.RecordNumber, @previous_record.friendly_url, search_entry: @previous_record.RecordNumber ), class: 'push-half--right push-half--top push--bottom' unless @previous_record.nil? %>
            </div>
            <div class='grid__item one-half lap-one-half palm-one-half text--right'>
              <%= link_to 'Next Result <i class="fa fa-chevron-right view_arrow"></i>'.html_safe, friendly_bmd_record_details_path(params[:search_id], @next_record.RecordNumber, @next_record.friendly_url, search_entry: @next_record.RecordNumber), class: 'push-half--right push-half--top push--bottom' unless @next_record.nil?%>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    <% if @option == '1' %>
      <%= render partial: "display_scan", locals: @scans_hash %>
    <% end %>
    <% if @option == '2' %>
      <%= render partial: "display_postem", locals: @postems_hash %>
    <% end %>
    <section>
      <div class="grid__item two-thirds lap-one-whole palm-one-whole hard--left">
        <hr>
        <p><strong>Need help?</strong></p>
        <p>There is information in the <%= link_to 'Help', 'cms/help/draft-ordering-a-certificate'%> section about quarters, districts, and how to find the partner in a marriage.</p>
        <p><strong>Ordering a GRO certificate</strong></p>
        <p>You can order certificates from the General Register Office(GRO) to help you research your family history and family tree.</p>
        <div class="grid__item two-thirds lap-two-thirds palm-one-whole text--center push--top ">
            <%= link_to 'Report an Error in this Data', report_error_contact_path(@current_record.RecordNumber, query: @search_query), class: 'btn btn--natural' unless  @current_record.blank? %>
        </div>
      </div>
    </section>
  </div>
  <% unless print_friendly %>
    <% if device_type == :desktop %>
      <div class="grid__item two-tenths"  id='results_table_ad'>
        <center>
          <p>Advertisement</p>
          <%= advert_code("right_side","side_big") %>
        </center>
      </div>
    <% end %>
  <% end %>     
</div>

<script type="text/javascript">
  function more_options(){
    $('#option_form').submit();
  };
  $("#create_postem").click(
    function() {
      $(".create_postem_div").show();
  });
</script>