<!--p class="text--right">
  <%#= link_to "New Search", new_search_query_path, :class => "btn   btn--small bordered push-half--right" %>
  <%#= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn   btn--small bordered push-half--right" %>
  <%#= link_to "Printable Format", '#', :class => "btn   btn--small bordered push-half--right"%>
  <--a href="#" id="citation-toggle" class="btn   btn--small bordered push-half--right citation-toggle">Generate Citation</a>
  </p-->
<!--h1 class="title">Entry Information</h1>
<p>Has our search engine found the record you are seeking? The next step is to ordering your certificate ! Click on Ordering Certificates to learn what to do now.</p-->

<%= render 'flash_notice' %>

<% title "Record Details" %>
<%= link_to "#{app_icons[:left_arrow_pink]} Back".html_safe, search_query_path(@search_query, id: params[:search_id]), class: " btn   btn--small" if params[:search_id].present?%>


<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
  <h1 class="accessibility">Entry Information</h1>
  <div class="grid">
    <div class="grid__item seven-tenths lap-seven-tenths palm-one-whole ">
      <p class="alpha push-half--top project-text-color flush--bottom"><strong><%= "Entry Information: #{@search_record[:GivenName].upcase} #{@search_record[:Surname].upcase}" %></strong></p>
      <hr>
      <section>
        <div class="grid__item two-thirds lap-one-whole palm-one-whole hard--left">
          <% record_type = RecordType::display_name(@search_record.RecordTypeID)%>
          <%= render partial: 'entry_information_table', locals: {record: @search_record, search: true, entry_type: record_type.downcase } %>
          <div class='push-half--top'>
            <div class="float--right">
              <% if params[:search_id].present? %>
                <%= link_to '<i class="fa fa-chevron-left view_arrow"></i> Previous Result'.html_safe, friendly_bmd_record_details_path(params[:search_id], @previous_record, @previous_record.friendly_url), class: 'push-half--right push-half--top' unless @previous_record.nil? %>
                <%= link_to 'Next Result <i class="fa fa-chevron-right view_arrow"></i> '.html_safe, friendly_bmd_record_details_path(params[:search_id], @next_record, @next_record.friendly_url), class: 'push-half--right push-half--top' unless @next_record.nil?%>
              <% end %>
            </div>
          </div>
        </div>
      </section>
      <div class="grid__item one-whole">
        <h4>Scans</h4>
        <% year = from_quarter_number_to_year(@search_record[:QuarterNumber]) %>
        <% event = "#{record_type.capitalize}s" %>
        <% quarter = QuarterDetails.quarters.key(calculate_quarter(@search_record[:QuarterNumber])).capitalize %>
        <% image_server = "https://images.freebmd.org.uk/SUG" %>
        <% scan_links = @search_record.uniq_scanlists %>
        <% acc_scans = @search_record.get_non_multiple_scans %>
        <% acc_mul_scans = @search_record.multiple_best_probable_scans%>
        <% if scan_links.present? %>
          <ul>
            <div class="grid">
              <% scan_links.each do |s| %>
                <div class = "grid__item one-whole lap-one-whole palm-one-whole push--bottom" >
                  <% series = s.SeriesRangeFileName %>
                  <% image_file_path = "#{image_server}/#{year}/#{event}/#{quarter}/#{series}" %>
                  <div class='labels'>
                    <%#= label_tag 'scan_name','' , class: "ttip", tabindex: "0"  do %>
                        <%#="#{series}".html_safe %>
                    <%# end %>
                  </div>
                  <%= link_to "#{series}".html_safe, image_file_path, target: "_blank"%>
                </div>
              <% end %>
            </div>
          </ul>
        <% end %>
        <% if acc_scans.present? %>
          <ul>
            <div class="grid">
              <% acc_scans.each do |s| %>
                <div class = "grid__item one-whole lap-one-whole palm-one-whole push--bottom" >
                  <% series = s.SeriesID %>
                  <% range = "/#{s.range.Range}" if s.Range.present?%>
                  <% file = s.Filename %>
                  <% image_file_path = "#{image_server}/#{year}/#{event}/#{quarter}/#{series}#{range}/#{file}" %>
                  <div class=''>
                    <%#= label_tag 'scan_name','' , class: "ttip", tabindex: "0"  do %>
                        <small><%#="#{series}#{range}/#{file}".html_safe %></small>
                    <%# end %>
                  </div>
                  <%= link_to "#{series}#{range}/#{file}".html_safe, image_file_path, target: "_blank"%>
                </div>
              <% end %>
            </div>
          </ul>
        <% end %>
        <% if acc_mul_scans.present? %>
          <ul>
            <div class="grid">
              <% acc_mul_scans.each do |s| %>
                <div class = "grid__item one-whole lap-one-whole palm-one-whole push--bottom" >
                  <% series = s.SeriesID %>
                  <% range = "/#{s.Range}" if s.Range.present?%>
                  <% @search_record.get_component_images.each do |fn| %>
                    <% image_file_path = "#{image_server}/#{year}/#{event}/#{quarter}/#{series}#{range}/#{fn}" %>
                    <div class=''>
                      <%#= label_tag 'scan_name','' , class: "ttip", tabindex: "0"  do %>
                          <%#="#{series}#{range}/#{fn}".html_safe %>
                      <%# end %>
                    </div>
                    <%= link_to "#{series}#{range}/#{fn}".html_safe, image_file_path, target: "_blank"%>
                  <% end %>
                </div>
              <% end %>
            </div>
          </ul>
        <% end %>
      </div>
      <div class="grid__item one-whole lap-one-whole palm-one-whole push--bottom">
        <h4>Corrections</h4>
        <p>If you have a correction to this entry, please submit a correction. Please note that you can view the scan from which this entry was transcribed, please click on .Please examine this image to verify that any correction you submit is the same as in the GRO index.</p>
        <%= link_to "I have viewed the scan and wish to submit a correction", report_error_contact_path(@search_record, :query => @search_query), target: "_blank" %>
      </div>
      <div class="grid__item one-whole lap-one-whole palm-one-whole push--bottom">
        <h4>Postems</h4>
        <p>Do you know more about the people or event in this record that you are willing to share with other researchers? We call these helpful additions to the database 'postems'. For example, you you know a more precise place or other details from a certificate or from a search of FreeREG, or more about the family from a search on FreeCEN, or have found other records about them in another country's registration system. Contribute what you know</p>
        <% if @search_record.postems_list.present? %>
          <p>Below are the list of postems</p>
          <table class="table--bordered table--data">
            <thead>
              <th>Date</th>
              <th>Postem</th>
            </thead>
            <tbody>
              <% @search_record.postems_list.each do |postem|%>
                <tr>
                  <td>
                    <%= DateTime.strptime("#{postem.Created}",'%s').to_date if postem.Created.present?%>
                  </td>
                  <td>
                    <%= auto_link(postem.Information, :html => { :target => '_blank' }) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end%>
        <p id="create_postem">Add a postem</p>
        <div class="create_postem_div">
          <%= semantic_form_for(@new_postem) do |f| %>
            <%= f.hidden_field('honeypot', value: @new_postem[:honeypot])%>
            <%= f.hidden_field('Hash', value: @new_postem.Hash) %>
            <%= hidden_field_tag('search_query', @search_query.id) %>
            <ol class="grid">
              <li class="grid__item desk-wide-three-quarters desk-three-quarters lap-three-quarters palm-one-whole push--bottom">
                <%= text_area_tag 'postem[Information]', nil, rows: 7, style: 'width: 100%'%>
              </li>
            
              <div class="grid__item desk-wide-one-whole desk-one-whole lap-one-whole palm-one-whole">
                <%= button_tag 'Add Postem', type: :submit, class: 'ladda-button kittumani' , id: 'postem_form_submit', data: {style: "contract" , color: appname.downcase, size: "s", "spinner-color" => "#ffffff"}%>
              </div>
            </ol>
          <% end %>
        </div>
      </div>
    </div>
    <% unless print_friendly %>
      <% if device_type == :desktop %>
        <div class="grid__item two-tenths lap-one-tenths palm-one-whole "  id='results_table_ad'>
          <center>
            <p>Advertisement</p>
            <%= adsence_right_side_banner %>
          </center>
        </div>
      <% end %>
    <% end %>
  </div>
  <script type="text/javascript">
    $("#create_postem").click(
      function() {
        $(".create_postem_div").show();
        $("#create_postem").hide();
    });
  </script>