<%= render 'flash_notice' %>
<% title "Marriage Details" %>
<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
  <h1 class="accessibility">Marriage Informations</h1>
  <div class="grid">
    <div class="grid__item one-whole lap-one-whole palm-one-whole ">
      <p class="alpha push-half--top project-text-color flush--bottom text--center"><strong><%= "Marriage Details of #{@record[:GivenName].upcase} #{@record[:Surname].upcase}" %></strong></p>
      <section>
        <div class="grid__item one-half lap-one-half palm-one-whole">
          <% record = @record %>
          <p class="epsilon push-half--top flush--bottom"><strong><%= "Entry Information: #{@record[:GivenName].upcase} #{@record[:Surname].upcase}" %></strong></p>
      <hr>
          <%= render(:partial => app_partial('entry_information_table')) %>
        </div>
      </section>
      <section>
      <div class="grid__item one-half lap-one-half palm-one-whole">
        <%% record = @spouse_record%>
        <p class="epsilon push-half--top flush--bottom"><strong><%= "Spouse Information: #{@spouse_record[:GivenName].upcase} #{@spouse_record[:Surname].upcase}" %></strong></p>
      <hr>
          <%= render(:partial => app_partial('entry_information_table')) %>
        </div>
      </section>
    </div>
  </div>
