<%= render 'flash_notice' %>
<% title "Marriage Details" %>
<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<% if @search %>
  <%= link_to "#{app_icons[:left_arrow_pink]} Back to Results".html_safe, search_query_path(@search_query, id: @search_id, anchor: @current_record.RecordNumber), class: " btn   btn--small" if @search_id.present?%>
  <%= link_to "#{app_icons[:left_arrow_pink]} Back to Search Entry".html_safe, friendly_bmd_record_details_path(params[:search_id], @current_record, @current_record.friendly_url, search_entry: @current_record), class: " btn   btn--small" unless @current_record.blank?%>
<% end %>
  <h1 class="accessibility">Marriage Informations</h1>
  <div class="grid">
    <div class="grid__item one-whole lap-one-whole palm-one-whole ">
      <p class="alpha push-half--top project-text-color flush--bottom text--center"><strong><%= "Marriage Details of #{@current_record[:GivenName].upcase} #{@current_record[:Surname].upcase}" %></strong></p>
      <section>
        <div class="grid__item one-half lap-one-half palm-one-whole">
          <% record_type = RecordType::display_name(@current_record.RecordTypeID)%>
          <p class="epsilon push-half--top flush--bottom"><strong><%= "Entry Information: #{@current_record[:GivenName].upcase} #{@current_record[:Surname].upcase}" %></strong></p>
          <hr>
          <% if @search %>
            <%#= render partial: 'partial_entry_information_table', locals: {record: @current_record, entry_type: record_type.downcase, search: false, type: "marriages", search_id: @search_id, original_record: @current_record, more_info: true} %>
            <%= render partial: 'entry_information_table', locals: {record: @current_record, search: true, entry_type: record_type.downcase, query: @search_query, search_id: @search_id, original_record: @current_record, type: "marriages"} %>
          <% else %>
            <%#= render partial: 'partial_entry_information_table', locals: {record: @current_record, entry_type: record_type.downcase, search: false, type: "marriages", original_record: @current_record, more_info: true} %>
            <%= render partial: 'entry_information_table', locals: {record: @current_record, entry_type: record_type.downcase, query: @search_query, search_id: @search_id, original_record: @current_record, type: "marriages"} %>
          <% end %>
          <br />
          <div id="display_scans">
            <h4>Scans</h4>
            <% scan_links_array = render_scan_rows(@scan_links, @acc_scans, @acc_mul_scans, @current_record) %>
            <% if scan_links_array.present? && scan_links_array.any? %>
              <% valid_links = scan_links_array.reject { |link| link.blank? || link.to_s.strip.empty? } %>
              <% if valid_links.any? %>
                <ul>
                  <% valid_links.each do |link| %>
                    <%= raw link %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </div>
          <br />
          <% if @current_record.postems_list.present? %>
            <div id="display_postems">
              <div>
                <h4>Postems</h4>
                <p>List of postems:</p>
                <table class="table--bordered table--data">
                  <thead>
                    <th>Date</th>
                    <th>Postem</th>
                  </thead>
                  <tbody>
                    <% @current_record.postems_list.each do |postem|%>
                      <tr>
                        <td>
                          <%= DateTime.strptime("#{postem.Created}",'%s').to_date if postem.Created.present?%>
                        </td>
                        <td>
                          <%= auto_link(postem.Information, :html => { :target => '_blank' }) %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
             
                <div class="text--left push-half--bottom">
                  <small>
                    <strong>Disclaimer: FreeBMD has not verified the info in the Postems in any way.</strong>
                  </small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </section>

      <section>
        <div class="grid__item one-half lap-one-half palm-one-whole">
          <% if @spouse_record.present? %>
            <% record_type = RecordType::display_name(@spouse_record.RecordTypeID)%>
            <p class="epsilon push-half--top flush--bottom"><strong><%= "Spouse Information: #{@spouse_record[:GivenName].upcase} #{@spouse_record[:Surname].upcase}" %></strong></p>
            <hr>
            <% if @search %>
              <%#= render partial: 'partial_entry_information_table', locals: {record: @spouse_record, entry_type: record_type.downcase, search: false, type: "marriages", search_id: @search_id,original_record: @current_record, more_info: true } %>
              <%= render partial: 'entry_information_table', locals: {record: @spouse_record, search: true, entry_type: record_type.downcase, query: @search_query, search_id: @search_id, original_record: @current_record, type: "marriages"} %>
            <% else %>
              <%= render partial: 'partial_entry_information_table', locals: {record: @spouse_record, entry_type: record_type.downcase, search: false, type: "marriages", original_record: @current_record, more_info: true } %>
            <% end %>
          <% else %>
            <p>We do not have information on spouse yet.</p>
          <% end %>
          <br />
          <div id="display_scans">
            <h4>Scans</h4>
            <% scan_links_array = render_scan_rows(@scan_links, @acc_scans, @acc_mul_scans, @spouse_record) %>
            <% if scan_links_array.present? && scan_links_array.any? %>
              <% valid_links = scan_links_array.reject { |link| link.blank? || link.to_s.strip.empty? } %>
              <% if valid_links.any? %>
                <ul>
                  <% valid_links.each do |link| %>
                    <%= raw link %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
            
          </div>
          <br />
          <% if @spouse_record.postems_list.present? %>
            <div id="display_postems">
              <div>
                <h4>Postems</h4>
                <p>List of postems:</p>
                <table class="table--bordered table--data">
                  <thead>
                    <th>Date</th>
                    <th>Postem</th>
                  </thead>
                  <tbody>
                    <% @spouse_record.postems_list.each do |postem|%>
                      <tr>
                        <td>
                          <%= DateTime.strptime("#{postem.Created}",'%s').to_date if postem.Created.present?%>
                        </td>
                        <td>
                          <%= auto_link(postem.Information, :html => { :target => '_blank' }) %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <div class="text--left push-half--bottom">
                  <small>
                    <strong>Disclaimer: FreeBMD has not verified the info in the Postems in any way.</strong>
                  </small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </section>
      <p>If the scan does not contain the entry you may be able to <%= link_to "find the scan on our original site", "https://images.freebmd.org.uk/cgi/choose.pl"%>.</p>
    </div>
  </div>
