<% breadcrumb :view_marriage,  entry_id: @record.RecordNumber, search_id: @search_id, friendly_url: @record.friendly_url %>
<%= render 'flash_notice' %>
<% title "Marriage Details" %>
<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
  <h1 class="accessibility">Marriage Informations</h1>
  <div class="grid">
    <div class="grid__item one-whole lap-one-whole palm-one-whole ">
      <p class="alpha push-half--top project-text-color flush--bottom text--center"><strong><%= "Marriage Details of #{@record[:GivenName].upcase} #{@record[:Surname].upcase}" %></strong></p>
      <section>
        <div class="grid__item one-half lap-one-half palm-one-whole">
          <% record_type = RecordType::display_name(@record.RecordTypeID)%>
          <p class="epsilon push-half--top flush--bottom"><strong><%= "Entry Information: #{@record[:GivenName].upcase} #{@record[:Surname].upcase}" %></strong></p>
      <hr>
          <%= render partial: 'entry_information_table', locals: {record: @record, entry_type: record_type.downcase, search: false, type: "marriages"} %>
        </div>
      </section>
      <section>
      <div class="grid__item one-half lap-one-half palm-one-whole">
        <% if @spouse_record.present? %>
          <% record_type = RecordType::display_name(@spouse_record.RecordTypeID)%>
          <p class="epsilon push-half--top flush--bottom"><strong><%= "Spouse Information: #{@spouse_record[:GivenName].upcase} #{@spouse_record[:Surname].upcase}" %></strong></p>
        <hr>
            <%= render partial: 'entry_information_table', locals: {record: @spouse_record, entry_type: record_type.downcase, search: false, type: "marriages" } %>
        <% else %>
          <p>We do not have information on spouse yet.</p>
        <% end %>
        </div>
      </section>
    </div>
  </div>
