<%= render 'index_header' %>
<div class="scrollable ">
  <table class="table--bordered table--data" >
    <tr>
      <th class='sticky-header'>Dwelling number</th>
      <th class='sticky-header'>Sequence in household</th>
      <th class='sticky-header'>Civil parish</th>
      <th class='sticky-header'>Ecclesiastical parish</th>
      <th class='sticky-header'>Enumeration district</th>
      <th class='sticky-header'>Folio number</th>
      <th class='sticky-header'>Page number</th>
      <th class='sticky-header'>Schedule number</th>
      <th class='sticky-header'>House number</th>
      <th class='sticky-header'>House or street name</th>
      <th class='sticky-header'>Uninhabited flag</th>
      <th class='sticky-header'>Unoccupied notes</th>
      <th class='sticky-header'>Individual flag</th>
      <th class='sticky-header'>Surname</th>
      <th class='sticky-header'>Forenames</th>
      <th class='sticky-header'>Name flag</th>
      <th class='sticky-header'>Relationship</th>
      <th class='sticky-header'>Marital status</th>
      <th class='sticky-header'>Sex</th>
      <th class='sticky-header'>Age</th>
      <th class='sticky-header'>Age unit</th>
      <th class='sticky-header'>Detail flag</th>
      <th class='sticky-header'>Occupation</th>
      <th class='sticky-header'>Occupation flag</th>
      <th class='sticky-header'>Birth county</th>
      <th class='sticky-header'>Birth place</th>
      <th class='sticky-header'>Verbatim birth county</th>
      <th class='sticky-header'>Verbatim birth place</th>
      <th class='sticky-header'>Birth place flag</th>
      <th class='sticky-header'>Disability</th>
      <th class='sticky-header'>Language</th>
      <th class='sticky-header'>Notes</th>
      <th class='sticky-header'>Deleted flag</th>
      <th class='sticky-header'>Show</th>
    </tr>
    <% @freecen1_vld_entries.each do |freecen1_vld_entry| %>
      <tr id="<%= freecen1_vld_entry.id %>">
        <td><%= freecen1_vld_entry.dwelling_number %></td>
        <td><%= freecen1_vld_entry.sequence_in_household %></td>
        <td><%= freecen1_vld_entry.civil_parish %></td>
        <td><%= freecen1_vld_entry.ecclesiastical_parish %></td>
        <td><%= freecen1_vld_entry.enumeration_district %></td>
        <td><%= freecen1_vld_entry.folio_number %></td>
        <td><%= freecen1_vld_entry.page_number %></td>
        <td><%= freecen1_vld_entry.schedule_number %></td>
        <td><%= freecen1_vld_entry.house_number %></td>
        <td><%= freecen1_vld_entry.house_or_street_name %></td>
        <td><%= freecen1_vld_entry.uninhabited_flag %></td>
        <td><%= freecen1_vld_entry.unoccupied_notes %></td>
        <td><%= freecen1_vld_entry.individual_flag %></td>
        <td><%= freecen1_vld_entry.surname %></td>
        <td><%= freecen1_vld_entry.forenames %></td>
        <td><%= freecen1_vld_entry.name_flag %></td>
        <td><%= freecen1_vld_entry.relationship %></td>
        <td><%= freecen1_vld_entry.marital_status %></td>
        <td><%= freecen1_vld_entry.sex %></td>
        <td><%= freecen1_vld_entry.age %></td>
        <td><%= freecen1_vld_entry.age_unit %></td>
        <td><%= freecen1_vld_entry.detail_flag %></td>
        <td><%= freecen1_vld_entry.occupation %></td>
        <td><%= freecen1_vld_entry.occupation_flag %></td>
        <td><%= freecen1_vld_entry.birth_county %></td>
        <td><%= freecen1_vld_entry.birth_place %></td>
        <td><%= freecen1_vld_entry.verbatim_birth_county %></td>
        <td><%= freecen1_vld_entry.verbatim_birth_place %></td>
        <td><%= freecen1_vld_entry.birth_place_flag %></td>
        <td><%= freecen1_vld_entry.disability %></td>
        <td><%= freecen1_vld_entry.language %></td>
        <td><%= freecen1_vld_entry.notes %></td>
        <td><%= freecen1_vld_entry.deleted_flag %></td>
        <td><%= link_to 'Show', freecen1_vld_entry_path(id: freecen1_vld_entry.id,file: @freecen1_vld_file.id) %></td>
      </tr>
    <% end %>
  </table>
</div>
<br />