<h3 style="text-align: center">Define Scope for the VLD Entry Propagation</h3>
<%= render 'flash_notice' %>
<div class="island  island--light">
  <%= form_for(:propagatepob, url: propagate_pob_freecen1_vld_entry_path, method: :get, data: { confirm: "Are you sure you want to Proceed with the Propagation?"}) do |f| %>
    <ol class="grid">
      <fieldset class="input" style="text-align: center">
        <legend><b>MATCH</b></legend>
        <div>
          Verbatim Birth County : <%= text_field_tag 'verbatim_birth_county', @freecen1_vld_entry.verbatim_birth_county, :readonly => true %>
          Verbatim Birth Place : <%= text_field_tag 'verbatim_birth_place', @freecen1_vld_entry.verbatim_birth_place, :readonly => true %>
        </div>
      </fieldset>
      <fieldset class="input" style="text-align: center">
        <legend><b>PROPAGATE</b></legend>
        <div>
          <%= f.hidden_field :propagation_fields, :value => @propagation_fields %>
          <% if @propagation_fields == 'Alternative' || @propagation_fields == 'Both' %>
            Alternative Birth County : <%= text_field_tag 'birth_county', @freecen1_vld_entry.birth_county, :readonly => true %>
            Alternative Birth Place : <%= text_field_tag 'birth_place', @freecen1_vld_entry.birth_place, :readonly => true %>
          <% end %>
        </div>
        <div>
          <% if @propagation_fields == 'Notes' || @propagation_fields == 'Both' %>
            Notes : <%= text_field_tag 'notes', @freecen1_vld_entry.notes, :readonly => true, :size => 80%>
          <% end %>
        </div>
      </ol>
    </fieldset>
    <fieldset class="input" style="text-align: center">
      <legend><b>Propagation Scope - </b><i>select one</i></legend>
      <ol class="grid">
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="ed_scope_input">
          <%= f.radio_button :propagation_scope, 'ED' %> ED </li>
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="file_scope_input">
          <%= f.radio_button :propagation_scope, 'File', :checked =>true %> File (Piece) </li>
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="county_scope_input">
          <%= f.radio_button :propagation_scope, 'County' %> County </li>
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="year_scope_input">
          <%= f.radio_button :propagation_scope, 'Year' %> Census Year </li>
        <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="all_scope_input">
          <%= f.radio_button :propagation_scope, 'All' %> Whole Collection </li>
      </ol>
    </fieldset>
    <div style="text-align: center">
      <%= submit_tag "Submit", :class => "btn  btn--small"%><br>
      <%= link_to 'Cancel', edit_pob_freecen1_vld_entry_path(id: params[:id]) %>
      <%= hidden_field_tag(:id, params[:id]) %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  Ladda.bind( 'button[type=submit]' );
</script>
<br>