<h3 style="text-align: center">Define Scope for the VLD Entry Propagation</h3>
<%= render 'flash_notice' %>
<div class="island  island--light">
  <%= form_for(@freecen1_vld_entry) do |f| %>
    <% if %w[data_manager system_administrator].include?(@user.person_role)%>
      <fieldset class="input" style="text-align: center">
        <legend><b>Fields to Match</b></legend>
        <div>
          <%= f.label :verbatim_birth_place %><%= f.text_field :verbatim_birth_county, :readonly => true %>
          <%= f.label :verbatim_birth_place %><%= f.text_field :verbatim_birth_place, :readonly => true %>
        </div>
      </fieldset>
      <fieldset class="input" style="text-align: center">
        <legend><b>Field Values to Propagate</b></legend>
        <div class="field">
          <%= f.label 'Alternative birth county'%><%= f.text_field :birth_county, :readonly => true %>
          <%= f.label 'Alternative birth place' %><%= f.text_field :birth_place, :readonly => true %><br />
          <%= f.label :notes %><%= f.text_area :notes, :readonly => true, :size => '50x5'%>
        </div>
      </fieldset>
      <fieldset class="input" style="text-align: center">
        <legend><b>Propagation Scope - </b><i>select one</i></legend>
        <ol class="grid">
          <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="ed_scope_input">
            <%= f.radio_button :propagation_scope, 'ed' %> ED </li>
          <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="file_scope_input">
            <%= f.radio_button :propagation_scope, 'file', :checked =>true %> File (Piece) </li>
          <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="county_scope_input">
            <%= f.radio_button :propagation_scope, 'county' %> County </li>
          <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="year_scope_input">
            <%= f.radio_button :propagation_scope, 'year' %> Census Year </li>
          <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="all_scope_input">
            <%= f.radio_button :propagation_scope, 'all' %> Whole Collection </li>
        </ol>
      </fieldset>
      <div style="text-align: center">
        <%= f.submit 'Proceed',  class: "btn btn--gamma", data: { confirm: 'Are you sure you want to Proceed with the Propagation?'}, title: 'Propagates the field values'%>
        <%= link_to 'Cancel Propagation', manual_validate_pobs_freecen1_vld_file_path(id: @freecen1_vld_entry.freecen1_vld_file_id), method: :get, class: "btn btn--gamma", title: 'Cancels Pr0pagation'%>
      </div>
    <% end %>
  </div>
<% end %>