<p id="notice"><%= notice %></p>

<p>
  <b>Freecen1 vld file:</b>
  <%= @freecen1_vld_entry.freecen1_vld_file %>
</p>

<p>
  <b>Entry number:</b>
  <%= @freecen1_vld_entry.entry_number %>
</p>

<p>
  <b>Deleted flag:</b>
  <%= @freecen1_vld_entry.deleted_flag %>
</p>

<p>
  <b>Household number:</b>
  <%= @freecen1_vld_entry.household_number %>
</p>

<p>
  <b>Sequence in household:</b>
  <%= @freecen1_vld_entry.sequence_in_household %>
</p>

<p>
  <b>Parish:</b>
  <%= @freecen1_vld_entry.parish %>
</p>

<p>
  <b>Enumeration district:</b>
  <%= @freecen1_vld_entry.enumeration_district %>
</p>

<p>
  <b>Folio number:</b>
  <%= @freecen1_vld_entry.folio_number %>
</p>

<p>
  <b>Page number:</b>
  <%= @freecen1_vld_entry.page_number %>
</p>

<p>
  <b>Schedule number:</b>
  <%= @freecen1_vld_entry.schedule_number %>
</p>

<p>
  <b>House number:</b>
  <%= @freecen1_vld_entry.house_number %>
</p>

<p>
  <b>House or street name:</b>
  <%= @freecen1_vld_entry.house_or_street_name %>
</p>

<p>
  <b>Uninhabited flag:</b>
  <%= @freecen1_vld_entry.uninhabited_flag %>
</p>

<p>
  <b>Surname:</b>
  <%= @freecen1_vld_entry.surname %>
</p>

<p>
  <b>Forenames:</b>
  <%= @freecen1_vld_entry.forenames %>
</p>

<p>
  <b>Name flag:</b>
  <%= @freecen1_vld_entry.name_flag %>
</p>

<p>
  <b>Relationship:</b>
  <%= @freecen1_vld_entry.relationship %>
</p>

<p>
  <b>Condition:</b>
  <%= @freecen1_vld_entry.condition %>
</p>

<p>
  <b>Sex:</b>
  <%= @freecen1_vld_entry.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @freecen1_vld_entry.age %>
</p>

<p>
  <b>Age unit:</b>
  <%= @freecen1_vld_entry.age_unit %>
</p>

<p>
  <b>Detail flag:</b>
  <%= @freecen1_vld_entry.detail_flag %>
</p>

<p>
  <b>Occupation:</b>
  <%= @freecen1_vld_entry.occupation %>
</p>

<p>
  <b>Occupation flag:</b>
  <%= @freecen1_vld_entry.occupation_flag %>
</p>

<p>
  <b>Chapman code:</b>
  <%= @freecen1_vld_entry.chapman_code %>
</p>

<p>
  <b>Birth place:</b>
  <%= @freecen1_vld_entry.birth_place %>
</p>

<p>
  <b>Birth place flag:</b>
  <%= @freecen1_vld_entry.birth_place_flag %>
</p>

<p>
  <b>Disability:</b>
  <%= @freecen1_vld_entry.disability %>
</p>

<p>
  <b>Language:</b>
  <%= @freecen1_vld_entry.language %>
</p>

<p>
  <b>Notes:</b>
  <%= @freecen1_vld_entry.notes %>
</p>


<%= link_to 'Edit', edit_freecen1_vld_entry_path(@freecen1_vld_entry) %> |
<%= link_to 'Back', freecen1_vld_entries_path %>
