<% if @contact.errors.any? %>
  <div>
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited your contact from being submitted:</h2>
    <ul class="validation-list">
      <% @contact.errors.full_messages.each do |msg| %>
        <li class="validation-list__error"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<div class="grid">
  <div class="grid__item one-whole">
    <section class="island island--light">
      <%= semantic_form_for(@contact, :html => {:multipart => true}) do |f| %>
        <%= f.hidden_field :contact_time %>
        <%= f.hidden_field :session_id %>
        <%= f.hidden_field :problem_page_url %>
        <%= f.hidden_field :previous_page_url %>
        <%= f.hidden_field :contact_type %>
        <ul style="margin-left: -28px;">
          <li class="grid__item one-half palm-one-whole push--bottom" id="name_input">
            <label tabindex="0" for="name" class="label ttip">Your name
              <%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span class="ttip__text">Required: for when we contact you; it will not be made public</span>
            </label>
            <% if @contact.name.nil? %>
              <input id="name" name="contact[name]" type="text" class="text-input" placeholder="Required" required="required">
            <% else %>
              <input id="name" name="contact[name]" type="text" class="text-input" value="<%=@contact.name%>" placeholder="Required" required="required">
            <% end %>
          </li>
          <li class="grid__item two-fifths palm-one-whole push--bottom" id="email_address_input">
            <label tabindex="0" for="email_address" class="label ttip">Your email address
              <%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span class="ttip__text">Required: so we can contact you; it will not be made public</span>
            </label>
            <% if @contact.email_address.nil? %>
              <input name="contact[email_address]" id="email_address" type="email" class="text-input" placeholder="Required" required="required">
            <% else%>
              <input name="contact[email_address]" id="email_address" type="email" class="text-input" value="<%=@contact.email_address%>" placeholder="Required" required="required">
            <% end%>
          </li>
          <li class="grid__item one-half palm-one-whole push--bottom">
            <label tabindex="0" for="body" class="ttip">Comment or question
              <%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span class="ttip__text">Required. If you want more information on volunteering to transcribe, please indicate the county that is of most interest. If wanting to assist in the project management or development, please indicate your area of expertise. </span>
            </label>
            <% if @contact.body.nil? %>
              <textarea name="contact[body]" id="body" style="width: 100%;" rows="8" placeholder="Required" required="required"></textarea>
            <% else%>
              <textarea name="contact[body]" id="body" style="width: 100%;" rows="8" placeholder="Required" required="required"><%=@contact.body%></textarea>
            <% end%>
          </li>
          <li class="grid__item one-third lap-one-half palm-one-whole push--bottom" id="contact_type_input">
            <label tabindex="0" for="contact_type" class="label ttip">Nature of contact
              <%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span class="ttip__text">Required. Please select the type of contact you are making so we may refer it to the correct person. <em>Data problems</em> are best reported from the specific record in your search results.</span>
            </label>
            <!--select name="contact[contact_type]" id="contact_type" class="select" required="required" size="7">
              <%# @options.each do |value| %>
                <%# if value == @contact.contact_type %>
                  <option value="<%#=value%>" selected="selected"><%#=value%></option>
                <%# else %>
                  <option value="<%#=value%>"><%#=value%></option>
                <%# end %>
              <%# end %>
            </select-->
          </li>
          <% if 'freecen' == MyopicVicar::Application.config.template_set %>
            <li class="grid__item one-half palm-one-whole push--bottom">
              <label tabindex="0" for="selected_county" class="ttip">Contact a specific county <span class="weight--normal"> (optional) </span>
                <%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
                <span class="ttip__text">If you wish to contact a coordinator for one specific county, please select the county here.</span>
              </label>
              <% grouped_options = ChapmanCode.add_parenthetical_codes(ChapmanCode.remove_codes(ChapmanCode::CODES)) %>
              <select name="contact[selected_county]" id="selected_county" class="select" size="5">
                <option value="nil">No specific county</option>
                <%= grouped_options_for_select(grouped_options) %>
              </select>
            </li>
          <% end %>
          <li class="grid__item one-half palm-one-whole push--bottom">
            <label tabindex="0" for="screenshot" class="ttip">Screenshot or image <span class="weight--normal"> (optional) </span>
              <%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
              <span class="ttip__text">Please select the image you wish to upload (jpg, jpeg or gif only)</span>
            </label>
            <input name="contact[screenshot]" id="screenshot" type="file">
          </li>
          <li class="betterstyling">
            <label for="name2">Please add your name again:</label>
            <input type="text" name="contact[contact_name]" id="name2">
          </li>
          <%= f.action :submit, :as => :input,  :label => 'Submit' , :button_html => { :class => "btn" }, :wrapper_html => { :class => "grid__item  one-third" }  %>
        </ul>
      <% end %>
    </section>
  </div>
</div>