<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited your contact from being submitted:</h2>
    <ul class="validation-list">
      <% @contact.errors.full_messages.each do |msg| %>
      <li class="validation-list__error"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<section class="island  island--light ">
<%= semantic_form_for(@contact, :html => {:multipart => true}) do |f| %>
  <%= f.hidden_field :contact_time %>
  <%= f.hidden_field :session_id %>
  <%= f.hidden_field :problem_page_url %>
  <%= f.hidden_field :previous_page_url %>
  <li  class="grid__item  two-fifths  palm-one-whole" id="name_input">
    <label class="label" for="name">Your name  <a href="#" class="right_tooltip"> <img alt="Information" height="16" src="/assets/refinery/icons/information.png"> <span>Please provide a name for when we contact you; it will not be made public</span></a>
    </label>
  <% if @contact.name.nil? %>
    <input name="contact[name]" type="text" class="text-input" placeholder="Mandatory" required="required" >
  <% else %>
    <input name="contact[name]" type="text" class="text-input" value="<%=@contact.name%>">
  <% end %>
  </li>
  <li  class="grid__item  two-fifths  palm-one-whole" id="email_address_input">
      <label class="label" for="email_address">Your email address <a href="#" class="right_tooltip"> <img alt="Information" height="16" src="/assets/refinery/icons/information.png"> <span>Please enter your email address so we can contact you; it will not be made public</span></a></label>
  <% if @contact.email_address.nil? %>
    <input name="contact[email_address]" type="text" class="text-input" placeholder="Mandatory" required="required" >
  <% else%>
    <input name="contact[email_address]" type="text" class="text-input" value="<%=@contact.email_address%>">
  <% end%>
  </li>
  
  <li class="grid__item  one-half  palm-one-whole ">
    <label>Comment, question or area in which you wish to volunteer <a href="#" class="right_tooltip"><img alt="Information" height="16" src="/assets/refinery/icons/information.png"> <span>If volunteering to transcribe please indicate the county that is of most interest. If wanting to assist in the project management or development please indicate your area of expertise.  </span></a></label>
    <% if @contact.body.nil? %>
      <textarea name="contact[body]" cols="70" rows="10"></textarea>
    <% else%>
      <textarea name="contact[body]" cols="70" rows="10" ><%=@contact.body%></textarea>
    <% end%>
  </li>
  <li  class="grid__item  one-third  palm-one-whole" id="contact_type_input">
    <label class="label" for="contact_type">
      Type of contact <a href="#" class="right_tooltip"> <img alt="Information" height="16" src="/assets/refinery/icons/information.png"> <span>Please select the type of contact you are making so we may refer it to the correct person. <b>Data problems are best reported from the specific record from your search</b></span></a></label>
    <select id="contact_type" name="contact[contact_type]" class="select" required="required" size="5">
    <% @options.each do |value| %>
      <% if value == @contact.contact_type %>
        <option value="<%=value%>" selected="selected" ><%=value%></option>
      <% else %>
        <option value="<%=value%>" ><%=value%></option>
      <% end %>
    <% end %>
    </select>
  </li>
  <li class="grid__item  one-third  palm-one-whole push--bottom">
    <label>Screenshot or image<span  class="weight--normal"> (optional)</span><a href="#" class="right_tooltip"> <img alt="Information" height="16" src="/assets/refinery/icons/information.png"> <span  >Please select the image you wish to upload (jpg, jpeg or gif only)</span></a></label>
    <input name="contact[screenshot]" type="file" >
  </li>
  <p class="betterstyling">Please add your name again: </p><input class= "betterstyling" type="text" name="contact[contact_name]">
  <%= f.action :submit, :as => :input,  :label => 'Submit' ,:button_html => { :class => "btn btn--small" },:wrapper_html => { :class => "grid__item  one-third text--left" }  %>
<% end %>
</section>