<% breadcrumb :contacts %>
<h1 class="title text--center">List of data problem reports for <%= @county%></h1>
<% unless Contact.github_enabled %>
<div id="error_explanation">
  <h2>Github integration is not enabled</h2>
</div>
<% end %>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<section class="island   " >
  <div class="table-wrapper">
    <div class="grid">
      <div class="grid__item one-whole" >
        <table class="table--bordered table--data ">
          <tr>
            <th class="t20">Name</th>
            <th class="t20">email</th>  
            <th class="t15">Type</th> 
            <th class="t15">Posted</th>
            <th class="t10">Identification</th>
            <th class="t20">Action</th>
          </tr>
          <% @contacts.each do |feedback| %>
          <tr>
            <td><%= feedback.name %></td>
            <td><%= feedback.email_address %></td>
            <td><%= feedback.contact_type %></td>
            <td><%= feedback.contact_time.strftime("%d %b %Y") unless feedback.contact_time.nil?%></td>
             <td><%= feedback.identifier  unless feedback.identifier.nil?%>
            <td><%= link_to 'Show', contact_path(feedback),  :class => "btn weight--light  btn--small", method: :get%> 
            <%= link_to 'Destroy', contact_path(feedback), :class => "btn weight--light  btn--small", method: :delete, data: { confirm: 'Are you sure you want to delete this contact' } %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
<br />