<% breadcrumb :contacts %>
<h1 class="title text--center">List of all contacts</h1>
<% unless Contact.github_enabled %>
<div id="error_explanation">
  <h2>Github integration is not enabled</h2>
</div>
<% end %>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<section class="island  island--light " >
  <div class="table-wrapper">
    <div class="grid">
      <div class="grid__item one-whole" >
        <table class="table--bordered  ">
          <tr>
            <th>Name</th>
            <th>email</th>  
            <th>Type</th>
            <th>Posted</th>
            <th>Identification</th>
            <th>Action</th>
            <th>Action</th>
          </tr>
          <% @contacts.each do |feedback| %>
          <tr>
            <td><%= feedback.name %></td>
            <td><%= feedback.email_address %></td>
            <td><%= feedback.contact_type %></td>
            <td><%= feedback.contact_time.strftime("%H:%M on %F") unless feedback.contact_time.nil?%></td>
             <td><%= feedback.identifier  unless feedback.identifier.nil?%>
            <td><%= button_to 'Show', contact_path(feedback),  method: :get%></td>
            <td><%= button_to 'Destroy contact', contact_path(feedback), method: :delete, data: { confirm: 'Are you sure you want to delete this contact' } %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
<br />