<% breadcrumb :contacts %>
<% if @user.person_role == 'county_coordinator' || @user.person_role == 'country_coordinator'%>
  <h2 class=" text--center">List of your data problem reports</h2>
  <p style="text-align: center"> <%= @county%></p>
<%else%>
  <h2 class=" text--center">List of all contacts</h2>
  <p style="text-align: center"><%= link_to 'List by Name', list_by_name_contacts_path, method: :get , :class => "btn weight--light btn--small" %> <%= link_to 'List by Posted Date' , list_by_date_contacts_path, method: :get , :class => "btn weight--light btn--small"%> <%= link_to 'List by Identifier' , list_by_identifier_contacts_path, method: :get , :class => "btn weight--light btn--small" %> <%= link_to 'List by Contact Type' , list_by_type_contacts_path, method: :get , :class => "btn weight--light btn--small" %> <%= link_to 'Select by Identifier' , select_by_identifier_contacts_path, method: :get , :class => "btn weight--light btn--small" %></p>
<%end%>
<% unless Contact.github_enabled %>
<div id="error_explanation">
  <h2>Github integration is not enabled</h2>
</div>
<% end %>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<section class="island   " >
  <div class="table-wrapper">
    <div class="grid">
      <div class="grid__item one-whole" >
        <table class="table--bordered table--data ">
          <tr>
            <th class="t20">Name</th>
            <th class="t20">email</th>  
            <th class="t10">Type</th> 
            <th class="t10">County</th> 
            <th class="t10">Posted</th>
            <th class="t10">Identification</th>
            <th class="t20">Action</th>
          </tr>
          <% @contacts.each do |feedback| %>
          <tr>
            <td><%= feedback.name %></td>
            <td><%= feedback.email_address %></td>
            <td><%= feedback.contact_type %>
 	      <% if feedback.contact_county %>
	       (<%= feedback.contact_county %>)
	      <% end %>
	    </td>
            <td><%= feedback.county %></td>
            <td><%= feedback.contact_time.strftime("%d %b %Y") unless feedback.contact_time.nil?%></td>
            <td><%= feedback.identifier %>
	    <td><%= link_to 'SH', contact_path(feedback.id),  :class => "btn weight--light  btn--small", method: :get%> <%= link_to 'ED', edit_contact_path(feedback.id),  :class => "btn weight--light  btn--small", method: :get%>
            <%= link_to 'DEL', contact_path(feedback.id), :class => "btn weight--light  btn--small", method: :delete, data: { confirm: 'Are you sure you want to delete this contact?' } %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
<br />
