<% breadcrumb :contacts %>
<% if @user.person_role == 'county_coordinator' || @user.person_role == 'country_coordinator'%>
  <h2 class=" text--center">List of your data problem reports</h2>
  <p style="text-align: center"> <%= @county%></p>
<%else%>
  <h2 class=" text--center"> <% if @archived %>List of archived contacts<% else%>List of active contacts<%end%> </h2>
 <%end%>
<p style="text-align: center">
      <% if !@archived  %> <%= link_to 'List archived', list_archived_contacts_path, method: :get , :class => "btn weight--light btn--small" %> <% else%><%= link_to 'List active',contacts_path, method: :get , :class => "btn weight--light btn--small" %><%end%>
      <%= link_to 'List by Name', list_by_name_contacts_path, method: :get , :class => "btn weight--light btn--small" %> <%= link_to 'List by Posted Date' , list_by_date_contacts_path, method: :get , :class => "btn weight--light btn--small"%> <%= link_to 'List by Identifier' , list_by_identifier_contacts_path, method: :get , :class => "btn weight--light btn--small" %> <%= link_to 'List by Contact Type' , list_by_type_contacts_path, method: :get , :class => "btn weight--light btn--small" %> <%= link_to 'Select by Identifier' , select_by_identifier_contacts_path, method: :get , :class => "btn weight--light btn--small" %> 
</p>  
<% unless Contact.github_enabled %>
<div id="error_explanation">
  <h2>Github integration is not enabled</h2>
</div>
<% end %>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<%= @activated %>
<section class="island   " >
  <div class="table-wrapper">
    <div class="grid">
      <div class="grid__item one-whole" >
        <table class="table--bordered table--data ">
          <tr>
            <th class="t20">Name</th>
            <th class="t20">email</th>  
            <th class="t10">Type</th> 
            <th class="t10">County</th> 
            <th class="t10">Posted</th>
            <th class="t10">Identification</th>
            <th class="t20">Action</th>
          </tr>
          <% @contacts.each do |feedback| %>
          <tr>
            <td><%= feedback.name %></td>
            <td><%= feedback.email_address %></td>
            <td><%= feedback.contact_type %></td>
            <td><%= feedback.county  %>
            <td><%= feedback.contact_time.strftime("%d %b %Y") unless feedback.contact_time.nil?%></td>
             <td><%= feedback.identifier  %>
            <td>
              <%= link_to 'SH', contact_path(feedback.id),  :class => "btn weight--light  btn--small", method: :get%>
              <%= link_to 'Reply', reply_contact_path(source_contact_id:feedback.id) ,:class => "btn weight--light  btn--small" %>
              <%= link_to 'View Replies', contact_reply_messages_path(feedback.id), class: "btn weight--light  btn--small", method: :get if feedback.has_replies?(feedback.id.to_s)%>
              <%= link_to 'Archive', archive_contact_path(feedback.id), :class => "btn weight--light  btn--small",  data: { confirm: 'Are you sure you want archive this contact' } unless feedback.is_archived?%>
              <%= link_to 'Restore', restore_contact_path(feedback.id), :class => "btn weight--light  btn--small",  data: { confirm: 'Are you sure you want archive this contact' } if feedback.is_archived?%>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>
<br />