<% breadcrumb :contacts %>
<% if @user.person_role == 'county_coordinator' || @user.person_role == 'country_coordinator'%>
  <h2 class=" text--center">List of your data problem reports</h2>
  <p style="text-align: center"> <%= @county%></p>
<%else%>
  <h2 class=" text--center"> <% if @archived %>List of archived contacts<% else%>List of active contacts<% end%> </h2>
<%end%>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>

<p style="text-align: center">
  <%= link_to 'List by Name', list_by_name_contacts_path, method: :get , :class => "btn btn--small" %>
  <%= link_to 'Most Recent Date' , list_by_most_recent_contacts_path, method: :get , :class => "btn btn--small"%>
  <%= link_to 'Earliest Date' , list_by_date_contacts_path, method: :get , :class => "btn btn--small"%>
  <%= link_to 'List by Contact Type' , list_by_type_contacts_path, method: :get , :class => "btn btn--small" %>
  <%= link_to 'Select by Identifier' , select_by_identifier_contacts_path, method: :get , :class => "btn btn--small" %>
  <% if !@archived  %>
    <%= link_to 'List archived', list_archived_contacts_path, method: :get , :class => "btn btn--small" %>
  <% else%>
    <%= link_to 'List active',contacts_path, method: :get , :class => "btn btn--small" %>
  <% end%>
</p>
<% if @primary_contact_present %>
<h3>Primary Contacts</h3>
  <%= render partial: 'list_contacts', locals: {contacts: @primary_contacts } %>
<% else %>
<h3>Primary Contacts</h3>
  <%= render partial: 'no_contacts', locals: {text: 'primary' } %>
<% end %>
<% if @secondary_contact_present %>
<h3>Secondary Contacts</h3>
  <%= render partial: 'list_contacts', locals: {contacts: @secondary_contacts } %>
<% else %>
<h3>Secondary Contacts</h3>
  <%= render partial: 'no_contacts', locals: {text: 'secondary' }  %>
<% end %>
<br />