<% title "Contact Us" %>
<h1 class="title">Contact us</h1>
<p>Please read our <%= link_to "Privacy Notice", Constant::PRIVACY_POLICY_LINK %> for information on how we will protect and use your data, and then fill in the form below with your details.</p>
<% if flash[:notice] %>
  <div id="notice" style="color:blue">
    <%= flash[:notice] %>  <% flash[:notice] = nil%>
  </div>
<% end %>
<%= use_communicate_action_reminder %>
<% if appname_downcase == "freereg"%>
  <p>Would you like to thank the volunteers who have made <%= "Free#{appname[4,3].upcase}" %> possible? Please <%= link_to "leave us a review.", '/cms/about/your-reviews' %></p>
<% end %>
<%= render 'form' %>
