<% title "Contact Us" %>
<h1 class="title">Contact us</h1>
<% if flash[:notice] %>
  <div id="notice" style="color:blue">
    <%= flash[:notice] %>  <% flash[:notice] = nil%>
  </div>
<% end %>
<%= use_communicate_action_reminder %>
<p>Would you like to thank the volunteers who have made <%= "Free#{appname[4,3].upcase}" %> possible? Please <%= link_to "leave us a review.", '/cms/about/your-reviews' %></p>
<%= render 'form' %>
