<h1 class="title">Errors and omissions in the GRO Index data</h1>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited your contact from being submitted:</h2>
    <ul class="validation-list">
      <% @contact.errors.full_messages.each do |msg| %>
        <li class="validation-list__error"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div >
  <p class="push-half--bottom">The data in the FreeBMD web site is transcribed by our volunteers from scans of pages in the General Register Office indexes. These indexes were created by copying selected information from certificates, pooling it centrally, and creating an index by hand. The format of these indexes has changed over time, from handwritten pages, to typed pages, then to computer printout. The quality of the scans we have been given access to (often a scan of fiche or microfilm, which is itself a copy of the source page) has also varied - some are very hard to read.</p>
  <p class="push-half--bottom">In the course of all this copying of data, it is inevitable that mistakes and omissions will occur. Our goal is to ensure that, as far as possible, our data is a faithful transcription of what is actually present in the GRO index. We recognize, and accept, that the index itself may be wrong. We do provide a mechanism for recording additional information about an index entry (a "postem"), but you should be aware that anything recorded in a postem will not be searchable, and will only be seen by others if they happen to find the entry by other means.</p>
  <p class="push-half--bottom">Please select the option below which best describes your reason for thinking the data in this entry is wrong, and an explanation will appear, advising what (if anything) you should report to us.</p>
</div>
  <div class="push palm-flush--bottom">
  <ol class="grid">
    <li class="grid__item one-half lap-one-whole palm-one-whole" id="quesons">
      <label class="ttip" for="questins" tabindex="0">Select your query
      </label>
      <%= select_tag "questins", options_for_select(FreebmdDataProblem::QUESTION_VALUE), prompt: "Please choose an option that closely relates to your query" %>
    </li>
    <li class="grid__item one-half lap-one-whole palm-one-whole clear--left" id="explanation">
      <label class="ttip"  tabindex="0">Explanation
      </label>
      <div id="answer" class="answer_explanations">Please find the explanation for your query here</div>
    </li>
    <li class="grid__item one-half lap-one-whole palm-one-whole clear--left">
      <div class="read_answer">
        <label class="ttip" for="read_explanation" tabindex="0">
          <%= check_box_tag "read_explanation", 1, false, required: true %>
          <span>Yes, I have read the above explanation and wish to submit a report</span>
        </label>
      </div>
    </li>
  </ol>
</div>
<div class="push palm-flush--bottom report_form">
  <div class="read-length">
    <p class="push-half--bottom">Thank you for reporting a possible error in our transcription. <b>We will change our record if we agree with your interpretation of the source document we transcribed.</b> If you have access to a different document which has different evidence, please provide details so that we can attach a note to our transcription. We would be grateful if you could send us an image of the different document so that we may transcribe it.</p>
    <p style="font-size: 0.9rem;">Please note: some Record Offices and some websites allow you to make copies for personal use only &mdash; if your document is such a copy, we cannot use it.</p>
    <p>Please read our <%= link_to "Privacy Notice", Constant::PRIVACY_POLICY_LINK %> for information on how we will protect and use your data, and then complete the form below.</p>
  </div>
  <%= semantic_form_for(@contact, :html => {:multipart => true}) do |f| %>
    <%= f.hidden_field :query %>
    <%= f.hidden_field :contact_type %>
    <%= f.hidden_field :contact_time %>
    <%= f.hidden_field :record_id %>
    <%= f.hidden_field :entry_id %>
    <%= f.hidden_field :line_id %>  
    <%= f.hidden_field :previous_page_url %>
    <%= f.hidden_field :county %>
    <%= f.hidden_field :problem_page_url %>
    <ol class="grid">
      <li class="grid__item one-quarter lap-one-half palm-one-whole clear--left" id="name_input">
        <label class="label ttip" for="name" tabindex="0">Your name
          <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Required. Your name for when we contact you: it will not be made public</span>
        </label>
        <% if @contact.name.nil? %>
          <input id="name" name="contact[name]" type="text" class="text-input" placeholder="Required" required="required">
        <% else %>
          <input id="name" name="contact[name]" type="text" class="text-input" value="<%=@contact.name%>">
        <% end %>
      </li>
      <li class="grid__item one-quarter lap-one-half palm-one-whole" id="email_address_input">
        <label class="label ttip" for="email_address" tabindex="0">Your email address
          <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Required. Your email address so we can contact you: it will not be made public</span>
        </label>
        <% if @contact.email_address.nil? %>
          <input id="email_address" name="contact[email_address]" type="text" class="text-input" placeholder="Required" required="required">
        <% else%>
          <input id="email_address" name="contact[email_address]" type="text" class="text-input" value="<%=@contact.email_address%>">
        <% end%>
      </li>
      
      
      <li class="grid__item one-half lap-one-whole palm-one-whole push--bottom clear--left">
        <label class="ttip" for="description" tabindex="0">Description
          <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
          <span class="ttip__text">Your reasons for commenting on the entry</span>
        </label>
        <% if @contact.body.nil? %>
          <textarea id="description" name="contact[body]" style="width: 100%; max-width: 32rem;" rows="6"></textarea>
        <% else%>
          <textarea id="description" name="contact[body]" style="width: 100%; max-width: 32rem;" rows="6"><%=@contact.body%></textarea>
        <% end%>
      </li>
      <li class="grid__item one-third lap-three-fifths lap-clear--left palm-one-whole push--bottom">
        <label class="ttip" for="screenshot" tabindex="0">Screenshot or image
          <span class="weight--normal" style="display: inline-block;"> (optional) <%= image_tag 'png/info.png', alt: 'Info', height: '16' %></span>
          <span class="ttip__text">Please select any supporting images (jpg, jpeg, png, or gif only)</span>
        </label>
        <input class="push--bottom" id="screenshot" name="contact[screenshot]" type="file">
      </li>
      <%= f.action :submit, :as  => :input, :label => 'Report Error' , :button_html => { :class => "btn" }, :wrapper_html => { :class => "grid__item  one-third lap-two-fifths palm-one-whole push--bottom" } %>
      <li class="betterstyling">
        <label for="contact_name_confirm">Please add your name again:</label>
        <input id="contact_name_confirm" type="text" name="contact[contact_name]">
      </li>
    </ol>
  <% end %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script type="text/javascript">
  $('#read_explanation').change(function() {
      $('.report_form').toggle();
    
});
  console.log('hey');
  $(document).ready(function() {

    $('#questins').change(function(){
      var question_id = ""
      $.each($("#questins option:selected"), function() {
        value = $(this).val()
        console.log(value)
      });
      if(value) {
        question_id = value;
        $.ajax({
          url: "/contacts/question_answer_finder",
          type: "GET",
          data : {
            question_id: question_id
          },
        })
        $('.read_answer').show();
      } else {
        $('.read_answer').hide();
        $('#answer').html('Please find the explanation for your query here');

      };
     
        console.log(question_id)
        // alert(template_id);
        // ajax request
    ;
    });
  })
</script>