<% breadcrumb :show_contact, @contact %>
<div style="clear:both;"> </div>
<%= render "flash_notice" %>
<h4 class=" text--center push--bottom" ><%= show_contact_title(@contact) %></h4>
<h4 class=" text--center push--bottom" ><%= show_contact_title_line_two(@contact) %></h4>
<% if !Contact.github_enabled %>
  <h4 class=" text--center">GitHub integration is not activated </h4>
<% end%>
<%= render 'show_nav' %>
<div class="grid" >
  <section class="island ">
    <div class="grid__item ">
      <table class="table--bordered table--data " style="text-align: left">
        <colgroup >
          <col class=t20>
          <col class=t80>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <%= render 'show_data_problem' if @contact.contact_type == 'Data Problem' &&  @contact.entry_id.present?%>
        <%= render 'show_actor' %>
        <tr >
          <td >The explanation was:</td>
          <td class="weight--semibold"><%= @contact.body %></td>
        </tr>
        <% if @contact.github_issue_url %>
          <tr>
            <td>Github Issue:</td>
            <td class="weight--semibold"> <%= link_to @contact.github_issue_url, @contact.github_issue_url  %></td>
          </tr>
          <tr>
            <td>Github Number:</td>
            <td class="weight--semibold"> <%= @contact.github_number  %></td>
          </tr>
          <tr>
            <td>Make Github Comment:</td>
            <td class="weight--semibold"> <%= link_to @contact.github_comment_url, @contact.github_comment_url  %></td>
          </tr>
        <% end %>
      </table>
      <% if @contact.screenshot_url %>
        <%= image_tag @contact.screenshot_url %>
      <% end %>
    </div>
  </section>
</div>