<% breadcrumb :show_contact, @contact %>
<div style="clear:both;"> </div>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<h4 class=" text--center push--bottom" >Contact Reference <%= @contact.identifier %></h4>
    
<div  class=" text--center push--bottom">
              <%= link_to 'Create Reply', reply_contact_path(source_contact_id:@contact.id) ,:class => "btn weight--light  btn--small" %>
              <% unless @contact.has_replies?(@contact.id.to_s)%>
                <%= link_to 'Destroy', contact_path(@contact.id.id), :class => "btn weight--light  btn--small",method: :delete, data: { confirm: 'Are you sure you want to delete this contact' } %>
              <% else %>
                <%= link_to 'View Replies', contact_reply_messages_path(@contact.id), class: "btn weight--light  btn--small", method: :get %>
                <%= link_to 'Force Destroy', force_destroy_contact_path(@contact.id), :class => "btn weight--light  btn--small", title: "This contact has replies and will be destroyed with this action", data: { confirm: 'This contact has replies. Are you sure you want to forcefully delete this contact' } %>
              <% end %>
</div>
    

<div class="grid">
  <section class="island ">
   
    <div class="grid__item  ">
      
      <table class="table--bordered table--data " >
        <colgroup >
        <col class=t40>
        <col class=t60>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <tr>
          <td>Type of Contact : </td> <td class="weight--semibold"> <%= @contact.contact_type %>  </td>
        </tr>
        <tr>
          <td>Reference : </td> <td class="weight--semibold"> <%= @contact.identifier %>  </td>
        </tr>
        <tr>
          <td>Time and date of Contact:</td> <td class="weight--semibold">  <%= @contact.contact_time.strftime("%H:%M on %F") unless @contact.contact_time.nil? %></td>
        </tr>
        <tr>
          <td>Name of Contact Person:</td> <td class="weight--semibold"><%= @contact.name %></td>
        </tr>
        <tr>
          <td>Email address of Contact Person :</td><td class="weight--semibold"><%= @contact.email_address %> </td>
        </tr>
        <% if @contact.contact_type = 'Data Problem' &&  @contact.entry_id.present?%>
          <tr><td>Record :</td><td class="weight--semibold"> <%= @contact.line_id %> </td></tr>
          <tr><td>Data Record :</td><td class="weight--semibold"><%= link_to ' Record in question', freereg1_csv_entry_path(@contact.entry_id),  method: :get, :class => "btn weight--light  btn--small"%></td></tr>
          <tr><td>County :</td><td class="weight--semibold"> <%= @contact.county %> </td></tr>
        <% end%>
        <tr>
          <td>Explanation:</td><td class="weight--semibold"><%= @contact.body %></td>
        </tr>
        
        <tr>
          <td>Session Data:</td><td class="weight--semibold"> <%= @contact.session_data %> </td>
        </tr>
        
        <% if @contact.github_issue_url %>
          <tr><td>Github Issue:</td><td class="weight--semibold"> <%= link_to @contact.github_issue_url, @contact.github_issue_url  %></td></tr>
          <tr><td>Github Number:</td><td class="weight--semibold"> <%= @contact.github_number  %></td></tr>
          <tr><td>Make Github Comment:</td><td class="weight--semibold"> <%= link_to @contact.github_comment_url, @contact.github_comment_url  %></td></tr>
        <% else %>
          <% if Contact.github_enabled %>
            <tr><span  style="float:left;">
              <%= link_to "Convert to Issue", convert_contact_to_issue_path(@contact),:class => "btn weight--light  btn--small"  %>
            </span></tr>
          <% else %>
            <tr>Github integration is not set up on this site yet.</tr>
          <% end %>
        <% end %>
    </table>
    <b>Screenshot:</b>
    <% if @contact.screenshot_url %>
      <%= image_tag @contact.screenshot_url %>
    <% else %>
      No screenshot attached.
    <% end %>
  </div>
</section>
</div>