<section class="island  island--light">

<%= semantic_form_for @syndicate,  :html => { :class =>  "grid"} do |f| %>

<%= f.input :syndicate_code,:label => "Syndicate name :",
              :input_html =>
              { :size => 10 , :class => "text-input"},
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole"
              }%>
<%= f.input :syndicate_coordinator, 
              { :as => :select,:include_blank => false, :required => true, :collection => @people, 
              :size => 5 , :class => "text-input",  :label => "Syndicate Coordinator:",
              :input_html => { :class => "select" }, 
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole" }
              }%>
<%= f.input :syndicate_description,:label => "Syndicate description :",
              :input_html =>
              { :size => 60 , :class => "text-input"},
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole"
              }%>
<%= f.input :accepting_transcribers, 
              { :as => :select,:include_blank => false, :required => true, :collection => [true,false], 
              :size => 2 , :class => "text-input",  :label => "Accepting Transcribers?:",
              :input_html => {  :class => "select" }, 
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole" }
              }%>
  
<%= f.input :syndicate_notes,:label => "Syndicate notes :",
              :input_html =>
              { :size => 60 , :class => "text-input"},
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole"
              }%>

<%= f.submit "Update" %>
<% end %>
</section>


  