<section class="island  island--light">
  <%= semantic_form_for @syndicate,  :html => { :class =>  "grid"} do |f| %>
    <i>(Note: Syndicate name must not contain Question Marks)</i>
    <%= f.input :syndicate_code,:label => "Syndicate name:",
              :input_html =>
              {:class => "simple_form_bgcolour text-input", :size => 30 },
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole"
              }%>
    <%= f.input :syndicate_coordinator,
              { :as => :select, :required => true, :collection => @people,
              :size => 5 ,  :label => "Syndicate Coordinator:",
              :input_html => {:class => "simple_form_bgcolour text-input select" },
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole" }
              }%>
    <%= f.input :syndicate_description,:label => "Syndicate description :",
              :input_html =>
              { :size => 60 , :class => "simple_form_bgcolour text-input"},
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole"
              }%>
    <%= f.input :accepting_transcribers,
              { :as => :select, :required => true, :collection => [true,false],
              :size => 2 ,  :label => "Accepting Transcribers?:",
              :input_html => {  :class => "simple_form_bgcolour text-input select" },
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole" }
              }%>
    <%= f.input :syndicate_notes,:label => "Syndicate notes :",
              :input_html =>
              { :size => 60 , :class => "simple_form_bgcolour text-input"},
              :wrapper_html => { :class => "grid__item  one-whole  palm-one-whole"
              }%>
    <%= f.action :submit,  :label => 'Update', :as => :button, :button_html => {:class => "btn  " }  %>
  <% end %>
</section>