
<p style="text-align: center"><b>Editing a Syndicate</b></p>
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %>

<%= semantic_form_for @syndicate,  :html => { :class =>  "grid"} do |f| %>



<%= f.input :syndicate_code,:label => "Syndicate name :",:input_html => { :size => 40 }%>
<%= f.input :syndicate_coordinator, {:as => :select,  :collection => @people,:include_blank => false,:label => "Please select the coordinator :", :size => 5} %>
<%= f.input :syndicate_description,:label => "Syndicate description :",:input_html => { :size => 80 }%>,
<%= f.input :accepting_transcribers,{:as => :select,  :collection => [true,false],:include_blank => false,:label => "Accepting Transcribers?:", :size => 5} %>
<%= f.input :syndicate_notes,:label => "Syndicate notes :",:input_html => { :size => 100 }%>


<%= f.submit "Update" %>
<% end %>
</div>


