<p style="text-align: center"><b>Syndicate Detail Management</b></p>

<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
</div>
<% end %>


<div id="main"style="color:black">
  <table  class="table--bordered  table--striped  table--data">
    <tr>

      <th style="width:23%">Syndicate</th>
      <th style="width:23">Syndicate Coordinator</th>
      <th style="width:8">Accepting Transcribers?</th>
      <th style="width:23%">Show</th>
      <th style="width:23%">Edit</th>
    </tr>

    <% @syndicates.each do |syndicate| %>
    <tr id="<%=syndicate.id%>">
     <td > <%= syndicate.syndicate_code %>  </td>
     <td > <%= syndicate.syndicate_coordinator %>  </td>   
     <td > <%= syndicate.accepting_transcribers %>  </td>   


     <td><%= button_to 'Show', syndicate_path(syndicate), method: :get  %></td><td><%= button_to 'Edit details', edit_syndicate_path(syndicate), method: :get  %>
   </tr>
   <% end %>

 </table>
</div>



