Page Identification Syndicates:new<p>
<p style="text-align: center">Create a new Syndicate</p>
<div  style="float:left;"> <%= button_to 'FreeREG management', manage_freeregs_path, method: :get %> </div>
<div style="float:left;">  <%= button_to_function "Previous Page", "history.back()" %> </div>
<div style="float:left;"> <%= button_to" Logout", refinery.logout_path , method: :get%></div>
<div style="clear:both;"> </div><br>


  <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %>

    <%= semantic_form_for @syndicate do |f| %>

  

    <%= f.input :syndicate_code,:label => "Syndicate name :",:input_html => { :size => 40 }%>
<%= f.input :syndicate_coordinator, {:as => :select,  :collection => @people,:include_blank => false,:label => "Please select the coordinator :", :size => 5} %>
<%= f.input :syndicate_description,:label => "Syndicate description :",:input_html => { :size => 80 }%>
<%= f.input :accepting_transcribers,{:as => :select,  :collection => [true,false],:include_blank => false,:label => "Accepting Transcribers?:", :size => 5} %>
<%= f.input :syndicate_notes,:label => "Syndicate notes :",:input_html => { :size => 100 }%>

    
     <%= f.submit "Create" %>
     <% end %>
    </div>
   


<div  style="float:left;"> <%= button_to 'FreeREG management', manage_freeregs_path, method: :get %> </div>
<div style="float:left;">  <%= button_to_function "Previous Page", "history.back()" %> </div>
<div style="float:left;"> <%= button_to" Logout", refinery.logout_path , method: :get%></div>
<div style="clear:both;"> </div><br>

 