<% if @denomination.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@denomination.errors.count, "error") %> prohibited this denomination from being saved:</h2>
    <ul>
      <% @denomination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<div>
  <%= simple_form_for @denomination do |f| %>
    <%= f.input :denomination, :label => "Denomination" ,  :input_html => {:class => " simple_form_bgcolour  ",  :size => 30 }  %>
    <%= f.input :notes, :label => "Notes" ,  :input_html => {:class => " simple_form_bgcolour  ",  :size => 30 }  %>
    <%= f.button :submit , :button_html => {:class => "btn  weight--light  btn--small" } %>
  <% end %>
</div>