<%= semantic_form_for @freecen2_piece, :html => { :class => 'grid'}  do |f| %>
  <% if @freecen2_piece[:num_individuals].to_i>0 %>
    <div style='color:red;'>Warning: Records are already loaded for this piece. Edits could impact existing records.</div>
  <% end %>
  <% if @user.person_role == "system_administrator" || @user.person_role == "data_manager" %>
    <%= f.input :reason_changed,:label => 'Reason for making a change or addition',required: false,:as => :text, :input_html => {:class => ' simple_form_bgcolour  ',   :placeholder => 'Enter the reason for a change',  :size => '50x5' }%>
  <% else %>
    <%= f.input :reason_changed,:label => 'Reason for making a change or addition',required: true,:as => :text, :input_html => {:class => ' simple_form_bgcolour  ',   :placeholder => 'Enter the reason for a change',  :size => '50x5' }%>
  <% end %>
  <%= f.input :number, label: 'Piece Number: e.g. HS_100 or RG_1234', value: @freecen2_piece.number,required: true, :input_html => {:class => ' simple_form_bgcolour  ',  :size => 40 } if %w[data_manager system_administrator].include?(@user.person_role)%>
  <%= f.input :name ,  label: 'Piece (Subdistrict) name (Allows this piece to be merged into another piece. If in doubt talk to the data manager): as used in the search', selected: @freecen2_piece.name, include_blank: false, required: true,collection: @freecen2_pieces, input_html: {class: ' simple_form_bgcolour large_selection_field_width', size:5 }  if %w[data_manager system_administrator].include?(@user.person_role)%>
  <%= f.input :admin_county,  label: 'Admin County:', selected:   @freecen2_piece.admin_county, include_blank: false, required: true,collection: ChapmanCode.values, input_html: {class: ' simple_form_bgcolour large_selection_field_width', size:5 } if %w[data_manager system_administrator].include?(@user.person_role)%>
  <% if @records %>
    Search records exist therefore place name cannot be changed with simple edit. Please ask system administrator to make the change <br>
    <br>
  <% else %>
    <%= f.input :freecen2_place_id,  label: 'Freecen2 Place name:', selected:  @freecen2_place, include_blank: false, required: true,collection: @places, input_html: {class: ' simple_form_bgcolour large_selection_field_width', size:5 }%>
  <% end%>
  <% unless @scotland %>
    <%= f.hidden_field :parish_number, :value => '' %>
    <% if %w[data_manager system_administrator].include?(@user.person_role) %>
      <%= f.input :tnaid,:label => 'TNA link', :input_html => {:class => ' simple_form_bgcolour  ',:size => 10 }%>
      <%= f.input :code,:label => 'TNA Code', :input_html => {:class => ' simple_form_bgcolour  ',:size => 10 }%>
      <%= f.input :prenote,:label => 'TNA Pre notes', :input_html => {:class => ' simple_form_bgcolour  ',:size => 10 }%>
    <% else %>
      <%= f.input :tnaid,:label => 'TNA link', :input_html => { :disabled => true,:size => 10 }%>
      <%= f.input :code,:label => 'TNA Code', :input_html => { :disabled => true,:size => 10 }%>
      <%= f.input :prenote,:label => 'TNA Pre notes', :input_html => { :disabled => true,:size => 10 }%>
    <% end %>
    <%= f.input :notes,label: 'TNA Notes; add reason for change after their note',  as: :text, input_html: {class: ' simple_form_bgcolour  ',   placeholder: @freecen2_piece.notes,  size: '50x5' }%>
  <% else%>
    <%= f.hidden_field :tnaid, :value => 'None' %>
  <% end%>
  <%= f.input :film_number, label: 'Film', value: @freecen2_piece.film_number, :input_html => {:class => ' simple_form_bgcolour  ',  :size => 40 } %>
  <%= f.input :remarks, label: 'Public notes for Piece', value: @freecen2_piece.remarks, :as => :text, :input_html => {:class => ' simple_form_bgcolour  ',   :placeholder => 'Enter public notes',  :size => '50x5' }%>
  <%= f.input :remarks_coord, label: 'Management notes for Piece', value: @freecen2_piece.remarks_coord, :as => :text, :input_html => {:class => ' simple_form_bgcolour  ',   :placeholder => 'Enter management notes',  :size => '50x5' }%>
  <%= f.input :year,:label => 'Census year', required: false, :input_html => { :disabled => true,:size => 10 }%>
  <div  style="text-align: center">
    <%= f.action :submit,  :as => :button,  :label =>  'Submit', :button_html => {name: 'commit', value: 'Submit', :class => 'ladda-button' , 'data-style' => 'contract' ,'data-color' => appname_downcase , 'data-size' => 's', 'data-spinner-color' => '#ffffff'  } %>
    <%= f.action  :cancel, as: :link, label: 'Cancel' %>
  <% end %>
</div>
<script type='text/javascript'>
  Ladda.bind( 'button[type=submit]' );
</script>