<% breadcrumb :freecen2_stats_pieces,  @county%>
<div class='scrollable'>
  <table  class="table--bordered table--data table--striped my-width" >
    <caption>CAP Report</caption>
    <thead >
      <tr>
        <th class='sticky-header'>Piece Number (Chapman Code) </th>
        <th class='sticky-header'>Registration District </th>
        <th class='sticky-header'>Piece Name </th>
        <th class='sticky-header'>Civil Parishes</th>
        <th class='sticky-header'>Piece Exists</th>
        <th class='sticky-header'>Digital Image Available</th>
        <th class='sticky-header' colspan="3">Status</th>
      </tr>
      <tr>
        <td class='sticky-header' colspan='6'></td>
        <th class='sticky-header'>Transcription Status</th>
        <th class='sticky-header'>Validation Status</th>
        <th class='sticky-header'>Incorporated</th>
      </tr>
    </thead>
    <tbody>
      <% if @pieces.present? %>
        <% @pieces.each do |piece| %>
          <tr>
            <td><%= piece.display_piece_number(@chapman_code) %></td>
            <td><%= piece.freecen2_district.name %></td>
            <td><%= piece.name %></td>
            <td><%= piece.civil_parish_names %></td>
            <td><%= piece.piece_availability %></td>
            <td><%= piece.piece_digitised %></td>
            <td><%= piece.transcription_status %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>No piece found</tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>