<% breadcrumb :edit_freecen2_piece, @freecen2_piece.id, @freecen2_piece.district_chapman_code,  @freecen2_piece.year %>
<h1 style="text-align: center">Editing FreeCEN Piece Number <%= @freecen2_piece.number%> for <%= @freecen2_piece.district_chapman_code%> in <%= @freecen2_piece.year %></h1>
<%= render 'flash_notice' %>
<%= render 'form' %>
<br>