<% breadcrumb :freecen2_pieces_full_index,  @chapman_code  %>
<h2 style="text-align: center">FreeCen2 Sub Districts (Pieces) for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) </h2>
<div style="text-align: center">
  <%= link_to 'Download Full CSV Listing of Pieces', csv_index_freecen2_piece_path(year:'all' , chapman_code: @chapman_code), data: { confirm: 'Are you sure?' }, :class => "btn   btn--small", title: 'Downloads a csv file listing all the pieces for this year and county'%>
  <%= render 'flash_notice' %>
  <h3 style="text-align: center">Please be aware that there may well be several Pieces with the same name for a given year</h3>
  <%= paginate @freecen2_pieces_distinct %>
  <div class="scrollable ">
    <table  class="table--bordered table--data table--striped " >
      <thead >
        <tr >
          <th class='sticky-header '>Sub District (Piece)</th>
          <th class='sticky-header '><%= piece_index_link(@chapman_code, '1841')%></th>
          <th class='sticky-header '><%= piece_index_link(@chapman_code, '1851')%></th>
          <th class='sticky-header '><%= piece_index_link(@chapman_code, '1861')%></th>
          <th class='sticky-header '><%= piece_index_link(@chapman_code, '1871')%></th>
          <th class='sticky-header '><%= piece_index_link(@chapman_code, '1881')%></th>
          <th class='sticky-header '><%= piece_index_link(@chapman_code, '1891')%></th>
          <th class='sticky-header '><%= piece_index_link(@chapman_code, '1901')%></th>
          <th class='sticky-header '><%= piece_index_link(@chapman_code, '1911')%></th>
          <th class='sticky-header '><%= piece_index_link(@chapman_code, '1921')%></th>
        </tr>
      </thead>
      <tbody >
        <% @freecen2_pieces_distinct.each do |freecen2_piece| %>
          <tr id="<%= freecen2_piece%>">
            <td> <%= freecen2_piece %></td>
            <% @census.each do |year| %>
              <td> <%= piece_year(freecen2_piece, year)%></td>
            <% end%>
            <td></td>
          </tr>
        <% end%>
      </tbody >
    </table>
  </div>
  <br>
  <br>