<% breadcrumb :locate_other_pieces, session[:chapman_code]%>
<h2 style="text-align: center">FreeCen2 Pieces for <%= @number%> </h2>
<div style="text-align: center">
  <%= render 'flash_notice' %>
</div>
<div class="scrollable ">
  <table class="table--bordered table--data just--left table--striped">
    <thead >
      <tr>
        <th class='sticky-header '>Piece Number</th>
        <th class='sticky-header '>Chapman_code</th>
        <th class='sticky-header '>Piece name</th>
        <th class='sticky-header '>District</th>
        <th class='sticky-header '>Place</th>
        <th class='sticky-header '>Civil parishes <br>
          <small>The part in () is the name of any Hamlet, Township, Ward or Place included in the Civil Parish</small></th>
        <th>Piece Exists</th>
        <th>Digital images available</th>
      </tr>
    </thead>
    <tbody >
      <% @freecen2_pieces.each do |freecen2_piece| %>
        <tr id="<%=freecen2_piece.name%>">
          <td ><%= freecen2_piece.number %></td>
          <td ><%= freecen2_piece.chapman_code %></td>
          <td ><%= freecen2_piece.name %></td>
          <td ><%= freecen2_piece.district_name%></td>
          <td ><%= freecen2_piece.place_place_name unless freecen2_piece.freecen2_place.blank?%></td>
          <td ><%= freecen2_piece.civil_parish_names %></td>
          <td>freecen2_piece.piece_availability</td>
          <td>freecen2_piece.piece_digitised</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<h2 style="text-align: center">Update Piece Availablity and Piece  Digitised status</h2>
<%= form_tag update_piece_status_freecen2_piece_path, :html => { :class => 'grid'} do %>
  <%= hidden_field_tag 'pieces[]', @freecen2_pieces %>
  <% label_tag 'piece_availablity', 'Piece Exists'%>
  <%= select_tag :piece_availablity ,options_for_select(['Y',' N', 'P']) , class: ' simple_form_bgcolour', id: 'piece_availablity' %>
  <% label_tag 'piece_digitised', 'Digital images available'%>
  <%= select_tag :piece_digitised , options_for_select(['Y', 'P', 'F', 'N']), class: ' simple_form_bgcolour', id: 'piece_digitised' %>
  <div  style="text-align: center">
    <%= submit_tag 'Update Piece', :class => 'ladda-button' , data: {'data-style' => 'contract' ,'data-color' => appname_downcase , 'data-size' => 's', 'data-spinner-color' => '#ffffff' } %>
    <%#= f.action :submit,  :as => :button,  :label =>  'Update Piece', :button_html => {name: 'commit', value: 'Update Number', :class => 'ladda-button' , 'data-style' => 'contract' ,'data-color' => appname_downcase , 'data-size' => 's', 'data-spinner-color' => '#ffffff'  } %>
  </div>
<% end %>
<script type='text/javascript'>
  Ladda.bind( 'button[type=submit]' );
</script>
<br>