<% breadcrumb :new_freecen2_piece,  @chapman_code %>
<h1 style="text-align: center">Creating new FreeCEN Piece for <%= @chapman_code%></h1>
<%= render 'flash_notice' %>
<% if @freecen2_piece.errors.any? %>
  <%= @freecen2_piece.errors.full_messages%>
<% end%>
<% if @piece_params_errors.present? && @piece_params_errors.any? %>
  <%= @piece_params_errors%>
<% end%>
<%= render 'form' %>
<%# link_to 'Back', freecen2_pieces_path %>