<%= render 'show_header' %>
<div class="grid">
  <section class="island ">
    <div class="grid__item ">
      <table   class="table--bordered table--striped  table--data">
        <colgroup >
          <col class=t40>
          <col class=t60>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <tr>
          <td>Piece number</td>
          <td class="weight--semibold"> <%=  @freecen2_piece.number %> </td>
        </tr>
        <tr>
          <td>Sub District name</td>
          <td class="weight--semibold"> <%= @freecen2_piece.name %> </td>
        </tr>
        <tr>
          <td>Year</td>
          <td class="weight--semibold"> <%=  @freecen2_piece.year %> </td>
        </tr>
        <tr>
          <td>Chapman code</td>
          <td class="weight--semibold"> <%= @freecen2_piece.district_chapman_code%> </td>
        </tr>
        <tr>
          <td>District name <small>(Name is a link)</small></td>
          <td class="weight--semibold"> <%= district_link(@freecen2_piece.freecen2_district) %> </td>
        </tr>
        <tr>
          <td>Civil Districts <small>(List is a link)</small></td>
          <td class="weight--semibold"> <%= civil_link(@freecen2_piece)  %></td>
        </tr>
        <tr>
          <td>Number of CSV files <small>(Number is a link)</small></td>
          <td class="weight--semibold"> <%=  csv_files(@freecen2_piece) %> </td>
        </tr>
        <tr>
          <td>Notes before name</td>
          <td class="weight--semibold"> <%= @freecen2_piece.prenote%> </td>
        </tr>
        <tr>
          <td>Notes</td>
          <td class="weight--semibold"> <%= @freecen2_piece.notes%> </td>
        </tr>
        <tr>
          <td>National Archives Link <small> (Opens in a new tab)</small></td>
          <td class="weight--semibold"><%= tna(@freecen2_piece.tnaid) %> </td>
        </tr>
      </table>
    </div>
  </section>
</div>
<br>