<% breadcrumb :show_freecen2_piece,  @freecen2_piece.id, @freecen2_piece.chapman_code,  @freecen2_piece.year, @type%>
<%= render 'show_header' %>
<div class="grid">
  <section class="island ">
    <div class="grid__item ">
      <table   class="table--bordered table--striped  table--data">
        <colgroup >
          <col class=t40>
          <col class=t60>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <tr>
          <td>Piece number</td>
          <td class="weight--semibold"> <%=  @freecen2_piece.number %> </td>
        </tr>
        <tr>
          <td>Sub District (Piece) name  <small>(Standard name)</small></td>
          <td class="weight--semibold"> <%= @freecen2_piece.name %> (<%= @freecen2_piece.standard_name %>)</td>
        </tr>
        <tr>
          <td>Year</td>
          <td class="weight--semibold"> <%=  @freecen2_piece.year %> </td>
        </tr>
        <tr>
          <td>Chapman code</td>
          <td class="weight--semibold"> <%= @freecen2_piece.chapman_code%> </td>
        </tr>
        <tr>
          <td>Belongs to Place <small>(Name is a link)</small></td>
          <td class="weight--semibold"> <%=  place_link(@place) %> </td>
        </tr>
        <tr>
          <td>Belongs to District <small>(Name is a link)</small></td>
          <td class="weight--semibold"> <%= district_link(@freecen2_piece.freecen2_district) %> </td>
        </tr>
        <tr>
          <td><%= civil_link(@freecen2_piece)  %></td>
          <td class="weight--semibold"> <%=  "#{@freecen2_piece.civil_parish_names}"  %></td>
        </tr>
        <tr>
          <td><%= csv_files_piece_link_unincorporated(@freecen2_piece) %></td>
          <td class="weight--semibold"> <%=  csv_files_piece_unincorporated(@freecen2_piece) %> </td>
        </tr>
        <tr>
          <td><%= csv_files_piece_link_incorporated(@freecen2_piece) %></td>
          <td class="weight--semibold"> <%=  csv_files_piece_incorporated(@freecen2_piece) %> </td>
        </tr>
        <tr>
          <td><%= vld_files_piece_link(@freecen2_piece) %></td>
          <td class="weight--semibold"> <%= vld_files_piece(@freecen2_piece) %> </td>
        </tr>
        <tr>
          <td>Status</td>
          <td class="weight--semibold"> <%= piece_status(@freecen2_piece) %></td>
        </tr>
        <tr>
          <td>Film</td>
          <td class="weight--semibold"> <%= @freecen2_piece.film_number%> </td>
        </tr>
        <% unless @scotland %>
          <tr>
            <td>Code</td>
            <td class="weight--semibold"> <%= @freecen2_piece.code%> </td>
          </tr>
          <tr>
            <td>Notes before name</td>
            <td class="weight--semibold"> <%= @freecen2_piece.prenote%> </td>
          </tr>
          <tr>
            <td>Notes</td>
            <td class="weight--semibold"> <%= @freecen2_piece.notes%> </td>
          </tr>
          <tr>
            <td>Data Manager's Comments</td>
            <td class="weight--semibold"> <%= @freecen2_piece.reason_changed%> </td>
          </tr>
          <tr>
            <td>National Archives Link <small> (Opens in a new tab)</small></td>
            <td class="weight--semibold"><%= tna(@freecen2_piece.tnaid) %> </td>
          </tr>
        <% end%>
      </table>
    </div>
  </section>
</div>
<br>