<% breadcrumb :show_freecen2_piece,  @freecen2_piece.id, @freecen2_piece.chapman_code,  @freecen2_piece.year, @type%>
<h2 style="text-align: center">Details of FreeCen2 Piece <%= @freecen2_piece.number%> in <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) </h2>
<%= render 'flash_notice' %>
<% if %w[county_coordinator country_coordinator data_manager system_administrator].include?(@user.person_role)%>
  <div style="text-align: center">
    <%= link_to 'Edit Piece', edit_freecen2_piece_path(@freecen2_piece, type: @type), data: { confirm: 'Are you sure?' }, :class => "btn   btn--small", title: 'Editing is restricted to, coordinators, data managers and system administrators'%>
  </div>
<% end%>
<% if %w[data_manager system_administrator].include?(@user.person_role)%>
  <div style="text-align: center">
    <%= link_to 'Delete Piece', freecen2_piece_path(@freecen2_piece), method: :delete, data: { confirm: 'Are you sure you want to destroy this Piece.? It will not happen if there are dependants!' } , :class => "btn  btn--small"%>
  </div>
<% end%>
<div class="grid">
  <section class="island ">
    <div class="grid__item ">
      <table   class="table--bordered table--striped  table--data">
        <colgroup >
          <col class=t40>
          <col class=t60>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <tr>
          <td>Piece number</td>
          <td class="weight--semibold"> <%=  @freecen2_piece.number %> </td>
        </tr>
        <tr>
          <td>Sub District name</td>
          <td class="weight--semibold"> <%= @freecen2_piece.name %> </td>
        </tr>
        <tr>
          <td>Year</td>
          <td class="weight--semibold"> <%=  @freecen2_piece.year %> </td>
        </tr>
        <tr>
          <td>Chapman code</td>
          <td class="weight--semibold"> <%= @freecen2_piece.chapman_code%> </td>
        </tr>
        <tr>
          <td>Belongs to Place <small>(Name is a link)</small></td>
          <td class="weight--semibold"> <%=  place_link(@place) %> </td>
        </tr>
        <tr>
          <td>Belongs to District <small>(Name is a link)</small></td>
          <td class="weight--semibold"> <%= district_link(@freecen2_piece.freecen2_district) %> </td>
        </tr>
        <tr>
          <td>Has Civil Districts <small>(List is a link)</small></td>
          <td class="weight--semibold"> <%= civil_link(@freecen2_piece)  %></td>
        </tr>
        <tr>
          <td>Number of CSV files <small>(Number is a link)</small></td>
          <td class="weight--semibold"> <%=  csv_files(@freecen2_piece) %> </td>
        </tr>
        <tr>
          <td>Notes before name</td>
          <td class="weight--semibold"> <%= @freecen2_piece.prenote%> </td>
        </tr>
        <tr>
          <td>Notes</td>
          <td class="weight--semibold"> <%= @freecen2_piece.notes%> </td>
        </tr>
        <tr>
          <td>National Archives Link <small> (Opens in a new tab)</small></td>
          <td class="weight--semibold"><%= tna(@freecen2_piece.tnaid) %> </td>
        </tr>
      </table>
    </div>
  </section>
</div>
<br>