<div style="clear:both;"></div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
   	<%= flash[:notice] %><% flash[:notice] = nil%><br>
  </div>
<% end %>

<div style="clear:both;"></div><br>
<section class="island  island--light">
<div class="grid">

<%= simple_form_for @is_source.first do |s| %>
  <%= s.input :ig, :label=>"Image Group", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>70} %>
  <%= s.input :source_name, :collection=>['Image Server', 'Others'], selected: 'Image Server', :label=>'Source of the Image', :input_html=>{:class=>"simple_form_bgcolour simple_form_position overide_selection_field_width", :size=>2} %>
  <%= s.input :transcriber, :as=>:select, :collection=>@people, :label => 'Transcriber', :input_html => {:class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 3} %>
  <%= s.input :difficulty, :as=>:select, :collection=>IsImage::Difficulty::ALL_DIFFICULTIES.invert, :include_blank=>true, selected: s.object.difficulty, :label=>'Transcription Level Skill', :value=>IsImage::Difficulty::ALL_DIFFICULTIES[s.object.difficulty], :multiple=>true, :input_html=>{:class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 3} %>
  <%= s.input :status, :collection=>IsImage::Status::ALL_STATUSES.invert.sort, selected: s.object.status, :include_blank=>true, :label => 'Transcription Status', :value=>IsImage::Status::ALL_STATUSES[s.object.status], :multiple => true, :input_html => {:class => "simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 3} %>
  <%= s.input :start_date, :label=>"Start Year", :input_html=>{:class=>"simple_form_bgcolour", :size=>10} %>
  <%= s.input :end_date, :label=>"End Year", :input_html=>{:class=>"simple_form_bgcolour", :size=>10} %>
  <%= s.hidden_field :register_id %>
  <%= s.button :submit, 'Submit' %>
 <% end %>
 
</div>
</section>
 