<section class="island  island--light">
<div class="grid">
Existed IG:<br>
<% @ig.each do |b| %>
  	<%= b %><br>
<% end %>

<%= simple_form_for @is_source do |s| %>
  <%= s.input :ig, :label=>"Create New IG", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>70} %>
  <%= s.input :source_name, :label=>'Source of the Image', :collection=>['Image Server', 'Others'], selected: 'Image Server', :input_html=>{:class=>"simple_form_bgcolour simple_form_position overide_selection_field_width", :size=>2} %>
  <%= s.input :start_date, :label=>"Start Year", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>10} %>
  <%= s.input :end_date, :label=>"End Year", :input_html=>{:class=>"simple_form_bgcolour simple_form_position", :size=>10} %>

  <%= s.hidden_field :register_id, :value => params[:id] %>
  <%= s.button :submit, 'Create' %>
<% end %>
</div>

</section>

