<% unless session[:userid].nil?%>
  <div style="text-align: center">  
  <%= link_to 'Create new IG', new_is_source_path(:id=>params[:id]), method: :get, :class => "btn weight--light btn--small"  %> 
  </div>
  <div style="clear:both;"> </div><br>
<% end %>

<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead>
      <tr>
        <th class="t15">Image Group</th>
        <th class="t15">Status</th>
        <th class="t15">Skill Level</th>
        <th class="t15">Transcriber</th>
        <th class="t15">Action</th>
      </tr>
    </thead>
  </table>

  <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody>  
        <% @is_source.each do |is_source| %>
          <tr>
            <td class="t20"><%= is_source.ig %></td>
            <% case is_source[:status] %>
              <% when IsImage::Status::UNALLOCATED %>
                <td class="t15" style="color:red">UnALLOCATED</td>
              <% when IsImage::Status::IN_PROGRESS %>
                <td>IN_PROGRESS</td>
              <% when IsImage::Status::TRANSCRIBED %>
                <td class="t15" style="color:green">TRANSCRIBED</td>
              <% when IsImage::Status::REVIEWED %>
                <td class="t15">REVIEWED</td>
              <% else %>
                <td class="t15"><%= is_source[:status] %>&nbsp;</td>
            <% end %>
            <td class="t20"><%= IsImage::Difficulty::ALL_DIFFICULTIES[is_source[:difficulty]] %>&nbsp;</td>
            <td class="t20"><%= is_source[:transcriber] %>&nbsp;</td>
            <td class="t15"><%= link_to 'SH', is_image_path(is_source) %> <%= link_to 'ED', edit_is_source_path(is_source) %> <%= link_to 'DE', is_source_path(is_source), data: { confirm: 'Are you sure you want to delete IG "'+is_source.ig+'"?'}, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="task-form" style="display:none;"></div>
</div>