<p id="notice"><%= notice %></p>

<p>
  <b>Entry number:</b>
  <%= @freecen_dwelling.entry_number %>
</p>

<p>
  <b>Deleted flag:</b>
  <%= @freecen_dwelling.deleted_flag %>
</p>

<p>
  <b>Dwelling nummber:</b>
  <%= @freecen_dwelling.dwelling_nummber %>
</p>

<p>
  <b>Civil parish:</b>
  <%= @freecen_dwelling.civil_parish %>
</p>

<p>
  <b>Ecclesiastical parish:</b>
  <%= @freecen_dwelling.ecclesiastical_parish %>
</p>

<p>
  <b>Enumeration district:</b>
  <%= @freecen_dwelling.enumeration_district %>
</p>

<p>
  <b>Folio number:</b>
  <%= @freecen_dwelling.folio_number %>
</p>

<p>
  <b>Page number:</b>
  <%= @freecen_dwelling.page_number %>
</p>

<p>
  <b>Schedule number:</b>
  <%= @freecen_dwelling.schedule_number %>
</p>

<p>
  <b>House number:</b>
  <%= @freecen_dwelling.house_number %>
</p>

<p>
  <b>House or street name:</b>
  <%= @freecen_dwelling.house_or_street_name %>
</p>

<p>
  <b>Uninhabited flag:</b>
  <%= @freecen_dwelling.uninhabited_flag %>
</p>

<p>
  <b>Unoccupied notes:</b>
  <%= @freecen_dwelling.unoccupied_notes %>
</p>

<p>
  <b>Freecen1 vld file:</b>
  <%= @freecen_dwelling.freecen1_vld_file %>
</p>


<%= link_to 'Edit', edit_freecen_dwelling_path(@freecen_dwelling) %> |
<%= link_to 'Back', freecen_dwellings_path %>
