<style>
    ul { display:inline-flex; list-style:none; }
    li { float: left; margin:5px 5px; padding:0; }
</style>
<%
  if @name_type == "0"
    nametypestring = "surnames"
  else
    nametypestring = "forenames"
  end
%>
<div class="grid three-quarters">
  <!--section class="island "-->
    <div class="grid__item">
      <h2><%= "#{@record_type.capitalize} #{nametypestring}" %> for people in <%= @district.DistrictName %> Registration District</h2>

      <!--h3 class=" text--center"><%#= "#{@record_type.upcase} #{nametypestring}" %></h3-->
      <p>You can filter the names, use the links below to navigate to names beginning with a specified letter, or use your browser find option to search for critical parts of names</p>
      <form class=" text--left" id="filter_names" accept-charset="UTF-8" method="get">
        <input type=hidden name="record_type" id="record_type" value="<%= params[:record_type] %>"/>
        <input type=hidden name="name_type" id="name_type" value="<%= params[:name_type] %>"/>
        <ul>
        <li>
          <input class="text--left" id="filter" name="filter" value="<%= params[:filter] %>" type="text"/>
        </li>
        <li class="action button_action push--bottom" id="freebmd_district_match_submit_action"><button name="button" type="submit" class="ladda-button" data-style="contract" data-color="freereg" data-size="s" data-spinner-color="#ffffff">Filter names</button></li>
        </ul>
      </form>
      <hr/>
      <nav class="text--center" aria-labelledby="names_nav" id="names_nav">
        <p class="accessibility">Each link takes you to the first name beginning with the specified letter.</p>
        <% ("A".."Z").each do |letter| %>
          <% unless @unique_names[letter].blank? %>
            <a class="push-half--sides" href="<%= '#names_'+letter %>"><%= letter %></a>
          <% end %>
        <% end %>
      </nav>
      <% ("A".."Z").each do |letter| %>
        <% unless @unique_names[letter].blank? %>
          <div id="<%= 'names_'+letter%>">
            <h4><%= nametypestring.capitalize %><%= " containing '"+params[:filter]+"' and " if params[:filter].present? %> beginning with <%= letter %></h4>
            <ol class="nav">
              <% @unique_names[letter].each do |name| %>
                <li><%= name %></li>
              <% end%>
            </ol>
            <% unless params[:filter].present? %>
              <p><a href="#names_nav">Choose another letter</a></p>
            <% end %>

          </div>
        <% end %>
      <% end%>
      <% if @remainders.present? %>
        <div>
          <h4>Additional Names</h4>
          <ul>
            <% @remainders.each do |name| %>
              <li><%= name %></li>
            <% end%>
          </ul>
        </div>
      <% end %>
    </div>
  <!--/section-->
</div>