<h1 class="title">Explore the Database</h1>
<script
  src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
  integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
  crossorigin="anonymous"></script>

<div class="grid">
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="contentsMenu">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="contentsMenu">On this page</h2>
        <ul class="sub-nav">
          <li>
            <a href="#statistics">Database coverage</a> </li>
          <li>
            <a href="#counties_districts">Counties and Districts</a>
            <ul class="push--left">
              <li>
                <a href="#counties">Select a County</a> </li>
              <li>
                <a href="#districts">Select a District</a> </li>
            </ul>
          <li>
            <a href="#other_info">Other information</a> </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>These pages tell you about the data behind the FreeBMD web site. This information is designed to help you make the best use of the site when researching
      your family history.</p>
    <p>One obvious question to ask is <q>does the FreeBMD database hold the information I am seeking?</q>. The <a href="#statistics">Database coverage
      and statistics</a> section explains the scope of the database, and gives an up-to-date summary of our progress in transcribing the G.R.O. index.</p>
    <p>In your searches you can specify one or more <a href="#counties_districts">Registration Districts</a>. The boundaries of these Districts have changed over time, and
      it may not be obvious which District a present-day place may be situated in. You can find out more about an individual <a href="#districts">District</a>
      if you know its name, or you can start by selecting a <a href="#counties">county</a> to see what Districts it contains. There is more information to
      be found about each District - see <a href="#counties_districts">Registration Districts</a> below.</p>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="statistics">
    <h2>Database coverage</h2>
    <% active_quarter_events = Coverage.where( Percentage: 1..98) %>
    <p>The FreeBMD database holds records of births, marriages and deaths registered in England and Wales from July 1837 onwards.
      It is being constantly updated with new transcriptions.</p>
    <p>Work is substantially complete on all dates up to <%= format_quarter_year(active_quarter_events.first.quarter_number_event_to_quarter) %>.
      There are <%= active_quarter_events.size.to_s %> <%= link_to "active quarters", coverage_index_path %> from this date. The latest date for which transcription work
      has started is <%= format_quarter_year(active_quarter_events.last.quarter_number_event_to_quarter) %>.</p>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="counties_districts">
    <h2>Registration Districts</h2>
    <p>These pages contain information about each Registration District in the database. For each District we provide the following information:
    <ul>
      <li>the <b>total number</b> of births, marriages and deaths recorded for the District</li>
      <li>the <b>county</b> or <b>counties</b> within which the District fell, and the range of dates for each</li>
      <li>the <b>volume number</b> associated with the District for different dates</li>
      <li>a <b>page map</b> showing the expected volume number, and the ranges of page numbers encountered in the data,
        for each event type (birth, marriage and death) and quarter</li>
      <li>lists of all the <b>forenames</b> and <b>surnames</b> found in the District for each event type (birth, marriage and death)</li>
    </ul></p>

    <%= render(partial: 'select_a_county') %>
    <%= render(partial: 'select_districts') %>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="other_info">
    <h2>Other Information</h2>
    <p>Most of the information we provide about the database is organised by District. However, we also provide
      <b>page maps</b>, showing the expected volume number and the ranges of page numbers encountered in the data,
      which are arranged chronologically. Pick a year, quarter and event type to see the corresponding page map.</p>
    <%= render(partial: 'select_a_year') %>

      <script>

          $('#search_query_chapman_codes').autocomplete({
              source: function (request, response) {
                  $.ajax({
                      autoFocus: true,
                      url: "/search_queries/select_counties/", // should be with '/'
                      dataType: 'json',
                      data: { prefix: request.term },
                      success: function(data) {
                          // call response to return the result to autocomplete box
                          console.log(data);
                          response(data);
                      }
                  });
              },
              focus: function() {
                  // prevent value inserted on focus
                  return false;
              },
              select: function( event, ui ) {
                  var terms = split( this.value );
                  // remove the current input
                  terms.pop();
                  // add the selected item
                  terms.push( ui.item.value );
                  // add placeholder to get the comma-and-space at the end
                  terms.push( "" );
                  this.value = terms.join( ", " );
                  return false;
              }
          });
      </script>
  </div>

</div>