<%= show_page_back_link({district: @district, search_query: @search_query, search_record: @search_record})%>
<%= show_back_to_district_link({district: @district})%>
<h2>Page map for <%= "#{@district.district_name_display_format}" %></h2>
<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <% if File.exist?('app/html/'+@district.district_name_as_filename+'.csv') %>
      <p>This page gives information about the range of values for <b>Page</b> for each <b>Volume</b> for a specific Quarter and Event Type (Birth, Marriage or Death).
        These ranges have been derived from the entries included. An explanation of the headings is given at <a href="#explain">the end of this page</a>.
        Here are links to the first <a href="#B">Birth</a>, <a href="#M">Marriage</a> and <a href="#D">Death</a> entry in the table.</p>
      <table>
        <tr><th colspan="4"></th><th scope="column">Page</th><th scope="column" colspan="3">Assessment data</th></tr>
        <tr><th scope="column">Type</th><th scope="column">Year</th><th scope="column">Quarter</th><th scope="column">Volume</th><th scope="column">Lowest/Highest</th><th scope="column">Before/After</th><th scope="column">Gaps</th><th scope="column">Total</th></tr>
        <% current_event_type = '-' %>
        <% File.readlines('app/html/'+@district.district_name_as_filename+'.csv', chomp: true).each do | line | %>
          <%  cells = line.split(',')
              year = cells[0][0..3]
              event_type = cells[0][4]
              quarter = cells[0][5]
          %>
          <tr>
            <td <% if event_type != current_event_type %> <% current_event_type = event_type %> <%= 'id="'.html_safe+event_type+'"'.html_safe %> <% end %> >
              <%= initial_to_event_type(event_type) %></td>
            <td><%= year %></td>
            <td><%= brief_quarter_name(quarter) %></td>
            <td><%= cells[1] %></td>
            <td><%= cells[2]+'-'+cells[3] %></td>
            <td><%= cells[4]+','+cells[5] %></td>
            <td><%= cells[6] %></td>
            <td><%= cells[7] %></td>
          </tr>
        <% end %>
      </table>
      <h3 id="explain">Explanation</h3>
      <p>The page numbers in a quarter are examined and a page range is determined based on frequency and contiguousness<br />
      <TABLE>
        <tr><th scope="row">Lowest</th> <td>Apparent first page number in range</td></tr>
        <tr><th scope="row">Highest&nbsp;&nbsp;&nbsp;</th> <td>Apparent last page number in range</td></tr>
        <tr><th scope="row">Before</th> <td>Count of page numbers before start of range</td></tr>
        <tr><th scope="row">After</th> <td>Count of page numbers after end of range</td></tr>
        <tr><th scope="row">Gaps</th> <td>Number of page numbers missing within range</td></tr>
        <tr><th scope="row">Total</th> <td>Total number of entries with page numbers within range</td></tr></TABLE>
    <% else %>
      <p>Sorry, the file <%= 'app/html/'+@district.district_name_as_filename+'.csv' %> cannot be found, so page map details are not available.</p>
      <p>Currently in directory <%= File.basename(Dir.getwd) %> - files <%= Dir[Dir.getwd+'/*'] %> and in html folder <%= Dir[Dir.getwd+'/app/html/*'] %> </p>
    <% end %>
  </div>
</div>