<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<h1 class="accessibility">Districts</h1>
<%= show_page_back_link({district: nil, search_query: @search_query, search_record: @search_record})%>
<div class="grid">
  <div class="grid__item seven-tenths lap-seven-tenths palm-one-whole ">
    <div class='scrollable'>
      <table class="table--bordered table--data">
        <caption class='accessibility'>List of Districts</caption>
        <thead>
          <tr>
            <th class="sticky-header">District Detail</th>
            <th class="sticky-header">District</th>
            <th class="sticky-header">Total Transcriptions</th>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% @districts.each do |district| %>
            <% n = n +1 %>
            <tr data-num="<%= district.DistrictNumber %>" data-name= "<%= district.DistrictName %>">
              <td id="show_district_detail">
                <%= link_to("View #{n}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber))%>
              </td>
              <td>
                <dl>
                  <dt>
                    <%= district.DistrictName %>
                  </dt>
                  <dt>
                    Existing from <%= district.YearStart%> <%= district.YearEnd <  9999 ? "until #{district.YearEnd}" : "" %>
                  </dt>
                </dl>
              </td>
              <td class="table--data">
                <%= district.UsageCount %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/div-->

