<%= show_page_back_link({district: @district, search_query: @search_query, search_record: @search_record})%>
<%# @district = District.where(DistrictNumber: params['district_number']).first if params['district_number'] %>
<h1 class="beta push-half--top flush--bottom">District: <%= "#{@district.district_name_display_format}"%></h1>
<hr>
<div class="grid">
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="contentsMenu">
      <div class="islet islet--bordered">
        <h3 class="title-block" id="contentsMenu">On this page</h3>
        <ul class="sub-nav">
          <li>
            <a href="#counties">Counties</a> </li>
          <li>
            <a href="#volumes">Volumes</a> </li>
          <li>
            <a href="#otherInfo">Other information</a> </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="intro">
  <p>This is the information we hold about the <%= "#{@district.district_name_display_format}"%> Registration District.</p>
  <% if @district.district_url_definable? %>
    <p>There is  more information about <%= @district.district_name_display_format %> on the <%= link_to "UKBMD website", "http://www.ukbmd.org.uk/reg/districts/#{@district.ukbmd_url_distict}.html"%>. Please note that during the period this Registration District name was used there could be changes in which places were included within the district. The UKBMD page includes information on these changes.</p>
  <% else %>
    <p>UKBMD information on <%= "#{@district.district_name_display_format}"%> is not available.</p>
  <% end %>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="counties">
    <h2>County</h2>
    <table>
      <caption class="accessibility">Counties of which <%= "#{@district.district_name_display_format}"%> has formed a part, by date.</caption>
      <tr>
        <th scope="col">County</th>
        <th scope="col">Date range</th>
      </tr>
      <% @district.DistrictToCounty.each do |d| %>
        <tr>
          <td><%= link_to ChapmanCode::name_from_code(d.County),county_summary_path(county_code: d.County) %></td>
          <td><%= "From #{QuarterDetails.quarter_human(d.StartQN)}" %> <%= QuarterDetails.quarter_year(d.EndQN) > 1993 ? "" : "to #{QuarterDetails.quarter_human(d.EndQN)}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div  class="grid__item three-fifths lap-two-thirds palm-one-whole" id="volumes">
    <h2>Volumes</h2>
    <table>
      <caption class="accessibility">Volume numbers for <%= "#{@district.district_name_display_format}"%>, by date.</caption>
      <tr>
        <th scope="col">Date range</th>
        <th scope="col">Volume</th>
      </tr>
      <% if @district.Volume1837to1851 != 'xx' %>
      <tr>
        <td>Year 1837 to 1851</td>
        <td><%= @district.Volume1837to1851 %></td>
      </tr>
      <% end %>
      <% if @district.Volume1852to1945 != 'xx' %>
      <tr>
        <td>Year 1852 to 1945</td>
        <td><%= @district.Volume1852to1945 %></td>
      </tr>
      <% end %>
      <% if @district.Volume1946to1965 != 'xx' %>
      <tr>
        <td>Year 1946 to 1965</td>
        <td><%= @district.Volume1946to1965 %></td>
      </tr>
      <% end %>
      <% if @district.Volume1966to1973 != 'xx' %>
      <tr>
        <td>Year 1966 to 1973</td>
        <td><%= @district.Volume1966to1973 %></td>
      </tr>
      <% end %>
      <% if @district.Volume1974to1993_4 != 'xx' %>
      <tr>
        <td>Year 1974 to 1993_4</td>
        <td><%= @district.Volume1974to1993_4 %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="otherInfo">
    <h2>Other information</h2>
    <% if @district.Volume1993_4toEnd != 'xx' %>
    <dl>
      <dt>GRO District Number (post 1993)</dt>
      <dd><%= @district.Volume1993_4toEnd %></dd>
    </dl>
    <% end %>
    <% if @district.DistrictPseudonym.present? %>
      <h3>Alternate names for District</h3>
      <ul>
        <% @district.DistrictPseudonym.each do |n| %><li><%= n.DistrictPseudonym + " " %></li><% end %>
      </ul>
    <% end %>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <table class="table--bordered table--data">
      <caption class="accessibility"> Statistics for <%= "#{@district.district_name_display_format} District"%>  </caption>
      <tr>
        <th>Births</th>
        <td colspan="2"><%= BestGuess.where(DistrictNumber: @district.DistrictNumber, RecordTypeId: 1).count %></td>
      </tr>
      <tr>
        <th>Deaths</th>
        <td colspan="2"><%= BestGuess.where(DistrictNumber: @district.DistrictNumber, RecordTypeId: 2).count %></td>
      </tr>
      <tr>
        <th>Marriages</th>
        <td colspan="2"><%= BestGuess.where(DistrictNumber: @district.DistrictNumber, RecordTypeId: 3).count %></td>
      </tr>
      <tr>
        <th rowspan="4">Unique Names</th>
      </tr>
      <tr>
        <td><%= link_to 'View Birth Names', unique_district_names_path(id: @district.DistrictNumber, record_type: "birth" ), method: :get %></td>
        <td>
          <dl>
            <dt>
              Forenames Count: <%= @birth_uniq_forename_count%>
            </dt>
            <dt>
              Surnames Count: <%= @birth_uniq_surname_count%>
            </dt>
          </dl>
        </td>
      </tr>
      <tr>
        <td><%= link_to 'View Marriage Names', unique_district_names_path(id: @district.DistrictNumber, record_type: "marriage" ), method: :get %></td>
        <td>
          <dl>
            <dt>
              Forenames Count: <%= @marriage_uniq_forename_count%>
            </dt>
            <dt>
              Surnames Count: <%= @marriage_uniq_surname_count%>
            </dt>
          </dl>
        </td>
      </tr>
      <tr>
        <td><%= link_to 'View Death Names', unique_district_names_path(id: @district.DistrictNumber, record_type: "death" ), method: :get %></td>
        <td>
          <dl>
            <dt>
              Forenames Count: <%= @death_uniq_forename_count%>
            </dt>
            <dt>
              Surnames Count: <%= @death_uniq_surname_count%>
            </dt>
          </dl>
        </td>
      </tr>
    </table>
    <div>Page map for <%= "#{@district.district_name_display_format}" %></div>
    <div>Births by year for <%= "#{@district.district_name_display_format}" %></div>
    <div>Deaths by year for <%= "#{@district.district_name_display_format}" %></div>
    <div>Marriages by year for <%= "#{@district.district_name_display_format}" %></div>
    <div>Volumes by year for <%= "#{@district.district_name_display_format}" %></div>
    <div>Volumes/year conflicts for <%= "#{@district.district_name_display_format}" %></div>
  </div>
</div>
</div>
