<%= show_page_back_link({district: @district, search_query: @search_query, search_record: @search_record})%>
<%# @district = District.where(DistrictNumber: params['district_number']).first if params['district_number'] %>
<h1 class="beta push-half--top flush--bottom">District: <%= "#{@district.district_name_display_format}"%></h1>
<hr>
<div class="grid">
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="contentsMenu">
      <div class="islet islet--bordered">
        <h3 class="title-block" id="contentsMenu">On this page</h3>
        <ul class="sub-nav">
          <li>
            <a href="#counties">Counties</a> </li>
          <li>
            <a href="#volumes">Volumes</a> </li>
          <li>
            <a href="#pages">Pages</a> </li>
          <li>
            <a href="#names">Names</a> </li>
          <li>
            <a href="#otherInfo">Other information</a> </li>
          <li>
            <a href="#stats">Statistics</a> </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="intro">
  <p>This is the information we hold about the <%= "#{@district.district_name_display_format}"%> Registration District.</p>
  <% if @district.district_url_definable? %>
    <p>There is  more information about <%= @district.district_name_display_format %> on the <%= link_to "UKBMD website", "http://www.ukbmd.org.uk/reg/districts/#{@district.ukbmd_url_distict}.html"%>. Please note that during the period this Registration District name was used there could be changes in which places were included within the district. The UKBMD page includes information on these changes.</p>
  <% else %>
    <p>UKBMD information on <%= "#{@district.district_name_display_format}"%> is not available.</p>
  <% end %>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="counties">
    <h2>Counties</h2>
    <p>Counties of which <%= "#{@district.district_name_display_format}"%> Registration District has formed a part, by date.</p>
    <table>
      <caption class="accessibility">Counties of which <%= "#{@district.district_name_display_format}"%> Registration District has formed a part, by date.</caption>
      <tr>
        <th scope="col">County</th>
        <th scope="col">Date range</th>
      </tr>
      <% @district.DistrictToCounty.each do |d| %>
        <tr>
          <td><%= link_to ChapmanCode::name_from_code(d.County),county_summary_path(county_code: d.County) %></td>
          <td><%= "From #{QuarterDetails.quarter_human(d.StartQN)}" %> <%= QuarterDetails.quarter_year(d.EndQN) > 1993 ? "" : "to #{QuarterDetails.quarter_human(d.EndQN)}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div  class="grid__item three-fifths lap-two-thirds palm-one-whole" id="volumes">
    <h2>Volumes</h2>
    <p>Volume numbers that have been assigned to <%= "#{@district.district_name_display_format}"%> Registration District, by date.</p>
    <table>
      <caption class="accessibility">Volume numbers that have been assigned to <%= "#{@district.district_name_display_format}"%> Registration District, by date.</caption>
      <tr>
        <th scope="col">Volume</th>
        <th scope="col">Date range</th>
      </tr>
      <% if @district.Volume1837to1851 != 'xx' %>
      <tr>
        <td><%= @district.Volume1837to1851 %></td>
        <td>Year 1837 to 1851</td>
      </tr>
      <% end %>
      <% if @district.Volume1852to1945 != 'xx' %>
      <tr>
        <td><%= @district.Volume1852to1945 %></td>
        <td>Year 1852 to 1945</td>
      </tr>
      <% end %>
      <% if @district.Volume1946to1965 != 'xx' %>
      <tr>
        <td><%= @district.Volume1946to1965 %></td>
        <td>Year 1946 to 1965</td>
      </tr>
      <% end %>
      <% if @district.Volume1966to1973 != 'xx' %>
      <tr>
        <td><%= @district.Volume1966to1973 %></td>
        <td>Year 1966 to 1973</td>
      </tr>
      <% end %>
      <% if @district.Volume1974to1993_4 != 'xx' %>
      <tr>
        <td><%= @district.Volume1974to1993_4 %></td>
        <td>Year 1974 to 1993_4</td>
      </tr>
      <% end %>
    </table>
    <p>[Volumes by year for <%= "#{@district.district_name_display_format}" %> Registration District]</p>
    <p>[Volumes/year conflicts for <%= "#{@district.district_name_display_format}" %> Registration District]</p>
  </div>
  <div  class="grid__item three-fifths lap-two-thirds palm-one-whole" id="pages">
    <h2>Pages</h2>
    <p>Page info specific to District should go here.</p>
    <p>[Page map for <%= "#{@district.district_name_display_format}" %> Registration District]</p>
  </div>
  <div  class="grid__item three-fifths lap-two-thirds palm-one-whole" id="names">
    <h2>Names</h2>
    <p>Here are links to pages listing all the distinct forenames and surnames found in <%= "#{@district.district_name_display_format}"%> Registration District:</p>
    <ul>
      <li><%= link_to 'Birth Forenames', unique_district_names_path(id: @district.DistrictNumber, name_type: "1", record_type: "birth" ), method: :get %> (<%= @birth_uniq_forename_count%> names)</li>
      <li><%= link_to 'Birth Surnames', unique_district_names_path(id: @district.DistrictNumber, name_type: "0", record_type: "birth" ), method: :get %> (<%= @birth_uniq_surname_count%> names)</li>
      <li><%= link_to 'Death Forenames', unique_district_names_path(id: @district.DistrictNumber, name_type: "1", record_type: "death" ), method: :get %> (<%= @death_uniq_forename_count%> names)</li>
      <li><%= link_to 'Death Surnames', unique_district_names_path(id: @district.DistrictNumber, name_type: "0", record_type: "death" ), method: :get %> (<%= @death_uniq_surname_count%> names)</li>
      <li><%= link_to 'Marriage Forenames', unique_district_names_path(id: @district.DistrictNumber, name_type: "1", record_type: "marriage" ), method: :get %> (<%= @marriage_uniq_forename_count%> names)</li>
      <li><%= link_to 'Marriage Surnames', unique_district_names_path(id: @district.DistrictNumber, name_type: "0", record_type: "marriage" ), method: :get %> (<%= @marriage_uniq_surname_count%> names)</li>
    </ul>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="otherInfo">
    <h2>Other information</h2>
    <dl>
    <% if @district.Volume1993_4toEnd != 'xx' %>
      <dt>GRO District Number (post 1993)</dt>
      <dd><%= @district.Volume1993_4toEnd %></dd>
    <% end %>
    <% if @district.DistrictPseudonym.present? %>
      <dt>Alternate names for District</dt>
      <dd>
        <% @district.DistrictPseudonym.each do |n| %><%= n.DistrictPseudonym + " " %><% end %>
      </dd>
    <% end %>
    </dl>
  </div>
  <div  class="grid__item three-fifths lap-two-thirds palm-one-whole" id="stats">
    <h2>Statistics</h2>
    <p>Statistics specific to <%= "#{@district.district_name_display_format}"%> Registration District:</p>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <table class="table--bordered table--data">
      <caption class="accessibility"> Statistics for <%= "#{@district.district_name_display_format} Registration District"%>  </caption>
      <tr>
        <th scope="row">Total Births</th>
        <td><%= BestGuess.where(DistrictNumber: @district.DistrictNumber, RecordTypeId: 1).count %></td>
      </tr>
      <tr>
        <th scope="row">Total Deaths</th>
        <td><%= BestGuess.where(DistrictNumber: @district.DistrictNumber, RecordTypeId: 2).count %></td>
      </tr>
      <tr>
        <th scope="row">Total Marriages</th>
        <td><%= BestGuess.where(DistrictNumber: @district.DistrictNumber, RecordTypeId: 3).count %></td>
      </tr>
    </table>
  </div>
</div>
</div>
