<%= show_page_back_link({district: @district, search_query: @search_query, search_record: @search_record})%>
<h2>Page map for <%= "#{@year} quarter #{@quarter} #{initial_to_event_type(@event_type)}" %></h2>
<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <% if File.exist?('/raid/freebmd2/district_csv_files/'+@year+@event_type+@quarter+'.csv') %>
      <p>This page gives information about the range of values for <b>Page</b> for each <b>Volume</b> for a specific Year and Quarter.
        These ranges have been derived from the entries included. An explanation of the headings is given at <a href="#explain">the end of this page</a>.</p>
      <table>
        <tr><th colspan="2"></th><th scope="column">Page</th><th scope="column" colspan="3">Assessment data</th></tr>
        <tr><th scope="column">District</th><th scope="column">Volume</th><th scope="column">Lowest/Highest</th><th scope="column">Before/After</th><th scope="column">Gaps</th><th scope="column">Total</th></tr>
        <% File.readlines('/raid/freebmd2/district_csv_files/'+@year+@event_type+@quarter+'.csv', chomp: true).sort.each do | line | %>
          <%  cells = line.split(',')
              district_stripped_name = cells[0].delete'"'
              district_id = District.where(DistrictName: district_stripped_name).first.id
          %>
          <tr>
            <td><%= link_to district_stripped_name, "/districts/select_district?id=#{district_id}" %></td>
            <td><%= cells[1] %></td>
            <td><%= cells[2]+'-'+cells[3] %></td>
            <td><%= cells[4]+','+cells[5] %></td>
            <td><%= cells[6] %></td>
            <td><%= cells[7] %></td>
          </tr>
        <% end %>
      </table>
      <h3 id="explain">Explanation</h3>
      <p>The page numbers in a quarter are examined and a page range is determined based on frequency and contiguousness.<br />
      <TABLE>
        <tr><th scope="row">Lowest</th> <td>Apparent first page number in range</td></tr>
        <tr><th scope="row">Highest&nbsp;&nbsp;&nbsp;</th> <td>Apparent last page number in range</td></tr>
        <tr><th scope="row">Before</th> <td>Count of page numbers before start of range</td></tr>
        <tr><th scope="row">After</th> <td>Count of page numbers after end of range</td></tr>
        <tr><th scope="row">Gaps</th> <td>Number of page numbers missing within range</td></tr>
        <tr><th scope="row">Total</th> <td>Total number of entries with page numbers within range</td></tr></TABLE>
      </div>
      </div>
<% else %>
      <% if @year == "1837" && @quarter == "1" %>
        <p>Registration of <%= "#{initial_to_event_type(@event_type)}" %> only began in quarter 3 of 1837.</p>
      <% else %>
        <p>Sorry, the file <%= '/raid/freebmd2/district_csv_files/'+@year+@event_type+@quarter+'.csv' %> cannot be found, so page map details are not available.</p>
      <% end %>
<% end %>