<% breadcrumb :root %>
<% title "Action Page" %>
<% if ['https://www.freecen.org.uk', 'https://www.freereg.org.uk', 'https://www.freebmd.org.uk'].include?(MyopicVicar::Application.config.website) %>
  <% if  @user.new_transcription_agreement.blank? || @user.new_transcription_agreement == 'Unknown' || @user.new_transcription_agreement == 'Pending' %>
    <b><%= @user.person_forename %></b><br>
    <%= @acceptance %>
  <% end%>
<% end%>
<%# raise @current_user.inspect %>
<% if flash[:notice] %>
  <div class="push-half--bottom" id="notice" style="color:blue;">
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<% if appname_downcase == 'freecen' %>
  <%= link_to 'Instructional Videos', '/cms/instructional-videos', target: '_blank' %>, ( opens in new tab)<br>
<% end %>
<% count = @user.count_not_checked_messages %>
<% if count != 0 %>
  <div class="islet islet--bordered push--bottom" style="border-color: #895f49; border-width: 2px; max-width: 20em;">
    You have <b><%= link_to "#{pluralize(count, 'message')}", userid_messages_path %>.</b>
  </div>
<% end %>
<%= @page %>
<h2>Recent Changes</h2>
<p>Release Notes: 05 July 2023</p>
<ul>
  <li>MyopicVicar#2631: Added the 'Keep until I say so' button to the list level of Contacts actions.</li>
  <li>FreeUKRegProductIssues#1502: Updated Main help page - description of "Nearby Places". </li>
</ul>
<%= render "resource_sidebar" %>