<% breadcrumb :root %>
<% title "Action Page" %>
<% if ['https://www.freecen.org.uk', 'https://www.freereg.org.uk', 'https://www.freebmd.org.uk'].include?(MyopicVicar::Application.config.website) %>
  <% if  @user.new_transcription_agreement.blank? || @user.new_transcription_agreement == 'Unknown' || @user.new_transcription_agreement == 'Pending' %>
    <b><%= @user.person_forename %></b><br>
    <%= @acceptance %>
  <% end%>
<% end%>
<%# raise @current_user.inspect %>
<% if flash[:notice] %>
  <div class="push-half--bottom" id="notice" style="color:blue;">
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<% if appname_downcase == 'freecen' %>
  <%= link_to 'Instructional Videos', '/cms/instructional-videos', target: '_blank' %>, ( opens in new tab)<br>
<% end %>
<% if @user_roles.count > 1 %>
<%= form_tag({}, {:method => :get}) do %>
  <%= select_tag :user_role, options_for_select(@user_roles, @user.person_role), :onchange => "this.form.submit();" %>
<% end %>
<% end %>
<% count = @user.count_not_checked_messages %>
<% if count != 0 %>
  <div class="islet islet--bordered push--bottom" style="border-color: #895f49; border-width: 2px; max-width: 20em;">
    You have <b><%= link_to "#{pluralize(count, 'message')}", userid_messages_path %>.</b>
  </div>
<% end %>
<%= @page %>
<%= render "#{appname_downcase}_release_notes" %>

<%= render "resource_sidebar" %>