<% title "Action Page" %>
<%# raise @current_user.inspect %>
<% if flash[:notice] %>
   <div class="push-half--bottom" id="notice" style="color:blue;">
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<% count = @user.count_not_checked_messages %>
<% if count != 0 %>
  <div class="islet islet--bordered push--bottom" style="border-color: #895f49; border-width: 2px; max-width: 20em;">
    You have <b><%= link_to "#{pluralize(count, 'message')}", userid_messages_path %>.</b>
  </div>
<% end %>
<% count_feedback = @user.feedback_without_replies.count %>
<% count_feedback_with_replies = @user.feedback_with_replies.count %>
<% if count_feedback != 0 %>
  <div class="islet islet--bordered push--bottom" style="border-color: #895f49; border-width: 2px; max-width: 20em;">
    You have <b><%= link_to "#{pluralize(count_feedback, 'new feedback')}", userid_feedbacks_path %>.</b>
  </div>
<% end %>
<% if count_feedback_with_replies != 0 %>
  <div class="islet islet--bordered push--bottom" style="border-color: #895f49; border-width: 2px; max-width: 20em;">
    You have <b><%= link_to "#{pluralize(count_feedback_with_replies, 'feedback with reply')}", userid_feedbacks_with_replies_path %>.</b>
  </div>
<% end %>
<% if @user.new_transcription_agreement != "Accepted" %>
  <p><strong>Open Data: </strong> Your transcriptions currently will not be shared as Open Data. To choose to make your transcriptions Open, <%= link_to "please click here",edit_userid_detail_path(@user), method: :get %> and update your Transcription Agreement status. To find out more about Open Data, and what signing the transcription agreement means, please visit: <%= link_to "http://www.freeukgenealogy.org.uk/about/opendata/", "http://www.freeukgenealogy.org.uk/about/opendata/", class: "go", target: "_blank" %></p>
  <p>If you have any questions about transcribing or the documents linked below, <%= link_to "please ask us","https://groups.google.com/a/freeukgenealogy.org.uk/forum/#!forum/transcription-agreenment--open-data", target: "_blank" %>. We are sorry that this is a google group, as we know some of you would prefer not to use this tool. If you are aware of an alternative, or prefer not to sign into the group, please let us know (info@freeukgenealogy.org.uk).</p>
<% end %>
<% breadcrumb :root %>
<%= @page %> 

<%= render "resource_sidebar" %>