<% breadcrumb :root %>
<% title "Action Page" %>
<% if  @user.new_transcription_agreement.blank? || @user.new_transcription_agreement == 'Unknown' || @user.new_transcription_agreement == 'Pending' %>
  <b><%= @user.person_forename %></b><br>
  <%= @acceptance %>
<% end%>
<%# raise @current_user.inspect %>
<% if flash[:notice] %>
  <div class="push-half--bottom" id="notice" style="color:blue;">
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<% if appname_downcase == 'freecen' %>
  <%= link_to 'Instructional Videos', '/cms/instructional-videos', target: '_blank' %>, ( opens in new tab)<br>
<% end %>
<% if @user_roles.count > 1 %>
  <% secondary_roles = @user.secondary_role.compact.reject(&:blank?) %>
  
  <%= form_tag({}, method: :get) do %>
  <div class="push-half--bottom">
    <p>Hi <%= @user.userid %>,</p>
    <p>You have multiple roles.</p>
    <strong>Primary role:</strong> <%= @user.person_role.to_s.humanize %>
    <% if secondary_roles.any? %>
      <strong>Secondary role<%= 's' if secondary_roles.many? %>:</strong>
        <%= secondary_roles.map { |role| role.to_s.humanize }.join(', ') %>
    <% end %>
    You can switch role below:
  </div>
    <fieldset class="inputs">
      <legend>Change Role</legend>
      <%= label_tag 'user_role', 'Role' %>
      <%= select_tag :user_role, options_for_select(@user_roles.map { |r| [r.to_s.humanize, r] }, @current_role), onchange: 'this.form.submit()' %>
    </fieldset>
  <% end %>
<% end %>
<% count = @user.count_not_checked_messages %>
<% if count != 0 %>
  <div class="islet islet--bordered push--bottom" style="border-color: #895f49; border-width: 2px; max-width: 20em;">
    You have <b><%= link_to "#{pluralize(count, 'message')}", userid_messages_path %>.</b>
  </div>
<% end %>
<%= @page %>
<%= render "resource_sidebar" %>