<p id="notice"><%= notice %></p>

<h1>My Actions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Child of</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_actions.each do |my_action| %>
      <tr>
        <td><%= my_action.name %></td>
        <td><%= my_action.description %></td>
        <td><%= my_action.child_of %></td>
        <td><%= link_to 'Show', my_action %></td>
        <td><%= link_to 'Edit', edit_my_action_path(my_action) %></td>
        <td><%= link_to 'Destroy', my_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Action', new_my_action_path %>
