<%= form_for(@feedback, :html => {:multipart => true}) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited your feedback from being reported:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    @feedback.errors.clear
  <% end %>

  <div class="field">
    <%= f.label :title, "Summary" %><br />
    <%= f.text_field :title, :size => 80 %>
  </div>
  <div class="field">
    <%= f.label :body, "Description" %><br />
    <%= f.text_area :body, :cols => 80, :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label :screenshot, "Screenshot: Only jpg,jpeg or gif file formats are currently accepted" %><br />
    <%= f.file_field :screenshot %>
  </div>
  <%= f.hidden_field :feedback_time %>
  <%= f.hidden_field :user_id %>
	<%= f.hidden_field :session_id %>
	<%= f.hidden_field :problem_page_url %>
	<%= f.hidden_field :previous_page_url %>
	<%= f.hidden_field :feedback_type %>
	<br />	
  <div class="actions">
    <%= f.submit "Submit Problem Report" %>
  </div>
<% end %>
