<% if @feedback.errors.any? %>
  <div id="error_explanation" style="color:red">
    <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited your feedback from being reported:</h2>
    <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <%@feedback.errors.clear%>
<% end %>
<%= simple_form_for(@feedback, :html => {:multipart => true}) do |f| %>
  <%= f.input :title, :label => "Summary" , :input_html => {:class => "simple_form_bgcolour ", :size => 40 }%>
  <%= f.input :body, :label =>"Description" ,as: :text, :input_html => { :class => "simple_form_bgcolour ",:rows => 10, :cols =>60 , :placeholder => "Enter your comments"}%>
  <%= f.input :screenshot, :label => "Screenshot: Only jpg, jpeg, png or gif file" %>
  <%= f.input :feedback_time, :as => :hidden %>
  <%= f.input :user_id , :as => :hidden %>
  <%= f.input :session_id, :as => :hidden %>
  <%= f.input :problem_page_url,  :as => :hidden %>
  <%= f.input :previous_page_url, :as => :hidden %>
  <%= f.input :feedback_type, :as => :hidden %>
  <% suggestion_options.each_pair do |name, value| %>
    <%= hidden_field_tag(name, value)%>
  <% end %>
  <% if @handbook_feedback %>
    <%= f.button :submit, 'Submit handbook feedback'   %>
  <% else %>
    <%= f.button :submit, 'Submit Problem Report'   %>
  <% end %>
<% end %>

