<% if @feedback.errors.any? %>
  <div id="error_explanation" style="color:red">
    <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited your feedback from being reported:</h2>
    <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= simple_form_for(@feedback, :html => {:multipart => true}) do |f| %>
  <%= f.input :title, :label => "Summary" , :input_html => {:class => "simple_form_bgcolour ", :size => 40 }%>
  <%= f.input :body, :label =>"Description" ,as: :text, :input_html => { :class => "simple_form_bgcolour ",:rows => 10, :cols =>60 , :placeholder => "Enter your comments"}%>
  <%= f.input :feedback_nature, required: true, include_blank:'Select the feedback type', label:  "Nature of feedback",  collection: [['Problem/Bug', 'bug'], ['Improvement/Suggestion', 'website']], :input_html => {class: "simple_form_bgcolour overide_selection_field_width", prompt:"Choose the feedback type, include_blank: false, required: true"} %>
  <%= f.input :screenshot, :label => "Screenshot: Only jpg, jpeg, png or gif file" %>
  <%= f.input :feedback_time, :as => :hidden %>
  <%= f.input :feedback_type, :as => :hidden %>
  <% if @user.present? %>
    <%= f.input :user_id, as: :hidden %>
  <% else %>
    <%= f.input :user_name, required: true, label: 'Your name', :input_html => {:class => "simple_form_bgcolour ", :size => 40 } %>
    <%= f.input :email_address, required: true, label: 'Your email address', :input_html => {:class => "simple_form_bgcolour ", :size => 40 } %>
  <% end %>
  <%= f.input :session_id, :as => :hidden %>
  <%= f.input :problem_page_url,  as: :hidden %>
  <%= f.input :previous_page_url, as: :hidden %>
  <%= f.input :feedback_type, as: :hidden %>
  <%= f.button :submit, 'Submit Feedback Report'   %>
<% end %>
<script>
  var elements = document.querySelectorAll("form *");
  console.log(elements);
  // Loop through the elements and remove the class
  for (var i = 0; i < elements.length; i++) {
      elements[i].classList.remove("select");
  }
</script>