<h4 style="text-align: center"> 
  Feedback and its Replies
</h4>
<h4 style="text-align: center">Feedback Details</h4>
<div class= "grid">
  <section class="island  island--light ">
    <div class="scrollable" >
      <div class="grid__item  one-whole  palm-one-whole push--bottom">        
        <i><strong>Title: </strong><%= @respond_to_feedback.title %></i>
        <%= content_tag :p, class: "strong" do %>
          On <%= @respond_to_feedback.feedback_time.to_formatted_s(:long)%> Userid: <strong><%= @respond_to_feedback.user_id%></strong> gave a feedback:<br/>
          <%= @respond_to_feedback.body %><br/>
        <% end %>
        <p>Following are further details of feedback</p>
        <div class="scrollable">
          <table class= "table--bordered table--data push--bottom t100">
          <tr>
            <tr>
              <th>Identifier</th>
              <th>Problem Page URL</th>
              <th>Previous Page URL</th> 
            </tr>
            </tr>
            <tr>
              <td>
                <%= @respond_to_feedback.identifier %>
              </td>
              <td>
                <%= link_to(@respond_to_feedback.problem_page_url, @respond_to_feedback.problem_page_url,target: "_blank", style:'color:black') %>
              </td>
              <td>
                <%= link_to(@respond_to_feedback.previous_page_url,@respond_to_feedback.previous_page_url,target: "_blank", style:'color:black') %>
              </td> 
            </tr>
          </table>
        </div>
        <p>Details of User: </p>
        <table class= "table--bordered table--data push--bottom t100">
          <tr>
            <th>Userid</th>
            <th>First Name</th> 
            <th>Role in FreeREG</th>
          </tr>
          <tr>
            <td>
              <%= @respond_to_feedback.user_id %>
            </td>
            <td>
              <%= @respond_to_feedback[:session_data][:first_name] %>
            </td> 
            <td>
              <%= @respond_to_feedback[:session_data][:role] %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>
<% unless @feedback_replies.count == 0 %>
  <h4 style="text-align: center">This Feedback has
    <%= pluralize(@feedback_replies.count, 'Reply Message')%>
  </h4>
  <div class= "grid">
    <section class="island  island--light ">
      <div class="scrollable" >
        <div class="grid__item  one-whole  palm-one-whole push--bottom">
          <h4>Subject: <%= "Re: Thank you for your feedback. Reference #{@respond_to_feedback.identifier}" %></h4>
          <% @feedback_replies.each do |reply| %>
            <div class="island island--bordered <%= session[:userid] == reply.userid ? 'text--right' : 'text--left' %>">
              <%= content_tag :p do %>
                <strong>On <%= Message.formatted_time(reply)%>, Userid: <%= reply.userid%> wrote:<br/></strong>
                <%= reply.body %>
                <% if reply.attachment.present?%>
                  <br/>
                  <span>Attachment: </span>
                  <span><%= link_to("#{reply[:attachment]}", reply.attachment_url, target: "_blank", style:'color:black') %><a href="#" class="bottom_tooltip"> <%= image_tag 'info.png', alt: 'Information', height: '16' %><span>The link will open in a new tab</span></a></span>
                <% end %>
                <% if reply.images.present? %><br />
                  <span>Image Attachment: </span>
                  <span><%= image_tag reply.images_url %></span>
                <% end %>
              <% end %>
            </div>
          <% end %>       
        </div>
      </div>
    </section>
  </div>
<% end %>
<h4 style="text-align: center">Create Your Reply for Feedback</h4>
<%= render 'messages/form' %>


