<div  class=" text--center push--bottom">
  <%= link_to 'Create Reply', reply_feedback_path(source_feedback_id:@feedback.id) ,:class => "btn btn--small" %>
  <%= show_feedback_add_comment_link(@feedback, params[:source])%>
  <%= link_to 'View Replies', feedback_reply_messages_path(@feedback.id), class: "btn btn--small", method: :get %>
  <%= link_to 'Archive', archive_feedback_path(@feedback.id), :class => "btn btn--small", data: { confirm: 'Are you sure you want to Archive this contact?' }if do_we_show_archive_feedback_action?(@feedback)%>
  <%= link_to 'Restore', restore_feedback_path(@feedback.id), :class => "btn btn--small", data: { confirm: 'Are you sure you want to Archive this contact?' } if do_we_show_restore_feedback_action?(@feedback)%>
  <%= link_to 'Keep until I say so', keep_feedback_path(@feedback.id,:source => params[:action]), :class => 'btn btn--small',  data: { confirm: 'Are you sure you want keep this feedback' } unless @feedback.keep.present?%>
  <%= link_to 'Remove Keep Designation', unkeep_feedback_path(@feedback.id,:source => params[:action]), :class => 'btn btn--small',  data: { confirm: 'Are you sure you want remove the keep designation for this feedback' } if @feedback.keep.present? %>
  <% if session[:role] == 'system_administrator'%>
    <%= link_to "Convert to Issue", convert_feedback_to_issue_path(@feedback),method: :post, :class => "btn btn--small",  data: { confirm: 'Are you sure you want to convert to GITHUB issue' } if do_we_show_github_create_feedback_action?(@feedback) %>
  <% end %>
</div>