

<h1>Listing Feedback</h1>

  <% unless Feedback.github_enabled %>
    <div id="error_explanation">
      <h2>Github integration is not enabled</h2>
    </div>
  <% end %>

<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
 <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>  

<%= paginate @feedbacks %> 
<table class="table--bordered  table--striped  table--data" >
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>User</th>
    <th>Type</th>
    <th>Action</th>
    <th>Action</th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <tr>
    <td><%= feedback.title %></td>
    <td><%= feedback.feedback_time %></td>
    <td><%= feedback.user_id %></td>
    <td><%= feedback.feedback_type %></td>
    <td><%= button_to 'Show', feedback_path(feedback),  method: :get%></td>
    <td><%= button_to 'Destroy feedback', feedback_path(feedback), method: :delete, data: { confirm: 'Are you sure you want to delete this feedback' } %></td>
 </tr>
<% end %>
</table>

<br />

