<% breadcrumb :feedbacks%>
<h2 class=" text--center">
  <h2 class=" text--center"> <% if @archived %>List of archived feedbacks<% else%>List of active feedbacks<% end%> </h2>
</h2>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<p style="text-align: center">
  <%= link_to 'List by Name', list_by_name_feedbacks_path, method: :get , :class => "btn btn--small" %>
  <%= link_to 'Most Recent Date' , list_by_most_recent_feedbacks_path, method: :get , :class => "btn btn--small"%>
  <%= link_to 'Earliest Date' , list_by_date_feedbacks_path, method: :get , :class => "btn btn--small"%>
  <%= link_to 'List by Userid' , list_by_userid_feedbacks_path, method: :get , :class => "btn btn--small" %>   <%= link_to 'Select by Identifier' , select_by_identifier_feedbacks_path, method: :get , :class => "btn btn--small" %>
  <% if !@archived  %>
    <%= link_to 'List archived', list_archived_feedbacks_path, method: :get , :class => "btn btn--small" %>
  <% else%>
    <%= link_to 'List active',feedbacks_path, method: :get , :class => "btn btn--small" %>
  <% end%>
</p>
<section class="island  " >
  <div class="table-wrapper">
    <div class="grid">
      <div class="grid__item one-whole" >
        <div class="scrollable ">
          <table class="table--bordered table--data" >
            <tr>
              <th class='sticky-header'>Title</th>
              <th class='sticky-header'>Userid</th>
              <th class='sticky-header'>Name</th>
              <th class='sticky-header'>email</th>
              <th class='sticky-header'>Date</th>
              <th class='sticky-header'>Being Kept</th>
              <th class='sticky-header'>Identifier</th>
              <th class='sticky-header'>Action</th>
            </tr>
            <% @feedbacks.each do |feedback| %>
              <tr>
                <td><%= feedback.title %></td>
                <td><%= feedback.user_id %></td>
                <td><%= feedback.name %></td>
                <td><%= feedback.email_address %></td>
                <td><%= feedback.feedback_time.strftime("%d %b %Y") unless feedback.feedback_time.nil? %></td>
                <td><%= feedback.keep%></td>
                <td><%= feedback.identifier unless feedback.identifier.nil? %></td>
                <td>
                  <%= link_to 'Show', feedback_path(feedback.id, source: params[:action]),  :class => "btn btn--small", method: :get%>
                  <%= link_to 'Reply', reply_feedback_path(source_feedback_id:feedback.id) ,:class => "btn btn--small" %>
                  <%= link_to 'View Replies', feedback_reply_messages_path(feedback.id), class: "btn btn--small", method: :get if feedback.has_replies?(feedback.id.to_s)%>
                  <%= link_to 'Archive', archive_feedback_path(feedback.id, source: params[:action]), :class => "btn btn--small",  data: { confirm: 'Are you sure you want archive this feedback' } unless feedback.is_archived?%>
                  <%= link_to 'Restore', restore_feedback_path(feedback.id, source: params[:action]), :class => "btn btn--small",  data: { confirm: 'Are you sure you want restore this feedback' } if feedback.is_archived?%>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
