<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feedback.title %>
</p>

<p>
  <b>Body:</b>
  <%= @feedback.body %>
</p>

<p>
  <b>Time:</b>
  <%= @feedback.feedback_time %>
</p>

<p>
  <b>User:</b>
  <%= @feedback.user_id %>
</p>

<p>
  <b>Session:</b>
  <%= @feedback.session_id %>
</p>

<p>
  <b>Problem page url:</b>
  <%= link_to @feedback.problem_page_url, @feedback.problem_page_url %>
</p>

<p>
  <b>Previous page url:</b>
  <%= link_to @feedback.previous_page_url, @feedback.previous_page_url %>
</p>

<p>
  <b>Type:</b>
  <%= @feedback.feedback_type %>
</p>

<p>
  <b>Github Issue:</b>
  <% if @feedback.github_issue_url %>
	  <%= link_to @feedback.github_issue_url, @feedback.github_issue_url  %>
  <% else %>
    <i>none</i>
  	<% if Feedback.github_enabled %>
		<span  style="float:left;">
		  <%= button_to "Convert to Issue", convert_feedback_to_issue_path(@feedback)  %>		
		</span>
	<% else %>
		Github integration is not set up on this site yet.
	<% end %>
  <% end %>
</p>


<%= link_to 'Back', feedbacks_path %>
