<% breadcrumb :show_feedback, @feedback %>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<h4 class=" text--center push--bottom" ><%= show_feedback_title(@feedback) %></h4>
<h4 class=" text--center push--bottom" ><%= show_feedback_title_line_two(@feedback) %></h4>
<% if !Contact.github_enabled %>
  <h4 class=" text--center">GitHub integration is not activated </h4>
<% end%>
<div  class=" text--center push--bottom">
  <%= link_to 'Create Reply', reply_feedback_path(source_feedback_id:@feedback.id) ,:class => "btn weight--light  btn--small" %>
  <%= link_to 'View Replies', feedback_reply_messages_path(@feedback.id), class: "btn weight--light  btn--small", method: :get %>
  <%= link_to 'Archive', archive_feedback_path(@feedback.id), :class => "btn weight--light  btn--small", data: { confirm: 'Are you sure you want to Archive this contact?' }if do_we_show_archive_feedback_action?(@feedback)%>
  <%= link_to 'Restore', restore_feedback_path(@feedback.id), :class => "btn weight--light  btn--small", data: { confirm: 'Are you sure you want to Archive this contact?' } if do_we_show_restore_feedback_action?(@feedback)%>
  <%= link_to 'Keep until I say so', keep_feedback_path(@feedback.id,:source => params[:action]), :class => 'btn weight--light  btn--small',  data: { confirm: 'Are you sure you want keep this feedback' } unless @feedback.keep.present?%>
  <%= link_to 'Remove Keep Designation', unkeep_feedback_path(@feedback.id,:source => params[:action]), :class => 'btn weight--light  btn--small',  data: { confirm: 'Are you sure you want remove the keep designation for this feedback' } if @feedback.keep.present? %>
  <%= link_to "Convert to Issue", convert_feedback_to_issue_path(@feedback),:class => "btn weight--light  btn--small" if do_we_show_github_create_feedback_action?(@feedback) %>
</div>
<div class="grid">
  <section class="island ">
    <div class="grid__item text--left ">
      <table class="table--bordered table--data " >
        <colgroup >
          <col class=t20>
          <col class=t80>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <tr>
          <td>The explanation was:</td>
          <td class="weight--semibold"><%= @feedback.body %></td>
        </tr>
        <tr>
          <td>Session Data:</td>
          <td class="weight--semibold"> <%= @feedback.session_data %> </td>
        </tr>
        <% if @feedback.github_issue_url %>
          <tr>
            <td>Github Issue:</td>
            <td class="weight--semibold"> <%= link_to @feedback.github_issue_url, @feedback.github_issue_url  %></td>
          </tr>
          <tr>
            <td>Github Number:</td>
            <td class="weight--semibold"> <%= @feedback.github_number  %></td>
          </tr>
          <tr>
            <td>Make Github Comment:</td>
            <td class="weight--semibold"> <%= link_to @feedback.github_comment_url, @feedback.github_comment_url  %></td>
          </tr>
        <% end %>
        <tr>
          <td>Searches:</td>
          <td class="weight--semibold"><%= link_to("View search queries for this session", search_query_report_path(:feedback_id => @feedback, :session_id => @feedback.session_id)) %></td>
        </tr>
        <tr>
          <td>Problem page url:</td>
          <td class="weight--semibold">  <%= link_to @feedback.problem_page_url, @feedback.problem_page_url %></td>
        </tr>
        <tr>
          <td>Previous page url:</td>
          <td class="weight--semibold"> <%= link_to @feedback.previous_page_url, @feedback.previous_page_url %></td>
        </tr>
      </table>
      <% if @feedback.screenshot_url %>
        <%= image_tag @feedback.screenshot_url %>
      <% end %>
    </div>
  </section>
</div>