<% breadcrumb :show_feedback, @feedback %>
<%= render "flash_notice" %>
<h4 class=" text--center push--bottom" ><%= show_feedback_title(@feedback) %></h4>
<h4 class=" text--center push--bottom" ><%= show_feedback_title_line_two(@feedback) %></h4>
<% if !Contact.github_enabled %>
  <h4 class=" text--center">GitHub integration is not activated </h4>
<% end%>
<%= render 'show_nav' %>
<div class="grid">
  <section class="island ">
    <div class="grid__item text--left ">
      <table class="table--bordered table--data " >
        <colgroup >
          <col class=t20>
          <col class=t80>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <%#= render 'show_actor' %>
        <tr>
          <td>The explanation was:</td>
          <td class="weight--semibold"><%= @feedback.body %></td>
        </tr>
        <tr>
          <td>Session Data:</td>
          <td class="weight--semibold"> <%= @feedback.session_data %> </td>
        </tr>
        <% if @feedback.github_issue_url %>
          <tr>
            <td>Github Issue:</td>
            <td class="weight--semibold"> <%= link_to @feedback.github_issue_url, @feedback.github_issue_url  %></td>
          </tr>
          <tr>
            <td>Github Number:</td>
            <td class="weight--semibold"> <%= @feedback.github_number  %></td>
          </tr>
          <tr>
            <td>Make Github Comment:</td>
            <td class="weight--semibold"> <%= link_to @feedback.github_comment_url, @feedback.github_comment_url  %></td>
          </tr>
        <% end %>
        <tr>
          <td>Searches:</td>
          <td class="weight--semibold"><%= link_to("View search queries for this session", search_query_report_path(:feedback_id => @feedback, :session_id => @feedback.session_id)) %></td>
        </tr>
        <tr>
          <td>Problem page url:</td>
          <td class="weight--semibold">  <%= link_to @feedback.problem_page_url, @feedback.problem_page_url %></td>
        </tr>
        <tr>
          <td>Previous page url:</td>
          <td class="weight--semibold"> <%= link_to @feedback.previous_page_url, @feedback.previous_page_url %></td>
        </tr>
      </table>
      <% if @feedback.screenshot_url %>
        <%= image_tag @feedback.screenshot_url %>
      <% end %>
    </div>
  </section>
</div>