<p id="notice"><%= notice %></p>

<p>
  <b>Piece number:</b>
  <%= @freecen1_fixed_dat_entry.piece_number %>
</p>

<p>
  <b>District name:</b>
  <%= @freecen1_fixed_dat_entry.district_name %>
</p>

<p>
  <b>Subplaces:</b>
  <%= @freecen1_fixed_dat_entry.subplaces %>
</p>

<p>
  <b>Parish number:</b>
  <%= @freecen1_fixed_dat_entry.parish_number %>
</p>

<p>
  <b>Suffix:</b>
  <%= @freecen1_fixed_dat_entry.suffix %>
</p>

<p>
  <b>Freecen1 fixed dat file:</b>
  <%= @freecen1_fixed_dat_entry.freecen1_fixed_dat_file %>
</p>


<%= link_to 'Edit', edit_freecen1_fixed_dat_entry_path(@freecen1_fixed_dat_entry) %> |
<%= link_to 'Back', freecen1_fixed_dat_entries_path %>
