<%= javascript_include_tag "Chart.min.js" %>


<h1>Search Statistics for FreeREG</h1>

<figure>
	<figcaption>
		This chart shows the search performance of FreeREG2 over the last <%= @chart_unit %>.<br/>
		The top line represents the total number of searches, while the second line represents searches which took longer than 1 second to return.
		Yellow represents searches taking longer than 10 seconds to return, while red represents searches taking longer than 1 minute to return.
	</figcaption>
	<canvas id="myChart" width="1200" height="400"></canvas>
	
</figure>


<script type="text/javascript" charset="utf-8" >
var data = {
    labels: <%= raw(@label.to_json) %>,
    datasets: [
        {
            label: "Total searches",
            fillColor: "rgba(0,150,0,1)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(0,128,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: <%= @data[:n_searches].to_json %>
        },
        {
            label: "Searches > 1 second",
            fillColor: "rgba(0,150,0,1)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(0,100,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: <%= @data[:n_time_gt_1s].to_json %>
        },
        {
            label: "Searches > 10 seconds",
            fillColor: "rgba(255,255,0,1)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(255,255,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: <%= @data[:n_time_gt_10s].to_json %>
        },
        {
            label: "Searches > 1 minute",
            fillColor: "rgba(255,0,0,1)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(255,0,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,.5)",
            data: <%= @data[:n_time_gt_60s].to_json %>
        }
    ]
};

// Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d");
var myLineChart = new Chart(ctx).Line(data, { legendTemplate: "boo!"});
</script>
