<% breadcrumb :countries%>
<h2 class=" text--center">Listing of all Countries</h2>
<%= render 'flash_notice' %>
<% if %w[system_administrator volunteer_coordinator engagement_coordinator executive_director project_manager].include?(session[:role]) %>
  <div  class=" text--center push--bottom">
    <%= link_to 'Add Country', new_country_path,:class => "btn btn--small", method: :get %>
  </div>
<% end %>
<div class="grid">
  <section class="island  ">
    <div class="grid__item one-whole" >
      <table  class="table--bordered   table--data">
        <tr>
          <th style="width:20%">Country</th>
          <th style="width:20">Country Coordinator</th>
          <th style="width:20">Transcriber Agreement Accepted</th>
          <th style="width:20%">Show</th>
          <th style="width:20%">Edit</th>
        </tr>
        <% @countries.each do |country| %>
          <tr id="<%=country.id%>">
            <td > <%= country.country_code %>  </td>
            <td > <%= country.country_coordinator %>  </td>
            <td > <%= country_coordinator_agreement(country.country_coordinator) %>  </td>
            <td><%= link_to 'Show', country_path(country), method: :get, :class => "btn btn--small" %>  </td>
            <% if session[:role] == 'system_administrator' %>
              <td><%= link_to 'Edit details', edit_country_path(country), method: :get  , :class => "btn btn--small" %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </section>
</div>