  <p style="text-align: center"><b>Listing of all countries</b></p>
  <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %> <br>
    <% end %>  
 </div>
<div id="main"style="color:black">
<table  class="table--bordered  table--striped  table--data">
  <tr>
    
    <th style="width:25%">Country</th>
    <th style="width:25">Country Coordinator</th>
     <th style="width:25%">Show</th>
    <th style="width:25%">Edit</th>
  </tr>

<% @counties.each do |country| %>
  <tr id="<%=country.id%>">
   <td > <%= country.country_code %>  </td>
   <td > <%= country.country_coordinator %>  </td>   
   
   
   
     <td><%= button_to 'Show', country_path(country), method: :get  %></td><td><%= button_to 'Edit details', edit_country_path(country), method: :get  %>
  </tr>
  <% end %>
  
</table>
</div>

