<%= render 'index_header' %>
<table>
  <tr>
    <th>Census Year</th>
    <th>Piece number</th>
    <th>District name</th>
    <th>Subplaces</th>
    <th>Parish number</th>
    <th>Suffix</th>
    <th>Freecen1 fixed dat entry</th>
    <th>Place</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @freecen_pieces.each do |freecen_piece| %>
    <tr id="<%=freecen_piece.id%>">
      <td><%= freecen_piece.year %></td>
      <td><%= freecen_piece.piece_number %></td>
      <td><%= freecen_piece.district_name %></td>
      <td><%= freecen_piece.subplaces %></td>
      <td><%= freecen_piece.parish_number %></td>
      <td><%= freecen_piece.suffix %></td>
      <td><%= link_to 'freecen1_fixed_dat_entry', freecen1_fixed_dat_entry_path(freecen_piece.freecen1_fixed_dat_entry)  %></td>
      <td><%= link_to 'place', place_path(freecen_piece.place) %></td>
      <td><%= link_to 'Show', freecen_piece %></td>
    </tr>
  <% end %>
</table>
<br />