<%= render 'show_header' %>
<p>
  <b>Chapman code:</b>
  <%= @freecen_piece.chapman_code %>
</p>
<p>
  <b>Piece number:</b>
  <%= @freecen_piece.piece_number %>
</p>
<p>
  <b>District name:</b>
  <%= link_to "#{@freecen_piece.district_name}" , place_path(@freecen_piece.place) %>
</p>
<p>
  <b>Subplaces:</b>
  <%= sub_pieces(@freecen_piece.subplaces) %>
</p>
<p>
  <b>Parish number:</b>
  <%= @freecen_piece.parish_number %>
</p>
<p>
  <b>Suffix:</b>
  <%= @freecen_piece.suffix %>
</p>
<p>
  <b>Freecen1 fixed dat entry:</b>
  <%= link_to 'dat_entry', freecen1_fixed_dat_entry_path(@freecen_piece.freecen1_fixed_dat_entry)  %>
</p>