<p id="notice"><%= notice %></p>

<p>
  <b>Chapman code:</b>
  <%= @freecen_piece.chapman_code %>
</p>

<p>
  <b>Piece number:</b>
  <%= @freecen_piece.piece_number %>
</p>

<p>
  <b>District name:</b>
  <%= @freecen_piece.district_name %>
</p>

<p>
  <b>Subplaces:</b>
  <%= @freecen_piece.subplaces %>
</p>

<p>
  <b>Parish number:</b>
  <%= @freecen_piece.parish_number %>
</p>

<p>
  <b>Suffix:</b>
  <%= @freecen_piece.suffix %>
</p>

<p>
  <b>Freecen1 fixed dat entry:</b>
  <%= @freecen_piece.freecen1_fixed_dat_entry %>
</p>

<p>
  <b>Place:</b>
  <%= @freecen_piece.place %>
</p>


<%= link_to 'Edit', edit_freecen_piece_path(@freecen_piece) %> |
<%= link_to 'Back', freecen_pieces_path %>
