<% breadcrumb :new_csvfile,  @csvfile%>
<p style="text-align: center"><b>Upload a new Batch of records to FreeReg</b></p>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>
<ul>
  <% @csvfile.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<divclass="text--center" >
  <%= simple_form_for @csvfile, html: { multipart: true } do |f| %>
    <%= f.input :csvfile, :label => "Please select file to upload", :hint => "Locate the file on your device." %><br>
    <%= f.input :userid, :collection => @people,:include_blank => false, :label => "Userid where file is to be stored", :hint => "Your own userid has been preselected. Select another userid if you wish.",
    :input_html => {  :class => " simple_form_bgcolour simple_form_position overide_selection_field_width ", :size => 4 },:selected => @user.userid unless session[:my_own] %>
    <p class="text--center text--negative push-half--bottom"> <b> Change of procedure<br>After selecting your file when you click the Upload button your file will be submitted for processing</b><br>
    <%= f.button :button, 'Upload', :class =>"ladda-button  weight--light " , "data-style" => "contract" ,"data-color" =>"green" , "data-size" => "s", "data-spinner-color" => "#ffffff" %></p><br>
  <% end %>
</div>
<script type="text/javascript">
      Ladda.bind( 'button' , { timeout: 2000 });
</script>