<p style="text-align: center">Upload a new csvfile to Freereg2</p>
<div style="float:left;">  <%= button_to_function "Previous Page", "history.back()" %> </div>
<div  style="float:left;"> <%= button_to 'Resource Management options', manage_resource_path(@user), method: :get %> </div>
<div style="clear:both;"> </div><br>

  <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %> <br>
    </div>
   <% end %>  
     
    <div >
    <%= semantic_form_for @csvfile, html: { multipart: true } do |f| %>

  

     <%= f.input :csvfile, :label => "Please select file to upload  :" %><br>

      <%= f.input :userid, {:as => :select,  :collection => @people,:include_blank => false,:label => "Please select userid for whom file is to be loaded  :", :size => 5} unless session[:my_own] == 'my_own' %><br>
     <%= f.input :process, {:as => :select,  :collection => ["Now", "Soon", "Scheduled"],:include_blank => false,:label => "When do you want your file processed :", :size => 5}   %><br>

      <p> Note: "Now; means the process will wait for completion only recommended for files of less than 1000 records, Soon: means you can do other things while processing takes place Recommended for files of 1-2,000. Scheduled: means it will be processed at a later time. Recommended for files containing more than 2,000 records" </p><br>
    
    
     <%= f.submit "Upload" %>
     <% end %>
    </div>
   

<div style="float:left;">  <%= button_to_function "Previous Page", "history.back()" %> </div>
<div  style="float:left;"> <%= button_to 'Resource Management options', manage_resource_path(@user), method: :get %> </div>
<div style="clear:both;"> </div><br>

 