<p style="text-align: center"><b>Process a Batch of records into FreeREG2</b></p>
<%= render 'flash_notice' %>
<div class="grid">
  <%= simple_form_for @csvfile do |f| %>
    <%case%>
    <% when session[:role] == "trainee" %>
    <%= f.input :process,  :collection => ["Just check for errors"],:include_blank => false,:label => "How to process the file", :input_html => {  :class => " simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 3 }, :selected =>  "Just check for errors" %>
    <%  when @processing_time < 100 %>
    <%= f.input :process,  :collection => [ "As soon as you can", "Process tonight"],:include_blank => false,:label => "How to process the file", :input_html => {  :class => " simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 3 }, :selected =>  "Process tonight" %>
    <%  when @processing_time >= 100 %>
    <%= f.input :process, :collection => [ "Process tonight"],:include_blank => false,:label => "How to process the file", :input_html => {  :class => " simple_form_bgcolour simple_form_position overide_selection_field_width", :size => 3 }  %>
  <% end%>
  <p> Estimated processing time for your file is  <%=  @processing_time%> seconds</p>
  <%= f.button :submit, 'Process'   %>
<% end %>
<p><b>As soon as you can:</b> File processed in the background. You can do other things or shut your computer down and the process will continue. You will receive an email when the file has been processed. Limited to files of less than 100 seconds processing. <br>
  <b>Process tonight:</b> File will be added to the list for overnight processing. <br>
  <b>Just check for errors:</b> Just for trainees. Entries will be checked and the file saved. You can do other things or shut your computer down and the process will continue. You will receive an email when the file has been processed.<br>
   </p>
</div>