<p style="text-align: center"><b>Process a Batch of records into FreeREG2</b></p>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
</div>
<% end %>
<div >
  <%= simple_form_for @csvfile do |f| %>
  <%case%>
  <%  when @processing_time <= 30 %>
  <%= f.input :process,  :collection => ["Just check for errors","Now", "As soon as you can", "Process tonight"],:include_blank => false,:label => "How to process the file", :input_html => {  :class => " simple_form_bgcolour simple_form_position ", :size => 3 }, :selected =>  "Process tonight" %>

  <%  when @processing_time > 30 && @processing_time < 60 %>
  <%= f.input :process,  :collection => ["Just check for errors", "As soon as you can", "Process tonight"],:include_blank => false,:label => "How to process the file", :input_html => {  :class => " simple_form_bgcolour simple_form_position ", :size => 3 }, :selected =>  "Process tonight" %>
 
  <%  when @processing_time >= 60 %>
  <%= f.input :process, :collection => ["Just check for errors", "Process tonight"],:include_blank => false,:label => "How to process the file", :input_html => {  :class => " simple_form_bgcolour simple_form_position ", :size => 3 }  %>
  <% end%>
  <p> Estimated processing time for your file is  <%=  @processing_time%> seconds</p>
  
 <p><b>Just check for errors:</b> Entries will be checked and the file saved. <b>Now:</b> File processed immediately while waiting. Small files of less than 30 seconds processing only. <b>As soon as you can:</b> File processed in the background. You can do other things. You may shut your computer down and the process will continue. You will receive an email when the file has been processed. Limited to files of less than 60 seconds processing. <b>Process tonight:</b> File will be added to the list for overnight processing. </p>
 
   <%= f.button :submit, 'Process'   %>
  
  <% end %>
</div>