<p style="text-align: center"><b>Process a Batch of records into FreeREG2</b></p>



  <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  
     
    <div >
    <%= semantic_form_for @csvfile do |f| %>

  

    <%  unless @processing_time > 15 %>
     <%= f.input :process, {:as => :select,  :collection => ["While I wait", "Not waiting"],:include_blank => false,:label => "When do you want your file processed :", :size => 5}  %><br>
     <p> <b>While I wait</b>; means you must wait until the process completes ( Only for files of less than about 15 seconds processing.).
      <br><b>Not waiting</b>: means you can do other things while processing takes place. You may shut your computer down and the process will continue to run to completion. You can check later to see that it has compeleted by looking at the index of your files.
     <%else%>
     <%= f.input :process, {:as => :select,  :collection => ["Not waiting"],:include_blank => false,:label => "When do you want your file processed :", :size => 5}  %><br>
     <br><b>Not waiting</b>: means you can do other things while processing takes place. You may shut your computer down and the process will continue to run to completion. You can check later to see that it has compeleted by looking at the index of your files.
      <b>Any file requiring more than 15 seconds of processing must be processed as not waiting.</b><br> </p><br>

     <%end%>

      
      <p> Estimated processing time for your file is  <%=  @processing_time%> seconds</p>
    
    <%= f.action :submit, :as => :input, :label => 'Process'  %>
   
     <% end %>
    </div>
   
 <% if @role =='counties' %>
<div  style="float:left;"> <%= button_to 'County Mangement Tools Page', manage_counties_path, method: :get %></div>
<%end%>
<% if @role =='syndicate' %>
<div  style="float:left;"> <%= button_to 'Syndicate Mangement Tools Page', manage_syndicates_path, method: :get %></div>
<%end%>


