<%= render 'flash_notice' %>
<div class="scrollable ">
  <table class="table--bordered table--data table--striped " >
    <thead >
      <tr>
        <th class='sticky-header t5'>Civil Parish</th>
        <th class='sticky-header t5'>Year</th>
        <th class='sticky-header t5'>District</th>
        <th class='sticky-header t5'>Piece</th>
        <th class='sticky-header t5'>Piece number</th>
        <% if @scotland %>
          <th class='sticky-header t5'>Parish number</th>
        <% end%>
        <th colspan = "2" class='sticky-header t10'>Actions</th>
      </tr>
    </thead>
    <tbody >
      <% @freecen2_civil_parishes.each do |freecen2_civil_parish| %>
        <tr id="<%=freecen2_civil_parish.name%>">
          <td ><%= freecen2_civil_parish.name %></td>
          <td ><%= freecen2_civil_parish.year%></td>
          <td ><%= civil_district_name(freecen2_civil_parish) %></td>
          <td ><%=civil_piece_name(freecen2_civil_parish)%></td>
          <td ><%=civil_piece_number(freecen2_civil_parish)%></td>
          <% if @scotland %>
            <td ><%= freecen2_civil_parish.number %></td>
          <% end%>
          <td ><%= link_to 'Show',freecen2_civil_parish_path(freecen2_civil_parish, type: @type), :class => "btn   btn--small"%>
            <% if %w[county_coordinator country_coordinator master_county_coordinator data_manager executive_director system_administrator].include?(session[:role])%>
              <td ><%= link_to 'Edit', edit_freecen2_civil_parish_path(freecen2_civil_parish, type: @type), data: { confirm: 'Are you sure?' }, :class => "btn   btn--small", title: 'Editing is restricted to, coordinators, data managers, executive directors and system administrators'%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <br>