<%= simple_form_for @freecen2_civil_parish, :html => { :class => "grid"}  do |f| %>
  <%= f.input :name ,  label: 'Civil Parish: existing name is preselected IF it exists', selected: @freecen2_civil_parish.name, include_blank: false, collection: @places, input_html: {class: " simple_form_bgcolour simple_form_position overide_selection_field_width", size:3 }%>
  <%= f.input :note, label: "TNA Notes; add reason for change after their note",  as: :text, input_html: {class: " simple_form_bgcolour  ",   placeholder: @freecen2_civil_parish.note,  size: "40x3" }%>
  <h4 style="text-align: center">Hamlets within the Civil Parish</h4>
  <%= f.simple_fields_for :freecen2_hamlets do |multiple| %>
    <%= multiple.input :name,:input_html => {:class => " simple_form_bgcolour  ", :size => 30 } %>
    <%= multiple.input :note,:input_html => { :class => " simple_form_bgcolour  ",:size => 30 } %>
    <%= multiple.input :_destroy, :as => :boolean ,:input_html => {:class => " simple_form_bgcolour  "} %>
  <% end %>
  <h4 style="text-align: center">Townships within the Civil Parish</h4>
  <%= f.simple_fields_for :freecen2_townships do |multiple| %>
    <%= multiple.input :name,:input_html => {:class => " simple_form_bgcolour  ", :size => 30 } %>
    <%= multiple.input :note,:input_html => { :class => " simple_form_bgcolour  ",:size => 30 } %>
    <%= multiple.input :_destroy, :as => :boolean ,:input_html => {:class => " simple_form_bgcolour  "} %>
  <% end %>
  <h4 style="text-align: center">Wards within the Civil Parish</h4>
  <%= f.simple_fields_for :freecen2_wards do |multiple| %>
    <%= multiple.input :name,:input_html => {:class => " simple_form_bgcolour  ", :size => 30 } %>
    <%= multiple.input :note,:input_html => { :class => " simple_form_bgcolour  ",:size => 30 } %>
    <%= multiple.input :_destroy, :as => :boolean ,:input_html => {:class => " simple_form_bgcolour  "} %>
  <% end %>
  <%= f.button :submit, 'Submit'   %>
<% end %>