<h2 style="text-align: center">Details of FreeCen2 Civil Parish:- <%=  @freecen2_civil_parish.name %> in <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) </h2>
<h3 style="text-align: center"> Name changes will normally be done with the Edit Civil Parish Name action and extremely rarely using the main Edit action</h3>
<%= render 'flash_notice' %>
<% if %w[county_coordinator country_coordinator master_county_coordinator country_coordinator data_manager system_administrator executive_director project_manager].include?(session[:role])%>
  <div style="text-align: center">
    <%= link_to 'Edit Civil Parish', edit_freecen2_civil_parish_path(@freecen2_civil_parish, type: @type), data: { confirm: 'Are you sure?' }, :class => "btn   btn--small", title: 'Edit of all fields; note the edit of a Parish name functions as a merge of this Parish into another Parish'%>
  </div>
<% end %>
<% if %w[data_manager system_administrator].include?(session[:role])%>
  <div style="text-align: center">
    <%= link_to 'Edit Civil Parish Name', edit_name_freecen2_civil_parish_path(@freecen2_civil_parish, type: @type), data: { confirm: 'Are you sure?' }, :class => "btn   btn--small", title: 'Edit of the name allows a correction but will NOT permit a rename to a Parish with the new name'%>
  </div>
<% end%>
<% if %w[data_manager system_administrator].include?(session[:role]) or (%w[county_coordinator master_county_coordinator executive_director].include?(session[:role]) and ("1901" "1911").include?(@freecen2_civil_parish.year))%>
  <div style="text-align: center">
    <%= link_to 'Delete Civil Parish', freecen2_civil_parish_path(@freecen2_civil_parish), method: :delete, data: { confirm: 'Are you sure you want to delete this Civil Parish?' } , :class => "btn  btn--small"%>
  </div>
<% end%>