<% breadcrumb :edit_name_freecen2_civil_parish,  @freecen2_civil_parish, @piece.chapman_code, @piece.year , @type%>
<h2 style="text-align: center">Edit FreeCen2 Civil Parish Name:- <%= @freecen2_civil_parish.name%> in <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) for <%=@piece.year%></h2>
<%= render 'flash_notice' %>
<%= semantic_form_for @freecen2_civil_parish, :html => { :class => 'grid'}  do |f| %>
  <%= f.input :reason_changed,:label => 'Reason for making a change or addition',:as => :text, :input_html => {:class => ' simple_form_bgcolour  ',   :placeholder => 'Enter the reason for a change',  :size => '50x5' }%>
  <%= f.input :name ,  label: 'Civil Parish name:',  input_html: {class: ' simple_form_bgcolour', size:40 }%>
  <div  style="text-align: center">
    <%= f.action :submit,  :as => :button,  :label =>  'Submit', :button_html => {name: 'commit', value: 'Submit Name', :class => 'ladda-button' , 'data-style' => 'contract' ,'data-color' => appname_downcase , 'data-size' => 's', 'data-spinner-color' => '#ffffff'  } %>
    <%= f.action  :cancel, as: :link, label: 'Cancel' %>
  </div>
<% end %>
<script type='text/javascript'>
  Ladda.bind( 'button[type=submit]' );
</script>
<br>
<br>