<% breadcrumb :edit_freecen2_civil_parish,  @freecen2_civil_parish, @piece.chapman_code, @piece.year , @type%>
<h2 style="text-align: center">Edit FreeCen2 Civil Parish <%= @freecen2_civil_parish.name%> in <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) for <%=@piece.year%></h2>
<h3 style="text-align: center"> Before changing the name to match an existing Place consider if it would be better to add a new Place with this name and appropriate geographic coordinates</h3>
<%= render 'flash_notice' %>
<%= render 'form' %>
<br>