<% breadcrumb :freecen2_civil_parishes,  @chapman_code, @type%>
<h2 style="text-align: center">FreeCen2 Civil Parishes for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>)  </h2>
<h4 style="text-align: center"> Please note that some of these action may take upwards of a minute or longer to complete. Please be patient</h4>
<%= render 'flash_notice' %>
<% if %w[project_manager executive_director county_coordinator master_county_coordinator country_coordinator data_manager system_administrator
         executive_director project_manager].include?(session[:role])%>
<div style="text-align: center">
  <%= link_to 'Display a Specific Civil Parish', selection_by_name_freecen2_civil_parishes_path,  :class => "btn   btn--small"%>
  <%= link_to 'List Civil Parishes for a Specific Year', selection_by_year_freecen2_civil_parishes_path, :class => "btn   btn--small"%>
  <%= link_to 'Full Index of Civil Parishes ', full_index_freecen2_civil_parishes_path, :class => "btn   btn--small"%>
  <%= link_to 'List Civil Parishes with missing Freecen2 Place name', missing_place_freecen2_civil_parishes_path(chapman_code: @chapman_code), :class => "btn   btn--small"%>
  <%= link_to 'List Civil Parishes with District Freecen2 Place name', district_place_name_freecen2_civil_parishes_path(chapman_code: @chapman_code), :class => "btn   btn--small"%>
</div>
<br>
<br>
<br>
<br>
<% end%>