<% breadcrumb :show_image, @county, @place, @church, @register, @source, @group %>

<div style="clear:both;"></div><br>
<p style="text-align: center">Image of the <b><%= @group.group_name %></b> for the Image Server of the <b><%= @register_type %></b> register for <b><%= @church_name %></b> in <b><%= @place_name %></b> of <b><%= @county %></b>

<% if flash[:notice] %>
  <div id="notice" style="color:blue">
    <%= flash[:notice] %><% flash.clear %>
  </div><br>
<% end %>

<div style="text-align: center">
  <%= link_to 'Edit Image', edit_image_server_image_path(@image), :class => "btn weight--light btn--small" %> 
  <%= link_to 'List All Images In Group '+@image[:image_group][:group_name], image_server_image_path(@image[:image_server_group_id]), method: :get, :class => "btn weight--light btn--small" %>
</div>
<div style="clear:both;"> </div><br>

<div class="grid">
  <section class="island ">
    <div class="grid__item ">
      <table   class="table--bordered  table--data">
        <colgroup >
        <col class=t20>
        <col class=t80>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th class="caps">Value</th>
        </tr>
        <tr><td>Image Group</td><td class="weight--semibold"><%= @image[:image_group][:group_name] %></td></tr>
        <tr><td>Image Name</td><td class="weight--semibold"><%= @image[:image_name] %></td></tr>
        <tr><td>Image</td><td class="weight--semibold"><%= @image[:seq] %></td></tr>
        <tr>
          <td>Status</td>
          <% case @image[:status] %>
            <% when 'u' %>
               <td class="weight--semibold" style="color:red">
            <% when 'i' %>
              <td class="weight--semibold">
            <% when 't' %>
              <td class="weight--semibold" style="color:green">
            <% when 'r' %>
              <td class="weight--semibold">
            <% else %>
              <td>
          <% end %>
          <%= ImageServerImage::Status::ALL_STATUSES[@image[:status]] %>&nbsp;</td>
        </tr>
        <tr>
          <td>Difficulty</td><td class="weight--semibold"><%= ImageServerImage::Difficulty::ALL_DIFFICULTIES[@image[:difficulty]] if @image[:difficulty].present? %>&nbsp;</td>
        </tr>
        <tr>
        	<td>Transcriber</td><td class="weight--semibold"><%= @image[:transcriber].join(' / ') if !@image[:transcriber].blank? %>&nbsp;</td>
				</tr>
        <tr>
        	<td>Reviewer</td><td class="weight--semibold"><%= @image[:reviewer].join(' / ') if !@image[:reviewer].blank? %>&nbsp;</td>
				</tr>
        <tr>
          <td>Notes</td><td class="weight--semibold"><%= @image[:notes] %>&nbsp;</td>
        </tr>
      </table>
    </div>
  </section>
</div>