<% breadcrumb :image_server_images, @county, @place, @church, @register, @source, @group %>

<div style="clear:both;"></div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %><% flash[:notice] = nil%><br>
  </div>
<% end %>

<% unless session[:userid].nil?%>
  <div style="text-align: center">  

  </div>
  <div style="clear:both;"> </div><br>
<% end %>

<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead>
      <tr>
        <th class="t40">Image Set</th>
        <th class="t15">Image</th>
        <th class="t15">Action</th>
      </tr>
    </thead>
  </table>

    <div class="scrollable">
    <table class=" table--bordered my-width table--data just--left">
      <tbody>  
        <% @image_server_image.each do |x| %>
          <tr>
            <td class="t45"><%= x[:image_set] %></td>
            <td class="t15"><%= x[:seq] %></td>
            <td class="t15"><%= link_to 'SH', detail_image_server_image_path(x) %> <%= link_to 'ED', edit_image_server_image_path(x) %> <%= link_to 'DE', image_server_image_path(x), data: { confirm: 'Are you sure you want to delete IS image '+x[:image_set]+'_'+x[:seq]+'.jpg?'}, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
