<div class="desk-three-fifths palm-one-half">
<div class="island  island--light">
  <%= simple_form_for @probate, :html => { :class => "grid"}  do |f| %>
    <%= f.input :PersonId ,:hint => "Surname, Year, running number (unique identifier)", :label => " Person ID ", :input_html => {:class => "simple_form_bgcolour"} %>
    <div class="input string required probate_Death_LastName field_with_hint"><label class="string required control-label" for="probate_p"><abbr title="required">*</abbr> Published text</label>
      <%= f.text_area :p , :hint => "Full published text", :label => " Full text ", :class => "simple_form_bgcolour", :cols => "35", :rows => "6", :options => {:required => false} %>
    </div>
    <%= f.simple_fields_for :death do |death| %>
      <%= death.input :LastName , :hint => "Last name", :label => "Surname", :input_html => {:class => "simple_form_bgcolour"} %>
      <%= death.input :GivenName , :hint => "First name", :label => "Forename(s)", :input_html => {:class => "simple_form_bgcolour"} %>
      <%= death.input :Address , :hint => "Address of deceased", :label => "Address", :input_html => {:size => "35", :class => "simple_form_bgcolour"} %>
      <%= death.input :Role, :hint => "Role or occupation", :label => "Role", :required => false, :input_html => {:class => "simple_form_bgcolour"} %>
      <%= death.input :Date , :hint => "Date of death", :label => "Date of death", :input_html => {:class => "simple_form_bgcolour"}  %>
    <% end %>
    <%= f.simple_fields_for :event do |event| %>
      <%= event.input :Type , :hint => "Event type", :label => "Type", :input_html => {:class => "simple_form_bgcolour"} %>
      <%= event.input :Court , :hint => "Probate Court", :label => "Court", :input_html => {:class => "simple_form_bgcolour"} %>
      <%= event.input :Date , :hint => "Date probate granted", :label => "Date granted", :input_html => {:class => "simple_form_bgcolour"} %>
      <%= event.input :person, :multiple => true, :label => "Executor", :input_html => {:size => "35", :class => "simple_form_bgcolour"} %>
      <% if @probate[:event][:executors].present? %>
        <%= event.simple_fields_for :executors do |exec| %>
          <%= exec.input :GivenName, :hint => "First name", :label => "Forename(s)", :required => false %>
          <%= exec.input :LastName, :hint => "Last name", :label => "Surname", :required => false %>
          <%= exec.input :Role, :hint => "Role or occupation", :label => "Role", :required => false %>
        <% end %>
      <%end %>
      <%= event.input :Value , :hint => "Value of estate", :label => "Value", :input_html => {:class => "simple_form_bgcolour"} %>
    <% end %>
    <%= f.button :submit, 'Submit',:button_html => {:class => "btn  " }  %>
  <% end %>
</div>
</div>