  <table class="table--bordered table--data">
    <caption class="accessibility">Entry Information about <%= @death[:GivenName] %> <%= @death[:LastName] %>  </caption>
    <style>
      td { valign: top; text-align: left; }
      th { valign: top; text-align: left; }
    </style>
    <tbody>
    <tr>
      <th scope="row">Record identifier</th>
      <td><b><%= @search_record[:PersonId] %></b></td>
    </tr>
    <tr>
      <th scope="row">Text entry</th>
      <td><%= @search_record[:P] %></td>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td><%= @death[:LastName] %> <%= @death[:GivenName] %></td>
    </tr>
    <% if @death[:Address].present? %>
      <tr>
        <th scope="row">Address</th>
        <td><%= @death[:Address] %></td>
      </tr>
    <% end %>
    <% if @death[:Date].present? %>
      <tr>
        <th scope="row">Date of death</th>
        <td><%= @death[:Date] %></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">Event type</th>
      <td><%= @event[:Type] %></td>
    </tr>
    <% if @event[:Court].present? %>
    <tr>
      <th scope="row">Court</th>
      <td><%= @event[:Court] %></td>
    </tr>
    <% end %>
    <% if @event[:Date].present? %>
    <tr>
      <th scope="row"><%= @event[:Type] %> Date</th>
      <td><%= @event[:Date] %></td>
    </tr>
    <% end %>
    <% if @event[:Person].present? %>
    <tr>
      <th scope="row"><%= @event[:Type] %> People</th>
      <td>
        <% @event[:Person].each do |p| %>
          <%= p %><br/>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% if @event[:Value].present? %>
    <tr>
      <th scope="row"><%= @event[:Type] %> Value</th>
      <td><%= @event[:Value] %></td>
    </tr>
    <% end %>
    </tbody>
</table>