<p>Hello <%= @resource.username %>!</p>
<p>You are receiving this email for one of three reasons: </p>

<p>1. <strong>You are a new transcriber!</strong></p>

<p>You therefore need to set your own password.  Welcome! <br>
You set your password by clicking the link below:</p>
<p><%= link_to 'Change my password', edit_user_password_path(@resource, reset_password_token: @token) %></p>
<p>You will also be shortly (within 1-3 days - note you may not get a reply over the weekend) receiving an email with full details of how to transcribe for the project from the Coordinator who looks after your chosen County.<br>
<% unless @coordinator.nil? %>
In case of any difficulty, please email your coordinator - <%= @coordinator.person_forename %>  <%= @coordinator.person_surname %> at <%= @coordinator.email_address%>
<%end%>
</p>
<p>2. <strong>You are an existing volunteer</strong>, and have just been set up on our online system.<br>
You therefore now need to set your own password. You set your password by clicking the link below:
</p>
<p><%= link_to 'Change my password', edit_user_password_path(@resource, reset_password_token: @token) %></p>
<p>3. <strong>You an existing volunteer, and just need to change your existing password.</strong><br>You change your password by clicking the link below:
</p>
<p><%= link_to 'Change my password', edit_user_password_path(@resource, reset_password_token: @token) %></p>
<p>Your password won't be created, or changed (if you already have one) until you follow the <%= link_to 'Change my password', edit_user_password_path(@resource, reset_password_token: @token) %> link and create a new one.</p>

<p> We hope you will enjoy or already are enjoying working with <%= MyopicVicar::Application.config.freexxx_display_name %>.<br> It is only through your work that researchers can find their ancestors on <%= MyopicVicar::Application.config.freexxx_display_name %>.</p>

<p> The <%= MyopicVicar::Application.config.freexxx_display_name %> Team.</p>

