<p>Hello <%= @resource.username %>!</p>

<p>You have either just registered and need to set your own password or just need to change your existing password. You can do this by clicking on the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Your password won't change until you follow the link above and create a new one.</p>

<p> We hope you will enjoy or already are enjoying working with <%= MyopicVicar::Application.config.freexxx_display_name %>. It is only through your work that researchers can find their ancestors on <%= MyopicVicar::Application.config.freexxx_display_name %>.</p>

<p> The <%= MyopicVicar::Application.config.freexxx_display_name %> Team.</p>

