<% breadcrumb :freecen_csv_files, @freecen_csv_file %>
<% if session[:syndicate].present? %>
  <h3 style="text-align: center"> Syndicate Files for  <%= session[:syndicate]%><%=@sorted_by%></h3>
<% elsif session[:county].present? %>
  <h3 style="text-align: center"> County Files for  <%= session[:county]%><%=@sorted_by%></h3>
<% end%>
<%= render 'flash_notice' %>
<p class=" text--center"> Select a link below to change the order of display</p>
<div  class=" text--center push--bottom">
  <%= link_to 'Alphabetical file name', manage_counties_selection_path(option: 'Review Batches by Filename'), method: :get , :class => "btn btn--small", title: 'Reorder the list according to the alphabetical order of their file name' %>
  <%= link_to 'Oldest' ,  manage_counties_selection_path(option: 'Review Batches by Oldest Date of Change'), method: :get , :class => "btn btn--small", title: 'Reorder the list according to the oldest processing of the file' %>
  <%= link_to 'Most Recent' , manage_counties_selection_path(option: 'Review Batches by Most Recent Date of Change'), method: :get , :class => "btn btn--small", title: 'Reorder the list according to the most recent processing of the file' %>
  <%= link_to 'Files with errors' , manage_counties_selection_path(option: 'Review Batches with Errors'), method: :get , :class => "btn btn--small", title: 'List only those files with errors' %>
  <%= link_to 'Select Specific File' , manage_counties_selection_path(option: 'Review Specific Batch'), method: :get , :class => "btn btn--small", title: 'Select a specific file to look at in detail' %>
  <%= link_to 'Download Spreadsheet' , download_spreadsheet_freecen_csv_file_path, method: :get , :class => "btn btn--small", title: 'Lists the available census spreadsheet headers that can be downloaded to your computer and used for the transcription of a census document' %>
</div>
<p class="text--center"> To replace a file: locate the file in the list below and click on the RL option on the extreme right. <br>
  To upload a new file: click this <%= link_to 'Upload new file', new_csvfile_path, method: :get , :class => "btn btn--small"%>
</p>