<p style="text-align: center"><b><%= file_name(@freecen_csv_file) %> (<%= userid(@freecen_csv_file) %>) in <b><%= @piece.district_name %></b> of <b><%= @piece.chapman_code %></b><br>
  </p>
  <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
      <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
  <% end %>
  <p><b>You may change the following parameters but do so with care as they will change where the batch is located. You are changing <%= session[:records]%> records so it may take some time.  </b></p>
  Please wait for selection boxes to fill after selecting the preceding option. You MUST select an option even if there is only one.
  <%= semantic_form_for @freecen_csv_file,:html => { :class =>  "grid", novalidate: "novalidate"} do |f| %>
    <% if  session[:role] == 'system_administrator' || session[:role] == 'data_manager'%>
      <%= f.input :country,:label => "Select country from following list",
    :required => true, :collection =>  options_for_select(@countries,'Select Country'),
    :input_html => {:class => " simple_form_bgcolour large_selection_field_width",'onchange' =>   @update_counties_location,:size => 5} %>
      <% if @counties.present? %>
        <%= f.input :county,:label => "Select county from following list",:include_blank => true,
      :required => true, :collection => options_for_select(@counties,"Select County"),
      :input_html => {:class => " simple_form_bgcolour large_selection_field_width",'onchange' => @update_places_location,:size => 5}   %>
      <% end %>
    <% end %>
    <%= f.input :place,:label => "Select place name from the following list of Approved Names",:include_blank => true,
:required => true, :collection => options_for_select(@placenames,@selected_place),
:input_html => {:class => " simple_form_bgcolour large_selection_field_width",'onchange' =>@update_churches_location,:size => 5}  %>
    <%= f.input :church_name, :label => "Select church name from the following list",:include_blank => true, :required => true, :collection => options_for_select(@churches,@selected_church), :input_html => {:class => " simple_form_bgcolour large_field_width",'onchange' =>@update_registers_location,:size => 5}   %>
    <%= f.input :register_type,:label => "Select Type of Register :",:include_blank => true, :required => true, :collection => options_for_select(@register_types,@selected_register), :input_html => {:class => " simple_form_bgcolour large_selection_field_width",:size => 5}%>
    <div  style="text-align: center">
      <%= f.action :submit,  :as => :button,  :label =>  'Relocate', :button_html => {name: 'commit', value: 'Relocate', :class => 'ladda-button' , 'data-style' => 'contract' ,'data-color' => appname_downcase , 'data-size' => 's', 'data-spinner-color' => '#ffffff'  } %>
      <%= f.action  :cancel, as: :link, label: 'Cancel' %>
    </div>
  <% end %>
  <script type='text/javascript'>
    Ladda.bind( 'button[type=submit]' );
  </script>