<% breadcrumb :freecen_csv_files %>
<h2 class=" text--center"> <%=@who%> these are your files</h2>
<p class=" text--center">Videos describing <%= link_to 'this page', "https://youtu.be/GnkkKkVGXs8", target: '_blank' %>, <%= link_to 'download spreadsheet', "https://youtu.be/2ekZ_VXmTn0" , target: '_blank' %>, <%= link_to 'upload traditional file', "https://youtu.be/DM889numA-s" , target: '_blank'%>, <%= link_to 'upload new CSVProc file', "https://youtu.be/GnkkKkVGXs8" , target: '_blank'%>, <%= link_to 'show details of the file', "https://youtu.be/f0l1tlWESII" , target: '_blank' %>, <%= link_to 'errors display', "https://youtu.be/f0l1tlWESII" , target: '_blank' %>, <%= link_to 'replace a file', "https://youtu.be/XH-QBKRg9gQ" , target: '_blank' %> (all open in new tabs)<br>
</p>
<%= render 'flash_notice' %>
<p class=" text--center"> <%=@sorted_by%>: select a link below to change the order of display
</p>
<div  class=" text--center push--bottom">
  <%= link_to 'Alphabetical file name', display_my_own_files_freecen_csv_file_path, method: :get , :class => "btn btn--small", title: 'Reorder the list according to the alphabetical order of their file name' %>
  <%= link_to 'Oldest' , display_my_own_files_by_ascending_uploaded_date_freecen_csv_file_path, method: :get , :class => "btn btn--small", title: 'Reorder the list according to the oldest processing of the file' %>
  <%= link_to 'Most Recent' , display_my_own_files_by_descending_uploaded_date_freecen_csv_file_path, method: :get , :class => "btn btn--small", title: 'Reorder the list according to the most recent processing of the file' %>
  <%= link_to 'Files with errors' , display_my_error_freecen_csv_files_path, method: :get , :class => "btn btn--small", title: 'List only those files with errors' %>
  <%= link_to 'Select Specific File' , display_my_own_files_by_selection_freecen_csv_file_path, method: :get , :class => "btn btn--small", title: 'Select a specific file to look at in detail' %>
  <%= link_to 'Download Spreadsheet' , download_spreadsheet_freecen_csv_file_path, method: :get , :class => "btn btn--small", title: 'Lists the available census spreadsheet headers that can be downloaded to your computer and used for the transcription of a census document' %>
</div>
<div class="text--center">
  To upload a new file: click this <%= link_to 'Upload new file', new_csvfile_path, method: :get , :class => "btn btn--small"%><br>
  To replace a file: click on the Replace option on the actions for the specific file in the list below. <br>
</div>