<h2 style="text-align: center"><b><%= file_name(@freecen_csv_file) %> (<%= userid(@freecen_csv_file) %>) in <b><%= @piece.district_name %></b> of <b><%= @piece.chapman_code %></b><br>
  </h2>
  <p class=" text--center">Videos describing <%= link_to 'this page', "https://youtu.be/GnkkKkVGXs8", target: '_blank' %>, <%= link_to 'replace file', "https://youtu.be/XH-QBKRg9gQ" , target: '_blank' %>, <%= link_to 'download a spreadsheet file', "https://youtu.be/2ekZ_VXmTn0" , target: '_blank' %>, <%= link_to 'download message report', "https://youtu.be/f0l1tlWESII", target: '_blank' %> (all open in new tabs)<br>
  </p>
  <div  style="text-align: center">
    <%= replace_freecen_file unless @freecen_csv_file.incorporation_lock %>
    <%= convert_header %>
    <%= download_freecen_file %>
    <%= remove_freecen_file unless @freecen_csv_file.incorporation_lock %>
    <%= download_messages %><br>
    <%= list_freecen_file_flags %>
    <%= list_freecen_file_error_entries %>
    <%= list_freecen_file_warning_entries %>
    <%= list_freecen_file_information_entries %>
    <%= browse_freecen_file_civil_parishes%>
    <%= browse_freecen_file_pages%>
    <%= browse_freecen_file_dwellings%>
    <%= browse_freecen_file_individuals%>
    <br>
    <% if %w[county_coordinator master_county_coordinator country_coordinator system_administrator data_manager validator executive_director project_manager].include?(@user.person_role) %>
      <%= change_freecen_file_owner unless @freecen_csv_file.incorporation_lock %>
      <%= edit_freecen_file %>
      <%= reprocess_freecen_file unless @freecen_csv_file.incorporation_lock %>
      <%= accept_warnings unless @freecen_csv_file.incorporation_lock  || @freecen_csv_file.total_warnings == 0 %>
    <% end%>
    <% if %w[county_coordinator master_county_coordinator country_coordinator system_administrator data_manager validator executive_director project_manager].include?(@user.person_role) %>
      <%= validate_freecen_file unless @freecen_csv_file.incorporation_lock %>
      <%= incorporate_freecen_file if @freecen_csv_file.validation%>
    <% end%>
    <% if ['system_administrator','data_manager'].include?(@user.person_role) %>
      <%= delete_freecen_file unless @freecen_csv_file.incorporation_lock %>
    <% end%>
  </div>
  <div style="clear:both;"> </div>
  <br>
  <%= render partial: 'flash_notice' %>