<section>
<h4>Citation(Chicago):</h4>
  <p class = "citation_container">
    "<%unless @entry['register_type'].include? "Unspecified"%><%=@entry['register_type']%><% else %>Register of unspecified type<% end %>, <%=@entry['church_name']%>, <%=@entry['place']%>, <%=@entry['county']%>". <i><%= appname%> Parish Register</i> database <i><%=search_record_link(@search_record[:_id])%></i>. Free UK Genealogy (accessed <%=Date.today.strftime("%e %b %Y")%>).
  </p>
</section>