<section>
<h4>Citation(Chicago):</h4>
  <p class = "citation_container">
    The National Archives. "<%=@dep_series_code%>/<%=@piece%>, Folio <%=@folio%>, Page <%=@page%>, Schedule <%=@schedule%>: <%= @freecen_database%> <%=@cen_year%> Census Returns database."
    From Free UK Genealogy, <%= appname%>. Transcription. <%=search_record_link(@search_record[:_id])%> (accessed <%=@viewed_date%>).
  </p>
</section>