<section>
  <p>
    The National Archives. "<%=@dep_series_code%>/<%=@piece%>, Folio <%=@folio%>, Page <%=@page%>, Schedule <%=@schedule%>: England and Wales Census, 1861."
    From Free UK Genealogy, <%= appname%>. Transcription. <%=search_record_link(@search_record[:_id])%> (accessed <%=@viewed_date%>).
  </p>
</section>