<% if  @show_navigation%>
  <%= render 'nav_dwelling_freecen' if  @show_navigation %>
<% else%>
  <% if params[:dwel].present? %>
    <%= link_to "Printable Format", show_print_version_search_record_path(@search_record, dwel: params[:dwel]), :class => "btn  btn--small"%>
  <% else %>
    <%= link_to "Printable Format", show_print_version_search_record_path(@search_record), :class => "btn  btn--small" %>
  <% end %>
<% end%>
<% if @dwelling %>
  <% if 0 != @dwelling_offset %>
    <p class="text--center">
      <%= dwelling_offset_message(@dwelling_offset) %>
    </p>
  <% end %>
  <%= render 'freecen_dwelling' %>
  <div class="grid">
        <aside class="grid__item one-whole">
          <div class = "adsense_box push--ends reg_adsense">
            <p class = "text--center">Advertisement</p>
            <%#= fullwidth_adsense %>
            <%= my_heritage_720_90_cen_detail %>
          </div>
        </aside>
      </div>
  <%#= my_heritage_720_90_cen_detail %>
  <%= render 'nav_individual_freecen' if  @show_navigation %>
  <%= render 'freecen_individuals' %>
<% end %>
<%= render '/freecen_csv_entries/donate_and_data_problem' %>
</section>
<style>
  .javascript{
    display: none;
  }
  .citation-dropdown-list{
    list-style-type: none;
  }
  .citation_container{
    border: 1px solid black;
    padding: 5px;
  }
</style>
<script>
  document.getElementById("citation-toggle").addEventListener("click", citationToggle);
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function citationToggle() {
    var x = document.getElementById("citation-dropdown");
  
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
  }
  // When the page loads, hide all no-javascript elements and display all javascript elements.
  window.addEventListener("load", function(){
    const no_javascript_elements = document.getElementsByClassName("no-javascript");
    const javascript_elements = document.getElementsByClassName("javascript");
  
    for(let i = 0; i < no_javascript_elements.length; i++){
      no_javascript_elements[i].remove();
    }
    for(let i = 0; i < javascript_elements.length; i++){
      javascript_elements[i].style.display = "block";
    }
    if(!document.getElementById("citation_section")){
      document.getElementById("citation-dropdown").style.display = "none";
    }
  })
  // Function to copy the text from an element.
  function copy(elm) {
      var button = event.currentTarget || event.srcElement;
      var target = document.getElementsByClassName(elm)[0];
      var range, select;
      if (document.createRange) {
        range = document.createRange();
        range.selectNode(target)
        select = window.getSelection();
        select.removeAllRanges();
        select.addRange(range);
        document.execCommand('copy');
        select.removeAllRanges();
      } else {
        range = document.body.createTextRange();
        range.moveToElementText(target);
        range.select();
        document.execCommand('copy');
      }
      //Change button value to "copied" for 10 sec and then change back to "copy".
      button.innerHTML = "Copied"
      setTimeout(function(){
        button.innerHTML = "Copy"
      }, 10000);
    }
</script>