<section>
<h4>Citation(Family Tree Maker):</h4>
  <p class = "citation_container">
    Source title: <%=@freecen_database %> <%=@cenyear%> Census Returns database
    <br>
    Repository: The National Archives, Kew, Surrey
    <br>
    Citation detail:  PRO <%=@dep_series_code%>/<%=@piece%>, Folio <%=@folio%>, Page <%=@page%>, Schedule <%=@schedule%>
    <br>
    Citation text: <%=@searched_user_name %><% if !@is_family_head %> in household of <%= @family_head_name%><% end %>, <%= @user_address%>
    <br>
    Web address:  <%=search_record_link(@search_record[:_id])%> viewed <%= @viewed_date %>
  </p>
</section>
