<table class="table--bordered " style="background-color:#ffffff;">
  <caption class="accessibility">Details of each person in the dwelling</caption>
  <thead>
    <% FreecenIndividual.individual_display_labels(@cen_year,@cen_chapman_code).each do |lbl| %>
      <th>
        <%= lbl %>
      </th>
    <% end %>
  </th>
</thead>
<tbody>
  <% if @dwelling.freecen_individuals.present? %>
    <% @dwelling.freecen_individuals.asc(:sequence_in_household).each do |individual| %>
      <% if individual == @individual %>
        <tr>
          <% individual.individual_display_values(@cen_year,@cen_chapman_code).each_with_index do |field_val, control| %>
            <% if control == 0 %>
              <td class="weight--semibold"><span class="accessibility">the person found in your search</span>
                <%= field_val %>
              </td>
            <% else%>
              <td class="weight--semibold">
                <%= field_val %>
              </td>
            <% end%>
          <% end%></tr>
      <% else%>
        <tr> <% individual.individual_display_values(@cen_year,@cen_chapman_code).each do |field_val| %>
            <td>
              <%= field_val %>
            </td>
          <% end%></tr>
      <% end%>
    <% end %>
  <% else%>
    <p class="text--center">Uninhabited <%= @dwelling.unoccupied_notes %></p>
  <% end %>
</tbody>
</table>