<section>
<h4>Citation(MLA):</h4>
  <p class = "citation_container">
    The National Archives. "PRO <%=@dep_series_code%>/<%=@piece%>, Folio <%=@folio%>, Page <%=@page%>, Schedule <%=@schedule%>: <%= @census_database %>."
    <%= appname%> Free UK Genealogy, <%=@viewed_date%>, &lt;<%=search_record_link(@search_record[:_id])%>&gt;
  </p>
</section>