<section>
  <p>
    The National Archives. "PRO <%=@dep_series_code%>/<%=@piece%>, Folio <%=@folio%>, Page <%=@page%>, Schedule <%=@schedule%>: England and Wales Census, 1861."
    <%= appname%> Free UK Genealogy, <%=@viewed_date%>, <%=search_record_link(@search_record[:_id])%>
  </p>
</section>