<section>
  <%= render 'nav_header_freecen' if  @show_navigation %>
</section>
<section>
</section>
  <section>
    <% if @dwelling %>
      <% if 0 != @dwelling_offset %>
        <p class="text--center">
          <%= dwelling_offset_message(@dwelling_offset) %>
        </p>
      <% end %>
      <div class="table-wrapper">
        <table class="table--bordered " style="background-color:#ffffff;">
          <thead>
            <tr>
              <% FreecenDwelling.dwelling_display_labels(@cen_year,@cen_chapman_code).each do |lbl| %>
                <td>
                  <%= lbl %>
                </td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @dwelling.dwelling_display_values(@cen_year,@cen_chapman_code).each do |field_val| %>
                <td>
                  <%= field_val %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-wrapper">
        <table class="table--bordered " style="background-color:#ffffff;">
          <thead>
            <tr>
              <% FreecenIndividual.individual_display_labels(@cen_year,@cen_chapman_code).each do |lbl| %>
                <td>
                  <%= lbl %>
                </td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% if @dwelling.freecen_individuals.present? %>
              <tr>
                <% @dwelling.freecen_individuals.asc(:sequence_in_household).each do |individual| %>
                  <tr>
                    <% individual.individual_display_values(@cen_year,@cen_chapman_code).each do |field_val| %>
                      <td>
                        <%= field_val %>
                      </td>
                    <% end %>
                  <% end %>
                </tr>
              <% else%>
                <p class="text--center">Uninhabited</p>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <div class="read-length push--bottom" style="margin-left: auto; margin-right: auto;">
      <br>
      <center><a href="https://www.freeukgenealogy.org.uk/help-us-keep-history-free/" class="freeCEN" id="donate"><%= DonateIconHelper::DONATE_ICON.html_safe %></a></center>
      <p class="push-half--bottom">While most other genealogy sites charge you to find and read records, <b><%= appname %></b> is dedicated to keeping our searches free. A small donation towards our costs would really help us keep it that way. </p>
    </div>
    <% if @annotations && @annotations.length > 0 %>
      <!----- do we need this annotations stuff for freecen? ----->
      <table class="table--bordered ">
        <thead>
          <tr>
            <td colspan="2">
              <h2>Online Transcriptions</h2>
            </td>
          </tr>
        </thead>
        <tbody>
          <% @annotations.each do |annotation| %>
            <% annotation.attributes.keys.each do |field| %>
              <% if annotation[field] %>
                <tr>
                  <td><%= field.gsub('_',' ').capitalize %></td>
                  <td><%= annotation[field] %></td>
                </tr>
              <% end %>
            <% end %>
            <% transcription = annotation.transcription %>
            <% if transcription %>
              <% transcription.attributes.keys.each do |field| %>
                <% if transcription[field] %>
                  <tr>
                    <td><%= field.gsub('_',' ').capitalize %></td>
                    <td><%= transcription[field] %></td>
                  </tr>
                <% end %>
              <% end %>
              <tr>
                <td>Image</td>
                <td>
                  <% if transcription.asset.thumbnail_location %>
                    <%= link_to(image_tag(transcription.asset.thumbnail_location), transcription.asset.location) %>
                  <% else %>
                    <%= link_to("Image", transcription.asset.location) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end%>
    <% unless params[:debug].blank? %>
      <table class="table--bordered ">
        <thead>
          <tr>
            <td colspan="2">
              <h1>Record</h1>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Primary names</td>
            <td>
              <% @search_record.primary_names.each do |name| %>
                first_name: <%= name.first_name %><br/>
                last_name: <%= name.last_name %><br/>
                origin: <%= name.origin %><br/>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Other family names</td>
            <td>
              <% @search_record.inclusive_names.each do |name| %>
                first_name: <%= name.first_name %><br/>
                last_name: <%= name.last_name %><br/>
                origin: <%= name.origin %><br/>
              <% end %>
            </td>
          </tr>
          <% @search_record.ordered_display_fields.each do |field| %>
            <% if @search_record[field] %>
              <tr>
                <td><%= field.gsub('_',' ').capitalize %></td>
                <td><%= @search_record[field] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <h5> If you believe there to be an error in this transcription then please <%= link_to "report", report_error_contact_path(@search_record, :query => @search_query), target: "_blank" %> it to our data manager (link opens in a new tab or window).</h5>
  </section>
  <style>
    .javascript{
      display: none;
    }
    .citation-dropdown-list{
      list-style-type: none;
    }
    .citation_container{
      border: 1px solid black;
      padding: 5px;
    }
  </style>
  <script>
    document.getElementById("citation-toggle").addEventListener("click", citationToggle);
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function citationToggle() {
      var x = document.getElementById("citation-dropdown");
    
      if (x.style.display === "none") {
          x.style.display = "block";
      } else {
          x.style.display = "none";
      }
    }
    window.addEventListener("load", function(){
      const no_javascript_elements = document.getElementsByClassName("no-javascript");
      const javascript_elements = document.getElementsByClassName("javascript");
    
      for(let i = 0; i < no_javascript_elements.length; i++){
        no_javascript_elements[i].remove();
      }
      for(let i = 0; i < javascript_elements.length; i++){
        javascript_elements[i].style.display = "block";
      }
      if(!document.getElementById("citation_section")){
        document.getElementById("citation-dropdown").style.display = "none";
      }
    })
    function copy(elm) {
        var button = event.currentTarget || event.srcElement;
        var target = document.getElementsByClassName(elm)[0];
        var range, select;
        if (document.createRange) {
          range = document.createRange();
          range.selectNode(target)
          select = window.getSelection();
          select.removeAllRanges();
          select.addRange(range);
          document.execCommand('copy');
          select.removeAllRanges();
        } else {
          range = document.body.createTextRange();
          range.moveToElementText(target);
          range.select();
          document.execCommand('copy');
        }
        button.innerHTML = "Copied"
        setTimeout(function(){
          button.innerHTML = "Copy"
        }, 1000);
      }
  </script>