<section>
  <% if @search_query.present? %>
    <p class="text--center">
      <%= link_to "New Search", new_search_query_path, :class => "btn  btn--small" %>
      <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  btn--small" %>
      <%= link_to "Back to Results", search_query_path(@search_query, :anchor => "#{@search_record.id}"), :class => "btn  btn--small"%>
      <%= link_to "Previous Search Result", friendly_search_record_path(@previous_record, @previous_record.friendly_url), :class => "btn  btn--small" unless @previous_record.nil?%>
      <%= link_to "Next Search Result", friendly_search_record_path(@next_record, @next_record.friendly_url), :class => "btn  btn--small" unless @next_record.nil?%>
    </p>
  <% end%>
</section>