<nav class="text--center" role="navigation" aria-label="Options for search details">
  <ul class="nav">
    <li> <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn   btn--small" %></li>
    <li><%= link_to "New Search", new_search_query_path, :class => "btn   btn--small" %></li>
    <li> <%= link_to "Back to Results", search_query_path(@search_query.id), :class => "btn  btn--small" unless @search_query.blank? %></li>
    <li><%= link_to "Previous Result", friendly_search_record_path(@previous_record, @previous_record.friendly_url), :class => "btn  btn--small" unless @previous_record.nil?%></li>
    <li> <%= link_to "Next Result", friendly_search_record_path(@next_record, @next_record.friendly_url), :class => "btn  btn--small" unless @next_record.nil?%></li>
    <li> <%= link_to "Printable Format", show_print_version_search_record_path(@search_record[:_id]), :class => "btn  btn--small"%></li>
    <li> <%= link_to "Export as CSV", show_print_version_search_record_path(@search_record[:_id],format: :csv),  :class => "btn  btn--small"%></li>
    <li> <%= link_to "Export as JSON", show_print_version_search_record_path(@search_record[:_id],format: :json),  :class => "btn  btn--small"%></li>
    <li> <a href="#" id="citation-toggle" class="btn   btn--small citation-toggle">Generate Citation</a></li>
  </ul>
</nav>