<section>
  <p>
    The National Archives. "PRO RG9/<%=@piece%>, Folio <%=@folio%>, Page <%=@page%>, Schedule <%=@schedule%>: England and Wales Census, 1861."
    From Free UK Genealogy, FreeCEN. Transcription. https://www.freecen.org.uk (accessed <%=@chicago_date%>).
  </p>
</section>
