<section>
  <p>
    <strong>Footnote/Endnote Citation:</strong>
    <br>
    Free UK Genealogy, "Parish Register" database, FreeREG.org.uk (https://www.freereg.org.uk: viewed <%=@viewed_date%>), <%=record_type(@entry).downcase%>
    <%if record_type(@entry).downcase == "baptism"%>
      <%=@entry['person_forename'].titleize%> <%=@entry['father_surname'].titleize%>, <%=@entry['place']%>, <%=@entry['county']%>, UK <%=@entry['baptism_date'].titleize%>; citing  <%unless @entry['register_type'].include? "Unspecified"%><%=@entry['register_type']%><% else %>Register of unspecified type<% end %>, <%=@entry['church_name']%>
    <%elsif record_type(@entry).downcase == "burial"%>
      <%=@entry['burial_person_forename'].titleize%> <%=@entry['burial_person_surname'].titleize%>, <%=@entry['place']%>, <%=@entry['county']%>, UK <%=@entry['burial_date'].titleize%>; citing  <%unless @entry['register_type'].include? "Unspecified"%><%=@entry['register_type']%><% else %>Register of unspecified type<% end %>, <%=@entry['church_name']%>
    <%elsif record_type(@entry).downcase == "marriage"%>
      <%=@entry['groom_forename'].titleize%> <%=@entry['groom_surname'].titleize%> to <%=@entry['bride_forename'].titleize%> <%=@entry['bride_surname'].titleize%>, <%=@entry['place']%>, <%=@entry['county']%>, UK <%=@entry['marriage_date'].titleize%>; citing  <%unless @entry['register_type'].include? "Unspecified"%><%=@entry['register_type']%><% else %>Register of unspecified type<% end %>, <%=@entry['church_name']%>
    <%end%><br>
    <br><br>

    <strong>Subsequent Citation:</strong>
    <br>
    Free UK Genealogy, "Parish Register" database entry for <%=record_type(@entry).titleize%>
    <%if record_type(@entry).downcase == "baptism"%>
      <%=@entry['person_forename'].titleize%> <%=@entry['father_surname'].titleize%>
    <%elsif record_type(@entry).downcase == "burial"%>
      <%=@entry['burial_person_forename'].titleize%> <%=@entry['burial_person_surname'].titleize%>
    <%elsif record_type(@entry).downcase == "marriage"%>
      <%=@entry['groom_forename'].titleize%> <%=@entry['groom_surname'].titleize%> to <%=@entry['bride_forename'].titleize%> <%=@entry['bride_surname'].titleize%>
    <%end%>
    <br><br>

    <strong>Bibliography:</strong>
    <br>
    Free UK Genealogy, "Parish Register" Database. FreeREG https:freereg.org.uk: <%=Date.today.strftime("%Y")%>
  </p>
</section>
