<section>
  <p>
    Free UK Genalogy "<%=@census_database %>" database, FreeCEN (https://www.freecen.org.uk : accessed <%= @viewed_date %>) [data about <%=@searched_user_name %><% if !@is_family_head %> in household of <%= @family_head_name%><% end %>]; citing
    <strong>Piece</strong>: <%=@piece%>
    <strong>Place</strong>: <%=@place%>
    <strong>Enumeration District</strong>: <%=@enumeration_district%>
    <strong>Civil Parish</strong>: <%=@civil_parish%>
    <strong>Ecclesiastical Parish</strong>: <%=@ecclesiastical_parish%>
    <strong>Folio</strong>: <%=@folio%>
    <strong>Page</strong>: <%=@page%>
    <strong>Schedule</strong>: <%=@schedule%>
    <strong>Address</strong>: <%=@ee_address%>.
  </p>
</section>
