<section>
  <p>
    The National Archives. "PRO RG9/<%=@piece%>, Folio <%=@folio%>, Page <%=@page%>, Schedule <%=@schedule%>: England and Wales Census, 1861."
    FreeCEN Free UK Genealogy, <%=@viewed_date%>, www.freecen.org.uk
  </p>
</section>
