<section>
  <p>
    "<%unless @entry['register_type'].include? "Unspecified"%><%=@entry['register_type']%><% else %>Register of unspecified type<% end %>, <%=@entry['church_name']%>, <%=@entry['place']%>, <%=@entry['county']%>". <i>FreeREG Parish Register</i> database <i>www.freereg.org.uk</i>. Free UK Genealogy <%=@viewed_date%>.
  </p>
</section>
