<section>
  <p>
    Free UK Genealogy, “<%unless @entry['register_type'].include? "Unspecified"%><%=@entry['register_type']%><% else %>Register of unspecified type<% end %>, <%=@entry['church_name']%> Church, <%=@entry['place']%>, <%=@entry['county']%>” database,
    FreeREG (https://www.freereg.org.uk) : accessed <%=@viewed_date%>), [data about
    <%if record_type(@entry).downcase == "baptism"%>
      <%=entitle(@entry['person_forename'])%> <%=entitle(@entry['father_surname'])%>
      <%=entitle(@entry['baptism_date'])%>
    <%elsif record_type(@entry).downcase == "burial"%>
      <%=entitle(@entry['burial_person_forename'])%> <%=entitle(@entry['burial_person_surname'])%>
      <%=entitle(@entry['burial_date'])%>
    <%elsif record_type(@entry).downcase == "marriage"%>
      <%=entitle(@entry['groom_forename'])%> <%=entitle(@entry['groom_surname'])%> to <%=entitle(@entry['bride_forename'])%> <%=entitle(@entry['bride_surname'])%>
      <%=entitle(@entry['marriage_date'])%>
    <%end%>
    ]; citing Register number <%=@entry['register_entry_number']%>
  </p>
</section>
