<section>
  <p>
    Source title: FreeREG - <%=@entry['church_name']%>, <%=@entry['place']%>, <%=@entry['county']%><br>
    Repository:  unknown<br>
    Citation detail: <%unless @entry['register_type'].include? "Unspecified"%><%=@entry['register_type']%><% else %>Register of unspecified type<% end %><br>
    Citation text:  <%=record_type(@entry).titleize%>
    <%if record_type(@entry).downcase == "baptism"%>
      <%=@entry['person_forename'].titleize%> <%=@entry['father_surname'].titleize%> <%=@entry['baptism_date'].titleize%>
    <%elsif record_type(@entry).downcase == "burial"%>
      <%=@entry['burial_person_forename'].titleize%> <%=@entry['burial_person_surname'].titleize%> <%=@entry['burial_date'].titleize%>
    <%elsif record_type(@entry).downcase == "marriage"%>
      <%=@entry['groom_forename'].titleize%> <%=@entry['groom_surname'].titleize%> to <%=@entry['bride_forename'].titleize%> <%=@entry['bride_surname'].titleize%> <%=@entry['marriage_date'].titleize%>
    <%end%>
    <br>
    Web address:https:www.freereg.org.uk  viewed <%=@viewed_date%>
  </p>
</section>
