<section>

  <% if false && @dwelling %>
    <% display_fields_order = ['civil_parish','enumeration_district','folio_number','page_number','schedule_number','house_number','house_or_street_name','sequence_in_household','surname','forenames','relationship','marital_status','condition','sex','age','age_unit','occupation','occupation_flag','verbatim_birth_county','verbatim_birth_place','disability','language','notes'] %>
    <table class="table--bordered ">
      <thead>
	<tr>
	  <% display_fields_order.each do |fld| %>
	  <td>
	    <%= fld.titleize %>
	  </td>
	  <% end %>
	</tr>
      </thead>
      <tbody>
	<% @dwelling.freecen_individuals.each do |individual| %>
	  <% all_fields = individual.attributes.merge(@dwelling.attributes) %>
	  <tr>
	    <% display_fields_order.each do |fld| %>
	    <td>
	      <%= all_fields[fld] %>
	    </td>
	    <% end %>
	  </tr>
	  <% end %>
      </tbody>
    </table>
  <% end %>
  
  
  
  
  
  <% if true && @dwelling %>
    <% dwelling_fields = ['civil_parish','enumeration_district','folio_number','page_number','schedule_number','house_number','house_or_street_name'] %>
    <% individual_fields = ['sequence_in_household','surname','forenames','relationship','marital_status','condition','sex','age','age_unit','occupation','occupation_flag','verbatim_birth_county','verbatim_birth_place','disability','language','notes'] %>

    <table class="table--bordered " style="background-color:#ffffff;">
      <thead>
	<tr>
	  <% dwelling_fields.each do |fld| %>
	  <td>
	    <%= fld.titleize %>
	  </td>
	  <% end %>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <% dwelling_fields.each do |fld| %>
	  <td>
	    <%= @dwelling.attributes[fld] %>
	  </td>
	  <% end %>
	</tr>
      </tbody>
    </table>
    <div style="height:0px;"></div>
    <table class="table--bordered " style="background-color:#ffffff;">
      <thead>
	<tr>
	  <% individual_fields.each do |fld| %>
	  <td>
	    <%= fld.titleize %>
	  </td>
	  <% end %>
	</tr>
      </thead>
      <tbody>
	<% @dwelling.freecen_individuals.each do |individual| %>
	<tr>
	  <% individual_fields.each do |fld| %>
	  <td>
	    <%= individual.attributes[fld] %>
	  </td>
	  <% end %>
	</tr>
	<% end %>
      </tbody>
    </table>
    <% end %>


  <% if false && @dwelling %>
    <%=  @dwelling.attributes.inspect %>
    <div style="height:30px;"></div>
    <%=  @dwelling.freecen_individuals[0].attributes.inspect %>
  <% end %>



  <% if @annotations && @annotations.length > 0 %>
  <table class="table--bordered ">
    <thead>
      <tr>
        <td colspan="2">
          <h2>Online Transcriptions</h2>
        </td>
      </tr>
    </thead>
    <tbody>
      <% @annotations.each do |annotation| %>
      <% annotation.attributes.keys.each do |field| %>
      <% if annotation[field] %>
      <tr>
        <td><%= field.gsub('_',' ').capitalize %></td>
        <td><%= annotation[field] %></td>
      </tr>
      <% end %>
      <% end %>
      <% transcription = annotation.transcription %>
      <% if transcription %>
      <% transcription.attributes.keys.each do |field| %>
      <% if transcription[field] %>
      <tr>
        <td><%= field.gsub('_',' ').capitalize %></td>
        <td><%= transcription[field] %></td>
      </tr>
      <% end %>
      <% end %>
      <tr>
        <td>Image</td>
        <td>
          <% if transcription.asset.thumbnail_location %>
          <%= link_to(image_tag(transcription.asset.thumbnail_location), transcription.asset.location) %>
          <% else %>
          <%= link_to("Image", transcription.asset.location) %>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% end%>
  <% unless params[:debug].blank? %>
  <table class="table--bordered ">
    <thead>
      <tr>
        <td colspan="2">
          <h1>Record</h1>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Primary names</td>
        <td>
          <% @search_record.primary_names.each do |name| %>
          first_name: <%= name.first_name %><br/>
          last_name: <%= name.last_name %><br/>
          origin: <%= name.origin %><br/>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Other family names</td>
        <td>
          <% @search_record.inclusive_names.each do |name| %>
          first_name: <%= name.first_name %><br/>
          last_name: <%= name.last_name %><br/>
          origin: <%= name.origin %><br/>
          <% end %>
        </td>
      </tr>
      <% @search_record.ordered_display_fields.each do |field| %>
      <% if @search_record[field] %>
      <tr>
        <td><%= field.gsub('_',' ').capitalize %></td>
        <td><%= @search_record[field] %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
</section>

