<section>
  <p>
    <strong>Footnote/Endnote Citation:</strong>
    <br>
    Free UK Genealogy, "<%=@census_database %>," database, FreeCEN.org.uk (https:freecen.org.uk: accessed <%= @viewed_date %>), entry for <%=@searched_user_name %><% if !@is_family_head %> in household of <%= @family_head_name%><% end %>, <%= @user_address%>; citing PRO RG 9, The National Archives, UK
    <br><br>
    <strong>Subsequent Citation:</strong>
    <br>
    Free UK Genealogy, "<%=@census_database %>," database entry for, <%=@searched_user_name %> in census
    <br><br>
    <strong>Bibliography:</strong>
    <br>
    Free UK Genealogy, "<%=@census_database %>," Database. FreeCEN  https:freecen.org.uk: <%= @viewed_year%>
  </p>
</section>
