<section>
<h4>Citation(Wikipedia):</h4>
  <p class = "citation_container">
    {{Cite web|url=<%=search_record_link(@search_record[:_id])%>|title=<%= appname%> -<%= @census_database %>|accessdate=<%= @viewed_date %>|work=<%= appname%>|publisher=Free UK Genealogy}}
  </p>
</section>