<section  >
  
<p class="text--center">
<%= link_to "New Search", new_search_query_path, :class => "btn  btn--small" %>  <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  btn--small" %> <%= link_to "Back to Results", search_query_path(params[:search_id], :page_number => @page_number, :anchor => "#{@search_record.id}"), :class => "btn  btn--small"%>

<%= link_to "Previous Result", search_record_path(@previous_record, :search_id => @search_query, :page_number => @page_number), :class => "btn  btn--small" unless @previous_record.nil? || !@dwelling.nil?%>
<%= link_to "Next Result", search_record_path(@next_record, :search_id => @search_query, :page_number => @page_number), :class => "btn  btn--small" unless @next_record.nil? || !@dwelling.nil?%>

<%= link_to "Previous Dwelling", search_record_path(@search_record, :search_id => @search_query, :page_number => @page_number, :dwel => @cen_prev_dwelling), :class => "btn  btn--small" unless @cen_prev_dwelling.nil?%>
<%= link_to "Next Dwelling", search_record_path(@search_record, :search_id => @search_query, :page_number => @page_number, :dwel => @cen_next_dwelling), :class => "btn  btn--small" unless @cen_next_dwelling.nil?%>

<% if @dwelling_offset && 0 != @dwelling_offset %>
  <%= link_to "Printable Format", show_print_version_search_record_path(@search_record, :search_id => @search_query, :page_number => @page_number, :dwel => @dwelling.id), :class => "btn  btn--small"%>
<% else %>
  <%= link_to "Printable Format", show_print_version_search_record_path(@search_record, :search_id => @search_query), :class => "btn  btn--small"%>
<% end %>
</p>
</section>

<%= render app_specific_partial("search_records") %>

