<% title "Record Details #{@search_record[:freereg1_csv_entry_id]}" %>
<section>
  <p class="text--center">
    <% if @search_query %>
      <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn weight--light  btn--small" %>
    <% end %>
    <%= link_to "New Search", new_search_query_path, :class => "btn weight--light  btn--small" %>
    <% if @search_query %>
      <%= link_to "Back to Results", search_query_path(params[:search_id], :anchor => "#{@search_record[:_id]}"), :class => "btn  weight--light btn--small"%>
      <%= link_to "Previous Result", search_record_path(@previous_record, :search_id => @search_query), :class => "btn  weight--light btn--small" unless @previous_record.nil?%>
      <%= link_to "Next Result", search_record_path(@next_record, :search_id => @search_query), :class => "btn  weight--light btn--small" unless @next_record.nil?%>
    <% end %>
    <%= link_to "Printable Format", show_print_version_search_record_path(@search_record[:_id], :search_id => @search_query), :class => "btn  weight--light btn--small"%>
    <%= link_to "Export as CSV", show_print_version_search_record_path(  @search_record[:_id],format: :csv, :search_id => @search_query),  :class => "btn  weight--light btn--small"%>
    <%= link_to "Export as JSON", show_print_version_search_record_path(  @search_record[:_id],format: :json, :search_id => @search_query),  :class => "btn  weight--light btn--small"%>
  </p>
</section>
<section id="search-detail" >
  <% if @entry %>
    <% if @entry && @annotations && @annotations.length %>
      <h2>Offline Transcriptions</h2>
    <% end %>
    <table class="table--bordered table--data push--bottom t100" >
     
      <caption class="beta"> <%= record_type(@entry) %> entry
        <%if @display_date%>
          <span class="additional"> search made on <%=Time.now.strftime("%d %b %Y") %></span><br>
        <% else%>
           <span class="additional"><%= link_to "Report an Error in Transcription", report_error_contact_path(@search_record[:_id], :query => @search_query), class: "btn weight--light btn--natural"%></span>
        <% end%> 
      </caption>
       <thead>
        <tr>
           <% if @all_data.present? %><th >Field </th><% else%><th >Field <br>(only fields with a value are shown)</th> <% end%>
          <th >Value </th>
        </tr>
      </thead>
      <tbody>
        <% @order.each do |field| %>
          <% if @all_data.present? || @entry[field].present? %> 
            <% case field %>    
            <% when 'place' %>
              <tr>
                <td ><%= field.gsub('_',' ').capitalize %> (with link)</td>
                <% if @place_id.present? %>
                  <td ><%= link_to(@entry[field], place_freereg_content_path(@place_id)) %></td>
                <% else %>
                  <td ><%= @entry[field] %></td>
                <% end %>  
              </tr>
            <% when 'church_name' %>
              <tr>
                <td><%= field.gsub('_',' ').capitalize %>  (with link)</td>
                <% if @church_id.present? %>
                  <td><%= link_to(@entry[field], church_freereg_content_path(@church_id)) %></td>
                <% else %>
                  <td><%= @entry[field] %></td>
                <% end %>  
              </tr>  
            <% when 'register_type' %>
              <tr>
                <td><%= field.gsub('_',' ').capitalize%>  (with link)</td>
                <% if @register_id.present? %>
                  <td><%= link_to(@entry[field], register_freereg_content_path(@register_id)) %></td>
                <% else %>
                  <td><%= @entry[field] %></td>
                <% end %>  
              </tr>  
            <% when 'witness' %>
              <% @entry.multiple_witnesses.each do |witness| %>
                <tr>
                  <td>Witness </td>
                  <td><%= witness.witness_forename %> <%= witness.witness_surname %></td>
                </tr>
              <% end%>
            <%else%>
              <tr>
                <td ><%= field.gsub('_',' ').capitalize %></td>
                <td ><%= @entry[field] %></td>
              </tr>
             <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="read-length push--bottom" style="margin-left: auto; margin-right: auto;">
    <% unless defined?(@printable_format) && @printable_format %>
      <center><a href="https://www.freeukgenealogy.org.uk/help-us-keep-history-free/" class="freeREG" id="donate"><%= DonateIconHelper::DONATE_ICON.html_safe %></a></center>
      <p class="push-half--bottom">While most other genealogy sites charge you to find and read records, <b style= "color: #009f98">FreeReg</b> is dedicated to keeping our searches free. A small donation towards our costs would really help us keep it that way. </p>
    <% end %>
  </div>

  <% if @annotations && @annotations.length > 0 %>
    <table class="table--bordered table--data">
      <thead>
        <tr>
          <td colspan="2">
            <h2>Online Transcriptions</h2>
          </td>
        </tr>
      </thead>
      <tbody>
      <% @annotations.each do |annotation| %>
        <% annotation.attributes.keys.each do |field| %>
          <% if annotation[field] %>
            <tr>
              <td><%= field.gsub('_',' ').capitalize %></td>
              <td><%= annotation[field] %></td>
            </tr>
          <% end %>
        <% end %>
        <% transcription = annotation.transcription %>
        <% if transcription %>
          <% transcription.attributes.keys.each do |field| %>
            <% if transcription[field] %>
              <tr>
                <td><%= field.gsub('_',' ').capitalize %></td>
                <td><%= transcription[field] %></td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <td>Image</td>
            <td>
              <% if transcription.asset.thumbnail_location %>
                <%= link_to(image_tag(transcription.asset.thumbnail_location), transcription.asset.location) %>
              <% else %>
                <%= link_to("Image", transcription.asset.location) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end%>
  <% unless params[:debug].blank? %>
    <table class="table--bordered table--data">
      <thead>
        <tr>
          <td colspan="2">
            <h1>Record</h1>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Primary names</td>
          <td>
            <% @search_record.primary_names.each do |name| %>
              first_name: <%= name.first_name %><br/>
              last_name: <%= name.last_name %><br/>
              origin: <%= name.origin %><br/>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Other family names</td>
          <td>
            <% @search_record.inclusive_names.each do |name| %>
              first_name: <%= name.first_name %><br/>
              last_name: <%= name.last_name %><br/>
              origin: <%= name.origin %><br/>
            <% end %>
          </td>
        </tr>
        <% @search_record.ordered_display_fields.each do |field| %>
          <% if @search_record[field] %>
            <tr>
              <td><%= field.gsub('_',' ').capitalize %></td>
              <td><%= @search_record[field] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>