<h1>Record</h1>

<table>
    <tbody>
	<% @search_record.attributes.keys.each do |field| %>
	    <% if @search_record[field] %>
		<tr>
		    <td><%= field %></td>
		    <td><%= @search_record[field] %></td>
		</tr>
	    <% end %>
	<% end %>
    </tbody>
</table>


<h1>Transcriptions</h1>

<% if @search_record.freereg1_csv_entry %>
    <h2>Offline Transcriptions</h2>
    <h3>Entry</h3>

    <table>
	<tbody>
	    <% @search_record.freereg1_csv_entry.attributes.keys.each do |field| %>
		<% if @search_record.freereg1_csv_entry[field] %>
		    <tr>
			<td><%= field %></td>
			<td><%= @search_record.freereg1_csv_entry[field] %></td>
		    </tr>
		<% end %>
	    <% end %>
	</tbody>
    </table>

    <h3>File</h3>

    <table>
	<tbody>
	    <% file = @search_record.freereg1_csv_entry.freereg1_csv_file %>
	    <% if file %>
		<% file.attributes.keys.each do |field| %>
		    <% if file[field] %>
			<tr>
			    <td><%= field %></td>
			    <td><%= file[field] %></td>
			</tr>
		    <% end %>
		<% end %>
	    <% end %>
	</tbody>
    </table>
<% end%>


<% if @annotations && @annotations.length > 0 %>
    <h4>Online Transcriptions</h4>

    <ul>
	<% @annotations.each do |annotation| %>
	    <% annotation.attributes.keys.each do |field| %>
		<% if annotation[field] %>
		    <li>
		    <%= field %>: <b><%= annotation[field] %></b>				
		    </li>
		<% end %>
	    <% end %>
	    <% transcription = annotation.transcription %>
	    <% if transcription %>
		<% transcription.attributes.keys.each do |field| %>
		    <% if transcription[field] %>
			<li>
			<%= field %>: <b><%= transcription[field] %></b>				
			</li>
		    <% end %>
		<% end %>
		<li>
		<%= link_to("Image", transcription.asset.location) %>
		</li>
	    <% end %>
	<% end %>
    </ul>
<% end%>

<% debug(@search_record) %>
