<% title "Record Details #{@search_record.freereg1_csv_entry.id}" %>
<section>
  <p class="text--center"><%= link_to "New Search", new_search_query_path, :class => "btn weight--light  btn--small" %>  <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn weight--light  btn--small" %> <%= link_to "Back to Results", search_query_path(params[:search_id], :page_number => @page_number, :anchor => "#{@search_record.id}"), :class => "btn  weight--light btn--small"%> <%= link_to "Previous Result", search_record_path(@previous_record, :search_id => @search_query, :page_number => @page_number), :class => "btn  weight--light btn--small" unless @previous_record.nil?%> <%= link_to "Next Result", search_record_path(@next_record, :search_id => @search_query, :page_number => @page_number), :class => "btn  weight--light btn--small" unless @next_record.nil?%> <%= link_to "Printable Format", show_print_version_search_record_path(@search_record, :search_id => @search_query), :class => "btn  weight--light btn--small"%> </p>
</section>
<section id="search-detail">
  <% if @entry %>
    <% if @entry && @annotations && @annotations.length %>
      <h2>Offline Transcriptions</h2>
    <% end %>
    <table class="table--bordered table--data push--bottom">
      <caption class="beta">FreeReg <%= record_type(@entry) %> entry
        <%if @display_date%>
          <span class="additional"> search made on <%=Time.now.strftime("%d %b %Y") %></span><br>
        <% else%>
          <span class="additional"> <%= link_to "Link for reporting error in transcription", report_error_contact_path(@search_record, :query => @search_query) %> </span> 
        <% end%> 
      </caption>
      <colgroup>
        <col class="t40">
        <col class="t60">
      </colgroup>
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% @entry.ordered_display_fields.each do |field| %>
          <% if @entry[field] %>     
            <% if field == 'place' %>
            <tr>
            <td><%= field.gsub('_',' ').capitalize %> (link for place information)</td>
            <td><%= link_to(@entry[field], place_freereg_content_path(@search_record.place)) %></td>
            </tr>
            <%else%>
            <tr>
              <td><%= field.gsub('_',' ').capitalize %></td>
              <td><%= @entry[field] %></td>
            </tr>
             <% end %>
          <% end %>
        <% end %>
        <% @entry.multiple_witnesses.each do |witness| %>
          <tr>
            <td>Witness </td>
            <td><%= witness.witness_forename %> <%= witness.witness_surname %></td>
          </tr>
        <% end%>

        <tr>
          <td>Register note </td>
          <td><%= @entry.notes %></td>
        </tr>

        <tr>
          <td>Transcriber notes </td>
          <td><%= @entry.notes_from_transcriber%></td>
        </tr>


        <% if current_authentication_devise_user.present? %>
          <tr>
            <td>Line ID</td>
            <td><%= @entry.line_id %></td>
          </tr>
        <% end%>
      </tbody>
    </table>   
  <% end %>

  <% if @annotations && @annotations.length > 0 %>
    <table class="table--bordered table--data">
      <thead>
        <tr>
          <td colspan="2">
            <h2>Online Transcriptions</h2>
          </td>
        </tr>
      </thead>
      <tbody>
      <% @annotations.each do |annotation| %>
        <% annotation.attributes.keys.each do |field| %>
          <% if annotation[field] %>
            <tr>
              <td><%= field.gsub('_',' ').capitalize %></td>
              <td><%= annotation[field] %></td>
            </tr>
          <% end %>
        <% end %>
        <% transcription = annotation.transcription %>
        <% if transcription %>
          <% transcription.attributes.keys.each do |field| %>
            <% if transcription[field] %>
              <tr>
                <td><%= field.gsub('_',' ').capitalize %></td>
                <td><%= transcription[field] %></td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <td>Image</td>
            <td>
              <% if transcription.asset.thumbnail_location %>
                <%= link_to(image_tag(transcription.asset.thumbnail_location), transcription.asset.location) %>
              <% else %>
                <%= link_to("Image", transcription.asset.location) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end%>
  <% unless params[:debug].blank? %>
    <table class="table--bordered table--data">
      <thead>
        <tr>
          <td colspan="2">
            <h1>Record</h1>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Primary names</td>
          <td>
            <% @search_record.primary_names.each do |name| %>
              first_name: <%= name.first_name %><br/>
              last_name: <%= name.last_name %><br/>
              origin: <%= name.origin %><br/>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Other family names</td>
          <td>
            <% @search_record.inclusive_names.each do |name| %>
              first_name: <%= name.first_name %><br/>
              last_name: <%= name.last_name %><br/>
              origin: <%= name.origin %><br/>
            <% end %>
          </td>
        </tr>
        <% @search_record.ordered_display_fields.each do |field| %>
          <% if @search_record[field] %>
            <tr>
              <td><%= field.gsub('_',' ').capitalize %></td>
              <td><%= @search_record[field] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
