<% title "Record Details #{@search_record.freereg1_csv_entry.id}" %>
<section  >
  
  <p class="text--center"><%= link_to "New Search", new_search_query_path, :class => "btn  btn--small" %>  <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  btn--small" %> <%= link_to "Back to Results", search_query_path(params[:search_id], :page_number => @page_number, :anchor => "#{@search_record.id}"), :class => "btn  btn--small" unless @previous_record.nil?%> <%= link_to "Previous Result", search_record_path(@previous_record, :search_id => @search_query, :page_number => @page_number), :class => "btn  btn--small" %> <%= link_to "Next Result", search_record_path(@next_record, :search_id => @search_query, :page_number => @page_number), :class => "btn  btn--small" unless @next_record.nil?%> <%= link_to "Printable Format", show_print_version_search_record_path(@search_record, :search_id => @search_query), :class => "btn  btn--small"%> </p>
</section>
<section>
  <% if @search_record.freereg1_csv_entry %>
  <table class="table--bordered table--data">
    <colgroup >
    <col class=t40>
    <col class=t60>
    
    </colgroup>
    <thead >
      <tr>
        <td colspan="2">
          <% if @entry && @annotations && @annotations.length %>
          <h2>Offline Transcriptions</h2>
          <% end %>
          <h3>FreeReg <%= record_type(@entry)   %> entry on <%=Time.now.strftime("%d %b %Y")%></h3>
          <h4> For information about this place follow the link to <%= link_to(@search_record.place.place_name, show_place_freereg_content_path(@search_record.place)) %></h4>
          <h5> If you believe there to be an error in this transcription then please <%= link_to "report", report_error_contact_path(@search_record, :query => @search_query) %> it to our data manager.</h5>
        </td>
      </tr>
      <tr>
        <th >Field</th>
        <th class="caps">Value</th>
      </tr>
    </thead>
    <tbody>
      <% @entry.ordered_display_fields.each do |field| %>
      <% if @entry[field] %>
      <% unless (field == 'line_id' && !current_refinery_user) %>
      <tr>
        <td class="weight--normal"><%= field.gsub('_',' ').capitalize %></td>
        <td class="weight--semibold"><%= @entry[field] %></td>
      </tr>
      <% end %>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <% if @annotations && @annotations.length > 0 %>
  <table class="table--bordered table--data">
    <thead>
      <tr>
        <td colspan="2">
          <h2>Online Transcriptions</h2>
        </td>
      </tr>
    </thead>
    <tbody>
      <% @annotations.each do |annotation| %>
      <% annotation.attributes.keys.each do |field| %>
      <% if annotation[field] %>
      <tr>
        <td><%= field.gsub('_',' ').capitalize %></td>
        <td><%= annotation[field] %></td>
      </tr>
      <% end %>
      <% end %>
      <% transcription = annotation.transcription %>
      <% if transcription %>
      <% transcription.attributes.keys.each do |field| %>
      <% if transcription[field] %>
      <tr>
        <td><%= field.gsub('_',' ').capitalize %></td>
        <td><%= transcription[field] %></td>
      </tr>
      <% end %>
      <% end %>
      <tr>
        <td>Image</td>
        <td>
          <% if transcription.asset.thumbnail_location %>
          <%= link_to(image_tag(transcription.asset.thumbnail_location), transcription.asset.location) %>
          <% else %>
          <%= link_to("Image", transcription.asset.location) %>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% end%>
  <% unless params[:debug].blank? %>
  <table class="table--bordered table--data">
    <thead>
      <tr>
        <td colspan="2">
          <h1>Record</h1>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Primary names</td>
        <td>
          <% @search_record.primary_names.each do |name| %>
          first_name: <%= name.first_name %><br/>
          last_name: <%= name.last_name %><br/>
          origin: <%= name.origin %><br/>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Other family names</td>
        <td>
          <% @search_record.inclusive_names.each do |name| %>
          first_name: <%= name.first_name %><br/>
          last_name: <%= name.last_name %><br/>
          origin: <%= name.origin %><br/>
          <% end %>
        </td>
      </tr>
      <% @search_record.ordered_display_fields.each do |field| %>
      <% if @search_record[field] %>
      <tr>
        <td><%= field.gsub('_',' ').capitalize %></td>
        <td><%= @search_record[field] %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
</section>