<h1>Record</h1>

<table>
    <tbody>
	<% @search_record.attributes.keys.each do |field| %>
	    <% if @search_record[field] %>
		<tr>
		    <td><%= field %></td>
		    <td><%= @search_record[field] %></td>
		</tr>
	    <% end %>
	<% end %>
    </tbody>
</table>


<h1>Transcriptions</h1>

<% if @search_record.freereg1_csv_entry %>
    <h2>Offline Transcriptions</h2>
    <h3>Entry</h3>

    <table>
	<tbody>
	    <% @search_record.freereg1_csv_entry.attributes.keys.each do |field| %>
		<% if @search_record.freereg1_csv_entry[field] %>
		    <tr>
			<td><%= field %></td>
			<td><%= @search_record.freereg1_csv_entry[field] %></td>
		    </tr>
		<% end %>
	    <% end %>
	</tbody>
    </table>

    <h3>File</h3>

    <table>
	<tbody>
	    <% file = @search_record.freereg1_csv_entry.freereg1_csv_file %>
	    <% if file %>
		<% file.attributes.keys.each do |field| %>
		    <% if file[field] %>
			<tr>
			    <td><%= field %></td>
			    <td><%= file[field] %></td>
			</tr>
		    <% end %>
		<% end %>
	    <% end %>
	</tbody>
    </table>
<% end%>


<% if @annotations && @annotations.length > 0 %>
    <h2>Online Transcriptions</h2>

    <table>
	<tbody>
	    <% @annotations.each do |annotation| %>
		<% annotation.attributes.keys.each do |field| %>
		    <% if annotation[field] %>
			<tr>
			    <td><%= field %></td>
			    <td><%= annotation[field] %></td>				
			</tr>
		    <% end %>
		<% end %>
		<% transcription = annotation.transcription %>
		<% if transcription %>
		    <% transcription.attributes.keys.each do |field| %>
				<% if transcription[field] %>
				    <tr>
					<td><%= field %></td>
					<td><%= transcription[field] %></td>				
				    </tr>
				<% end %>
		    <% end %>
		    <tr>
				<td>Image</td>
				<td>
					<% if transcription.asset.thumbnail_location %>
					    <%= link_to(image_tag(transcription.asset.thumbnail_location), transcription.asset.location) %>
					<% else %>			
					    <%= link_to("Image", transcription.asset.location) %>
					<% end %>
				</td>				
		    </tr>
		<% end %>
	    <% end %>
	</tbody>
    </table>
<% end%>

<% debug(@search_record) %>
