<div class='grid'>
  <section class='island '>
    <div class='' id='results_detail_table'>
      <table class='table--bordered table--data push--bottom t90' >
        <caption class='beta'><%= record_type(@entry) %> entry
          <%case%>
          <%when @display_date%>
          <span class='additional'> search made on <%=Time.now.strftime('%d %b %Y') %></span><br>
          <%when !current_authentication_devise_user.present?%>
          <span  class='additional'>While we have made all efforts to correctly record the information in the original document there may be different interpretations of the written words. <b>If you have access to the original document</b> and believe we have made a mistake you are encouraged to report this to us.
            <%= link_to 'Report an Error in this Data', report_error_contact_path(@search_record[:_id], :query => @search_query), class: 'btn btn--natural' unless  @search_record.blank? || @search_query.blank? %></span>
        <% end%>
      </caption>
      <thead>
        <tr>
          <% if @all_data.present? %>
            <th >Field </th>
          <% else%>
            <th >Field <br>
              (only fields with a value are shown)</th>
          <% end%>
          <th >Value </th>
        </tr>
      </thead>
      <tbody>
        <% @order.each do |field| %>
          <% look_up_entry_chain(@entry) %>
          <% case field %>
          <% when 'county' %>
          <tr>
            <td ><%= field.gsub('_',' ').capitalize %></td>
            <td ><%= county_name_for_entry %></td>
          </tr>
          <% when 'place' %>
          <tr>
            <td ><%= field.gsub('_',' ').capitalize %>
              <small> (Links to more information)</small></td>
            <% if @place_id.present? %>
              <td ><%= link_to(place_name_for_entry, place_freereg_content_path(@place_id)) %></td>
            <% else %>
              <td ><%= place_name_for_entry %></td>
            <% end %>
          </tr>
          <% when 'church_name' %>
          <tr>
            <td ><%= field.gsub('_',' ').capitalize %>
              <small> (Links to more information)</small></td>
            <% if @church_id.present? %>
              <td ><%= link_to(church_name_for_entry, church_freereg_content_path(@church_id)) %></td>
            <% else %>
              <td ><%= church_name_for_entry %></td>
            <% end %>
          </tr>
          <% when 'register_type' %>
          <tr>
            <td ><%= field.gsub('_',' ').capitalize%>
              <small> (Links to more information)</small></td>
            <% if @register_id.present? %>
              <td ><%= link_to(register_name_for_entry, register_freereg_content_path(@register_id)) %></td>
            <% else %>
              <td ><%= register_name_for_entry %></td>
            <% end %>
          </tr>
          <% when 'image_file_name' %>
          <% if !@image_id.present?  %>
            <tr>
              <td ><%= field.gsub('_',' ').capitalize %></td>
              <td ><%= @entry[field] %></td>
            </tr>
          <% else %>
            <tr>
              <td ><%= field.gsub('_',' ').capitalize %></td>
              <td >  <%= link_to 'View image', view_image_server_image_path(:object => @image_id), method: :get,:target => '_blank' , :class => 'btn btn--small' %></td>
            </tr>
          <% end %>
          <% when 'film' %>
          <% if @entry[field].present? && (current_authentication_devise_user.present? || @all_data.present?) %>
            <tr>
              <td >Film</td>
              <td ><%= @entry.film %></td>
            </tr>
          <% end%>
          <% when 'film_number' %>
          <% if @entry[field].present? && (current_authentication_devise_user.present? || @all_data.present?) %>
            <tr>
              <td >Film Number</td>
              <td ><%= @entry.film_number %></td>
            </tr>
          <% end%>
          <% when 'processed_date' %>
          <% if @entry[field].present? && (current_authentication_devise_user.present? || @all_data.present?) %>
            <tr>
              <td ><%= field.gsub('_',' ').capitalize %></td>
              <td ><%= @entry.processed_date.strftime('%d %b %Y') %></td>
            </tr>
          <% end%>
          <% when 'line_id' %>
          <% if @entry[field].present? && (current_authentication_devise_user.present? || @all_data.present?) %>
            <tr>
              <td ><%= field.gsub('_',' ').capitalize %></td>
              <td ><%= @entry.line_id %></td>
            </tr>
          <% end%>
          <% when 'credit' %>
          <%  creditable = credit(@entry) %>
          <% if creditable.present? %>
            <tr>
              <td ><%= field.gsub('_',' ').capitalize %></td>
              <td ><%= creditable %></td>
            </tr>
          <% end %>
          <% when 'transcribed_by' %>
          <%  creditable = transcriber_entry(@entry) %>
          <% if creditable.present? %>
            <tr>
              <td ><%= field.gsub('_',' ').capitalize %></td>
              <td ><%= creditable %></td>
            </tr>
          <% end %>
          <% when 'error_flag'  %>
          <% if @entry[field].present? && (current_authentication_devise_user.present? || @all_data.present?) %>
            <% if @entry.error_flag == 'true' %>
              <tr style= 'color:blue'>
              <% else%>
                <tr style= 'color:black'>
                <% end%>
                <td >Error in record</td>
                <td >  <%= @entry.error_flag %> </td>
              </tr>
              <tr style= 'color:black'>
              </tr>
            <% end%>
          <% else%>
            <% if @all_data.present? || @entry[field].present? %>
              <tr>
                <td ><%= field.gsub('_',' ').capitalize %></td>
                <td ><%= @entry[field] %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% if  current_authentication_devise_user.present? && @embargoed %>
          <% @entry.embargo_records.order_by(updated_at: -1).each do |record| %>
            <tr>
              <td> History of embargo changes</td>
              <td> <%= record.embargoed %> <%= record.release_year %> <%= record.who %> <%= record.when.strftime("%e %b %Y") %>  <%= record.why %> </td>
            </tr>
          <% end%>
        <% end%>
        <% if  !current_authentication_devise_user.present?%>
          <td  colspan=2><%= link_to 'Report an Error in this Data', report_error_contact_path(@search_record[:_id], :query => @search_query), class: 'btn btn--natural' unless  @search_record.blank? || @search_query.blank? %></td>
        <% end %>
      </tbody>
    </table>
  </div>
  <% unless device_type == :mobile%>
    <div class="grid__item  two-fifths  palm-one-whole text--center float--right">
      <span> Advertisement</span><br>
      <iframe src='https://www.myheritage.com/FP/partner-widget.php?partnerName=freereg&clientId=4672&campaignId=freereg_recordwidget_may22&widget=records_carousel&width=160&height=600&onSitePlacement=160x600+Records+Carousel+freereg&tr_ifid=freereg_8035265&firstName=<%= @record_name[0] %>&lastName=<%= @record_name[1] %>&tr_device=&size=160x600' height="650" width="170" class=""></iframe>
    </div>
  <% end %>
  <!--div  id='results_table_ad' class='float--right text--center reg_units reg_side_adverts'>
    <span class=''>Advertisement</span><br>
    <%#= my_heritage_300_250_second %>
    <iframe src='https://www.myheritage.com/FP/partner-widget.php?partnerName=freereg&clientId=4672&campaignId=freereg_recordwidget_may22&widget=records_carousel&width=160&height=600&onSitePlacement=160x600+Records+Carousel+freereg&tr_ifid=freereg_8035265&firstName=<%= @search_query.first_name %>&lastName=<%= @search_query.last_name %>&tr_device=&size=160x600' height="650" width="170" class=""></iframe-->
  </div>
</section>
</div>
<script type="text/javascript">
  var result = window.canRunAds;
  function changeClass(screen_width) {
    if (screen_width.matches) {
      $("#results_detail_table").removeClass("grid__item  three-fifths  palm-one-whole").addClass('');
    } else {
      if(result === true) {
        $("#results_detail_table").addClass("grid__item  three-fifths  palm-one-whole");
        $('.advert_div').show();
      } else {
        $('.advert_div').hide();
        $("#results_detail_table").addClass("");
      }
    }
  };
  var screen_width = window.matchMedia("(max-width: 800px)")
  changeClass(screen_width)
  screen_width.addListener(changeClass);
</script>
<style type="text/css">
  @media only screen and (max-width: 800px) {
  .advert_div {
    display: none !important;
  }
  }
</style>