<h3 style="text-align: center"><b><%= active(session[:active_place])%> Places for <%= @county  %></b>.</h3>
<%  if @user.present? && ['system_administrator', 'data_manager'].include?(session[:role]) %>
  <div style="text-align: center">  <%= link_to 'Create New Place', new_place_path, method: :get , :class => "btn  btn--small"%> </div>
<% end%>
<div style="clear:both;"> </div>
<br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>
<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead >
      <tr>
        <th class="t15">Place <a href="#" class="right_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
            <span> The names and their locations are defined by the Association of British Counties (http://www.gazetteer.org.uk/).</span></a></th>
        <th  class="t25">Churches <a href="#" class="right_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
            <span>There can be multiple churches or organizations for which records have been transcribed in a specific place.</span></a></th>
        <th class="t15">Registers <a href="#" class="right_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
            <span>A church can have multiple registers. A register can be: Parish Register; Archdeacon's Transcripts; Bishop's Transcripts; Phillimore's Transcripts (Made from a parish register); Extract of the Parish Registers (Incomplete set of records); Dwelly's Transcript (Made from a parish register); Other Register (Original document); Transcript (Another persons transcription); Unknown; or Unspecified.</span></a></th>
        <th class="t15">Last changed <a href="#" class="left_tooltip"><%= image_tag 'png/info.png', alt: 'Information', height: '16' %>
            <span>The most recent date when at least one record in the register was amended, added or deleted.</span></a></th>
      </tr>
    </thead>
  </table>
  <div class="scrollable ">
    <table class=" table--bordered my-width table--data just--left">
      <tbody >
        <% old_place_name = nil %>
        <% @places.each do |place| %>
          <% old_church_name = nil %>
          <% if !place.churches.exists? %>
            <%church_name = nil%>
            <%register_type = nil %>
            <tr style= "color:black" id="<%=place.id%>">
              <% if place.place_name != old_place_name %>
                <td class="t15"><%= link_to(place.place_name, place_path(place) )%> </td>
                <% old_place_name = place.place_name %>
              <% else %>
                <td class="t15">  </td>
              <% end%>
              <td class="t25">  </td>
              <td class="t15"> </td>
              <td class="t15">  </td>
            </tr>
          <% else%>
            <% place.churches.order_by(church_name: 1).each do |church| %>
              <% if !church.registers.exists? %>
                <% session[:placeid] = place.id%>
                <tr style= "color:black" id="<%=place.id%>">
                  <% if place.place_name != old_place_name %>
                    <td class="t15"><%= link_to(place.place_name, place_path(place) )%> </td>
                    <% old_place_name = place.place_name %>
                  <% else %>
                    <td class="t15">  </td>
                  <% end%>
                  <% if church.church_name != old_church_name %>
                    <td class="t25"> <%= link_to(church.church_name, church_path(church) ) %> </td>
                    <% old_church_name = church.church_name %>
                  <% else %>
                    <td class="t25">  </td>
                  <% end%>
                  <td class="t15"> </td>
                  <td class="t15">  </td>
                </tr>
              <% else %>
                <% church.registers.order_by(register_type: 1).each do |register| %>
                  <% session[:placeid] = place.id%>
                  <tr style= "color:black" id="<%=place.id%>">
                    <% if place.place_name != old_place_name %>
                      <td class="t15"><%= link_to(place.place_name, place_path(place) )%> </td>
                      <% old_place_name = place.place_name %>
                    <% else %>
                      <td class="t15">  </td>
                    <% end%>
                    <% if church.church_name != old_church_name %>
                      <td class="t25"> <%= link_to(church.church_name, church_path(church) ) %> </td>
                      <% old_church_name = church.church_name %>
                    <% else %>
                      <td class="t25">  </td>
                    <% end%>
                    <td class="t15"> <% registertype = RegisterType.display_name(register.register_type)%>
                      <%= link_to(registertype, register_path(register)) %></td>
                    <td class="t15"> <%= register.last_amended %> </td>
                    <% clear(register) %>
                  </tr>
                <% end%>
              <% end%>
            <% end%>
          <% end %>
        <% end%>
      </tbody>
    </table>
  </div>
</div>