<section>
  <% if @csv.blank? %>
    <%= render '/freecen_csv_entries/error' %>
    <%= render '/freecen_csv_entries/csv_census_header' %>
    <%= render '/freecen_csv_entries/csv_address' %>
    <%= render '/freecen_csv_entries/csv_individual_part_1' %>
    <% if FreecenCsvEntry.part2_individual_display_labels(@year,@chapman_code).present? %>
      <%= render '/freecen_csv_entries/csv_individual_part_2' %>
    <% end%>
    <%= render '/freecen_csv_entries/flag_display' %>
  <% else%>
    <% if @show_navigation %>
      <%= render '/freecen_csv_entries/csv_census_header' %>
      <%= render '/freecen_csv_entries/csv_address' %>
    <% else%>
      <%= render '/freecen_csv_entries/csv_census_header_print' %>
      <%= render '/freecen_csv_entries/csv_address_print' %>
    <% end%>
    <%= render '/freecen_csv_entries/csv_individual' %>
  <% end%>
</section>