<h4 style="text-align: center">Individual Index</h4>
<div style="overflow: hidden;">
  <div class="scrollable ">
    <table class="table--bordered my-width table--data just--left">
      <thead  >
        <tr >
          <th class='sticky-header'>Entry Number</th>
          <th class='sticky-header'>Sequence in household</th>
          <th class='sticky-header'>Surname</th>
          <th class='sticky-header'>Forenames</th>
          <th class='sticky-header'>Name Flag</th>
          <th class='sticky-header'>Relationship</th>
          <th class='sticky-header'>Occupation Flag</th>
          <th class='sticky-header'>Birth Place Flag</th>
          <th class='sticky-header'>Action</th>
        </tr>
      </thead>
      <tbody >
        <% @freecen_csv_entries.each do |freecen_csv_entry| %>
          <% if freecen_csv_entry.error_messages.present? %>
            <tr id="<%= freecen_csv_entry.id %>" style= "color:red">
            <%else%>
              <tr id="<%= freecen_csv_entry.id %>" style= "color:teal">
              <% end%>
              <td><%= freecen_csv_entry.record_number%></td>
              <td><%= freecen_csv_entry.sequence_in_household %></td>
              <td><%= freecen_csv_entry.surname %></td>
              <td><%= freecen_csv_entry.forenames %></td>
              <td><%= freecen_csv_entry.name_flag %></td>
              <td><%= freecen_csv_entry.relationship %></td>
              <td><%= freecen_csv_entry.occupation_flag %></td>
              <td><%= freecen_csv_entry.birth_place_flag %></td>
              <td><%= link_to 'Display', freecen_csv_entry_path(freecen_csv_entry,type: @type), class: 'btn   btn--small' %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>