<% if @reason.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@reason.errors.count, "error") %> prohibited this reason from being saved:</h2>
    <ul>
      <% @reason.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<div>
  <%= simple_form_for @reason do |f| %>
    <%= f.input :reason, :input_html => {:class => " simple_form_bgcolour ",  :size => 30 }  %>
    <%= f.button :submit , 'Submit', :button_html => {:class => "btn   btn--small" } %>
  <% end %>
</div>