<% title "Member Login" %>
<div id="flash_container">
  <%= render 'refinery/message' %>
</div>
<%= form_for resource, :as => resource_name,
                       :url => refinery.authentication_devise_user_session_path do |f| %>
                       <p>You do not need to be a Member to use the Search Facilities. The Member login is for transcribers, cooordinators and managers. <br> The Username is not case sensitive. If you have forgotten your Username you can use your email address instead. If you have forgotten both then contact your coordinator.<br>
  The Password is case sensitive. If you have forgotten your password use the following link to receive an email to reset your password.<br>
      <%= link_to t('.forgot_password'), refinery.new_authentication_devise_user_password_path  %>.
   Alternatively your coordinator can send you the email for a reset. <br>Selecting "Remember Me" will have the system fill the Username field the next time you come to this page.</p>
  <div class='field session_username clearfix'>
    <%= f.label :login %>
    <%= f.text_field :login, :class => 'larger widest' %>
  </div>
  <div class='field session_password clearfix'>
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete => 'off', :class => 'larger widest' %>
  </div>
  <div class='clearfix'>
    <% if devise_mapping.rememberable? %>
      <div class='field remember_me'>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    
  <%= render '/refinery/admin/form_actions', :f => f,
             :submit_button_text => t('.sign_in'),
             :hide_cancel => true %>
<% end -%>
