<p id="notice"><%= notice %></p>

<p>
  <b>Sequence in household:</b>
  <%= @freecen_individual.sequence_in_household %>
</p>

<p>
  <b>Individual flag:</b>
  <%= @freecen_individual.individual_flag %>
</p>

<p>
  <b>Surname:</b>
  <%= @freecen_individual.surname %>
</p>

<p>
  <b>Forenames:</b>
  <%= @freecen_individual.forenames %>
</p>

<p>
  <b>Name flag:</b>
  <%= @freecen_individual.name_flag %>
</p>

<p>
  <b>Relationship:</b>
  <%= @freecen_individual.relationship %>
</p>

<p>
  <b>Marital status:</b>
  <%= @freecen_individual.marital_status %>
</p>

<p>
  <b>Sex:</b>
  <%= @freecen_individual.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @freecen_individual.age %>
</p>

<p>
  <b>Age unit:</b>
  <%= @freecen_individual.age_unit %>
</p>

<p>
  <b>Detail flag:</b>
  <%= @freecen_individual.detail_flag %>
</p>

<p>
  <b>Occupation:</b>
  <%= @freecen_individual.occupation %>
</p>

<p>
  <b>Occupation flag:</b>
  <%= @freecen_individual.occupation_flag %>
</p>

<p>
  <b>Birth county:</b>
  <%= @freecen_individual.birth_county %>
</p>

<p>
  <b>Birth place:</b>
  <%= @freecen_individual.birth_place %>
</p>

<p>
  <b>Verbatim birth county:</b>
  <%= @freecen_individual.verbatim_birth_county %>
</p>

<p>
  <b>Verbatim birth place:</b>
  <%= @freecen_individual.verbatim_birth_place %>
</p>

<p>
  <b>Birth place flag:</b>
  <%= @freecen_individual.birth_place_flag %>
</p>

<p>
  <b>Disability:</b>
  <%= @freecen_individual.disability %>
</p>

<p>
  <b>Language:</b>
  <%= @freecen_individual.language %>
</p>

<p>
  <b>Notes:</b>
  <%= @freecen_individual.notes %>
</p>

<p>
  <b>Freecen1 vld entry:</b>
  <%= @freecen_individual.freecen1_vld_entry %>
</p>


<%= link_to 'Edit', edit_freecen_individual_path(@freecen_individual) %> |
<%= link_to 'Back', freecen_individuals_path %>
