<div class='container push--bottom' id="bmd_content">
  <div class="seven-tenths palm-one-whole">
    <div class="grid">
      <div class="grid__item five-sixths lap-one-half palm-one-half">
        <strong class="results-header"><%= pluralize(@search_results.count, 'Results')%></strong>
      </div>
      <div class="grid__item one-sixth lap-one-third palm-one-half no_print">
        <!--button id="tool_button" class="btn btn--small dropbtn" onclick="myFunction()" tabindex="0"><i class="fa fa-cog"></i> Tools</button-->
        <%= select_tag "Tools", options_for_select([['About this Query', about_search_query_path(@search_query, page_number: @page_number)], ['Printable format', show_print_version_search_query_path], ['Download as CSV', search_results_download_as_csv_path(@search_query, {page: @page, results_per_page: @results_per_page})]]), prompt: "Tools", onchange: 'location.href= this.value'%>
      </div>
    </div>
  </div>
  <div class="seven-tenths palm-one-whole">
      <div class="grid__item one-third lap-one-third palm-one-half float--right push--bottom">
        <div id="myDropdown" class="dropdown-content">
          <%= link_to "About this Query", about_search_query_path(@search_query, :page_number => @page_number) %>
          <%= link_to "Printable format", show_print_version_search_query_path, :onclick => 'window.print();return false;' %>
          <%#search_results_download_as_csv%>
          <%= link_to "Download as CSV", search_results_download_as_csv_path(@search_query, {page: @page, results_per_page: @results_per_page}) %>
        </div>
      </div>
  </div>
  <hr class=' seven-tenths palm-one-whole push--top'>
</div>