<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
    <!--h1 class="accessibility">Search Results</h1-->
    <% if print_friendly %>
  <style type="text/css">
    @media print {
        .accessibility { display:none; }
    }
  </style>
      <div style="border: 1px solid black; margin-bottom: 10px;">
        <p class='accessibility'>You can print these results directly, or download them to PDF using your right-click or browser menu.</p>
      </div>
    <% end %>
      <table class="table--bordered table--data">
        <% unless print_friendly %>
          <% if @search_query.bmd_record_type.count() > 1 %>
            <p class="code-comment">MMN: mother's maiden name; AAD: age at death or date of birth; SS: spouse's surname.</p>
          <% end %>
          <caption class='accessibility'>Column 1 has link to details of record; Column 2 can be sorted on First Name; Column 3 contains mother's maiden name (births), age at death or date of birth (deaths) or spouse's surname (marriages); Column 4 can be sorted by event.</caption>
        <% end %>
        <thead>
          <tr>
            <% unless print_friendly %>
              <th>Detail</th>
            <% end %>
            <th>Individual
              <%#= link_to_unless(print_friendly, 'Individual',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::FIRSTNAME)) %>
            </th>

            <th>
              <% if @search_query.bmd_record_type == ["0","1","2","3"] %> MMN/AAD/SS
              <% elsif @search_query.bmd_record_type == ["1","2"] %> MMN/AAD
              <% elsif @search_query.bmd_record_type == ["1","3"] %> MMN/SS
              <% elsif @search_query.bmd_record_type == ["2","3"] %> AAD/SS
              <% elsif @search_query.bmd_record_type == ["1"] %> Mother's maiden name
              <% elsif @search_query.bmd_record_type == ["2"] %> Age at death
              <% elsif @search_query.bmd_record_type == ["3"] %> Spouse's surname
              <% else %> <%= @search_query.bmd_record_type %>
              <% end %>
            </th>

            <th>Record Type
              <%#= link_to_unless(print_friendly, 'Record Type',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_RECORD_TYPE)) %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% search_results.each do |search_record| %>
            <% n = n +1 %>
            <% record_type = RecordType::display_name(["#{search_record[:RecordTypeID]}"])%>
            <tr id="<%=search_record[:RecordNumber]%>" class="<%= record_type.downcase %>_hover" >
              <% unless print_friendly %>
                <td>
                  <center>
                    <%= link_to("View #{n}".html_safe,friendly_bmd_record_details_path(@search_query.id,search_record.id, search_record.friendly_url, search_entry: search_record.RecordNumber), :rel => "nofollow", :title => "", class: "btn  btn--small")%>
                    <i><%= seen(@search_query,search_record) %></i>
                  </center>
                </td>
              <% end %>
              <td class="table--data">
                  <strong><%= "#{search_record[:GivenName]} #{search_record[:Surname]}" %></strong>
                  <br/>
                  <%= format_quarter_year(search_record.QuarterNumber) %>
                    <% if print_friendly %>
                      <%= search_record[:District] %>
                      <span class="ttip__text"> <%=" (Volume #{search_record[:Volume]} Page #{search_record[:Page]})"%></span>
                    <% else %>
                      <% district = District.where(DistrictNumber: search_record[:DistrictNumber]).first %>
                      <% if district.present? %>
                        <%= link_to "#{search_record[:District]}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber, search_id: @search_query.id) %>
                     <% else %>
                       <%= search_record[:District] %>
                     <% end %>
                      Volume <%= search_record[:Volume] %> Page <%= search_record[:Page] %>
                    <% end %>
                  <br/>
                     <%#= render partial: 'best_guess/more_information' %>
              </td>
              <td>
                <%= search_record.AssociateName %>
                <%= search_record.AgeAtDeath %>
              </td>
              <td <% if print_friendly %> valign="top" <% end %> >
                <center><%= "#{record_type}" %></center>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!--/div-->
    <% unless print_friendly %>
      <div class='text--center inline-block'>
        <%= paginate @paginatable_array if @paginatable_array.present? %>
      </div>
    <% end %>


