<h2>Free Probate search results</h2>
<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<% unless print_friendly %>
  <%#= render(partial: 'count_and_tools_menu') %>
  <%#= render(partial: app_specific_partial("search_result_form")) %>
<% end %>
<div class="container">
  <div class="grid">
    <div class="grid__item seven-tenths lap-seven-tenths palm-one-whole hard--left " id='pro_results'>
      <% order_field = @search_query.order_field %>
      <table class="table--bordered table--data">
        <% unless print_friendly %>
          <caption class='accessibility'>Select a column heading to sort by the contents of that column.</caption>
        <% end %>
        <thead>
        <tr>
          <% if print_friendly %>
            <th <%= sort_field_aria(@search_query, SearchQuery::SearchOrder::SURNAME) %>>
              <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::FIRSTNAME, 'First Name'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::FIRSTNAME, 'anchor': 'result_table_Surname')) %>
              <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::SURNAME, 'Surname'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::SURNAME, 'anchor': 'result_table_Surname')) %>
            </th>
            <th <%= sort_field_aria(@search_query, SearchQuery::SearchOrder::BMD_RECORD_TYPE) %>>
              <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::BMD_RECORD_TYPE, 'Record Type'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_RECORD_TYPE, 'anchor': 'result_table_RecordTypeID')) %>
            </th>
          <% else %>
            <th>Identifier</th>
            <th>Name</th>
            <th>Details</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% n = 0 %>
        <% search_results.each do |search_record| %>
          <% n = n +1 %>
          <%# record_type = RecordType::display_name(["#{search_record[:RecordTypeID]}"])%>
          <tr id="<%=search_record[:RecordNumber]%>" class="<%#= record_type.downcase %>_hover" >
            <%# unless print_friendly %>
            <td class="table--data">
              <%= link_to("#{search_record[:PersonId]}".html_safe, friendly_probate_record_details_path(search_record[:id],search_record[:PersonId], @search_query)) %>
            </td>
            <td class="table--data">
              <%= search_record[:Death][:LastName] %> <%= search_record[:Death][:GivenName] %>
              <%#= link_to("#{search_record[:GivenName]} #{search_record[:Surname]}".html_safe,friendly_bmd_record_details_path(@search_query.id,search_record.id, search_record.friendly_url, search_entry: search_record.RecordNumber), :rel => "nofollow", :title => "")%>
              <i><%#= seen(@search_query,search_record) %></i>
            </td>
            <%# end %>
            <td class="table--data">
              <%= search_record[:P] %>
            </td>
          </tr>
          <% end %>
        </tbody>
          </table>
          </div>
    <% unless print_friendly %>
      <% if device_type == :desktop %>
        <div class="grid__item two-tenths lap-two-tenths palm-one-whole "  id='results_table_ad'>
          <center><p>Advertisement</p>
            <%#= advert_code("right_side","side_big") %></center>
        </div>
      <% end %>
    <% end %>
  </div>
</div>