<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
    <h1 class="accessibility">Search Results</h1>
      <table class="table--bordered table--data">
        <caption class='accessibility'>Column 1 has link to details of record; Column 2 can be sorted on First Name; Column 3 can be sorted by event.</caption>
        <thead>
          <tr>
            <% unless print_friendly %>
              <th>Detail</th>
            <% end %>
            <th>Individual
              <%#= link_to_unless(print_friendly, 'Individual',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::FIRSTNAME)) %>
            </th>
            
            <th>Record Type
              <%#= link_to_unless(print_friendly, 'Record Type',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_RECORD_TYPE)) %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% search_results.each do |search_record| %>
            <% n = n +1 %>
            <% record_type = RecordType::display_name(["#{search_record[:RecordTypeID]}"])%>
            <tr id="<%=search_record[:RecordNumber]%>" class="<%= record_type.downcase %>_hover" >
              <% unless print_friendly %>
                <td>
                  <center>
                    <%= link_to("View #{n}".html_safe,friendly_bmd_record_details_path(@search_query.id,search_record.id, search_record.friendly_url, search_entry: search_record.RecordNumber), :rel => "nofollow", :title => "", class: "btn  btn--small")%>
                    <i><%= seen(@search_query,search_record) %></i>
                  </center>
                </td>
              <% end %>
              <td class="table--data">
                <dl>
                  <strong>
                    <dt class="ttip">
                      <%= "#{search_record[:GivenName]} #{search_record[:Surname]}" %></strong>
                      <span class="ttip__text"><%="#{search_record[:Volume]} #{search_record[:Page]}"%></span>
                    </dt>
                  
                  <dt>
                    <%= format_quarter_year(search_record.QuarterNumber) %>
                  </dt>
                  <dt>
                    <% if print_friendly %>
                      <%= search_record[:District] %>
                    <% else %>
                        <% district = District.where(DistrictNumber: search_record[:DistrictNumber]).first %>
                        <% if district.present? %>
                          <%= link_to "#{search_record[:District]}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber, search_id: @search_query.id) %>
                        <% else %>
                          <%= search_record[:District] %>
                      <% end %>
                      Volume <%= search_record[:Volume] %> Page <%= search_record[:Page] %>
                    <% end %>
                  </dt>
                  <dt>
                     <%#= render partial: 'best_guess/more_information' %>
                  </dt>
                </dl>
              </td>
              <td>
                <center><%= "#{record_type}" %></center>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!--/div-->
    <% unless print_friendly %>
      <div class='text--center inline-block'>
        <%= paginate @paginatable_array if @paginatable_array.present? %>
      </div>
    <% end %>


