<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
    <!--h1 class="accessibility">Search Results</h1-->
    <% if print_friendly %>
  <style type="text/css">
    @media print {
      .accessibility { display:none; }
      .results {
        overflow: visible;
      }
      .results td {
        visiblity: visible;
      }
      table>thead>tr>th:first-child{
        display:block !important;
      }
    }
  </style>
      <div style="border: 1px solid black; margin-bottom: 10px;">
        <p class='accessibility'>You can print these results directly, or download them to PDF using your right-click or browser menu.</p>
      </div>
    <% end %>
 <%# raise @search_query.bmd_record_type.inspect %>
    <% included_record_types = @search_query.bmd_record_type %>
    <% blank_record_types = @search_query.bmd_record_type.blank? %>
    <% order_field = @search_query.order_field %>
    <!--p>Sort order is <%= order_field %></p-->
      <table class="table--bordered table--data results">
        <% unless print_friendly %>
          <caption class='accessibility'>Your search results. Select a column heading to sort by the contents of that column; select again to reverse the order.</caption>
        <% end %>
        <thead>
          <tr>
            <% unless print_friendly %>
              <th <%= sort_field_aria(@search_query, SearchQuery::SearchOrder::SURNAME) %>>
                  <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::FIRSTNAME, 'First Name'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::FIRSTNAME, :results_per_page => @results_per_page, 'anchor': 'result_table_Surname')) %>
                  <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::SURNAME, 'Surname'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::SURNAME, :results_per_page => @results_per_page, 'anchor': 'result_table_Surname')) %>
              </th>
              <th <%= sort_field_aria(@search_query, SearchQuery::SearchOrder::BMD_RECORD_TYPE) %>>
                <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::BMD_RECORD_TYPE, 'Record Type'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_RECORD_TYPE, :results_per_page => @results_per_page, 'anchor': 'result_table_RecordTypeID')) %>
              </th>
              <th <%= sort_field_aria(@search_query, SearchQuery::SearchOrder::BMD_DATE) %>>
                  <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::BMD_DATE, 'Registration Date'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_DATE, :results_per_page => @results_per_page, 'anchor': 'result_table_QuarterNumber')) %>
              </th>
              <th <%= sort_field_aria(@search_query, SearchQuery::SearchOrder::DISTRICT) %>>
                <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::DISTRICT, 'Registration District & Reference'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::DISTRICT, :results_per_page => @results_per_page, 'anchor': 'result_table_District')) %>
              </th>
              <% if blank_record_types or included_record_types.include? "1" %>
                <th  <%= sort_field_aria(@search_query, SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME) %>>
                  <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME, 'Mother\'s Maiden Name'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME, :results_per_page => @results_per_page, 'anchor': 'result_table_AssociateName')) %>
                </th>
              <% end %>
              <% if blank_record_types or included_record_types.include? "3" %>
                <th <%= sort_field_aria(@search_query, SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME) %>>
                  <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME, 'Spouse\'s Surname'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME, :results_per_page => @results_per_page, 'anchor': 'result_table_AssociateName')) %>
                </th>
              <% end %>
              <% if blank_record_types or included_record_types.include? "2" %>
                <th <%= sort_field_aria(@search_query, SearchQuery::SearchOrder::BMD_AGE_AT_DEATH) %>>
                  <%= link_to(sort_field_marker(@search_query, SearchQuery::SearchOrder::BMD_AGE_AT_DEATH, 'Age at Death/Date of Birth'), reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_AGE_AT_DEATH, :results_per_page => @results_per_page, 'anchor': 'result_table_AgeAtDeath')) %>
                </th>
              <% end %>
            <% else %>
              <th>Name</th>
              <th>Record Type</th>
              <th>Reg. Date</th>
              <th>Reg. District & reference</th>
              <% if blank_record_types or included_record_types.include? "1" %>
                <th>Mother's Maiden Name</th>
              <% end %>
              <% if blank_record_types or included_record_types.include? "3" %>
                <th>Spouse's Surname</th>
              <% end %>
              <% if blank_record_types or included_record_types.include? "2" %>
                <th>Age at Death/Date of Birth</th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% search_results.each do |search_record| %>
            <% n = n +1 %>
            <% record_type = RecordType::display_name(["#{search_record[:RecordTypeID]}"])%>
            <tr id="<%=search_record[:RecordNumber]%>" class="<%= record_type.downcase %>_hover" >
                <td>
                  <% rec = BestGuess.find(search_record[:RecordNumber])%>
                  <% postems_count = rec.postems_list.present? ? rec.postems_list.count : 0 %>
                  <% postems_count_text = postems_count.zero? ? '' : "#{app_icons[:postem]}" %>
                  <center>
                    <%= link_to("#{titleize_string(search_record[:GivenName])} #{search_record[:Surname].upcase}".html_safe,friendly_bmd_record_details_path(@search_query.id,search_record.id, search_record.friendly_url, search_entry: search_record.RecordNumber), :rel => "nofollow", :title => "")%>
                    <br>
                    <% if postems_count_text.present? %>
                      <span class="accessibility">
                        Postem Available
                        <%= postems_count_text.html_safe %>
                      </span>
                    <% end %>
                    <i><%= seen(@search_query,search_record) %></i>
                  </center>
                </td>
              <%# end %>
              <td <% if print_friendly %> valign="top" <% end %> >
                <center><%= "#{record_type}".capitalize.chop %></center>
              </td>
              <td class="table--data">
                <%= format_quarter_year(search_record.QuarterNumber) %>
              </td>
              <td class="table--data">
                  <%#= format_quarter_year(search_record.QuarterNumber) %>
                    <% if print_friendly %>
                      <%= search_record[:District] %>
                      <span class="ttip__text"> <%=" (Volume #{search_record[:Volume]} Page #{search_record[:Page]})"%></span>
                    <% else %>
                      <% district = District.where(DistrictNumber: search_record[:DistrictNumber]).first %>
                      <%= district_link_or_name(district, search_record, @search_query) %>
                      <% @search_query.get_search_record_details(search_record).each do |key, value| %>
                        <%= "#{key} #{value}" unless key == "Page" %>
                      <% end %>
                      Page
                      <%= link_to "#{search_record[:Page]}", same_page_entries_path(volume: search_record[:Volume], page: search_record[:Page], record: search_record[:RecordTypeID], quarter: search_record[:QuarterNumber], district: search_record[:District], search_id: @search_query.id, entry_id: search_record[:RecordNumber]) %>
                    <% end %>
              </td>
              <% if blank_record_types or included_record_types.include? "1" %>
                <td class="table--data">
                  <%= if record_type == "BIRTHS" then value_or_no_data(search_record[:AssociateName]) else '&ndash;'.html_safe end %>
                </td>
              <% end %>
              <% if blank_record_types or included_record_types.include? "3" %>
                <td class="table--data">
                  <%#= if record_type == "MARRIAGES" then value_or_refer_to_page(search_record[:AssociateName], search_record) else '&ndash;'.html_safe end %>
                  <% if record_type == "MARRIAGES" %>
                    <% if search_record[:AssociateName].present? %>
                      <% spouse_records = same_page_as_record(search_record, search_record[:AssociateName]) %>
                      <% if search_record[:AssociateName].upcase == search_record[:Surname].upcase %>
                        <%= "Spouse has the same surname #{search_record[:AssociateName]}: check Page link to clarify the situation" %>
                      <% elsif spouse_records.count == 1 %>
                        <% spouse_record = spouse_records[0] %>
                        <%= link_to("#{titleize_string(spouse_record[:GivenName])} #{spouse_record[:Surname].upcase}".html_safe,
                                    friendly_bmd_record_details_path(@search_query.id, spouse_record.id, spouse_record.friendly_url, search_entry: spouse_record.RecordNumber), :rel => "nofollow", :title => "")%>
                      <% elsif spouse_records.count > 1 %>
                        <%= "More than one matching spouse surname #{search_record[:AssociateName]}: check Page link to see possible spouses" %>
                      <% else %>
                        <%= 'See Page link for possible spouses' %>
                      <% end %>
                    <% else %>
                      <%= 'See Page link for possible spouses' %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
              <% if blank_record_types or included_record_types.include? "2" %>
                <td class="table--data">
                  <%= if record_type == "DEATHS" then value_or_no_data(search_record[:AgeAtDeath]) else '&ndash;'.html_safe end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <h2 class="accessibility">Explanation of table entries</h2>
        <p>
          <% if blank_record_types or included_record_types.include? "1" %>
            <b>Mother’s Maiden Name</b> only appears for records from September quarter 1911.
          <% end %>
          <% if blank_record_types or included_record_types.include? "2" %>
            <b>Age at death</b> only appears for records from March quarter 1866, and <b>date of birth</b> from March quarter 1970.
          <% end %>
          <% if blank_record_types or included_record_types.include? "3" %>
            <b>Spouse's surname</b> only appears for records from March quarter 1912. For earlier marriages, you can click on the Page link in the Registration District & Reference column to see all the people listed on that page of the Register.
          <% end %>
        If no data is available for a specific record, these fields will display ‘No data.’ A dash (&ndash;) will appear in fields
        that are not relevant to a particular event type.</p>
      </div>
    <!--/div-->
    <% unless print_friendly %>
      <div class='text--center inline-block'>
        <%= paginate @paginatable_array if @paginatable_array.present? %>
      </div>
    <% end %>
