<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<h1 class="accessibility">Search Results</h1>
<div class="table-wrapper" id="search-result">
  <table class="table--bordered table--data ">
    <thead>
      <tr>
        <% unless print_friendly %>
          <th >Details</th>
        <% end %>
        <th>
          <% unless print_friendly %><%= link_to('Person or persons',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::NAME),
            :title => 'Initially sorted ascending') %>
          <% else%> Person or persons<% end%>
        </th>
        <th>
          <% unless print_friendly %><%= link_to('Record type',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::TYPE),
            :title => 'Initially sorted ascending') %>
          <% else%> Record type<% end%>
        </th>
        <th>
          <% unless print_friendly %><%= link_to('Event date',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::DATE),
            :title => 'Initially sorted ascending') %>
          <% else%> Event date<% end%>
        </th>
        <th>
          <% unless print_friendly %><%= link_to('County',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::COUNTY),
            :title => 'Initially sorted ascending') %>
          <% else%> County<% end%>
        </th>
        <th>
          <% unless print_friendly %><%= link_to("Place : Church : Register type",
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::LOCATION),
            :title => 'Initially sorted ascending') %>
          <% else%> Place : Church : Register type<% end%>
        </th>
      </tr>
    </thead>
    <tbody>
      <% n = 0 %>
      <% search_results.each do |search_record| %>
        <% n = n + 1 %>
        <tr id="<%=search_record[:_id]%>">
          <% unless print_friendly %>
           <td>
             <%= link_to("View #{n}", friendly_search_record_path(search_record.id, search_record.friendly_url),rel:"nofollow", :class => "btn  btn--small" )%>
            <i><br><%= viewed(@search_query,search_record) %></i>
           </td>
          <% end %>
           <td  >
          <% search_record[:transcript_names].uniq.each_with_index do |name, i| %>
            <% if  name['type'] == 'primary' %>
              <% if i > 0 %>
              <br />
      <% end%>
      <%= "#{name['first_name']} #{name['last_name']} " %>
    <% end %>
  <% end%>
</td>
<td  >
  <%= RecordType::display_name(search_record.record_type) %>
</td>
<td  >
  <%= transcript_date(search_record) %>
</td>
<td  >
  <%= county(search_record) %>
</td>
<td  >
  <%= format_location(search_record) %>
</td>
</tr  >
<% end %>
</tbody>
</table>
</div>