<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
    <h1 class="accessibility">Search Results</h1>
      <table class="table--bordered table--data ">
        <thead>
          <tr>
            <% unless print_friendly %>
              <th>Detail</th>
            <% end %>
            <th>
              <%= link_to_unless(print_friendly, 'Individual',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::FIRSTNAME)) %>
            </th>
            
            <th>
              <%= link_to_unless(print_friendly, 'Record Type',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_RECORD_TYPE)) %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% @paginatable_array.each do |search_record| %>
            <% n = n +1 %>
            <% record_type = RecordType::display_name(["#{search_record[:RecordTypeID]}"])%>
            <tr id="<%=search_record[:RecordNumber]%>" class="<%= record_type.downcase %>_hover" >
              <% unless print_friendly %>
                <td>
                  <center>
                    <%= link_to("View #{n}".html_safe,friendly_bmd_record_details_path(@search_query.id,search_record.id, search_record.friendly_url), :rel => "nofollow", :title => "", class: "btn  btn--small")%>
                    <i><%= seen(@search_query,search_record) %></i>
                  </center>
                </td>
              <% end %>
              <td class="table--data">
                <dl>
                  <strong>
                    <dt class="ttip">
                      <%= "#{search_record[:GivenName]} #{search_record[:Surname]}" %></strong>
                      <span class="ttip__text"><%="#{search_record[:Volume]} #{search_record[:Page]}"%></span>
                    </dt>
                  
                  <dt>
                    <%= "#{QuarterDetails.quarters.key((search_record[:QuarterNumber]-1)%4 + 1).upcase} #{(search_record[:QuarterNumber]-1)/4 + 1837}"%>
                  </dt>
                  <dt>
                    <% if print_friendly %>
                      <%= search_record[:District] %>
                    <% else %>
                      <% if search_record.district_linkable? %>
                        <%= link_to "#{search_record[:District]}", "http://www.ukbmd.org.uk/reg/districts/#{search_record.define_url_distict}.html", target: "_blank" %>
                      <% else %>
                        <%= search_record[:District] %>
                      <% end %>
                    <% end %>
                  </dt>
                  <dt>
                     <%#= render partial: 'best_guess/more_information' %>
                  </dt>
                </dl>
              </td>
              <td>
                <center><%= "#{record_type}" %></center>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!--/div-->
    <% unless print_friendly %>
      <div class='text--center inline-block'>
        <%= paginate @paginatable_array %>
      </div>
    <% end %>


