<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<%# raise 'hi'%>
<div class="table-wrapper" id="search-result">
  <table class="table--bordered table--data">
    <caption class="gamma"> <%= pluralize(@result_count, ' Search Result', ' Search Results') %>
      <small class="additional">Select a heading to sort results on that column.<br>
         Each link in the <q>Detail</q> column opens a page with all the information we have for that record.</small>
    </caption>
    <thead>
      <tr>
        <th>
          Individual Name
        </th>
        <th>
          Record Type
        </th><th>
          quarter number
        </th>
        <% unless print_friendly %>
          <th>Detail</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% n = 0 %>
      <% search_results.each do |search_record| %>
        <tr id="<%=search_record[:_id]%>">
          <td>          
            <%= "#{search_record[:GivenName]} #{search_record[:Surname]} " %>
          </td>
          <td>          
            <%= "#{search_record[:RecordTypeID]}" %>
          </td>
          <td>          
            <%= "#{search_record[:QuarterNumber]} " %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>