<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<div class="grid search_results">
  <div class="grid__item one-sixth lap-one-half palm-one-whole">
    <div class='results_block'>
      Results
    </div>
  </div>
  <div class="grid__item five-sixths lap-one-half palm-one-whole">
   <%= render 'display_search_criteria' %>
   <%#= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  btn--small revise_search" %>
  </div>
</div>
<%# raise 'hi'%>
<div class="table-wrapper" id="search-result">
  <table class="table--bordered table--data">
    <caption class="gamma"> <%= pluralize(@result_count, ' Search Result', ' Search Results') %>
      <small class="additional">Select a heading to sort results on that column.<br>
         Each link in the <q>Detail</q> column opens a page with all the information we have for that record.</small>
    </caption>
    <thead>
      <tr>
        <th>
          Individual Name
        </th>
        <th>
          Record Type
        </th>
        <th>
          Year
        </th>
        <th>
          Quarter
        </th>
        <% unless print_friendly %>
          <th>Detail</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% n = 0 %>
      <% search_results.each do |search_record| %>
        <tr id="<%=search_record[:_id]%>">
          <td>          
            <%= "#{search_record[:GivenName]} #{search_record[:Surname]} " %>
          </td>
          <td>          
            <%= "#{search_record[:RecordTypeID]}" %>
          </td>
          <td>          
            <%= (search_record[:QuarterNumber]-1)/4 + 1837%>
          </td>
          <td>
            <%= (search_record[:QuarterNumber]-1)%4 + 1%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>