<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>

<section class="island  " >
  <div class="table-wrapper">
    <table class="table--bordered table--data">
      <colgroup >
      <col class="t20">
      <col class="t10">
      <col class="t10">
      <col class="t15">
      <col class="t35">
      <% unless print_friendly %>
        <col class="t10">
      <% end %>
      </colgroup>
      <thead  >
        <th>
          <%= link_to('Participants', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::NAME)) %><br>
	  <% unless print_friendly %>
            <a href="#" class="bottom_tooltip" onclick="return false;"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Name of main person in the record. Click heading to sort by the name. </span></a>
	  <% end %>
        </th>
        <th>
          <%= link_to('Type', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::TYPE)) %><br>
	  <% unless print_friendly %>
            <a href="#" class="bottom_tooltip" onclick="return false;"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Type of record. Click heading to sort by type</span></a>
	  <% end %>
        </th>
        <th>
          <%= link_to('Date', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::DATE)) %><br>
	  <% unless print_friendly %>
            <a href="#" class="bottom_tooltip" onclick="return false;"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Date of event. Please note that calendar changed in 1752. Click heading to sort by the date</span></a>
	  <% end %>
        </th>
        <th>
          <%= link_to('County', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::COUNTY)) %><br>
	  <% unless print_friendly %>
            <a href="#" class="bottom_tooltip" onclick="return false;"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>County in which event was recorded. Click heading to sort by the county</span></a>
	  <% end %>
        </th>
        <th>
          <%= link_to('Location', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::LOCATION)) %><br>
	  <% unless print_friendly %>
            <a href="#" class="bottom_tooltip" onclick="return false;"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Place and Church in which event was recorded. Click heading to sort by the location</span></a>
	  <% end %>
        </th>
        <% unless print_friendly %>
          <th>Detail<br>
            <a href="#" class="left_tooltip" onclick="return false;"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Click on the detail link in the record below to get transcription details</span></a>
          </th>
        <% end %>
      </thead >
      <tbody >
      <% @search_results.each do |search_record| %>
        <tr id="<%=search_record.id%>">
          <td>
            <% search_record.transcript_names.uniq.each_with_index do |name, i| %>
            <% if  name['type'] == 'primary' %>
            <% if i > 0 %>
            <br/>
            <% end%>
            <%= "#{name['first_name']} #{name['last_name']} " %>
            <% end %>
            <% end%>
          </td>
          
          <td>
            <%= RecordType::display_name(search_record.record_type) %>
          </td>
          <td>
            <%= raw(search_record.transcript_dates.first.gsub(' ', '&nbsp;')) unless search_record.transcript_dates.empty?%>
          </td>
          <td>
            <%= county(search_record) %>
          </td>
          <td>
            <%= format_location(search_record) %>
          </td>
          <% unless print_friendly %>
            <td>
              <%= link_to("Detail", search_record_path(search_record, :search_id => @search_query)) %> 
              <i><%= viewed(@search_query,search_record)%></i>
            
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
