<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
    <!--h1 class="accessibility">Search Results</h1-->
    <% if print_friendly %>
  <style type="text/css">
    @media print {
        .accessibility { display:none; }
    }
  </style>
      <div style="border: 1px solid black; margin-bottom: 10px;">
        <p class='accessibility'>You can print these results directly, or download them to PDF using your right-click or browser menu.</p>
      </div>
    <% end %>
 <%# raise @search_query.bmd_record_type.inspect %>
    <% included_record_types = @search_query.bmd_record_type %>
      <table class="table--bordered table--data">
        <% unless print_friendly %>
          <caption class='accessibility'>Click on a column heading to sort by the contents of that column.</caption>
        <% end %>
        <thead>
          <tr>
            <th><% unless print_friendly %>
              <%= link_to('First Name', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::FIRSTNAME)) %>
                <%= link_to('Surname', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::SURNAME)) %>
            <% else %> Name <% end %></th>
            <th><% unless print_friendly %>
                <%= link_to('Record Type', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_RECORD_TYPE)) %>
              <% else %>Record Type<% end %></th>
            <th><% unless print_friendly %>
              <%= link_to('Registration Date', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_DATE)) %>
              <% else %>
            Reg. Date <% end %></th>
            <th><% unless print_friendly %>
                <%= link_to('Registration District', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::DISTRICT)) %>
                <br/>Reference
                <% else %>Reg. District <% end %></th>
            <% if included_record_types[0] == "0" or included_record_types.include? "1" %>
              <th><% unless print_friendly %>
                  <%= link_to('Mother\'s Maiden Name', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME)) %>
                <% else %>Mother's Maiden Name<% end %></th>
            <% end %>
            <% if included_record_types[0] == "0" or included_record_types.include? "3" %>
              <th><% unless print_friendly %>
                  <%= link_to('Spouse\'s Surname', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME)) %>
                <% else %>Spouse's Surname<% end %></th>
            <% end %>
            <% if included_record_types[0] == "0" or included_record_types.include? "2" %>
              <th><% unless print_friendly %>
                  <%= link_to('Age at Death/Date of Birth', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_AGE_AT_DEATH)) %>
                <% else %>Age at Death/Date of Birth<% end %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% search_results.each do |search_record| %>
            <% n = n +1 %>
            <% record_type = RecordType::display_name(["#{search_record[:RecordTypeID]}"])%>
            <tr id="<%=search_record[:RecordNumber]%>" class="<%= record_type.downcase %>_hover" >
              <%# unless print_friendly %>
                <td>
                  <center>
                    <%= link_to("#{titleize_string(search_record[:GivenName])} #{search_record[:Surname].upcase}".html_safe,friendly_bmd_record_details_path(@search_query.id,search_record.id, search_record.friendly_url, search_entry: search_record.RecordNumber), :rel => "nofollow", :title => "")%>
                    <i><%= seen(@search_query,search_record) %></i>
                  </center>
                </td>
              <%# end %>
              <td <% if print_friendly %> valign="top" <% end %> >
                <center><%= "#{record_type}".capitalize.chop %></center>
              </td>
              <td class="table--data">
                <%= format_quarter_year(search_record.QuarterNumber) %>
              </td>
              <td class="table--data">
                  <%#= format_quarter_year(search_record.QuarterNumber) %>
                    <% if print_friendly %>
                      <%= search_record[:District] %>
                      <span class="ttip__text"> <%=" (Volume #{search_record[:Volume]} Page #{search_record[:Page]})"%></span>
                    <% else %>
                      <% district = District.where(DistrictNumber: search_record[:DistrictNumber]).first %>
                      <% if district.present? %>
                        <%= link_to "#{search_record[:District]}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber, search_id: @search_query.id) %>
                     <% else %>
                       <%= search_record[:District] %>
                     <% end %>
                      <% @search_query.get_search_record_details(search_record).each do |key, value| %>
                        <br /><%= "#{key} #{value}" %>
                      <% end %>
                    <% end %>
              </td>
              <% if included_record_types[0] == "0" or included_record_types.include? "1" %>
                <td class="table--data">
                  <%= if record_type == "BIRTHS" then value_or_no_data(search_record[:AssociateName]) else '-' end %>
                </td>
              <% end %>
              <% if included_record_types[0] == "0" or included_record_types.include? "3" %>
                <td class="table--data">
                  <%= if record_type == "MARRIAGES" then value_or_no_data(search_record[:AssociateName]) else '-' end %>
                </td>
              <% end %>
              <% if included_record_types[0] == "0" or included_record_types.include? "2" %>
                <td class="table--data">
                  <%= if record_type == "DEATHS" then value_or_no_data(search_record[:AgeAtDeath]) else '-' end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!--/div-->
    <% unless print_friendly %>
      <div class='text--center inline-block'>
        <%= paginate @paginatable_array if @paginatable_array.present? %>
      </div>
    <% end %>


