<% if defined?(@printable_format) && @printable_format %>
  <% if Rails.application.config.freecen2_place_cache %>
    <% search_freecen2_params_for_display(@search_query).each do |name, value| %>
      <%= name %>: <b><%= value %></b> ;
    <% end %><br>
    <%= pluralize(@result_count, ' Search Result', ' Search Results') %>
  <% else%>
    <% search_params_for_display(@search_query).each do |name, value| %>
      <%= name %>: <b><%= value %></b> ;
    <% end %><br>
    <%= pluralize(@result_count, ' Search Result', ' Search Results') %>
  <% end%>
<% else %>
  <div class="grid">
    <div class="grid__item  two-thirds  lap-two-thirds  palm-one-whole push-half--top">
      <section class="islet islet--light soft--left hard--bottom">
        <h2 class="gamma flush--bottom"><em>When you searched for:</em></h2>
        <% if Rails.application.config.freecen2_place_cache %>
          <div class="criteria-group">
            <% search_freecen2_params_for_display(@search_query).each do |name, value| %>
              <dl class="criteria">
                <dt class="criteria__name"><%= name %></dt>
                <dd class="criteria__value"><%= value %></dd>
              </dl>
            <% end %>
          </div>
        <% else%>
          <div class="criteria-group">
            <% search_params_for_display(@search_query).each do |name, value| %>
              <dl class="criteria">
                <dt class="criteria__name"><%= name %></dt>
                <dd class="criteria__value"><%= value %></dd>
              </dl>
            <% end %>
          </div>
        <% end %>
      </section>
    </div>
    <div class="grid__item  one-third lap-one-third  palm-one-whole  push-half--top">
      <section class="islet islet--light soft--left hard--bottom">
        <% if @ucf_results.size > 0 %>
          <h2 class="gamma flush--bottom"> We found <%= pluralize(@result_count, ' Exact Result', ' Exact Results') %> and <br>
            <%= pluralize(@ucf_results.size, ' Uncertain Result', ' Uncertain Results')%></h2>
        <% elsif  @result_count < FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS  %>
          <h2 class="gamma flush--bottom"> We found <%= pluralize(@result_count, ' Result', ' Results') %></h2>
        <%else%>
          <h2 class="gamma flush--bottom"> We found more than <%= FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS %> Results</h2>
        <% end%>
        <% unless defined?(@printable_format) && @printable_format%>
          <small class="additional zeta">Select a filter/sort by option; 
          click Update Results; click Update Results again to reverse the order.
          See individual details by selecting the View button.</small>
        <% end %>
      </section>
    </div>
  </div>
<% end %>