<% unless print_friendly %>
  <td>
    <%= link_to("View #{n}", friendly_search_record_path(search_record.id, search_record.friendly_url),rel:"nofollow", :class => "btn  btn--small" )%>
    <i><br>
      <%= viewed(@search_query,search_record) %></i>
  </td>
<% end %>
<td>
  <% surnames = search_record[:transcript_names]
                  .select { |n| n['type'] == 'primary' }
                  .map { |n| n['last_name'] }
                  .uniq
                  .reject(&:blank?) %>

 <% primary_names = search_record[:transcript_names]&.select { |n| n['type'] == 'primary' } || [] %>
  <% primary_names.each_with_index do |name, i| %>
    <% if i > 0 %>
      <br />
    <% end%>
    <%= "#{name['first_name']} #{name['last_name']} " %>
  <% end %>

  <%# Baptisms only 'ba': show tooltip when both parents' surnames are present %>
  <% if surnames.size > 1 && search_record.record_type == 'ba' %>
    <span 
      class="tooltip-icon" 
      data-bs-toggle="tooltip" 
      data-bs-placement="top"
      title="Two surnames are shown because both the mother's and father's surnames were recorded in the original register.">
      &#9432;
    </span>
  <% end %>
</td>
<td  >
  <%= RecordType::display_name(search_record.record_type) %>
</td>
<td  >
  <%= transcript_date(search_record) %>
</td>
<td  >
  <%= county(search_record) %>
</td>
<td  >
  <%= format_location(search_record) %>
</td>