<%= semantic_form_for @search_query do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :first_name, :input_html => {:length => 10, :size => 20 } %>
    <%= f.input :last_name, :input_html => {:size => 20 } %>
    <%= f.input :fuzzy, :as => :boolean %>
  <% end %>
  <%= f.inputs do %>
    <%= f.input :start_year, :input_html => {:length => 4, :size => 4 } %>
    <%= f.input :end_year, :input_html => {:length => 4, :size => 4 } %>

    <%= f.input :record_type,
				{ :as => :select,
				  :required => false,
				  :include_blank => true,
				  :collection => RecordType::OPTIONS} %>
    <%= f.input :chapman_codes, 
				{ :as => :select, 
				  :include_blank => true,
				  :required => false,
         		  :collection => ChapmanCode::select_hash_with_parenthetical_codes,
         		  :label => 'County',
         		  :input_html => { :multiple => true } } %>

    <li class="select input optional" id="search_query_places_input">
	<label class=" label" for="search_query_place_ids">Place</label>
	<select id="search_query_place_ids" name="search_query[place_ids][]">
		<option value="">--</option>
	</select>	
	</li>

	
	<%= f.input :search_nearby_places, :as => :boolean %>


    <%= f.input :inclusive, :as => :boolean, :label => "Search family members?" %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input, :label => 'Search'  %>
  <% end %>
<% end %>


<script type="text/javascript" charset="utf-8">
	<% if @search_query && @search_query.chapman_codes.size > 0 %>
	    var selection=<%= raw(PlaceCache.where(:chapman_code => @search_query.chapman_codes.first).first.places_json) %>;
     	<% if @search_query.places.size > 0 %>
			selection["selected"]="<%= @search_query.places.first.id %>";	 
		<% end %>
	<% end %>

	
	$("#search_query_place_ids").remoteChained({
	  parents : "#search_query_chapman_codes",
	  url : "/places/for_search_form.json",
	  loading : "Loading..."
	  <% if @search_query && @search_query.chapman_codes.size > 0 %>
	  , bootstrap: selection
	  <% end %>
	});
	
</script>
