<% if flash[:notice] %>
    <div class="weight--semibold text--center alert alert-info" role="alert">
        <%= sanitize(flash[:notice]) %>
        <% flash[:notice] = nil %>
    </div>
<% end %>

<% if @search_query.present? && @search_query.errors.any? %>
    <div role="alert" class="alert alert-danger">
        <fieldset class="input">
            <legend>Error List</legend>
            <h2 class="gamma">Following <%= pluralize(@search_query.errors.count, 'error') %> prohibited this search from being processed:</h2>
            <ol class="validation-list">
                <% @search_query.errors.messages.each do |key, msg| %>
                    <% msg.each do |m| %>
                        <li>
                            <label for="<%= SearchQueriesHelper::ID_HASH[key] %>" class="validation-list__error">
                                <%= sanitize(m) %>
                            </label>
                        </li>
                    <% end %>
                <% end %>
            </ol>
        </fieldset>
    </div>
<% end %>

<%= stylesheet_link_tag 'search_form' %>

<!-- Load jQuery UI before our custom script -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
    integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
    crossorigin="anonymous"></script>

<%= javascript_include_tag 'search_form' %>
<%= javascript_include_tag 'autocomplete_test' %>

<div class='text--left push-half--bottom'>
  <small><strong>Tip: Double-tab to move through name fields</strong></small>
</div>

<div class="grid">
    <div class="grid__item one-sixth text--center push--bottom hard--left big_screen_ads">
      <p class="advertisement-label">Advertisement</p>
      <div data-fuse="freebmd_skyscraper_1"></div>
    </div>
    <%= horz_advert_whole('22895564151') %>
    
    <div id="top" class="grid__item desk-wide-five-sixths desk-one-whole lap-one-whole palm-one-whole hard--left search-form-container">
        <div class="bmd_search_form">
            <%= semantic_form_for(@search_query, id: 'new_search_query', local: true, html: { novalidate: false }) do |f| %>
            <fieldset class="input" style="padding-right:10px;">
                <legend>Search options</legend>
                <ol class="grid search_form">
                    <li class="grid__item desk-wide-one-fifth desk-one-quarter lap-one-half palm-one-whole firstnamegrid flush--bottom">
                        <div class='labels push-half--bottom'>
                            <%= label_tag 'first_name', 'First name(s)', class: "ttip", id: 'firstname' %>
                        </div>
                        <%= text_field_tag 'search_query[first_name]', 
                            set_value(@search_query.first_name), 
                            class: 'text-input flush--bottom', 
                            role: 'textbox', 
                            id: 'first_name', 
                            autocomplete: 'given-name',
                            tabindex: "1",
                            maxlength: 100,
                            'aria-describedby' => 'firstname-help' %>
                        <div id="firstname-help" class="help-text">
                            <label for="search_query_first_name_exact_match">
                                <small>
                                    <%= check_box_tag 'search_query[first_name_exact_match]', 
                                        set_value(@search_query.first_name_exact_match), 
                                        set_value(@search_query.first_name_exact_match),
                                        id: 'search_query_first_name_exact_match',
                                        tabindex: "2" %>
                                    Exact match on first names
                                </small>
                            </label>
                        </div>
                    </li>

                  <li class="grid__item desk-wide-one-fifth desk-one-quarter lap-one-half palm-one-whole surnamegrid flush--bottom push--bottom">
                        <div class='labels push-half--bottom'>
                            <%= label_tag 'last_name', 'Surname', class: "ttip" %>
                        </div>
                        <%= text_field_tag 'search_query[last_name]', 
                            set_value(@search_query.last_name), 
                            class: 'text-input flush--bottom', 
                            id: 'last_name', 
                            autocomplete: 'family-name',
                            tabindex: "3",
                            maxlength: 50,
                            'aria-describedby' => 'lastname-help' %>
                        <div id="lastname-help" class="help-text">
                            <label for="search_query_fuzzy">
                                <small class="ttip__text">
                                    <%= check_box_tag 'search_query[fuzzy]', 
                                        set_value(@search_query.fuzzy), 
                                        set_value(@search_query.fuzzy), 
                                        id: 'search_query_fuzzy',
                                        tabindex: "4" %>
                                    Phonetic search surnames
                                </small>
                            </label>
                        </div>
                  </li>

                  <li class="grid__item desk-wide-one-fifth desk-one-quarter lap-one-half palm-one-whole daterangefromgrid">
                    <fieldset class="choices" id="">
                        <legend class="label">From Quarter & Year</legend>
                        <div class='flex_container'>
                            <div class="flex_item">
                                <label class="accessibility" for="from_quarter">Start Quarter</label>
                                <%= select_tag( 'search_query[start_quarter]', options_for_select([['Mar', 1], ['Jun', 2], ['Sep', 3], ['Dec', 4]], set_value(@search_query.start_quarter)), class: 'select_month_start date_years text-input', style: "padding-right:0px !important; padding-left:5px !important; width:105%;",id: 'from_quarter', tabindex: "0") %>
                            </div>
                            <div class="flex_item">
                                <label class="accessibility" for="from_year">Start Year</label>
                                <%= number_field_tag 'search_query[start_year]', set_value_or_default(1837, @search_query.start_year), min: 1837, max:1999, step:1, class: 'text-input', style: 'width:75%;',id: 'from_year', tabindex: "0", placeholder: 'YYYY' %>
                            </div>
                        </div>
                    </fieldset>
                  </li>

                  <li class="grid__item desk-wide-one-fifth desk-one-quarter lap-one-half palm-one-whole daterangetogrid">
                    <fieldset class="choices" id="">
                        <legend class="label">To Quarter & Year</legend>
                        <div class='flex_container'>
                            <div class="flex_item">
                                <label class="accessibility" for="to_quarter">To Quarter</label>
                                <%= select_tag( 'search_query[end_quarter]', options_for_select([['Mar', 1], ['Jun', 2], ['Sep', 3], ['Dec', 4]], set_value_or_default(4,@search_query.end_quarter)), class: 'select_month_end date_years text-input', style:"padding-right:0 !important; padding-left:5px !important; width:105%;",id: 'to_quarter', tabindex: "0") %>
                                </div>
                            <div class="flex_item">
                                <label class="accessibility" for="to_year">To Year</label>
                                <%= number_field_tag 'search_query[end_year]', set_value_or_default(1999, @search_query.end_year), min: 1837, max:1999, step:1, class: 'text-input', style: 'width:75%;',id: 'to_year', tabindex: "0", placeholder: 'YYYY'%>
                                </div>
                        </div>
                    </fieldset>
                  </li>

                    <li class="grid__item desk-wide-one-fifth desk-one-quarter lap-one-half palm-one-whole recordTypeGrid">
                        <fieldset class="choices" id="">
                            <legend class="label">Record Type</legend>
                            <ol class="choices-group">
                                <li class="choice">
                                    <%= f.label :bmd_record_type_birth, { :class => "optional_attributes", id: 'birth_record_type_label'} do %>
                                        <%= check_box_tag 'search_query[bmd_record_type][]', 1,set_checkbox_checked_value(field_value: @search_query.bmd_record_type, value: '1'),{ multiple: true, class: 'checkboxtag birth', id: 'search_query_bmd_record_type_birth', tabindex: "0" } %>
                                        <%= content_text(:optional_checkbox_label, 'Birth') %>
                                    <% end %>
                                </li>
                                <li class="choice">
                                  <%= f.label :bmd_record_type_marriage, { :class => "optional_attributes", id: 'marriage_record_type_label'} do %>
                                    <%= check_box_tag 'search_query[bmd_record_type][]', 3,set_checkbox_checked_value(field_value: @search_query.bmd_record_type, value: '3'),{ multiple: true, class: 'checkboxtag marriage' , id: 'search_query_bmd_record_type_marriage', tabindex: "0"} %>
                                    <%= content_text(:optional_checkbox_label, 'Marriage') %>
                                  <% end %>
                                </li>
                                <li class="choice">
                                    <%= f.label :bmd_record_type_death, { :class => "optional_attributes", id: 'death_record_type_label'} do %>
                                        <%= check_box_tag 'search_query[bmd_record_type][]', 2,set_checkbox_checked_value(field_value: @search_query.bmd_record_type, value: '2'),{ multiple: true, class: 'checkboxtag death', id: 'search_query_bmd_record_type_death', tabindex: "0" } %>
                                        <%= content_text(:optional_checkbox_label, 'Death') %>
                                    <% end %>
                                </li>
                            </ol>
                        </fieldset>
                    </li>

                    <li class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole spousefirstnamess display_none flush--bottom" id="spouse_firstnames_div">
                        <div class='labels'>
                            <%= label_tag 'spouse_first_name', "Spouse first name(s)".html_safe, class: "ttip" do %>
                                <%= "Spouse's first name(s)".html_safe %>
                            <% end %>
                        </div>
                        <%= text_field_tag 'search_query[spouse_first_name]', set_value(@search_query.spouse_first_name), class: 'text-input flush--bottom', id: 'spouse_first_name', tabindex: "0"%>
                        <label>
                            <small>
                                <%= check_box_tag 'search_query[identifiable_spouse_only]', set_value(@search_query.identifiable_spouse_only), set_value(@search_query.identifiable_spouse_only), tabindex: "0" %>
                                Identifiable spouses only
                            </small>
                        </label>
                    </li>

                    <li class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole spouseormothersurname display_none" id="spouse_or_mother_surname_div">
                        <div class='labels'>
                            <%= label_tag 'spouses_mother_surname', "Spouse/Mothers surname".html_safe, class: "ttip spouse_or_mother_surname_label" do %>
                                <%= "Spouse/Mothers surname".html_safe %>
                            <% end %>
                        </div>
                        <%= text_field_tag '', set_value(@search_query.spouses_mother_surname) || set_value(@search_query.mother_last_name), class: 'text-input', id: 'spouses_mother_surname'%>
                    </li>
                    
                    <li class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole dateofbirths display_none flush--bottom" id= "age_at_death_or_date_of_birth_div">
                        <div class='labels'>
                            <%#= label_tag 'death_select_box', "Age at Death".html_safe, class: "ttip" do %>
                                <%#= "Age at Death".html_safe %>
                                <%# end %>
                            <%= label_tag 'death_select_box', "Age at Death/Birth Year".html_safe, class: "ttip" do %>
                              <%= "Age at Death/Birth Year".html_safe %>
                            <% end %>
                        </div>
                        <%= select_tag('search_query[death_at_age]', options_for_select(SearchQuery::DEATH_AGE_OPTIONS.map { |k,v| [v,k]}, set_value(@search_query.death_at_age)), {:prompt => "Select Death Age", id: 'death_select_box', class: 'push-half--bottom text-input', tabindex: "0"}) %>
                        <div id="death_age_and_dob">
                            <div id="death_age">
                                <label class="accessibility" for="search_query_age_at_death">Age at death or Birth Year</label>
                                <%= number_field_tag 'search_query[age_at_death]', set_value(@search_query.age_at_death), class: 'text-input flush--bottom', tabindex: "0" %>
                            </div>
                            <div id="death_age_range">
                                <div class="grid">
                                    <div class="grid__item desk-wide-one-half desk-one-half lap-one-half palm-one-half">
                                        <label class="accessibility" for="search_query_min_age_at_death">Start Age</label>
                                        <%= number_field_tag 'search_query[min_age_at_death]', set_value(@search_query.min_age_at_death), class: 'text-input', tabindex: "0" %>
                                    </div>
                                    <div class="grid__item desk-wide-one-half desk-one-half lap-one-half palm-one-half">
                                        <label class="accessibility" for="search_query_max_age_at_death">Finish Age</label>
                                        <%= number_field_tag 'search_query[max_age_at_death]', set_value(@search_query.max_age_at_death), class: 'text-input',  tabindex: "0" %>
                                    </div>
                                </div>
                            </div>
                            <div id="death_dob">
                                <label class="accessibility" for="search_query_dob_at_death">Birth Year</label>
                                <%= number_field_tag 'search_query[dob_at_death]', set_value(@search_query.dob_at_death), { placeholder: 'YYYY', class: 'text-input', tabindex: "0" } %>
                            </div>
                            <div id="death_dob_range">
                                <div class="grid">
                                    <div class="grid__item desk-wide-one-half desk-one-half lap-one-half palm-one-half">
                                        <label class="accessibility" for="search_query_min_dob_at_death">Start Birth Year</label>
                                        <%= number_field_tag 'search_query[min_dob_at_death]', set_value(@search_query.min_dob_at_death), { class: 'text-input', tabindex: "0" } %>
                                    </div>
                                    <div class="grid__item desk-wide-one-half desk-one-half lap-one-half palm-one-half">
                                        <label class="accessibility" for="search_query_max_dob_at_death">Finish Birth Year</label>
                                        <%= number_field_tag 'search_query[max_dob_at_death]', set_value(@search_query.max_dob_at_death), { class: 'text-input', tabindex: "0" } %>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <label>
                            <small class="ttip__text">
                                <%= check_box_tag 'search_query[match_recorded_ages_or_dates]', set_value(@search_query.match_recorded_ages_or_dates), set_value(@search_query.match_recorded_ages_or_dates), tabindex: "0" %>
                                Match only recorded ages
                            </small>
                        </label>
                        
                    </li>

                    <li class="grid__item desk-wide-three-eighths desk-three-eighths lap-one-half palm-one-whole countiess">
                        <div class='labels'>
                            <div class="countieslabel">
                                <%= label_tag 'search_query_chapman_codes', "Counties/Country".html_safe, class: "ttip" do %>
                                    <%= "Counties/Country".html_safe %>
                                    <% end %>
                                </div>
                            </div>

                            <% grouped_options = ChapmanCode.add_parenthetical_codes(ChapmanCode.remove_codes(ChapmanCode::FREEBMD_CODES)) %>
                            <% key = @search_query.chapman_codes unless @search_query.chapman_codes.nil?%>
                            <%= autocomplete_field_tag 'search_query[chapman_codes]',set_county_value(@search_query.chapman_codes),'/search_queries/select_counties/','data-delimiter' => ',', :multiple => true, class: 'text-input flush--bottom', role: 'textbox', id: 'search_query_chapman_codes', tabindex: "0" %>
                        </li>

                        <li class="grid__item desk-wide-three-eighths desk-three-eighths lap-one-half palm-one-whole districtss">
                            <div class='labels'>
                                <div class='districtslabel'>
                                    <%= label_tag 'search_query_districts', "Districts #{app_icons[:info]}".html_safe, class: "ttip" do %>
                                        <%= "Districts".html_safe %>
                                    <% end %>
                                </div>
                            </div>
                            <% @districts = DistrictToCounty.includes(:District).distinct.order( 'DistrictName ASC' )%>
                            <%= autocomplete_field_tag 'search_query[districts]', set_district(@search_query.districts), '/search_queries/districts_of_selected_counties', 'data-delimiter' => ',', :multiple => true, class: 'text-input flush--bottom', role: 'textbox', id: 'search_query_districts', tabindex: "0" %>
                            
                        </li>
                        <li class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole volumes">
                            <div class='labels'>
                                <%= label_tag 'volume', "Volume".html_safe, class: "ttip" do %>
                                    <%= "Volume".html_safe %>
                                <% end %>
                            </div>
                            <%= text_field_tag 'search_query[volume]', set_value(@search_query.volume), class: 'text-input', id: 'volume', placeholder: 'Enter Volume', tabindex: "0" %>
                        </li>

                        <li class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole pages">
                            <div class='labels'>
                                <%= label_tag 'page', "Page".html_safe, class: "ttip" do %>
                                    <%= "Page".html_safe %>
                                    <span class="ttip__text"><%#= info_tag_text[:page]%></span>
                                <% end %>
                            </div>
                            <%= text_field_tag 'search_query[page]', set_value(@search_query.page), class: 'text-input', id: 'page', placeholder: 'Enter Page', tabindex: "0"%>
                        </li>
                    </ol>
                    <!-- Autocomplete functionality moved to search_form.js -->
            </fieldset>
            <div class="grid action">
                <div class="grid__item desk-one-third lap-one-third palm-one-whole">
                    <span class="float--left">
                        <%= link_to 'Help with searching', '/help/search_help', 
                            class: 'help-link',
                            'aria-label' => 'Get help with search functionality' %>
                    </span>
                </div>
                <div class="grid__item desk-one-third lap-one-third palm-one-whole text--center">
                    <%= button_tag 'Search', 
                        type: 'submit', 
                        class: 'kittumani spinner-controller ladda-button', 
                        id: 'search_form_submit', 
                        data: {
                            style: "contract", 
                            color: appname.downcase, 
                            size: "s", 
                            "spinner-color" => "#ffffff"
                        },
                        'aria-label' => 'Submit search form' %>
                </div>
                <div class="grid__item desk-one-third lap-one-third palm-one-whole">
                    <%= button_tag 'Clear Form', 
                        type: 'button', 
                        class: 'clear_forms ladda-button-reverse', 
                        data: {color: 'freebmd'},
                        'aria-label' => 'Clear all form fields' %>
                </div>
            </div>
            
            <div class="grid small_screen_actions">
              <div class="grid__item desk-one-third lap-one-third palm-one-half">
                <span class="float--left help-link-container">
                    <%= link_to 'Help with searching', '/help', 
                        class: 'help-link',
                        'aria-label' => 'Get help with search functionality' %>
                </span>
              </div>
              <div class="grid__item desk-one-third lap-one-third palm-one-half text--right">
                <%= button_tag 'Clear Form', 
                    type: 'button', 
                    class: 'clear_forms ladda-button-reverse', 
                    data: {color: 'freebmd'},
                    'aria-label' => 'Clear all form fields' %>
              </div>
            </div>
            
            <div class="mobile-fixed-actions">
              <%= button_tag 'Search', 
                  type: 'submit', 
                  class: 'btn btn-search kittumani spinner-controller ladda-button', 
                  id: 'search_form_submit_mobile', 
                  data: {
                      style: "contract", 
                      color: appname.downcase, 
                      size: "s", 
                      "spinner-color" => "#ffffff"
                  },
                  'aria-label' => 'Submit search form' %>
            </div>

      <% end %>
    </div>
  </div>
</div>
<%# end %>
<%= horz_advert('22895564151') %>

<!-- Pass data to JavaScript for initialization -->
<script type="text/javascript">
  window.searchQueryData = {
    chapman_codes: <%= raw @search_query.chapman_codes.to_json %>,
    districts: <%= raw @search_query.districts.to_json %>,
    wildcard_option: "<%= j @search_query.wildcard_option %>"
  };
</script>