<% if flash[:notice] %>
  <div class="weight--semibold text--center"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<% if @search_query.present? && (@search_query.errors.present? || @search_query.errors.any?) %>
  <h2 class="gamma text--center"><%= pluralize(@search_query.errors.count, "error") %> prohibited this search from being processed:</h2>
  <ul class="validation-list">
    <% @search_query.errors.messages.each do |key, msg| %>
      <li class="validation-list__error text--center" ><%= msg[0] %></li>
    <% end %>
  </ul>
  <% @search_query.errors.clear %>
<% end %>
<div class='text--center push-half--bottom'>
  <small>Tip: Double-tab to move between fields</small>
</div>
<div class="push soft--top palm-flush--bottom">
  <%= semantic_form_for(@search_query) do |f| %>
    <fieldset class="inputs">
      <legend>Person</legend>
      <ol class="grid">
        <li class="grid__item one-quarter lap-one-half palm-one-whole">
          <label class="ttip" for="last_name" tabindex="0">
            Surname
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">Use upper- or lower-case. If you do not enter a surname, you <em>must</em> enter a County, Forename, and Place</span>
          </label>
          <% if @search_query.last_name.nil? %>
            <input id="last_name" name="search_query[last_name]" type="text" class="text-input" placeholder="Optional">
          <%else%>
            <input id="last_name" name="search_query[last_name]" type="text" class="text-input" value="<%=@search_query.last_name%>">
          <%end%>
        </li>
        <li class="grid__item one-quarter lap-one-half palm-one-whole">
          <label class="ttip" for="first_name" tabindex="0">
            Forename(s)
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">Optional. Use upper- or lower-case. Abbreviations and Latin versions of name will be included automatically</span>
          </label>
          <% if @search_query.first_name.nil? %>
            <input id="first_name" name="search_query[first_name]" type="text" class="text-input" placeholder="Optional">
          <%else%>
            <input id="first_name" name="search_query[first_name]" type="text" class="text-input" value="<%=@search_query.first_name%>">
          <%end%>
        </li>
        <li class="grid__item one-quarter lap-one-half palm-one-whole">
          <label class="ttip" for="start_year" tabindex="0">
            Birth year from
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">Optional, YYYY. The first year you want to include</span>
          </label>
          <% if @search_query.start_year.nil? %>
            <input id="start_year" name="search_query[start_year]" type="text" length="4" size="4" class="text-input" placeholder="YYYY Optional">
          <%else%>
            <input id="start_year" name="search_query[start_year]" type="text" class="text-input" value="<%=@search_query.start_year%>">
          <%end%>
        </li>
        <li class="grid__item one-quarter lap-one-half palm-one-whole">
          <label class="ttip" for="end_year" tabindex="0">
            Birth year to
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">Optional, YYYY. The last year you want to include</span>
          </label>
          <% if @search_query.end_year.nil? %>
            <input id="end_year" name="search_query[end_year]" type="text" length="4" size="4" class="text-input" placeholder="YYYY Optional">
          <%else%>
            <input id="end_year" name="search_query[end_year]" type="text" class="text-input" value="<%=@search_query.end_year%>">
          <%end%>
        </li>
        <li class="grid__item one-whole">
          <%= f.label :fuzzy, { :class => "ttip", :tabindex => "0" } do %>
            <%= f.check_box :fuzzy, {}, "true", "false" %>
            Name Soundex
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">Check to include the Soundex equivalent of the name: it is used for both surname and forename (if entered)</span>
          <% end %><br>
        </li>
        <li class="grid__item three-eighths lap-three-quarters palm-one-whole" id="search_query_birth_chapman_codes_input">
          <input name="search_query[birth_chapman_codes][]" type="hidden" value="">
          <label class="label ttip" for="search_query_birth_chapman_codes" tabindex="0">
            Birth County
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">These are grouped into sections for England, Ireland, Islands, Scotland, Wales and a Special category. If you select more than one county, <em>all</em> places within those counties will be searched</span>
            <small class="additional">Select one to three (hold Ctrl for multiple)</small>
          </label>
          <% grouped_options = ChapmanCode.add_parenthetical_codes(ChapmanCode.codes_for_cen_county)%>
          <select class="select" id="search_query_birth_chapman_codes" multiple="multiple" name="search_query[birth_chapman_codes][]">
            <option value="" style= "font-weight: bold;">All Counties</option>
            <% key = @search_query.birth_chapman_codes unless @search_query.birth_chapman_codes.nil?%>
            <%= grouped_options_for_select(grouped_options, selected_key = key) %>
          </select>
        </li>
        <li class="grid__item four-eighths lap-three-quarters palm-one-whole" >
          <b class="label">Birth Place</b>
          <p class="push-half--top">We are commencing development of the birth place search feature in the light of your feedback in the  Birth Place survey. Our volunteers and developers have already undertaken extensive work to improve the quality of information about the place of birth that we hold, so that the ‘type what you see’ place of birth can be searched more meaningfully.</p>
        </li>
      </ol>
    </fieldset>
    <fieldset class="inputs">
      <legend>Census location &amp; year</legend>
      <ol class="grid">
        <li class="grid__item three-eighths lap-three-quarters palm-one-whole" id="search_query_chapman_codes_input">
          <input name="search_query[chapman_codes][]" type="hidden" value="">
          <label class="label ttip" for="search_query_chapman_codes" tabindex="0">
            Census County
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">If you select more than one county, <em>all</em> places within those counties will be searched</span>
            <small class="additional">Select one to three (hold Ctrl for multiple)</small>
          </label>
          <% grouped_options = ChapmanCode.add_parenthetical_codes(ChapmanCode.codes_for_cen_county_search) %>
          <select class="select" id="search_query_chapman_codes" multiple="multiple" name="search_query[chapman_codes][]">
            <option value="" style= "font-weight: bold;">All Counties</option>
            <% key = @search_query.chapman_codes unless @search_query.chapman_codes.nil?%>
            <%= grouped_options_for_select(grouped_options, selected_key = key) %>
          </select>
        </li>
        <li class="grid__item three-eighths lap-three-quarters palm-one-whole"  id="search_query_places_input">
          <label class="label ttip" for="search_query_place_ids" tabindex="0">
            Census Place
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">This box fills only when a <em>single</em> county is selected. Select one place, or leave blank for <em>all</em> the places in a county. See also the &ldquo;Nearby Places&rdquo; option, below</span>
            <small class="additional">Select nothing or one place</small>
          </label>
          <select id="search_query_place_ids" name="search_query[place_ids][]" class="select" size="4">
            <option value="">List fills when you select one county</option>
          </select>
        </li>
        <li class="grid__item one-quarter lap-one-half palm-one-whole optional" id="search_query_record_type_input">
          <label class="label ttip" for="search_query_record_type" tabindex="0">
            Census year
            <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
            <span class="ttip__text">The specific census year to search. Leave blank to search all.</span>
            <small class="additional">Leave blank to search all</small>
          </label>
          <select id="search_query_record_type" name="search_query[record_type]" class="select" size="4" style="max-width: 10rem;">
            <option value="">--</option>
            <% RecordType.options.each_pair do |name, value| %>
              <%if !@search_query.record_type.nil? && @search_query.record_type.include?(value)%>
                <option value="<%= value %>" selected="selected"> <%= name %></option>
              <% else %>
                <option value="<%= value %>"><%= name %></option>
              <% end %>
            <% end %>
          </select>
        </li>
      </ol>
    </fieldset>
    <fieldset class="inputs">
      <legend>Filters</legend>
      <p class="text--left">Filters are applied to the results of the specified search, they are not search criteria. (Those people who use spreadsheets will likely be familiar with the concept). The best way of proceeding is to run a search without applying any until you get a good "sample" of results (e.g. 3-400) and then apply filters to those results by revising the previous search.  Please read the <a href="../cms/help#filters/">Help</a> carefully BEFORE using the filters as their usefulness varies according to the year of the census.
        <p>
          <ol class="grid">
            <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="search_query_marital_status_input">
              <label class="label ttip" for="search_query_marital_status" tabindex="0">
                Marital Status
                <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
                <span class="ttip__text">Select the marital status you wish to view. Available from 1851 onwards.</span>
                <small class="additional">Leave blank to search all</small>
              </label>
              <select id="search_query_marital_status" name="search_query[marital_status]" class="select" size="4" style="max-width: 10rem;">
                <option value="">--</option>
                <% SearchQuery::MaritalStatus::OPTIONS.each_pair do |name, value| %>
                  <%if !@search_query.marital_status.nil? && @search_query.marital_status.include?(value)%>
                    <option value="<%= value %>" selected="selected"> <%= name %></option>
                  <% else %>
                    <option value="<%= value %>"><%= name %></option>
                  <% end %>
                <% end %>
              </select>
            </li>
            <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="search_query_sex_input">
              <label class="label ttip" for="search_query_sex" tabindex="0">
                Sex
                <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
                <span class="ttip__text">Select the sex of the person you wish to view.</span>
                <small class="additional">Leave blank to search both</small>
              </label>
              <select id="search_query_sex" name="search_query[sex]" class="select" size="4" style="max-width: 10rem;">
                <option value="">--</option>
                <% SearchQuery::Sex::OPTIONS.each_pair do |name, value| %>
                  <%if !@search_query.sex.nil? && @search_query.sex.include?(value)%>
                    <option value="<%= value %>" selected="selected"> <%= name %></option>
                  <% else %>
                    <option value="<%= value %>"><%= name %></option>
                  <% end %>
                <% end %>
              </select>
            </li>
            <li class="grid__item one-fifth lap-one-quarter palm-one-whole" id="search_query_sex_input">
              <label class="ttip" for="occupation" tabindex="0">
                Occupation
                <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
                <span class="ttip__text">Selection will be based on the appearance of these characters at the start of any word in the occupation field. Case irrelevant.</span><small class="additional">Leave blank for all occupations</small>
              </label>
              <% if @search_query.occupation.nil? %>
                <input id="occupation" name="search_query[occupation]" type="text" class="text-input" placeholder="Optional">
              <%else%>
                <input id="occupation" name="search_query[occupation]" type="text" class="text-input" value="<%=@search_query.occupation%>">
              <%end%>
            </li>
            <li class="grid__item one-fifth lap-one-quarter palm-one-whole">
              <%= f.label :disabled, { :class => "ttip", :tabindex => "0" } do %>
                <%= f.check_box :disabled, {}, "true", "false" %>
                Disabled
                <%= image_tag 'png/info.png', alt: 'Info', height: '16' %>
                <span class="ttip__text">Check to restrict the search to those who are declared disabled. Available from 1851 onwards.</span>
              <% end %>
            </li>
            <%= f.action :submit,
        :as => :button,
        :label => 'Search ',
        :button_html => { :class => "ladda-button" , "data-style" => "contract" ,"data-color" => appname.downcase, "data-size" => "s", "data-spinner-color" => "#ffffff" },
        :wrapper_html => { :class => "grid__item one-whole push-half--ends" } %>
            <li class="grid__item one-whole">
              <% x = Rails.application.config.max_search_time/1000 %>
              <small class="additional push-half--ends">Search times are limited to <%= x %> seconds.<br>
                Please do not restart the search once it is working as this will actually slow the process.</small>
            </li>
          </ol>
        </fieldset>
      <% end %>
    </div>
    
    <script type="text/javascript">
      Ladda.bind( 'button[type=submit]' );
    </script>
    <% if true %>
      <script type="text/javascript" charset="utf-8" >
        <% if @search_query && @search_query.chapman_codes.size > 0 %>
          var selection=<%= raw(PlaceCache.where(:chapman_code => @search_query.chapman_codes.first).first.places_json) %>;
          <% if @search_query.places.size > 0 %>
            selection["selected"]="<%= @search_query.places.first.id %>";
          <% end %>
        <% end %>
        (function($) {$("#search_query_place_ids").remoteChained({
        parents : "#search_query_chapman_codes",
        url : "/places/for_search_form.json",
        loading : "Loading..."
        <% if @search_query && @search_query.chapman_codes.size == 1 %>
        , bootstrap: selection
        <% end %>
        });})(jQuery);
      </script>
    <% end %>