<p class="text--center"><%= link_to 'Detailed Advice on Searching', "../tips-for-searching-the-database", method: :get, :class => "btn"   %>   <%= link_to "Data on the Database Contents", main_app.freereg_contents_path , method: :get, :class => "btn " %></p>

  <div style="clear:both;"> </div>
  <% if flash[:notice] %>
<div class="weight--semibold text--center" style="color:red"><br>
 <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
 </div>
   <% end %>

  <% if @search_query.errors.any? %>
   <h4 class="text--center"><%= pluralize(@search_query.errors.count, "error") %> prohibited this search from being processed:</h4>
 
    <ul class="validation-list" >
    <% @search_query.errors.messages.each do |key, msg| %>
          <li class="validation-list__error text--center" ><%= msg[0] %></li>
     <% end %>
    </ul>
      <%@search_query.errors.clear%>
<% end %>

        <section class="island  island--light ">

<%= semantic_form_for(@search_query) do |f| %>

  
<%= f.inputs do %>
   <li class="grid__item  one-quarter  palm-one-whole">
     <label><a href="#" class="tip2">Surname<span>The surname can be entered as upper or lower case</span></a></label>
     <% if @search_query.last_name.nil? %>
      <input name="search_query[last_name]" type="text" class="text-input" placeholder="Manditory" >
    <%else%>
      <input name="search_query[last_name]" type="text" class="text-input" value="<%=@search_query.last_name%>" >
    <%end%>
   </li>
   <li class="grid__item  one-quarter  palm-one-whole">
    <label><a href="#" class="tip2">Forename(s)<span>The forename can be entered as upper or lower case, abbreviations and latin versions will be included</span></a></label>
    <% if @search_query.first_name.nil? %>
      <input name="search_query[first_name]" type="text" class="text-input" placeholder="Optional" >
    <%else%>
      <input name="search_query[first_name]" type="text" class="text-input" value="<%=@search_query.first_name%>" >
    <%end%>
   </li>
   <li class="grid__item  one-quarter  palm-one-whole">
    <label><a href="#" class="tip2">First year<span>The first year for which records are required</span></a></label>
     <% if @search_query.start_year.nil? %>
      <input name="search_query[start_year]" type="text" length="4" size="4" class="text-input" placeholder="YYYY Optional" >
    <%else%>
      <input name="search_query[start_year]" type="text" class="text-input" value="<%=@search_query.start_year%>" >
    <%end%>
   </li>
    <li class="grid__item  one-quarter  palm-one-whole">
      <label><a href="#" class="tip2">Last year<span>The last year for which records are required</span></a></label>
      <% if @search_query.end_year.nil? %>
        <input name="search_query[end_year]" type="text" length="4" size="4" class="text-input" placeholder="YYYY Optional" >
      <%else%>
        <input name="search_query[end_year]" type="text" class="text-input" value="<%=@search_query.end_year%>" >
      <%end%>
   </li>

   
   <li class="grid__item  one-third  palm-one-whole " id="search_query_chapman_codes_input">
    	<input name="search_query[chapman_codes][]" type="hidden" value="" >
    	<label class=" label" for="search_query_chapman_codes">
       <a href="#" class="tip2">County<span>These are the county boundaries as specified in 1831</span></a><small class="additional">Select one (or more using Ctrl)</small> 
		</label>
		<select class="select" id="search_query_chapman_codes" multiple="multiple" name="search_query[chapman_codes][]" }>
			<option value="" label="Select one or more counties"></option>
			<% ChapmanCode::select_hash_with_parenthetical_codes.each_pair do |label, value| %>
				<option value="<%=value%>"><%=label%></option>
			<% end %>
		</select>
	</li>

    <li class="grid__item  one-third  palm-one-whole"  id="search_query_places_input">
		<label class=" label" for="search_query_place_ids">
    <a href="#" class="tip2">Place<span>Do NOT select a place name if you wish to search ALL the places in a county.</span></a><small class="additional">Select one (or more using Ctrl)</small> </label>
		<select id="search_query_place_ids" name="search_query[place_ids][]" class="select" multiple="multiple">
			<option value="">--</option>
		</select>	
	</li>
  
	  <li class="grid__item  one-quarter  palm-one-whole optional" id="search_query_record_type_input">
	  	<label class=" label" for="search_query_record_type">
      <a href="#" class="tip2">Record type<span>The records can be Baptisms, Burials or Marriages. Leave blank to select all.</span></a><small class="additional">Select one or none</small> 
	    </label>
  		<select id="search_query_record_type" name="search_query[record_type]" class="select" selected="@search_query.chapman_codes[]">
  			<option value=""></option>
  			<% RecordType::OPTIONS.each_pair do |name, value| %>
  				<option value="<%=value%>"><%=name%></option>
			<% end %>
		</select>
	</li>
<% end %>
<%= f.inputs do %>
<li class="grid__item  one-quarter  palm-one-whole">
     <input type="hidden" name="search_query[inclusive]" id="search_query_record_inclusive" value="false">
    <label> <input type="checkbox" name="search_query[inclusive]" id="search_query_record_inclusive" value="true"><a href="#" class="tip2"> Search family members?<span>Check if you wish to include family members with the same name as you entered for the specific event</span></a></label>
 </li>
 <li class="grid__item  one-quarter  palm-one-whole">
     <input type="hidden" name="search_query[search_nearby_places]" id="search_query_record_search_nearby_places" value="false">
    <label> <input type="checkbox" name="search_query[search_nearby_places]" id="search_query_record_search_nearby_places" value="true"><a href="#" class="tip2"> Search nearby places?<span>Check if you wish to search additional places to the vicinity of the one selected starting place</span></a></label>
 </li>    
 <li class="grid__item  one-quarter  palm-one-whole">
     <input type="hidden" name="search_query[fuzzy]" id="search_query_record_fuzzy" value="false">
    <label> <input type="checkbox" name="search_query[fuzzy]" id="search_query_record_fuzzy" value="true"><a href="#" class="tip2"> Soundex Search on Surnames?<span>Check if you wish to include Soundex equivalents of the names</span></a></label>
 </li>

 
    <%= f.action :submit, 
    			:as => :button, 
    			:label => 'Search',
    			:button_html => { :class => "btn", :type => 'submit' }, 
     		  	:wrapper_html => { :class => "grid__item  one-quarter text--right" }  %>

<% end %>
<% end %>


</section>


<script type="text/javascript" charset="utf-8" >
	<% if @search_query && @search_query.chapman_codes.size > 0 %>
	    var selection=<%= raw(PlaceCache.where(:chapman_code => @search_query.chapman_codes.first).first.places_json) %>;
     	<% if @search_query.places.size > 0 %>
			selection["selected"]="<%= @search_query.places.first.id %>";	 
		<% end %>
	<% end %>

	
	(function($) {$("#search_query_place_ids").remoteChained({
	  parents : "#search_query_chapman_codes",
	  url : "/places/for_search_form.json",
	  loading : "Loading..."
	  <% if @search_query && @search_query.chapman_codes.size > 0 %>
	  , bootstrap: selection
	  <% end %>
	});})(jQuery);


	
</script>

