<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<div class='grid'>
  <div class='grid__item one-whole lap-one-whole palm-one-whole push-half--bottom'>
    <div class='result_text'>
      FreeBMD tries to ensure the results are an accurate transcription of the GRO Index but errors exist in the index and our transcription of it. You are advised to take this into account in your use of the information found and we have some help on doing that.
    </div>
  </div>
</div>
<% unless defined?(@printable_format) && @printable_format %>
  <div class='grid'>
    <div class="grid__item one-half lap-one-whole palm-one-whole">
      <%= link_to "Download", '#', :class => "btn btn--small bordered push-half--right" %>
      <%= link_to "Save Search", '#', :class => "btn   btn--small bordered push-half--right" %>
      <%= link_to "Printable Format", show_print_version_search_query_path, class: "btn   btn--small bordered push-half--right" %>
    </div>
    <div class="grid__item one-quarter lap-one-whole palm-one-whole">
      Display <%= select_tag :per_page, options_for_select([10,20,50], :selected=>params[:per_page]), class: 'date_year'%> per page.
    </div>
  </div>
<% end %>
<section>
  <section class="island" >
    <h1 class="accessibility">Search Results</h1>
    <div class="table-wrapper bmd_search_results_table" id="search-result">
      <table class="search_results_table" border='0' >
        <thead>
          <tr>
            <% unless print_friendly %>
              <th>Detail</th>
            <% end %>
            <th>
              <%= link_to_unless(print_friendly, 'Surname',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::SURNAME)) %>
            </th>
            <th>
              <%= link_to_unless(print_friendly, 'Firstname(s)',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::FIRSTNAME)) %>
            </th>
            <th>
              <%= link_to_unless(print_friendly, 'Date',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_DATE)) %>
            </th>
            <th>
              <%= link_to_unless(print_friendly, 'Record Type',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_RECORD_TYPE)) %>
            </th>
            <th>
              <%= link_to_unless(print_friendly, 'District',
            reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::DISTRICT)) %>
            </th>
              <%= content_tag(:th, "M/S/A/D #{app_icons[:info]}".html_safe, title: info_tag_text[:m_s_a_d], 'aria-details': info_tag_text[:m_s_a_d]) %>
          </tr>
        </thead>
        <tbody>
          <% n = 0 %>
          <% search_results.each do |search_record| %>
            <% n = n +1%>
            <%# raise search_record[:RecordTypeID].inspect%>
            <% record_type = RecordType::display_name(["#{search_record[:RecordTypeID]}"])%>
            <tr id="<%=search_record[:_id]%>" class="<%= record_type.downcase %>">
              <% unless print_friendly %>
                <td>
                  <%= link_to("<i class='fa fa-arrow-right view_arrow'></i> View #{n}".html_safe,friendly_bmd_record_details_path(@search_query.id,search_record.id, search_record.friendly_url), :rel => "nofollow", :title => "" )%>
                  <i><%= seen(@search_query,search_record) %></i>
                </td>
              <% end %>
              <td>
                <%= "#{search_record[:Surname]} " %>
              </td>
              <td>
                <%= "#{search_record[:GivenName]}" %>
              </td>
              <td>
              <%# raise QuarterDetails.quarters.inspect%>
                <%= "#{QuarterDetails.quarters.key((search_record[:QuarterNumber]-1)%4 + 1).upcase} #{(search_record[:QuarterNumber]-1)/4 + 1837}"%>
              </td>
              <td>
                <%= "#{record_type}" %>
              </td>
              <td>
                <%= "#{search_record[:District]}" %>
              </td>
              <td>
                <%= "#{search_record[:AssociateName]} #{search_record[:AgeAtDeath]}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</section>