<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<div class="container">
  <div class="grid" style="display: flex; overflow: unset;">
    <span class=''>Advertisement</span><br>
    <div class="grid__item one-whole push--top" style="display:flex;position:sticky;top:0;align-self:start;padding-top:25px;">
      <!-- GAM 71161633/FRBMD_freeregorg/freereg_hrec_1 -->
      <div data-fuse="22945846128"></div>
    </div>
  </div>
</div>
<h3 class="epsilon flush--bottom"><%= pluralize(@result_count, ' Exact Result', ' Exact Results') %>
  <small class="additional">
    Each link in the <q>Detail</q> column opens a page with all the information we have for that record.</small>
</h3>
<% search_results.each do |search_record| %>
  <div>
    <dl class="table-display">
      <dt>Detail</dt>
      <dd><%= link_to("Detail ", friendly_search_record_path(search_record.id, search_record.friendly_url, :search_id => @search_query, :ucf => false)) %>
        <i><%= viewed(@search_query,search_record)%></i></dd>
      <dt > Person or persons</dt>
      <dd ><% search_record.transcript_names.uniq.each_with_index do |name, i| %>
          <% if  name['type'] == 'primary' %>
            <% if i > 0 %>
              <br/>
            <% end%>
            <%= "#{name['first_name']} #{name['last_name']} " %>
          <% end %>
        <% end%>
      </dd>
      <dt><% unless print_friendly %><%= link_to('Type ', reorder_search_query_path(@search_query,
       :order_field => SearchQuery::SearchOrder::TYPE)) %><% else%> Person<% end%>
      </dt>
      <dd><%= RecordType::display_name(search_record.record_type) %></dd>
      <dt><% unless print_friendly %><%= link_to('Date ', reorder_search_query_path(@search_query,
         :order_field => SearchQuery::SearchOrder::DATE)) %><% else%> Date<% end%>
      </dt>
      <dd><%= raw(search_record.transcript_dates.first.gsub(' ', '&nbsp;')) unless search_record[:transcript_dates].empty? %></dd>
      <dt><% unless print_friendly %><%= link_to('County ', reorder_search_query_path(@search_query,
         :order_field => SearchQuery::SearchOrder::COUNTY)) %><% else%> County<% end%>
      </dt>
      <dd><%= county(search_record) %></dd>
      <dt><% unless print_friendly %><%= link_to('Place ', reorder_search_query_path(@search_query,
         :order_field => SearchQuery::SearchOrder::LOCATION)) %><% else%> Place<% end%>
      </dt>
      <dd><%= format_location(search_record) %></dd>
    </dl>
  </div>
<% end%>
<% if ucf_results.length > 0 %>
  <h3 class="epsilon flush--bottom"><%= pluralize(ucf_results.length, ' Additional possible result', 'Additional possible results') %> with records containing Uncertain Character Formatting entered by transcriber</h3>
  <% ucf_results.each do |search_record| %>
    <div>
      <dl class="table-display">
        <dt>Detail</dt>
        <dd><%= link_to("Detail ", friendly_search_record_path(search_record.id, search_record.friendly_url, :search_id => @search_query, :ucf => false)) %>
          <i><%= viewed(@search_query,search_record)%></i></dd>
        <dt > Person or persons</dt>
        <dd ><% search_record.transcript_names.uniq.each_with_index do |name, i| %>
            <% if  name['type'] == 'primary' %>
              <% if i > 0 %>
                <br/>
              <% end%>
              <%= "#{name['first_name']} #{name['last_name']} " %>
            <% end %>
          <% end%>
        </dd>
        <dt><% unless print_friendly %><%= link_to('Type ', reorder_search_query_path(@search_query,
       :order_field => SearchQuery::SearchOrder::TYPE)) %><% else%> Person<% end%>
        </dt>
        <dd><%= RecordType::display_name(search_record.record_type) %></dd>
        <dt><% unless print_friendly %><%= link_to('Date ', reorder_search_query_path(@search_query,
         :order_field => SearchQuery::SearchOrder::DATE)) %><% else%> Date<% end%>
        </dt>
        <dd><%= raw(search_record.transcript_dates.first.gsub(' ', '&nbsp;')) unless search_record[:transcript_dates].empty? %></dd>
        <dt><% unless print_friendly %><%= link_to('County ', reorder_search_query_path(@search_query,
         :order_field => SearchQuery::SearchOrder::COUNTY)) %><% else%> County<% end%>
        </dt>
        <dd><%= county(search_record) %></dd>
        <dt><% unless print_friendly %><%= link_to('Place ', reorder_search_query_path(@search_query,
         :order_field => SearchQuery::SearchOrder::LOCATION)) %><% else%> Place<% end%>
        </dt>
        <dd><%= format_location(search_record) %></dd>
      </dl>
    </div>
  <% end%>
<% end%>