<div class="table-wrapper">
  <% @search_results.each do |search_record| %>
    <% record_type = RecordType::display_name(["#{search_record[:RecordTypeID]}"])%>
    <% included_record_types = @search_query.bmd_record_type %>
    <table  >
      <colgroup >
      </colgroup>
      <tbody  >
        <tr>
          <th >Field</th>
          <th class="caps">Value</th>
        </tr>
        <tr id="<%=search_record.id%>">
          <td>
            <%= link_to('First Name', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::FIRSTNAME)) %>
            <%= link_to('Surname', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::SURNAME)) %>
          </td>

          <td>
              <%= link_to("#{search_record[:GivenName]} #{search_record[:Surname]}".html_safe,friendly_bmd_record_details_path(@search_query.id,search_record.id, search_record.friendly_url, search_entry: search_record.RecordNumber), :rel => "nofollow", :title => "")%>
              <i><%= seen(@search_query,search_record) %></i>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to('Record Type', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_RECORD_TYPE)) %>
          </td>
          <td>
            <%= "#{record_type}" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to('Registration Date', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_DATE)) %>
          </td>
          <td>
            <%= format_quarter_year(search_record.QuarterNumber) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to('Registration District', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::DISTRICT)) %>
          </td>
          <td>
            <% district = District.where(DistrictNumber: search_record[:DistrictNumber]).first %>
            <% if district.present? %>
              <%= link_to "#{search_record[:District]}", district_friendly_url_path(district.district_friendly_url, id: district.DistrictNumber, search_id: @search_query.id) %>
           <% else %>
             <%= search_record[:District] %>
           <% end %>
            <% if search_record.register_entry_number_format %>
              <% event_register_number = search_record.event_registration_number %>
              <% if event_register_number.present? %>
                <br /><%= event_register_number  %>
              <% end %>
            <% else %>
              <br/>Volume <%= search_record[:Volume] %> Page <%= search_record[:Page] %>
            <% end %>
          </td>
        </tr>
        <% if included_record_types[0] == "0" or included_record_types.include? "1" %>
          <tr>
            <td>
              <%= link_to('Mother\'s Maiden Name', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME)) %>
            </td>
            <td>
              <%= search_record[:AssociateName] if record_type == "BIRTHS" %>
            </td>
          </tr>
        <% end %>
        <% if included_record_types[0] == "0" or included_record_types.include? "3" %>
          <tr>
            <td>
              <%= link_to('Spouse\'s Surname', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_ASSOCIATE_NAME)) %>
            </td>
            <td>
              <%= search_record[:AssociateName] if record_type == "MARRIAGES" %>
            </td>
          </tr>
        <% end %>
        <% if included_record_types[0] == "0" or included_record_types.include? "2" %>
          <tr>
            <td>
              <%= link_to('Age at Death/Date of Birth', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::BMD_AGE_AT_DEATH)) %>
            </td>
            <td>
              <%= search_record[:AgeAtDeath] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end%>
</div>

      <div class='text--center inline-block'>
        <%= paginate @paginatable_array if @paginatable_array.present? %>
      </div>