<section class="island  grid  grid--double" >
  <% @search_results.each do |search_record| %>
    <div class="grid__item  two-thirds  palm-one-whole"> 
      <dl class="data">
        <dt class="data__name"><%= link_to('Participants', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::NAME)) %>
            <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Name of main person in the record. Click heading to sort by the name. </span></a></dt>
        <dd class="data__value"><% search_record.transcript_names.uniq.each_with_index do |name, i| %>
            <% if  name['type'] == 'primary' %>
              <% if i > 0 %>
                <br/>
              <% end%>
                <%= "#{name['first_name']} #{name['last_name']} " %>
              <% end %>
            <% end%></dd>
        
        <dt class="data__name"> <%= link_to('Type', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::TYPE)) %>
          <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Type of record. Click heading to sort by type</span></a></dt>
        <dd class="data__value">  <%= RecordType::display_name(search_record.record_type) %></dd>
        
        <dt class="data__name"><%= link_to('Date', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::DATE)) %>
          <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Date of event. Please note that calendar changed in 1752. Click heading to sort by the date</span></a></dt>
        <dd class="data__value"> <%= raw(search_record.transcript_dates.first.gsub(' ', '&nbsp;')) unless search_record.transcript_dates.empty?%></dd>
        
        <dt class="data__name"> <%= link_to('County', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::COUNTY)) %>
          <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>County in which event was recorded. Click heading to sort by the county</span></a></dt>
        <dd class="data__value">  <%= search_record.place.county %></dd>
        
        <dt class="data__name"><%= link_to('Location', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::LOCATION)) %>
          <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Place and Church in which event was recorded. Click heading to sort by the location</span></a></dt>
        <dd class="data__value"><%= format_location(search_record) %></dd>
        <dt class="data__name">Detail <a href="#" class="right_tooltip"><%= image_tag 'info.png', alt: 'Information', height: '16' %><span>Click on the detail link to get transcription details</span></a></dt>
        <dd class="data__value"><%= link_to("Detail", search_record_path(search_record, :search_id => @search_query)) %>
          <% if session[:viewed] %>
            <i>
          <%= "(viewed)" if session[:viewed].include?("#{search_record.id}") %>
            </i>
          <% end %></dd>
      </dl>
      <hr>
    </div>
  <% end%>
</section>