<style>
	@media only screen and (max-width: 700px) {
	  .nav_div {
	    flex-flow: column wrap;
	    flex-direction: column;
	  }
	}
	@media only screen and (min-width:700px){
	  .nav_div {
	    flex-direction: row;
	  }
	}
</style>
<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<% unless print_friendly %>
 	<div class="grid">
	  <div class="grid__item one-whole lap-one-whole palm-one-whole push-half--bottom nav_div" style="display:flex; justify-content: space-evenly;">
			<%= link_to "View Search Criteria", '#', class: "" , id: "view_search_criteria", style: "text-decoration: underline double; text-decoration-thickness: 2px; text-decoration-color: teal; "%>
	    <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "", style: "text-decoration: underline double; text-decoration-thickness: 2px; text-decoration-color: teal; " %>
	    <%= link_to "New Search", new_search_query_path, :class => "", style: "text-decoration: underline double; text-decoration-thickness: 2px; text-decoration-color: teal; " %>
	    <% if @results_per_page.to_i <= 50 %>
				<%= link_to( '<i class="fas fa-print" style="padding-right:5px"></i>Print'.html_safe, "#", class: "", style: "text-decoration: underline double; text-decoration-thickness: 2px; text-decoration-color: teal; ", :onclick => 'window.print();return false;') %>
				<%= link_to '<i class="fas fa-download" style="padding-right:5px"></i>Download as CSV'.html_safe, search_results_download_as_csv_path(@search_query, {page: @page, results_per_page: @results_per_page}), class: "", style: "text-decoration: underline double; text-decoration-thickness: 2px; text-decoration-color: teal; " %>
				<%= link_to '<i class="fas fa-download" style="padding-right:5px" ></i>Download as GEDCOM'.html_safe, search_results_download_as_gedcom_path(@search_query, {page: @page, results_per_page: @results_per_page}), class: "", style: "text-decoration: underline double; text-decoration-thickness: 2px; text-decoration-color: teal; " %>
			<% end %>
			<% if cookies.signed[:userid].present? %>
	      <%= link_to "Save this search", save_search_path(@search_query.id), class: "", style: "text-decoration: underline double; text-decoration-thickness: 2px; text-decoration-color: teal; ", method: "post" %>
	      <% if @save_search_id.present? %>
	        <%= link_to "Compare", compare_search_path(@search_query.id, saved_search_id: @save_search_id, compare_search: true), class: "", style: "text-decoration: underline double; text-decoration-thickness: 2px; text-decoration-color: teal; " %>
	      <% end %>
	    <% end %>
  	</div>
	</div>
<% end %>