<% unless defined?(@printable_format) && @printable_format %>
  <div class="text--center push--bottom" role="navigation" aria-label="Actions for the search results">
    <%= link_to "Revise Search", new_search_query_path(search_id: @search_query), class: "btn  btn--small"%>
    <%= link_to "New Search", new_search_query_path, :class => "btn  btn--small " %>
    <%= link_to("About This Query", about_search_query_path(@search_query, :page_number => @page_number), :class => "btn  btn--small") %>
    <% if @search_query.can_be_broadened? %>
      <%= link_to "Broaden Search", broaden_search_query_path(:search_id => @search_query) , :class => "btn  btn--small" %>
    <% end %>
    <% if @search_query.can_be_narrowed? %>
      <%= link_to "Narrow Search", narrow_search_query_path(:search_id => @search_query), :class => "btn  btn--small" %>
    <% end %>
    <% if device_type == :desktop || device_type == :tablet %>
      <%= link_to "Printable Format", show_print_version_search_query_path , :class => "btn  btn--small" %>
    <% end %>
  </div>
<% end %>