  <h2 class="gamma text--negative push-half--bottom">No results found</h2>
  <p class= "push-half--bottom"><b>Maybe you need to change your search?</b><br>
    See our <%= link_to "Help", "/cms/help", :title => "Help" %> for advice on how to get the most out of your searches.</p>
  <b>Maybe you were searching for records that we do not have?</b>
  <% case MyopicVicar::Application.config.template_set%>
  <% when'freereg' %>
  <p class= "read-length push-half--bottom">See the <%= link_to "Records", "/freereg_contents/new?locale=en", :title => "Records"  %> section for details of the places and years we have transcribed. This includes lists of the actual names used in the registers which could help you consider alternative spellings.<br>
    Some reasons for missing records:
    <ul>
      <li>we have yet to transcribe the register images. Could you <%= link_to 'Volunteer', "/cms/opportunities-to-volunteer-with-freereg"%>?</li>
      <li>we do not have the financial resources to purchase the registers images. Could you <%= link_to 'Donate', "https://www.freeukgenealogy.org.uk/help-us-keep-history-free"%>?</li>
      <li>there are gaps in the registers, or they no longer exist</li>
      <li>some registers remain in the possession of the church</li>
      <li>the transcriptions are subject to an embargo on their publication</li>
      <li>General Register Office won’t permit us to acquire copies of the registers</li>
    </ul>
  </p>
  <% when'freecen' %>
  <p class= "read-length push-half--bottom">See the <%= link_to "Records", "/freecen2_contents?locale=en", :title => "Records"  %> section for details of the places and census years we have transcribed so far. This includes lists of the actual names used in the documents which could help you consider alternative spellings.</br>Some reasons for missing records:
  <ul>
    <li>we have yet to transcribe the census images. Could you <%= link_to 'Volunteer', "/cms/opportunities-to-volunteer-with-freecen"%>?</li>
    <li>we do not have the financial resources to purchase the census images. Could you <%= link_to 'Donate', "https://www.freeukgenealogy.org.uk/help-us-keep-history-free"%>?</li>
    <li>some records were lost before they were archived or reached General Register Office</li>
    <li>the transcriptions are subject to an embargo on their publication</li>
    <li>we do not have permission to transcribe some records</li>
  </ul>
</p>
<% when'freebmd' %>
<p class= "read-length push-half--bottom">See the <%= link_to "Records", "/districts/alphabet_selection?locale=en", :title => "Records"  %> section for details of the events and years we have transcribed so far.<br>
  Some reasons for missing records:
  <ul>
    <li>we have yet to transcribe the relevant index images. Could you  <%= link_to 'Volunteer', "/cms/opportunities-to-volunteer-with-freebmd"%>?</li>
    <li>a complete index page was missed during scanning or transcription</li>
    <li>one or more entries within an index page were missed by the transcriber</li>
    <li>some records were lost before they were archived or reached the General Register Office</li>
    <li> we have not yet been given access to the most recent records at the General Register Office</li>
    <li>we do not have permission to transcribe some records</li>
  </ul>
</p>
<% end%>
