<div class='container push--bottom'>
  <div class="desk-wide-seven-tenths desk-seven-tenths lap-seven-tenths palm-one-whole">
    <p class="weight--semibold">We found <%= pluralize(@result_count, ' result', ' results') %> for <%= @search_query[:first_name] %> <%= @search_query[:last_name] %></p>
    <hr/>

    <%= form_tag search_query_path(@search_query), method: :get, id: 'filter_form' do %>
        <% if @search_query.bmd_record_type.count > 1 %>
          <% filter_hash = RecordType::FREEBMD_TYPES.select{|k, v| @search_query.bmd_record_type.include? v }%>
          <div class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole">
            <%= label_tag 'filter_results', 'Filter By' %>
            <%= select_tag(:filter_option, options_for_select(filter_hash.to_a, selected: @filter_condition), {:prompt => "Filter By", id: 'filter_results', tabindex: "0"}) %>
          </div>
        <% end %>
        <div class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole">
          <%= label_tag 'sort_results', 'Sort By' %>
          <%#= select_tag(:sort_option, options_for_select([['First Name(s)', "GivenName"], ['Surname', "Surname"], ['Record Type', "RecordTypeID"], ['Quarter', "QuarterNumber"], ['District', "District"]], selected: @sort_condition), {:prompt => "Sort By", id: 'sort_results', tabindex: "0"}) %>
          <%= select_tag(:sort_option, options_for_select([['Year', "QuarterNumber"], ['District', "District"], ['First Name(s)', "GivenName"], ['Surname', "Surname"]], selected: @sort_condition), {:prompt => "Select", id: 'sort_results', tabindex: "0"}) %>
        </div>

        <div class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole">
          <%= label_tag 'results_per_page', 'Show' %>
          <%= select_tag :results_per_page, options_for_select([5,20,40,60,80,100], selected: @results_per_page), id: 'results_per_page', tabindex: 0 %>
        </div>
        <div class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole">
          <%= button_tag 'Apply', class: 'spinner-controller ladda-button push--top update_results' , id: 'filter_form_submit', data: {style: "zoom-out", color: appname.downcase, size: "s", "spinner-color" => "#ffffff"}%>
        </div>
      </div>
    <% end %>
    <%# raise @search_query.inspect %>
      <!--div class="grid__item desk-wide-one-half desk-one-half lap-one-half palm-one-half  float--right">
        <%#= form_tag search_query_path(@search_query), method: :get, id: 'limit_form', class: "" do %>
          <%#= label_tag 'show', 'Show' %>
          <div class="grid__item desk-wide-two-thirds desk-three-thirds lap-one-whole palm-one-whole">
            <%#= select_tag :results_per_page, options_for_select([5,20,40,60,80,100], selected: @results_per_page), id: 'results_per_page'%>
          </div>
          <div class="grid__item desk-wide-one-third desk-one-third lap-one-whole palm-one-whole">
            <%#= button_tag 'Filter', type: 'submit', class: ' kittumani spinner-controller ladda-button' , id: 'filter_form_submit', data: {color: appname.downcase, size: "s", "spinner-color" => "#ffffff"}%>
            <%#= submit_tag "Filter", class: 'ladda-button spinner-controller', id: 'submit_filter'%>
          </div>
        <%# end %>
      </div-->
  </div>
</div>