<div class='container push--bottom'>
  <div class="grid">
    <div class="desk-wide-seven-tenths desk-seven-tenths lap-seven-tenths palm-one-whole print_only">
      <h2 class="weight--bold print">Search Results</h2><br />
      <span class="weight--semibold">We found <%= pluralize(number_with_delimiter(@result_count, :delimiter => ','), ' result', ' results') %> for <%= titleize_string(@search_query[:first_name])  %> <%= upcase_string(@search_query[:last_name]) %></span>
      <hr/>
      <%= form_tag search_query_path(@search_query), method: :get, id: 'filter_form' do %>
        <div class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole hard--left">
          <%= label_tag 'results_per_page', 'Show' %>
          <%= select_tag :results_per_page, options_for_select([50,100,200], selected: @search_query[:results_per_page]), id: 'results_per_page', tabindex: 0 %>
        </div>
        <div class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole push-half--bottom">
          <%= button_tag 'Apply', class: 'spinner-controller ladda-button push--top update_results' , id: 'filter_form_submit', data: {style: "zoom-out", color: appname.downcase, size: "s", "spinner-color" => "#ffffff"}%>
        </div>
      <% end %>
      <div class="grid__item desk-wide-two-quarters desk-two-quarters lap-one-whole palm-one-whole hard--left no_print">
        <section class="islet islet--light soft--left">
          <small class="additional zeta no_print">Select a heading to sort by that column; select again to reverse the order.</small>
        </section>
      </div>
    </div>
  </div>
</div>