<div style="text-align: center">
  <h1>Show Query</h1>
</div>
<div class="grid__item ">
  <table   class="table--bordered  table--data">
    <colgroup >
      <col class=t40>
      <col class=t60>
    </colgroup>
    <tr>
      <th class="caps">Field</th>
      <th  class="caps">Value</th>
    </tr>
    <tr>
      <td>ID :</td>
      <td class="weight--semibold"> <%= @search_query.id %></td>
    </tr>
    <tr>
      <td>Run at :</td>
      <td class="weight--semibold"> <%= @search_query.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>
    <tr>
      <td>first name :</td>
      <td class="weight--semibold"> <%= @search_query.first_name%></td>
    </tr>
    <tr>
      <td>last name :</td>
      <td class="weight--semibold"> <%= @search_query.last_name %> </td>
    </tr>
    <tr>
      <td>fuzzy :</td>
      <td class="weight--semibold"> <%= @search_query.fuzzy %>  </td>
    </tr>
    <tr>
      <td>role :</td>
      <td class="weight--semibold"> <%= @search_query.role %>  </td>
    </tr>
    <tr>
      <td>record type :</td>
      <td class="weight--semibold"> <%= @search_query.record_type %>  </td>
    </tr>
    <tr>
      <td>Birth county :</td>
      <td class="weight--semibold"><%= @search_query.birth_chapman_codes %> </td>
    </tr>
    <tr>
      <td>Birth place :</td>
      <td class="weight--semibold"><%= @search_query.birth_place_name %> </td>
    </tr>
    <tr>
      <td>Census county :</td>
      <td class="weight--semibold"><%= @search_query.chapman_codes %> </td>
    </tr>
    <tr>
      <td>Census district :</td>
      <td class="weight--semibold"><%= place_name_from_id(@search_query.place_ids) %> </td>
    </tr>
    <tr>
      <td>inclusive :</td>
      <td class="weight--semibold"><%= @search_query.inclusive %> </td>
    </tr>
    <tr>
      <td>start year :</td>
      <td class="weight--semibold"><%= @search_query.start_year %> </td>
    </tr>
    <tr>
      <td>end year :</td>
      <td class="weight--semibold"> <%= @search_query.end_year%></td>
    </tr>
    <tr>
      <td>place system :</td>
      <td class="weight--semibold"><%= @search_query.place_system %> </td>
    </tr>
    <tr>
      <td>radius factor :</td>
      <td class="weight--semibold"> <%= @search_query.radius_factor %>  </td>
    </tr>
    <tr>
      <td>search nearby places :</td>
      <td class="weight--semibold"> <%= @search_query.search_nearby_places %>  </td>
    </tr>
    <tr>
      <td>Nearby search place(s) :</td>
      <td class="weight--semibold"><%= place_name_from_id(@search_query.all_radius_place_ids) %> </td>
    </tr>
    <tr>
      <td>result count :</td>
      <td class="weight--semibold"> <%= @search_query.result_count %>  </td>
    </tr>
    <tr>
      <td>ucf filtered count :</td>
      <td class="weight--semibold"><%= @search_query.ucf_filtered_count %> </td>
    </tr>
    <tr>
      <td>runtime :</td>
      <td class="weight--semibold"><%= @search_query.runtime %> </td>
    </tr>
    <tr>
      <td>ucf runtime :</td>
      <td class="weight--semibold"><%= @search_query.runtime_ucf%> </td>
    </tr>
    <tr>
      <td>search index :</td>
      <td class="weight--semibold"><%= @search_query.search_index%> </td>
    </tr>
  </table>
</div>