<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<% unless print_friendly %>
  <%= render(partial: app_specific_partial("search_result_form")) %>
<% end %>
<% if device_type == :desktop || device_type == :tablet %>
  <!--div class="container"-->
    <% if print_friendly %>
      <div class="grid">
        <div class="grid__item one-whole lap-one-whole palm-one-whole push-half--bottom ">
          <div class="accessibility">
          <%= link_to "Print", "#", class: "btn   btn--small", :onclick => 'window.print();return false;' %>
          </div>
        </div>
      </div>
    <% end %>
    <!--div class="grid"-->
      <div class="grid__item desk-wide-seven-tenths desk-one-whole lap-one-whole palm-one-whole" id='bmd_results'>
        <div class="desk-wide-one-whole desk-one-whole lap-one-whole palm-one-whole">
          <span class="weight--semibold">We found <%= pluralize(number_with_delimiter(@result_count, :delimiter => ','), ' result', ' results') %> for <%= titleize_string(@search_query[:first_name])  %> <%= upcase_string(@search_query[:last_name]) %>
          </span>
          <hr/>
        </div>
        <% if @search_query.result_truncated %>
          <%= render(partial: "freebmd_too_many_results") %>
        <% end %>
        <div class="grid__item desk-one-whole lap-one-whole palm-one-whole hard--left">
          <%= form_tag search_query_path(@search_query), method: :get, id: 'filter_form' do %>
            <div class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole hard--left">
              <%= label_tag 'results_per_page', '<span class="accessibility">Number of results to </span>'.html_safe+'Show' %>
              <%= select_tag :results_per_page, options_for_select([50,100,200], selected: @results_per_page), id: 'results_per_page', tabindex: 0 %>
            </div>
            <div class="grid__item desk-wide-one-quarter desk-one-quarter lap-one-half palm-one-whole">
              <%= button_tag 'Apply', class: 'spinner-controller ladda-button push--top update_results' , id: 'filter_form_submit', data: {style: "zoom-out", color: appname.downcase, size: "s", "spinner-color" => "#ffffff"}%>
            </div>
          <% end %>
          <div class="grid__item desk-wide-two-quarters desk-two-quarters lap-one-whole palm-one-whole hard--left no_print push-half--top">
            <section class="islet islet--light soft--left">
              <span class="additional no_print" style="font-size: 15px;">Select a heading to sort by that column; select again to reverse the order.</span>
            </section>
        </div>
      </div>
        <%= render(partial: app_specific_partial("desktop"), locals: { search_results: @paginatable_array, first_name: @search_query.first_name, last_name: @search_query.last_name, ucf_results: false})  %>
      </div>
      <% unless print_friendly %>
        <% if device_type == :desktop %>
          <% first_name = @search_query.try(:first_name).to_s %>
          <% last_name  = @search_query.try(:last_name).to_s %>
          <% iframe_src = "https://www.myheritage.com/FP/partner-widget.php?" +
                          "partnerName=freereg&clientId=4672&campaignId=freereg_recordwidget_may22&" +
                          "widget=records_carousel&width=160&height=600&onSitePlacement=160x600+Records+Carousel+freereg&" +
                          "tr_ifid=freereg_8035265&firstName=#{ERB::Util.url_encode(first_name)}&lastName=#{ERB::Util.url_encode(last_name)}" +
                          "&tr_device=&size=160x600" %>
          <% iframe_src_square = "https://myheritagewidgets.com/widgets/iframe?firstName=#{first_name}&lastName=#{last_name}&adID=NkKer6rXHZIysKJX&clientId=4742&partnerName=freebmd&dimensions=300x250"  %>
          <% iframe_src_tall = "https://www.myheritagewidgets.com/widgets/iframe?firstName=#{first_name}&lastName=#{last_name}&adID=uud54WaX7rXpPTt1&clientId=4742&partnerName=FreeBMD&dimensions=160x600" %>

      <% show_large_ad = @search_results.size > 6 %>
          <div class="grid__item <%= show_large_ad ? 'three-tenths' : 'two-tenths' %> lap-two-tenths palm-one-whole text--right push--left" id="results_table_ad" style="<%= show_large_ad ? 'flex-direction: column;' : '' %>">
            <% if show_large_ad %>
              <h2 class="text--center" style="font-size:12pt;">Advertisements</h2>
              <!-- GAM 71161633/FRBMD_freebmd2orguk/Vrec_Sticky -->
              <div data-fuse="Vrec_Sticky"></div>
              <div class="float--right push--top">
                <iframe src="<%= iframe_src_tall %>" width='160' height='600' widget='records' frameborder='0' scrolling= 'no'></iframe>
                <!--iframe src="<%= iframe_src_square %>" width="300" height="250" widget="records" frameborder="0" scrolling= "no"></iframe-->
              </div>
              <div class="float--right push--top" style="display:flex;position:sticky;top:0;align-self:start;">
                <!-- GAM 71161633/FRBMD_freebmd2orguk/Vrec_Sticky -->
                <div data-fuse="Vrec_Sticky"></div>
              </div>
            <% else %>
              <div class="ad-center">
                <h2 class="text--right" style="font-size:12pt;">Advertisement</h2>
                <iframe src="<%= iframe_src_tall %>" width='160' height='600' widget='records' frameborder='0' scrolling= 'no'></iframe>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="grid__item one-whole hard--left">
    <%= render(partial: app_specific_partial("mobile"), locals: { search_results: @paginatable_array, first_name: @search_query.first_name, last_name: @search_query.last_name, ucf_results: false})  %>
  </div>
</div>
</div>
<% end %>