<section class="island  ">
  <div class="grid">

<h2>About This Query</h2>
<div id="nav">
	<ul>
	  <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  btn--small  float--right" %>
		<%= link_to "New Search", new_search_query_path, :class => "btn  btn--small  float--right" %>
		<%= link_to "Back", search_query_path(@search_query ), :class => "btn  btn--small  float--right"%>
	</ul>
</div>

<p>How did your query match against the FreeREG database?</p>

<h3>Name</h3>

<p>
	Search Criteria: <br>
	<b>First Name</b> is <b><i><%= @search_query.first_name.blank? ? "blank" : @search_query.first_name.upcase %></i></b>,
	<b>Last Name</b> is <b><i><%= @search_query.last_name.blank? ?  "blank" : @search_query.last_name.upcase %></i></b>.
	<b>Exact matching</b> is <b><i><%= @search_query.fuzzy ? "disabled" : "enabled" %></i></b>
</p>
<p>
	Search Logic:
	<% if @search_query.first_name %>
		Records with a first name of <b><i><%= @search_query.first_name.upcase %></i></b> (ignoring capitalization)
		<% if @search_query.fuzzy %>
			and records with a first name whose soundex is <%= fuzzy(@search_query.first_name)%>
		<% end %>.
		<% emendations = EmendationRule.where(:replacement => @search_query.first_name.upcase).all.to_a %>
		<% if emendations && emendations.size > 0 %>
			In addition, match records whose first name is
			<b><i><%= raw(emendations.map{|e| e.original }.join("</i></b> or <b><i>")) %> </i></b> (ignoring capitalization).
		<% end %>
	<% end %>
	<% if @search_query.last_name %>
		<br />Records with a last name of <b><i><%= @search_query.last_name.upcase %></i></b> (ignoring capitalization)
		<% if @search_query.fuzzy %>
			and records with a last name whose soundex is <%= fuzzy(@search_query.last_name)%>
		<% end %>
	<% end %>
</p>

<h3>Date</h3>
<p>
	<% unless @search_query.start_year.blank? && @search_query.end_year.blank? %>
		Search Criteria:
		<% if @search_query.start_year %>
			<b>Start Year</b> is <b><i><%= @search_query.start_year %></i></b>.
		<% end %>

		<% if @search_query.end_year %>
			<b>End Year</b> is <b><i><%= @search_query.end_year %></i></b>.
		<% end %>
	<% else %>
		<i>No date criteria specified.</i>
	<% end %>
</p>
<% if @search_query.start_year.present? || @search_query.end_year.present? %>
	<p>
		Search Logic:<br>
		Records with dates
    <% if @search_query.start_year.present? %>
      <b><i>on or after <%= format_start_date(@search_query.start_year) %></i></b> (New Style)
      <% if @search_query.end_year.present? %>
        and dates
      <% end %>
    <% end %>
    <% if @search_query.end_year.present? %>
      <i><b>before <%= format_end_date(@search_query.end_year) %></i></b> (New Style).
    <% end %>
	</p>
<% end %>

<% if MyopicVicar::Application.config.template_set == 'freereg' %>
<h3>Records</h3>

<% if @search_query.record_type %>
<%= RecordType::display_name(@search_query.record_type) %> records were specified.
<%else%>
 All three record types, Baptisms, Burials and Marriages were included.
 <%end%>
</p>
<% end %>

<h3>Location</h3>

<% if @search_query.radius_search? %>
	<p>
		Search Criteria:
			<b>Search additional places</b>
			near
			<b><%= @search_query.places.map {|pl| pl.place_name }.join(" or ")%></b>
			in
			<b><%= ChapmanCode.name_from_code(@search_query.chapman_codes[0])%></b>
	</p>
	<p>
		Search Logic:
			We have records within these places:
			<ul>
				<% @search_query.all_radius_places.each do |near_place| %>
					<li>
						<%= near_place.place_name %> (<%= near_place.county%>)   (<%= near_place.geo_near_distance.to_i %> <%=Place::MeasurementSystem::system_to_units(@search_query.place_system)%>)
					</li>
				<% end %>
			</ul>
	</p>
<%else%>
  <p>The following counties were included in the search:
   <% @search_query.chapman_codes.each do |chapman| %>
    <b><%=ChapmanCode.name_from_code(chapman)%></b>
   <%end%>

  <% place = @search_query.places.map {|pl| pl.place_name} %>
  <% unless place.nil? %>
    and <b>all places</b> with data in the selected counties were included.
  <%else%>
    and the place with the name <b><%= place[0]%></b> was selected.
  <%end%>
<%end%>
</p>
 </div>
</section>
