<% title "Search Query" %>
<%= render "flash_notice" %>
<% unless @page.nil?%>
  <div style="text-align: center">
    <%= @page%>
  </div>
<% end%>
<% case appname_downcase %>
<% when 'freereg' %>
  <div class="grid__item one-whole">
    <div class = "adsense_box push--ends reg_adsense">
      <p class = "text--center">Advertisement</p>
      <div data-fuse="22945844442"></div>
    </div>
  </div>
  <h1 class="title text--center">Search our Parish Registers</h1>
  <%= render 'form_freereg' %>
<% when 'freecen' %>
  <h1 class="title text--center">Search our Census Records</h1>
  <% if Rails.application.config.freecen2_place_cache %>
    <%= render 'form_freecen_freecen2' %>
  <% else%>
    <%= render 'form_freecen' %>
  <% end%>
<% when 'freebmd' %>
  <h1 class="title text--center">Search our Birth/Marriage/Death Records</h1>
  <%= render 'form_freebmd' %>
<% end %>