<% title "Search Query" %>
<%= render "flash_notice" %>
<% unless @page.nil?%>
  <div style="text-align: center">
    <%= @page%>
  </div>
<% end%>
<% case appname_downcase %>
<% when 'freereg' %>
  <%= horz_advert('22945844442') %>
  <h1 class="title text--center">Search our Parish Registers</h1>
  <%= render 'form_freereg' %>
<% when 'freecen' %>
  <h1 class="title text--center">Search our Census Records</h1>
  <% if Rails.application.config.freecen2_place_cache %>
    <%= render 'form_freecen_freecen2' %>
  <% else%>
    <%= render 'form_freecen' %>
  <% end%>
<% when 'freebmd' %>
  <h1 class="title text--center">Search our Birth/Marriage/Death Records</h1>
  <%= render 'form_freebmd' %>
<% end %>