<% breadcrumb :search_query_report %>
<% title "Search Query Report" %>
<style>
  th.sticky-header {
   position: -webkit-sticky; /* Safari */
   position: sticky;
   background-color: yellow ;
   color: blue;
   top: 0;
   z-index: 10;
   box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.06);
   &:focus,
   &:hover {
           background: #fff;
           color: $project-color;
           outline: 5px solid #fff;
           text-decoration: none;
         }
  
  }
</style>
<h1>Search Performance Reporting</h1>
<div id="nav">
  <ul>
    <% if @session_id %>
      <% if @feedback %>
        <li>
          <%= link_to("Feedback #{@feedback.title}", feedback_path(@feedback))%>
        </li>
      <% end %>
    <% else %>
      <li>
        <%= link_to("Previous Day", search_query_report_path(:day => @previous_day))%>
      </li>
      <li>
        <%= link_to("Next Day", search_query_report_path(:day => @next_day))%>
      </li>
      <li>
        <%= link_to("Select Specific Query", select_search_query_report_path)%>
      </li>
      <li> <%= @number%> searches for the period</li>
    <% end %>
  </ul>
</div>
<% if @session_id %>
  <p>
    Listing queries from session <%= @session_id %>.
    <% if @feedback %>
      <br />
      Problem reported at <b><%= @feedback.feedback_time.strftime("%Y-%m-%d %H:%M:%S") %></b>
    <% end %>
  </p>
<% else %>
  <p>
    Listing the longest-running queries for
    <b><%= @start_day %></b><br />
  </p>
<% end %>
<p>The 'Analyze' button will re-execute the query and analyze it. The maximum permitted search time is <%= Rails.application.config.max_search_time%> ms</p>
<h2>Queries</h2>
<% number = 0 %>
<div class="scrollable ">
  <table class=" table--bordered my-width table--data just--left" >
    <thead>
      <th class='sticky-header'>Search</th>
      <th class='sticky-header'> Show Query
      </th>
      <th class='sticky-header'>
        Query Overview
      </th>
      <% if @feedback %>
        <th class='sticky-header red'>
          <%= link_to("Run Time (ms)", search_query_report_path(:feedback_id => @feedback, :order => "runtime")) %>
        </th>
        <th class='sticky-header red'>
          <%= link_to("Start Time", search_query_report_path(:feedback_id => @feedback, :order => "updated_at")) %>
        </th>
        <th class='sticky-header red'>
          <%= link_to("Results Found", search_query_report_path(:feedback_id => @feedback, :order => "result_count")) %>
        </th>
        <th class='sticky-header'>
          Index used
        </th>
      <% else %>
        <th class='sticky-header'>
          <%= link_to("Run Time (ms)", search_query_report_path(:day => @start_day, :order => "runtime")) %>
        </th>
        <th class='sticky-header'>
          <%= link_to("Start Time", search_query_report_path(:day => @start_day, :order => "updated_at")) %>
        </th>
        <th class='sticky-header'>
          <%= link_to("Results Found", search_query_report_path(:day => @start_day, :order => "result_count")) %>
        </th>
        <th class='sticky-header'>
          Index used
        </th>
      <% end %>
    </thead>
    <tbody>
      <% @search_queries.each do |query| %>
        <% number = number + 1 %>
        <tr>
          <td><%= number %></td>
          <td><%= button_to("Show", show_query_search_query_path(query), :method=>:get, :class => "btn   btn--small") %>
            <td>
              <% search_params_for_display(query).each do |name, value| %>
                <%= name %>: <strong><%= value %></strong><br />
              <% end %>
            </td>
            <td><b><%= query.runtime %></b></td>
            <td><%= query.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= query.result_count %></td>
            <td><%= query.search_index %></td>
            <td>
              <%= button_to("Analyze", analyze_search_query_path(query), :method=>:post, :class => "btn   btn--small") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>