
<h1>Performance Reporting</h1>
<div id="nav">
	<ul>
		<li>
			<%= link_to("Previous Day", search_query_report_path(:day => @start_day.yesterday.strftime("%Y-%m-%d")))%>
		</li>
		<li>
			<%= link_to("Next Day", search_query_report_path(:day => @start_day.tomorrow.strftime("%Y-%m-%d")))%>
		</li>
	</ul>
</div>

<p>Listing the longest-running queries from <b><%= @start_time.strftime("%Y-%m-%d %H:%M:%S") %></b> to <b><%= @end_time.strftime("%Y-%m-%d %H:%M:%S") %> (GMT<%= @end_day.zone %>)</b><br />
</p>
<p>The 'Analyze' button will re-execute the query and analyze it.</p>


<h2>Queries</h2>



<table>
	<thead>
		<th>
			Query
		</th>
		<th>
			<%= link_to("Run Time (ms)", search_query_report_path(:day => @start_day.strftime("%Y-%m-%d"), :order => "runtime")) %>
		</th>
		<th>
			<%= link_to("Start Time", search_query_report_path(:day => @start_day.strftime("%Y-%m-%d"), :order => "updated_at")) %>
		</th>
		<th>
			<%= link_to("Results Found", search_query_report_path(:day => @start_day.strftime("%Y-%m-%d"), :order => "result_count")) %>
		</th>
		<th>&nbsp;</th>
	</thead>
	<tbody>
		<% @search_queries.each do |query| %>
		 	<tr>
		 		<td>
					<% search_params_for_display(query).each do |name, value| %>
						<%= name %>: <strong><%= value %></strong><br />
					<% end %>
	 			</td>
	 			<td><b><%= query.runtime %></b></td>
	 			<td><%= query.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
	 			<td><%= query.result_count %></td>
		 		<td>
		 			<%= button_to("Analyze", analyze_search_query_path(query), :method=>:post)%>
		 		</td>
	 		</tr>
		<% end %>
		
	</tbody>
</table>


