
 <% if flash[:green] %>
    <div id="success" style="color:green"><br>
	   <%= flash[:notice] %>  <% flash[:green] = nil%> <br>
    </div>
<% end %>
<div id="nav">
<h2 class="text--center"><%= @search_query.result_count %> Search Results</h2>
  <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  btn--small  float--right" %>
		<%= link_to "New Search", new_search_query_path, :class => "btn  btn--small  float--right" %>
		<%= link_to("About This Query", about_search_query_path(@search_query, :page_number => @page_number), :class => "btn  btn--small  float--right")%>
		<% if @search_query.can_be_broadened? %>
		   <%= link_to "Broaden Search", broaden_search_query_path(:search_id => @search_query) , :class => "btn  btn--small  float--right"%>
	    <% end %>
	    <% if @search_query.can_be_narrowed? %>
		   <%= link_to "Narrow Search", narrow_search_query_path(:search_id => @search_query), :class => "btn  btn--small  float--right" %>
	    <% end %><br>
</div>

        <section class="island  island--light">
          <div class="criteria-group">
	<% search_params_for_display(@search_query).each do |name, value| %>
            <dl class="criteria">
              <dt class="criteria__name"><%= name %></dt>
              <dd class="criteria__value"><%= value %></dd>
            </dl>
	<% end %>
	       </div>
        </section>

<% if @search_results.size == 0 %>
    No results found!
<% else %>

    <table class="table--bordered ">	
   <colgroup >
     <col class=t15>
     <col class=t20>
     <col class=t10 >
     <col class=t10 >
     <col class=t15>
     <col class=t20>
     <col class=t10>
    </colgroup>

	<thead>
		<th>
			<%= link_to('Participants', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::NAME)) %>
		</th>
		<th>Family Members</th>
		<th>
			<%= link_to('Type', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::TYPE)) %>
		</th>
		<th>
			<%= link_to('Date', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::DATE)) %>
		</th>
		<th>
			<%= link_to('County', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::COUNTY)) %>
		</th>
		<th>
			<%= link_to('Location', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::LOCATION)) %>
		</th>
		<th>Details</th>
		<div class="pagination">
		 <%= paginate @search_results %>
		 </div> 
	</thead>
	<% @search_results.each do |search_record| %>
	    <tbody>
		<tr id="<%=search_record.id%>">
		    <td>
			<% search_record.transcript_names.uniq.each_with_index do |name, i| %>
				<% if  name['type'] == 'primary' %>
					<% if i > 0 %>
						<br/>
					<% end%>
					<%= "#{name['first_name']} #{name['last_name']} (#{NameRole::OPTIONS.invert[name['role']]})" %>
				<% end %>
			<% end%>
		    </td>
		    <td>
			<% search_record.transcript_names.reject{|n| n['type'] == 'primary' }.each_with_index do |name, i| %>
				<% if i > 0 %>
					<br/>
				<% end%>
				<%= raw("#{name['first_name']}&nbsp;#{name['last_name']}") %>
				<%= raw("(#{NameRole::OPTIONS.invert[name['role']].gsub(' ', '&nbsp;')})") %>
			<% end%>
		    </td>
		    <td>
			<%= RecordType::display_name(search_record.record_type) %>
		    </td>
		    <td>
			<%= raw(search_record.transcript_date.gsub(' ', '&nbsp;')) unless search_record.transcript_date.nil?%>
		    </td>
		    <td>
			<%= ChapmanCode::name_from_code(search_record.chapman_code) %>
		    </td>
		    <td>
			<%= format_location(search_record) %>
		    </td>
		    <td>
			<%= link_to("Details", search_record_path(search_record, :search_id => @search_query, :page_number => @page_number)) %>
			<% if session[:viewed] %>
			    <i>
			    	<%= "(viewed)" if session[:viewed].include?("#{search_record.id}") %>
			    </i>
			<% end %>
		    </td>
		</tr>	
	    </tbody>
	<% end %>
    </table>
<% end %>
 <%= paginate @search_results %> 
</div>
