<% print_friendly = (defined?(@printable_format) && @printable_format) ? true : false %>
<% title "Search Results" %>
<!--h1 class="accessibility">Search results</h1-->
<%= render 'flash_notice' %>
<%# show_contents_link%>
<div class='container'>
  <h1 class="semi-kilo project-font-color ">Results</h1>
  <% unless print_friendly %>
    <div class="grid">
      <div class="grid__item one-whole lap-one-whole palm-one-whole push-half--bottom ">
        <%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn   btn--small " %>
        <%= link_to "New Search", new_search_query_path, :class => "btn   btn--small white_button" %>
        <%= link_to "View Search Criteria", '#', class: "btn   btn--small" , id: "view_search_criteria"%>
      </div>
    </div>
  <% end %>
  <h4 class="accessibility">Search Criteria</h4>
</div>
<% if @search_query.present? %>
  <%= render 'nav_header' %>
  <%= render 'display_search_criteria'%> 


  <section>
  <% max_result = FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS unless appname_downcase == 'freebmd'%>
  <% max_result = FreeregOptionsConstants::MAXIMUM_NUMBER_OF_BMD_RESULTS if appname_downcase == 'freebmd'%>
    <% if @result_count >= max_result %>
      <%= render 'too_many_results' %>
    <% else %>
      <% if @result_count == 0 && ( @ucf_results && @ucf_results.size == 0) %>

        <%= render 'no_results' %>
      <% else %>
        <%# if device_type == :desktop || device_type == :tablet %>
          <% case MyopicVicar::Application.config.template_set%>
          <% when 'freereg'%>
            <div class="container">
              <div class="grid">
                <div class="" id='results_table'>
                  <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @search_results, :inclusive => @search_query.inclusive, :witness =>@search_query.witness, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
                </div>
                <div id='results_table_ad'>
                  <span>  Advertisement</span>
                  <div id='freereg_sidebar_left_desk'>
                  </div>
                </div>
              </div>
            </div>
          <% when 'freecen'%>
            <div class="container">
              <div class="grid">
                <div class="grid__item  palm-one-whole " id='results_table'>
                  <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @search_results, :inclusive => @search_query.inclusive, :witness =>@search_query.witness, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
                </div>
                <% if device_type == :desktop %>
                  <div  id='results_table_ad'>
                    <span>Advertisement</span>
                    <%= adsence_right_side_banner %>
                  </div>
                <% end %>
              </div>
            </div>
          <% when 'freebmd'%>
            <% unless print_friendly %>
              <div class='container push--bottom'>
                <div class="seven-tenths palm-one-whole">
                  <div class="grid">
                    <div class="grid__item one-quarter lap-one-half palm-one-half">
                      <strong class="results-header"><%= pluralize(@search_results.count, 'Results')%></strong>
                    </div>
                    <div class="grid__item one-sixth lap-one-third palm-one-half float--right">
                      <div id="tool_button" class="tools bordered dropbtn" onclick="myFunction()" tabindex="0"><i class="fa fa-cog"></i> Tools</div>
                    </div>
                  </div>
                </div>
                <div class="seven-tenths palm-one-whole">
                    <div class="grid__item one-third lap-one-third palm-one-half float--right">
                          <div id="myDropdown" class="dropdown-content">
                            <%= link_to "About this Query", about_search_query_path(@search_query, :page_number => @page_number) %>
                            <%= link_to "Printable format", show_print_version_search_query_path %>
                          <a href="#home">Download as CSV</a>
                      </div>
                    </div>
                </div>
                <hr class=' seven-tenths palm-one-whole push--top'>
              </div>
            <% end %>
            <% unless print_friendly %>
              <%= render(partial: app_specific_partial("search_result_form")) %>
            <% end %>
            <div class="container">
              <div class="grid">
                <div class="grid__item seven-tenths lap-seven-tenths palm-one-whole " id='bmd_results'>
                  <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @search_results, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
                </div>
                <% unless print_friendly %>
                  <% if device_type == :desktop %>
                    <div class="grid__item two-tenths lap-two-tenths palm-one-whole "  id='results_table_ad'>
                      <center><p>Advertisement</p>
                      <%= adsence_right_side_banner %></center>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% else %>
            <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @search_results, :inclusive => @search_query.inclusive, :witness =>@search_query.witness, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
          <% end%>
      <%# else %>
        <%#= render(:partial => app_specific_partial("mobile"), :locals => {:search_results => @search_results, :ucf_results =>  @ucf_results}) %>
      <%# end %>
    <% end%>
    <% if @result_count > 10 && @result_count < max_result %>
      <br>
      <%= render 'nav_header' %>
    <% end %>
    <% if @result_count > 0 && @result_count < max_result %>
      <% if appname_downcase == 'freebmd'%>
        <%#= render 'bmd_search_results_footer' %>
      <% else %>
        <%= render 'please_donate' %>
      <% end %>
    <% end %>
  <% end %>
</section>
<% else %>
  <%= render 'no_results' %>
<% end %>
<script type="text/javascript">
  Ladda.bind( 'button[type=submit]' );
</script>
<script type="text/javascript">
  var result = window.canRunAds;
  function changeClass(screen_width) {
    if (screen_width.matches) {
      $("#results_table").removeClass("grid__item  seven-tenths  palm-one-whole").addClass('');
    } else {
      if(result === true) {
        $("#results_table").addClass("grid__item  seven-tenths lap-six-tenths palm-one-whole");
        $("#results_table_ad").addClass("grid__item  three-tenths  palm-one-whole");
      } else {
        $("#results_table_ad").hide();
        $("#results_table").addClass("");
      }
    }
  };
  var screen_width = window.matchMedia("(max-width: 1000px)")
  changeClass(screen_width)
  screen_width.addListener(changeClass);


  //js code for pagination
  function results_to_display(){
      console.log('res')
     $('#limit_form').submit();
  };

  //js code to show search criteria
  $('#view_search_criteria').click(
    function() {
     $('#search_criteria_container').show();
     $('#view_search_criteria').hide();
  });

  /* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
/*$("#tool_button").click(
  function() {
    $(".hide").toggle();
  });



 Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
   $(".hide").hide();
  }
}*/


  //js code to hide show criteria button on load
  //$('#view_search_criteria').hide();


  //$(document).ready(function() {
   // $("#filter_results").change(function() {
    //  var condition = $(this).val();
   //   var search_id = $('#search_id').val();
    //  $.ajax({
    //      url: '<%= search_query_path(params[:id])%>',
    //      type: "GET",
     //     data: {
     //         selected_condition: condition,
     //         id: search_id
     //     }
     // });
   // });
 // });
 function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

</script>
<style type="text/css">
  @media only screen and (max-width: 1000px) {
  .advert_div {
    display: none !important;
  }
  }
</style>
