<% title "Search Results" %>
<h1 class="accessibility">Search results</h1>
<%= render 'flash_notice' %>
<% show_contents_link%>
<% if @search_query.present? %>
  <%= render 'nav_header' %>
  <%= render 'display_search_criteria' %>
  <section>
    <% if @result_count >= FreeregOptionsConstants.const_get("MAXIMUM_NUMBER_OF_RESULTS_#{App.name_upcase}") %>
      <%= render 'too_many_results' %>
    <% else %>
      <% if @result_count == 0 && ( @ucf_results && @ucf_results.size == 0) %>
        <div class="grid">
          <div class="grid__item desk-four-fifths lap-two-thirds palm-one-whole">
            <%= render 'no_results' %>
          </div>
           <% unless device_type == :mobile%>
            <div class="grid__item desk-one-fifth lap-one-third palm-one-whole float--right push--bottom">
              <span class=''>Advertisement</span><br>
              <%= mh_160_600 %>
            </div>
          <% end %>
        </div>
      <% else %>
        <% if device_type == :desktop || device_type == :tablet %>
          <% case MyopicVicar::Application.config.template_set%>
          <% when 'freereg'%>
          <div class="container">
            <div class="grid" style="display: flex; overflow: unset;">
              <div class= '' id='results_table' style="padding-left: 0;">
                <div class="grid__item one-whole">
                  <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @search_results, :inclusive => @search_query.inclusive, :witness =>@search_query.witness, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => @ucf_results})  %>
                </div>
                <div class="grid__item one-whole">
                  <% if @result_count > 0 && @result_count < FreeregOptionsConstants.const_get("MAXIMUM_NUMBER_OF_RESULTS_#{App.name_upcase}") %>
                    <%= render 'please_donate' %>
                    <!-- GAM 71161633/FRBMD_freeregorg/freereg_hrec_3-->
                    <div data-fuse="22945846128"></div>
                    <% if @result_count > 10 && @result_count < FreeregOptionsConstants.const_get("MAXIMUM_NUMBER_OF_RESULTS_#{App.name_upcase}") %>
                      <br>
                      <%= render 'nav_header' %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <% unless device_type == :mobile%>
                <div  id='results_table_ad' class='float--right text--center push--bottom' style='flex-direction: column;'>
                  <span class=''>Advertisement</span><br>
                  <div class="grid__item one-whole">
                    <%= mh_160_600 %>
                  </div>
                  <div class="grid__item one-whole push--top" style="display:flex;position:sticky;top:0;align-self:start;padding-top:25px;">
                    <!-- GAM 71161633/FRBMD_freeregorg/freereg_vrec_1 -->
                    <div data-fuse="22945846137"></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% when 'freecen'%>
          <div class="container">
            <div class="grid">
              <div class="grid__item  palm-one-whole " id='results_table'>
                <div class="grid__item one-whole">
                  <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @search_results, :inclusive => @search_query.inclusive, :witness =>@search_query.witness, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
                </div>
                <div class="grid__item one-whole">
                  <% if @result_count > 0 && @result_count < FreeregOptionsConstants.const_get("MAXIMUM_NUMBER_OF_RESULTS_#{App.name_upcase}") %>
                    <%= render 'please_donate' %>
                  <% end %>
                </div>
              </div>
              <% unless device_type == :mobile%>
                <div  id='results_table_ad' class='float--right text--center push--bottom'>
                  <span class=''>Advertisement</span><br>
                  <div class="grid__item one-whole">
                    <%= mh_160_600_freecen %>
                  </div>
                  <div class="grid__item one-whole push--top" style="position: sticky; top:0; align-self: start;">
                    <!-- GAM 71161633/FRBMD_freecenorguk/freecen_vrec_1 -->
                    <div data-fuse="22946534660"></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% when 'freebmd'%>
            <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @search_results, :inclusive => @search_query.inclusive, :witness =>@search_query.witness, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
          <% end%>
        <% else %>
          <%= render(:partial => app_specific_partial("mobile"), :locals => {:search_results => @search_results, :ucf_results =>  @ucf_results}) %>
        <% end %>
      <% end%>
    <% end %>
  </section>
<% else %>
    <%= render 'no_results' %>
<% end %>
<script type="text/javascript">
  var result = window.canRunAds;
  function changeClass(screen_width) {
    if (screen_width.matches) {
      $("#results_table").removeClass("grid__item  seven-tenths  palm-one-whole").addClass('');
    } else {
      if(result === true) {
        $("#results_table").addClass("grid__item  seven-tenths lap-six-tenths palm-one-whole");
        $("#results_table_ad").addClass("grid__item  three-tenths  palm-one-whole");
      } else {
        $("#results_table_ad").hide();
        $("#results_table").addClass("");
      }
    }
  };
  var screen_width = window.matchMedia("(max-width: 1000px)")
  changeClass(screen_width)
  screen_width.addListener(changeClass);
</script>
<style type="text/css">
  @media only screen and (max-width: 1000px) {
  #results_table_ad {
    display: none !important;
  }
  }
</style>