<% if flash[:notice] %>
<div id="notice" style="color:red"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<section  >
  <h2 class="text--center"><%= @search_query.result_count %> Search Results</h2>
  <% if @search_query.result_count >= FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS %>
  <h4 class="text--center" style="color:red">Your results were limited to the maximum number of results. We suggest you may wish to refine your search to ensure a complete set of results</h4>

  <% end%>
  <div class="text--center"><%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  btn--small " %> 
   <%= link_to "New Search", new_search_query_path, :class => "btn  btn--small " %>
   <%= link_to("About This Query", about_search_query_path(@search_query, :page_number => @page_number), :class => "btn  btn--small ")%> 
  <% if @search_query.can_be_broadened? %>
   <%= link_to "Broaden Search", broaden_search_query_path(:search_id => @search_query) , :class => "btn  btn--small  "%> 
  <% end %>
   <% if @search_query.can_be_narrowed? %>
   <%= link_to "Narrow Search", narrow_search_query_path(:search_id => @search_query), :class => "btn  btn--small  " %> 
  <% end %>
  </div>
  <div style="clear:both;"> </div>
</section>
<section class="island  island--light " >
  <div class="criteria-group">
    <% search_params_for_display(@search_query).each do |name, value| %>
    <dl class="criteria">
      <dt class="criteria__name"><%= name %></dt>
      <dd class="criteria__value"><%= value %></dd>
    </dl>
    <% end %>
  </div>
</section>

      <% if @search_results.size == 0 %>

        <p>No results found. This could be because there are no transcriptions for the Places you were searching; review our <%= link_to "Database Contents" , "/freereg_contents" %> for what has been transcribed. Alternatively you may need to recast your search options; see our <%= link_to "Tips for Searching", "/tips-for-searching-the-database" %> for advice on how to get the most out of your searches. </p>
      <% else %>
        <% if session[:mobile_override]%>
          <%= render "mobile" %>
        <% else%>
           <%= render "desktop" %>
        <% end %>

      <% end%>
     

<br>
  <% if @search_query.result_count > 5 %>
  <div class="text--center"><%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  btn--small " %> 
  <%= link_to "New Search", new_search_query_path, :class => "btn  btn--small " %> 
  <%= link_to("About This Query", about_search_query_path(@search_query, :page_number => @page_number), :class => "btn  btn--small ")%> 
  <% if @search_query.can_be_broadened? %>
  <%= link_to "Broaden Search", broaden_search_query_path(:search_id => @search_query) , :class => "btn  btn--small "%> 
  <% end %>
  <% if @search_query.can_be_narrowed? %>
  <%= link_to "Narrow Search", narrow_search_query_path(:search_id => @search_query), :class => "btn  btn--small  " %>
  <% end %>
  
  <a href="#"  class="btn  btn--small ">Go to top</a>
  </div>
  <% end %>