<% title "Search Results" %>
<% if flash[:notice] %>
  <div id="notice" style="color:red"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
<% unless @search_query.nil? %>
<section  >
  <h2 class="text--center"><%= @search_query.result_count %> Search Results</h2>
  <% if @search_query.result_count >= FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS %>
  <h4 class="text--center" style="color:red">Your results were limited to the maximum number of results. We suggest you may wish to refine your search to ensure a complete set of results</h4>
  <% end%>
  <% unless defined?(@printable_format) && @printable_format %>
    <div class="text--center"><%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  weight--light btn--small " %>
      <%= link_to "New Search", new_search_query_path, :class => "btn  weight--light btn--small " %>
      <%= link_to("About This Query", about_search_query_path(@search_query, :page_number => @page_number), :class => "btn  weight--light btn--small ")%>
      <% if @search_query.can_be_broadened? %>
        <%= link_to "Broaden Search", broaden_search_query_path(:search_id => @search_query) , :class => "btn  weight--light btn--small  "%>
      <% end %>
      <% if @search_query.can_be_narrowed? %>
        <%= link_to "Narrow Search", narrow_search_query_path(:search_id => @search_query), :class => "btn  weight--light btn--small  " %>
      <% end %>
      <% if device_type == :desktop || device_type == :tablet%>
        <%= link_to "Printable Format", show_print_version_search_query_path, :class => "btn  weight--light btn--small" %>
      <% end %>
    </div>
  <% end %>
  <div style="clear:both;"> </div>
</section>
<section class="island  island--light " >
  <% if defined?(@printable_format) && @printable_format %> <br>
    <% search_params_for_display(@search_query).each do |name, value| %>
      <%= name %>: <%= value %><br>
    <% end %><br>
  <% else %>
  <div class="criteria-group">
    <% search_params_for_display(@search_query).each do |name, value| %>
    <dl class="criteria">
      <dt class="criteria__name"><%= name %></dt>
      <dd class="criteria__value"><%= value %></dd>
    </dl>
    <% end %>
  </div>
  <% end %>
</section>
<% if @search_results.size == 0 %>
    <p>No results found. This could be because there are no transcriptions for the Places you were searching; review our <%= link_to "Transcriptions" , "/freereg_contents/new" %> for what has been transcribed. Alternatively you may need to recast your search options; see our <%= link_to "Tips for Searching", "/cms/help" %> for advice on how to get the most out of your searches. </p>
  <% else %>
    <% if device_type == :desktop || device_type == :tablet%>
      <%= render(:partial => "desktop", :locals => {:search_results => @search_results}) %>
    <% else%>
      <%= render(:partial => "mobile", :locals => {:search_results => @search_results}) %>
    <% end %>
<% end%>
<% if ucf_wildcards_enabled? %>
  <br>
  <% if @ucf_results %>
    <% if @ucf_results.size == 0 %>
        <p>No partially-readable results found. This could be because there are no transcriptions for the Places you were searching; review our <%= link_to "Transcriptions" , "/freereg_contents/new" %> for what has been transcribed. Alternatively you may need to recast your search options; see our <%= link_to "Tips for Searching", "/cms/help" %> for advice on how to get the most out of your searches. </p>
      <% else %>
        <p>These entries with partly-readable names could be relevant:</p>
        <% if device_type == :desktop || device_type == :tablet%>
          <%= render(:partial => "desktop", :locals => {:search_results => @ucf_results}) %>
        <% else%>
          <%= render(:partial => "mobile", :locals => {:search_results => @ucf_results}) %>
        <% end %>
    <% end %>
  <% else %>
    <p>Some partly-readable entries could be relevant: to see those too, click on Revise Search and select a Place.</p>
  <% end%>
<% end %>
<br>
<% if @search_query.result_count > 5 %>
  <% unless defined?(@printable_format) && @printable_format %>
    <div class="text--center"><%= link_to "Revise Search", new_search_query_path(:search_id => @search_query), :class => "btn  weight--light btn--small" %>
      <%= link_to "New Search", new_search_query_path, :class => "btn  weight--light btn--small " %>
      <%= link_to("About This Query", about_search_query_path(@search_query, :page_number => @page_number), :class => "btn  weight--light btn--small ")%>
      <% if @search_query.can_be_broadened? %>
        <%= link_to "Broaden Search", broaden_search_query_path(:search_id => @search_query) , :class => "btn weight--light  btn--small "%>
      <% end %>
      <% if @search_query.can_be_narrowed? %>
        <%= link_to "Narrow Search", narrow_search_query_path(:search_id => @search_query), :class => "btn weight--light  btn--small  " %>
      <% end %>
      <a href="#"  class="btn  weight--light btn--small ">Go to top</a>
    </div>
  <% end %>
<% end %>
<% else%>
 <p>No results found. This could be because there are no transcriptions for the Places you were searching; review our <%= link_to "Database Contents" , "/freereg_contents" %> for what has been transcribed. Alternatively you may need to recast your search options; see our <%= link_to "Tips for Searching", "/cms/help" %> for advice on how to get the most out of your searches. </p>
<% end%>