<div id="nav">
	<ul>
	    <li><%= link_to "New Search", new_search_query_path(:search_id => @search_query) %></li>
	    <li><%= link_to "Back to results", :back %></li>
	</ul>
</div>


<h1>Search results</h1>

<% if @search_results.size == 0 %>
    No results found!
<% else %>

    <table>			
	<thead>
	    <tr>
		<th>Participants</th>
		<th>Other Names</th>
		<th>Type</th>
		<th>Date</th>
		<th>County</th>
		<th></th>
	    </tr>
	</thead>
	<% @search_results.each do |search_record| %>
	    <tbody>
		<tr>
		    <td>
			<% search_record.transcript_names.uniq.each_with_index do |name, i| %>
				<% if  name['type'] == 'primary' %>
					<% if i > 0 %>
						<br/>
					<% end%>
					<%= "#{name['first_name']} #{name['last_name']} (#{NameRole::OPTIONS.invert[name['role']]})" %>
				<% end %>
			<% end%>
		    </td>
		    <td>
			<% search_record.transcript_names.reject{|n| n['type'] == 'primary' }.each_with_index do |name, i| %>
				<% if i > 0 %>
					<br/>
				<% end%>
				<%= "#{name['first_name']} #{name['last_name']} (#{NameRole::OPTIONS.invert[name['role']]})" %>
			<% end%>
		    </td>
		    <td>
			<%= RecordType::display_name(search_record.record_type) %>
		    </td>
		    <td>
			<%= search_record.transcript_date %>
		    </td>
		    <td>
			<%= search_record.chapman_code %>
		    </td>
		    <td>
			<%= link_to("Details", search_record_path(search_record, :search_id => @search_query, :page_number => @page_number)) %>
			<% if session[:viewed] %>
			    <i>
			    	<%= "(viewed)" if session[:viewed].include?("#{search_record.id}") %>
			    </i>
			<% end %>
		    </td>
		</tr>	
	    </tbody>
	<% end %>
    </table>
<% end %>


<div id="nav">
	<ul>
	    <li>
	    	<%= link_to "Next", search_query_path(@search_query, :page_number => @page_number+1) %>
    	</li>
    	<% if @page_number > 0 %>		    	
		    <li>
		    	<%= link_to "Previous", search_query_path(@search_query, :page_number => @page_number-1) %>
	    	</li>
    	<% end %>
	</ul>
</div>
