<div id="nav">
	<ul>
	    <li><%= link_to "New Search", new_search_query_path(:search_id => @search_query) %></li>
	    <li><%= link_to "Revise Search", new_search_query_path %></li>
	</ul>
</div>


<h1>Search results</h1>

<div id="query_parameters">
	<% print_br=false%>
	<% @search_query.attributes.each do |query_field, query_value|%>
		<% unless ["_id", "chapman_codes", "place_ids", "place_radius", "place_system"].include?(query_field) || query_value==false %>
			<% if print_br %>
				<br />
			<% end %>
			<%= query_field.gsub("_", " ").titlecase %>:
			<strong>
				<%= query_value %>				
			</strong>			
			<% print_br = true %>
		<% end%>
	<% end %>
	<% if @search_query.chapman_codes.size > 0 %>
		<% if @search_query.place_search? %>
			<br />
			<% if @search_query.places.size > 1 %>
				Places:
			<% else %>
				Place:
			<% end %>		
			<% print_or = false %>
			<% @search_query.places.each do |place| %>
				<% if print_or %>
					or 
				<% end %>
				<strong>
					<%= place.place_name %> (<%=ChapmanCode::name_from_code(place.chapman_code)%>)
				</strong>

				<% print_or = true %>
			<% end %>
			<% if @search_query.radius_search? %>
				<br />
				Including:
				<%= @search_query.all_radius_places.size  %>
				places within <%= @search_query.all_radius_places.first.geo_near_distance  %>
				<%= Place::MeasurementSystem::system_to_units(@search_query.place_system)  %>
			<% end %>


		<% else %>
			<br />	
			<% if @search_query.chapman_codes.size > 1 %>
				Counties:
			<% else %>
				County:
			<% end %>
			<% print_or = false %>
			<% @search_query.chapman_codes.each do |chapman_code| %>
				<% if print_or %>
					or 
				<% end %>
				<strong>
					<%= ChapmanCode::name_from_code(chapman_code) %>
				</strong>
				<% print_or = true %>
			<% end %>
		<% end%>

	<% end%>
	<br />
	<i><%= link_to("About This Query", about_search_query_path(@search_query, :page_number => @page_number))%></i>
</div>
<% if @search_results.size == 0 %>
    No results found!
<% else %>

    <table>			
	<thead>
	    <tr>
		<th>Participants</th>
		<th>Other Names</th>
		<th>Type</th>
		<th>Date</th>
		<th>County</th>
		<th>Place</th>
		<th></th>
	    </tr>
	</thead>
	<% @search_results.each do |search_record| %>
	    <tbody>
		<tr id="<%=search_record.id%>">
		    <td>
			<% search_record.transcript_names.uniq.each_with_index do |name, i| %>
				<% if  name['type'] == 'primary' %>
					<% if i > 0 %>
						<br/>
					<% end%>
					<%= "#{name['first_name']} #{name['last_name']} (#{NameRole::OPTIONS.invert[name['role']]})" %>
				<% end %>
			<% end%>
		    </td>
		    <td>
			<% search_record.transcript_names.reject{|n| n['type'] == 'primary' }.each_with_index do |name, i| %>
				<% if i > 0 %>
					<br/>
				<% end%>
				<%= "#{name['first_name']} #{name['last_name']} (#{NameRole::OPTIONS.invert[name['role']]})" %>
			<% end%>
		    </td>
		    <td>
			<%= RecordType::display_name(search_record.record_type) %>
		    </td>
		    <td>
			<%= search_record.transcript_date %>
		    </td>
		    <td>
			<%= ChapmanCode::name_from_code(search_record.chapman_code) %>
		    </td>
		    <td>
			<%= search_record.place.place_name %>
		    </td>
		    <td>
			<%= link_to("Details", search_record_path(search_record, :search_id => @search_query, :page_number => @page_number)) %>
			<% if session[:viewed] %>
			    <i>
			    	<%= "(viewed)" if session[:viewed].include?("#{search_record.id}") %>
			    </i>
			<% end %>
		    </td>
		</tr>	
	    </tbody>
	<% end %>
    </table>
<% end %>


<div id="nav">
	<ul>
	    <li>
	    	<%= link_to "Next", search_query_path(@search_query, :page_number => @page_number+1) %>
    	</li>
    	<% if @page_number > 0 %>		    	
		    <li>
		    	<%= link_to "Previous", search_query_path(@search_query, :page_number => @page_number-1) %>
	    	</li>
    	<% end %>
	</ul>
</div>
