<div id="nav">
	<ul>
	    <li><%= link_to "New Search", new_search_query_path %></li>
	    <li><%= link_to "Revise Search", new_search_query_path(:search_id => @search_query) %></li>
	    <% if @search_query.can_be_broadened? %>
		    <li><%= link_to "Broaden Search", broaden_search_query_path(:search_id => @search_query) %></li>
	    <% end %>
	    <% if @search_query.can_be_narrowed? %>
		    <li><%= link_to "Narrow Search", narrow_search_query_path(:search_id => @search_query) %></li>
	    <% end %>
	    <% if current_refinery_user && !current_refinery_user.userid_detail.search_queries.include?(@search_query )%>
		    <li><%= button_to "Remember Search", remember_search_query_path %></li>    
	    <% end %>
	</ul>
</div>

 <% if flash[:green] %>
    <div id="success" style="color:green"><br>
	   <%= flash[:notice] %>  <% flash[:green] = nil%> <br>
    </div>
<% end %>


<h1><%= @search_query.result_count %> Search Results</h1>

<div id="query_parameters">
	<% search_params_for_display(@search_query).each do |name, value| %>
		<%= name %>: <strong><%= value %></strong><br />
	<% end %>
	<i><%= link_to("About This Query", about_search_query_path(@search_query, :page_number => @page_number))%></i>
</div>
<% if @search_results.size == 0 %>
    No results found!
<% else %>

    <table>			
	<thead>
		<th>
			<%= link_to('Participants', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::NAME)) %>
		</th>
		<th>Family Members</th>
		<th>
			<%= link_to('Type', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::TYPE)) %>
		</th>
		<th>
			<%= link_to('Date', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::DATE)) %>
		</th>
		<th>
			<%= link_to('County', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::COUNTY)) %>
		</th>
		<th>
			<%= link_to('Location', reorder_search_query_path(@search_query, :order_field => SearchQuery::SearchOrder::LOCATION)) %>
		</th>
		<th></th>
	</thead>
	<% @search_results.each do |search_record| %>
	    <tbody>
		<tr id="<%=search_record.id%>">
		    <td>
			<% search_record.transcript_names.uniq.each_with_index do |name, i| %>
				<% if  name['type'] == 'primary' %>
					<% if i > 0 %>
						<br/>
					<% end%>
					<%= "#{name['first_name']} #{name['last_name']} (#{NameRole::OPTIONS.invert[name['role']]})" %>
				<% end %>
			<% end%>
		    </td>
		    <td>
			<% search_record.transcript_names.reject{|n| n['type'] == 'primary' }.each_with_index do |name, i| %>
				<% if i > 0 %>
					<br/>
				<% end%>
				<%= raw("#{name['first_name']}&nbsp;#{name['last_name']}") %>
				<%= raw("(#{NameRole::OPTIONS.invert[name['role']].gsub(' ', '&nbsp;')})") %>
			<% end%>
		    </td>
		    <td>
			<%= RecordType::display_name(search_record.record_type) %>
		    </td>
		    <td>
			<%= raw(search_record.transcript_date.gsub(' ', '&nbsp;')) %>
		    </td>
		    <td>
			<%= ChapmanCode::name_from_code(search_record.chapman_code) %>
		    </td>
		    <td>
			<%= format_location(search_record) %>
		    </td>
		    <td>
			<%= link_to("Details", search_record_path(search_record, :search_id => @search_query, :page_number => @page_number)) %>
			<% if session[:viewed] %>
			    <i>
			    	<%= "(viewed)" if session[:viewed].include?("#{search_record.id}") %>
			    </i>
			<% end %>
		    </td>
		</tr>	
	    </tbody>
	<% end %>
    </table>
<% end %>


<div id="nav">
	<ul>
	    <li>
	    	<%= link_to "Next", search_query_path(@search_query, :page_number => @page_number+1) %>
    	</li>
    	<% if @page_number > 0 %>		    	
		    <li>
		    	<%= link_to "Previous", search_query_path(@search_query, :page_number => @page_number-1) %>
	    	</li>
    	<% end %>
	</ul>
</div>
