<%= form_for(@freecen_household) do |f| %>
  <% if @freecen_household.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@freecen_household.errors.count, "error") %> prohibited this freecen_household from being saved:</h2>

      <ul>
      <% @freecen_household.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :freecen1_vld_file %><br />
    <%= f.text_field :freecen1_vld_file %>
  </div>
  <div class="field">
    <%= f.label :entry_number %><br />
    <%= f.number_field :entry_number %>
  </div>
  <div class="field">
    <%= f.label :deleted_flag %><br />
    <%= f.check_box :deleted_flag %>
  </div>
  <div class="field">
    <%= f.label :household_number %><br />
    <%= f.number_field :household_number %>
  </div>
  <div class="field">
    <%= f.label :civil_parish %><br />
    <%= f.text_field :civil_parish %>
  </div>
  <div class="field">
    <%= f.label :ecclesiastical_parish %><br />
    <%= f.text_field :ecclesiastical_parish %>
  </div>
  <div class="field">
    <%= f.label :enumeration_district %><br />
    <%= f.text_field :enumeration_district %>
  </div>
  <div class="field">
    <%= f.label :folio_number %><br />
    <%= f.text_field :folio_number %>
  </div>
  <div class="field">
    <%= f.label :page_number %><br />
    <%= f.number_field :page_number %>
  </div>
  <div class="field">
    <%= f.label :schedule_number %><br />
    <%= f.text_field :schedule_number %>
  </div>
  <div class="field">
    <%= f.label :house_number %><br />
    <%= f.text_field :house_number %>
  </div>
  <div class="field">
    <%= f.label :house_or_street_name %><br />
    <%= f.text_field :house_or_street_name %>
  </div>
  <div class="field">
    <%= f.label :uninhabited_flag %><br />
    <%= f.text_field :uninhabited_flag %>
  </div>
  <div class="field">
    <%= f.label :unnocupied_notes %><br />
    <%= f.text_field :unnocupied_notes %>
  </div>
  <div class="field">
    <%= f.label :freecen1_vld_file %><br />
    <%= f.text_field :freecen1_vld_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
