<p id="notice"><%= notice %></p>

<p>
  <b>Freecen1 vld file:</b>
  <%= @freecen_household.freecen1_vld_file %>
</p>

<p>
  <b>Entry number:</b>
  <%= @freecen_household.entry_number %>
</p>

<p>
  <b>Deleted flag:</b>
  <%= @freecen_household.deleted_flag %>
</p>

<p>
  <b>Household number:</b>
  <%= @freecen_household.household_number %>
</p>

<p>
  <b>Civil parish:</b>
  <%= @freecen_household.civil_parish %>
</p>

<p>
  <b>Ecclesiastical parish:</b>
  <%= @freecen_household.ecclesiastical_parish %>
</p>

<p>
  <b>Enumeration district:</b>
  <%= @freecen_household.enumeration_district %>
</p>

<p>
  <b>Folio number:</b>
  <%= @freecen_household.folio_number %>
</p>

<p>
  <b>Page number:</b>
  <%= @freecen_household.page_number %>
</p>

<p>
  <b>Schedule number:</b>
  <%= @freecen_household.schedule_number %>
</p>

<p>
  <b>House number:</b>
  <%= @freecen_household.house_number %>
</p>

<p>
  <b>House or street name:</b>
  <%= @freecen_household.house_or_street_name %>
</p>

<p>
  <b>Uninhabited flag:</b>
  <%= @freecen_household.uninhabited_flag %>
</p>

<p>
  <b>Unnocupied notes:</b>
  <%= @freecen_household.unnocupied_notes %>
</p>

<p>
  <b>Freecen1 vld file:</b>
  <%= @freecen_household.freecen1_vld_file %>
</p>


<%= link_to 'Edit', edit_freecen_household_path(@freecen_household) %> |
<%= link_to 'Back', freecen_households_path %>
