<%= semantic_form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div>
    
    <%= f.input :place_name,:input_html => { :disabled => true ,:size => 60 }%> 
  
  <br>
   <%= f.input :alternate_place_name,:input_html => { :size => 60 }%>
 <br>
   <%= f.input :place_notes,:input_html => { :size => 100 }%>

  <br>
   <%= f.input :last_amended,:input_html => { :disabled => true ,:size => 60 }%>
  
  <br>
  

   <%= f.action :submit, :as => :input, :label => 'Update' %>
  </div>
  <br>
<% end %>

