<% require 'chapman_code' %>

<%= semantic_form_for(@place) do |f| %>
  
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  

<div id="main"style="color:black">


<p>
<%if @user.person_role == 'data_manager' %> 
  <% if session[:type] == "relocate" then %>
   <%= f.input :place_name,{ :as => :select,:label => "Select the Place name",:include_blank => false,
          :required => true, :collection => @placenames,:size => 15 } %> 
  <%else%>
    <%= f.input :place_name, :label => "Enter the Place Name",:input_html => { :size => 15 } %> 
  <%end%>
        
 <%= f.input :county,{ :as => :select,:label => "Select the County",:include_blank => false,
          :required => true, :collection => @counties,:size => 15 } %> 
 <%= f.input :country,{ :as => :select,:label => "Select the Country",:include_blank => false,
          :required => true, :collection => @countries, :size => 15 } %>   
  <br>
  <%end%>
  <%= f.inputs :alternate_name, :for => :alternateplacenames, :name => 'Edit Existing Alternate Place Name #%i', :input_html => { :size => 60 }%>
       
  <%= f.inputs :alternate_name, :for => :alternateplacename, :name => 'Add Altername Place Name',  :size => 60 %>


 <br>
   <%= f.input :place_notes,:label => "Any notes:",:input_html => { :size => 100 }%>

   <p>Please enter the latitude and longitude as decimal degrees. If these are entered the Grid Reference is not required</p>

<%= f.input :latitude , :label => "Latitude in degrees eg 50.234 :",:input_html => { :size => 40 }%>
<%= f.input :longitude ,:label => "Longitude in degrees eg -1.234 :", :input_html => { :size => 40 }%>

<p> The Grid Reference in the following entry must be 2 capital characters followed by  4, 6 or 8 numerics eg NX123456:
It will be used to calculate the latitude and longitude if those fields were left blank.</p>
<%= f.input :grid_reference , :label => " Grid Reference :",:input_html => { :size => 40 }%><br>

<%= f.input :genuki_url,as: :url, :label => "The link to the Genuki Gazatteer (if known) :", :input_html => { :size => 100 }%>
<%= f.input :source ,:label => "The source of the information :", :input_html => { :size => 40 }%>
<% if session[:type] == "edit" then %>
<%= f.input :reason_for_change ,:label => "Your reason for the change :", :input_html => { :size => 40 }%>
<%= f.input :other_reason_for_change ,:label => "Your reason for a further change :",:input_html => { :size => 40 }%>
<% end %>
  <br>
  <br>

   <%= f.input :last_amended, :label => "The last date when a register in the place was updated (System generated) :",:input_html => { :disabled => true, :size => 20  }%>


   <%= f.action :submit, :as => :input, :label => 'Submit' %>
  
  </div>
  <br>
   <% end %>
