<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chapman_code %><br />
    <%= f.text_field :chapman_code %>
  </div>
  <div class="field">
    <%= f.label :place_name %><br />
    <%= f.text_field :place_name %>
  </div>
  <div class="field">
    <%= f.label :church_name %><br />
    <%= f.text_field :church_name %>
  </div>
  <div class="field">
    <%= f.label :genuki_url %><br />
    <%= f.text_field :genuki_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
