<% breadcrumb :show_place,  @county, @place%>
<div style="text-align: center"> <%= link_to 'Edit Place Information', edit_place_path(@place), method: :get,data: { confirm: 'Are you sure?' }, :class => "btn  btn--small" unless session[:role] == "contacts_coordinator" %>    <%= link_to 'Create New Church', new_church_path, method: :get , :class => "btn   btn--small" unless session[:role] == "contacts_coordinator"%>
  <% if session[:role] == 'data_manager' ||   session[:role] == 'system_administrator'%>
    <%= link_to 'Create New Place', new_place_path, method: :get, :class => "btn   btn--small" %>   <%= link_to 'Change Place Name', rename_place_path(@place), method: :get,data: { confirm: 'Are you sure?' }, :class => "btn   btn--small" %>   <%= link_to 'Destroy Place', place_path(@place), method: :delete,  data: { confirm: 'Are you sure you want to destroy this Place.? It will not happen if there are dependents!' }, :class => "btn   btn--small" %> <%= link_to 'Fill County and Country fields', relocate_place_path(@place), method: :get ,data: { confirm: 'Are you sure?' }, :class => "btn   btn--small"%>
  <% end%>
  <% if  session[:role] == 'system_administrator'%>
    <%= link_to 'Merge Identical Places into this one', merge_place_path(@place), method: :get,data: { confirm: 'Are you really really sure that this is the Place into which you want all similar Places in this County to be merged? The action will be taken on selecting OK and cannot be recovered!!!!' }, :class => "btn  btn--small" %>
  <% end%>
</div>
<div style="clear:both;"> </div>
<%= render 'flash_notice' %>
<div class="grid">
  <section class="island ">
    <h4 style="text-align: center">The Place has the following Church(es)
      <% @place.churches.order_by(church_name: 1).each do |church| %>
        <%= link_to church.church_name, church_path(church), :class => "btn   btn--small"  %>
      <% end %></h4>
    <div class="grid__item  ">
      <table class="table--bordered table--data " >
        <colgroup >
          <col class=t40>
          <col class=t60>
        </colgroup>
        <tr>
          <th class="caps">Field</th>
          <th  class="caps">Value</th>
        </tr>
        <tr>
          <td>Place : </td>
          <td class="weight--semibold"><%= @place.place_name %>  </td>
        </tr>
        <tr>
          <td>County:</td>
          <td class="weight--semibold"><%= @place.county %></td>
        </tr>
        <tr>
          <td>Country:</td>
          <td class="weight--semibold"><%= @place.country %></td>
        </tr>
        <%  @place.alternateplacenames.each do |place|%>
          <tr>
            <td>Other possible place name :</td>
            <td class="weight--semibold"><%= place.alternate_name %> </td>
          </tr>
        <% end%>
        <tr>
          <td>Show on map<br>
            <small> Opens in a new tab</small></td>
          <td > <%= locate(@place.latitude,@place.longitude) %></td>
        </tr>
        <tr>
          <td>Notes about the place :</td>
          <td class="weight--semibold"><%= @place.place_notes %> </td>
        </tr>
        <tr>
          <td>Grid Reference:</td>
          <td class="weight--semibold"> <%= @place.grid_reference %></td>
        </tr>
        <tr>
          <td>Latitude:</td>
          <td class="weight--semibold"> <%= @place.latitude%></td>
        </tr>
        <tr>
          <td>Longitude:</td>
          <td class="weight--semibold"> <%= @place.longitude%></td>
        </tr>
        <tr>
          <td>Source:</td>
          <td class="weight--semibold"> <%= @place.source %></td>
        </tr>
        <tr>
          <td>Data present for this place:</td>
          <td class="weight--semibold"> <%= @place.data_present %></td>
        </tr>
        <tr>
          <td>Latest date a transcription changed:</td>
          <td class="weight--semibold"> <%= @place.last_amended %></td>
        </tr>
        <tr>
          <td>Number of entries</td>
          <td class="weight--semibold"><%= @place.records %></td>
        </tr>
        <tr>
          <td>First actual year of entries</td>
          <td class="weight--semibold"><%= @place.datemin %></td>
        </tr>
        <tr>
          <td>Last actual year of entries</td>
          <td class="weight--semibold"><%= @place.datemax %></td>
        </tr>
        <tr style= "color:red">
          <td >Error in place</td>
          <td class="weight--semibold">  <%= @place.error_flag %> </td>
        </tr>
        <tr>
          <td>Original place name:</td>
          <td class="weight--semibold"> <%= @place.original_place_name %></td>
        </tr>
        <tr>
          <td>Original county:</td>
          <td class="weight--semibold"> <%= @place.original_county %></td>
        </tr>
        <tr>
          <td>Original country:</td>
          <td class="weight--semibold"> <%= @place.original_country %></td>
        </tr>
        <tr>
          <td>Original Grid Reference:</td>
          <td class="weight--semibold"> <%= @place.original_grid_reference %></td>
        </tr>
        <tr>
          <td>Original latitude:</td>
          <td class="weight--semibold"> <%= @place.original_latitude %></td>
        </tr>
        <tr>
          <td>Original longitude:</td>
          <td class="weight--semibold"> <%= @place.original_longitude %></td>
        </tr>
        <tr>
          <td>Original source:</td>
          <td class="weight--semibold"> <%= @place.original_source %></td>
        </tr>
        <tr>
          <td>Reason for changes:</td>
          <td class="weight--semibold"> <%= @place.reason_for_change %></td>
        </tr>
        <tr>
          <td>Another reason for changes:</td>
          <td class="weight--semibold"> <%= @place.other_reason_for_change %></td>
        </tr>
        <tr>
          <td>Entries with UCF for:</td>
          <td >
            <% @place.ucf_list.each_key do |place| %>
              <%= place_name_from_ucf_list(place) %><br>
            <% end%>
          </td>
        </tr>
      </table>
    </div>
    <h3 class=" text--center">Numbers of transcriptions </h4>
    <p class=" text--center">Those periods with zero data may span several decades. The first period may include pre 1530 records. </p>
    <%= render :partial => '/freereg_contents/decade' %>
  </section
</div>