<p>Editing <b><%= @place_name %></b> of the County of <b><%= @county %></b><br></p>

<%= render 'form' %>

<%= button_to 'Back to Index of Places', list_place_path(@place, :anchor => "#{@place.id}") , method: :get%>
<%= button_to 'Back to County Mangement Tools Page', manage_counties_path, method: :get %>
<%= button_to 'Back to my Resource Management options', manage_resources_path, method: :get %>