<% breadcrumb :edit_place,  @county, @place%>
<h3 style="text-align: center">Editing <b><%= @place_name %></b> of <b><%= @county %></b><br>
</h3>
<%= render 'flash_notice' %>
<div style="text-align: center">
  <% if !@place.error_flag.nil? && (session[:role] == 'data_manager' || session[:role] == 'system_administrator')%>
    <%= link_to 'Remove Unapproved Flag', approve_place_path, method: :get, :class => "btn   btn--small" %>
  <% end%>
</div>
<div style="clear:both;"> </div>
<section class="island  island--light">
  <%= render 'form' %>