Page Identification Places:edit<p>

<p style="text-align: center">Editing <b><%= @place_name %></b> of the County of <b><%= @county %></b><br></p>
<%if @user.person_role == 'data_manager' %>
<div style="float:left;">  <%= button_to 'Create New Place', new_place_path, method: :get %> </div>
<%end%>
 <div style="float:left;"><%=button_to 'Show Place', places_path, method: :get%> </div>
<div  style="float:left;"><%= button_to 'Destroy Place', place_path(@place), method: :delete, data: { confirm: 'Are you sure?' } %></div>
<div style="float:left;"> <%= button_to 'Index of Places', places_path( :anchor => "#{@user.id}"), method: :get%></div>

<div  style="float:left;"> <%= button_to 'County Mangement Tools Page', manage_counties_path, method: :get %></div>

<div  style="float:left;"> <%= button_to 'Resource Management options', manage_resource_path(@user), method: :get %> </div>

<div style="clear:both;"> </div><br> 

<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %> 

<%= render 'form' %>
<div>
Please note if you are changing the name of a place the processing time could be several minutes depending upon the number of batches affected. <b>Please wait for the process to complete.</b></div>

