<p>Editing <b><%= @place_name %></b> of the County of <b><%= @county %></b><br></p>

<%= render 'form' %>

<br><br><%= button_to 'Show Place', @place , method: :get%> 
<%= button_to 'Back to Listing of Places', places_path, method: :get %>
