<%require 'register_type' %>
Page Identification Places:index<p>
<p style="text-align: center">The data displayed in this table for  <b><%= @county  %></b> is based on the files when they were last updated on <%= Rails.application.config.dataset_date %>.</p> 



 <p> 
<%if @user.person_role == 'data_manager' %>
<div style="float:left;">  <%= button_to 'Create New Place', new_place_path, method: :get %> </div>
<%end%>

<div  style="float:left;"> <%= button_to 'County Mangement Tools Page', manage_counties_path, method: :get %></div>


<div  style="float:left;"> <%= button_to 'Resource Management options', manage_resource_path(@user), method: :get %> </div>
 
<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %> 

<div id="main"style="color:black">
<%= paginate @places %> 

<table style="width: 100%">
  <tr>
  
    <th style="width:25%">Place</th>
    <th style="width:12%">Record last amended</th>
    <th style="width:63%">Churches  and  their  Registers</th>
       
  </tr>

<% @places.each do |place| %>
   <% session[:placeid] = place.id%>
 

    <% unless place.error_flag.nil? %>
     <tr style= "color:red" id="<%=place.id%>">
   
     <%else%>
    <tr style= "color:black" id="<%=place.id%>"> 
      <%end%>
   
    <td > <%= link_to(place.place_name, place_path(place)) %> </td>
    <% unless place.error_flag.nil? %>
    <td> <%= place.error_flag %> </td>
     <%else%>
    <td > <%= place.last_amended %> </td>
  <%end%>
   
    <td ><table style="width:650px"> 
     
<% place.churches.order_by(church: 1).each do |church| %>


<tr ><td style="width:300px"> <%= link_to(church.church_name, church_path(church)) %> </td>
<td ><table style="width:250px"><% church.registers.order_by(register_type: 1).each do |register| %>

<% registertype = RegisterType.display_name(register.register_type)%>

<%= link_to(registertype, register_path(register)) %></td><br /></tr>


<% end%>
</table>
<% end%>
</table>
  </td>
  </tr>
<% end %>
</table>
<%= paginate @places %> 
<br />

