<% require 'chapman_code' %>

<%  unless params[:commit] == "Search" %>

<%= semantic_form_for @places do |f| %>
  
    <%= f.input :chapman_code, 
        { :as => :select, 
          :include_blank => false,
          :required => true,
          :collection => ChapmanCode::select_hash_with_parenthetical_codes } %>

    <%= f.action :submit, :as => :input, :label => 'Search'   %>
  
<% end %>
 <% else %>
<p>This Table contains a listing of all Places and Churches held in the FreeREG database for the
  County:
  <b><%= @county  %></b>
</p>
<div id="nav">
	<%= button_to 'Back to County Search Page', places_path, method: :get %>
</div>

<table style="width: 100%">
  <tr>
  
    <th >Place</th>
    <th >Alternate place name</th>
    <th >Genuki page</th>
    <th >Last amended</th>
    <th >Churches</th>
    <th >Action</th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td >
     <%= place.place_name %>
    </td>
       <td >
     <%= place.alternate_place_name %>
      </td>
  <td >
     <%= link_to('Genuki', place.genuki_url) unless place.genuki_url.nil? %>
      </td>
     <td >
     <%= place.last_amended %>
      </td>
    <td >
     <ol>
<% place.churches.order_by(church: 1).each do |church| %>
<li>
<%= link_to(church.church_name, church_path(church)) %><br />


</li>	

<% end%>
    
     </ol>
    
    </td>

    <td >
<%= link_to 'Show Place Details', place_path(place) %>     
<%= link_to 'Edit Place', edit_place_path(place) %>
<%= link_to 'Destroy Place', place_path(place), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Back to County Search Page', places_path, method: :get %>

 <% end %>
