<% require 'chapman_code' %>
<h1>Listing all Places</h1>

<table style="width: 100%">
  <tr>
   <th >County</th>
    <th >Place</th>
    <th >Churches</th>
    <th >Action</th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td style="width:10%">
     <%= ChapmanCode.has_key(place.chapman_code) %>
</td>

    <td style="width:30%">
     <%= place.place_name %>
</td>

    <td style="width:35%">
     <ol>
<% place.churches.order_by(church: 1).each do |church| %>
<li>
<%= link_to(church.church_name, church_path(church)) %><br />


</li>	

<% end%>
    
     </ol>
    
    </td>

    <td style="width:25%">
     
<%= link_to 'Edit Place', edit_place_path(place) %>
<%= link_to 'Destroy Place', place_path(place), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


