Adding a place to <b><%= @county  %></b>

<%= render 'form' %>

<div style="float:left;"> <%= button_to 'Back to Index of Places', places_path, method: :get%></div>
<div  style="float:left;"> <%= button_to 'Back to County Mangement Tools Page', manage_counties_path, method: :get %></div>
<div  style="float:left;"> <%= button_to 'Back to my Resource Management options', manage_resource_path(session[:user]), method: :get %> </div>
<div style="clear:both;"> </div><br>