<p style="text-align: center">Rename <b><%= @place_name %></b> of <b><%= @county %></b><br></p>

<div style="text-align: center"><%= link_to 'Index of Places', places_path( :anchor => "#{@user.id}"), method: :get, :class => "btn  btn--small"%>   <%= link_to 'Show Place Fields', place_path(@place), method: :get, :class => "btn  btn--small" %> <%= link_to 'Edit Place Fields', edit_place_path(@place), method: :get,data: { confirm: 'Are you sure?' }, :class => "btn  btn--small" %> 


  <% if @user.person_role == 'data_manager' ||   @user.person_role == 'system_admistrator'%>
 <%= link_to 'Create New Place', new_place_path, method: :get, :class => "btn  btn--small" %>

  <%= link_to 'Relocate Place to another County', relocate_place_path(@place), method: :get ,data: { confirm: 'Are you sure?' }, :class => "btn  btn--small"%>  
  <%= link_to 'Merge Places with same name into this one', merge_place_path(@place), method: :get,data: { confirm: 'Are you sure?' }, :class => "btn  btn--small" %> <%= button_to 'Destroy Place', place_path(@place), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn  btn--small" %>
<% end%>
</div>
<div style="clear:both;"> </div><br> 


<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %> 
<section class="island  island--light">
<%= semantic_form_for  @place, :html => { :class => "grid"}  do |f| %>
<%= f.input :place_name,{ :as => :select,:label => "New Place Name :",:include_blank => false,
      :required => true, :collection => @placenames,:size => 15 } %>
 
 <%= f.action :submit, :as => :input, :label => 'Rename' %>
 <% end %>
 <p style="color:red">Please note if you are changing the name in a large numer of records the processing time could be several minutes depending upon the number of batches affected. <b>Please wait for the process to complete.</b></p>
 </section>
  