<p id="notice"><%= notice %></p>

<p>
  <b>Chapman code:</b>
  <%= @place.chapman_code %>
</p>

<p>
  <b>Place name:</b>
  <%= @place.place_name %>
</p>

<p>
  <b>Genuki url:</b>
  <%= @place.genuki_url %>
</p>

<p>
  <b>Churches and Registers:</b><br />
  <ul>
	  <% @place.churches.each do |church| %>
	  	<li>
		  	<%= link_to(church.church_name, church_path(church)) %><br />
			<ul>
				<% church.registers.each do |register| %>
					<li>
						<%= register.register_type %>
						<%= register.start_year %>
						-
						<%= register.end_year %>
						(<%= register.status %>)
					</li>
				<% end%>
			</ul>  		
	  	</li>
	  <% end %>  	
  </ul>
  	

</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
