<% require 'chapman_code' %>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<p></p>

<p>
  <b>County:</b>
  <%= ChapmanCode.has_key(@place.chapman_code) %>
</p>

<p>
  <b>Place name:</b>
  <%= @place.place_name %>
</p>
<p>
 <b>Alternate place name:</b>
     <%= @place.alternate_place_name %>
      </p>
      <p>
 <b>Last amended:</b>
  <%= @place.last_amended %>
      </p>
      <p>
  <b>Latitude:</b>
  <%= @place.master_place_lat %>
      </p>  
      <p>
  <b>Longitude:</b>
  <%= @place.master_place_lon %>
      </p>        
<p>
  <b>Genuki url:</b>
  <%= @place.genuki_url %><br>
  <b>Test link:</b>
  <%= link_to('Genuki', @place.genuki_url) unless (@place.genuki_url.nil? || @place.genuki_url == "no url")%>
</p>
 <p>
  <b>Place notes:</b>
  <%= @place.place_notes %>
      </p>       
<p>
  <b>Churches and Registers:</b><br />
  <ul>
<% @place.churches.order_by(:church_name.asc).each do |church| %>
<li>
<%= link_to(church.church_name, church_path(church)) %><br />
<ul>
<% church.registers.each do |register| %>

<% end%>
</ul>
</li>
<% end %>
  </ul>
  

</p>


<%= button_to 'Edit Place', edit_place_path(@place), method: :get %> 
<%= button_to_function "Back to Previous Page", "history.back()" %> 
