<% require 'chapman_code' %>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<p></p>

<p>
  <b>County:</b>
  <%= ChapmanCode.has_key(@place.chapman_code) %>
</p>

<p>
  <b>Place name:</b>
  <%= @place.place_name %>
</p>

<p>
  <b>Genuki url:</b>
  <%= @place.genuki_url %>
</p>

<p>
  <b>Churches and Registers:</b><br />
  <ul>
<% @place.churches.each do |church| %>
<li>
<%= link_to(church.church_name, church_path(church)) %><br />
<ul>
<% church.registers.each do |register| %>

<% end%>
</ul>
</li>
<% end %>
  </ul>
  

</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to_function "Back", "history.back()" %> 
