<% breadcrumb :show_place,  @county, @place%>

<div style="text-align: center"> <%= link_to 'Edit Place Information', edit_place_path(@place), method: :get,data: { confirm: 'Are you sure?' }, :class => "btn  weight--light btn--small" %>    <%= link_to 'Create New Church', new_church_path, method: :get , :class => "btn weight--light  btn--small"%>
  <% if @user.person_role == 'data_manager' ||   @user.person_role == 'system_administrator'%>
<%= link_to 'Create New Place', new_place_path, method: :get, :class => "btn weight--light  btn--small" %>   <%= link_to 'Change Place Name', rename_place_path(@place), method: :get,data: { confirm: 'Are you sure?' }, :class => "btn weight--light  btn--small" %>   <%= link_to 'Destroy Place', place_path(@place), method: :delete, data: { confirm: 'Are you sure you want to destroy this Place.? It will not happen if there are dependants!' }, :class => "btn weight--light  btn--small" %> <%= link_to 'Fill County and Country fields', relocate_place_path(@place), method: :get ,data: { confirm: 'Are you sure?' }, :class => "btn weight--light  btn--small"%>
 <% end%>
</div>
<div style="clear:both;"> </div>
<% if flash[:notice] %>
<div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
</div>
<% end %>
<div class="grid">
  <section class="island ">
    <h4 style="text-align: center">The Place has the following Church(es)
          <% @place.churches.order_by(church_name: 1).each do |church| %>
      <%= link_to church.church_name, church_path(church), :class => "btn weight--light  btn--small"  %>
      <% end %></h4>
    <div class="grid__item  ">
    <table class="table--bordered table--data " >
      <colgroup >
      <col class=t40>
      <col class=t60>
      </colgroup>
      <tr>
        <th class="caps">Field</th>
        <th  class="caps">Value</th>
      </tr>
      <tr>
        <td>Place : </td> <td class="weight--semibold"><%= @place.place_name %>  </td>
      </tr>
      <tr>
        <td>County:</td> <td class="weight--semibold"><%= @place.county %></td>
      </tr>
      <tr>
        <td>Country:</td> <td class="weight--semibold"><%= @place.country %></td>
      </tr>
     
      <%  @place.alternateplacenames.each do |place|%>
            <tr><td>Other possible place name :</td><td class="weight--semibold"><%= place.alternate_name %> </td> </tr>
        <% end%>       
      
      <tr>
        <td>Genuki page :</td><td ><%= link_to('Location', @place.genuki_url, :class => "btn weight--light  btn--small",:target => "_blank") unless @place.genuki_url.nil? || @place.genuki_url == "no url" %></td> </tr>
        
        
        <tr>
          <td>Notes about the place :</td><td class="weight--semibold"><%= @place.place_notes %> </td>
        </tr>
        <tr>
          <td>Grid Reference:</td><td class="weight--semibold"> <%= @place.grid_reference %></td>
        </tr>
        <tr>
          <td>Latitude:</td><td class="weight--semibold"> <%= @place.latitude%></td>
        </tr>
        <tr>
          <td>Longitude:</td><td class="weight--semibold"> <%= @place.longitude%></td>
        </tr>
        <tr>
          <td>Source:</td><td class="weight--semibold"> <%= @place.source %></td>
        </tr>
        <tr>
          <td>Original place name:</td><td class="weight--semibold"> <%= @place.original_place_name %></td>
        </tr>
        <tr>
          <td>Original county:</td><td class="weight--semibold"> <%= @place.original_county %></td>
        </tr>
        <tr>
          <td>Original country:</td><td class="weight--semibold"> <%= @place.original_country %></td>
        </tr>
        <tr>
          <td>Original Grid Reference:</td><td class="weight--semibold"> <%= @place.original_grid_reference %></td>
        </tr>
        <tr>
          <td>Original latitude:</td><td class="weight--semibold"> <%= @place.original_latitude %></td>
        </tr>
        <tr>
          <td>Original longitude:</td><td class="weight--semibold"> <%= @place.original_longitude %></td>
        </tr>
        <tr>
          <td>Original source:</td><td class="weight--semibold"> <%= @place.original_source %></td>
        </tr>
        <tr>
          <td>Reason for changes:</td><td class="weight--semibold"> <%= @place.reason_for_change %></td>
        </tr>
        <tr>
          <td>Another reason for changes:</td><td class="weight--semibold"> <%= @place.other_reason_for_change %></td>
        </tr>
        <tr>
          <td>Date when record last amended:</td><td class="weight--semibold"> <%= @place.last_amended %></td>
        </tr>
        <% unless @place.error_flag.nil? %>
        <tr style= "color:red">
          <td >Error in place</td><td class="weight--semibold">  <%= @place.error_flag %> </td>
        </tr>
        <%else%>
        <tr style= "color:black">
        </tr>
        <% end%>
        
        <tr>
          <td>Data present for this place:</td><td class="weight--semibold"> <%= @place.data_present %></td>
        </tr>
      </table>
    </div>
  </section>
</div>