<!-- <div class="island  island--dark  flush--bottom  milli  text--white"> -->
<div class="c-subfooter-1 island--dark">
    <div class="c-subfooter-1__wrap">
        <!-- <div class="container text--center bfoot-container bfoot-layout"> -->
        <!-- <div class="grid"> -->
        <!-- <div class="info-1 grid__item  one-third  palm-one-whole text--left"> -->
        <!-- <ul class="nav  nav--stacked  lap-and-up-flush--bottom"> -->
        <div class="c-subfooter-1__nav">
            <p class="c-subfooter-1__nav-heading">Useful Links</p>
            <ul class="c-subfooter-1__nav-list">
                <li class="c-subfooter-1__nav-item">
                    <%= link_to helpful_anchors[:cookiePolicy].html_safe, helpful_links[:cookiePolicy] %>
                </li>
                <li class="c-subfooter-1__nav-item">
                    <%= link_to helpful_anchors[:privacyNotice].html_safe, helpful_links[:privacyNotice] %>
                </li>
                <li class="c-subfooter-1__nav-item">
                    <%= link_to helpful_anchors[:termAndConditions].html_safe, helpful_links[:termAndConditions] %>
                </li>
                <li class="c-subfooter-1__nav-item">
                    <%#= link_to appname_downcase == 'freereg' ? "FAQs & #{helpful_anchors[:contactUs].html_safe}" : helpful_anchors[:contactUs].html_safe, helpful_links[:contactUs], html_options2 %>
                </li>
                <li class="c-subfooter-1__nav-item">
                    <%= link_to helpful_anchors[:donation].html_safe, helpful_links[:donation ] %>
                </li>
                <li class="c-subfooter-1__nav-item">
                    <%= link_to helpful_anchors[:fugNews].html_safe, helpful_links[:fugNews ] %>
                </li>
            </ul>
        </div>
        <!-- <div class="grid__item  one-third  palm-one-whole"> -->
        <nav class="c-subfooter-1__fug" role="navigation">
            <p class="c-subfooter-1__fug-heading">A project by</p>
            <%= link_to helpful_anchors[:freeukgenIcon].html_safe, helpful_links[:freeukgen], html_options_freeukgen_icon %>
        </nav>
        <!-- <div class="follow-us grid__item  one-third  palm-one-whole"> -->
        <nav class="c-subfooter-1__social-nav" role="navigation">
            <!-- <ul class="nav  nav--stacked   lap-and-up-flush--bottom"> -->
            <p class="c-subfooter-1__social-nav-heading">Follow us:<span class="accessibility">All open in new windows</span></p>
            <!-- <section class='social_links'> -->
            <ul class="c-subfooter-1__social-nav-list nav">
                <li class="c-subfooter-1__social-nav-item">
                <%= link_to app_icons2[:news].html_safe, social_links[:news] %>
                </li>
                <li class="c-subfooter-1__social-nav-item">
                <%= link_to app_icons2[:facebook].html_safe, social_links[:facebook] %>
                </li>
                <li class="c-subfooter-1__social-nav-item">
                <%= link_to app_icons2[:twitter].html_safe, social_links[:twitter] %>
                </li>
                <li class="c-subfooter-1__social-nav-item">
                <%= link_to app_icons2[:instagram].html_safe, social_links[:instagram] %>
                </li>
                <li class="c-subfooter-1__social-nav-item">
                <%= link_to app_icons2[:pinterest].html_safe, social_links[:pinterest] %>
                </li>
            </ul>
        </nav>
        <%= render 'layouts/stats' %>
        <%= render 'layouts/copyright' %>

    </div>
</div>