<div class="c-subfooter-1 island--dark">
  <div class="c-subfooter-1__wrap">
    <div class="c-subfooter-1__nav">
      <h2 class="c-subfooter-1__nav-heading gamma">Useful Links</h2>
      <ul class="c-subfooter-1__nav-list">
        <li class="c-subfooter-1__nav-item">
          <%= link_to helpful_anchors[:cookiePolicy].html_safe, helpful_links[:cookiePolicy] %>
        </li>
        <li class="c-subfooter-1__nav-item">
          <%= link_to helpful_anchors[:privacyNotice].html_safe, helpful_links[:privacyNotice] %>
        </li>
        <li class="c-subfooter-1__nav-item">
          <%= link_to helpful_anchors[:termAndConditions].html_safe, helpful_links[:termAndConditions] %>
        </li>
        <li class="c-subfooter-1__nav-item">
          <%= link_to helpful_anchors[:accessibility].html_safe, helpful_links[:accessibility] %>
        </li>
        <li class="c-subfooter-1__nav-item">
          <%= link_to appname_downcase == 'freereg' ? "FAQ & #{helpful_anchors[:contactUs].html_safe}" : helpful_anchors[:contactUs].html_safe, helpful_links[:contactUs], html_options2 %>
        </li>
        <li class="c-subfooter-1__nav-item">
          <%= link_to helpful_anchors[:donation].html_safe, helpful_links[:donation ] %>
        </li>
        <li class="c-subfooter-1__nav-item">
          <%= link_to helpful_anchors[:fugNews].html_safe, helpful_links[:fugNews ] %>
        </li>
      </ul>
    </div>
    <aside aria-label="Parent project" class="c-subfooter-1__fug">
      <h2 class="c-subfooter-1__fug-heading epsilon">A project by</h2>
      <%= link_to helpful_anchors[:freeukgenIcon].html_safe, helpful_links[:freeukgen], html_options_freeukgen_icon %>
    </aside>
    <aside aria-label="Social media links" class="c-subfooter-1__social-nav">
      <h2 class="c-subfooter-1__social-nav-heading epsilon">Follow us:</h2>
      <ul class="c-subfooter-1__social-nav-list nav">
        <li class="c-subfooter-1__social-nav-item">
          <%= link_to app_icons2[:facebook].html_safe, social_links[:facebook] %>
        </li>
        <li class="c-subfooter-1__social-nav-item">
          <%= link_to app_icons2[:instagram].html_safe, social_links[:instagram] %>
        </li>
        <li class="c-subfooter-1__social-nav-item">
          <%= link_to app_icons2[:pinterest].html_safe, social_links[:pinterest] %>
        </li>
      </ul>
    </aside>
    <%= render 'layouts/stats' %>
    <%= render 'layouts/copyright'%>
  </div>
</div>
