<style>
#bmd_main_nav a {
  font-size: 20px;
  font-weight: bold;
}

  .hovier_active:hover {
    background: #C84182 !important;
    color: #fff !important;
    cursor: pointer !important;
  }
  .active:focus, .hover_active:focus {
    outline: 2px solid #005fcc;
    outline-offset: 2px;
  }
  .visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    border: 0;
    padding: 0;
    margin: -1px;
  }

  .donate_link:hover .heart-icon {
  display: none;
}

  .donate_link:hover .hand-heart-icon {
    display: inline-block;
  }

/* By default, hide the hand-holding-heart icons */
  .donate_link .hand-heart-icon {
    display: none;
  }

  .fa-hand-holding-heart {
    color: #00857e;
  }

</style>

<!--div class='kittu'>
    <nav class='Navbar'>
        <div class="Navbar__Link Navbar__Link-brand kodhandam">
            <%#= link_to '/', class: "site__header__logo  icon__freebmd dhandam" do %>
            <%# end %>
        </div>
        <div class="Navbar__Link Navbar__Link-toggle " >
            <i class="fa fa-bars fa-2x" id='offcanvas_trigger' aria-hidden="true" onclick="w3_open()"></i>
        </div>
        <nav class="flex_container" >
          <%# if nav_search_form_link.present?%>
            <div class="Navbar__Link">
              <%#=nav_search_form_link%>
            </div>
          <%# end%>
          <%# if nav_transcription_page_link.present?%>
            <div class="Navbar__Link">
              <%#=nav_transcription_page_link%>
            </div>
          <%# end%>
          <%# if nav_about_page_link.present?%>
            <div class="Navbar__Link">
              <%#=nav_about_page_link%>
            </div>
          <%# end%>http://localhost:3000/cms/help
          <%# if nav_volunteer_page_link.present?%>
            <div class="Navbar__Link">
              <%#=nav_volunteer_page_link%>
            </div>
          <%# end%>
          <%# if nav_member_page_link.present?%>
              <div class="Navbar__Link">
                <%#=nav_member_page_link%>
              </div>
          <%# end%>
          <%# if nav_actions_page_link.present?%>
            <div class="Navbar__Link">
              <%#=nav_actions_page_link%>
            </div>
          <%# end%>
          <%#if nav_help_pages_link.present?%>
            <div class="Navbar__Link">
              <%#=nav_help_pages_link%>
            </div>
          <%# end%>
        </nav>
    </nav>
    
</div-->
  <div class="kodhandam offcanvas__primary">
      <%= link_to '/', class: "site__header__logo icon__freebmd #{check_current_page('')}" do %>
      <% end %>
  </div>
  <div class="site__header__nav offcanvas__primary">
     <div class="Navbar__Link-toggle navbar_toggle" id="menu_container" >
            <i class="fa fa-bars fa-2x float--right nav_toggle menu_bar" id='trigger-offcanvas' aria-hidden="true"></i>
            <i class="fas fa-times fa-2x float--right nav_toggle menu_bar_cancel" id='trigger-offcanvas-cancel' aria-hidden="true"></i>
        </div>
    <!--div class="offcanvas__secondary"-->
      <div class="site__header__nav__inner">
       
        <nav class="main-nav float--right" role="navigation" aria-label="Main menu" id="bmd_main_nav">
           <ul class="nav hide_nav capitalize">
            <% if nav_search_form_link.present?%>
              <li><%= nav_search_form_link %></li>
            <% end %>
            <% if nav_transcription_page_link.present?%>
              <li><%= nav_transcription_page_link %></li>
            <% end %>
            <% if nav_volunteer_page_link.present?%>
              <li><%= nav_volunteer_page_link %></li>
            <% end %>
            <% if nav_member_page_link.present?%>
              <li><%= nav_member_page_link %></li>
            <% end %>
            <% if nav_actions_page_link.present?%>
              <li><%= nav_actions_page_link %></li>
            <% end %>
            <% if nav_freecen_gazetteer.present?%>
              <li><%= nav_freecen_gazetteer %></li>
            <% end %>
             <% if nav_help_page_link.present?%>
               <li><%=nav_help_page_link%></li>
            <% end %>
             <% if nav_about_page_link.present?%>
               <li><%= nav_about_page_link %></li>
             <% end %>
             <li><%= nav_donate_page_link %></li>
          </ul>
        </nav>
      </div>
    <!--/div-->
  </div>

  <div class="site__header__nav_palm  offcanvas__secondary">
  <div class="site__header__nav__inner">
    <nav class="main_nav_palm" role="navigation" aria-label="Main menu">
      <ul class="nav large_screen_hide">
        <% if nav_search_form_link.present?%>
          <li><%=nav_search_form_link%></li>
        <% end%>
        <% if nav_transcription_page_link.present?%>
          <li><%=nav_transcription_page_link%></li>
        <% end%>
        <% if nav_volunteer_page_link.present?%>
          <li><%=nav_volunteer_page_link%></li>
        <% end%>
        <% if nav_member_page_link.present?%>
          <li><%=nav_member_page_link%></li>
        <% end%>
        <% if nav_actions_page_link.present?%>
          <li><%=nav_actions_page_link%></li>
        <% end%>
        <% if nav_freecen_gazetteer.present?%>
          <li><%=nav_freecen_gazetteer%></li>
        <% end%>
        <% if nav_help_page_link.present?%>
          <li><%=nav_help_page_link%></li>
        <% end%>
        <% if nav_about_page_link.present?%>
          <li><%=nav_about_page_link%></li>
        <% end%>
      </ul>
    </nav>
  </div>
</div>
