<div id="overlay"></div>
<div class="donation_dialog" id="donate_cta_pop_up">
    <div class="donate_cta__header__nav text--center">
        <p id="top_banner_text"><strong><%= "Support our Free Genealogy UK Project".upcase %></strong></p>
    </div>
    <div class="grid">
        <aside class="grid__item desk-one-half lap-one-whole palm-one-whole float--right">
            <div id="honeycomb">
                <%= image_tag("png/honeycomb.png", alt: "honeycomb", class: "float--right flush--right hard--right")%>
            </div>
        </aside>
        <div class="grid__item desk-one-half lap-one-whole palm-one-whole" id="thank_you">
            <div class="push--left">
              <h3>Thank you for using <%= "Free#{appname_downcase[4,4].upcase}"%></h3>
              <p>Free UK Genealogy is a Registered charity, and our sole purpose is to provide free access to family history. We believe that you shouldn't have to pay for access to your family history, and that providing free access is the best way to preserve this rich source of information for future generation.</p>
              <p>We have big plans for more transcription projects, but we need your donations</p>
            </div>
        </div>
        <div class="grid__item desk-one-whole lap-one-whole palm-one-whole text--center" id="donate_request">
            <p><strong>Please help us to keep history free.</strong></p>
              <div class="grid__item desk-one-half lap-one-half palm-one-whole text--right">
                <a href="https://www.freeukgenealogy.org.uk/help-us-keep-history-free" class="freeREG btn btn--small soft--sides" target="_blank">Read More</a>
              </div>
              <div class="grid__item desk-one-half lap-one-half palm-one-whole text--left">
                <a href="https://donate.kindlink.com/free-uk-genealogy/5007" class="freeREG btn btn--small " id="donate" target="_blank">Make a donation</a>
              </div>
        </div>
        <div class="grid__item desk-one-whole lap-one-whole palm-one-whole text--center">
          <span id="reminder_form_controller" class="push--right"><small>Maybe later</small></span>
          <span id="close_donate_cta_pop_up" class="push--left"><small>Close</small></span>
        </div>
        <!--div class="grid__item desk-one-whole lap-one-whole palm-one-whole text--center">
            <div class="grid__item desk-one-quarter lap-one-half palm-one-whole">
                <span id="reminder_form_controller"><small>Maybe later</small></span>
            </div>
            <div class="grid__item desk-one-quarter lap-one-half palm-one-whole">
                
            </div>
        </div-->
    </div>

    
    <div class="grid push-half--top">
        <!--div class="grid__item desk-one-half lap-one-half palm-one-whole float--right" style= "max-height: 310px;">
            <%#= image_tag("png/honeycomb.png", alt: "honeycomb")%>
        </div-->
        <!--div class="grid__item desk-one-half lap-one-half palm-one-whole">
            <h3>Thank you for using our website.</h3>
            <p>Free UK Genealogy is a Registered charity, and our sole purpose is to provide free access to family history.</p>
            <p>Give a one-off or regular donation</p>
              <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
              </ul>
        </div-->
    </div>
    <!--div class="grid">
        <div class="text--center" id="donate_box">
            <center>
                <p><strong>Please help us to keep history free.</strong></p>
                <a href="https://donate.kindlink.com/free-uk-genealogy/3553" class="freeREG" id="donate" target="_blank"><%= DonateIconHelper::DONATE_ICON.html_safe %></a>
            </center>
        </div>
        <%= form_tag reminder_to_donate_index_path(@reminder_to_donate), method: :post, id: 'reminder_to_donate_form' do %>
            <%# raise @reminder_to_donate.errors.inspect %>
            <% if @reminder_to_donate.present? && (@reminder_to_donate.errors.present? || @reminder_to_donate.errors.any?) %>
                <div role="alert">
                    <fieldset class="input">
                        <legend>Error List</legend>
                        <h2 class="gamma">Following <%= pluralize(@reminder_to_donate.errors.count, 'error') %> prevented the form from submitting.</h2>
                        <ol class="validation-list">
                            <% @reminder_to_donate.errors.messages.each do |key, msg| %>
                                <li>
                                    <%= msg[0] %>
                                </li>
                            <% end %>
                        </ol>
                    </fieldset>
                </div>
            <% end %>
            <div class="grid__item desk-one-half lap-one-half palm-one-whole" id="reminder_form">
                <fieldset class="input" id="remind_me_later_form">
                    <legend>Remind me later form</legend>
                    <div class="grid__item desk-one-half lap-one-whole palm-one-whole">
                        <%= label_tag 'email', 'Email Address'%>
                        <%= email_field_tag 'reminder_to_donate[email]' %>
                    </div>
                    <div class="grid__item desk-one-half lap-one-whole palm-one-whole">
                        <%= submit_tag "Submit", class: 'spinner-controller ladda-button push--top float--right' , id: '', data: {style: "zoom-out", color: appname.downcase, size: "s", "spinner-color" => "#ffffff"} %>
                    </div>
                </fieldset>
            </div>
        <% end %>
    </div-->
    <!--div class="text--center" id="other_links">
        <div class="" >
            <p><strong>Please help us to keep history free.</strong></p>
            <%#= link_to "Find out more |", 'https://www.freeukgenealogy.org.uk/help-us-keep-history-free', class: "" %> <span id="reminder_form_controller"><strong>Remind me later |</strong></span><span id="close_donate_cta_pop_up"><strong> Close</strong></span>
        </div>
    </div-->

</div>

<style>
    @media only screen and (max-width: 570px) {
        #donate_request > .text--right, #donate_request > .text--left {
            text-align: center !important;
        }
    }

    @media only screen and (max-width: 1024px) {
        #honeycomb {
            display: none !important;
        }
         div#thank_you::before {
            background: url("/honeycomb.png");
            background-repeat: no-repeat;
            background-size: cover !important;
            position: absolute;
            top: 7%;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: -1;
            content: "";
            opacity: 20%;
            height: 55%;

        }
    }

    .donation_dialog{
        width: 70% !important;
        background-color: #edfbfb;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 10000;
        top: 7%;
        left: 20%;
        right: auto;
        margin-left: -80px;
    }
    
    #reminder_form_controller, #close_donate_cta_pop_up {
        color: #C84182;
        cursor: pointer;
    }
    #donate_cta_pop_up {
        display: none;
    }

    #reminder_form{
        display: none;
    }

    #overlay {
      position: fixed;
      dispaly: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 2;
      cursor: pointer;
    }
    .donate_cta__header__nav{
            background: #007fad;
    overflow: hidden;
    height: 46px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0%;
    z-index: 30000;

    }

    #top_banner_text {
        padding: 10px;
        color: #fff;
    }
    #honeycomb {
        padding-top: 37px;
    }
    #thank_you {
        padding-top: 45px;
    }

    .donate_cta_buttons {
        background-color: #007fad !important;
        border: 2px solid #007fad !important;
    }

</style>