<div id="overlay"></div>
<div class="donation_dialog" id="donate_cta_pop_up">
    <div class="donate_cta__header__nav text--center">
        <p id="top_banner_text"><%= "Support our Free UK Genealogy Volunteers".upcase %></p>
    </div>
    <div class="grid">
        <div class="grid__item desk-wide-one-half desk-two-thirds lap-one-whole palm-one-whole" id="thank_you">
            <div class="push--left" id="main_box">
                <div class="grid__item desk-three-quarters lap-one-whole palm-one-whole logo_div push-half--bottom push--top">
                  <%= image_tag("png/ty_#{appname_downcase}.png", alt: "Thank you for using #{appname_downcase}")%><%#= "Free#{appname_downcase[4,4].upcase}"%>
                </div>
                <div class="grid__item desk-one-whole lap-one-whole palm-one-whole">
                    <p id="charity_text" class="weight--semibold">We're a registered charity and we need your support.</p>
                    <p>It's our mission to provide free access to family history <span style="white-space: nowrap;"><strong>for everyone, forever.</strong></span><br>Our data is free – but running our databases is not. Your donations enable us to support our volunteer transcribers to produce <span style="white-space: nowrap;">high-quality</span> transcriptions to grow your family tree.</p>
                </div>
            </div>
        </div>
        <div class="grid__item desk-one-whole lap-one-whole palm-one-whole">
            <div class="grid__item desk-wide-three-quarters desk-two-thirds lap-one-whole palm-one-whole" >
                <div class="push--left" id="request_box">
                   <p><strong>Help us keep your family history free.</strong></p>
                    <div class="grid__item desk-one-whole lap-one-whole palm-one-whole hard--left">
                        <div class="grid__item desk-one-half lap-one-half palm-one-whole hard--left" id="read_more_div">
                            <a href="https://www.freeukgenealogy.org.uk/why-donate" class="text--center btn btn--small" target="_blank" tabindex="0" id="read_more">Read More</a>
                        </div>
                        <div class="grid__item desk-one-half lap-one-half palm-one-whole" id="donate_div">
                            <%= link_to "DONATE NOW", "https://donate.kindlink.com/free-uk-genealogy/#{ApplicationHelper::DONATE_ID[appname_downcase]}", class: "freeREG btn btn--small weight--semibold", id:"donate_now_button", target:"_blank", tabindex: "0" %>
                        </div>
                    </div>
                </div>
           </div>
           <aside class="grid__item desk-wide-one-quarter desk-one-third lap-one-whole palm-one-whole float--right" id="fundraising_box">
                <%= image_tag("png/fr.png", alt: "Fundraising", class: "", id:"fundraising")%>
            </aside>
        </div>
        <div class="grid__item desk-one-whole lap-one-whole palm-one-whole text--center push--bottom">
          <span id="reminder_form_controller" class="" tabindex="0">
                <small class="remind_me_later_cta" id="remind_me_later_button">Remind me later</small>
                <small><i class="fa fa-clock push-half--right remind_me_later_cta"></i></small>
          </span>
          <span id="close_donate_cta_pop_up" class="push-half--left" tabindex="0">
            <small><i class="fa fa-times push-half--right close_cta"></i></small>
            <small class="close_cta" id="close_button_cta">Close</small>
          </span>
        </div>
        <aside class="grid__item lap-one-whole palm-one-whole " id="fundraising_box_2">
                <%= image_tag("png/fr.png", alt: "Fundraising", class: "", id:"fundraising")%>
        </aside>
    </div>
</div>
<%= render "reminder_to_donate/form"%>

<style>
    #overlay {
        display: none;
    }
    #nandri_font {
        font-family: 'MuseoModerno', cursive;
    }

    #charity_text {
        color: #00857e;
    }

    #fundraising_box_2 {
        display: none;
    }

    #read_more {
        width: 70%;
        color: #222222;
        background-color: white;
        font-weight: bold;
        border-color: grey;
        padding:  5px;
    }

    #read_more:hover, #read_more:focus {
        border: 2px dashed grey;
        font-weight: 600;
    }

    #donate_now_button {
        width: 100%;
        background-color: #c84182;
        border-color:  #c84182;
        padding:  5px;
    }

    #donate_now_button:hover, #donate_now_button:focus {
        background-color: white;
        color: #c84182;
    }

    .donation_dialog {
        left: 0 !important;
        right: 0;
        margin: 0 auto;
        position: absolute;
        background-color: white;
        border-radius: 6px;
        padding: 8px 0;
        z-index: 10000;
    }

    @media only screen and (min-width: 1300px) {
        .donation_dialog {
            width: 70%;
            max-width: 800px;
        }
    }
    
    
    @media only screen and (max-width: 570px) {
        #donate_request > .text--right, #donate_request > .text--left {
            text-align: center !important;
        }
        #fundraising_box {
            display: none;
        }

        #fundraising_box_2 {
            display: block;
            text-align: center;
        }
        #donate_div {
            padding-left: 0px !important;
        }
        #donate_now_button{
            width: 70%;
        }
    }

    @media only screen and (max-width: 1024px) {
        #honeycomb {
            display: none !important;
        }
         div#thank_you::before {
            background: url("/honeycomb.png");
            background-repeat: no-repeat;
            background-size: cover !important;
            position: absolute;
            top: 7%;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: -1;
            content: "";
            opacity: 20%;
            height: 55%;


        }

        #main_box, #request_box {
            padding: 5px 25px 0px 0px;
        }

        #fundraising {
            width: 50%;
        }

        #fundraising_box {
            display: none;
        }

        #fundraising_box_2 {
            display: block;
            text-align: center;
        }

    }

    @media only screen and (min-width: 1025px) {
        #honeycomb {
            display: none !important;
        }
         div#thank_you::before {
            background: url("/honeycomb.png");
            background-repeat: no-repeat;
            background-size: cover !important;
            position: absolute;
            top: 7%;
            right: 0px;
            bottom: 0px;
            z-index: -1;
            content: "";
            opacity: 70%;
            height: 55%;
            width: 60%;


        }

        #fundraising {
            width: 80%;
            max-width: 300px;
            height: 110px;
            padding-top: 30px;
            float: right;
        }

        #donate_div{
            padding-left: 0px !important;
        }

        #donate_now_button {
            width:  100%;
            float: right;
        }

        #read_more {
            width:  85%;
        }

    }

    @media only screen and (min-width: 1024px) and (max-width: 1100px) {
         .thank_you_text_div {
            margin-top: 5px;
            width: 50%;
        }
    }

    @media only screen and (min-width: 1100px) and (max-width: 1320px){
         .thank_you_text_div {
            margin-top: 9.5px;
            width: 40%;
        }
    }

    @media only screen and (min-width: 1320px){
         .thank_you_text_div {
            margin-top: 9.5px;
            width: 35%;
        }
    }

    @media only screen and (max-width: 570px) {
        #honeycomb {
            display: none !important;
        }
         div#thank_you::before {
            background: url("/honeycomb.png");
            background-repeat: no-repeat;
            background-size: cover !important;
            position: absolute;
            top: 7%;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: -1;
            content: "";
            opacity: 20%;
            height: 55%;

        }

        .donation_dialog{
            width: 80% !important;
            top: 5%;
        }
    }

    @media only screen and (min-width: 570px) {
        .donation_dialog{
            width: 70% !important;
            top: 15%;
            
        }

    }

    @media only screen and (min-width: 1024px) {
        #reminder_to_donate_form {
            width: 30%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            background-color: #edfbfb;
            border-radius: 6px;
            padding: 18px 0;
            position: absolute;
            z-index: 100000;
            top: 3%;
            left: 40%;
            right: auto;
            margin-left: -80px;
            display: none;
        }
    }

    @media only screen and (max-width: 1024px) {
        #reminder_to_donate_form {
            width: 50%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            background-color: #edfbfb;
            border-radius: 6px;
            padding: 18px 0;
            position: absolute;
            z-index: 100000;
            top: 10%;
            left: 40%;
            right: auto;
            margin-left: -80px;
            display: none;
        }
    }

    @media only screen and (max-width: 720px) and (min-width: 570px){
        #reminder_to_donate_form {
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            background-color: #edfbfb;
            border-radius: 6px;
            padding: 18px 0;
            position: absolute;
            z-index: 100000;
            top: 10%;
            left: 20%;
            right: auto;
            margin-left: -80px;
            display: none;
        }
        .thank_you_text_div {
            width: 60%;
            margin-top: -3px;
        }
        /*.logo_div {
            width: 40%;
            margin-top: -5px;
        }*/

    }

    @media only screen and (min-width: 720px) and (max-width: 1024px) {
        
        .thank_you_text_div {
            width: 45%;
        }
    }

    @media only screen and (max-width: 570px) {
        #reminder_to_donate_form {
            width: 90%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            background-color: #edfbfb;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 100000;
            top: 5%;
            left: 30%;
            right: auto;
            margin-left: -75px;
            display: none;
        }
    }

    #reminder_to_donate_form:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    #reminder_form_controller, #close_donate_cta_pop_up {
        color: #505050;
        cursor: pointer;
    }
    #reminder_form_controller:hover, #close_donate_cta_pop_up:hover {
        border:  2px dashed;
        padding: 2px;
    }
    #donate_cta_pop_up {
        display: none;
    }

    #overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 2000;
      cursor: pointer;
    }

    .donate_cta__header__nav{
        background: #00857e;
        overflow: hidden;
        height: 46px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0%;
        z-index: 30000;
        border-radius: 1.2%;
    }

    #top_banner_text {
        padding: 10px;
        color: #fff;
    }
    #honeycomb {
        padding-top: 37px;
    }
    #thank_you {
        padding-top: 45px;
    }

    .donate_cta_buttons {
        background-color: #007fad !important;
        border: 2px solid #007fad !important;
    }

</style>
<script>
  //js code to close search criteria
  $('#close_reminder_form').click(
    function() {
     $('#reminder_to_donate_form').hide();
     document.getElementById("overlay").style.display = "none";
  });

</script>