<footer class="site__footer" role="contentinfo">
  <div class="c-subfooter-3 island  island--magenta  flush--bottom">
    <div class="container  text--center">
      <% case appname.downcase%>
      <% when 'freereg' %>
      <%= render 'layouts/freereg_caution' %>
      <% when 'freecen' %>
      <%= render 'layouts/freecen_caution' %>
      <% when 'freebmd' %>
      <%= render 'layouts/freebmd_caution' %>
    <% end %>
  </div>
</div>
<% if appname.downcase == 'freecen'%>
  <p class = "text--center strong">Space for Advertisement</p>
<% end %>
<div class="c-subfooter-2 icon__honeycomb--bottom-left  island  flush--bottom">
  <nav class="container  text--center">
    <%= render "layouts/other_projects" %>
  </nav>
</div>
<%= render 'layouts/basic_footer' %>
</footer>

<script>
  //let div = document.getElementsByClassName("google-auto-placed");
  //let p = document.createElement("p");
  //div.prepend("Space for Advertisement", p);
  //$(".google-auto-placed").prepend('<p class = "text--center strong">Space for Advertisement</p>')
</script>