<header class="site__header" >
  <div class="container">
    <% unless current_page?('/cms/refinery/login') || current_page?('/cms/home/page-not-found') || current_page?('/cms/refinery/users/login')%>
      <% case appname_downcase %>
      <% when 'freecen' %>
      <% unless device_type == :mobile%>
        <div class="bnner-horz cen_unit_headers cen_unit">
          <a href ="https://www.freeukgenealogy.org.uk/help-us-keep-history-free/?_ga=2.145101431.251616756.1548792447-1735478806.1548792447"><%= image_tag 'png/header-donate.png', class: "donations", alt: "Donations - FreeUKGenealogy" %></a>
          <%= banner_header %>
        </div>
        <% unless GdprCountries::FOLLOWED_COUNTRIES.include?(user_location)%>
          <div class="cookieConsent island island--teal flush--bottom">
            <div id="cookieText" >
              We use cookies to ensure you get the best experience with our website. This includes carefully chosen third-party cookies for analysing traffic and advertising. Please select ‘Accept Cookies’ if you consent and wish to continue using the site. <strong><a tabindex = "1" href="/cms/about/cookie-policy" class="cookie_policy_link" id="cookie_policy">More options and information.</a></strong>
            </div>
            <div class = "cookieAcceptButton">
              <input class="btn btn--small accept_cookies" tabindex="3" type="submit" name="accept_cookies" id="accept_cookies" value="Accept Cookies" />
            </div>
          </div>
        <% end %>
      <% end %>
      <% when 'freereg' %>
      <% unless device_type == :mobile%>
        <div class="bnner-horz reg_adsense reg_unit reg_header">
          <a href ="https://www.freeukgenealogy.org.uk/help-us-keep-history-free/?_ga=2.145101431.251616756.1548792447-1735478806.1548792447"><%= image_tag 'png/header-donate.png', class: "donations", alt: "Donations - FreeUKGenealogy" %></a>
          <%= banner_header %>
        </div>
        <% unless GdprCountries::FOLLOWED_COUNTRIES.include?(user_location)%>
          <div class="cookieConsent island island--teal flush--bottom">
            <div id="cookieText" >
              We use cookies to ensure you get the best experience with our website. This includes carefully chosen third-party cookies for analysing traffic and advertising. Please select ‘Accept Cookies’ if you consent and wish to continue using the site. <strong><a tabindex = "1" href="/cms/about/cookie-policy" class="cookie_policy_link" id="cookie_policy">More options and information.</a></strong>
            </div>
            <div class = "cookieAcceptButton">
              <input class="btn btn--small accept_cookies" tabindex="3" type="submit" name="accept_cookies" id="accept_cookies" value="Accept Cookies" />
            </div>
          </div>
        <% end %>
      <% end %>
      <% when 'freebmd' %>
      <% unless device_type == :mobile%>
        <div class="bnner-horz reg_adsense">
          <a href ="https://www.freeukgenealogy.org.uk/help-us-keep-history-free/"><%= image_tag 'png/header-donate.png',  class: "donations", alt: "Donations - FreeUKGenealogy" %></a>
          <%= banner_header %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <button type="button" id="trigger-offcanvas" class="site__header__menu-btn">
    <span>Menu</span>
    <i class="icon__cancel" aria-hidden="true"></i>
  </button>
  <% case appname_downcase %>
  <% when 'freereg' %>
  <%= link_to '/', class: "site__header__logo  icon__freereg" do %>
    <h1 class="accessibility">FreeREG | Free Parish Register Records</h1>
  <% end %>
  <% when 'freecen' %>
  <%= link_to '/', class: "site__header__logo  icon__freecen" do %>
  <% end %>
  <% when 'freebmd' %>
  <%= link_to '/', class: "site__header__logo  icon__freebmd" do %>
  <% end %>
<% end %>
</div>
</header>
<div id="overlay"></div>
<dialog id="myDialog" role="dialog">
  <%= render "layouts/donate_cta" %>
  <!--div id="donate_cta_pop_up" role="dialog">
    
  </div-->
</dialog>
<dialog id="myDialog1" role="dialog">
  <%= render "reminder_to_donate/form"%>
<!--div id="reminder_to_donate_form">
      
  </div-->
</dialog>
<dialog id="myDialog2" role="dialog">
  <%= render "donate_cta_feedback/form"%>
  <!--div id="donate_cta_feedback_form">
      
  </div-->
</dialog>

<style type="text/css">
  /* Hide scrollbar for Chrome, Safari and Opera */
  #myDialog::-webkit-scrollbar, #myDialog1::-webkit-scrollbar, #myDialog2::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  #myDialog, #myDialog1, #myDialog2 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  #myDialog {
    background-color: white;
    border-radius: 6px;
    z-index: 10000;
    height: 75%;
    max-height: 550px;
    autoFocus: false;
    margin:  110px auto auto auto;
    border: none;
  }

  #myDialog1, #myDialog2 {
    background-color: #edfbfb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6px;
    position: absolute;
    z-index: 100000;
    left: 0;
    right: 0;
    margin: 110px auto auto auto;
  }
  
  @media only screen and (min-width: 1300px) {
        #myDialog{
            width: 70%;
            max-width: 800px;
            margin-top: 110px;
            height: 80%;
            max-height: 600px;
        }

        #myDialog1, #myDialog2 {
          width: 30%;
          max-width: 600px;
        }
    }

    @media only screen and (max-width: 1024px) {
        #myDialog1, #myDialog2 {
            width: 50%;

        }
        #myDialog {
          max-height: 650px;
        }
    }

    @media only screen and (min-width: 570px) and (max-width: 720px) {
        #myDialog1, #myDialog2 {
            width: 80%;
        }
    }

    @media only screen and (max-width: 570px) {
      #myDialog{
            width: 80% !important;
            margin-top: 150px;
            max-height: 750px;
        }

        #myDialog1, #myDialog2 {
            width: 90%;
            margin-top: 150px;
        }
    }

    @media only screen and (min-width: 570px) {
        #myDialog{
            width: 70% !important;
            
        }

    }
</style>
<script>
  //js code to close search criteria
  $('#close_reminder_form').click(
    function() {
     document.getElementById("myDialog1").close();
     document.getElementById("overlay").style.display = "none";
  });

  $('#close_feedback_form').click(
    function() {
     document.getElementById("myDialog2").close();
     document.getElementById("overlay").style.display = "none";
  });

</script>

