<header class="site__header" >
  <div class="container">
    <% unless current_page?('/cms/refinery/login') || current_page?('/cms/home/page-not-found') || current_page?('/cms/refinery/users/login')%>
      <% case appname_downcase %>
      <% when 'freecen' %>
      <% unless device_type == :mobile%>
        <div class="bnner-horz cen_unit_headers cen_unit">
          <a href ="https://www.freeukgenealogy.org.uk/help-us-keep-history-free/?_ga=2.145101431.251616756.1548792447-1735478806.1548792447"><%= image_tag 'png/header-donate.png', class: "donations", alt: "Donations - FreeUKGenealogy" %></a>
          <%= my_heritage_720_90_cen %>
        </div>
        <% unless GdprCountries::FOLLOWED_COUNTRIES.include?(user_location)%>
          <div class="cookieConsent island island--teal flush--bottom">
            <div id="cookieText" >
              We use cookies to ensure you get the best experience with our website. This includes carefully chosen third-party cookies for analysing traffic and advertising. Please select ‘Accept Cookies’ if you consent and wish to continue using the site. <strong><a tabindex = "1" href="/cms/about/cookie-policy" class="cookie_policy_link" id="cookie_policy">More options and information.</a></strong>
            </div>
            <div class = "cookieAcceptButton">
              <input class="btn btn--small accept_cookies" tabindex="3" type="submit" name="accept_cookies" id="accept_cookies" value="Accept Cookies" />
            </div>
          </div>
        <% end %>
      <% end %>
      <% when 'freereg' %>
      <% unless device_type == :mobile%>
        <div class="bnner-horz reg_adsense reg_unit reg_header">
          <a href ="https://www.freeukgenealogy.org.uk/help-us-keep-history-free/?_ga=2.145101431.251616756.1548792447-1735478806.1548792447"><%= image_tag 'png/header-donate.png', class: "donations", alt: "Donations - FreeUKGenealogy" %></a>
          <%= my_heritage_720_90_first %>
          </div>
        <% unless GdprCountries::FOLLOWED_COUNTRIES.include?(user_location)%>
          <div class="cookieConsent island island--teal flush--bottom">
            <div id="cookieText" >
              We use cookies to ensure you get the best experience with our website. This includes carefully chosen third-party cookies for analysing traffic and advertising. Please select ‘Accept Cookies’ if you consent and wish to continue using the site. <strong><a tabindex = "1" href="/cms/about/cookie-policy" class="cookie_policy_link" id="cookie_policy">More options and information.</a></strong>
            </div>
            <div class = "cookieAcceptButton">
              <input class="btn btn--small accept_cookies" tabindex="3" type="submit" name="accept_cookies" id="accept_cookies" value="Accept Cookies" />
            </div>
          </div>
        <% end %>
      <% end %>
      <% when 'freebmd' %>
      <% unless device_type == :mobile%>
        <div class="bnner-horz reg_adsense">
          <a href ="https://www.freeukgenealogy.org.uk/help-us-keep-history-free/"><%= image_tag 'png/header-donate.png',  class: "donations", alt: "Donations - FreeUKGenealogy" %></a>
          <%= banner_header %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <button type="button" id="trigger-offcanvas" class="site__header__menu-btn">
    <span>Menu</span>
    <i class="icon__cancel" aria-hidden="true"></i>
  </button>
  <% case appname_downcase %>
  <% when 'freereg' %>
  <%= link_to '/', class: "site__header__logo  icon__freereg" do %>
  <% end %>
  <% when 'freecen' %>
  <%= link_to '/', class: "site__header__logo  icon__freecen" do %>
  <% end %>
  <% when 'freebmd' %>
  <%= link_to '/', class: "site__header__logo  icon__freebmd" do %>
  <% end %>
<% end %>
</div>
</header>
<% unless browser.safari? && browser.full_version.to_f < 15.4 %>
  <% if MyopicVicar::Application.config.cta_display_status %>
    <div id="overlay"></div>
    <dialog id="myDialog" role="dialog">
      <%= render "layouts/donate_cta" %>
    </dialog>
  <% end %>
  <!--dialog id="myDialog1" role="dialog">
    <%#= render "reminder_to_donate/form"%>
  </dialog-->
  <!--dialog id="myDialog2" role="dialog">
    <%#= render "donate_cta_feedback/form"%>
  </dialog-->
<% end %>

<% unless browser.safari? && browser.full_version.to_f < 15.4 %>
  <!--div id="overlay"></div-->
  <!--dialog id="myDialog" role="dialog">
    <%#= render "layouts/fundraise_cta" %>
  </dialog-->
  <!--dialog id="myDialog1" role="dialog">
    <%#= render "reminder_to_donate/form"%>
  </dialog-->
  <!--dialog id="myDialog2" role="dialog">
    <%#= render "donate_cta_feedback/form"%>
  </dialog-->
<% end %>

<style>
.myDialog::backdrop {
        background-color: rgba(0,0,0,0.5);
    }
    @media screen and (max-width: 800px) and (min-width: 570px) {
      #app_main_nav_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* clear: both !important; */
        float: none;
      }
    }
</style>