<div class="site__header__nav  offcanvas__secondary">
  <div class="site__header__nav__inner">
    <nav class="main-nav" role="navigation" aria-label="Main menu">
      <ul class="nav">
        <% if nav_search_form_link.present?%>
          <li><%=nav_search_form_link%></li>
        <% end%>
        <% if nav_transcription_page_link.present?%>
          <li><%=nav_transcription_page_link%></li>
        <% end%>
        <% if nav_about_page_link.present?%>
          <li><%=nav_about_page_link%></li>
        <% end%>
        <% if nav_volunteer_page_link.present?%>
          <li><%=nav_volunteer_page_link%></li>
        <% end%>
        <% if nav_member_page_link.present?%>
          <li><%=nav_member_page_link%></li>
        <% end%>
        <% if nav_actions_page_link.present?%>
          <li><%=nav_actions_page_link%></li>
        <% end%>
        <% if nav_freecen_gazetteer.present?%>
          <li><%=nav_freecen_gazetteer%></li>
        <% end%>
        <% if nav_help_pages_link.present?%>
          <li><%=nav_help_pages_link%></li>
        <% end%>
        <li>
          <a href="#top" style='color:#007fad'>Skip to content</a>
        </li>
      </ul>
    </nav>
  </div>
</div>