<div class="site__header__nav  offcanvas__secondary">
  <div class="site__header__nav__inner">
    <nav class="main-nav" role="navigation">
      <ul>
        <%current_controller = request.path.split( "/" )%>
        <% if current_controller[1].nil? || current_controller[1] == 'search_queries' || current_controller[1] == 'search_records'%>
        <li>
          <%=link_to("Database Contents",main_app.freereg_contents_path)%>
        </li>
        <% else%>
        <li>
          <%= link_to("Search",  main_app.new_search_query_path) %>
        </li>
        <% end%>
        <% if current_refinery_user %>
        <li>
          <%= link_to 'Your Actions', main_app.new_manage_resource_path %>
        </li>
        <li>
          <%= link_to "Logout", refinery.logout_path%>
        </li>
        <li>
          <%user = current_refinery_user.userid_detail%>
          <% if user.person_role == 'transcriber'%>
          <%= link_to "Help", "/information-for-transcribers" %>
          <% elsif (user.person_role == 'technical' || user.person_role == 'system_administrator' || user.person_role == 'country_coordinator'  || user.person_role == 'county_coordinator'  || user.person_role == 'volunteer_coordinator' || user.person_role == 'syndicate_coordinator')%>
          <%= link_to "Help", "/information-for-coordinators" %>
          <% else%>
          <%= link_to "Help", "/registered-researchers" %>
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to "About Us", "/freereg-stands-for-free-registers" %>
        </li>
        <!-- TODO: Convert remainder to refinery page references -->
        <li>
          <%= link_to "Donate", "/donate" %>
        </li>
        <%if current_controller[1].nil?%>
        <li>
          <%= link_to "Members", refinery.login_path%>
        </li>
        <% end %>
        <li>
          <%= link_to "Help", "/tips-for-searching-the-database" %>
        </li>
        <% end %>
      </ul>
    </nav>
    <nav class="social-links">
      <ul>
        <li><a href="http://www.freeukgenealogy.org.uk/blog/rss/"><i class="icon__rss" aria-hidden="true"></i><span class="accessibility">RSS</span></a></li>
        <li><a href="https://plus.google.com/u/0/101103546429519430016/about" target="_blank"><i class="icon__googleplus" aria-hidden="true"></i><span class="accessibility">Google+</span></a></li>
        <li><a href="https://www.facebook.com/freeukgen" target="_blank"><i class="icon__facebook" aria-hidden="true"></i><span class="accessibility">Facebook</span></a></li>
        <li><a href="https://github.com/FreeUKGen" target="_blank"><i class="icon__github" aria-hidden="true"></i><span class="accessibility">Github</span></a></li>
      </ul>
    </nav>
  </div>
</div>