<div class="site__header__nav  offcanvas__secondary">
  <div class="site__header__nav__inner">
    <nav class="main-nav" >
      <ul> 
        <% if controller_name.nil? || controller_name == 'search_queries' || controller_name == 'search_records'%>
        <li>
          <%=link_to("Transcriptions",main_app.new_freereg_content_path)%>
        </li>
        <% else%>
        <li>
          <%= link_to("Search",  main_app.new_search_query_path) %>
        </li>
        <% end%>
        <% if  current_authentication_devise_user.present? %>
        <li>
          <%= link_to 'Your Actions', main_app.new_manage_resource_path %>
        </li>
        <li>
          <%= link_to "Logout", refinery.logout_path%>
        </li>
        <li>
          <% get_user_info_from_userid %>
          <% if @user.person_role == 'transcriber' || @user.person_role == 'trainee' || @user.person_role == 'pending'%>
            <%= link_to "Help", "/cms/information-for-transcribers" %>
          <% elsif @user.person_role == 'researcher'%>
            <%= link_to "Help", "/cms/registered-researchers" %>
          <% else %>
            <%= link_to "Help", "/cms/information-for-coordinators" %>
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to "About", "/cms/about" %>
        </li>
        <!-- TODO: Convert remainder to refinery page references -->
        <li>
          <%= link_to "Donate", "/cms/donate" %>
        </li>
        <li>
          <%= link_to "Volunteer", main_app.transcriber_registration_userid_detail_path %>
        </li> 
        <li>
          <%= link_to "Members", refinery.login_path %>
        </li>     
        <li>
          <%= link_to "Help", "/cms/help" %>
        </li>
        <% end %>
      </ul>
    </nav>
    <nav class="social-links">
      <ul>
        <li><a href="http://www.freeukgenealogy.org.uk/blog/"><i class="icon__rss" aria-hidden="true"></i><span class="accessibility">Blog</span></a></li>
        <li><a href="https://www.twitter.com/freeukgen" target="_blank"><i class="icon__twitter" aria-hidden="true"></i><span class="accessibility">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/freeukgen" target="_blank"><i class="icon__facebook" aria-hidden="true"></i><span class="accessibility">Facebook</span></a></li>
        <li><a href="https://plus.google.com/u/0/101103546429519430016/about" target="_blank"><i class="icon__googleplus" aria-hidden="true"></i><span class="accessibility">Google+</span></a></li>
        <li><a href="https://github.com/FreeUKGen" target="_blank"><i class="icon__github" aria-hidden="true"></i><span class="accessibility">Github</span></a></li>
      </ul>
    </nav>
  </div>
</div>