<h2 class="c-subfooter-2__heading epsilon epsilon text--navy">Other FreeUKGenealogy Projects</h2>
<ul class="c-subfooter-2__nav icon-list">
  <li class="c-subfooter-2__nav-item">
    <% case appname_downcase %>
    <% when 'freecen' %>
    <%= link_to helpful_anchors[:freeregIcon].html_safe, helpful_links[:freereg], html_options_freereg_icon %>
  </li>
  <li class="c-subfooter-2__nav-item">
    <%= link_to helpful_anchors[:freebmdIcon].html_safe, helpful_links[:freebmd], html_options_freebmd_icon %>
    <% when 'freereg' %>
    <%= link_to helpful_anchors[:freecenIcon].html_safe, helpful_links[:freecen], html_options_freecen_icon %>
  </li>
  <li class="c-subfooter-2__nav-item">
    <%= link_to helpful_anchors[:freebmdIcon].html_safe, helpful_links[:freebmd], html_options_freebmd_icon %>
    <% when 'freebmd' %>
    <%= link_to helpful_anchors[:freecenIcon].html_safe, helpful_links[:freecen], html_options_freecen_icon %>
  </li>
  <li class="c-subfooter-2__nav-item">
    <%= link_to helpful_anchors[:freeregIcon].html_safe, helpful_links[:freereg], html_options_freereg_icon %>
  <% end %>
</li>
</ul>
