<div class="c-subfooter-1__stats">
  <% case appname.downcase %>
  <% when 'freereg' %>
  <nav class="c-subfooter-1__stats-heading">
    <!-- <a href="https://www.freereg.org.uk/freereg_contents/new?locale=en">Statistics</a> -->
    <%= link_to helpful_anchors[:statistics].html_safe, helpful_links[:freeregStat] %>
  </nav>
  <% if @site_stat %>
    <dl class="c-subfooter-1__stats-list">
      <dt class="c-subfooter-1__stats-term">Yesterday</dt>
      <dd class="c-subfooter-1__stats-value">
        <%= number_with_delimiter(@site_stat[:n_searches]) %> &nbsp;searches were performed</dd>
      <!--  -->
      <% if @site_stat[:n_records_added].to_i > 0 %>
        <dd class="c-subfooter-1__stats-value">Volunteers uploaded&nbsp;
          <%= number_with_delimiter(@site_stat[:n_records_added]) %> &nbsp;records</dd>
      <% else %>
        <dd class="c-subfooter-1__stats-value">No records were added</dd>
      <% end %>
      <!--  -->
      <dt class="c-subfooter-1__stats-term">Record Count</dt>
      <dd class="c-subfooter-1__stats-value">
        <%= number_with_delimiter(@site_stat[:n_records]) %> &nbsp;Records</dd>
      <dd class="c-subfooter-1__stats-value">
        <%= number_with_delimiter(@site_stat[:n_records_baptisms]) %> &nbsp;Baptisms</dd>
      <dd class="c-subfooter-1__stats-value">
        <%= number_with_delimiter(@site_stat[:n_records_marriages]) %> &nbsp;Marriages</dd>
      <dd class="c-subfooter-1__stats-value">
        <%= number_with_delimiter(@site_stat[:n_records_burials]) %> &nbsp;Burials</dd>
    </dl>
  <% else %>
    <p class="c-subfooter-1__stats-term">Statistics temporarily unavailable</p>
  <% end %>
  <!--  -->
  <% when 'freecen' %>
  <nav class="c-subfooter-1__stats-heading">
    <!-- <a href="https://www.freecen.org.uk/freecen_coverage?locale=en">Statistics</a> -->
    <%= link_to helpful_anchors[:statistics].html_safe, helpful_links[:freecenStat] %>
  </nav>
  <% if @site_stat %>
    <dl class="c-subfooter-1__stats-list">
      <dt class="c-subfooter-1__stats-term">Yesterday</dt>
      <dd class="c-subfooter-1__stats-value">
        <%= number_with_delimiter(@site_stat[:searches]) %> &nbsp;searches were performed</dd>
      <dt class="c-subfooter-1__stats-term">Record Count</dt>
      <dd class="c-subfooter-1__stats-value">
        <%= number_with_delimiter(@site_stat[:records]) %> &nbsp;Records</dd>
      <dt class="c-subfooter-1__stats-term">In the past 30 days volunteers added</dt>
      <dd class="c-subfooter-1__stats-value">
        <%= number_with_delimiter(@site_stat[:added]) %> &nbsp;Records</dd>
    </dl>
  <% else %>
    <p class="c-subfooter-1__stats-term">Statistics temporarily unavailable</p>
  <% end %>
  <!--  -->
  <% when 'freebmd' %>
  <nav class="c-subfooter-1__stats-heading">
    <!-- <a href="https://www.freebmd.org.uk/progress.shtml">Statistics</a> -->
    <%= link_to helpful_anchors[:statistics].html_safe, helpful_links[:freebmdStat] %>
  </nav>
  <dl class="c-subfooter-1__stats-list">
    <dt class="c-subfooter-1__stats-term">Active Volunteers</dt>
    <dd class="c-subfooter-1__stats-value">12,412 all-time</dd>
    <dd class="c-subfooter-1__stats-value">1,994 last year (estimate)</dd>
    <dt class="c-subfooter-1__stats-term"><%= number_to_human(@search_count) %> searches per month</dt>
    <dt class="c-subfooter-1__stats-term">Record Count</dt>
    <dd class="c-subfooter-1__stats-value"><%= number_to_human(footer_records_stats(@site_stat, 1)) %> Birth records</dd>
    <dd class="c-subfooter-1__stats-value"><%= number_to_human(footer_records_stats(@site_stat, 3)) %> Marriage records</dd>
    <dd class="c-subfooter-1__stats-value"><%= number_to_human(footer_records_stats(@site_stat, 2)) %> Death records</dd>
    <dd class="c-subfooter-1__stats-value"><%= number_to_human(footer_records_stats(@site_stat, 0)) %> Total records<b></b></dd>
  </dl>
<% end%>
</div>