<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta charset="utf-8"/>
<% if MyopicVicar::Application.config.template_set == 'freereg' %>
    <title><%= title %></title>
    <meta name="keywords" content="genealogy,registers,parish registers,church registers,transcriptions,indexes,baptism,marriage,burial">
    <meta name="description" content="The FreeREG project provides free online access to transcriptions of parish registers and similar resources from England, Scotland and Wales.">
    <meta name="google-site-verification" content="zAYAee-PuoiMAfi5hbUreeLsvTGf4XFNXDxMDB9PcCQ" >

<% elsif MyopicVicar::Application.config.template_set == 'freecen' %>
    <title>FreeCen - UK Census Records (England, Scotland, Wales)</title>
    <meta name="keywords" content="genealogy,census,census records,transcriptions,indexes,family history">
    <meta name="description" content="The FreeCEN project provides free online access to transcriptions of 19th Century UK Censuses.">
    <meta name="google-site-verification" content="zAYAee-PuoiMAfi5hbUreeLsvTGf4XFNXDxMDB9PcCQ" ><!-- do we need an app-specific verification key? -->

<% elsif MyopicVicar::Application.config.template_set == 'freebmd' %>
    <title>FreeBMD - UK Birth, Marriage, and Death Records (England, Scotland, Wales)</title>
    <meta name="keywords" content="genealogy,registers,birth records,birth certificates,transcriptions,indexes,birth,marriage,death">
    <meta name="description" content="The FreeBMD project provides free online access to the GRO indexes of births, marriages and deaths for England and Wales. ">
    <meta name="google-site-verification" content="zAYAee-PuoiMAfi5hbUreeLsvTGf4XFNXDxMDB9PcCQ" ><!-- do we need an app-specific verification key? -->
<% end %>
    <META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
    <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv" %>
    <![endif]-->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="568">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-config" content="none"/>
    <link rel="shortcut icon" href="<%= path_to_image 'favicon.ico' %>" type="image/x-icon" />
    <link rel="apple-touch-icon" href="<%= path_to_image 'png/apple-touch-icon-precomposed.png' %>"><!-- we don't have a separate one, just use precomposed -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= path_to_image 'png/apple-touch-icon-152x152-precomposed.png' %>">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= path_to_image 'png/apple-touch-icon-144x144-precomposed.png' %>">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= path_to_image 'png/apple-touch-icon-120x120-precomposed.png' %>">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= path_to_image 'png/apple-touch-icon-114x114-precomposed.png' %>">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= path_to_image 'png/apple-touch-icon-76x76-precomposed.png' %>">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= path_to_image 'png/apple-touch-icon-72x72-precomposed.png' %>">
    <link rel="apple-touch-icon-precomposed" href="<%= path_to_image 'png/apple-touch-icon-precomposed.png' %>">
    <script type="text/javascript">
      /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
      window.grunticon = function(e) {
        if (e && 3 === e.length) {
          var t = window, n = !(!t.document.createElementNS || !t.document.createElementNS("http://www.w3.org/2000/svg", "svg").createSVGRect || !document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1") || window.opera && -1 === navigator.userAgent.indexOf("Chrome")), o = function(o) {
            var r = t.document.createElement("link"), a = t.document.getElementsByTagName("script")[0];
            r.rel = "stylesheet", r.href = e[o && n ? 0 : o ? 1 : 2], a.parentNode.insertBefore(r, a)
          }, r = new t.Image;
          r.onerror = function() {
            o(!1)
          }, r.onload = function() {
            o(1 === r.width && 1 === r.height)
          }, r.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
        }
      };
      grunticon(["<%= path_to_stylesheet('styles/css/icons.data.svg.css') %>", "<%= path_to_stylesheet('styles/css/icons.data.png.css') %>", "<%= path_to_stylesheet('styles/css/icons.fallback.css') %>"]);
    </script>
    <noscript>
    <link rel="stylesheet" type="text/css" href="<%= path_to_stylesheet('styles/css/icons.fallback.css') %>">
    </noscript>
    
    <!-- Styles -->
    <%= stylesheet_link_tag "styles/scss/palm" %>
    <%= stylesheet_link_tag "styles/scss/lap_and_up", media:"(min-width:571px)" %>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <%= stylesheet_link_tag "styles/scss/lap_and_up" %>
    <![endif]-->
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag "styles/scss/ie" %>
    <![endif]-->
    <%= stylesheet_link_tag "styles/css/freereg_content" %>
    <%= stylesheet_link_tag "styles/css/ladda.min" %>
    <%= stylesheet_link_tag "styles/css/donate_icon" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "jquery.chained.remote.js" %>
    <%= javascript_include_tag "jquery.cookiesDirective.js" %>
    <%= javascript_include_tag "spin.min.js" %>
    <%= javascript_include_tag "ladda.min.js" %>
    <%= javascript_include_tag "freecen_coverage_graph.js" %>
   
    <%= csrf_meta_tags %>
  </head>
  <body ontouchstart class="offcanvas  offcanvas--rev">
    
    <%= render "layouts/main_nav" %>
    
    <div class="offcanvas__primary">
      <%= render "layouts/header" %>
      
      <main  class="site__content  icon__honeycomb--top-right">
      <div class="container">
     
      <% if session[:userid_detail_id].present?%>
         <%= breadcrumbs  :class => "delta  text--teal"  unless controller_name == "refinery" ||
         controller_name == "pages"%>
      <% end%> 
     
        <% if content_for? :sidebar %>
        <div class="grid">
          <div class="grid__item  two-thirds  lap-three-fifths  palm-one-whole">
            <%= yield %>
          </div>
          <div class="grid__item  one-third  lap-two-fifths  palm-one-whole  push-half--top">
            <%= yield :sidebar %>
          </div>
        </div>
        <% else %>
        <%= yield %>
        <% end %>
        <% if  session[:userid_detail_id].present?%>
        <div  style="float:left;">
          <%= form_tag(problem_url, :method=>:get) do %>
          <% problem_button_options.each_pair do |name, value| %>
          <%= hidden_field_tag(name, value)%>
          <% end %>
          <input type="submit" value="Report a Problem"  class = "btn  btn--small"/>
          <% end %>
        </div>
        <% end %>
      </div>
      </main>
      <%= render "layouts/footer" %>
    </div>
    <!-- TODO fix above this -->
    <!-- example offcanvas switching code -->
    
    <script type="text/javascript">
    var el = document.getElementById("trigger-offcanvas");
        var switchOffCanvas = function() {
          classie.toggle(document.body, 'offcanvas--active');
          classie.toggle(el, 'site__header__menu-btn--active');
        }
        if (el.addEventListener) {
          el.addEventListener('click', switchOffCanvas, false);
        } else if (el.attachEvent) {
          el.attachEvent('onclick', switchOffCanvas);
        }
    </script> 

    <script type="text/javascript">
    $(document).ready(function() {
        $.cookiesDirective({
            privacyPolicyUri:  "/cms/about/cookie-policy",
            duration: 120,
            <% if MyopicVicar::Application.config.template_set == 'freecen' %>
              fontColor: '#FFFFFF', // font color for disclosure panel
              backgroundColor: '#4A993E',
              linkColor: '#ffff00',
            <% else %>
              fontColor: '#282828', // font color for disclosure panel
              backgroundColor: '#f7a21c', //background color of disclosure panel
              linkColor: ' #000080'// link color in disclosure panel
            <% end %>
            fontSize: '1.0rem', // font size for disclosure panel
            backgroundOpacity: '99',
        });
    });
    </script>

<% google_analytics_tracking_id = '' %>
<% if MyopicVicar::Application.config.template_set == 'freereg' %>
  <% google_analytics_tracking_id = 'UA-62395250-1' %>

<% elsif MyopicVicar::Application.config.template_set == 'freecen' %>
  <% if MyopicVicar::MongoConfig["website"].eql? "https://freecen2.freecen.org.uk" %>
  <% google_analytics_tracking_id = 'UA-89287207-1' %>
  <% elsif MyopicVicar::MongoConfig["website"].eql? "http://test2.freecen.org.uk"%>
  <%  google_analytics_tracking_id = 'UA-89287207-1' %>
  <% else %>
  <%  google_analytics_tracking_id = "UA-71283391-1" %>
  <% end %>
<% end %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '<%= google_analytics_tracking_id %>', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
