<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8"/>

		<title>FreeReg</title>

		<meta name="keywords" content="">
		<meta name="description" content="">

		<!--[if lt IE 9]>
		<!-- TODO: Transform to asset pipelines -->
		<%= javascript_include_tag "scripts/dist/html5shiv.js" %>
		<![endif]-->

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="568">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<%= favicon_link_tag image_path('favicon.ico')%>
		<!-- TODO: copy icons over -->
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

		<!-- Styles -->
		<%= stylesheet_link_tag "styles/css/palm.min" %>
		<%= stylesheet_link_tag "styles/css/lap_and_up.min" %>

		<!--[if (lt IE 9) & (!IEMobile)]>
		<%= stylesheet_link_tag "styles/css/lap_and_up.min.css" %>
		<![endif]-->

		<!--[if lte IE 7]>
		<%= stylesheet_link_tag "styles/css/ie.min" %>
		<![endif]-->

		<%= stylesheet_link_tag "normalize" %>
		<%= stylesheet_link_tag "layout" %>
		<%= stylesheet_link_tag "freereg" %>
    <%= javascript_include_tag "jquery.min.js" %>
		<%= javascript_include_tag "jquery.chained.remote.js" if controller.controller_name == "search_queries"%>
    <%= javascript_include_tag "application" %>
	</head>
	<body>
		<% if false %>
		<div id="container" >			<h2 id='logo' style="text-align: center"> <%= link_to Refinery::Core.site_name, refinery.root_path %> </h2>
		</div>
		<% end %>

		<%= render "layouts/main_nav" %>

		<div class="offcanvas__primary">
			<%= render "layouts/header" %>

			<main role="main" class="site__content  icon__honeycomb--top-right">
				<div class="container">
					<article>
						<div class="grid">

							<% if content_for? :sidebar %>
								<div class="grid__item  two-thirds  lap-three-fifths  palm-one-whole">
							<% else %>
								<div class="grid__item  one-whole  lap-one-whole  palm-one-whole">
							<% end %>

								<%if controller.controller_name == "freereg_contents"  %>
								<div id="Heading">
									Please use these pages to review information on the data held in the FreeREG database on the various Places, Churches and Registers in England, Scotland and Wales. They do NOT display the data itself; just information about the data, including the years for which data exists in the database and when it was last updated on <%= Rails.application.config.dataset_date %>.
								</div>
								<%end%>

								<section>
									<div id="content">
										<%= yield %>
									</div>
								</section>
							</div>
							<% if content_for? :sidebar %>
							<div class="grid__item  one-third  lap-two-fifths  palm-one-whole  push-half--top">
								<aside class="island  island--light">
									<%= yield :sidebar %>
								</aside>
							</div>
							<% end %>

						</div>
					</article>

					<% if current_refinery_user %>
						<div  style="float:left;">
							<%= form_tag(problem_url, :method=>:get) do %>
							<% problem_button_options.each_pair do |name, value| %>
							<%= hidden_field_tag(name, value)%>
							<% end %>
							<input type="submit" value="Report a Problem" />
							<% end %>
						</div>
					<% end %>

					<%= render "layouts/footer" %>

				</div>
				<!-- TODO fix above this -->

				<!-- example offcanvas switching code -->
				<script src="scripts/dist/classie.js"></script>
				<script charset="utf-8">
					var el = document.getElementById("trigger-offcanvas");

					var switchOffCanvas = function() {
						classie.toggle(document.body, 'offcanvas--active');
						classie.toggle(el, 'site__header__menu-btn--active');
					}
					if (el.addEventListener) {
						el.addEventListener('click', switchOffCanvas, false);
					} else if (el.attachEvent) {
						el.attachEvent('onclick', switchOffCanvas);
					}
				</script>
	</body>
</html>
