<!DOCTYPE html >
<!--[if lt IE 7]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <script src="/prebid_ads.js" type="text/javascript"></script>
    <!-- Publift fuse tag-->
    <script async src=<%= fuse_tags_source %>></script>
    <script>
    // Define dataLayer and the gtag function.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      // Default ad_storage to 'denied'.
      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= "#{gtm_key_value}"%>');
    </script>
      <!-- End Google Tag Manager -->
    <script>
      window.update_analytics = function (preference) {
        if(preference == 'accept') {
            gtag('consent', 'update', {
              'ad_storage': 'granted',
        'analytics_storage': 'granted'
            });
        } else if(preference == 'deny') {
            gtag('consent', 'update', {
              'ad_storage': 'denied',
        'analytics_storage': 'denied'
            });
        }
      };
    </script>
    <% unless GdprCountries::FOLLOWED_COUNTRIES.include?(user_location) %>
      <script>
        (adsbygoogle=window.adsbygoogle||[]).pauseAdRequests=1;
        window.update_personalized_adverts = function (preference) {
          if(preference == 'accept') {
            (adsbygoogle = window.adsbygoogle || []).requestNonPersonalizedAds=0;
          } else if(preference == 'deny') {
            (adsbygoogle = window.adsbygoogle || []).requestNonPersonalizedAds=1;
          }
        };
        (adsbygoogle=window.adsbygoogle||[]).pauseAdRequests=0;
      </script>
    <% end %>
    <% if appname_downcase == 'freereg' %>
      <% unless current_page?('/cms/refinery/login') || current_page?('/cms/home/page-not-found') || current_page?('/cms/refinery/users/login') %>
        <div class="reg_adsense reg_unit reg_page_level_ads">
          <%= banner_header_freereg %>
        </div>
      <% end %>
    <% end %>

    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <% if MyopicVicar::Application.config.template_set == 'freereg' %>
      
      <meta name="keywords" content="genealogy,registers,parish,records,church,transcriptions,indexes,baptism,marriage,burial,death,family,history">
      <meta name="description" content="Search your ancestry with FreeREG. FreeREG provides free online access to transcriptions of birth, marriage and burial records from Church of England and Church of Scotland registers. You can also use FreeREG to discover: non-Conformist records from England, Scotland and Wales, Municipal Cemetary records, Memorial records and documents relating to life events out of country, at sea and in the military.  ">
    <% elsif MyopicVicar::Application.config.template_set == 'freecen' %>
      <meta name="keywords" content="genealogy,census,census records,transcriptions,indexes,family history">
      <meta name="description" content="Use FreeCEN to access 19th Century UK Censuses online and for free. You can use FreeCEN transcriptions to discover your ancestors' occupation, family history and household information.">
    <% elsif MyopicVicar::Application.config.template_set == 'freebmd' %>
      <meta name="keywords" content="genealogy,registers,birth records,birth certificates,transcriptions,indexes,birth,marriage,death">
      <meta name="description" content="FreeBMD provides free on-line access to the GRO indexes of births, marriages and deaths for England and Wales. ">
    <% end %>
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="google-site-verification" content="zAYAee-PuoiMAfi5hbUreeLsvTGf4XFNXDxMDB9PcCQ" />
    <!--[if lt IE 9]>
      <%#= javascript_include_tag "html5shiv" %>
    <![endif]-->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="568">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Windows 8.1 + IE11 and above -->
    <meta name="msapplication-config" content="browserconfig.xml" />

    <!--link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:italic,300,400,600&display=swap" rel="stylesheet"-->

    <!-- Styles -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:italic,300,400,600&display=swap",rel: "stylesheet","content-encoding" => "gzip" %>
    <%= stylesheet_link_tag "styles/scss/palm",rel: "stylesheet","content-encoding" => "gzip" %>
    <%= stylesheet_link_tag 'styles/css/icons.data.svg.css',rel: "stylesheet" %>
    <%= stylesheet_link_tag "styles/css/donate_icon",rel: "stylesheet" %>
    <%= stylesheet_link_tag "styles/css/freereg_content",rel: "stylesheet" %>
    <%= stylesheet_link_tag "styles/scss/freebmd_content",rel: "stylesheet" if appname.downcase == 'freebmd'%>
    <%= stylesheet_link_tag "styles/scss/lap_and_up", media:"(min-width:571px)",rel: "stylesheet" %>
    <%= stylesheet_link_tag "styles/scss/ladda",rel: "stylesheet" %>
    <%= stylesheet_link_tag 'styles/css/icons.data.svg.css' %>
    <%= stylesheet_link_tag "styles/scss/palm" %>
    <%= stylesheet_link_tag "styles/scss/lap_and_up", media:"(min-width:571px)" %>
    <%= stylesheet_link_tag "styles/scss/ladda" %>
    <!--[if (lt IE 9) & (!IEMobile)]>
      <%#= stylesheet_link_tag "styles/css/lap_and_up.min.css" %>
    <![endif]-->
    <!--[if lte IE 7]>
      <%#= stylesheet_link_tag "styles/css/ie.min" %>
    <![endif]-->
    <%#= raise Rails.root.inspect%>
    <%= stylesheet_link_tag "styles/css/donate_icon" %>
    <%= stylesheet_link_tag "styles/css/freereg_content" %>
    <!-- JavaScripts -->
    <%= javascript_include_tag "application"%>
    <%= javascript_include_tag "jquery.min.js"%>
    <%= javascript_include_tag "jquery.validate.min.js"%>
    <%= javascript_include_tag "jquery.chained.remote.js"%>
    <%= javascript_include_tag "cookie_control.js"%>
    <%= javascript_include_tag "jquery.cookiesDirective.js"%>
    <%= javascript_include_tag "spin.min.js"%>
    <%= javascript_include_tag "ladda.min.js"%>
    <%= javascript_include_tag "freecen_coverage_graph.js" %>
    <%= javascript_include_tag "#{appname.downcase}_advert_control.js" %>
    <% if appname.downcase == 'freecen' && GdprCountries::FOLLOWED_COUNTRIES.include?(user_location) %>
      <%= javascript_include_tag "javascripts/freecen_gdpr.js" %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body ontouchstart class="offcanvas  offcanvas--rev">
    <% if appname_downcase == 'freecen' || appname_downcase == 'freebmd'%>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src='https://www.googletagmanager.com/ns.html?id=<%= "#{gtm_key_value}"%>'
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>
    <% if appname_downcase == 'freebmd'%>
      <%= render 'layouts/bmd_main_nav'%>
    <% else %>
      <%= render "layouts/main_nav" %>
    <% end %>
    <div class="offcanvas__primary">
      <%= render "layouts/header" %>
      <main  class="site__content  icon__honeycomb--top-right" id="bmd_site_content">
        <% unless device_type == :mobile%>
        <% end %>
        <div class="container" id='top'>
          <%#= breadcrumbs  :class => "delta  text--magenta" if appname_downcase="freebmd"%>
          <% if session[:userid_detail_id].present?%>
            <%= breadcrumbs  :class => "delta  project-text-color"  unless controller_name == "refinery" ||
             controller_name == "pages"%>
          <% end%>
          <% if content_for? :sidebar %>
            <div class="grid">
              <div class="grid__item  two-thirds  lap-three-fifths  palm-one-whole">
                <%= yield %>
              </div>
              <div class="grid__item  one-third  lap-two-fifths  palm-one-whole  push-half--top">
                <%= yield :sidebar %>
              </div>
            </div>
          <% else %>
            <div class="push--top">
              <%= yield %>
            </div>
          <% end %>
          <div style="float:left;">
            <a href="#top">Top of page</a>
          </div>
          <% if  session[:userid_detail_id].present?%>
            <div  style="float:right;">
              <%= form_tag(problem_url, :method=>:get) do %>
                <% problem_button_options.each_pair do |name, value| %>
                  <%= hidden_field_tag(name, value)%>
                <% end %>
                <input type="submit" value="Report a Problem"  class = "btn  btn--small"/>
              <% end %>
            </div>
          <% end %>
        </div>
      </main>
      <%= render "layouts/footer" %>
    </div>
    <!-- TODO fix above this -->
    <!-- example offcanvas switching code -->
    <script type="text/javascript">
      var el = document.getElementById("trigger-offcanvas");
      var elm = document.getElementById("menu_container");
      var cancel = document.getElementById("trigger-offcanvas-cancel");
      var switchOffCanvas = function() {
        classie.toggle(document.body, 'offcanvas--active');
        classie.toggle(elm, 'navbar_toggle--active');      }
      if (el.addEventListener) {
        el.addEventListener('click', switchOffCanvas, false);
      } else if (el.attachEvent) {
          el.attachEvent('onclick', switchOffCanvas);
      }
      if (cancel.addEventListener) {
        cancel.addEventListener('click', switchOffCanvas, false);
      } else if (cancel.attachEvent) {
          cancel.attachEvent('onclick', switchOffCanvas);
      }

    </script>
    <script type="text/javascript">
      var el = document.getElementById("trigger-offcanvas-old");
      var switchOffCanvas = function() {
        classie.toggle(document.body, 'offcanvas--active');
        classie.toggle(el, 'site__header__menu-btn--active');
      }
      if (el.addEventListener) {
        el.addEventListener('click', switchOffCanvas, false);
      } else if (el.attachEvent) {
          el.attachEvent('onclick', switchOffCanvas);
      }
    </script>
    <script type="text/javascript">
      $('#source_original_form_type').ready(function(){
        if ($('#source_original_form_type :selected').val() === 'other') {
          $('#original_form_label').show()
          $('#source_original_form_name').show()
        } else {
          $('#original_form_label').hide()
          $('#source_original_form_name').hide()
        }
      })
      $('#source_original_form_type').on('change',function(){
        x = document.getElementById('source_original_form_type')
        if (x.options[x.selectedIndex].value === 'other') {
          $('#original_form_label').show()
          $('#source_original_form_name').show()
        } else {
          $('#original_form_label').hide()
          $('#source_original_form_name').hide()
          document.getElementById('source_original_form_name').value = ''
        }
      })
    </script>
    <script>
      function detectAdblock(){
        console.log(window.canRunAds);
        if( window.canRunAds === undefined){
          console.log("Adblock detected")
            $('.donations').show()
            $('.show_advert').hide()
        }
        else {
          console.log(window.canRunAds);
          $('.show_advert').show()
          $('.donations').hide()
          console.log("Adblock not detected");
        }
      }
      window.onload = detectAdblock;
    </script>
  </body>
</html>
