<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>

	<!-- Styles -->

	<link href='http://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "freereg" %>
	<%= javascript_include_tag "application" %>
    
    </head>
    <body>
	<div id="container">

	    <div id="header" class="header">
		<h1>FreeREG</h1>
		<h2>The home of U.K. Parish Register Information</h2>
		<h3><%= @first_name%> these are your management tools</h3>
	    </div>
        
	    <%= yield %>


	</div>
    </body>
</html