<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>

	<!-- Styles -->

	<link href='http://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "freereg_contents" %>
	<%= stylesheet_link_tag "style" %>
	

    </head>
    <body>
	<div id="container">

	    <div id="header" class="header">
		<h1>FreeREG</h1>
		<h2>The home of U.K. Parish Register Information</h2>
	    </div>
        <div>
        Please use these pages to review information on the data held in the FreeREG database on the various Places, Churches and Registers in England, Scotland and Wales. They do NOT display the data itself; just information about the data, including the years for which data exists in the database and when it was last updated on <%= Rails.application.config.dataset_date %>. 
        </div>

	    <%= yield %>


	</div>
    </body>
</html>
