<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>

	<!-- Styles -->

	<link href='http://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "freereg_contents" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "application" if controller.controller_name == "master_place_names" && controller.action_name == "new" %>
    <%= javascript_include_tag "application" %>
    </head>
    <body>
	<div id="container">

	    <div id="header" class="header">
		<h1>FreeREG</h1>
		<h2>The home of U.K. Parish Register Information</h2>
	    </div>
        <div>
        These are the coordinator's management pages for the Master Place Name (MPN) collection (or dataset). The MPN contains location information on all PLACES currently and <b>potentially</b> used in FreeREG2. It is used by the editing sytems to check the validity of place names and to assign a physical location to a place so that FreeREG2 can perform a search of those places within a specified distance of the starting location.   
        </div>
	    <%= yield %>


	</div>
    </body>
</html