<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>

	<!-- Styles -->

	<link href='http://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "places" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "application" if controller.controller_name == "places" && controller.action_name == "new" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    </head>
    <body>
	<div id="container">

	    <div id="header" class="header">
		<h1>FreeREG</h1>
		<h2>The home of U.K. Parish Register Information</h2>
		
	    </div>
	    <div> These are the coordinators aministrative tools to manage the content of the data for which they are responsible. The data displayed is based on the files when they were last updated on <%= Rails.application.config.dataset_date %>. 
</div>

	    <%= yield %>


	</div>
    </body>
</html>
