<!DOCTYPE html>
<html>
    <head>
	<title></title>
	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "search_records" %>
    </head>
    <body>
	<div id="header">
	    This is the header
	</div>
	<div id="container">
	    <div id="nav">
		<ul>
		    <li><%= link_to "New Search", new_search_query_path %></li>
		    <li><%= link_to "Back to results", search_query_path(params[:search_id]) %></li>
		</ul>
	    </div>
	    <div id="content">
		<%= yield %>
	    </div>
	</div>
    </body>
</html>
