<!DOCTYPE html>
<!-- saved from url=(0073)http://mvmerge.aspengrovefarm.com/search_queries/51428bbe8ebe6108c0000056 -->
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>

	<!-- Styles -->

	<link href='http://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "search_queries" %>
	<%= stylesheet_link_tag "style" %>

    </head>
    <body>
	<div id="container">

	    <div id="header" class="header">
		<h1>FreeREG</h1>
		<h2>The home of U.K. Parish Register Information</h2>
	    </div>

	    <div id="nav">
		<ul>
		    <li><%= link_to "New Search", new_search_query_path %></li>
		    <li><%= link_to "Back to results", :back %></li>
		</ul>
	    </div>

	    <%= yield %>
	</div>
    </body>
</html>
