<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	<!-- Styles -->
	<link href='http://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "search_records" %>
	<%= stylesheet_link_tag "style" %>
    </head>
    <body>
	<div id="container">

	    <div id="header" class="header">
		<h1>FreeREG</h1>
		<h2>The home of U.K. Parish Register Information</h2>
	    </div>

	    <div id="nav">
		<ul>
		    <li><%= link_to "New Search", new_search_query_path(:search_id => params[:search_id]) %></li>
		    <li><%= link_to "Back to results", search_query_path(params[:search_id], :page_number => @page_number) %></li>
		</ul>
	    </div>

	    <div id="content">
			<%= yield %>
	    </div>


	</div>
    </body>
</html>

